[2021-06-24 16:00] zhangjun commented on #6335
支持window上编译，参见[paddle-lite windows源码编译](https://paddle-lite.readthedocs.io/zh/latest/source_compile/compile_windows.html)。

目前暂不支持vulkan。

[2021-06-25 02:52] #6334 closed, assigned to jiweibo

[2021-06-30 03:23] scutsq opened #6375 "release/v2.9在arm编译失败的问题"
[ 64%] Built target all_kernel_faked_cc
Scanning dependencies of target opt_base
[ 64%] Building CXX object lite/api/CMakeFiles/opt_base.dir/opt_base.cc.o
aarch64-linux-gnu-g++: internal compiler error: Killed (program cc1plus)
Please submit a full bug report,
with preprocessed source if appropriate.
See <file:///usr/share/doc/gcc-5/README.Bugs> for instructions.
lite/api/CMakeFiles/opt_base.dir/b

[2021-06-30 03:30] zhupengyang commented on #6375
- 具体是什么环境呢？（机器，系统，gcc版本等）
- 编译脚本/命令是？
- 请将完整的编译log保存到文件后，上传一份供我们分析

[2021-06-30 03:41] scutsq commented on #6375
root@orangepi3:~# cat /proc/version
Linux version 4.9.118+ (root@test) (gcc version 4.9.3 20150113 (prerelease) (Linaro GCC 4.9-2015.01-3) ) #28 SMP PREEMPT Mon Dec 2 18:11:57 CST 2019
root@orangepi3:~# uname -a
Linux orangepi3 4.9.118+ #28 SMP PREEMPT Mon Dec 2 18:11:57 CST 2019 aarch64 aarch64 aarch64 GNU/Linux
root@orangepi3:~# uname -r
4.9.118+
root@orangepi3:~# lsb_release -a
No LSB modules a

[2021-06-30 05:45] zhupengyang commented on #6375
- 编译前设置c/c++编译器路径
[code]

[2021-06-30 10:33] scutsq commented on #6375
我尝试加了这两个环境变量之后重新编译仍然没有改善，还是在同样的地方同样的报错

[2021-06-30 10:42] zhupengyang commented on #6375
更新gcc/g++到8.2版本试试？

[2021-07-01 02:04] scutsq commented on #6375
在更新gcc/g++到8.2版本之后仍然在同样的地方失败

[2021-07-01 02:06] zhupengyang commented on #6375
报错是相同的么

[2021-07-01 02:08] scutsq commented on #6375
对的
[ 64%] Building CXX object lite/api/CMakeFiles/opt_base.dir/opt_base.cc.o
g++: fatal error: Killed signal terminated program cc1plus
compilation terminated.
lite/api/CMakeFiles/opt_base.dir/build.make:62: recipe for target 'lite/api/CMakeFiles/opt_base.dir/opt_base.cc.o' failed
make[3]: *** [lite/api/CMakeFiles/opt_base.dir/opt_base.cc.o] Error 1
CMakeFiles/Makefile2:38850: recipe for target 'l

[2021-07-01 02:10] scutsq commented on #6375
编译到相同的进度报错，但是错误是不同的

[2021-07-01 02:13] zhupengyang commented on #6375
设备性能可能比较低，请通过```export LITE_BUILD_THREADS=1```设置单线程编译

[2021-07-01 02:17] scutsq commented on #6375
之前在编译脚本lite/tools/build_linux.sh 里面已经设置
readonly NUM_PROC=1

[2021-07-01 02:22] Reatris commented on #6077
@zhupengyang 现在支持吗，我试了试还不行。

[2021-07-01 06:02] Linapoo opened #6392 "Paddle-Lite 2.8和2.9 Opt后的量化版FasterRcnn推理结果时有时无"
连续进行10次初始化并推理同一张图片，未opt的每次都能获得结果，但opt后的推理结果时有时无，用2.8和2.9测试都是如此

opt后的推理结果大小：
![fasterrcnn量化版opt后的结果](https://user-images.githubusercontent.com/21168729/124073038-295db280-da74-11eb-8ece-47a2109bbd1a.png)

未opt的推理结果大小
![fasterrcnn量化版未opt的结果](https://user-images.githubusercontent.com/21168729/124073018-2236a480-da74-11eb-9fbf-029a18c7a517.png)

模型文件[下载链接](https://ecloud.baidu.com?t=b6f420acb8f52902e

[2021-07-02 02:15] juncaipeng commented on #6392
@Linapoo  好的，我们定位一下这个模型的问题。

[2021-07-02 03:43] xhua167 opened #6396 "按照官方文档步骤无法编译出支持Win下x86的Paddle-Lite"
本机系统Win10
python版本3.7.1（64位）
CAMKE版本3.15
VS 2015 update 3

目标编译支持Windows x86的PaddleLite，每一步都和官方文档一样，最后报错为：

“D:\Paddle-Lite\build.lite.x86\lite\publish_inference.vcxproj”(默认目标) (1) ->
       “D:\Paddle-Lite\build.lite.x86\lite\publish_inference_python_lib.vcxproj”(默认目标) (3) ->
       “D:\Paddle-Lite\build.lite.x86\lite\copy_lite_pybind.vcxproj”(默认目标) (6) ->
       “D:\Paddle-Lite\build.lite.x86\li

[2021-07-02 03:59] xhua167 commented on #6396
最后编译的指令是：lite\tools\build_windows.bat build_x86 without_avx

[2021-07-02 06:02] xhua167 commented on #4165
请问您有paddle inference在WIN32上部署的教程吗？

[2021-07-02 09:57] steinsgate97122 commented on #6375
可能是内存不足，尝试开启一下交换空间试试

[2021-07-03 14:44] FeiMa-REC opened #6406 "使用PaddleDetection训练的模型通过Opt转化之后在树莓派上部署报错（怀疑是版本问题）"
在Aistudio上使用PaddleDetection训练模型，之后安装2.9版本的Paddle-Lite并使用Opt工具转化模型格式为.nb。

之后在树莓派上编译Paddle-Lite（版本为develop），

编译命令为：
[code]

编译完成后，下载Paddle-Lite-Demo-master

之后在run.sh中修改模型路径，同时使用编译后的目录文件Paddle-Lite/build.lite.armlinux.armv7hf.gcc/inference_lite_lib.armlinux.armv7hf/cxx替换了Paddle-Lite-Demo-master中的include、lib，也更改了label保持与自己训练时的label一致，最后执行run.sh遇到报错如下：

![图片](https://user-images.githubusercontent.co

[2021-07-03 14:47] FeiMa-REC commented on #6406
谢谢~

[2021-07-05 05:22] zhangjun commented on #6396
@xhua167 对应python也需要安装64位。如果不需要python预测库，添加```without_python```参数

[2021-07-05 07:14] BillDior commented on #6406
你好，的确是需要加上build_extra=ON才能支持exp这个算子的（在你使用的build.sh里是--build_extra这个参数，在其他我们提供的编译脚本里可能是--with_extra，这部分我们后面会统一起来）；另外的，你使用的opt工具是版本是2.9的，但是在树莓派部署使用的是develop的Paddle-Lite，这两者不一致可能会导致一些问题，最好使用同样的版本～

[2021-07-05 07:28] FeiMa-REC commented on #6406
@BillDior  你好~，我更换了预测库文件，下载的官方提供的：inference_lite_lib.armlinux.armv7hf.gcc.with_extra.with_cv.tar.gz
此时再执行run.sh算子问题已经解决，但是报推理错误，查看了以前的issue有一个相同报错为下：https://github.com/PaddlePaddle/Paddle-Lite/issues/6240
![图片](https://user-images.githubusercontent.com/62004245/124433563-78258800-dda5-11eb-8517-f47abf1fad2b.png)

按道理来说，我是直接使用的PaddleDetection中的ssd训练，只更换了数据集而已，前处理和后处理都没有动，为什么会出现这个错误呢？
这里是我的模型训练以及转化过

[2021-07-05 08:49] BillDior commented on #6406
我在项目里没有找到转nb之前的paddle模型，可以给我提供一份我再看看，看错误提示的话比较像是输入的shape和模型训练时的shape没有匹配上

[2021-07-05 09:21] FeiMa-REC commented on #6406
@BillDior
真的麻烦你了，刚刚我更新了项目版本，现在在work目录下分别保存了训练完模型以及导出的infer模型以及最后的.nb模型，你应该可以看到。
![图片](https://user-images.githubusercontent.com/62004245/124448675-49171280-ddb5-11eb-95e1-1488c620b817.png)
有一个发现，在使用opt转化的时候发现了一下警告，不知道是否有影响：
![图片](https://user-images.githubusercontent.com/62004245/124448655-44eaf500-ddb5-11eb-90b4-7d37d7b7eaae.png)

[2021-07-05 09:40] BillDior commented on #6406
![image](https://user-images.githubusercontent.com/41277577/124450800-5a611e80-ddb7-11eb-9ef0-b6095cc2b495.png)
paddle-detection中的ssd模型，输入是这个格式的

然后你使用的demo里
![image](https://user-images.githubusercontent.com/41277577/124450921-79f84700-ddb7-11eb-8420-260bd1a515f9.png)
其实只提供了第一个输入，而且本应是im_shape的地方变成了图片，所以出现了im_dim.size()不匹配的错误，解决方法也很简单，把predictor->GetInput(0)对应tensor改为shape为{1,2}数据为{300,300}的tenso

[2021-07-05 14:48] gripdestiny opened #6410 "benchmark测试其他模型怎么将每一层的参数保存"
你好，
我的模型是pytorch训练的，导出成onnx，用x2paddle转模型，还要什么步骤才能把每一层参数保存出来

[2021-07-05 15:39] FeiMa-REC commented on #6406
@BillDior 非常谢谢你的指导，我明天去试一下，有任何问题我再向你请教：）

[2021-07-06 05:48] CheQiXiao opened #6414 "请问在识别图片时,怎么把图片转成一维数组？数据结构是什么样的？使用paddle inference"
在使用c++ 学习目标识别时,用opencv拿到图片后，怎么把一张图片转成一维float类型数组？数据结构是什么样的？为啥我在官网上居然找不到相关的信息？
https://ai.baidu.com/forum/topic/show/989193

[2021-07-06 07:23] FeiMa-REC commented on #6406
@BillDior 因为我没有C++的相关基础，改动了几次有一些问题，能不能请您帮我改一下，然后我对照着学习。

[2021-07-07 07:43] zhangjun commented on #6414
@CheQiXiao  会涉及到一些opencv预处理。试试这个满足需求吗 https://gist.github.com/zhangjun/3873ecb8a4b3e6782731eaf4f556c42f

[2021-07-07 08:45] guoxixiao opened #6425 "模型转瑞芯微rknpu报错"
模型转瑞芯微rknpu报错
通过paddlex训练的检测模型，用的yolo3 mobilenetv1，用2.8rc的opt转换工具，转成arm的可以，但是转成rknpu的报错
报错命令：./opt_linux --model_file=model --param_file=params --optimize_out_type=naive_buffer --optimize_out=./model --valid_targets=rknpu,arm
第一个报错信息：Skip lite_conv_bn_fuse_pass because the target or kernel does not match.
最后一个报错信息：op_with_same_input_output_scale_pass.cc:44 CollectInputOutputScales] Check failed: o

[2021-07-07 08:47] guoxixiao commented on #6425
opt是从这里下载的：
https://github.com/PaddlePaddle/Paddle-Lite/releases/tag/v2.8-rc

[2021-07-07 08:51] zhoumenghan opened #6426 "paddleGAN中的fom模型转paddleLite报错"
您好，我在利用paddle_lite_opt --model_file=./gen_full.pdmodel --param_file=./gen_full.pdiparams --valid_targets=x86 --optimize_out=fom_opt的时候，报错如下：
[code]
请问这三个op是没有被支持吗，有什么办法可以解决呢？

我将模型文件放在了下面的链接里：
链接：https://pan.baidu.com/s/1S_aGL6_wvNVlspxRwXMjdQ
提取码：o1n0

[2021-07-07 09:59] zhangjun commented on #6426
您好，这3个op暂不支持，我们后续会安排人跟进支持。

[2021-07-07 11:03] hong19860320 commented on #6425
第一个只是warning，第二个代表你的模型不是全量化模型（rk只支持全量化模型），建议参考https://paddle-lite.readthedocs.io/zh/latest/demo_guides/rockchip_npu.html 的量化步骤对模型进行量化
![image](https://user-images.githubusercontent.com/9973393/124748621-edd05600-df55-11eb-8451-58c53a504cea.png)
目前我们还未验证过量化后的yolo模型的支持程度。

[2021-07-08 02:50] guoxixiao commented on #6425
![image](https://user-images.githubusercontent.com/50647902/124854352-c753fe80-dfd9-11eb-978a-aeae1840940f.png)
我用paddlex训练出来的combined形式量化模型，还是一样的提示
paddlex 训练出来的量化模型是不是不支持？还是说支持，但是只支持非combined形式？
另外怎么生成非combined形式？

[2021-07-08 03:40] BillDior commented on #6406
![image](https://user-images.githubusercontent.com/41277577/124858713-2701d800-dfe1-11eb-8b22-395e51448bbd.png)
参考这样吧，把input_height和input_width改为你的输入的宽高，然后图片里的input_data对应数据和原先demo里的一样就行

[2021-07-08 03:45] BillDior commented on #6406
![image](https://user-images.githubusercontent.com/41277577/124859192-0423f380-dfe2-11eb-91da-d90e8284f91c.png)
参考这样吧，把input_height和input_width改为你的输入的宽高，然后图片里的input_data对应数据和原先demo里的一样就行

[2021-07-08 04:40] zhouping828 opened #6429 "Unsupport 'lrn' op when converting model for x86 target"
**System information**
- docker version: hub.baidubce.com/paddlepaddle/paddle:latest-dev
- Paddle Lite version: release/v2.9
- x2paddle version: 1.2.3

**To Reproduce**
- 1. Download GoogleNet model: https://github.com/BVLC/caffe/tree/master/models/bvlc_googlenet
- 2. Compile Paddle Lite and use opt command to convert model after x2paddle
opt --model_dir=./pd_model/inference_model --optimize_out=g

[2021-07-09 03:17] yank666 opened #6439 "Error: undefined reference to CreatePaddlePredictor for paddle-lite of x86 target so"
下载的release 库 报错
 error: undefined reference to 'std::__ndk1::shared_ptr<paddle::lite_api::PaddlePredictor> paddle::lite_api::CreatePaddlePredictor<paddle::lite_api::CxxConfig>(paddle::lite_api::CxxConfig const&)'

![image](https://user-images.githubusercontent.com/79586188/125018188-2d5a8780-e0a7-11eb-8338-926a587dedf7.png)
![image](https://user-images.githubusercontent.com/79586188/125018209-3ba8

[2021-07-13 03:26] hlguo opened #6476 "2.9版本的opt工具将inference_model转化为naive_buffer模型加载时出错 ，2.6版本的是正常的。"
App初始化加载模型时报错：opt
A/Paddle-Lite: [F  7/13 11:18:50.588 /island/Paddle-Lite/lite/core/program.cc RuntimeProgram:219] Check failed: op:
    Error: This model is not supported, because operator 'feed' is not supported by Paddle-Lite.

以前用2.6版本的opt工具转换naive_buffer模型App可以正常加载，但是为了支持安卓4.4的设备不得不将opt工具及Paddle-Lite升级为2.9版本。

[2021-07-13 06:27] hlguo commented on #6476
![image](https://user-images.githubusercontent.com/10663799/125401892-52703280-e3e6-11eb-9c9a-5099341d7b37.png)
我看了源码，应该是上面一行注释引起的，为什么operator 'feed'不支持了？我们是否需要换operator 重新训练？

[2021-07-13 06:31] hlguo commented on #6476
用的是2.9版本的预编译库inference_lite_lib.android.armv7.clang.c++_static.with_extra.with_cv.tar.gz和inference_lite_lib.android.armv8.clang.c++_static.with_extra.with_cv.tar.gz

[2021-07-13 06:44] BillDior commented on #6476
你好，麻烦提供一下模型？ 提示operator 'feed'不支持往往是其他原因导致的，并不是真的不支持feed这个op

[2021-07-13 06:47] BillDior commented on #6439
请问你下载的是哪个版本和哪个平台的release仓库， 我看标题写着x86 target ， 但是错误提示的undefined reference 是ndk的智能指针，是否存在x86版本的库和android的误用

[2021-07-13 06:48] BillDior commented on #6429
x86版本的lite尚未支持这个op, 我们会在后面的版本中排期支持

[2021-07-14 02:36] hlguo commented on #6476
需要opt转换之前的还是之后的？

[2021-07-14 07:33] yank666 commented on #6439
我后面解决了paddle-lite 不能适应 CxxConfig ， 使用CxxConfig 初始化predictor 会报上面的错误，使用MobileConfig不会

[2021-07-14 09:18] Peng-ss commented on #6252
你好，请问有解决方法了吗

[2021-07-15 04:25] yaoruinupt commented on #6252
你好，我们最后改用了yolov5-onnx-ncnn方案。建议完善demo的细节及部署指导以方便后来人，谢谢。

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年7月14日(星期三) 下午5:18
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle-Lite] 将model.nb及label文件替换成自己的模型文件后app闪退+android studio报错input_names_.size() &gt; offset: The network has 1 inputs, the offset should be less than this

[2021-07-15 11:37] HairongWu opened #6501 "DeepLabV3 mobilenet转换失败"
官方文档说PaddleLite支持DeepLabV3模型https://paddle-lite.readthedocs.io/zh/latest/introduction/support_model_list.html 但自己训练了一个DeepLabV3模型，用opt工具转换失败，报以下错误信息
Error: This model is not supported, because 17 ops are not supported on 'arm'. These unsupported ops are: 'batch_norm_grad, bilinear_interp_grad, conv2d_grad, depthwise_conv2d_grad, elementwise_add_grad, elementwise_div_grad, elementwise_mul_grad, har

[2021-07-19 02:58] chenjiaoAngel commented on #6476
opt 转换之前的模型，单独用OPT可以完成模型转换吗？预测库的头文件和SO是否确认同步更新了？

[2021-07-20 09:44] mzxhzhp opened #6522 "PaddleLite-Demo使用rknpu在RV1109上运行报错：4801 RKNPU Build(79): Build graph fail"
**使用PaddleLite-linux-demo_v2_9_0的image_classification_demo和mobilenet_v1_int8_224_for_rockchip_npu_fluid，在RV1109设备上运行报错。**
【运行命令：./image_classification_demo ./mobilenet_v1_int8_224_for_rockchip_npu_fluid  0  ./synset_words.txt  ./tabby_cat.raw】

报错日志如下：

D [compute_node:349]Instance node[18] "CONV_RELU" ...
D [compute_node:349]Instance node[19] "CONV2D" ...
D [compute_node:349]Instance node[20] "RE

[2021-07-20 12:56] 3050311118 opened #6523 "有没测过armbian上跑的，电视盒子上的linux系统"
电视盒子性能都慢强的

[2021-07-21 07:25] chancezeus opened #6527 "Missing rnn implementation on x86 and OpenCL"
While working on a desktop application in C++ I'm running into the issue that there is no support for the ```rnn``` kernel on x86 and OpenCL. Since this application will eventually run on an embedded (Intel) platform without NVidia (thus no CUDA) it'd be very useful if this kernel was also supported on these platforms by PaddleLite.

In line with this observation, ARM might also be a target platfo

[2021-07-23 06:44] panlc2004 commented on #6406
@BillDior 请问如何查看模型的输入和输出，你楼上用的能显示模型输入输出的工具是什么呢？我也遇到了同样的问题，想看一下我的模型输入是什么样子的。谢谢！

[2021-07-23 06:48] FeiMa-REC commented on #6406
Aistudio上保存训练模型文件后使用VisualDL进行模型结构可视化就行

[2021-07-23 06:48] #6406 closed, assigned to cryoco

[2021-07-23 08:22] ChaoII opened #6552 "paddlelite 版本问题"
当前paddlelite仅支持python3.7及以下python版本，是否可以增加发布python3.8及python3.9的包

[2021-07-23 09:32] BillDior commented on #6406
除了VisualDL，也可以用netron

[2021-07-23 10:22] panlc2004 commented on #6406
@YuBCS-Ma @BillDior 可以了，原来还要再点击“数字1”的图标，才能看到详细的信息，谢谢解答！

[2021-07-24 14:34] ghost opened #6553 "请问android怎么用opencl"
下载了官方的demo和opencl预编译库
貌似看不到set_opencl_tune，set_opencl_binary_path_name等opencl相关的函数

[2021-07-26 01:22] zhupengyang commented on #6553
config.set_opencl_tune
config.set_opencl_binary_path_name

[2021-07-26 01:37] ghost commented on #6553
![image](https://user-images.githubusercontent.com/43072388/126921773-bc468430-468b-4227-9b3d-b4cd6dee4194.png)
你好，我在config里面没找到这两个方法，是在其他地方设置么

[2021-07-26 01:45] zhupengyang commented on #6553
呃，，示例是用的c++ api。
Java api看上去还有点问题。。

[2021-07-26 06:53] panlc2004 commented on #6406
@YuBCS-Ma @BillDior ,我使用PaddleLite在android中加载paddleDetection训练的模型：ppyolo_tiny_650e_coco，但程序运行时报错，请问能帮看下问题么？我应该如何排查？谢谢了！
`
        MobileConfig config = new MobileConfig();
        config.setModelFromFile(realPath + File.separator + "test2.nb");
        config.setThreads(1);
        config.setPowerMode(PowerMode.LITE_POWER_HIGH);

        PaddlePredictor predictor = PaddlePredictor.createPaddlePred

[2021-07-26 06:53] panlc2004 commented on #6406
@YuBCS-Ma @BillDior ,我使用PaddleLite在android中加载paddleDetection训练的模型：ppyolo_tiny_650e_coco，但程序运行时报错，请问能帮看下问题么？我应该如何排查？谢谢了！
`
        MobileConfig config = new MobileConfig();
        config.setModelFromFile(realPath + File.separator + "test2.nb");
        config.setThreads(1);
        config.setPowerMode(PowerMode.LITE_POWER_HIGH);

        PaddlePredictor predictor = PaddlePredictor.createPaddlePred

[2021-07-26 08:43] BillDior commented on #6527
Only the kernel not supported by OpenCL will be run on CPU rather than the entire model doing.

We are working hard to support RNN operator on x86 plaform . Maybe the next version released will satisfy your need :)

[2021-07-26 20:48] kundanSingh11 opened #6561 "Unable to build Paddle Lite build_optimize_tool"
./lite/tools/build.sh build_optimize_tool

c++: internal compiler error: Killed (program cc1plus)
Please submit a full bug report,
with preprocessed source if appropriate.
See <file:///usr/share/doc/gcc-7/README.Bugs> for instructions.
lite/api/CMakeFiles/opt.dir/build.make:62: recipe for target 'lite/api/CMakeFiles/opt.dir/opt.cc.o' failed
make[3]: *** [lite/api/CMakeFiles/opt.dir/opt.cc.o] Error

[2021-07-26 20:55] kundanSingh11 commented on #6561
Sorry it worked need more ram in my VMWare

[2021-07-26 20:55] #6561 closed, assigned to cryoco

[2021-07-28 10:42] xiebaiyuan opened #6579 "[Paddle.js]use web inference . Please refer to https://github.com/PaddlePaddle/Paddle.js"
Use web inference
please refer to https://github.com/PaddlePaddle/Paddle.js

[2021-07-29 03:27] chenjiaoAngel commented on #6392
请问未OPT 是指？ OPT优化后，模型输出结果不对齐是吗？请问是V7/V8，单线程/多线程，测试机型，clang/gcc 呢；模型的输入是不变的吗？每次用同一张输入测试，输出结果都不一样？

[2021-07-29 03:36] #6579 closed, assigned to xiebaiyuan

[2021-07-29 05:59] lmmir opened #6584 "paddlex 2.0 使用deeplabv3 训练出来的 模型 在paddlelite 安卓上 推理无效果。。。"
paddlex 训练的模型好像是不带argmax的，使用paddleseg 工具进行导出， 导出后使用paddle_lite_opt 命令优化成nb 结尾模型，在安卓上预测不出。

[2021-07-29 09:00] SouthWindT opened #6586 "将model.nb及label文件替换成自己的模型文件后app闪退+android studio报错 Unable to open file: /data/user/0/com.baidu.paddle.lite.demo.yolo_detection/cache/models/yolov3_mobilenet_v3_for_cpu/model.nb"

[2021-07-29 09:04] SouthWindT commented on #6586
报错：
A/Paddle-Lite: [F  7/29 16:53:34. 83 ...Paddle-Lite/lite/model_parser/base/io.cc:46 BinaryFileReader] Check failed: file_: Unable to open file: /data/user/0/com.baidu.paddle.lite.demo.yolo_detection/cache/models/yolov3_mobilenet_v3_for_cpu/model.nb
E/libc++abi: terminating with uncaught exception of type paddle::lite::PaddleLiteException: Paddle-Lite C++ Exception:
    [F  7/29 16:53:34. 83 ..

[2021-07-29 12:41] #6586 closed, assigned to Leonardo-Ding

[2021-07-29 13:03] SouthWindT opened #6590 "将lite的yolo_detection_demo里面的modle.nb及label文件替换后android studio报错A/Paddle-Lite: [F 7/29 20:23:51.388 ...k/work1/Paddle-Lite/lite/core/program.cc:269 RuntimeProgram] Check failed: (kernels.size() > 0): 0!>0 Error: This model is not supported, because kernel for 'yolo_box' is not supported by Paddle-Lite."

[2021-07-29 13:43] SouthWindT commented on #6590
您好，我将paddle原模型及opt转换后的nb文件上传至百度网盘
链接：https://pan.baidu.com/s/1faM3DwrILcyFzQ7FtgqiUg
提取码：mqsl
烦请查用！

[2021-07-30 02:12] hong19860320 commented on #6590
接着QQ群的问题，我想确认下，你是不是把demo里面的paddlelite库替换了呢？

[2021-07-30 02:15] Linapoo commented on #6392
未opt前是PaddlePaddle的模型，opt前输出结果都会有，opt后输出结果时有时无。
v8单线程，测试机型有：1）小米8搭载骁龙845；2）荣耀Play4 Pro搭载麒麟990。
gcc，输入不变，每次推理同一张图片。

[2021-07-30 02:18] hong19860320 commented on #6522
嗯，需要确认下你的rk板子的NPUdriver版本哈，版本如果没有问题，还要记住要执行黑色标粗的那个步骤哦。

![image](https://user-images.githubusercontent.com/9973393/127589888-b4c9c1bb-6c9a-4a37-8367-6e32a660c00e.png)

https://paddle-lite.readthedocs.io/zh/latest/demo_guides/rockchip_npu.html

[2021-07-30 02:22] hong19860320 commented on #6425
我们8月底会更新支持ssd-mobilenetv1的rknpu量化demo的哦，yolov3_mobilenetv1我们也在抓紧时间适配中哈

[2021-07-30 06:48] TangYuan-Liu commented on #6590
您好，导致问题的原因是PaddleLite-Demo中的预测库版本与PaddleLite release v2.9 版本opt工具不匹配。我们正在抓紧时间重新匹配版本，并在完成后第一时间知会您。

同时，通过以下方式，您也可以解决问题：
1. 下载release v2.9版本的预测库和opt版本（<https://github.com/PaddlePaddle/Paddle-Lite/releases>），然后重新开始您的工作。
2. 可尝试重新编译opt工具（<https://paddle-lite.readthedocs.io/zh/latest/user_guides/model_optimize_tool.html>），然后重新开始您的工作。

[2021-07-30 07:13] SouthWindT commented on #6590
好的，非常感谢！

[2021-07-30 08:21] JingyuanZhang commented on #6579
nice

[2021-07-30 09:00] Spikexxf opened #6591 "百度的edgeboard是否支持paddlelite2.9?"
编译一直报错

[2021-08-02 07:21] LTtongxue commented on #6046
release的时候，android11就有这个问题，麻烦问下怎么解决的，谢谢。

[2021-08-02 07:34] LTtongxue commented on #6046
release销毁的时候，android11就有这个问题，麻烦问下怎么解决的，谢谢。

[2021-08-02 11:18] lmmir opened #6596 "deeplabv3p 模型 报错。"
output_names_.size() > offset: The network has 1 outputs, the offset should be less than this.
安卓上 输出如上错误。。。

[2021-08-02 12:02] ljdang commented on #6046
@LTtongxue 我这边抓不到有效log，还没有解决，要是你能复现可以再开个issue看官方能不能定位到问题

[2021-08-03 02:54] ghost opened #6598 "动态图ppyolo模型工业部署时报错"
![image](https://user-images.githubusercontent.com/87430649/127950288-234c5849-fc50-4b7e-8bd4-1867d0ea0762.png)
![e1310c4b8ce67a05d6a143244d533a69](https://user-images.githubusercontent.com/87430649/127950315-8e61343e-07b0-41de-bf0b-1ece47221d3c.jpg)

[2021-08-03 04:00] 670133189 opened #6600 "opt 转 x86 失败"
opt 转 x86 失败。arm 则成功。

x86错误提示：`This model is not supported, because 1 ops are not supported on 'x86'. These unsupported ops are: 'nearest_interp_v2'.`

[2021-08-03 08:02] zhenyinlinxy opened #6603 "opt转换后的量化成int8和int16，推理报错"
在测试paddle-lite部署mobilenet_v1到andriod上面时，
opt直接不量化转模型到nb格式以后，推理正常。
但是opt转模型到nb格式时，量化到int8或者int16时，推理会报错。

![screenshot_13](https://user-images.githubusercontent.com/46486470/127980138-e8ba5f1c-d420-4e10-9c96-a8e790d8f620.png)
![screenshot_15](https://user-images.githubusercontent.com/46486470/127980146-e652296f-6fc0-4bf9-9ef1-bea2b9309750.png)

opt转模型的方式如下：
不量化：
![screenshot_17](https://user-images

[2021-08-04 09:41] Reatris commented on #5863
你好我想请教一下，看到的openCL案例都是基于c++的，我那个是用python写的lite推理的可以使用openCL吗
@zhupengyang

[2021-08-05 03:26] Reatris commented on #6375
请问一下我4G的内存，编译的时候内存不足，有什么解决办法吗，或者换低版本（2.8）的可以解决吗，我编译的paddlelite2.9 armv8的

[2021-08-05 03:27] Reatris commented on #6375
@zhupengyang @steinsgate97122

[2021-08-05 10:43] RenyanDiao opened #6625 "opt2.8或2.9优化模型core dump，opt2.7却可以"
paddle：2.1静态图训练产出模型
paddleslim: 2.1动态离线量化
拿liteopt 2.8 2.9都报错 2.7却ok
模型：faster rcnn
![251e0a96633a5a4d499e5d3d99e7406f](https://user-images.githubusercontent.com/52916011/128337069-1a16c393-2ec4-4d7d-ba8e-9ea362b9a197.png)

试了一下，原始paddle：2.1静态图训练产出模型或paddleslim量化训练的模型 两者情况下使用opt优化也报错

需排查模型，如流提供

[2021-08-06 08:10] RenyanDiao commented on #6625
甚至2.7的opt模型转出来也跑不起来

[2021-08-06 08:51] BillDior commented on #6625
收到，我们排查一下

[2021-08-06 08:52] #6553 closed, assigned to zhupengyang

[2021-08-06 08:52] #6335 closed, assigned to jiweibo

[2021-08-06 08:53] #6429 closed, assigned to nobody

[2021-08-06 08:56] huajiang1 opened #6639 "android 端侧部署，按官方文档导入android/demo 后依旧报错报红代码如下"
// Predictor
    protected Predictor predictor = new Predictor();
    // model config
    protected ConfigParser configParser = new ConfigParser();
    // Visualize
    protected Visualize visualize = new Visualize();
    // Predict Mat of Opencv
    protected Mat predictMat;

是不是还要引入sdk 或者什么其他的环境

[2021-08-06 08:58] DannyIsFunny commented on #6625
请问方便提供一下模型吗

[2021-08-06 09:34] huajiang1 commented on #6639
![image](https://user-images.githubusercontent.com/87061633/128490215-a9f43a16-62e8-4e98-9686-bbd202819578.png)
 报红图片如上，
我现在链接手机后，按文档上的流程， 运行该demo ， 报如下错误
Build file '/Users/xupeng/Desktop/android_work/android/demo/app/build.gradle' line: 53

Execution failed for task ':app:downloadAndExtractPaddleXAndroidSdk'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug

[2021-08-06 09:37] huajiang1 commented on #6639
电脑的环境是 mac ， python3.7， 没有安装paddle 相关的资源。   因为文档上没有表示要安装。  后期的模型转换 我是在另外的电脑上 导出的 。

[2021-08-06 09:39] huajiang1 commented on #6639
好像是解压错误

Build file '/Users/xupeng/Desktop/android_work/android/demo/app/build.gradle' line: 53

Execution failed for task ':app:downloadAndExtractPaddleXAndroidSdk'.

[2021-08-06 09:59] chenjiaoAngel commented on #6590
您好，请问问题解决了吗

[2021-08-06 10:03] chenjiaoAngel commented on #6527
X86 now support rnn, you can pull latest develop code, and run

[2021-08-06 10:05] chenjiaoAngel commented on #6523
paddle-lite支持arm-linux 系统，可以跑推理。请问具体的硬件信息是

[2021-08-06 10:09] chenjiaoAngel commented on #6501
这个是训练模型吧？目前paddle-lite 对训练模型支持不全面，辛苦提供下模型，后续排期跟进

[2021-08-06 10:12] #6439 closed

[2021-08-06 10:22] hong19860320 commented on #6310
--optimize_out=model/ssd_mobilenet_v1
看起来像是model目录没有创建，用户自行解决，issue关闭

[2021-08-06 10:22] #6310 closed, assigned to zhangjun

[2021-08-06 10:27] chenjiaoAngel commented on #6603
预测库有更新吗？请问用的是哪个版本呢？
![image](https://user-images.githubusercontent.com/38650344/128497032-80f52cc1-4829-4ed9-b67b-4dc061472a83.png)
这个开关在ARMv8.2 架构才支持，而且编译时需要NDK20. 这个用于FP16 计算，如果不用FP16计算，请关闭
另外，当前不支持FP16+int8 推理

[2021-08-06 10:32] chenjiaoAngel commented on #6600
请问使用的是develop 最新代码？ nearest_interp_v2 这个OP现已支持，PR：https://github.com/PaddlePaddle/Paddle-Lite/pull/6459

[2021-08-06 10:43] zhenyinlinxy commented on #6603
谢谢。我前天已经找到原因了，就是你说的这样，我把fp16那个参数去掉了就可以了

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2021年8月6日(周五) 晚上6:28
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle-Lite] opt转换后的量化成int8和int16，推理报错 (#6603)

预测库有更新吗？请问用的是哪个版本呢？

 这个开关在ARMv8.2 架构才支持，而且编译时需要NDK20. 这个用于FP16 计算，如果不用FP16计算，请关闭
 另外，当前不支持FP16+int8 推理

—
You are receiving this because you authored the thread.
Reply to this

[2021-08-06 10:50] steinsgate97122 commented on #6375
sudo dd if=/dev/zero of=/swapfile bs=64M count=32
sudo mkswap /swapfile
sudo swapon /swapfile
这样再试试，如果还不够的话把count改成64

[2021-08-06 11:12] hong19860320 commented on #6307
之前是因为不同的板子环境存在差异，因此没有直接提供whl包。感谢你的反馈，我们研究下怎么解决这个问题。

[2021-08-06 11:18] hong19860320 commented on #6298
好的，我们复现下这个问题。

[2021-08-06 11:29] hong19860320 commented on #6282
是否能使用带log的paddlelite库，再跑下这个模型，把详细的出错信息发下吧。

[2021-08-06 11:40] hong19860320 commented on #6269
建议在cmake里面添加如下代码后再编译运行
set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -D_GLIBCXX_USE_CXX11_ABI=1")
然后把gcc版本和paddlelite库贴下

PS：我们将在近期提供armlinux的yolov3 demo，方便用户直接使用。

[2021-08-06 11:41] #6298 closed, assigned to chenjiaoAngel

[2021-08-06 11:45] chenjiaoAngel commented on #6603
嗯，那我把卡片关闭了。有问题，随时提issue

[2021-08-06 11:45] #6603 closed, assigned to nobody

[2021-08-06 12:07] hong19860320 commented on #6252
你的yolo模型（猜测是从ONNX转过来）只有1个输入，而demo中采用的是paddle的yolo模型，它要求两个输入，因此，导致该问题的产生。
建议在适配前，将paddle原始模型__model__文件拖入 http://netron.app ，查看模型的输入个数、每个输入的数据类型和shape信息，然后在和demo中的输入个数进行比对，如果存在不同，需要修改demo的代码以便适配。

[2021-08-06 12:07] chenjiaoAngel commented on #6591
develop分支最新代码支持，可自行编译源码进行运行；2.9 release分支暂未提供编译好的产物，预估下个大版本会提供相关产物

[2021-08-06 12:13] #6476 closed, assigned to chenjiaoAngel

[2021-08-06 12:20] chenjiaoAngel commented on #6298
![image](https://user-images.githubusercontent.com/38650344/128509392-631a1d10-a245-4b97-95ce-35d85f0298b0.png)
辛苦开放下模型权限

[2021-08-06 12:25] DannyIsFunny commented on #6552
你好，我们计划下一版本增加对python3.8和python3.9的支持

[2021-08-06 12:27] hong19860320 commented on #6251
是否可以在android demo里面加载测试集图片进行推理，然后统计下精度呢？如果确实存在精度问题，我们在定位一下哈
PS：图像分类在真实场景下的效果确实比较差。

[2021-08-06 12:31] chenjiaoAngel commented on #6298
据用户反馈问题已解决，最新代码已支持

[2021-08-06 12:33] hong19860320 commented on #6240
看样子是yolo模型，缺少第二个输入

[2021-08-06 12:39] hong19860320 commented on #6234
对于NV GPU，建议使用paddleinference
预编译库：https://paddleinference.paddlepaddle.org.cn/user_guides/download_lib.html
使用文档：https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/guides/05_inference_deployment/inference/inference_cn.html

[2021-08-06 12:41] hong19860320 commented on #6223
感谢你的建议，我们内部讨论下哈~

[2021-08-06 12:51] hong19860320 commented on #6219
建议使用最新版PaddleLite库库，看下是否仍然出现同样的问题哦。如果是的话，麻烦把原始的paddle模型和测试图像发给我们，我们内部复现下。

[2021-08-06 12:53] hong19860320 commented on #6218
初步怀疑是模型格式问题，能否提供下你的环境、模型和PaddleLite库的版本呢？

[2021-08-06 13:04] hong19860320 commented on #6207
好的

根据PaddleDetection同学提供的信息，理论上ppyolo-tiny 320性能会比yolo-fastest 320性能要好，而且理论上树莓派cm4 A72性能会比树莓派3b好，建议@chenjiaoAngel安排同学复现下这个问题。

[2021-08-07 03:22] huajiang1 commented on #6639
[demo.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/6948535/demo.zip)

这是我本地的demo 工程 ， 麻烦帮我看一下。 谢谢。

[2021-08-07 06:41] hong19860320 commented on #6639
https://bj.bcebos.com/paddlex/deploy/lite/paddlex_lite_11cbd50e.tar.gz 这个包不是采用gzip压缩的，估计是使用tar 直接打包后改名成tar.gz的，导致android studio在解压它的时候报『Not in GZIP format』这个错误。
目前临时的解决办法是：
步骤1. 自己在命令行自行解压后重新用gzip打包，命令如下：
[code]
步骤2. 在Android studio的菜单，点击【Build】->【Make Project】即可顺利编译成功

[2021-08-07 07:55] FlyingQianMM commented on #6639
https://bj.bcebos.com/paddlex/deploy/lite/paddlex_lite_11cbd50e.tar.gz 这个包已经按上述说明重新使用czvf打包并上传，按照上述说明将已经下载的包自行用gzip打包，或者删除后重新下载。

[2021-08-07 15:29] rico2001 opened #6641 "sfnet使用opt工具转换成nb时提示不支持'reverse'"
你好：
我在使用opt工具将sfnet的模型转换为nb时提示不支持reverse
log如下：
Error: This model is not supported, because 1 ops are not supported on 'arm'. These unsupported ops are: 'reverse'.

请问opt工具是否不支持sfnet转换？

转换命令如下：
./opt --model_dir=./ --valid_targets=arm --optimize_out_type=naive_buffer --optimize_out=./sfnet_opt

[2021-08-09 08:11] Peng-ss commented on #6342
你好，请问你解决了这个问题了吗，我遇到同样的问题了

[2021-08-09 08:37] BananaSuper commented on #6342
还没有

[2021-08-09 09:14] Peng-ss commented on #6406
你好，请问

你好，请问解决方法是改哪个文件？

[2021-08-09 12:23] chancezeus commented on #6527
Thanks for the update, but I still get the following error when running the x86 build "Error: This model is not supported, because kernel for 'rnn' is not supported by Paddle-Lite.".

Perhaps I'm doing something wrong, it fails while loading the English recognizer model of PaddleOCR (en_number_mobile_v2.0_rec_infer, which can be downloaded from https://paddleocr.bj.bcebos.com/dygraph_v2.0/multilin

[2021-08-09 12:32] BillDior commented on #6527
What arguments did you set when compiling the latest Paddle-Lite in develop branch? And did you use the optimize tool (what we call 'opt') to transform the model to naive_buffer which will be the final input of Paddle-Lite?

[2021-08-09 12:41] chancezeus commented on #6527
Build arguments: ```lite/tools/build.sh --build_extra=ON --build_java=OFF --with_mkl=ON --with_exception=ON --build_opencl=ON x86```

I did compile (using same settings as above but with build_optimize_tool instead of x86) and ran it with arguments ```--model_file=./inference.pdmodel --param_file=./inference.pdiparams --optimize_out=./inference_x86 --optimize_out_type=naive_buffer --valid_targets=

[2021-08-09 15:55] FeiMa-REC commented on #6406
@Peng-ss

object_detection_demo.cc

[2021-08-10 00:28] #6223 closed, assigned to nobody

[2021-08-10 01:39] Peng-ss commented on #5531
你好，我尝试在android端运行mask-rcnn的nb模型，出现了错误 Check failed: op_->CheckShape():，请问你有遇到过吗

[2021-08-10 01:39] Peng-ss commented on #6406
好的，谢谢，你有尝试过将nb模型放到android端运行吗，我尝试在android端遇到了同样的错误 Check failed: op_->CheckShape():，但是找不到解决的方法

好的，谢谢，请问你有在android端运行nb模型吗，我尝试运行的时候，出现了同样的错误 Check failed: op_->CheckShape():，但是找不到解决方法

[2021-08-10 02:48] chenjiaoAngel commented on #6207
请问预测库是用的哪个版本呢？V7还是V8 呢？使用的是单线程吧？模型能否提供下呢

[2021-08-11 06:03] ltcs11 opened #6653 "paddle2.0模型 kernel depthwise_conv2d_transpose 不支持"
尝试使用paddle2.1.0版本导出模型

paddle-lite提示：
b'[F  8/ 9 13:51: 8. 24 ...island/Paddle-Lite/lite/core/mir/node.cc:32 picked_kernel] Check failed: !valid_kernels_.empty(): no kernel for depthwise_conv2d_transpose\n'
paddle2.1.0之后nn.conv2dtranspose 会额外针对depthwise情况形成depthwise_conv2d_transpose这个kernel（1.x以前是沿用conv2d_transpose kernel），paddle-lite

模型文件如下
[归档.zip](https://github.com/PaddlePaddle/Paddle-Lite/fi

[2021-08-11 10:48] Huangyidao2006 opened #6662 "内存访问越界导致SIGSEGV，应用崩溃"
1）我用的release v2.9版本，在Android armv7上出现了SIGSEGV，经排查发现在[gemm_prepacked_int8.cc的5373行](https://github.com/PaddlePaddle/Paddle-Lite/blob/306d09d1a519c79457cca698d2100286b10724c4/lite/backends/arm/math/gemm_prepacked_int8.cc#L5373-L5392)处有内存访问越界问题：
[code]

但是我看到最新的develop的代码已经修复了这个越界问题。

2）但在另一个地方仍然存在越界的可能，并且develop分支没有修复。在[gemv_arm_int8.cc的2256行](https://github.com/PaddlePaddle/Paddle-Lite/blob/7c1a447

[2021-08-12 17:48] sunweiliang opened #6677 "合并x2paddle和opt功能的一键脚本问题：fin.is_open(): Cannot open file: saved"
命令：
paddle_lite_opt --model_dir=./saved_fluid/inference_model \
      --valid_targets=arm \
      --optimize_out=opt_model_result

报错：
![image](https://user-images.githubusercontent.com/4755841/129243747-979197c9-d168-424f-bee6-62410552edbd.png)

auto_transform.sh脚本中：
    wget https://paddlelite-data.bj.bcebos.com/model_optimize_tool/opt_mac //我是mac
脚本带的opt版本（opt version:f20e9469）：
![image](https:

[2021-08-15 04:21] zhang0225 opened #6690 "ubuntu下编译opt工具报错"
我尝试了使用paddleocr的android_demo,但是识别效果不是非常完美，所以使用paddleocr 2.0重新标注并训练的模型，已经导出为推理模型（pdiparams，pdmodel），我想使用paddle-lite的opt工具对模型进行转换与优化，使其成为nb模型并替换原android_demo中的模型，但是按照指引在ubuntu上编译opt工具得时候遇到了一些问题，操作过程如下

git clone https://github.com/PaddlePaddle/Paddle-Lite.git
pip install paddlelite==2.9
cd Paddle-Lite
./lite/tools/build.sh build_optimize_tool

遇到的报错信息如下，版本信息：gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~

[2021-08-16 12:38] STUSER001 opened #6701 "树莓派3B 部署"
按照网上的教程做了 但是 我的没有opt  也没有 预测库 是因为 树莓派3B 淘汰了么？？这两个图是 安装后 执行 build.sh 后生成的 没有 网上的 infere 那个预测库
![image](https://user-images.githubusercontent.com/88072901/129564864-8cacbbf8-a894-417f-aafc-2657cf0082b7.png)
![image](https://user-images.githubusercontent.com/88072901/129564900-e938d46d-a768-4b86-8a14-263ab15ef9bc.png)

[2021-08-16 12:40] chancezeus opened #6702 "Locale formatting issues in OpenCL kernels"
There are various calls to ```std::to_string``` inside the "conv_image_compute" and "conv_transpose_image_compute" opencl kernels that are used to generate defines for the kernel, however (as stated in docs for std::to_string) this results in localized strings. While testing the application to be run on a Dutch locale system (which uses ```,``` instead of ```.``` as a decimal separator) this will

[2021-08-16 15:33] chancezeus commented on #6702
I made this quick and dirty patch based on the existing "to_string" implementation inside "lite/utils/string.h" which I duplicated and renamed to "to_c_string" and then added the mentioned ```ss.imbue(std::locale("C"))``` (+ a few flags/precision to ensure that there is actually always a ```.``` in the result, otherwise OpenCL compiler will still fail) call.

After that I have replaced the "std::t

[2021-08-16 16:58] chancezeus commented on #6527
Any clue why it's not working, since I've compiled the same code for one of my arm test boards and it does work there (so it seems less likely an issue with the library calls and more likely an issue within the library itself).

[2021-08-18 03:01] 3050311118 commented on #6523
S905

[2021-08-18 03:06] 3050311118 opened #6711 "ARMLINUX上怎么使用GPU推理，树莓派或者armbian这种"
ARMLINUX上怎么使用GPU推理，树莓派或者armbian这种

[2021-08-18 04:51] STUSER001 opened #6712 "树莓派 下载官方的 ppyolo_tiny 用opt 转换后 可以正常执行 用自己训练出来的 ppyolo_tiny 转换后使用 提示错误"
下图是 用自己训练出来的 ppyolo_tiny 转换后 执行提示的错误
![image](https://user-images.githubusercontent.com/88072901/129838831-9d4e45ca-6bbd-42b9-aa58-ffb37f60a355.png)
下图是用 官方给的 ppyolo_tiny 模型后的结果
![image](https://user-images.githubusercontent.com/88072901/129861391-05deb564-6e40-4626-859a-247212179311.png)

[2021-08-18 05:49] zhupengyang commented on #6711
[文档](https://paddle-lite.readthedocs.io/zh/latest/source_compile/compile_linux.html)中有opencl的说明

[2021-08-18 05:51] zhupengyang commented on #6712
conv仅支持4维或者5维的输入，检查下模型是不是满足要求？

[2021-08-18 05:54] zhupengyang commented on #6701
- 支持的，[参考文档](https://paddle-lite.readthedocs.io/zh/latest/source_compile/compile_linux.html)
- 看上去你的并没有编译成功，有没有编译的日志呢？

[2021-08-18 06:00] zhupengyang commented on #6677
- 建议使用绝对路径
- 确认下，如果模型路径下是只有``模型文件```和``参数文件``，则使用``--model_file``和``--param_file``分别进行指定；如果是多个``参数文件``，则使用``--model_dir``

[2021-08-18 06:03] zhupengyang commented on #6641
- 是的，当前新版本中还没有reverse算子
- 可以使用develop分支编译；或者等待下个版本

[2021-08-18 06:54] 3050311118 commented on #6711
opencl是安卓上才能用的吗？我用的是armlinux也可以？

[2021-08-18 06:56] zhupengyang commented on #6711
可以
![image](https://user-images.githubusercontent.com/50474132/129852042-9abf593e-f831-44aa-88d4-2dc4ca94c7a4.png)

[2021-08-18 07:13] STUSER001 commented on #6712
模型没问题吧 就是按照 官方的 训练出来的 ppyolo_tiny 啊  用官方的 ppyolo_tiny 运行正常 就是 识别有问题
自己训练的 然后 按照教程 导出了模型 然后执行就这样了

[2021-08-18 07:14] STUSER001 commented on #6701
不行呢 还是 不能生成 infer 那个文件

[2021-08-18 07:16] zhupengyang commented on #6712
检查下feed给模型的输入是不是4维的 {n, c, h, w}

[2021-08-18 10:39] youngstu opened #6717 "picodet模型lite测速失败"
[code]

[2021-08-18 11:14] SouthWindT commented on #6590
解决了

[2021-08-18 13:40] Zhang-O opened #6719 "训练过程中loss突然增大，acc突然降为0"
![image](https://user-images.githubusercontent.com/18193972/129908266-15700705-ef3d-4a37-8479-d8766041bbdb.png)

背景： rec模型训练到一半机器死机了，然后resume继续训练，训练了不到3个小时突然出现这种情况

[2021-08-19 02:21] zhupengyang commented on #6719
训练问题请前往 https://github.com/PaddlePaddle/Paddle

[2021-08-19 09:09] #6719 closed, assigned to juncaipeng

[2021-08-20 03:32] rico2001 commented on #6641
好的，谢谢支持，还想请问一下，下个版本大概多久会发布？

[2021-08-20 06:49] BillDior commented on #6712
用netron看一下模型的输入，可能Lite的输入和模型的输入没有对上

[2021-08-20 06:51] BillDior commented on #6662
感谢反馈，我们看一下

[2021-08-20 06:54] BillDior commented on #6690
感谢反馈，我们看一下，如果使用2.9的paddle-lite推理库的话，可以先用release中我们编译好的opt工具

[2021-08-20 07:10] zhang0225 commented on #6690
感谢，我已经用你们的工具转好了

[2021-08-20 08:01] BillDior commented on #6653
请问用的是哪个版本的Paddle-Lite，2.9以后应该都没问题的

[2021-08-20 08:54] STUSER001 commented on #6712
![ppyolo_tiny1](https://user-images.githubusercontent.com/88072901/130205674-63337124-c0d7-4b36-a994-0e1139622666.PNG)
上图是 官方模型 下图是自己训练的
![ppyolo_tiny2](https://user-images.githubusercontent.com/88072901/130205685-d027c252-1dc1-4ae5-901e-4e24396a74e2.PNG)
这个好像是opt转换出了问题 因为版本不一样  还有 模型算子是支持的 用opt 测试过py 下图是 结果  这样的话 应该怎么解决这个问题 是要更新 paddlelite么?  还有 paddlelite 编译 很慢且 常常失败或者 导致 树莓派 卡死 是不是 因为用的 是树莓派3B

[2021-08-20 08:58] BillDior commented on #6712
这个Error目前不影响模型正常转换，你看到官方的模型输入是两个输入，你训练出来的模型是3个输入，如果用同一个部署程序来推理肯定会有问题，参考这个issue https://github.com/PaddlePaddle/Paddle-Lite/issues/6406

[2021-08-22 17:04] Zyq990127 commented on #5699
用tensorflow转换过来的模型输入按照NHWC写

[2021-08-22 17:04] #5699 closed, assigned to Leonardo-Ding

[2021-08-23 03:24] ltcs11 commented on #6653
目前使用的是2.8，这就用2.9尝试一下

[2021-08-23 05:04] mzxhzhp commented on #6425
我用 PaddleDetection 的 ssd_mobilenet_v1_qat.yml 配置文件进行了 量化训练，完成后用 paddle_lite_opt导出，还是会报错。
报错的内容和楼主的一模一样：CollectInputOutputScales] Check failed: op_info->HasInputScale(in_var_name):

paddle_lite_opt 的转换命令如下：
paddle_lite_opt --model_file=./inference_model_v1/sw_ssd_mobilenet_v1_300_120e_voc/model.pdmodel  --param_file=./inference_model_v1/sw_ssd_mobilenet_v1_300_120e_voc/model.pdiparams  --quant_mode

[2021-08-23 10:05] tinggg12345 commented on #6078
在安卓的demo上有同样问题，将[PP-YOLO tiny的量化模型](https://paddledet.bj.bcebos.com/models/ppyolo_tiny_quant.tar)使用：`./opt_linux --model_file=ppyolo_tiny_quant/__model__ --param_file=ppyolo_tiny_quant/__params__ --optimize_out=model`转换成nb格式后替换到[yolo_detection_demo](https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-android-demo/yolo_detection_demo)中**能正常运行**。

但如果是[普通PP-YOLO tiny](https://pad

[2021-08-24 02:59] tinggg12345 opened #6752 "yolo模型运行到PaddlePredictor->Run()时会直接闪退且没有报错"
在安卓的demo上有同样问题，将[PP-YOLO tiny的量化模型](https://paddledet.bj.bcebos.com/models/ppyolo_tiny_quant.tar)使用：`./opt_linux --model_file=ppyolo_tiny_quant/__model__ --param_file=ppyolo_tiny_quant/__params__ --optimize_out=model`转换成nb格式后替换到[yolo_detection_demo](https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-android-demo/yolo_detection_demo)中**能正常运行**。

但如果是[普通PP-YOLO tiny](https://pad

[2021-08-24 04:53] zhangjun commented on #6752
你好，检查下模型输入和lite输入是否能对上

[2021-08-24 05:23] tinggg12345 commented on #6752
[PP-YOLO tiny的量化模型](https://paddledet.bj.bcebos.com/models/ppyolo_tiny_quant.tar)是这个输入，应该和demo原本的输入一样的
![Dingtalk_20210820144522](https://user-images.githubusercontent.com/37566608/130560089-e8e355bf-c34d-47bb-82d6-533a4dbef17c.jpg)

[普通PP-YOLO tiny](https://paddledet.bj.bcebos.com/models/ppyolo_tiny_650e_coco.pdparams)是这个输入，我改的哪里不对吗
![Dingtalk_20210824132117](https://user-images.githubusercontent

[2021-08-26 03:15] HairongWu commented on #6501
转换成预测模型就OK了。谢谢。

[2021-08-26 03:15] #6501 closed, assigned to nobody

[2021-08-26 03:20] HairongWu opened #6767 "PaddleLite升级到2.9.1后模型转换报错，请问是什么原因"
2021-08-26 12:10:47,275-WARNING: If you want to use DDPG in RLNAS, please pip install parl first. Now states: No module named 'parl'
Traceback (most recent call last):
  File "paddle_slim.py", line 1, in <module>
    import paddlex as pdx
  File "C:\Users\wuhairong\PaddleX\paddlex\__init__.py", line 20, in <module>
    from . import cv
  File "C:\Users\wuhairong\PaddleX\paddlex\cv\__init__.py", li

[2021-08-26 03:31] limaopeng1 opened #6769 "在rk平台上，使用量化后的mobilenetv3_db模型推理，出现malloc(): corrupted top size错误"
在rk平台上，使用量化后的mobilenetv3_db模型推理，设置线程数为2，能正常运行；设置线程数为4，出现malloc(): corrupted top size错误。

加载模型时，设置线程数为4：
  std::shared_ptr<PaddlePredictor> loadModel(std::string model_file) {
    MobileConfig config;
    config.set_threads(4);
    config.set_model_from_file(model_file);
    std::shared_ptr<PaddlePredictor> predictor =
        CreatePaddlePredictor<MobileConfig>(config);
    return predictor;
  }

[2021-08-27 14:09] Meroke commented on #6309
您好，我也遇到了同样的问题，请问您是怎么解决的？我使用的是树莓派4B，系统是ubuntu18.04server。想将ppyolo的模型放到树莓派上运行，确认了opt和paddle lite版本对应，却仍然无法解决。

[2021-08-29 12:24] teemosauce commented on #6258
CMake Error at CMakeLists.txt:31 (project):
  The CMAKE_CXX_COMPILER:

    arm-linux-gnueabi-g++

  is not a full path and was not found in the PATH.

  Tell CMake where to find the compiler by setting either the environment
  variable "CXX" or the CMake cache entry CMAKE_CXX_COMPILER to the full path
  to the compiler, or to the compiler name if it is in the PATH.

CMake Error at CMakeLists.txt:3

[2021-08-29 12:25] teemosauce commented on #6258
设置完环境变量又报了别的

[2021-08-29 15:13] kasyoukin opened #6791 "【NNAdapter】assign_value 算子value的shape设置错误"
nnadapter的assign_value算子在设置value的shape时设置错误，导致ppyolo模型使用nnadapter_huawei_ascend_npu 预测时出错

[2021-08-30 04:06] ROYZHANG295 opened #6793 "PaddleLite 2.9.1 转换后的 “yolov3_mobilenet_v1”模型在android设备上crash"
- PaddleLite 版本 == 2.9.1
- 使用PaddleDetection 训练出的 “yolov3_mobilenet_v1”（模型验证都OK）
- 在android设备上报 “This model is not supported, because kernel for 'calib' is not supported by Paddle-Lite”
- 查看PaddleLite 算子列表，“calib"在基础算子列表中

请问如何解决，感谢！

![image](https://user-images.githubusercontent.com/51350407/131283445-18188d3c-0460-4957-acaf-96c551c969fc.png)

[2021-08-30 04:10] ROYZHANG295 opened #6794 "PaddleLite 2.9.1 “ssd_mobilenet_v1” 在android设备上crash"
错误信息：
2021-08-30 11:56:12.070 24091-24129/com.baidu.paddle.lite.demo.ssd_detection A/Paddle-Lite: [F  8/30 11:56:12. 70 /island/Paddle-Lite/lite/core/program.cc Run:619] Check failed: op_->CheckShape():
2021-08-30 11:56:12.070 24091-24129/com.baidu.paddle.lite.demo.ssd_detection A/libc: Fatal signal 6 (SIGABRT), code -1 (SI_QUEUE) in tid 24129 (GLThread 81448), pid 24091 (o.ssd_detection)

![image

[2021-08-30 07:10] umbraclet16 commented on #4587
请问不支持-m64选项就不能编译了吗？
能不能关掉选项？
我的compiler是c++(Ubuntu/Linaro 7.4.0-1ubuntu1~18.04.1)7.4.0

[2021-08-30 07:14] Reatris commented on #3884
树莓派4B也要编译CUDA吗，有NV gpu？@DrRyanHuang

[2021-08-30 07:14] Reatris commented on #3884
树莓派4B也要编译CUDA吗，有NV gpu？

[2021-08-30 08:55] umbraclet16 opened #6799 "ELF load command alignment not page-aligned"
在arm环境带python选项编译paddlelite，编译成功，安装生成的whl后，import paddellite.lite报错：
xxx/lite.so: ELF load command alignment not page-aligned

环境：
linux kylin 4.4.131-20200704.kylin.server-generic
aarch64
OS: Kylin 4.0.2-SP4
python3.7.5

[2021-08-30 13:00] yingshengBD commented on #6769
您好 请提供出现该现象的模型，我们复现一下

[2021-08-31 01:23] limaopeng1 commented on #6769
您好，感谢您的回复，模型在附件里，期待能解决这个问题，感谢！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle-Lite"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年8月30日(星期一) 晚上9:00
***@***.***&gt;;
***@***.*****

[2021-08-31 04:52] Seanseattle commented on #6653
我用的2.9.1版本的，还是会出现这个问题呢。...island/Paddle-Lite/lite/core/mir/node.cc:32 picked_kernel] Check failed: !valid_kernels_.empty(): no kernel for depthwise_conv2d_transpose

[2021-08-31 05:08] #6791 closed, assigned to DannyIsFunny

[2021-08-31 08:57] juncaipeng commented on #6410
目前没有提供这样的接口给外部用户

[2021-08-31 08:57] #6410 closed, assigned to nobody

[2021-08-31 11:13] umbraclet16 commented on #6077
v2.9也不行吧

[2021-09-01 08:21] chenjiaoAngel commented on #6793
确认OPT版本和预测库版本是否一致，看起来可能是预测库版本不一致或预测库不对，需要重新编译或下载

[2021-09-01 08:23] chenjiaoAngel commented on #6794
错误信息显示check_shape 不对。请check下输入shape和输入数据类型设置是否正确

[2021-09-01 08:25] chenjiaoAngel commented on #6799
看起来像是环境问题，辛苦参考博客：https://blog.csdn.net/redmoons/article/details/106244243看是否解决

[2021-09-01 08:34] fcqfcq opened #6823 "ModuleNotFoundError: No module named 'packaging'"
onnx == <1.6,1.9>
x2paddle==1.3.1
paddlepaddle-gpu=2.1.2
paddlelite=2.9.1

x2paddle --version
W0901 16:35:35.253597 1516957 init.cc:141] Compiled with WITH_GPU, but no GPU found in runtime.
/anaconda/envs/pd/lib/python3.7/site-packages/paddle/fluid/framework.py:301: UserWarning: You are using GPU version Paddle, but your CUDA device is not set properly. CPU device will be used by default.
  "You a

[2021-09-01 08:51] #6823 closed, assigned to DannyIsFunny, shangzhizhou

[2021-09-01 11:17] hong19860320 commented on #5263
已经支持ssdlite-mobilenetv1-relu全量化模型，文档待合入https://github.com/PaddlePaddle/Paddle-Lite/pull/6755

[2021-09-01 12:14] bigweini commented on #6522
librknn_runtime version  的版本必须是 1.5.1 吗  我的板子1.6.0 运行npu版本直接 段错误 D [compute_node:349]Instance node[41] "FCL_RELU" ...
D [compute_node:349]Instance node[42] "RESHAPE" ...
D [compute_node:349]Instance node[43] "SOFTMAX" ...
D [rknn_internal_compute_node:602]Compute node uid[44] sub_uid[1] op[SOFTMAX_INTERNAL]
Segmentation fault (core dumped)

…………

[2021-09-01 12:26] bigweini opened #6827 "Paddle lite 运行 RV1109 rknpu版本报错"
参考 https://paddle-lite-pjc.readthedocs.io/zh/latest/demo_guides/rknpu.html

参考上面教程
paddle lite 运行在 RV1109  cpu 版本 正常
paddle lite 运行在 RV1109  npu版本 报错：

[compute_node:349]Instance node[2] "RELU" ...
D [compute_node:349]Instance node[3] "CONV_RELU" ...
D [compute_node:349]Instance node[4] "CONV2D" ...
D [compute_node:349]Instance node[5] "RELU" ...
D [compute_node:349]Instance node[6] "CONV_RELU" ..

[2021-09-02 01:24] #6827 closed, assigned to DannyIsFunny

[2021-09-02 03:04] chenjiaoAngel commented on #6282
<img width="448" alt="image" src="https://user-images.githubusercontent.com/38650344/131774960-202cb538-d19f-4ead-8d93-715a2037a7dd.png">
这个获取输入数据指针地方，需要标明数据类型
auto *data0 = input_tensor0->mutable_data<float*>();

然后，辛苦打印Log 信息，确认是挂在哪个函数

[2021-09-02 08:46] bigweini opened #6832 "有没有计划支持 瑞芯微 rk3568 android 版本的 npu"
有没有计划支持 瑞芯微  rk3568  android 版本的 npu

[2021-09-03 03:40] bigweini commented on #6522
哥们，这个问题你解决了吗

[2021-09-03 03:52] mzxhzhp commented on #6522
没解决呢，搞其他事情去了。等官方出例程吧

[2021-09-03 05:03] hong19860320 commented on #6832
目前rk没有提供相关的技术支持，因此，暂时没有支持计划。但我们正在进行amlogic s905d3 android的支持，可以关注下amlogic HAL代码的变化 https://github.com/PaddlePaddle/Paddle-Lite/tree/develop/lite/backends/nnadapter/nnadapter/driver/amlogic_npu

[2021-09-03 05:05] hong19860320 commented on #6769
不好意思，没有看到附件哦

[2021-09-03 06:00] umbraclet16 commented on #6799
能提供下官方编译环境的patchelf版本吗

[2021-09-03 06:40] limaopeng1 commented on #6769
hi，这是我用百度网盘分享的内容~复制这段内容打开「百度网盘」APP即可获取 
链接:https://pan.baidu.com/s/1Ar6ev6VUYV9pXPFKO7udVw 
提取码:19es

[2021-09-03 08:47] bigweini opened #6843 "PaddleLite 参考 瑞芯微NPU部署 环境一样，运行报错。"
PaddleLite 参考 瑞芯微NPU部署  环境一样，运行报错
参考网址 https://paddle-lite.readthedocs.io/zh/latest/demo_guides/rockchip_npu.html

报错信息：
[I  9/ 3 16:25:28. 83 ...est/Paddle-Lite/lite/core/device_info.cc:1098 Setup] ARM multiprocessors number: 2
[I  9/ 3 16:25:28. 83 ...est/Paddle-Lite/lite/core/device_info.cc:1100 Setup] ARM multiprocessors ID: 0, max freq: 1512, min freq: 1512, cluster ID: 0, CPU ARCH: A-1
[I  9

[2021-09-05 00:35] hong19860320 commented on #6843
看起来还是板子环境有问题。目前我们主要支持瑞芯微官方的板子，例如RK1808EVB、RV1109/1126 EVB和TB-RK1808S0计算棒，如果你是从淘宝购买的板子，软件环境可能有问题。
顺便问下你的淘宝购买链接是什么，我们后续买来验证下。

[2021-09-06 08:32] kingbirdWc opened #6863 "请问paddle-lite支持Windows平台吗？"

[2021-09-06 09:23] zhangjun commented on #6863
您好，支持的。windows编译可以参见[Paddle-Lite Windows源码编译](https://paddle-lite.readthedocs.io/zh/latest/source_compile/compile_windows.html)

[2021-09-06 09:37] clearlove7-piggy commented on #4032
大佬，jetson nano上面部署paddlelite 成功了嘛？

[2021-09-06 12:43] BillDior commented on #6794
参考这个issue: https://github.com/PaddlePaddle/Paddle-Lite/issues/6406

[2021-09-06 12:44] BillDior commented on #6767
看着像是paddleslim的问题，可以到paddleslim repo下提issue

[2021-09-06 13:34] ltcs11 commented on #6653
升级2.9之后，arm-cpu依然复现该问题

[2021-09-07 02:38] chenjiaoAngel commented on #6662
![image](https://user-images.githubusercontent.com/38650344/132275680-0be26c75-0d28-4909-b6db-2a83562adcc6.png)
这块代码check了，不会发生越界访问

[2021-09-07 07:43] bigweini opened #6873 "object_detection_demo 替换完模型，检测只有相似度和标签，没有坐标"
https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-android-demo/object_detection_demo

检测完，paddlePredictor.getOutput(0)  发现只有标签和相似度，没有坐标  ，分析下什么问题

模型文件，和问题截图：
https://github.com/bigweini/demo

[2021-09-08 08:23] limaopeng1 commented on #6769
hi，这是我用百度网盘分享的内容~复制这段内容打开「百度网盘」APP即可获取 
链接:https://pan.baidu.com/s/1Ar6ev6VUYV9pXPFKO7udVw 
提取码:19es
@hong19860320

[2021-09-09 03:54] #3071 closed, assigned to juncaipeng

[2021-09-09 03:54] #3321 closed, assigned to DannyIsFunny, juncaipeng

[2021-09-09 03:54] #3322 closed, assigned to juncaipeng

[2021-09-09 03:54] #3326 closed, assigned to DannyIsFunny

[2021-09-09 03:54] #3327 closed, assigned to DannyIsFunny

[2021-09-09 03:55] #3325 closed, assigned to DannyIsFunny, juncaipeng

[2021-09-09 03:55] #3330 closed, assigned to hong19860320

[2021-09-09 03:55] #3334 closed, assigned to DannyIsFunny

[2021-09-09 03:55] #3333 closed, assigned to DannyIsFunny

[2021-09-09 09:27] Huangyidao2006 commented on #6662
当remain不为0的时候，out_cnt自增了啊，比如remain为1，那你最后一次还是从scale里面取4个数去处理，这不越界了么。反正我的崩溃日志中的地址addr2line一下就显示在这里，改了之后就没崩溃了。

[2021-09-13 08:38] mjp9527 commented on #6873
不好意思啊，值班当天被我看漏了，我尽快处理！

[2021-09-13 08:59] mjp9527 commented on #6873
您好，您运行的是什么平台，可以把输入数据、运行demo提供给我吗

[2021-09-13 09:35] tgniye opened #6923 "使用yolo_detection_demo安卓部署正常，更换模型后闪退，已更换labels以及修改输入输出"
使用yolo_detection_demo安卓部署时demo能正常运行，然后从paddle上下载了resnet50_vd_animals模型进行模型更换，更换模型后运行闪退，demo中已更换labels以及修改输入输出，不知道是哪步进行的不对，具体步骤如下：
    1、下载resnet50_vd_animals模型后利用save_inference_model函数保存模型文件__model__及__params__
    2、利用otp生成的.nb文件
          !paddle_lite_opt \
          --model_file=save_module/__model__ \
          --param_file=save_module/__params__\
          --optimize_out=save_module/model \

[2021-09-14 02:25] Zhang-O opened #6927 "crnn 模型(ppocr2.3 lcnet backbone)量化后 多线程推理报错"
硬件：
cpu: arm rk3336
mem: 180m

单线程推理是正常的
2线程报错： malloc.c:3851: _int_malloc: Assertion `chunk_main_arena (bck->bk)' failed.
Aborted
3线程报错：Segmentation fault

使用ppocr2.1 的配置训练的crnn模型，多线程是正常的

[2021-09-14 02:30] Leonardo-Ding commented on #6927
同学你好，能把模型发一下嘛，我这边复现一下

[2021-09-14 06:49] Zhang-O commented on #6927
训练的配置是ppocrv2 的 lcnet 的默认配置，模型暂时不方便发给你。
类似的问题之前应该也有人给你们发过模型，不过应该是dbnet。
怀疑是内存的问题，减小图片尺寸到一定程度，就能跑起来。

但是模型QAT量化前是可以跑多线程的，intuitively 量化后模型需要的内存应该比量化前需要的更小吧，我的理解有问题吗？

[2021-09-15 03:55] hong19860320 commented on #6923
resnet50_vd_animals 这个模型是分类模型吧，应该用mobilenet_classification_demo，只需要处理一下后处理的维度信息，1000分类变成7979个分类

[2021-09-15 03:59] hong19860320 commented on #6873
你这个是yolo模型，得用yolo_detection_demo

[2021-09-15 07:53] dubhex opened #6945 "量化前后的模型在推理时的内存占用"
请问量化后的Paddlelite模型在加载和推理时的内存占用会减少吗？
量化模型在推理的时候是按照量化后的数据类型进行运算，还是会转换成float32等类型进行运算？
感谢！

[2021-09-16 02:12] Dandelion111 opened #6953 "Paddle-Lite在windows平台的加速效果如何？"

[2021-09-16 02:20] bigweini commented on #6873
这两个demo，一个用java的api ，一个用c++的api ，为啥不能用java的。请教一下，感谢 。

[2021-09-17 03:17] tgniye commented on #6923
我使用了mobilenet_classification_demo进行模型替换, 但是resnet50_vd_animals的labels跟demo里面的labels格式不一样, resnet50_vd_animals的labels使用了中文, 模型替换之后运行识别结果为乱码, 文档中暂时没有找到怎么解决的办法, 请问应该要怎么处理编码问题?

[2021-09-17 03:56] tgniye commented on #6923
我使用了mobilenet_classification_demo进行模型替换, 但是resnet50_vd_animals的labels跟demo里面的labels格式不一样, resnet50_vd_animals的labels使用了中文, 模型替换之后运行识别结果为乱码, 文档中暂时没有找到怎么解决的办法, 请问应该要怎么处理编码问题?

在源码里找了一下不知是否是在这个文件里设置? 看里面对labels的处理已经为UTF-8, 还是不是编码的问题? 是我生成nb文件过程不对?
![image](https://user-images.githubusercontent.com/49095020/133721508-6b9a0599-44e7-425f-8c8a-c056bff654b8.png)

[2021-09-17 03:58] tgniye commented on #6923
我使用了mobilenet_classification_demo进行模型替换, 但是resnet50_vd_animals的labels跟demo里面的labels格式不一样, resnet50_vd_animals的labels使用了中文, 模型替换之后运行识别结果为乱码, 文档中暂时没有找到怎么解决的办法, 请问应该要怎么处理编码问题?

然后在源码里找了一下不知是否是在这个文件里设置? 看里面对labels的处理已经为UTF-8, 还是不是编码的问题? 是我生成nb文件过程不对?
![image](https://user-images.githubusercontent.com/49095020/133721934-9ff5070c-12b8-42e3-b4c2-c45ea5f07bc3.png)

[2021-09-17 07:09] yingshengBD commented on #6653
当时arm kernel是是通过pass将depthwise_conv2d_transpose转换成conv2d_transpose。pass是否注册成功可看paddle use pass.h文件 是否有USE_MIR_PASS(op_transformation_pass);

[2021-09-17 08:49] zhupengyang commented on #6945
- 内存占用会减少
- 按照量化后的数据类型进行运算

[2021-09-17 08:51] zhupengyang commented on #6953
Windows平台，如果没有加速卡的话就是x86 cpu的性能，具体加速效果可以用自己的模型测下。[参考文档](https://paddle-lite.readthedocs.io/zh/latest/source_compile/compile_windows.html)

[2021-09-17 10:04] tgniye commented on #6923
现在更换了mobilenet_classification_demo来进行模型更换, 但是resnet50_vd_animals里面的labels为中文, 运行之后检测结果为乱码, 调试源码发现是 opencv里的putText方法不支持中文显示, 找了一些解决办法都是在Windows的编译环境下解决, 在Android上无法编译通过, 请问有什么办法解决中文编码问题吗?

[2021-09-20 02:40] dxxhjk opened #7005 "paddle移动端训练"
您好，请问paddle-lite现在是否支持在移动端训练带卷积的cnn模型？我看 https://paddle-lite.readthedocs.io/zh/latest/demo_guides/cpp_train_demo.html#id1 给出的只是简单的lr模型的训练。

[2021-09-21 08:31] #5800 closed, assigned to nobody

[2021-09-22 03:00] kingbirdWc opened #7009 "Paddle-Lite在树莓派上的目标检测速度和精度怎么样？"

[2021-09-22 05:40] kingbirdWc opened #7011 "模型优化工具 opt的优化效果如何？"
您好，第二步的模型优化的效果怎么样呢？有没有一些模型优化前后的速度和参数量的对比，谢谢

[2021-09-23 05:32] aaaaaaaak commented on #6375
请问你的问题解决了么，我也遇到了相同的问题，可否指教一下？

[2021-09-23 05:33] aaaaaaaak commented on #6375
@scutsq  请问你的问题解决了么，我也遇到了同样的问题，可否指教一下？

[2021-09-23 07:09] TCChenlong opened #7028 "【PaddlePaddle Hackathon】33、Paddle Lite 新增硬件支持"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：Paddle Lite 新增硬件

- 技术标签：Paddle Lite，C++

- 任务难度：困难

- 详细描述：通过Kernel或子图+NNAdapter的方式新增一种硬件后端，支持MobileNetV1模型。这个任务要求你对Paddle Lite 整个架构、处理流程和源码结构有深入的理解，同时熟悉Kernel和子图+NNAdapater硬件接入方案，并且要求对某一款硬件的软件栈有一定的了解（可以选择资料较丰富的硬件，例如基于TIM-VX https://github.com/VeriSili

[2021-09-23 07:11] TCChenlong opened #7030 "【PaddlePaddle Hackathon】32、基于Paddle-Lite在ios gpu上跑通SSD_MobileNetV3_large模型"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：基于Paddle-Lite在ios gpu上跑通[SSD_MobileNetV3_large](https://ecloud.baidu.com/?t=ad755a28feba85840796f2c7adc0f7b7)模型

- 技术标签：Paddle-Lite，C++，IOS，CMake、Metal

- 任务难度：中等

- 详细描述：基于Paddle-Lite OP添加文档添加新OP gpu实现，如[multiclas_nms](https://www.paddlepaddle.org.cn/d

[2021-09-23 07:32] TCChenlong opened #7031 "【PaddlePaddle Hackathon】30、为 Paddle-Lite 添加新的前端语言"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：为 Paddle-Lite 添加新的前端语言

- 技术标签：Paddle-Lite，C++

- 任务难度：中等

- 详细描述：Paddle-Lite 当前支持三种编译语言 C++/Python/Java。Paddle-Lite有 良好的解耦设计，使得我们可以较容易的支持 多种语言作为用户接口，自然也可以支持更多的语言作为用户接口。不管是 Javascript、Swift、Ruby…… 只要你感兴趣，都可以完成这个任务。

【提交内容】

- 任务 PR 到 [Paddle-Lite](https

[2021-09-23 07:33] TCChenlong opened #7032 "【PaddlePaddle Hackathon】29、Paddle-Lite 对Android 平台增加AAR格式编译产出"
（此 ISSUE 为 PaddlePaddle Hackathon 活动的任务 ISSUE，更多详见[PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon)）

【任务说明】

- 任务标题：Paddle-Lite 对Android 平台增加AAR格式编译产出

- 技术标签：Paddle-Lite，Android，C++

- 任务难度：简单

- 详细描述：Paddle-Lite 支持android/iOS/armlinux/Windows 等 多种硬件平台、但是Lite 支持Android 平台的编译产出时 java库的格式产出。 期望可以将编译产出进一步封装更易调用的Android module格式(AAR)。

【提交内容】

- 任务 PR 到 [Paddle-Lite](ht

[2021-09-23 07:50] dlkht opened #7033 "请问paddle-lite支持BPU吗？"
地平线的BPU

[2021-09-23 07:57] dlkht opened #7036 "手机端语音识别或翻译用gpu或xpu或其它什么加速运算器好"
想将语音识别或翻译部署再android手机上，但用arm cpu速度是不够的，想要带加速处理器，根据目前paddle-lite的支持情况，请问有没有可以推荐的gpu或xpu或其它什么运算加速器？

[2021-09-23 09:38] TCChenlong opened #7045 "【PaddlePaddle Hackathon】Paddle-Lite 任务合集"
# 【PaddlePaddle Hackathon】Paddle-Lite 任务合集

hi，大家好，非常高兴的告诉大家，首届 PaddlePaddle Hackathon 开始啦。PaddlePaddle Hackathon 是面向全球开发者的深度学习领域编程活动，鼓励开发者了解与参与 PaddlePaddle。本次共有四大方向（PaddlePaddle、Paddle Family、Paddle Friends、Paddle Anything）四大方向，共计100个任务共大家完成。详细信息可以参考 [PaddlePaddle Hackathon 说明](https://www.paddlepaddle.org.cn/contributionguide?docPath=hackathon_cn)。大家是否已经迫不及待了呢~

本 ISSUE 是 PaddlePaddle 专区 Paddle

[2021-09-24 17:05] Ten000hours commented on #5009
同样问题，请问解决了吗

[2021-09-26 03:36] chiaitian opened #7066 "如何catch paddle::lite_api::CreatePaddlePredictor 失败时的异常"
比如，设置的模型路径错误，如何catch 异常，我尝试如下程序直接崩溃了
[code]

[2021-09-26 04:09] hong19860320 commented on #6873
就是提供给用户基于两种接口方式的android app应用示例

[2021-09-26 04:11] hong19860320 commented on #6923
android app显示中文属于android app开发的问题了，建议在网上找些资料，一般是在xml新增中文的配置文件，在代码中使用resource id进行访问

[2021-09-26 04:15] hong19860320 commented on #6522
这个问题，主要是还是rknpu ddk和板子上npu库版本问题导致的， @mzxhzhp @bigweini 麻烦问下你们的板子是哪里买的呢？ 我们后续采购加入到我们的CI中

[2021-09-26 04:42] mzxhzhp commented on #6522
看样子应该就是库的问题了，问题可以关闭了。
（板子不是买的，板子资源有限制，做不了这个实验，所以就先不管了）

[2021-09-27 03:07] zhupengyang commented on #7066
- 编译预测库时指定 --with_exception=ON，则所有导致程序终止的错误会改为抛出异常

[2021-09-27 08:02] Leonardo-Ding commented on #7033
同学您好，地平线支持的，https://paddle-lite.readthedocs.io/zh/latest/demo_guides/bitmain.html

[2021-09-27 08:03] Leonardo-Ding commented on #7036
同学您好，建议您考虑使用安卓端的opencl部署Paddle-lite

[2021-09-28 06:16] moyuehongyan opened #7092 "高通设备下GPU版本呢的运行的几个疑问"
1. 在使用V2.9.1版本的分支，在GPU的设备上跑mobile_light例子。看了mobilenetv1_light_api.cc中用到的几个opencl文件，
bool is_opencl_backend_valid =
      ::IsOpenCLBackendValid(/*check_fp16_valid = false*/);
  std::cout << "is_opencl_backend_valid:"
            << (is_opencl_backend_valid ? "true" : "false") << std::endl;
  if (is_opencl_backend_valid) {
    if (accelerate_opencl != 0) {
      // Set opencl kernel binary.
      /

[2021-09-28 07:02] moyuehongyan commented on #7066
好的，我试试，谢谢

[2021-09-28 11:17] #7066 closed, assigned to nobody

[2021-09-29 09:18] Hmm466 opened #7122 "【Android】Demo预跑问题"
1.参照https://paddle-lite.readthedocs.io/zh/latest/quick_start/java_demo.html 去尝试Android项目
2.没有使用prepare_demo.bash 去跑脚本，完全手动下载。下载后的结构为:
lite_naive_model*
-----__model__.nb
-----param.nb
3.文档提示:  注意：模型要求为naive buffer格式，您可以通过 opt工具 将Paddle模型转为naive buffer存储格式  单没有强调不操作这一步会失败(APK 闪退，无AndroidRuntime 异常)
4.所以用Python脚本去执行.
[code]

然后报错:
![image](https://user-images.githubusercontent.com/14216930/135240228

[2021-09-30 06:25] yeyupiaoling opened #7135 "在导出模型的是出现通道顺序不支持，这个咋整？"
- Paddle-Lite 2.9.1
[code]

[2021-09-30 08:40] zhaoyang-star commented on #7135
您好，请提供下paddle模型，我们先本地复现。

[2021-09-30 08:46] yeyupiaoling commented on #7135
@zhaoyang-star 不知道如何给你呢？你在哪些QQ群吗？

[2021-09-30 09:35] zhaoyang-star commented on #7135
在issue里提供一个下载模型的链接就可以了，比如可以上传到百度云盘中。

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2021年9月30日(周四) 下午4:46
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle-Lite] 在导出模型的是出现通道顺序不支持，这个咋整？ (#7135)

@zhaoyang-star 不知道如何给你呢？你在哪些QQ群吗？

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the

[2021-09-30 09:44] yeyupiaoling commented on #7135
@zhaoyang-star 在这里了：链接：https://pan.baidu.com/s/19gYtvGc0l7KyeWNiISyhJw  提取码：23hm

[2021-10-04 15:01] zyl2995230 opened #7140 "Paddle-Lite如何修改使用GPU"
如题，如何将性能模式修改为GPU，我看了文档里没有提到怎么去修改使用GPU？
请问是否支持修改使用GPU来进行部署预测？特别是用jetbot nano系列上

[2021-10-09 05:42] happybear1015 opened #7148 "树莓派部署，预测时报错：Check failed: input_names_.size() > offset: The network has 1 inputs, the offset should be less than this."
老师您好，我用PaddleDetection（用到的是paddle1.7的环境）训练的的模型，并且使用paddlelite中的opt转换之后得到new_model.nb模型文件。在树莓派上运行model_pridect.py文件进行预测时，报了如下错误，请问这是什么问题，麻烦帮忙解答一下，谢谢？
Check failed: input_names_.size() > offset: The network has 1 inputs, the offset should be less than this.

两个文件在百度网盘。
链接：https://pan.baidu.com/s/1IDSMzyV2gvobQu2t33y5mw
提取码：1kyn

[2021-10-09 07:07] zhupengyang commented on #7148
模型只需要一个输入

可以把原始模型放在 https://netron.app/ 看下结构

[2021-10-09 07:40] xiaoxiong1234 commented on #7148
谢谢，模型放在 https://netron.app/这里后，可以看到结构如下：

第一个方框上面有一个这个输入：？x3x300x300（本来想放图片的，不知道怎么操作，还是文字描述一下吧）

是因为只有一个问号，所以说明模型需要1个输入，请问这样理解对吗？

[2021-10-09 08:14] happybear1015 commented on #7148
谢谢，模型放在 https://netron.app/这里后，可以看到结构如下：

第一个方框上面有一个这个输入

![QQ图片20211009161415](https://user-images.githubusercontent.com/66996161/136650201-179ded80-e9b3-4595-98ac-07b55d10f9f2.png)

？x3x300x300

是因为只有一个问号，所以说明模型需要1个输入，请问这样理解对吗？

[2021-10-09 09:48] minghaoBD opened #7154 "Benchmark_bin 工具端测推理报错"
lite版本：release/v2.10 273e46e20c04f2961f3d5612cfb1ee4966f57b20
编译生成benchmark_bin后，在端测按照指令提示：
![image](https://user-images.githubusercontent.com/79566150/136653194-f074135d-b909-4510-b976-8eea0ef51ae9.png)
运行后，报错如下：
![image](https://user-images.githubusercontent.com/79566150/136653269-26643801-49ae-48fa-af6c-156dd10d8cba.png)

猜测是benchmark_bin运行时，并没有正确识别到传入的optimized_model_path是已经优化后的模型了，又重新走了一遍opt模

[2021-10-09 09:52] benlvzi opened #7155 "头文program.h是如何替换__@kernel_type_attr@__中字符串的？"
一般是有configure_file来完成，找遍了configure_file也没有发现替换地方，有哪位大神知道

[2021-10-12 06:57] Yanghello opened #7191 "调用arm::math::sgemm后报 free(): corrupted unsorted chunks错误"
你好，我在使用paddle-lite 做矩阵乘法时，报内存释放错误，请问这个大概是什么原因啊？
代码为（想实现Tensor的矩阵乘）：

[code]

错误栈为：
<img width="1401" alt="截屏2021-10-12 下午2 54 49" src="https://user-images.githubusercontent.com/8534461/136907020-5f6ebb65-1ec0-4bf2-9147-5cafa49b0c9c.png">

错误时，mat_a, mat_b和mat_out的信息如下
<img width="1370" alt="截屏2021-10-12 下午5 24 06" src="https://user-images.githubusercontent.com/8534461/136929377-0645fcba-2fc7-4bf1-

[2021-10-12 08:56] lansehuo opened #7198 "Can't parse message"paddle.framework.proto.VarType.TensorDesc" missing required fields: data_type"
基于X86平台+ubuntu18.04系统，加载MLU270加速卡+PaddleLite框架。运行yolov3 demo示例时，提示解析错误。错误日志如下：
$./yolov3_demo 4
model_path:  /home/dell/paddlelite_cambricon/models/yolov3_r50vd_dcn_imagenet
image path:  ./filelist
CNRT: 4.9.1 4cd7a8a
WARNING: Logging before InitGoogleLogging() is written to STDERR
I1012 16:45:05.992290  9314 target_wrapper.cc:47] Current MLU device count: 1
I1012 16:45:05.992308  9314 device_info

[2021-10-12 13:42] HaoLiuHust opened #7208 "fp16 是否支持armv7"
从文档看
![image](https://user-images.githubusercontent.com/7233091/136967255-e75d755b-81ff-43e8-9cd9-1325ac4fe7c0.png)
请问现在还是不支持么

[2021-10-13 03:47] jzhang533 opened #7213 "broken link in README.md"
in README.md

at line 17, the link to save_inference_model document: https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/save_inference_model_cn.html#save-inference-model is broken.

And, we need to update README.md to instruct users to use `paddle.jit.save`.

[2021-10-13 11:14] Yanghello commented on #7191
解决了，应该是有些tensor没有调用mutable_data()导致的

[2021-10-13 11:14] #7191 closed, assigned to Leonardo-Ding

[2021-10-13 12:41] chenjiaoAngel commented on #7208
V7 正在开发中，预估2.10 正式版可使用

[2021-10-13 12:41] chenjiaoAngel commented on #7213
辛苦将问题提到paddlepaddle 仓库，这个问题不属于paddle-lite 文档问题

[2021-10-13 13:06] aislient opened #7234 "InferType]Error!softplus::InferType() function must be registered for op softplus"
本机开发环境：Windows系统
Paddle-Lite版本：2.9.1
转换模型：ppyolov2_r50vd_dcn_365e_publaynet
转换脚本：
`from paddlelite.lite import *

def convert():
    # 1. 创建opt实例
    opt = Opt()
    # 2. 指定输入模型地址
    opt.set_model_file("ppyolov2_r50vd_dcn_365e_publaynet/inference.pdmodel")
    opt.set_param_file("ppyolov2_r50vd_dcn_365e_publaynet/inference.pdiparams")
    print("start converting")
    # 3. 指定转化类型： arm、x86、opencl、

[2021-10-14 01:34] zhupengyang commented on #7213
https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/README.md
应该指这个文档的链接失效了

[2021-10-14 03:03] chenjiaoAngel commented on #7234
<img width="820" alt="image" src="https://user-images.githubusercontent.com/38650344/137243601-67296dd6-58e3-4d44-abba-2e0bd277dfd2.png">
我们自测代码可以编译通过，请问您是什么环境，编译错误信息是？
<img width="804" alt="image" src="https://user-images.githubusercontent.com/38650344/137243666-52a98988-9d5f-48b1-b896-8625a8ba039b.png">
ppyolov2 模型已支持，如果模型方便上传话，我们可以安排同学帮你转换；另外，您转换时，遇到了什么问题呢？

[2021-10-14 03:49] seacj opened #7242 "paddlelite不支持一维卷积"
在进行模型转化时发现目前不支持一维卷积的转换，当前版本是否能够提供一维卷积转换的支持
x2paddle --framework=onnx --model=xxx.onnx --save_dir=xxx
![image](https://user-images.githubusercontent.com/19593898/137248174-0f7bcb7b-fd6b-40c2-9061-13df29baa69b.png)

[2021-10-14 04:50] aislient commented on #7234
首先谢谢抽出时间回答
@chenjiaoAngel
关于问题1：
我编译环境如下：
主机：Windows 10 开发环境
Paddle-Lite代码：develop分支和release/2.10分支，编译错误具体是因为Paddle-Lite-develop\lite\backends\x86\math\conv_direct.cc类，说是没有声明变量oh_i等，但是看代码变量已经声明。
关于问题2：
模型下载地址为：https://paddle-model-ecology.bj.bcebos.com/model/layout-parser/ppyolov2_r50vd_dcn_365e_publaynet.tar
如果你这边方便的话，麻烦帮我转一下nb格式的，我想要在Android端部署。谢谢。个人邮箱：gc_gongchao@163.com
在转换该模型时会报这个问题：InferType

[2021-10-14 06:41] jzhang533 commented on #7213
对，我说的是这个仓库里的readme

[2021-10-14 11:24] yank666 opened #7253 "请问paddle-lite android armv7的编译库 set_threads 没有速度提升？（多核cpu的 使用率一直是100%）"
我编译paddle-lite 库使用下面的命令
./lite/tools/build_android.sh --arch=armv7 --toolchain=clang --android_stl=c++_shared --with_java=OFF --build_extra=ON --android_api_level=28
在cpu上跑时 设置多线程为4  和多线程设置为1 推理速度一样，没有性能的提升，cpu使用率最高也是100%（多核cpu），
![image](https://user-images.githubusercontent.com/79586188/137308196-1695795d-40e3-4714-b52a-7c5564586adb.png)
在多核arm cpu上如何提升性能

[2021-10-15 09:03] happybear1015 opened #7275 "使用paddlepaddle2.1训练出来的模型，如何转换成树莓派部署要求的两种模型文件"
请教一下老师，使用paddlepaddle2.1训练出来的模型，最后得到了.param（参数文件），如何将它转换成树莓派部署要求的2个文件（模型文件model.pdmodel和参数文件model.pdiparams）呢？

[2021-10-15 09:31] zhupengyang commented on #7275
需要从paddle保存出推理模型。如果只有.param（参数文件）的话，是仅报错了训练时的权重等信息。

- 静态图保存推理模型使用 [paddle.static.save_inference_model](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/static/save_inference_model_cn.html#save-inference-model)
- 动态图保存推理模型使用 [paddle.jit.save](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/jit/save_cn.html#save)

[2021-10-18 02:47] chenjiaoAngel commented on #7234
刚刚测试，2.9.1 版本不支持softplus OP。最新develop分支和2.10 版本支持，不好意思，辛苦使用最新版本的paddle Lite 转换和部署
![image](https://user-images.githubusercontent.com/38650344/137661630-70983bb2-29c4-4611-9994-162b73c9597c.png)

[2021-10-18 02:49] chenjiaoAngel commented on #7234
<img width="757" alt="image" src="https://user-images.githubusercontent.com/38650344/137661806-fad5da7b-241a-47be-9f01-b089907bcaf3.png">
这个问题有些奇怪，咨询我们同事，他们在win10 编译最新代码是OK的。辛苦再确认下环境等相关信息

[2021-10-18 02:50] chenjiaoAngel commented on #7234
或者再看看错误信息，感觉这个不太对。重新编译的时候，remove 已编译的build 目录和third-party 目录

[2021-10-18 06:26] aislient commented on #7234
请教一下，你这边转换出pppyolov2_r50vd.nb的文件大小多大？200多M吗？我这边重新在ubuntu 下编译的relase/2.10的代码，转换出的模型大小是200多M，然后使用opt的量化参数unit8量化之后，模型大小还是比较大，大概74M。和你这边转换之后的模型大小文件是不是一致的？ @chenjiaoAngel

[2021-10-18 06:29] aislient commented on #7234
这个我找时间，在win10上在编译一下，我这边win10系统是window10专业版的系统。

[2021-10-18 11:54] chenjiaoAngel commented on #7234
我这转换出的模型也是200多M
![image](https://user-images.githubusercontent.com/38650344/137725431-38c34213-e796-471a-af28-35f0dfb45b65.png)

[2021-10-19 02:06] #7208 closed, assigned to Leonardo-Ding

[2021-10-19 02:40] aislient commented on #7234
感谢你的回复，这个问题我先关闭了，目前来看这个issue是2.10版本以下不支持softplus算子导致的模型转换失败，至于window环境编译没过的问题，应该和我的windows开发机的环境有关，回头周末有时间的时候，我再尝试编译。

[2021-10-19 02:40] #7234 closed, assigned to chenjiaoAngel

[2021-10-19 03:45] #7275 closed, assigned to nobody

[2021-10-19 05:20] happybear1015 opened #7316 "关于paddle Lite 在树莓派上的部署Python预测代码"
老师：

您好，请教一下，关于paddle Lite 在树莓派上的部署，在最后的预测阶段，我看很多教程都是c++代码实现的，如下图所示。

![微信图片_20211019131822](https://user-images.githubusercontent.com/66996161/137848231-e8d238fc-b58d-4f85-a305-6e313e6aa37b.png)

请问一下老师，有python实现的完整示例/或者教程吗（Paddle Lite官网上关于python部署示例代码好像不太完整）

[2021-10-19 07:45] #7135 closed, assigned to zhaoyang-star

[2021-10-19 08:49] zhaoyang-star commented on #7316
您好，目前 Paddle Lite python demo: https://github.com/PaddlePaddle/Paddle-Lite/tree/develop/lite/demo/python 下有 python 实现的完整示例，请参考。

[2021-10-19 12:17] Ying-Kang commented on #6240
你好，这个问题你解决了吗，有没有什么解决办法，希望教授一下，确实是yolo模型，我把官方demo的ssd换成了yolo，然后工程的模板没有改，一直没有通过

[2021-10-20 02:46] Ying-Kang opened #7336 "ppdet训练的模型到安卓报错：in_dims.size() == 4 || in_dims.size() == 5 test error!"
按照[教程](https://paddle-lite.readthedocs.io/zh/latest/demo_guides/android_app_demo.html)中的步骤走可以通过，并完成object detection在安卓端的部署
![image](https://user-images.githubusercontent.com/32356801/138017169-3f0bb0f9-c746-431e-8154-40ef2ec529aa.png)
# 问题描述
然后我自己利用ppdet中的yolov3_mobilenet_v1_roadsign.yml配置文件，
训练了kaggle相应的roadsign数据集，过程参考ppdet自带教程
- 训练的启动代码：
[code]
- 导出对应模型代码：
[code]
- 模型的优化代码：
[code]

最后替换了object

[2021-10-20 06:01] daming5432 commented on #7336
可以先用我们自带的demo，使用adb shell 方式验证一下模型的正确性，排除模型和库本身的问题。https://paddle-lite.readthedocs.io/zh/latest/demo_guides/opencl.html

[2021-10-20 06:32] Ying-Kang commented on #7336
其实是想skip编译的过程去直接做一个替换，这样学习成本会比较低，
重头编译的话学习成本有点高，且因为不是专门开发的，很多依赖不好搞

我理解您的答复的意思就是：
假如模型本身没有问题的话，
我直接对模型做这样的替换是没有问题的对吗？

[2021-10-20 07:59] daming5432 commented on #7336
对的，如果方便的话你可以把你的模型发给我，我来帮你验证一下

[2021-10-20 08:15] Ying-Kang commented on #7336
好的，您的邮箱方便留一下吗？

[2021-10-20 08:16] Ying-Kang commented on #7336
对了，我导出模型和模型优化这里是按照官网的操作来的，应该不是参数的问题把

[2021-10-20 13:07] daming5432 commented on #7336
我的邮箱是mingxian32@sina.com，你发过来我明天帮你验证下

[2021-10-21 01:58] zhaoyang-star commented on #7154
您好，该问题已经通过 #7355 修复，请拉取最新 release/v2.10 代码，重新编译 benchmark_bin，再测试。

[2021-10-21 02:10] zhaoyang-star commented on #7092
1. lite_opencl_kernel.bin和lite_opencl_tuned.bin这两个文件有什么作用？是否没有这两个文件就无法运行GPU的例子？
lite_opencl_kernel.bin 是定义了 clkernel 预编译后的二进制文件的名字，如果该文件存在，则会尝试直接读取，不经在线编译 clkernel；如果该文件不存在，则会在程序运行退出前将在线编译的 clkernel 序列化为二进制文件并保存为 lite_opencl_kernel.bin。

lite_opencl_tuned.bin 是定义了针对 conv 的 auto-tune 后的最优配置参数文件的名字，如果该文件存在，则会尝试直接读取，不经过在线遍历选择最优配置（最优 kernel，最优 local work size）；如果该文件不存在，则会在程序运行时在线遍历选取最优配置，在程序退出前将最优配置序列

[2021-10-21 02:12] Ying-Kang commented on #7336
已发送，请查收，感谢

[2021-10-21 03:05] LockonLv opened #7358 "The problem of compliing in the FT2500"
[ 39%] Linking CXX static library libprotobuf.a
Error running link command: No such file or directory
make[6]: *** [CMakeFiles/libprotobuf.dir/build.make:1210：libprotobuf.a] 错误 2
make[5]: *** [CMakeFiles/Makefile2:73：CMakeFiles/libprotobuf.dir/all] 错误 2
make[4]: *** [Makefile:118：all] 错误 2
make[3]: *** [CMakeFiles/extern_protobuf.dir/build.make:111：third_party/protobuf/src/extern_protobuf-stamp/ex

[2021-10-21 07:07] daming5432 commented on #7336
哈喽 可以吧paddle模型发过来吗，就是未转nb之前的那个模型，还是这个邮箱

[2021-10-21 07:23] Ying-Kang commented on #7336
好的，我都打包下

[2021-10-22 02:02] HaoLiuHust opened #7383 "有armv7的 fp16 gemm或gemv可以用于矩阵运算么"
看到paddle-lite里有armv7的fp16, 请问有fp16的矩阵运算函数可以用于比如特征比对等等这类任务，速度会比fp32快吗

[2021-10-22 03:09] chenjiaoAngel commented on #7383
目前只支持V8 FP16的矩阵计算，V7 FP16 在开发中

[2021-10-22 03:10] HaoLiuHust commented on #7383
好的，感谢。大概什么时候会发布呢

[2021-10-22 03:12] chenjiaoAngel commented on #7383
最快十一月，最慢年底

[2021-10-22 03:13] HaoLiuHust commented on #7383
好的，期待

[2021-10-22 03:13] #7383 closed, assigned to zhenlin-work

[2021-10-22 03:27] Ying-Kang commented on #7336
哈喽，请问目前解决如何了？

[2021-10-22 05:34] #6596 closed, assigned to nobody

[2021-10-22 07:29] minghaoBD commented on #7154
好的，谢谢。

[2021-10-22 07:29] #7154 closed, assigned to nobody

[2021-10-22 09:17] daming5432 commented on #7336
不好意思今天有事情耽搁了 我这就验证一下

[2021-10-22 09:26] #6282 closed, assigned to hong19860320, zhaoyang-star, chenjiaoAngel

[2021-10-22 09:27] #6219 closed, assigned to chenjiaoAngel

[2021-10-22 09:28] #6207 closed, assigned to heavengate, chenjiaoAngel

[2021-10-22 11:06] daming5432 commented on #7336
哈喽，你的问题找到了。原因是你的im_shape和scale_factor都设置成了1。需要你改成真实需要的值。
![91e187a4b6b0f77d9c624ad418a9a57e](https://user-images.githubusercontent.com/28774670/138443851-64b2aa20-c6f6-4613-a0c4-bd2c3506c3b5.png)

[2021-10-22 11:19] daming5432 commented on #7336
你这个模型有三个输入，要保证每个输入的shape和对应的值都正确

[2021-10-23 12:52] hong19860320 commented on #7028
飞桨团队已规划Q4会基于NNAdapter支持TIM-VX和OpenVINO，相关同学可以另选其它硬件。

[2021-10-24 12:10] marsplus-wjh commented on #7148
您好，我用 picoDet 模型 .nb 文件，更换 ppyolo 模型之后也有相同报错，请问是什么原因呢？

[2021-10-24 23:40] xiaomujiang opened #7406 "树莓派4编译报错[CMakeFiles/Makefile2:2383：lite/CMakeFiles/publish_inference.dir/rule] 错误 2"
使用命令 ./lite/tools/build_linux.sh --arch=armv7hf --with_python=ON  --with_extra=ON  --python_version=3.7  --with_cv=ON
在树莓派编译的时候出现了下面的错误

12%] Building CXX object lite/backends/arm/math/CMakeFiles/math_arm.dir/topk.cc.o
[ 12%] Building CXX object lite/backends/arm/math/CMakeFiles/math_arm.dir/increment.cc.o
[ 13%] Building CXX object lite/backends/arm/math/CMakeFiles/math_arm.dir/pad2d.cc.o
[ 13%]

[2021-10-25 02:13] Ying-Kang commented on #7336
这一部分需要去哪里修改呢？我仔细核对了文件，发现在优化和导出模型的时候都没有这个附加的问题
是训练的cfg中这里设置的吗？
![image](https://user-images.githubusercontent.com/32356801/138624153-3f545fe1-e248-4071-88d0-b5fbb8feb1a2.png)
我还以为就只用关注img shape也就是image就行呢
其他两个应该是模型封装的吧 | _ |
这块儿应该去哪里改呢？

[2021-10-25 03:23] xiaoxiaohehe001 commented on #7358
推荐用官方提供的docker进行编译，https://paddle-lite.readthedocs.io/zh/latest/demo_guides/arm_cpu.html

[2021-10-25 06:41] daming5432 commented on #7336
<img width="866" alt="f8ed54a311bd17ef5a51882adfc61de4" src="https://user-images.githubusercontent.com/28774670/138646466-ec879555-7dfc-4a12-aae9-7435edd2b74c.png">
主要改这一部分，你的输入tensor是三个这个例子里是两个，你可以仿照例子修改

[2021-10-25 07:42] Ying-Kang commented on #7336
好的，感谢

[2021-10-25 08:46] daming5432 commented on #7336
不客气

[2021-10-25 09:43] #7336 closed, assigned to nobody

[2021-10-25 16:44] marsplus-wjh opened #7445 "2.9.1 Paddle-Lite 更换模型后报错 input_names_.size() > offset"
更换 yolo .nb 文件之后，lite 报错如图，将更换的模型导入 https://netron.app/ 后模型 input 是 1 个，如何解决呢？
相关issue：https://github.com/PaddlePaddle/Paddle-Lite/issues/7148
![image](https://user-images.githubusercontent.com/11485558/138736350-40755503-b586-4fe3-9db8-f1a89df1ee2c.png)
![image](https://user-images.githubusercontent.com/11485558/138736445-d1be76dc-bfb6-40fc-ab9f-c05318370c8a.png)

[2021-10-26 03:31] hong19860320 commented on #7033
地平线暂时没有做原生的支持，目前是通过paddle2ONNX转成 ONNX模型支持的哈~

[2021-10-28 05:37] guoxixiao commented on #6425
您好，demo出来了没？

[2021-10-28 08:18] #7148 closed, assigned to nobody

[2021-10-28 08:19] #7316 closed, assigned to zhaoyang-star

[2021-11-02 02:45] wenbbo opened #7526 "百度框架向寒武紀邊緣或ＴＸ２端設備適配問題"
在ｘ８６主機＋寒武紀加速卡，編譯paddle lite生成動態庫，但在轉換nb模型出現問題，有算子不支持。在英偉達ＴＸ２上編譯庫也沒問題，但也在模型轉換上出現問題：無法生成支持cuda或ｒｔ的ｎｂ，只能生成加載到ａｒｍ處理器的通用模型。
如何用ｏｐｔ工具生成ｎｂ模型，可以充分利用端設備加速能力？
據說百度有與寒武紀卡適配過的ｎｅｕｗａｒｅ庫文件，不知能否提供一試？

[2021-11-02 10:00] deshuai666 opened #7530 "Android部署"
请问一下，如何让PaddleOCR的androi-demo使用opencl加速？

[2021-11-03 02:41] violetweir opened #7532 "关于PaddleLite版本不匹配问题"
今天我在使用PaddleLite的官方Demo中将yolo的model换成了我自己的model文件，然后就报错了
<img width="1078" alt="WX20211103-103837@2x" src="https://user-images.githubusercontent.com/78856426/140003071-a6641623-2e3e-4933-9a7d-42ac18056ce7.png">
然后我就想着把我的paddlelite版本降低然后安装2.9.1的但是又报错
<img width="925" alt="WX20211103-103822@2x" src="https://user-images.githubusercontent.com/78856426/140003054-072720cc-2d29-45d7-91fb-720309c9288e.png

[2021-11-03 02:59] leiqing1 commented on #7532
1. warning中有提示，opt版本和paddle-lite版本不对应（not consistent），导致的错误。
2.pip安装时候，确认python版本是否正确？参考链接：https://paddle-lite.readthedocs.io/zh/latest/user_guides/model_optimize_tool.html
3.确认当前版本PaddleLite是否支持yolo模型。

[2021-11-03 12:01] yaoruinupt opened #7545 "ppyolo_tiny转nb文件后使用yolo_detection_demo配置报错"
1.使用ppyolo_tiny模型训练得到best_model.pdopt；best_model.pdparams
2.导出模型（ppdetection项目）：
!python tools/export_model.py -c configs/ppyolo/ppyolo_tiny_650e_coco.yml --output_dir=./inference_model -o weights=output/ppyolo_tiny_650e_coco/best_model
3.	使用PaddleLite转换模型
./opt --model_dir=./ppyolo_tiny_650e_coco --valid_targets=arm --optimize_out_type=naive_buffer --optimize_out=ppyolo_tiny_opt
4.得到模型ppyolo_tiny

[2021-11-04 03:10] EricHuiK commented on #6020
我也遇到这个问题，同一张识别文本切片图，在移动端初始化多个预测实例，有些情况下会推理nan,是同一张图，所以这块肯定是paddle_lite的问题，我的解决办法是在推理初始化实例结束后我执行预热(用自己内置的图片)推理假如是nan我就过滤掉这个实例

[2021-11-04 03:29] EricHuiK opened #7554 "你好Padle_lite ocr模型demo有嘛"

[2021-11-04 03:52] mjp9527 commented on #7554
您好，可以参考
 https://github.com/PaddlePaddle/Paddle-Lite/tree/develop/lite/demo/cxx

[2021-11-04 06:54] mjp9527 commented on #7530
您好，PaddleOCR相关的问题可以在 https://github.com/PaddlePaddle/PaddleOCR/issues 这里提问，
如果您使用的是paddle-lite，首先转模型时需要将--valid_targets=opencl，编译库时with_opencl=ON或者下载预编译库：https://paddle-lite.readthedocs.io/zh/release-v2.10_a/quick_start/release_lib.html  ;
使用demo时如mobilenetv1_light_api.c仅需将accelerate_opencl设置为1即可：
https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/demo/cxx/mobile_light/mobilenetv1_light

[2021-11-04 06:59] mjp9527 commented on #7406
您好，请问您是在docker环境中编译吗，可以提供完整的log信息吗

[2021-11-04 08:36] xingjing1 commented on #7545
收到，我们这边正在复现

[2021-11-04 08:51] BillDior commented on #7545
你好，看起来不是Paddle-Lite的原因了，大概率是
![image](https://user-images.githubusercontent.com/41277577/140284654-89d7fbdd-db7f-4246-ac65-6da78b41f6b3.png)
这里的参数的rgbaImage为空，很有可能是在App拍摄的时候没有正确获取图像或者图像的路径不正确，可以从这个思路去排查一下

[2021-11-04 08:57] yaoruinupt commented on #7545
===============================================
您好，感谢回复。实际上在我们的手机上部署完成以后无法运行程序，会直接闪退，所以自然也并没有拍到照片。而同样的设备和环境下运行原始demo是没有问题的，不会闪退，可以正确地得到图片与识别结果。

[2021-11-04 09:01] BillDior commented on #7545
是在拍照之前报错的话，可以看看调用堆栈，确定是哪个地方的resize挂掉的，按理来说你之前遇到“in_dims().size() == 4 || in_dims.size() == 5 test error”应该是已经拿到图片进行推理了，不太可能改了推理的逻辑反而图片都拿不到了……

[2021-11-04 10:12] qdd1234 opened #7564 "Intel NUC error"
Hi, when I compile PaddleLite on  Intel NUC device, I meet an error shown in the following picture, How can I solve it?

Error:

/home/robo/Paddle-Lite/lite/core/optimizer/mir/x86_int8_attribute_pass.cc: In member function ‘virtual void paddle::lite::mir::X86Int8AttributePass::Apply(const std::unique_ptr<paddle::lite::mir::SSAGraph>&)’:
/home/robo/Paddle-Lite/lite/utils/log/logging.h:117:41: warni

[2021-11-07 03:54] rico2001 commented on #6641
你好，我使用最新版本的paddlelite现在能够成功生成opt文件，但将opt文件导入到手机后运行时提示输入和输出的dims不一致，log如下：

I/Paddle-Lite: [I 11/ 7 11:41: 3.788 .../Paddle-Lite/lite/operators/concat_op.cc:53 InferShapeImpl] out_dims[j] == input_dims_i[j] check failed!
    [I 11/ 7 11:41: 3.788 .../Paddle-Lite/lite/operators/concat_op.cc:53 InferShapeImpl] 1 != 64

目前的输入是【1，3，512，512】，网络输出是【1，1，512，512】，手机上已经将paddlelite的版本更新到了2.10-rc，即更新了paddleli

[2021-11-10 01:54] Fenghaze opened #7598 "转换rec模型为.nb文件出现如下警告，移植到android后无法正常识别"
转换det模型就不会出现这个警告，请问该如何解决？
[W 11/10  9:41:32.245 ...01\py37\Paddle-Lite\lite\core\program.cc:124 paddle::lite::RuntimeProgram::SaveToProgram] Unknown precision type uint8_t for var lstm_0.tmp_3 in op rnn

[2021-11-10 02:40] hong19860320 commented on #7598
看起来是一个量化模型，把paddle模型传上来吧，我们定位下问题

[2021-11-10 02:53] hong19860320 commented on #7545
不能直接在代码里把inputShape强制改成{1,3,3200,3200} 你得在android的app的配置文件把模型的输入图像尺寸改成3200,3200
https://github.com/PaddlePaddle/Paddle-Lite-Demo/blob/a16b4eb3dbf71984a4577c6c0faa9070a3388fdf/PaddleLite-android-demo/yolo_detection_demo/app/src/main/res/values/strings.xml#L17

[2021-11-10 05:55] hong19860320 commented on #7526
目前我们正在适配寒武纪MLU370芯片

[2021-11-10 06:28] Fenghaze commented on #7598
我就是在PaddleOCR提供的android demo中的.nb文件进行替换和修改字典
使用的是Win10和python脚本对模型进行转换，代码如下
`# -*- coding: utf-8 -*-
from paddlelite.lite import *
import os
#model_path = r'D:\Deeplearning\paddleocr_package\en\en_number_mobile_v2.0_rec_infer'
# 1. 创建opt实例
opt=Opt()
# 2. 指定输入模型地址
#opt.set_model_dir("./inference")
opt.set_model_file(os.path.join(model_path, "inference.pdmodel"))
opt.set_param_file(os.path.join(mode

[2021-11-10 06:29] Fenghaze commented on #7598
我就是在PaddleOCR提供的android demo中的.nb文件进行替换和修改字典
使用的是Win10和python脚本对模型进行转换，代码如下

from paddlelite.lite import *
import os
model_path = r'D:\Deeplearning\paddleocr_package\en\en_number_mobile_v2.0_rec_infer'
opt=Opt()
opt.set_model_file(os.path.join(model_path, "inference.pdmodel"))
opt.set_param_file(os.path.join(model_path, "inference.pdiparams"))
opt.set_valid_places("arm")
opt.set_model_type("naive_

[2021-11-11 03:29] Reatris opened #7606 "动态batch_size推理时模型输出异常"
动态batch_size推理时模型输出异常
paddlelite 2.8
设备：树莓牌4B
描述：

我在使用lite做模型推理 初始化模型后使用batch_size = 1  的数据进行推理，正常
当数据的batch_size 改变为2 时，模型的输出改变了，之后再使用动态batch_size 推理，模型的输出不变，这正常吗？

[2021-11-11 03:34] zhupengyang commented on #7606
实际输入维度是多少？推理得到的输出维度是多少？

[2021-11-11 03:45] Reatris commented on #7606
实际输入和输出bs维度相同
[code]

[2021-11-11 04:14] hong19860320 commented on #7598
这个是fp32模型，『Unknown precision type uint8_t for var lstm_0.tmp_3 in op rnn』这个只是一个警告，不影响模型的执行的哈~

同一个模型，在不同设备上的精度理论上上一致的，但如果输入数据不一样就可能会较大程度的影响模型精度，目前有以下几个方面会影响输入数据：
1. 摄像头拍摄图像的分辨率、模糊程度（影响较大）
2. 不同OS下OpenCV版本不同导致的图像预处理的差异（影响小）
所以，你是否能试试在Android 和 win10上给reg模型喂同一个数据，看看精度有差异吗？

[2021-11-11 05:33] zhupengyang commented on #7606
batch_size改变后，有传入新的数据嘛？

预测相关代码方便发下嘛

[2021-11-11 07:58] apupu1 opened #7609 "晶晨npu报错 param_.axes[i] < in_dims.size()"
在晶晨NPU上运行ssd_detection_demo，报错：
[F 11/11 15:50:47.838 ...0/Paddle-Lite/lite/operators/slice_op.cc:44 InferShapeImpl] Check failed: (param_.axes[i] < in_dims.size()): 1!<0 The index of dimension in axes must be less than the size of input shape.
以上该如何解决呢？

[2021-11-11 08:08] ponycloud235 opened #7610 "华为昇腾NPU适配模型转换问题"
使用官方提供的模型 https://paddlelite-demo.bj.bcebos.com/NNAdapter/models/PaddleDetection/yolov3_mobilenet_v3_large_270e_coco.tgz
，进行paddleLite 转换报错
转换命令
`paddle_lite_opt     --model_dir=./     --model_file=model.pdmodel     --param_file=model.pdiparams     --optimize_out_type=protobuf     --optimize_out=out  --valid_targets=huawei_ascend_npu,x86`

转换报错
![image](https://user-images.githubusercontent.com/27

[2021-11-11 08:21] zhupengyang commented on #7609
输入维度为0，建议检查下：
- 1. 是否正确设置输入shape。模型可能有多个输入，请确认已经设置了全部的输入（可以通过 netron.app 查看模型结构）
- 2. 同样的设置下CPU是否可以正常预测
- 3. 如果以上都是正确的，请设置环境变量 ```GLOG_v=5``` 重新运行模型后将全部log上传

---

该模型目前是不支持的，计划大约这个月或者下个月会支持起来

[2021-11-11 08:32] zhupengyang commented on #7610
可能是opt工具比较旧，建议更新opt工具，附[2.10rc版本的下载页面](https://paddle-lite.readthedocs.io/zh/latest/quick_start/release_lib.html)

[2021-11-12 01:58] ponycloud235 commented on #7610
使用下载的版本已解决。谢谢

[2021-11-12 03:40] hong19860320 commented on #7610
建议看下『华为昇腾 NPU 部署示例』这篇文档，里面有详细的环境配置和demo https://paddle-lite.readthedocs.io/zh/latest/demo_guides/huawei_ascend_npu.html

[2021-11-12 06:08] ponycloud235 commented on #7610
好的，谢谢。。

[2021-11-12 06:08] #7610 closed, assigned to zhupengyang

[2021-11-12 06:16] yingshengBD commented on #7609
我们于近期已经在amlogic npu上支持基础的mbv1-ssd，将会尽快上线

[2021-11-12 06:49] apupu1 commented on #7609
@zhupengyang @yingshengBD 感谢回复，针对amlogic npu后续是否会上线picodet？

[2021-11-12 11:50] zhenlin-work opened #7625 "该单测在同时支持 fp32 和 fp16 方面，还需要改进。"
该单测在同时支持 fp32 和 fp16 方面，还需要改进。

_Originally posted by @zhaoyang-star in https://github.com/PaddlePaddle/Paddle-Lite/pull/7604#pullrequestreview-803395932_

[2021-11-15 08:15] yingshengBD commented on #7609
算法套件比较少会直接调用各种新兴ai加速芯片，一般都是cpu gpu。但是如果你用picodet等套件工具导出了paddle inference模型，那可以在npu等ai加速芯片上部署

[2021-11-15 09:24] apupu1 commented on #7609
谢谢。

在测试image_classification_demo时，发生如下错误：
Failed to load the nnadapter device HAL library for 'amlogic_npu' from libamlogic_npu.so, libnnsdk_lite.so: cannot open shared object file: No such file or directory
命令为：./image_classification_demo ./mobilenet_v1_int8_224_per_layer 0 ./synset_words.txt ./tabby_cat.raw amlogic_npu null null null null

libnnsdk_lite.so这个库是需要自己编译吗？

[2021-11-16 01:34] #7609 closed, assigned to zhupengyang

[2021-11-16 01:49] apupu1 opened #7644 "晶晨npu报错：libnnsdk_lite.so: cannot open shared object file: No such file or directory"
C308X上测试image_classification_demo案例，发生如下报错：
`[I  1/ 1  0:47:29.609 ...ds/nnadapter/nnadapter/runtime/device.cc:122 Find] Failed to load the nnadapter device HAL library for 'amlogic_npu' from libamlogic_npu.so, libnnsdk_lite.so: cannot open shared object file: No such file or directory
`
查看[https://paddle-lite.readthedocs.io/zh/latest/demo_guides/amlogic_npu.html](url)提供的**PaddleLite-generic-demo.

[2021-11-16 03:06] yingshengBD commented on #7609
不，这个是amlogic释放的较新的一个依赖库，还没放到我们的目录中。
最晚明天，我们会重新更新一下amlogic相关的文档，届时也会更新相关demo和依赖库，会新增支持resnet系列和mbv1-ssd

[2021-11-16 13:22] AP-Kai opened #7655 "Change human_segmentation_demo to another model"
Hi~ I want to change the [human_segmentation_demo ](https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-android-demo/human_segmentation_demo) to cityscapes segmentation. The net is deeplabv3p_resnet50. I have no idea what to do with this problem, Could you give me some guidance? Thanks!

[2021-11-17 07:38] yangyukun0619 opened #7661 "ocr使用opt转换为nb模型后精度损失过大。"
opt 命令./opt --model_file=/home/yyk/111/model --param_file=/home/yyk/111/params --optimize_out=/home/yyk/rec2.10  --valid_targets=arm --optimize_out_type=naive_buffer

测试机型：oppo k9 华为mate30
目前已经验了三个版本的paddlelite，2.10,2.9,2.6, paddleocr使用的develop分支，推理模型在pc端测试准确率都在99%左右，转换为nb模型后端侧部署测试准确率只有30%左右。以前的ocr模型转换后模型精度损失都在可控范围内，这次换了训练数据集后训练出来的模型在pc端表现比以前的模型好，但是转换为nb模型后端侧部署测试准确率下降了好多。

和以前模型相比，这次模型只是替换了训练数据集，其

[2021-11-17 09:28] EricHuiK opened #7663 "opencl 部署无rnn的识别模型，error: A/Paddle-Lite: [F 11/17 9:22:22.880 .../lite/backends/arm/math/gemv_arm_int8.cc:424 write_gemv_out<float>] it doesn't support act_type: 1"

[2021-11-17 12:09] yingshengBD commented on #7644
今天demo中关于amlogic的库更新了，重新在amlogic示例页的demo链接中重新下载即可，新增支持resnet系列和mbv1 ssd

[2021-11-18 01:52] Hengmen opened #7669 "华为Ascend NPU 部署模型的问题。"
在安装华为Ascend  NPU，使用x86 CPU，运行Linux 系统的服务器中。参照官网搭建开发环境后，参照“华为昇腾 NPU 部署示例”https://paddle-lite.readthedocs.io/zh/latest/demo_guides/huawei_ascend_npu.html#id2 ,执行命令: ./run.sh ssd_mobilenet_v1_relu_voc_fp32_300 linux amd64 huawei_ascend_npu ,成功运行了示例程序。
在以上基础下，尝试更换模型进行测试，选择了网页中显示的“已支持的 Paddle 模型”中的“YOLOv3-DarkNet53”下载链接:https://paddlelite-demo.bj.bcebos.com/NNAdapter/models/PaddleDetection/yolov3_darkn

[2021-11-18 02:48] hong19860320 commented on #7669
demo中ssd_detection_demo只适用于一个输入的ssd模型，不适用于3个输入的yolo模型，解决方案如下：
1. 用 http://netron.app 查看下你的yolo模型的输入个数和数据类型
2. 参考附件的yolo_detection_demo.cc和label文件代码，修改ssd_detection_demo的预处理阶段代代码
[yolo_detection_demo.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/7559494/yolo_detection_demo.zip)

[2021-11-18 02:50] chenjiaoAngel commented on #7661
能否提供新模型和旧模型-原始模型，测试V7还是V8 呢？单线程还是多线程呢？

[2021-11-18 02:53] chenjiaoAngel commented on #7663
请问用的哪个版本的paddle-lite呢？最新develop 是没有这个提示

[2021-11-18 03:49] shentanyue commented on #7669
如上面说的，2.0+版本Paddle Detection模型导出为推理模型时，输入都会为3个。
关于输入如何给定，也可以参考：https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/tests/api/test_yolov3_darknet53_coco_fp32_v2_2_nnadapter.cc

目前我们的demo仅适配2.0以下版本的模型，后续我们会进一步更新demo，新增一些模型样例。
关于如何运行华为昇腾 NPU 部署示例里其他支持的模型：
可以参考PaddleLite代码仓里带有NNAdapter的test样例：https://github.com/PaddlePaddle/Paddle-Lite/tree/develop/lite/tests/api
正在合入的NLP/GAN/关键点检测/OCR等模型：ht

[2021-11-18 03:51] yangyukun0619 commented on #7661
你好模型已提供，v8，多线程，paddlelite2.10 , 2.9 都实验过，都是不行，训练模型和推理模型都已提供
链接：https://pan.baidu.com/s/1sT-9bCMR0lIdX056IkjGNg
提取码：043r

[2021-11-18 04:20] Hengmen commented on #7669
感谢 hong19860320 快速，准确的回答解决了我的问题，谢谢！

[2021-11-18 06:04] chenjiaoAngel commented on #7661
收到，我们会排查下

[2021-11-18 06:18] LUOrenjia commented on #6009
你好，我也遇到同样的问题，请问你解决了吗？如果解决了，是如何解决的呢？

[2021-11-18 07:16] hong19860320 commented on #7644
我想了解下，你的系统是什么呢？ ARMLinux armhf还是arm64的呢？

[2021-11-18 07:57] kismit opened #7672 "paddlelite相关的一些问题"
1.	PaddleLite可以resize输入维度，那是怎样分配内存的呢？预先申请的不够再去申请？可以无限大小申请？这样不断动态申请是否会影响执行效率？
2.	ppocr PACT量化的检测模型使用1/2线程推理（set_threads）正常，使用3个以上的线程推理崩溃（Segmentation fault (core dumped)），这是为啥？
3.	ppocr 识别和检测模型在线程中做推理，第一次推理需要使用一张大图推理，否则会在后续推理过程中推理大图的时候崩溃，这个是否和1有关？
4.	Opencl模型（--valid_targets=opencl）可以用只支持cpu推理（--with_opencl=OFF）的框架推理吗？反过来说支持opencl的推理框架可以支持cpu模型（--valid_targets=arm）的推理吗？业务需要跑一个opencl模型和cpu模型
5.	Padd

[2021-11-18 07:58] kismit commented on #7672
补充信息：
芯片：rk3326  4*A35
平台：arm-linux 64

[2021-11-18 08:08] chenjiaoAngel commented on #7672
1. 根据输入shape，结合内存复用，初始化时，分配网络推理所需的最大内存空间。运行时不会再分配
2. 这个先check 手机有几个处理器，会不会是线程数超过已有的；如果不是，建议线程数使用1，2，4 进行，如果运行多线程仍有问题，可提交issue（注明版本信息+编译选项+推理平台（CPU/GPU/NPU）+模型+预处理后的输入数据）
3. 这个问题是模型的输入shape可变下，中间某次推理的shape变大，运行crash吗？请问用的哪个版本预测库呢？最新2.9/2.10 有修复部分动态shape 的问题
4. 这个跟编译的预测库相关，可以编译一个OpenCL和 CPU 都有的预测库，在OPT转换模型时进行区分，通过valid_target 进行选择OpenCL 还是arm_cpu 推理。OpenCL 模型推理时，遇到不支持的OP，会自动调用CPU 算子
5. paddle1.0/2.0

[2021-11-18 08:10] chenjiaoAngel commented on #7655
可以参考这个文档进行替换：https://paddle-lite.readthedocs.io/zh/develop/demo_guides/android_app_demo.html

[2021-11-18 08:51] Hengmen commented on #7669
@shentanyue @hong19860320
我使用hong19860320提供的yolo_detection_demo.cc，很快成功调用了YOLOv3-DarkNet53模型，再次感谢。
之后尝试调用我们训练过ppyolo_r50vd_dcn模型，这个模型也是，程序成功保存优化模型，生成了对应的.nb文件。
我查看了ppyolo_r50vd_dcn模型的输入如下：
![image](https://user-images.githubusercontent.com/37658830/142381949-9f0f4764-74c1-4c07-9251-49166837494a.png)
与可以成功调用了YOLOv3-DarkNet53模型一致。我又增加了@shentanyue 提到的SetDetectionInput函数，检查输入结果没有报错。
以下是部分log
I1118 08:

[2021-11-18 08:57] Hengmen commented on #7669
@shentanyue @hong19860320
我尝试调用1个ppyolo_r50vd_dcn模型又出现错误，因为不知道错误的原因，再次请教。

我使用hong19860320提供的yolo_detection_demo.cc，很快成功调用了YOLOv3-DarkNet53模型，再次感谢。
之后尝试调用我们训练过ppyolo_r50vd_dcn模型，这个模型也是，程序成功保存优化模型，生成了对应的.nb文件。
我查看了ppyolo_r50vd_dcn模型的输入如下：
![image](https://user-images.githubusercontent.com/37658830/142381949-9f0f4764-74c1-4c07-9251-49166837494a.png)
与可以成功调用了YOLOv3-DarkNet53模型一致。我又增加了@shentanyue 提到的S

[2021-11-18 09:01] Hengmen opened #7675 "华为Ascend NPU 部署ppyolo模型的问题"
@shentanyue @hong19860320 （上接Issue #7669）
我尝试调用ppyolo_r50vd_dcn模型又出现错误，因为不知道错误的原因，再次请教。

我使用hong19860320提供的yolo_detection_demo.cc，很快成功调用了YOLOv3-DarkNet53模型，再次感谢。
之后尝试调用我们ppyolo_r50vd_dcn模型，这个模型也是，程序成功保存优化模型，生成了对应的.nb文件。
我查看了ppyolo_r50vd_dcn模型的输入，与可以成功调用了YOLOv3-DarkNet53模型一致。
图片如下：
![image](https://user-images.githubusercontent.com/37658830/142381949-9f0f4764-74c1-4c07-9251-49166837494a.png)

我又增加了

[2021-11-18 09:19] apupu1 commented on #7644
非常感谢，虽然“mbv1 ssd”的demo存在一点小问题，但已经搞定

[2021-11-18 09:19] apupu1 commented on #7644
arm64 问题已经解决，是缺少库文件

[2021-11-18 09:20] #7644 closed, assigned to DannyIsFunny

[2021-11-18 09:33] shentanyue commented on #7675
你好，这个模型是你们自己训练的吗？使用的是PaddleDetection的哪个版本？
这个模型里的expand_v2算子里expand_shapes_tensor属性我们当前不支持，需要改下训练组网代码里的expand_v2的参数。

[2021-11-18 09:44] Hengmen commented on #7675
我们自己训练的，PaddleDetection版本2.1.2。
谢谢，我的解决困惑。

[2021-11-18 09:45] Hengmen commented on #7675
我们自己训练的，PaddleDetection版本2.1.2。
谢谢，解决我的困惑。

[2021-11-18 09:50] Hengmen commented on #7675
这个模型是你们自己训练的吗？
        是我们自己训练的模型.

使用的是PaddleDetection的哪个版本？
        PaddleDetection版本2.1.2。

需要改下训练组网代码里的expand_v2的算子
        请问如何更改训练组网代码中的算子？

[2021-11-18 09:55] shentanyue commented on #7675
你好，我看了Paddle的API定义：https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/tensor/manipulation.py#L1840

![image](https://user-images.githubusercontent.com/34421038/142392586-8a3c2fe2-da02-4d26-8808-7196ecf5f935.png)

https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/api/paddle/expand_cn.html
![image](https://user-images.githubusercontent.com/34421038/142392831-150d980d-1119-

[2021-11-18 09:56] shentanyue commented on #7675
expand所需的shape值的类型，你可以直接改为Tensor类型，或者不包含Tensor类型的tuple或list

这样就不会走传入expand_shapes_tensor属性的代码分支了。

[2021-11-18 10:00] shentanyue commented on #7675
即API描述里，标红的这一类场景，我们当前不支持。
![image](https://user-images.githubusercontent.com/34421038/142393726-5756af95-ddb7-41ce-a484-4f2345ff3f1d.png)

[2021-11-18 10:10] shentanyue commented on #7675
还有PPYOLO模型我们最近才支持运行，你还需要基于develop分支最新代码再重新编译一下PaddleLite的so。
https://paddle-lite.readthedocs.io/zh/develop/demo_guides/huawei_ascend_npu.html#npu-paddle-lite

[2021-11-18 12:00] hong19860320 commented on #7675
@Hengmen 这个模型在2.10rc还没有支持，但理论上develop分支已经支持了 @shentanyue 你可以验证下 https://paddlelite-demo.bj.bcebos.com/NNAdapter/models/PaddleDetection/v2.3/ppyolo_r50vd_dcn_1x_coco.tar.gz

[2021-11-18 12:02] lexiaoyuan opened #7676 "使用PaddleLite转.nb模型并部署到Android端后精度下降"
基于[PaddleOCR](https://github.com/PaddlePaddle/PaddleOCR)项目，使用自定义数据集和字典训练的识别模型，inference模型识别效果很好，参考[文档](https://github.com/PaddlePaddle/PaddleOCR/blob/release/2.3/deploy/lite/readme.md)在Linux环境编译Paddle-Lite得到预测库和opt工具，使用opt工具将inference模型转为`.nb`模型后，在[android_demo](https://github.com/PaddlePaddle/PaddleOCR/tree/release/2.3/deploy/android_demo)中使用，发现识别效果变差。
同一张图，同一个字典，inference模型识别效果：
![](https://user

[2021-11-18 12:13] lexiaoyuan commented on #7676
这个问题目前是解决了（解决详情参考[https://github.com/PaddlePaddle/PaddleOCR/issues/3876#issuecomment-953445141](https://github.com/PaddlePaddle/PaddleOCR/issues/3876#issuecomment-953445141)），但是，是通过使用PaddleOCR中的原始字典，而没有用自定义的字典，仅仅做了这一个改变。所以我推测会不会是使用自定义字典训练的识别模型，通过Paddle Lite转模型后，精度会下降。究竟是因为使用了自定义的字典训练的原因（但是推理模型表现良好啊），还是使用Paddle Lite转模型出现问题（但是转换使用原始字典`ppocr/utils/ppocr_keys_v1.txt`训练的模型就没有问题啊），目前确实还没有确定。

[2021-11-18 13:32] AP-Kai commented on #7655
Thanks for your reply! Besides, I have some other questions.

1. What's is the prediction library version in
the demo [human_segmentation_demo](https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-android-demo/human_segmentation_demo).

2. And after I use opt, the nb model is unreasonable. It has dynamic input size and it's output channel is 19. I was shocked!! Of course, the pr

[2021-11-18 13:34] AP-Kai commented on #7655
By the way, the opt I used is in paddlelite==2.9.

[2021-11-19 02:59] DannyIsFunny commented on #7655
**Hello:**
**Answer to Question 1:**
- the prediction library version in this demo [human_segmentation_demo](https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-android-demo/human_segmentation_demo) is [2.10rc]()
    - opt of version 2.10rc is recommended, `python -m pip install paddlelite==2.10rc`

**Answer to Question 2:**
- You can create a model in dynamic graph mode, but o

[2021-11-19 03:02] Hengmen commented on #7675
develop分支的文件中，还是有以下代码：
if (HasInput(op, scope, "expand_shapes_tensor")) {
    LOG(FATAL) << "Not support expand_shapes_tensor now.";
}

https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/kernels/nnadapter/converter/expand_v2.cc

[2021-11-19 03:03] Hengmen commented on #7675
develop分支的文件中，还是有以下代码：
if (HasInput(op, scope, "expand_shapes_tensor")) {
    LOG(FATAL) << "Not support expand_shapes_tensor now.";
}

https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/kernels/nnadapter/converter/expand_v2.cc

[2021-11-19 03:07] LDOUBLEV commented on #7676
使用android的时候是否修改了 android demo里的默认字典？
![image](https://user-images.githubusercontent.com/26592129/142558075-e30f34fa-529a-472f-bce3-ed596cd11d8b.png)

如果原模型转nb模型没问题，更换字典重新训练模型，再转nb模型部署时注意修改字典；

[2021-11-19 03:10] lexiaoyuan commented on #7676
修改过，预处理和后处理的参数都检查过，字典都是一样的。字典不一样的话，识别结果的那个索引取出来的会是汉字。

[2021-11-19 03:11] LDOUBLEV commented on #7676
有用这个demo调试过吗：
https://github.com/PaddlePaddle/PaddleOCR/tree/release%2F2.3/deploy/lite

android demo是基于这个做的，如果lite demo换字典后运行没问题的话，可以先排除模型的问题

[2021-11-19 10:11] ZhuGeRoastedFish opened #7679 "请求提供更多的Windows Paddle lite预编译版本"
我在Win10专业版下多次尝试编译Win版Paddle lite, 先后遭遇了因网络问题无法clone第三方库、找不到dirent.h、找不到pthread.h、找不到CL/cl2.hpp等问题, 导致最终编译失败, 希望官方开发者可以提供更多的Windows预编译版本. 目前需要以下两个版本的库:
  lite\tools\build_windows.bat without_python with_extra build_x86 with_static_mkl with_dynamic_crt with_opencl  use_vs2019 以及 lite\tools\build_windows.bat without_python with_extra build_x86 with_static_mkl with_dynamic_crt use_vs2019

真诚地感谢!

[2021-11-19 10:22] chenjiaoAngel commented on #7661
我这边在shell下运行新旧模型，输出结果和paddle 是对齐的额。单线程输出结果和多线程输出结果一样的，这个是不是新模型替换后，模型对应的标签文件/其他参考文件没有同步更新呢？
paddleOCR 这有个模型更新后，输出结果不准确的[issue](https://github.com/PaddlePaddle/Paddle-Lite/issues/7676)和[ocr-issue](https://github.com/PaddlePaddle/PaddleOCR/issues/3876#issuecomment-953445141)

[2021-11-19 11:55] xingjing1 commented on #7679
收到您的需求。解决中。
您也可以根据文档https://paddle-lite.readthedocs.io/zh/latest/source_compile/windows_compile_windows.html 编译您需要的库。

[2021-11-19 13:08] lexiaoyuan commented on #7676
10张图片测试结果和在安卓端的效果一样。
(没有方向分类，相关配置已改过。这里就给出一张图片的测试结果)
- 用自定义字典训练的模型：
测试结果：(识别错误)
[code]
- 用原始字典训练的模型
识别结果：（识别正确）
[code]

[2021-11-19 13:19] lexiaoyuan commented on #7676
补充：使用自定义字典训练的模型，在Android demo中，lite demo中pdserving(详情见[https://github.com/PaddlePaddle/Serving/issues/1530](https://github.com/PaddlePaddle/Serving/issues/1530))中，10张图片的输出都是一样的，（只识别了前一两个字符）。

[2021-11-19 14:46] AP-Kai commented on #7655
Thanks for your reply! My understanding went up a little bit.

And I used paddlelite==2.10rc opt to convert the model. I move the nb model into the demo, build it but can't enjoy it. It's prediction results is incorrect. Look at the photo below.

![QQ截图20211119223944](https://user-images.githubusercontent.com/77101860/142641217-bc7ff5c7-57e6-4a87-9e70-5669fc185742.png)

Which part of the code shou

[2021-11-20 05:34] Sno-dl opened #7680 "如何编译安卓 32位库"
我的安卓开发板是32位的，运行paddleocr 的C++ 示例时报错：./ocr_db_crnn: not executable: 64-bit ELF file

请问如何编译android 32位库

[2021-11-20 06:48] shentanyue commented on #7675
您好，您可以升级Paddle的版本到2.2，或许能够解决expand_v2算子里含有expand_shapes_tensor属性的问题。

[2021-11-20 06:51] shentanyue commented on #7675
升级完后，重新导出模型。
然后您可以提供一下你的ppyolo模型的.pdmodel文件，我看下您导出的ppyolo模型结构跟我们当前支持的是否一致。

[2021-11-22 01:24] Hengmen commented on #7675
我们后续会找时间尝试一下Paddle2.2，重新导出模型后会提供。

[2021-11-22 01:40] Hengmen commented on #7675
我们后续会找时间尝试一下Paddle2.2，重新导出模型后会提供。

[2021-11-22 02:27] yangyukun0619 commented on #7661
两次模型使用的同一个标签，字典一直统一用的ppocr_keys_v1，测试了很多遍，nb模型的精度就是降低了很多，包括用ccpd数据测试，推理模型和nb模型两个的准确率误差很大

[2021-11-22 02:48] mjp9527 commented on #7680
./lite/tools/build_android.sh --arch=armv7 --toolchain=clang --android_stl=c++_static --with_extra=ON, 请在docker下编译

[2021-11-22 03:00] AP-Kai commented on #7655
The link is my original model~  [https://www.lanzouw.com/ilWbcwrji8j](https://www.lanzouw.com/ilWbcwrji8j)

[2021-11-22 03:07] chenjiaoAngel commented on #7661
嗯，这个我帮你找OCR同学问问。感觉是APP哪一块没有对齐。单纯shell下输入图片，paddle 输出和Lite 可以对齐的

[2021-11-22 03:09] ddz-mark opened #7684 "2.10.rc 升级版本后报错"
使用预编译库 cxx 中的 libpaddle_light_api_shared.so 文件，2.9.1 是可以正常运行的，但是 2.10.rc 就会报错：

A/Paddle-Lite: [F 11/22 11: 5:53.643 ...e-Lite/lite/model_parser/model_parser.cc:956 LoadModelNaiveFromMemory] The model format cannot be recognized. Please make sure you use the correct interface and model file.

opt 文件版本也匹配上了，v2.9.1 和 v2.10.rc 都尝试过。

请问大佬：The model format cannot be recognized 错误怎么解决？

[2021-11-22 03:32] yangyukun0619 commented on #7661
您好，我也是shell下新旧nb模型精度不一致，pc上新模型的推理模型效果优于旧模型的推理模型，但是移植后旧模型nb模型精度基本没有下降，新模型nb模型对比新模型的推理模型下降了很多，我这里重新给您提供一份测试数据，您帮忙看看

链接：https://pan.baidu.com/s/1tLwJkOCcIrRRbc_GHt5g4g
提取码：fz4d

[2021-11-22 03:35] chenjiaoAngel commented on #7661
您可以参考文档【C++部署示例】：https://paddle-lite.readthedocs.io/zh/latest/user_guides/cpp_demo.html，先在shell下查看精度是否OK。（对比paddle-lite的输出和paddlepaddle 输出）
APP这个我帮您再跟进下

[2021-11-22 03:36] WenmuZhou commented on #7661
您好，我这边看您的模型是静态图的，方便试一下动态图的训练和安卓demo吗，静态图现在已经不更新了，目前主要维护的是动态图分支的代码

[2021-11-22 07:36] ddz-mark commented on #7684
按照 https://github.com/PaddlePaddle/PaddleOCR/blob/develop/deploy/lite/readme.md OCR 文档进行尝试的，v2.9.1 的没问题，v2.10.rc 的 so 文件报错：LoadModelNaiveFromMemory] The model format cannot be recognized. Please make sure you use the correct interface and model file.

[2021-11-22 08:09] DannyIsFunny commented on #7655
hello, once model is changed.
the corresponding pre-process and post-process code should be updated.
pre-process:https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-android-demo/human_segmentation_demo/app/src/main/java/com/baidu/paddle/lite/demo/segmentation/preprocess
post-process: https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-android-demo/human_segm

[2021-11-22 08:09] chenjiaoAngel commented on #7680
可以参考源码编译文档进行编译：https://paddle-lite.readthedocs.io/zh/latest/source_compile/compile_env.html

[2021-11-22 08:37] xingjing1 commented on #7679
@ZhuGeRoastedFish 请把您的编译命令发一下，以及报错的截图、分支发一下。

[2021-11-22 10:11] ZhuGeRoastedFish commented on #7679
编译命令为lite\tools\build_windows.bat without_python with_extra build_x86 with_static_mkl with_dynamic_crt with_opencl use_vs2019, 分支为release/v2.10
1. 一开始执行编译命令时, 长时间等待后提示clone failed, 在删除third-party文件夹后, 通过clone国内仓库,成功将所有third-party资源载入
2. 再次执行编译命令, 大规模提示找不到dirent.h
![c3131c397f2435a408094045cd69deb](https://user-images.githubusercontent.com/77224640/142842442-69698374-e5d0-44e9-adb5-c61c8e5dcad0.jpg

[2021-11-22 10:12] ZhuGeRoastedFish commented on #7679
@xingjing1

[2021-11-23 03:00] rico2001 opened #7693 "sfnet生成opt文件导入到手机后运行时提示输入和输出的dims不一致"
你好，我使用最新版本的paddlelite现在能够成功生成opt文件，但将opt文件导入到手机后运行时提示输入和输出的dims不一致，log如下：

I/Paddle-Lite: [I 11/ 7 11:41: 3.788 .../Paddle-Lite/lite/operators/concat_op.cc:53 InferShapeImpl] out_dims[j] == input_dims_i[j] check failed!
[I 11/ 7 11:41: 3.788 .../Paddle-Lite/lite/operators/concat_op.cc:53 InferShapeImpl] 1 != 64

目前的输入是【1，3，512，512】，网络输出是【1，1，512，512】，手机上已经将paddlelite的版本更新到了2.10-rc，即更新了paddlelite.j

[2021-11-23 03:23] wzyforgit opened #7695 "请问有禁用MKL的版本或编译方式吗？"
RT，受我们公司业务影响，在x86平台下不能使用MKL库，但是我只找到了MKL静态链接和动态链接切换的方法，请问有直接禁用它的方法吗？
先谢谢各位大佬！

[2021-11-23 04:31] zhaoyang-star commented on #7695
您好，目前 Paddle Lite 编译 X86 CPU 预测库时必须依赖 MKL，所以目前无法禁用 MKL。公司业务要求不能使用 MKL 是吗？能具体解释下原因吗？我们内部也会排期去掉 MKL 依赖。

[2021-11-23 04:35] zhaoyang-star commented on #7693
您好，为了复现问题，请提供 Paddle 原始模型（即 opt 的输入模型），我们本地先复现并定位下问题原因。目前推测是模型输入shape没有给正确。

[2021-11-23 05:12] wzyforgit commented on #7695
首先感谢您的回答
具体原因是，除了Intel和AMD有x86外，还有其它一些平台也有x86，这些x86在MKL下大概率会崩溃或起反作用（参考之前MKL反向优化AMD CPU），而且这个库并没有完全开源，同时还有一些潜在的专利风险等等

[2021-11-23 05:58] #7695 closed, assigned to zhaoyang-star

[2021-11-23 06:17] yaoruinupt commented on #7545
请问一般是什么原因会导致在自己数据集下训练的模型经过lite转换后和demo中的.nb模型的输入个数不匹配呢？因为我多次修改也没有跑起来，想知道是不是因为和demo用了不同模型来训练的缘故。如果是的话用哪个模型来训数据集得到的模型和yolo_demo兼容性比较好呢。谢谢

[2021-11-24 02:32] lxwlaq commented on #7684
您好，请提供一下模型

[2021-11-24 02:35] EricHuiK commented on #7663
2.9版本，模型转换是用的python3.7 安装的lite库，转换为nb模型，CL预编译库是从lite编译好的库下载的

[2021-11-24 06:53] liujian-930212 opened #7713 "Flutter 版本的Paddle-Lite api 什么时候能出来呀"
国内开发app 用flutter 的已经很多了但是 flutter的ml框架只有一个tensorflow lite。Paddle什么时候可以安排上

[2021-11-24 11:15] ddz-mark commented on #7684
[model.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/7595163/model.zip)

[2021-11-24 11:36] lxwlaq commented on #7684
收到，这两天有空我本地复现一下

[2021-11-24 13:23] rico2001 commented on #7693
你好，附件中是生成opt前的网络模型，由于文件过大，分成了4个文件进行压缩，其中model(1).zip,model(2).zip,model(3).zip需要先分别解压，然后再解压modle.zip.谢谢！
[model.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/7595893/model.zip
[model (1).zip](https://github.com/PaddlePaddle/Paddle-Lite/files/7595895/model.1.zip)
[model (2).zip](https://github.com/PaddlePaddle/Paddle-Lite/files/7595898/model.2.zip)
[model (3).zip](https://github.com/Paddle

[2021-11-24 13:52] daming5432 commented on #7713
Paddle Lite 主要提供底层的模型推理，UI 可以在上层做一些封装。
短时间应该没有计划直接集成 Flutter，后面可能再看看
谢谢

[2021-11-25 03:03] SJJ-dot opened #7725 "运行java demo 下载模型文件解压后直接变成了.nb结尾的文件夹。放到 assets文件夹后，运行程序 报FileNotFoundException。反复看文档没看到有要求其他步骤啊"

[2021-11-25 05:02] ddz-mark commented on #7684
好的，谢谢大佬

[2021-11-25 06:44] SJJ-dot commented on #7725
[code]
这些文件下载下来解压就变成文件夹了

[2021-11-25 08:22] xiaoxiaohehe001 commented on #7725
文件夹打开就有nb文件

[2021-11-25 08:24] SJJ-dot commented on #7725
请问用哪个呢 @xiaoxiaohehe001

![QQ截图20211125162354](https://user-images.githubusercontent.com/15243969/143405450-e5e45521-ea01-4093-a50d-132feed4ccdd.png)

[2021-11-25 10:51] xiaoxiaohehe001 commented on #7725
使用这种形式的文件，或者看一下工程里的modelPath路径是否正确
![image](https://user-images.githubusercontent.com/49090790/143428176-66754e17-94dd-4a39-8bf9-a39179e89c86.png)

[2021-11-25 10:53] SJJ-dot commented on #7725
大佬看看前面，我用的是你们官方的包，文档说的是下载下来解压就能用啊😱 @xiaoxiaohehe001

[2021-11-25 11:24] xiaoxiaohehe001 commented on #7725
理论上最新版下载就能用，更新到最新的代码试一试，git clone https://github.com/PaddlePaddle/Paddle-Lite.git &&cd Paddle-Lite && git checkout v2.10-rc
使用里面的java demo

[2021-11-25 11:35] SJJ-dot commented on #7725
下载的模型文件是在git仓库里面吗？我看URL不太像呢。。。 @xiaoxiaohehe001

[2021-11-26 02:22] deshuai666 commented on #7661
您好，请问APP发现问题了吗？我这边精度也降低了

[2021-11-26 03:08] kismit opened #7738 "QAT训练得到模型使用paddle_lite_opt转换提示moving_average_abs_max_scale不支持"
paddle_lite_opt版本v2.9

$ paddle_lite_opt --model_file qat_model.pdmodel --param_file qat_model.pdiparams --optimize_out_type=naive_buffer --optimize_out=trans_qat --valid_targets=arm --quant_model=true --quant_type=QUANT_INT8
Error: This model is not supported, because 1 ops are not supported on 'arm'. These unsupported ops are: 'moving_average_abs_max_scale'.
Aborted (core dumped)

[2021-11-26 03:32] zhenlin-work commented on #7738
--model_file=qat_model.pdmodel(文件路径) --param_file=qat_model.pdiparams(文件路径) 应该有个=号，您再试试

[2021-11-26 03:34] kismit commented on #7738
加了=还是报一样的错

$ paddle_lite_opt --model_file=qat_model.pdmodel --param_file=qat_model.pdiparams --optimize_out_type=naive_buffer --optimize_out=trans_qat --valid_targets=arm
Error: This model is not supported, because 1 ops are not supported on 'arm'. These unsupported ops are: 'moving_average_abs_max_scale'.
Aborted (core dumped)

[2021-11-26 03:44] zhenlin-work commented on #7738
你这个是量化模型的op，可能不一定支持，我问问

[2021-11-26 03:49] mingfengwuye opened #7740 "how to build paddle-lite and run samples based on cambricon mlu"

[2021-11-26 06:30] kismit commented on #7738
qat量化的模型是transformer，怎么查看具体是哪些op不支持

[2021-11-26 06:33] kismit commented on #7738
paddle_lite_opt --model_file qat_model.pdmodel --param_file qat_model.pdiparams --optimize_out_type=naive_buffer --optimize_out=trans_qat --valid_targets=arm --quant_model=true --quant_type=QUANT_INT8 --print_model_ops=true
OPs in the input model include:
                                        OP_name      Host       X86      CUDA       ARM    OpenCL      FPGA       NPU       XPU     RKNPU

[2021-11-26 06:40] zhenlin-work commented on #7738
是的，这样应该可以查看到哪个后端下算子不支持，就没有Y

[2021-11-26 06:43] kismit commented on #7738
怎样看到具体是哪个Layer或者function不支持，现在是不知道哪个用到了moving_average_abs_max_scale导致， 还有这个  not_equal 是啥意思

[2021-11-26 07:02] shentanyue commented on #7740
我们目前支持寒武纪mlu220、mlu270和mlu370，但mlu220和mlu270很久没维护了，也没有相关部署文档。
mlu370最近由寒武纪的人员进行了适配，已成功运行resent50等分类网络，
https://github.com/PaddlePaddle/Paddle-Lite/tree/develop/lite/backends/nnadapter/nnadapter/driver/cambricon_mlu
mlu370的相关部署文档近期会发布，敬请等待哈~

[2021-11-26 07:31] chenjiaoAngel commented on #7738
目前Paddle. lite. 不支持moving_average_abs_max_scale 这种量化方式，当前只支持：fake_channel_wise_dequantize_max_abs、fake_channel_wise_quantize_dequantize_abs_max、fake_dequantize_max_abs、fake_quantize_abs_max、fake_quantize_dequantize_abs_max、fake_quantize_dequantize_moving_average_abs_max、fake_quantize_moving_average_abs_max 和 fake_quantize_range_abs_max

[2021-11-26 07:33] kismit commented on #7738
我应该没有主动使用moving_average_abs_max_scale这种方式，下面是config配置：

quant_config = {
    # weight preprocess type, default is None and no preprocessing is performed.
    'weight_preprocess_type': 'PACT',
    # activation preprocess type, default is None and no preprocessing is performed.
    'activation_preprocess_type': 'PACT',
    # weight quantize type, default is 'channel_wise_abs_max'
    'weight_quantiz

[2021-11-26 07:36] kismit commented on #7738
更正一下：  'activation_quantize_type': 'range_abs_max',    --》   'activation_quantize_type': ‘moving_average_abs_max’

[2021-11-26 07:38] wanghaoshuang commented on #7738
你好，可以贴一下保存量化的脚本么？从log看，在保存模型前没有做convert操作。

[2021-11-26 07:39] kismit commented on #7738
import argparse
import os
from pprint import pprint

import paddle
import paddle.distributed as dist
import yaml
from attrdict import AttrDict

from examples import reader
from pptrtrans.transformers import TransformerModel, CrossEntropyCriterion

from pptrtrans.quant.qat import QAT
from pptrtrans.utils import load_dygraph_pretrain

class PACT(paddle.nn.Layer):
    def __init__(self):
        supe

[2021-11-26 09:15] wanghaoshuang commented on #7738
确认了一下，不是convert的问题。
你能贴出来完整的可复现示例么？pptrtrans是哪个github repo？还是非公开的代码？
还有PaddlePaddle和PddleSlim的版本也贴一下？

[2021-11-26 09:16] kismit commented on #7738
pptrtrans是哪个github repo？还是非公开的代码？

[2021-11-26 09:19] kismit commented on #7738
pptrtrans是哪个github repo？还是非公开的代码？   这里pptrtrans是创建的项目的名字，然后Transformer用的是paddlenlp里面的transformer，只是不想加太多包，直接拷贝到本项目中了，paddlepaddle和paddleslim用的都是v2.2最新版本

[2021-11-26 09:28] kismit commented on #7738
[code]

[2021-11-26 09:29] kismit commented on #7738
transformer.small_quant.yaml文件内容如下：

[2021-11-26 09:30] kismit commented on #7738
transformer.small_quant.yaml内容：
[code]

[2021-11-26 09:32] kismit commented on #7738
paddlenlp的版本是2.0.0

根据上面的脚本和配置可以复现，目前项目没有真的去训练，想先调通看性能

[2021-11-26 10:43] wanghaoshuang commented on #7738
@kismit 收到，我排查下这个问题。

[2021-11-26 11:31] EricHuiK opened #7746 "MT8175 缺个库文件: /system/vendor/lib/libneuron_adapter.so,dlopen failed: library "/system/vendor/lib/libneuron_adapter.so" not found"

[2021-11-26 11:32] EricHuiK commented on #7746
NPU推理全量化模型报错

[2021-11-26 12:22] #7740 closed, assigned to zhenlin-work

[2021-11-27 06:06] apupu1 opened #7752 "晶晨C308x运行picodet报错:Can not add a aml::nn::Tensor with precision=TENSOR_QUANT_INT8_SYMM_PER_CHANNEL !"
如题，CPU可运行，NPU报错如下：

[I  1/ 1  2:17:25.165 ...le-Lite/lite/core/optimizer/optimizer.cc:112 ApplyPasses]    - Skip xpu_memory_optimize_pass because the target or kernel does not match.
[I  1/ 1  2:17:25.288 ...re/optimizer/mir/generate_program_pass.h:41 GenProgram] insts.size: 1
[I  1/ 1  2:17:25.548 ...e-Lite/lite/model_parser/model_parser.cc:562 SaveModelNaive] 2. Model is optimized and saved into

[2021-11-27 06:19] hong19860320 commented on #7752
晶晨NPU在即将发布的Paddle Lite 2.10正式版目前只支持MobileNetV1-int8、ResNet-50-int8和SSD-MobileNetV1-relu-int8（静态图）模型，picodet目前还没有适配哈，还有晶晨和瑞芯微NPU都不支持per channel的量化方式哈，只支持per layer的哦，这个是硬件的限制呢。
https://paddle-lite.readthedocs.io/zh/latest/demo_guides/amlogic_npu.html

[2021-11-27 06:29] hong19860320 commented on #7752
我们正在通过芯原TIM-VX 支持瑞芯微RK1808/RV1109/RV1126、Amlogic C308X/S905D3/A311D和 NXP i.MX 8 plus的 NPU，解决目前算子、模型支持较少的问题，到明年 Q1会得到缓解，预计今年12月底会覆盖如下开源模型：
- 分类模型
  - MobileNetV1 (int8 per_layer 全量化模型)
  - MobileNetV2 (int8 per_layer 全量化模型)
  - MobileNetV3_large/small (int8 per_layer 全量化模型)
  - ResNet50 (int8 per_layer 全量化模型)
- 检测模型
  - ssd_mobilenet_v1_voc（静态图，int8 per_layer 全量化模型）
  - ssdlite_mobilenet_v1（静态图，int

[2021-11-27 06:31] apupu1 commented on #7752
谢谢回复

[2021-11-27 06:32] #7752 closed, assigned to hong19860320

[2021-11-27 06:41] hong19860320 commented on #7746
这个看起来是系统没有带libneuron_adapter.so库导致的，由于版权的原因，我们不能直接给哈~ 你那里可以联系MTK的同学吗？可以通过升级firmware获得哦~

[2021-11-28 01:09] jjdadajj opened #7758 "Paddle-Lite编译后没有libpaddle_api_light_bundled.a这个文件，其他文件都有，是什么原因呢？"
用的是V2.9的paddle lite版本
脚本是：
./lite/tools/build_android.sh --arch=armv8 --with_cv=ON --with_extra=ON --toolchain=gcc --android_stl=c++_shared!
![image](https://user-images.githubusercontent.com/95152270/143765433-1b75701d-77aa-468d-8f9e-ebc2d4c4e555.png)

![image](https://user-images.githubusercontent.com/95152270/143765434-9851c583-e401-4f25-aacf-be57a1e4924a.png)

[2021-11-29 01:52] zhupengyang commented on #7758
- ```.a``` 是静态库，需要修改 ```--android_stl=c++_static```

[2021-11-29 02:30] hong19860320 commented on #7746
@EricHuiK 我想了解下，你那边是和 MTK 合作的硬件厂商吗？还是APP的开发商呢？

[2021-11-29 04:12] hong19860320 commented on #7746
我们这里联系到了MTK的工程师，可以直接发邮件交流哈  richie.cheng@mediatek.com

[2021-11-29 06:16] ddz-mark commented on #7684
@lxw950127 请问大佬，这个问题互现了吗？

[2021-11-29 06:25] lxwlaq commented on #7684
您好不好意思最近比较忙，还没来的及复现，我本周试一下

[2021-11-29 08:42] FreshZZ opened #7770 "opencl 推理，报错malloc image is out of max image size"
模型输入大小： h=640,w=864
代码库 最新develop分支代码
设置如下：
 const std::string bin_path = "/data/local/tmp/paddle";
const std::string bin_name = "lite_opencl_kernel.bin";
config.set_opencl_binary_path_name(bin_path, bin_name);

const std::string tuned_path = "/data/local/tmp/paddle";
const std::string tuned_name = "lite_opencl_tuned.bin";
config.set_opencl_tune(CL_TUNE_NORMAL, tuned_path, tuned_name);
config.set_

[2021-11-29 08:49] zhupengyang commented on #7758
[code]

[2021-11-29 09:48] kismit commented on #7738
请问这个问题有什么进展吗？

[2021-11-29 09:59] wanghaoshuang commented on #7738
@kismit 已经复现了您的问题，并在量化保存的模型中发现一个多余的op，该OP正常情况是应该被删除的，还在进一步定位原因。
<img width="642" alt="image" src="https://user-images.githubusercontent.com/7534971/143846864-af249a98-d35e-4420-86d9-2540312133f9.png">

[2021-11-29 13:21] wanghaoshuang commented on #7738
fixed in https://github.com/PaddlePaddle/Paddle/pull/37681

You can find and replace `qat.py` in your  `site-packages` directory of python.
https://github.com/PaddlePaddle/Paddle/blob/681f46ae63821e5a6a4e8275e4415176573e692a/python/paddle/fluid/contrib/slim/quantization/imperative/qat.py

[2021-11-30 01:26] kismit commented on #7738
根据上面修改后，转换模型报以下错：

$ paddle_lite_opt --model_file=qat_model.pdmodel --param_file=qat_model.pdiparams --optimize_out_type=naive_buffer --optimize_out=trans_qat --valid_targets=arm --quant_model=true --quant_type=QUANT_INT8
Loading topology data from qat_model.pdmodel
Loading params data from qat_model.pdiparams
1. Model is successfully loaded!
[F 11/30  1:25:24.716 ...ite/lite/model_parser/general/

[2021-11-30 06:23] guorenqing opened #7779 "tinypose模型在paddle lite平台上预测崩溃"
我准备测试一下tinypose 在ios端的人体姿态识别效果，并应用到项目开发中，结果一直运行不成功。

1. ios demo使用的是detect_demo（https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-ios-demo）
2. 预测库是2.10rc版本的https://github.com/PaddlePaddle/Paddle-Lite/releases/download/v2.10-rc/inference_lite_lib.ios.armv8.with_cv.with_extra.with_log.tiny_publish.tar.gz，下载后替换demo里面的头文件和.a文件
3. 模型是通过2.10rc版本opt工具转化的（转化步骤：下载https://bj.bcebos.com

[2021-11-30 08:03] chenjiaoAngel commented on #7779
![image](https://user-images.githubusercontent.com/38650344/144008421-86f46d68-b736-4deb-8c51-abf8f41ad395.png)
使用FP16 需要下载有FP16 算子的计算库
如果是量化模型，目前不支持int8+FP16 计算，需要将--enable_fp16=false

[2021-11-30 08:57] guorenqing commented on #7779
![Uploading image.png…]()
去掉报这个错

[2021-11-30 08:58] guorenqing commented on #7779
![image](https://user-images.githubusercontent.com/7277592/144016371-f75f8b40-b73b-4c45-9de6-286fce1b637a.png)

[2021-11-30 09:07] csy0225 commented on #7779
你看下你模型的输入和程序里面的shape输入是一致的么？

[2021-11-30 11:36] wanghaoshuang commented on #7738
@kismit 根据上面的修改，已经确保infer model中不含`moving_average_abs_max_scale` op, 需要Lite同学帮忙看下后续的错误：https://github.com/PaddlePaddle/Paddle-Lite/issues/7738#issuecomment-982193932

[2021-11-30 11:41] chenjiaoAngel commented on #7738
运行OPT 的时候，export GLOG_v=4，打开log信息，看看是在哪个OP 找不到输出

[2021-11-30 12:06] kismit commented on #7738
...
[4 11/30 12: 0:28.  1 /island/Paddle-Lite/lite/core/program.cc PrepareWorkspace:455] Var linear_49.state_0 in block 0
[4 11/30 12: 0:28.  1 /island/Paddle-Lite/lite/core/program.cc PrepareWorkspace:456]  - type 10
[4 11/30 12: 0:28.  1 /island/Paddle-Lite/lite/core/program.cc PrepareWorkspace:469]  - data type 1
[4 11/30 12: 0:28.  1 /island/Paddle-Lite/lite/core/program.cc PrepareWorkspace:45

[2021-11-30 12:16] chenjiaoAngel commented on #7738
这个看是unsqueeze2 OP 创建时，失败了，是不是它的输出name 不是 OUT 或者输出tensor 没有或者是不是少一个output 输出（XShape) , 如果有XShape 输出，则是unsqueeze2；否则用unsqueeze
![image](https://user-images.githubusercontent.com/38650344/144045753-3dfa8c7e-ccf8-4a61-9eb7-ac483566b38b.png)
你可以看看你的网络结构图，unsqueeze2 是不是少一个输出

[2021-11-30 13:27] wanghaoshuang commented on #7738
<img width="1249" alt="image" src="https://user-images.githubusercontent.com/7534971/144055727-6cb563c0-fa6d-490e-8c39-07efd7864abb.png">

可能需要替换一下这个文件中的`unsqueeze`使用方式 ， 要用paddle.unsqueeze, 而不是`tensor. unsqueeze ` :
https://github.com/PaddlePaddle/PaddleNLP/blob/develop/paddlenlp/transformers/transformer/modeling.py

@LiuChiachi 或 @FrostML 帮忙确认下？

[XShape](https://github.com/PaddlePaddle/Paddle/b

[2021-11-30 14:27] jjdadajj commented on #7758
谢谢

[2021-11-30 14:27] #7758 closed, assigned to zhupengyang

[2021-12-01 03:15] WYH150123 commented on #7693
Dear 百度技术经理：
您好，这个问题有分析进展了吗？我这边也遇到一样的问题

[2021-12-01 03:44] guorenqing commented on #7779
![image](https://user-images.githubusercontent.com/7277592/144168223-a7bed61f-5f5f-4d27-aaa8-5c96f2c1996d.png)
![image](https://user-images.githubusercontent.com/7277592/144168258-5b564bc3-d326-4b03-95fb-9aa6831f351f.png)
没看到有啥问题啊

[2021-12-01 06:40] zhupengyang commented on #7779
![image](https://user-images.githubusercontent.com/50474132/144184666-ed24e7dd-1002-4ec9-975f-467e00f5dd04.png)
看起来设置的维度和模型显示的不一样

[2021-12-01 08:05] guorenqing commented on #7779
应该怎么设置

[2021-12-01 08:08] zhupengyang commented on #7779
![image](https://user-images.githubusercontent.com/50474132/144195724-61067c39-8ab6-447c-919b-a0380728deb3.png)
模型输入是NCHW的格式，height=128，weight=96

[2021-12-01 08:12] guorenqing commented on #7779
👍

[2021-12-01 09:26] EricHuiK opened #7804 "Opencl 部署文档中提到的运行demo里面的mobilenetv1_opencl_fp32_opt_releasev2.6_b8234efb_20200423.nb模型怎么下载？"

[2021-12-01 10:15] wokebryant commented on #6406
你好，用netron怎么查看检索输入输出呢，因为netron加载模型后显示的东西太多了
![image](https://user-images.githubusercontent.com/53133330/144215949-178322bf-c26a-49ce-83a4-23c4a2b1b148.png)

[2021-12-01 12:09] deshuai666 opened #7808 "PaddleLite部署"
![image](https://user-images.githubusercontent.com/33601373/144231785-ba66fa63-d4eb-4dc4-89e1-6963351e787b.png)
使用paddlelite移动端 部署paddleocr提供像这样类似的加速方式吗？android上cpu有什么加速方式呢？

[2021-12-01 12:50] shentanyue commented on #7804
你好，目前没提供mobilenetv1_opencl_fp32_opt_releasev2.6_b8234efb_20200423.nb的下载哦。这是需要自己去用opt工具转换的。原始模型可以从这里获取： https://paddle-lite.readthedocs.io/zh/latest/quick_start/support_model_list.html

[2021-12-01 13:00] shentanyue commented on #7808
目前android手机端部署模型可以分别使用cpu、opencl和npu进行加速哦。
其中android的cpu加速，可以使用我们的arm cpu库，我们进行了针对性的优化，部署示例可参考：https://paddle-lite.readthedocs.io/zh/develop/demo_guides/arm_cpu.html
opencl加速：https://paddle-lite.readthedocs.io/zh/develop/demo_guides/opencl.html
npu加速则需要根据你手机的npu芯片来选择部署。

[2021-12-02 03:14] EricHuiK commented on #7804
好的，看到了，还有问题哈，非combined模型怎么保存呢，如果自定义的网路训练完成后怎么保存为非combined模型？

[2021-12-02 03:14] EricHuiK opened #7813 "自定义的网路训练完成后怎么保存为非combined模型，用于opencl部署？"

[2021-12-02 03:30] EricHuiK commented on #7813
只要转换成opencl支持的nb模型，那么可以用非combined模型转换，也可以用inference.pdiparams模型转换，都是可以的对吧？

[2021-12-02 03:32] EricHuiK commented on #7813
还有为什么我看官方文档可支持的模型列表中有._inference.pdiparams格式的模型文件，这个和inference.pdiparams有什么区别嘛

[2021-12-02 08:43] sangyuxiaowu commented on #6794
我也遇到了同样的问题，已在 strings.xml 更改 INPUT_WIDTH_DEFAULT 和 INPUT_HEIGHT_DEFAULT 为模型的608，同样的YOLOv3-MobileNetV3模型，APP闪退，报错一致

[2021-12-03 02:58] TangYuan-Liu commented on #7813
opt 支持对 combined 和 uncombined 两类模型进行转换（https://paddle-lite.readthedocs.io/zh/latest/user_guides/opt/opt_python.html）。

所以，可以用 uncombined 模型，也可以用 inference.pdmodel + inference.pdiparams 这种 combined 形式的模型。

[2021-12-03 03:57] #6056 closed, assigned to cryoco

[2021-12-03 05:37] TangYuan-Liu commented on #7813
关于模型如何保存为 uncombined 形式，可以参考：https://paddle-inference.readthedocs.io/en/latest/introduction/training_to_deployment.html
![image](https://user-images.githubusercontent.com/29272811/144551142-435fe756-3713-4ea0-bc43-b5eb63726295.png)

[2021-12-03 05:39] TangYuan-Liu commented on #7813
这个请发下具体的链接吧。

[2021-12-03 08:04] Dandelion111 opened #7836 "aarch64-linux交叉编译问题"
请问各位大佬如何用aarch64-linux-gnu交叉编译工具对paddlelite编译，宿主机是x86linux，目标设备是zynq arm linux平台？

[2021-12-03 08:43] EricHuiK commented on #7813
https://paddle-lite.readthedocs.io/zh/latest/quick_start/support_model_list.html  这个链接里面的MobileNetV3_large_x1_0这个模型，有多余的有._inference.pdiparams格式的模型文件

[2021-12-03 09:02] EricHuiK opened #7840 "opencl部署paddle训练的识别模型，只有mnv3主干网络，无rnn部分，为什么一直报错terminating with uncaught exception of type std::exception: std::exception？"

[2021-12-03 09:03] EricHuiK commented on #7840
但是我跑分类看是opencl支持mnv3的

[2021-12-05 09:44] jjdadajj opened #7850 "取最新的ocr模型用v2.1的库编译后，字典文件没有改，还是v1.1的，但识别是乱码，是什么原因？"
举个例子：
将“约定”识别成“盛核”；
将”最终约定“识别成了“”常痞鄱巧“，是什么原因呢？
其他的也都识别错了；

取的模型是：
![image](https://user-images.githubusercontent.com/95152270/144741427-b1d2ee09-77a5-46cf-a253-85bb6bf24f33.png)

![image](https://user-images.githubusercontent.com/95152270/144741415-0e227b4f-ac9d-469a-bedd-1b4549a00802.png)

![image](https://user-images.githubusercontent.com/95152270/144741442-b1996d98-bde8-418a-9e41-331e9858e150.p

[2021-12-05 09:45] jjdadajj commented on #7850
![image](https://user-images.githubusercontent.com/95152270/144741501-d0b90463-33c5-42f1-8b3d-89b45a594ff9.png)
文件路径是：https://github.com/PaddlePaddle/PaddleOCR/blob/release/2.3/doc/doc_ch/models_list.md#Paddle-Lite%E6%A8%A1%E5%9E%8B

[2021-12-05 10:12] lxwlaq commented on #7684
您好，我试了一下用的release2.10分支最新的代码，没有复现您的问题，请升级成release2.10试试

[2021-12-06 02:28] TangYuan-Liu commented on #7813
我解压后的列表如下，未发现你说的文件？
![image](https://user-images.githubusercontent.com/29272811/144777488-2b7b5cfb-ea84-4c42-87db-8b46bd344008.png)

[2021-12-06 02:58] ddz-mark commented on #7684
谢谢大佬，升级到 2.10 版本解决目前问题。

[2021-12-06 02:58] #7684 closed, assigned to nobody

[2021-12-06 03:56] chenjiaoAngel commented on #7850
请问模型是只有原始模型更新还是原始模型更新，且paddle-lite 的nb 模型也有更新额？

[2021-12-06 03:57] chenjiaoAngel commented on #7850
如果paddle-li te 的nb 模型有更新，请问预测库和OPT 版本是同一个吗？新模型的输入/输出处理是否有变化呢？如果有变化，请也同步更新下

[2021-12-06 06:29] csy0225 commented on #7779
这个问题解决了么现在？

[2021-12-06 07:59] DannyIsFunny commented on #7836
你好，armlinux交叉编译可以参考文档：
https://paddle-lite.readthedocs.io/zh/latest/source_compile/linux_x86_compile_arm_linux.html

[2021-12-06 08:03] DannyIsFunny commented on #7840
你好，请提供一下复现的模型和代码

[2021-12-06 08:12] Dandelion111 commented on #7836
感谢大佬的回复，还有一个疑问，如果我想用本地的一个交叉编译的工具包，我该如何配置下图中的TOOLCHAIN参数
![image](https://user-images.githubusercontent.com/48303408/144810524-6185726c-d421-4b3e-b772-98bfea46af6f.png)

[2021-12-06 09:12] EricHuiK commented on #7840
我这边的部署模型是  利用paddle 2.0.2r版本训练了一个mnv3 0.75的识别模型，没有rnn部分，部署方式是: [下载paddleLite提供的CPU+opencl编译好的库文件，替换cpu部署demo中的include文件，so,然后加载模型测试，在加载完opencl模型后创建一个1*3*32*320的预热矩阵执行推理，然后测试，会一直卡住不动。测试流程见Native.cpp代码中的initOpencl方法，具体流程是初始化opencl推理引擎后，预热测试，完了就一直卡住不动。。。。，测试方法是在AndrioidStudio中直接替换cpu相关代码为cl代码，后直接编译测试。【arm  gpu测试代码和模型:  链接：https://pan.baidu.com/s/1-ic2GInRJnTB2N7UfAklmA
提取码：exjy】

[2021-12-06 09:31] EricHuiK commented on #7813
3q，感谢

[2021-12-06 09:31] #7813 closed, assigned to nobody

[2021-12-06 09:32] EricHuiK commented on #7746
好的，明白了

[2021-12-06 09:32] #7746 closed, assigned to zhenlin-work

[2021-12-06 09:32] EricHuiK commented on #7850
字符文件没更新吧

[2021-12-07 04:17] sangyuxiaowu opened #7860 "使用paddlex训练的模型转换nb后安卓运行闪退"
更换安卓工程的nb模型后，app闪退，报错信息如下：
[code]

使用的paddle-lite-demo的yolo_detection_demo工程，其引用paddle_lite_libs_v2_10_rc.tar.gz

使用opt工具转换paddlex训练的YOLOv3-MobileNetV3模型，其模型信息如下：

[code]

显示网络结构的模型属性如下：
![企业微信截图_20211207121327](https://user-images.githubusercontent.com/17669599/144965128-ce7b6c89-3761-4f8e-a119-231fdf6335e1.png)

使用paddle-lite的2.10-rc版本转换代码如下：
[code]

在 strings.xml 更改 INPUT_WIDTH_DEFAULT 和 INPUT_

[2021-12-07 09:40] 358788887 opened #7870 "转inference模式识别率高，使用opt转成nb后，在安卓手机上测试识别完全不正确，请问是什么原因呢"
字典使用./ppocr/utils/dict/arabic_dict.txt，
如果改词典ar_dict.txt结果会乱码

下图为转成inference测试结果
![arabic](https://user-images.githubusercontent.com/94504819/145003864-b3ab8b2c-b93c-47e8-ba44-78f794b8d430.png)

下图为安卓手机测试结果
<img width="447" alt="手机端侧部署测试" src="https://user-images.githubusercontent.com/94504819/145003759-7c3353eb-c14d-4407-a1ed-6d36acf9767c.png">

[2021-12-07 09:52] EricHuiK commented on #4534
我这边使用paddleLite 2.10rc版本，使用opencl，下载预训练模型(mnv3_large 1.0)是可以run起来的，但是自己训练的mnv3_large识别模型，无rnn部分,转换成同样的opencl 支持的nb模型，在模型初始化都是ok的，但是用同样支持分类模型的cl库和文件编译一个o文件，就奔溃

[2021-12-07 09:57] chenjiaoAngel commented on #7738
这个case 已经适配，可以拉取develop 最新代码进行验证

[2021-12-07 23:28] jjdadajj commented on #7850
原因可能是输入输出没有修改，谢谢各位！

[2021-12-07 23:28] #7850 closed, assigned to chenjiaoAngel

[2021-12-08 01:02] kismit commented on #7738
我理解是使用paddle_lite_opt 需要import paddlelite，但是我看Paddle-Lite没有setup.py这种安装脚本的，那具体要怎么验证develop分支的修改呢？

[2021-12-08 02:42] mjp9527 commented on #7870
您好请问具体是什么模型，lite和opt的版本，具体使用的哪一个demo，请提供一个可以复现的环境

[2021-12-08 02:46] mjp9527 commented on #7860
请确认opt和lite库版本一致，opt和预编译库下载见：https://github.com/PaddlePaddle/Paddle-Lite/releases

[2021-12-08 03:14] EricHuiK commented on #7092
我这边同样的backbone,opencl gpu跑预训练模型的分类模型可以，但是自己用一样的主干网络训练的识别模型opencl run 也是会奔溃
raw_input_shapes: 1,3,32,320
input shape: 1,3,32,320
is_opencl_backend_valid:true
input_shapes.size():1
0 ,input_tensor.size():0,
terminating with uncaught exception of type std::exception: std::exception
/usr/local/google/buildbot/src/android/ndk-release-r17/external/libcxx/../../external/libcxxabi/src/abort_message.cpp:73

[2021-12-08 03:21] 358788887 commented on #7870
您好，上图中使用opt版本。今天在lite-v2.9编译opt，转成nb后，识别结果产生变化。但是还是不准确。还有一个问题，在使用./ocr_db_crnn，方向模型一定需要加上吗，如果只用到检测+识别nb，会报错（Segmentation fault）。config.txt已设置use_direction_classify  0。
[arabic.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/7673120/arabic.zip)
<img width="494" alt="企业微信20211208-111613@2x" src="https://user-images.githubusercontent.com/94504819/145142670-6d1788cf-2d6d-4182-ba37-240e2def285c.

[2021-12-08 03:46] kismit commented on #7738
使用develop分支代码验证有报以下问题:
/data/home/xuchunguang/work/AI/env/Paddle/Paddle-Lite-develop/build.opt/lite/api/opt --model_file=qat_model.pdmodel --param_file=qat_model.pdiparams --optimize_out_type=naive_buffer --optimize_out=qat_model_opt --valid_targets=arm --quant_model=true --quant_type=QUANT_INT8
Loading topology data from qat_model.pdmodel
Loading params data from qat_model.pdiparams
1. Model is s

[2021-12-08 03:49] sangyuxiaowu commented on #7860
确认之前使用的是同一版本（2.10-rc），也在 https://github.com/PaddlePaddle/Paddle-Lite/releases 页面替换了同一版本（2.10）的jar、arm64-v8a jni、armeabi-v7a jni文件，测试原demo模型工作正常，但是用同一版本的opt_linux工具转换自有模型后，还是出现一样的问题

[2021-12-08 07:08] mjp9527 commented on #7860
可以使用export GLOG_v=6 显示更详细的log信息

[2021-12-08 07:09] mjp9527 commented on #7860
可以提供一下具体的模型文件，pdmodel和pdiparams吗

[2021-12-08 07:13] sangyuxiaowu commented on #7860
好的，已打压缩包。 链接: https://pan.baidu.com/s/1juqQlX64Q7Azh_DY_vbnuQ 提取码: 8wu6 复制这段内容后打开百度网盘手机App，操作更方便哦

[2021-12-08 07:21] sangyuxiaowu commented on #7860
这个是更改日志级别后的所有日志信息

[code]

[2021-12-08 07:33] mjp9527 commented on #7870
具体请到OCR的repo去问吧，主页也有微信交流群：https://github.com/PaddlePaddle/PaddleOCR/blob/release/2.3/README_ch.md

[2021-12-08 07:42] mjp9527 commented on #7860
Error input tensor precision type. Input index (1) Tensor name (image) Require precision type (float) Input precision type (int32_t).  log里有一句报错信息，检查一下输入的数据类型和shape是否正确

[2021-12-08 07:45] mjp9527 commented on #7860
可以加一下我们的交流群
![image](https://user-images.githubusercontent.com/54735487/145168794-e093c9dc-a5cb-45ae-ba4c-99acffa4b199.png)

[2021-12-08 07:48] sangyuxiaowu commented on #7860
好的，加了qq二群

[2021-12-09 03:30] ysh329 commented on #4534
请用最新版，另外开新issue，不要挖坟了

[2021-12-09 03:30] #4534 closed, assigned to ysh329

[2021-12-09 03:50] kang-nanhu opened #7888 "Paddle-Lite Opencl首次推理耗时问题"
部署opencl模型后，即便使用了set_opencl_binary_path_name，每次启动android应用，均重新编译模型相关的kernel，十分耗时。是否可以将编译结果保存到cache中？
测试Paddle-Lite版本为2.10。
部分日志截取如下：（日志输出本地有所修改，其他逻辑代码未做修改）
[code]
创建predictor代码如下：
[code]
应用退出后，会有日志输出如下，表明set_opencl_binary_path_name设置正确：
[code]

[2021-12-09 07:35] kang-nanhu opened #7891 "build_android.sh ndk版本判断问题"
<img width="569" alt="图片" src="https://user-images.githubusercontent.com/9349032/145352345-71527571-0092-40d9-98dd-ee771d2ccf66.png">

依据NDK_ROOT环境变量判断ndk版本是否太草率？我的设置是：
NDK_ROOT=/xxxx/xx/android-sdk/ndk/20.0.5594570

当NDK_ROOT不符合脚本要求时，执行build_android.sh无任何输出即退出。

[2021-12-09 08:37] SJJ-dot opened #7897 "我在AI Studio GPU环境 引用Paddlelite预测库模块报错，弹窗报错，一行日志都没打印出来，paddle lite 2.10.r0"
引入库模块就报错，弹窗报错，一行日志都没打印出来，paddle lite 2.10.r0
![QQ截图20211209163649](https://user-images.githubusercontent.com/15243969/145362171-433783ce-a1d6-49fe-ae2e-e38188ade147.jpg)

[code]

[2021-12-09 08:52] SJJ-dot commented on #7897
名字改成 model.pdmodel 和 model.pdiparams 好了。虽然好了，单还是想说这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼。这个api真傻逼

[2021-12-09 08:52] #7897 closed, assigned to nobody

[2021-12-09 09:31] EricHuiK commented on #7888
![图片](https://user-images.githubusercontent.com/35529046/145370472-7682e470-4b05-448d-9b5f-3da28baa2513.png)

[2021-12-09 09:31] EricHuiK commented on #7891
直接用docker吧

[2021-12-09 09:36] kang-nanhu commented on #7888
由于CLRuntime实例为thread_local，且执行set_opencl_binary_path_name的线程与执行GetProgram线程并不一致。在执行CLRuntime::CheckFromPrecompiledBinary时GetBinaryPathName获取的binary_path_name_为空，因此进入CheckFromSource重新编译kernel。这样，每次重启应用或重建predictor均需重新编译kernel，无法从cache中获取已编译的kernel。

[2021-12-09 09:41] #7891 closed, assigned to nobody

[2021-12-09 10:15] kang-nanhu commented on #7888
CLRuntime::SaveProgram存在同样的问题，programs_precompiled_binary_为空。

[2021-12-09 10:15] EricHuiK commented on #7840
今天又验证了下，我下载你们的mnv3的分类模型，用相同的方式转换为opencl 的nb，跑起来是ok的，但是我自己训练的mnv3模型一致卡住，在模型初始化后奔溃也不报错https://pan.baidu.com/s/1-ic2GInRJnTB2N7UfAklmA
提取码：exjy

[2021-12-09 10:34] EricHuiK commented on #7840
我在https://paddle-lite.readthedocs.io/zh/develop/quick_start/support_model_list.html  这里选择官网指定的支持opencl的ch_ppocr_mobile_v2.0_rec_infer模型，列表上说是支持opencl的,但是结果也是这样sdk报错terminating with uncaught exception of type std::exception: std::exception，合入在AS中跑也是一直卡死。

[2021-12-10 01:55] zhaoyang-star commented on #7888
您在每次运行结束后，先check下设定的路径下是否有`model_kernel.bin`和`model_tuned.bin`这两个文件。再确认您的应用是否存在多线程并发情况。也可以先参考如下 cxx demo，在 adb shell 里运行测试来协助定位问题：
https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/demo/cxx/mobile_light/mobilenetv1_light_api.cc

[2021-12-10 02:20] Monday-Leo opened #7908 "picodet arm部署"
paddledetection只提供了在安卓上的lite部署，请问有无picodet在arm开发板上的部署方案？

[2021-12-10 03:30] zhaoyang-star commented on #7908
如下 2 个链接是在 ARM 开发板上部署 paddle 模型 mobilenetv1 的例子，您可以参考这个，先在开发板上跑通如下demo，然后尝试将模型替换为 picodet，然后需要把前后处理代码也加到这里面，这样就可以了。
https://github.com/PaddlePaddle/Paddle-Lite/tree/develop/lite/demo/cxx/armlinux_mobilenetv1_full_demo
https://github.com/PaddlePaddle/Paddle-Lite/tree/develop/lite/demo/cxx/armlinux_mobilenetv1_light_demo

[2021-12-10 06:52] fengyanWang opened #7912 "This model is not supported, because 1 ops are not supported on 'x86'. These unsupported ops are: 'bilinear_interp_v2'."
你好，请问这个算子在x86上什么时候可以适配？期待回复，谢谢！

[2021-12-10 07:24] kang-nanhu commented on #7888
感谢您的回复！

是的，应用存在多线程并发，predictor的初始化/销毁和Run接口的调用在不同线程中，导致产生两个CLRuntime实例。在这种情况下，一个cl_runtime实例保存了空的编译结果，另一个cl_runtime由于未设置opencl_binary_path_name而跳过从cache获取已编译的文件（即便能获取，也是一个空文件）。个人认为将cl_runtime绑定到线程不合理，理由如下：
1、实际应用中，初始化过程和预测推理逻辑分布在不同线程的情况比较常见。例如Paddle-Lite Demo中的ssd_detection_demo。
2、将cl_runtime绑定到线程给开发者造成困扰，若非开源，无法准确获知其中逻辑，排错困难。
3、将cl_runtime绑定到线程缺乏灵活性，开发者选择并发方式受制于paddle-lite的实现。
由于对opencl编程缺乏了解，若

[2021-12-10 08:43] HaoLiuHust opened #7915 "有armv7 fp16的gemv的实现吗"

[2021-12-10 10:29] Darki-luo opened #7918 "Ascend NPU 编译报错"
下载的最新的是paddle lite develop版本，按照官网教程编译过程出错：
[ 52%] Linking CXX shared library libhuawei_ascend_npu.so
/home/HwHiAiUser/Ascend/ascend-toolkit/latest/acllib/lib64/libascendcl.so: 无法添加符号: 文件格式错误
collect2: error: ld returned 1 exit status
lite/backends/nnadapter/nnadapter/driver/huawei_ascend_npu/CMakeFiles/huawei_ascend_npu.dir/build.make:1075: recipe for target 'lite/backends/nnadapter/nnadapter/driv

[2021-12-12 04:22] jjdadajj opened #7919 "图片中有些很清晰的字符，为什么用paddle ocr检测不出呢"
![image](https://user-images.githubusercontent.com/95152270/145700143-bc56040f-6197-43d8-a65b-76265b1e25ce.png)
中间的文字检测不出来
![IMG_20211211_203211](https://user-images.githubusercontent.com/95152270/145700237-2783863f-3227-4bc4-b53c-647db4817095.jpg)

[2021-12-12 07:23] haiduo commented on #3747
+1 老哥，解决了吗

[2021-12-12 10:48] zhaoyang-star commented on #7912
您好，Paddle Lite release/v2.10 版本已经在 x86 下支持了该算子。您是不是使用的 Paddle Lite 版本偏低？建议您使用 v2.10 版本。

[2021-12-12 10:52] zhaoyang-star commented on #7915
如下是 gemv fp16 源码：
https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/backends/arm/math/fp16/gemv_fp16.cc

[2021-12-12 14:53] jjdadajj commented on #7919
单独截取中间一部分进行识别，也是检测不出单词；
备注：用的是原版模型，没有修改

[2021-12-12 14:54] jjdadajj commented on #7919
单独截取中间一部分进行识别，也是检测不出单词

[2021-12-13 02:25] HaoLiuHust commented on #7915
看起来只能arm64使用？

[2021-12-13 06:18] hong19860320 commented on #7918
需要安装CANN 3.3.0，编译命令区分x86 host和arm host的~

还有，建议按照我们的文档配置好环境哈~
https://paddle-lite.readthedocs.io/zh/latest/demo_guides/huawei_ascend_npu.html

[2021-12-13 08:11] xiaoxiaohehe001 commented on #7919
请问使用的是官方PaddleOCR的demo吗，麻烦提供一下模型和单测

[2021-12-13 08:55] chenjiaoAngel commented on #7915
en，V7 FP16 还在开发中

[2021-12-13 08:56] HaoLiuHust commented on #7915
好的，期待

[2021-12-13 09:04] chenjiaoAngel commented on #7738
<img width="817" alt="image" src="https://user-images.githubusercontent.com/38650344/145782414-680bacaa-6c3f-4be6-bcef-694f0918469c.png">
这个是将FP32 模型转换为INT8 模型存储。请问您输入模型是FP32 还是Int8 额，如果已经是Int8 模型，就不用选择quant_model 为true了。
报错含义是dropout 中没有找到fix_seed 属性。我看paddle 官网 dropout介绍，是没有这个属性的。您的模型是不是不太对呢？
<img width="782" alt="image" src="https://user-images.githubusercontent.com/38650344/145782812-6621fb1f-

[2021-12-13 09:16] kismit commented on #7738
我这边的需求是使用paddlenlp中的transformer进行量化训练，然后使用paddle_lite_opt导出int8的模型放在端上跑，或者可以帮忙看下下面这个方式也行：

[code]
这个目前的报错也是moving_average_abs_max_scale这个op的问题：
[code]

这个问题在paddlepaddle源码的issue中有问，目前采用#38012这个修改并没解决问题，麻烦也帮忙看下，感谢！

[2021-12-13 09:21] wanghaoshuang commented on #7738
@kismit 这个问题在上边comments已回复如何解决了：https://github.com/PaddlePaddle/Paddle-Lite/issues/7738#issuecomment-981629125

理论上@yghstill 在#38012中的修复就是该问题。
请 @yghstill 看一下在#38012为什么没有覆盖到该case？可以参考 https://github.com/PaddlePaddle/Paddle-Lite/issues/7738#issuecomment-981629125

[2021-12-13 09:24] L-lei opened #7930 "华为Ascend NPU arm64中如何开启npu推理"
本地python运行错误,AttributeError: 'paddlelite.lite.MobileConfig' object has no attribute 'set_valid_places'

在例子中[mobilenetv1_full_api.py](https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/demo/python/mobilenetv1_full_api.py)开启npu可以用Place(TargetType.NPU, PrecisionType.FP32),c++版API也有config.set_valid_places(places);但是python文档中与我本地MobileConfig类都没有set_valid_places这个方法,那我可用什么方式开启呢?用CxxConfig好像又

[2021-12-13 09:35] zhenlin-work commented on #7930
好的，我问下相关同学 稍后回复您

[2021-12-13 09:43] shentanyue commented on #7930
您好，set_valid_places这个接口仅在CxxConfig里有。
MobileConfig 用来配置构建轻量级 PaddlePredictor 的配置信息，如 NaiveBuffer 格式的模型地址、模型的内存地址（从内存加载模型时使用）、能耗模式、工作线程数等等。
注意：输入的模型需要使用 Model Optimize Tool 转化为 NaiveBuffer 格式的优化模型，即nb后缀的模型。

若您想开启Ascend NPU推理，需在Model Optimize Tool 转化为 NaiveBuffer 格式的优化模型时，指明valid_places为huawei_ascend_npu。opt工具的使用见：https://paddle-lite.readthedocs.io/zh/develop/user_guides/opt/opt_python.html

[2021-12-13 09:46] L-lei commented on #7930
请问是在paddle_lite_opt工具中转换设置--valid_targets ,但是这个只能设置  --valid_targets VALID_TARGETS
                        The targets this model optimized for, should be one of
                        (arm,opencl, x86), splitted by space.

[2021-12-13 09:48] L-lei commented on #7930
Name: paddlelite
Version: 2.10

Wrong target 'npu' found, please check the command flag 'valid_targets'
之前试过了,没转成功

[2021-12-13 09:49] shentanyue commented on #7930
请问您使用的是哪个版本的opt工具呢，建议您更新为v2.10版本，该版本才正式支持Ascend npu算子和模型。
在设置--valid_targets时，可以设置为--valid_target="huawei_ascend_npu, x86"或--valid_target="huawei_ascend_npu, arm"

[2021-12-13 10:04] kismit commented on #7738
#7738 (comment)这个解决方法没覆盖到我后面提的InferTransformerModel的，导出的模型还是含有

[2021-12-13 10:06] kismit commented on #7738
#7738 (comment)这个并没覆盖到后面提的https://github.com/PaddlePaddle/Paddle-Lite/issues/7738#issuecomment-992259587这种情况
[code]
你们可以用上面的代码简单跑一下，如果说你们那边没问题那就应该是我这边环境可能有哪些地方没改好，感谢！

[2021-12-13 10:09] wanghaoshuang commented on #7738
@kismit 收到， @yghstill 正在确认这个问题。

[2021-12-13 10:43] L-lei commented on #7930
非常感谢,转换成功了. 找到paddle_lite_opt --help会一直显示没变原因了,用paddle_lite_opt回车打印内容与paddle_lite_opt --help内容不一样,paddle_lite_opt --help中的内容是固定的在python源码中可以看到;明天去找找RuntimeError: Paddle-Lite C++ Exception:
[F 12/13 10:34:49.832 ...le-Lite/lite/kernels/nnadapter/engine.cc:281 Engine] Check failed: (device_names.size() > 0): 0!>0 No device is specified是不是我开启docker时没指定docker创建没指定--net=host导致

[2021-12-13 10:45] #7930 closed, assigned to zhenlin-work

[2021-12-13 10:54] shentanyue commented on #7930
运行时，你可以参照这篇指导：https://paddle-lite.readthedocs.io/zh/develop/demo_guides/huawei_ascend_npu.html
ascend运行时，需要设置一些环境变量和配置，具体可以参考上述指导中的demo文件里的run.sh脚本和.cc文件。

具体你的报错，可能是由于没有设置nnadapter_device_names的原因，接口设置相关见：https://paddle-lite.readthedocs.io/zh/develop/develop_guides/nnadapter.html#id6

建议您可以先在上述指导里，根据指导步骤，去下载我们的Ascend_npu相关demo，编译和运行确保环境无问题后，再根据demo来迁移使用您的模型或工程会便捷哦。

[2021-12-13 12:08] yghstill commented on #7738
@kismit 经排查，decoder的控制流中仍有`moving_average_abs_max_scale`节点，正在解决中，请耐心等下
![image](https://user-images.githubusercontent.com/15628872/145809520-a19ebc58-d1a0-4c34-af15-a1dcd5a9dabe.png)

[2021-12-14 02:57] LeeLear opened #7945 "Alignconv 请问现在paddlelite支不支持这个算子"

[2021-12-14 03:59] hong19860320 commented on #7945
是的，暂时没有支持这个算子。我看paddle训练框架以及其它框架也不支持这个算子啊，能给个说明链接吗？

[2021-12-14 05:40] Darki-luo commented on #7918
我是按照教程来的，因为我的是Ascend310 npu的加速模块，运行环境是arm,想在x86上交叉编译，但是编译过程就报错了

[2021-12-14 05:46] LeeLear commented on #7945
我最近研究paddledetection其中s2anet使用到了可变性卷积的衍生，alignconv&nbsp;对齐卷积，请问下，目前paddlelite是否已经支持了可变形卷积，对于alignconv卷积还不支持，在移动端的旋转检测的时候，目前还不支持

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle-Lite"

[2021-12-14 08:07] yghstill commented on #7738
@kismit 再更新下Paddle 的 develop版本试下吧，上面的`moving_average_abs_max_scale `的问题已修复。

[2021-12-14 08:33] hong19860320 commented on #7945
你说的是deformable_conv吧，这个是已经支持了 https://github.com/PaddlePaddle/Paddle-Lite/blob/6f7280a91741d1c63fcb0296ac5c08c4e81c2a90/lite/kernels/arm/deformable_conv_compute.cc#L338

但alignconv是没有支持的。

[2021-12-14 13:11] sprouteer commented on #7840
您好，多谢反馈，问题已经复现，正在解决

[2021-12-15 14:00] jjdadajj commented on #7919
是官方的demo，没做任何修改；

[2021-12-15 18:11] fc657547899 opened #7974 "fix xpu l2_norm bug, test=develop, test=xpu"

[2021-12-16 02:23] Darki-luo opened #7976 "运行时出现 libprotobuf ERROR"
aarch64架构Ascend310的板子运行推理，报错,已经按照paddleLite教程编译成功api进行替换了，
报错日志
[I 12/16  9:57:33.425 ...ser/Paddle-Lite/lite/core/device_info.cc:1118 Setup] ARM multiprocessors name:
[I 12/16  9:57:33.425 ...ser/Paddle-Lite/lite/core/device_info.cc:1119 Setup] ARM multiprocessors number: 8
[I 12/16  9:57:33.425 ...ser/Paddle-Lite/lite/core/device_info.cc:1121 Setup] ARM multiprocessors ID: 0, max freq: 0, min fr

[2021-12-16 04:42] #7974 closed, assigned to nobody

[2021-12-16 06:16] Chunssu opened #7982 "Jetson nano 编译报错 Can not find CUDA library: libcudart.so"
编译命令:
./lite/tools/build.sh --build_cv=ON --build_extra=ON --arm_os=armlinux --arm_abi=armv8 --arm_lang=gcc cuda tiny_publish

报错输出
-- Found Paddle host system: ubuntu, version: 18.04.6
-- Found Paddle host system's CPU: 4 cores

-- The CXX compiler identification is GNU 7.5.0
-- The C compiler identification is GNU 7.5.0
-- Check for working CXX compiler: /usr/bin/c++
-- Check for working CXX com

[2021-12-16 07:30] shentanyue commented on #7918
你交叉编译使用的CANN版本是x86版还是arm版呢。您这个错看上去是引用了x86上的libascendcl.so

[2021-12-16 07:34] shentanyue commented on #7976
您使用的Paddlelite版本与cann的版本分别是什么呢。这个看上去是paddlelite使用的protobuf与ascend使用的protobuf版本有冲突，引发的错误

[2021-12-16 07:42] yingshengBD commented on #7982
PaddleLite 较早版本支持了一波cudaRT编译，但是后续没有继续维护因为与lite定位不符。nv系GPU还是建议应该用paddle而不是paddlelite，二者定位不同，paddlelite主打多硬件多平台轻量化

[2021-12-16 07:54] Darki-luo commented on #7976
paddlelite 使用的是2.10的分支， cann使用的是5.0.2.1的版本

[2021-12-16 07:58] shentanyue commented on #7976
您是直接使用我们提供的demo吗，有做什么更改吗？
若没有的话，我本地复现一下。

[2021-12-16 08:01] Darki-luo commented on #7976
除了重新编译好昇腾npu api替换了，没有改别的

[2021-12-16 08:04] shentanyue commented on #7976
好的，我先本地复现下。晚点回复您

[2021-12-16 08:07] Darki-luo commented on #7976
cann用的是商用版的 5.2.0.1，配的固件是1.78，这里有链接: https://pan.baidu.com/s/16s9gm5s_EoazTJMMvw8ghw 提取码: uec5

[2021-12-16 08:39] L-lei opened #7991 "华为Ascend NPU arm64中启用npu推理出现No device is specified"
通过paddle_lite_opt参数--valid_targets=huawei_ascend_npu,arm导出nb模型,在Ascend NPU arm64中出现No device is specified
错误信息
"
[F 12/16  7:53:31.217 ...le-Lite/lite/kernels/nnadapter/engine.cc:281 Engine] Check failed: (device_names.size() > 0): 0!>0 No device is specified.
terminate called after throwing an instance of 'paddle::lite::PaddleLiteException'
  what():  Paddle-Lite C++ Exception:
[F 12/16  7:53:31.

[2021-12-16 09:12] shentanyue commented on #7991
您好，你有指定NNADAPTER_DEVICE_NAMES="huawei_ascend_npu"吗。
另外，我们目前仅适配了3.3.0的CANN，5.0+版本正在适配中哦，PR还未合入。

[2021-12-16 09:20] shentanyue commented on #7991
运行时，你可以参照这篇指导：https://paddle-lite.readthedocs.io/zh/develop/demo_guides/huawei_ascend_npu.html
ascend运行时，需要设置一些环境变量和配置，具体可以参考上述指导中的demo文件里的run.sh脚本和.cc文件。

具体你的报错，可能是由于没有设置nnadapter_device_names的原因，接口设置相关见：https://paddle-lite.readthedocs.io/zh/develop/develop_guides/nnadapter.html#id6

建议您可以先在上述指导里，根据指导步骤，去下载我们的Ascend_npu相关demo，编译和运行确保环境无问题后，再根据demo来迁移使用您的模型或工程会便捷哦。

[2021-12-16 09:43] #7915 closed, assigned to nobody

[2021-12-16 09:50] L-lei commented on #7991
我之前也是运行的PaddleLite-generic-demo/image_classification_demo/shell下run.sh

编译最新的paddlelite后
# 替换 include 目录
cp -rf build.lite.linux.armv8.gcc/inference_lite_lib.armlinux.armv8.nnadapter/cxx/include/ /Work/PaddleLite-generic-demo/libs/PaddleLite/linux/arm64/include/
# 替换 NNAdapter 运行时库
cp -rf build.lite.linux.armv8.gcc/inference_lite_lib.armlinux.armv8.nnadapter/cxx/lib/libnnadapter.so /Work/PaddleLit

[2021-12-16 11:33] shentanyue commented on #7991
您把完整的日志放上来呢，我本地也复现看看。

[2021-12-16 11:40] shentanyue commented on #7991
您的lib库好像没有替换完全，少了替换libpaddle_light_api_shared.so
如果还有问题，您可以将完整的报错日志放上来，我再看看呢。

[2021-12-16 12:30] shentanyue commented on #7976
您好，我线下运行结果正常，并没有出现您所说的问题。
您在替换昇腾NPU api时，有替换完全吗？可以参考我的命令，重新替换下再试试呢。
// 替换include
cp -rf build.lite.linux.armv8.gcc/inference_lite_lib.armlinux.armv8.nnadapter/cxx/include/ PaddleLite-generic-demo/libs/PaddleLite/linux/arm64/include/

// 替换NNAdapter相关so库
cp -rf build.lite.linux.armv8.gcc/inference_lite_lib.armlinux.armv8.nnadapter/cxx/lib/libhuawei_ascend_npu.so PaddleLite-generic-demo/libs/PaddleL

[2021-12-16 12:37] shentanyue commented on #7991
我发现我们目前文档里替换头文件和库的命令，有一些错误，之后会进行改正。
您再执行下这个命令，替换下libpaddle_light_api_shared.so
cp -rf build.lite.linux.armv8.gcc/inference_lite_lib.armlinux.armv8.nnadapter/cxx/lib/libpaddle_light_api_shared.so PaddleLite-generic-demo/libs/PaddleLite/linux/arm64/lib/

另外，目前Python版的PaddleLite还不支持用Ascend NPU进行推理，近期会有计划对其支持。

[2021-12-16 14:27] hong19860320 commented on #7991
如果build.sh 内使用USE_FULL_API=TRUE 则执行的时候只依赖libpaddle_full_api_shared.so

[2021-12-16 14:33] hong19860320 commented on #7991
如果使用PaddleLite-generic-demo 可以不用执行opt转换的过程，直接将模型的inference.pdmodel和inference.pdiparams重命名成model和params放在目录xxx下，然后将这个目录xxx拷贝到PaddleLite-generic-demo/image_classification_demo/assets/models目录下（假设是一个分类模型），最后在PaddleLite-generic-demo/image_classification_demo/shell目录下直接执行
`$ ./run.sh xxx linux arm64 huawei_ascend_npu`

顺便说一句 yolo 模型不能直接用image_classification_demo执行，可以在ssd_detection_demo里用如下代码
[yolo_dete

[2021-12-16 14:41] hong19860320 commented on #7991
cann 3.3.0 我们是严格测试过的，应该没有问题，你是否可以在设置export GLOG_v=5 执行，然后的将log 保存到文本文件后上传上来，例如：
$ ./run.sh resnet50_fp32_224 linux arm64 huawei_ascend_npu >error.log 2>&1

[2021-12-16 14:44] hong19860320 commented on #7918
如果需要在x86上交叉编译生成鲲鹏920（arm）平台的库，需要执行这个脚本：
![image](https://user-images.githubusercontent.com/9973393/146392944-eef1aa61-6310-45c2-8201-154c44c16d2a.png)
https://paddle-lite.readthedocs.io/zh/latest/demo_guides/huawei_ascend_npu.html

记得把运行环境的acl目录拷到交叉编译的x86机器上，然后在执行上述命令时需要设置`nnadapter_huawei_ascend_npu_sdk_root`参数
$ ./lite/tools/build_linux.sh --arch=armv8 --toolchain=gcc --with_extra=ON --with_log=

[2021-12-17 01:18] Darki-luo commented on #7976
我的机器是一个arm的板子配的一个Ascend310的200加速模块，我又重新刷了1.77的固件，3.3.0CANN，但是运行的时候还是报这个错误，这个是需要安装protobuf3.8的依赖吗，我安装了还是报错，cpu模式一直都能成功运行，但是调用npu就会出现这个问题。

[2021-12-17 01:20] ganjunsi commented on #7982
好的 谢谢

[2021-12-17 01:20] Chunssu commented on #7982
好的谢谢

[2021-12-17 01:20] #7982 closed, assigned to nobody

[2021-12-17 01:43] Darki-luo commented on #7918
这个我在arm板子上装了toolkit把toolkit 拷到x86上解决编译了，但是运行调用npu会报错https://github.com/PaddlePaddle/Paddle-Lite/issues/7976

[2021-12-17 01:43] #7918 closed, assigned to zhaoyang-star

[2021-12-17 02:39] shentanyue commented on #7976
有可能是环境本身的问题，你有装全Ascend所需的所有依赖吗？
你的环境能安装docker吗？建议使用我们的dockerfile来配置运行环境。

[2021-12-17 02:41] shentanyue commented on #7976
若直接在物理机上运行，应该还需安装protobuf，可以参考官方的教程进行编译安装。https://gitee.com/ascend/samples/blob/v0.4.0/cplusplus/environment/presenteragent_install/README_200DK_CN.md

[2021-12-17 04:38] Darki-luo commented on #7976
我本地的开发板存储不够，安装不了docker ，按照教程编译了3.8.x的也还是这个错误。我还在华为云服务器上开了一个arm + ascend310的服务器测试了，按照官网给的教程，安装了21.0.1和1.77的驱动以及商业版cann3.3.0的toolkit,也编译了一下3.8.x的protobuf，运行结果也是这个错误，还有哪里是我没有注意到的问题吗？

[2021-12-17 05:18] Darki-luo commented on #7976
在云服务器鲲鹏+Ascend310下用su命令在root用户下运行调用好像成功了，但最后进程卡住了：

[3 12/17 13:12:31.282 ...driver/huawei_ascend_npu/model_client.cc:302 Process] Process cost 1148 us
[5 12/17 13:12:31.282 ...driver/huawei_ascend_npu/model_client.cc:329 Process] Process a ACL model success.
[3 12/17 13:12:31.282 ...le-Lite/lite/kernels/nnadapter/engine.cc:235 Execute] Process cost 1680 us
iter 2 cost: 1.730000 ms
[3 12/17 13:12:

[2021-12-17 05:33] shentanyue commented on #7976
这个不是卡住了，是昇腾内部的多线程退出报的warning，按几下回车就可以了。

结果已经有了。
![image](https://user-images.githubusercontent.com/34421038/146494362-5f918f77-79be-4a1e-88d8-b326168432b6.png)

[2021-12-17 05:40] shentanyue commented on #7976
您开发板里可能虽然编译安装了protobuf，但执行时没找到。您也用root用户编译和运行尝试下呢。
你还可以参考下这篇推文https://mp.weixin.qq.com/s/0LzmHAfB2K2o-IpsGac8yw

[2021-12-17 05:49] shentanyue commented on #7976
我看了下我这边安装protobuf是通过pip3 install protobuf==3.11.3来安装的，您也可以尝试通过python来安装protobuf试一下

[2021-12-17 05:52] L-lei commented on #7991
感谢大家的帮助，商业版cann 3.3.0下PaddleLite-generic-demo项目使用默认paddlelite是正常的，含（ No device is specified）错误具体日志放在后面链接中
[日志地址](https://pan.baidu.com/s/1KygVLQs0QDzHbUHCKsPIhA)

[2021-12-17 06:21] shentanyue commented on #7991
您好，现在是还有问题吗？
我刚刚看了您给的错误日志。
error_mobilenet_v1_fp32_224.log:   这个没有正常跑起来，您需要检查下给的模型输入。BinaryFileReader] Check failed: file_: Unable to open file: ../assets/models/mobilenet_v1_fp32_224.nd

error_1.log: /demo/cxx/mobilnetv1_light，这个demo主要是给armlinux使用的，少了设置NNAdapter相关参数的代码，因此还不能作为ascend npu的demo，所以您会报无法找到device_names的错误。

error_ssd.log： 在这个位置报Segmentation fault是由于没有正常加载Ascend的动态库，导致core dump。您需要检查下您昇

[2021-12-17 07:14] L-lei commented on #7991
好的，我再去看一下相关环境参数的设置有问题没。整个环境是安装华为昇腾 NPU 教程Docker开发环境进行，dockerfile内容下载的是$ wget https://paddlelite-demo.bj.bcebos.com/devices/huawei/ascend/kunpeng920_arm/Ascend_ubuntu18.04_aarch64.Dockerfile

以上都是在华为Atlas 800 3000推理服务器上试验，docker版本20.10.11
宿主机系统：Linux localhost.localdomain 4.19.90-2109.1.0.0108.up2.uel20.aarch64 #1 SMP Wed Oct 13 06:38:27 UTC 2021 aarch64 aarch64 aarch64 GNU/Linux
docker容器系统：Ubuntu

[2021-12-17 07:20] shentanyue commented on #7991
/demo/cxx/mobilnetv1_light 这个demo，您可以不用在意。他跟我们PaddleLite-generic-demo里使用的mobilenet_v1_fp32_224这个模型是一样的。

[2021-12-17 07:23] shentanyue commented on #7991
您看下demo里的image_classification_demo.cc的320行， mobile_config.set_model_from_file(model_dir + ".nb");，这里确认是nb吗？

[2021-12-17 07:34] shentanyue commented on #7991
您不替换那5处文件前，PaddleLite-generic-demo能正常运行image_classification_demo和ssd_detection_demo吗？

[2021-12-17 07:39] L-lei commented on #7991
现在重新编译后是这个错误，那个出现.nd错误，重新来下，可能是那个操作改变了
现在是
[4 12/17  7:34:41. 88 ...ite-v2/lite/model_parser/model_parser.cc:808 LoadModelNaiveFromFile] Load naive buffer model in 'mobilenet_v1_fp32_224.nb' successfully
[3 12/17  7:34:41. 88 ...lite/Paddle-Lite-v2/lite/core/program.cc:317 RuntimeProgram] Found the attr '__@kernel_type_attr@__': feed/def/1/4/2 for feed
[5 12/17  7:34:41. 88 ...lite/Paddle-Lite-v2/

[2021-12-17 07:40] L-lei commented on #7991
昨天也是出现过.nd，再后面又是 No device is specified

[2021-12-17 07:52] shentanyue commented on #7991
您运行错demo了哦，不要运行./mobilenet_light_api mobilenet_v1_fp32_224.nb，这个mobilenet_light_api不支持ascend npu的推理。

使用PaddleLite-generic-demo/image_classification_demo/shell里的run.sh

[2021-12-17 07:52] L-lei commented on #7991
出现过.nd错误，复现步骤，删除后重新解压PaddleLite-generic-demo，复制paddlelite 5处文件，到PaddleLite-generic-demo/image_classification_demo/shell下执行
./build.sh linux arm64
./run.sh mobilenet_v1_fp32_224 linux arm64 huawei_ascend_npu

[2021-12-17 07:54] L-lei commented on #7991
忘记加上停止docker容器，启动容器

[2021-12-17 07:54] L-lei commented on #7991
320行左右内容
318   // Run inference by using light api with MobileConfig
319   paddle::lite_api::MobileConfig mobile_config;
320   mobile_config.set_model_from_file(model_dir + ".nb");
321   mobile_config.set_threads(CPU_THREAD_NUM);
322   mobile_config.set_power_mode(CPU_POWER_MODE);

[2021-12-17 07:58] shentanyue commented on #7991
提供一下您编译的PaddleLite的版本和具体的commit节点。

[2021-12-17 08:03] L-lei commented on #7991
编译python版本中有个paddlelite-3440f194e-cp37-cp37m-linux_aarch64.whl 是commit节点？

[2021-12-17 08:05] shentanyue commented on #7991
您可以在Paddle-Lite目录执行git log -1
打印的信息放上来，例如
root@localhost:/Work/shentanyue/1216_issuer/Paddle-Lite# git log -1
commit 3232aa63b3edadbc56c5c09d76ab7d74b5a2d24e (HEAD -> release/v2.10, origin/release/v2.10)
Author: zhaoyang-star <zhaoyangstar@foxmail.com>
Date:   Wed Dec 15 15:45:32 2021 +0800

    [OpenCL] Fix op tailor error (#7778)

[2021-12-17 08:07] L-lei commented on #7991
commit 3440f194e9eddf21ff9dddd13c9ca55440e210cd (HEAD -> develop, origin/develop, origin/HEAD)
Author: zhaoyang-star <zhaoyangstar@foxmail.com>
Date:   Thu Dec 16 11:13:57 2021 +0800

    [OpTestPy] Add 4 sequence unittests (#7889)

[2021-12-17 08:46] shentanyue commented on #7991
您好，我线下也复现了，确实有这个问题。develop分支存在代码不稳定的风险，我这边先进行定位排查。
您可以先使用我们的release/v2.10版本，在Paddle-Lite目录下执行 git checkout release/v2.10，重新编译库进行替换。
release/v2.10版本我们进行了严格测试，应该是没问题的。

[2021-12-17 08:51] L-lei commented on #7991
好的，再次感谢

后面发现修改USE_FULL_API=FALSE后，不执行paddle模型转nb，直接从paddlelite模型加载；就是之前的环境错误问题了

[1 12/17  8:47:14.777 .../Paddle-Lite-v2/lite/core/device_info.cc:1137 Setup] 49152 KB
[1 12/17  8:47:14.777 .../Paddle-Lite-v2/lite/core/device_info.cc:1137 Setup] 49152 KB
[1 12/17  8:47:14.777 .../Paddle-Lite-v2/lite/core/device_info.cc:1137 Setup] 49152 KB
[1 12/17  8:47:14.777 .../Paddle-Lite-v2/lite/core/device

[2021-12-17 08:53] L-lei commented on #7991
您好，那请问下这个issues是关闭还是留着呢？

[2021-12-17 10:07] shentanyue commented on #7991
您好，定位出原因了，需要将原来的include文件夹删掉，再重新替换，就可以正常运行了。

rm -rf PaddleLite-generic-demo/libs/PaddleLite/linux/arm64/include/
cp -rf build.lite.linux.armv8.gcc/inference_lite_lib.armlinux.armv8.nnadapter/cxx/include/ PaddleLite-generic-demo/libs/PaddleLite/linux/arm64/include/
cp -rf build.lite.linux.armv8.gcc/inference_lite_lib.armlinux.armv8.nnadapter/cxx/lib/libnnadapter.so PaddleLite-generic-demo/libs/Pad

[2021-12-17 10:21] L-lei commented on #7991
多谢

[2021-12-17 10:21] #7991 closed, assigned to nobody

[2021-12-17 10:39] Darki-luo commented on #7976
安装了依然不能有效解决，但是我测试了可以正常运行的条件，在云端和本地板卡都能验证成功：

在root用户下配置环境下加了动态库路径：
export driver_home=/usr/local/Ascend
export install_path=${driver_home}/ascend-toolkit/latest
export DDK_PATH=${install_path}
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/var/davinci/driver/lib64:/var/davinci/driver/lib64/common:/var/davinci/driver/lib64/driver
export PATH=/usr/local/python3.7.5/bin:${install_path}/toolkit/bin:${instal

[2021-12-17 11:28] Darki-luo opened #8008 "昇腾NPU和NNAdapter接口配置的一些疑问"
之前在查看华为昇腾NPU的示例配置文件时，有一些NNAdapter的配置，在查阅paddle官网paddlelite时没有看到很明白，希望可以解答一下：

1.
NNADAPTER_CONTEXT_PROPERTIES="HUAWEI_ASCEND_NPU_SELECTED_DEVICE_IDS=0"
0代表npu卡吗
HUAWEI_ASCEND_NPU_SELECTED_DEVICE_IDS是在哪里查看定义说明呢？

2. 另外，能否完善一下NNAdapter接口文档，目前不是很能看懂

[2021-12-18 05:36] jjdadajj commented on #7919
https://github.com/paddlepaddle/PaddleOCR/tree/release/2.3/deploy/android_demo
实际上随手拍英文比较多的文本，中间都有一大段检不出来

[2021-12-18 15:22] hong19860320 commented on #8008
1. 在Atlas 300I (3000/3010)卡代表第几个芯片，因为一张 Atlas 300I (3000/3010) 卡是由4个昇腾310的芯片组成的，所以HUAWEI_ASCEND_NPU_SELECTED_DEVICE_IDS代表的第几个昇腾310芯片。
2. 但是华为新一代发布的 Atals 300I pro卡则只是由一个昇腾710芯片构成，所以HUAWEI_ASCEND_NPU_SELECTED_DEVICE_IDS既代表第几张卡，也代表第几个昇腾710芯片。

详细的NNAdapter 用户接口，可以查看文档 https://paddle-lite.readthedocs.io/zh/latest/develop_guides/nnadapter.html#id6 的『Paddle Lite 为 NNAdapter 新增的接口』章节，这些接口均适用于基于NNAdapter

[2021-12-18 15:31] hong19860320 commented on #7976
一般是用HwHiAIUser用户，我觉得root用户下能执行正确，可能是在这个情况下调用的protobuf版本没有冲突，反之，HwHiAlUser用户环境下的protobuf版本出现了冲突。

[2021-12-20 09:57] xwdreamer commented on #5538
@cryoco 有构建jetson镜像的教程吗？如何在容器内使用。

[2021-12-21 03:17] guoge6 commented on #7919
我也发现了这个问题，这个安卓demo识别效果不好，空格识别不出，用X代替的

[2021-12-21 15:16] tonywang-sh opened #8042 "CONCAT, uid 6 must have same quantize parameter! in rockchip npu"
For a ssd mobilenet v1 liked model, it reports errors about CONCAT layer in rockchip npu. The errors is as the below,
![image](https://user-images.githubusercontent.com/731029/146951484-e2011ddc-f7ff-4e05-9655-29bacd47a292.png)

the uid 6 of concat module and its related flatten layers are as the below.
![image](https://user-images.githubusercontent.com/731029/146951426-c24cf4ca-e821-4cd4-9beb-8c2

[2021-12-21 15:30] jjdadajj opened #8043 "请问paddle ocr的demo可以修改det_db_score_mode吗？"
https://blog.csdn.net/liubing8609/article/details/121196441
**上述网址中有如下一段话：**

可以通过调整det_db_score_mode改变对稍微弯曲文本的检测效果，请问官方提供的demo里面可以修改这个吗？
(https://github.com/paddlepaddle/PaddleOCR/tree/release/2.3/deploy/android_demo)
官方提供的推理模型支持修改这个参数吗？比如如下链接下载的paddle lite
https://github.com/PaddlePaddle/PaddleOCR/blob/release/2.3/README_ch.md#PP-OCRv2
![image](https://user-images.githubusercontent.com/95152270/

[2021-12-22 02:21] #7976 closed, assigned to nobody

[2021-12-22 06:57] YY-GAO opened #8052 "华为Mate 30 Pro NPU 部署失败"
你好，我参考[安卓示例工程](https://paddle-lite.readthedocs.io/zh/latest/demo_guides/android_app_demo.html#android)中的`mobilenet_classification_demo`，将其修改成NPU的部署，出现了如下的错误：
[code]
其中修改的内容是`Pipeline.cc`中的：
[code]
代码中`model_npu.nb`是使用命令
[code]
其中编译文件也进行了修改，树状结构为：
[code]
希望能进行一下解惑，谢谢

[2021-12-22 07:40] chenjiaoAngel commented on #8052
请先参考文档：https://paddle-lite.readthedocs.io/zh/latest/demo_guides/huawei_kirin_npu.html，验证shell下是否可以跑通

[2021-12-22 07:57] YY-GAO commented on #8052
shell可以跑通

[2021-12-22 11:25] yingshengBD commented on #8052
有可能是demo工程中的so和你用的opt不匹配。
1，确认opt所用的版本，是下载来的还是自己编译的，具体是啥版本。
2，确认工程中用到的paddle相关so和头文件是何版本
3，在安卓工程中加一行： putenv("GLOG_v=5");    然后麻烦重新收集日志再贴上来

[2021-12-22 21:49] renjithsasidharan opened #8069 "20 ops are not supported on 'arm"
**Paddle-Lite version: 2.9**

`(paddleocr) api ❯ ./opt --model_file=rec_CRNN/best_accuracy.pdmodel --param_file=rec_CRNN/best_accuracy.pdparams --optimize_out=./rec_CRNN_out --valid_targets=arm  --optimize_out_type=naive_buffer`

`Error: This model is not supported, because 20 ops are not supported on 'arm'. These unsupported ops are: 'adam, batch_norm_grad, concat_grad, conv2d_grad, create_double

[2021-12-22 22:00] #8069 closed, assigned to nobody

[2021-12-23 15:18] hong19860320 commented on #8052
这个目录有问题，应该将所有so都放在libpaddle_light_api_shared.so同级目录下，不要额外加『huawei_kirin_npu』目录，可以这样
`
.
├── cxx
│   ├── include
│   │   ├── paddle_api.h
│   │   ├── paddle_image_preprocess.h
│   │   ├── paddle_lite_factory_helper.h
│   │   ├── paddle_place.h
│   │   ├── paddle_use_kernels.h
│   │   ├── paddle_use_ops.h
│   │   └── paddle_use_passes.h
│   └── libs
│       ├── arm64-v8a
│       │  ├── libai_fmk_dnn

[2021-12-23 15:27] hong19860320 commented on #8042
RK 要求concat所有输入、输出tensor的量化scale要相等，但是从log上看，第一个tensor的scale和其它的不一样，可能是这个pass的bug https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/core/optimizer/mir/restrict_quantized_op_with_same_input_output_scale_pass.cc

麻烦把量化后的模型上传一下哈，@yingshengBD  复现一下哈~

[2021-12-24 12:07] kismit commented on #7738
可以导出模型了，但是导出的量化模型大小和没量化的模型一样，是不是有问题

[2021-12-26 14:49] leiqing1 opened #8106 "mac 编译paddle Lite的官方Demo出错"
按照官方文档编译https://paddle-lite.readthedocs.io/zh/develop/source_compile/macos_compile_android.html
执行./lite/tools/build_android.sh后显示如下错误：

-- Check for working CXX compiler: /Users/XX/Library/android-ndk-r17c/toolchains/aarch64-linux-android-4.9/prebuilt/darwin-x86_64/bin/aarch64-linux-android-g++
-- Check for working CXX compiler: /Users/XX/Library/android-ndk-r17c/toolchains/aarch64-linux-android-

[2021-12-27 01:44] slackzh commented on #6711
树莓派本身怎么支持 OpenCL 呢，谢谢

[2021-12-27 03:15] ZhuGeRoastedFish opened #8109 "PaddleLite推理由yolov5项目导出的yolov5s模型速度异常缓慢"
**测试机型:**
高通骁龙855plus
**测试原始模型:**
yolov5项目中自带的yolov5s.pt(14.02MB)
**模型转换过程:**
1.pt转onnx指令: python export.py --weights yolov5s.pt --include  onnx
具体转出代码为:
torch.onnx.export(model, random_input, export_file_path,
verbose=False,
opset_version=11,
training=False,
do_constant_folding=True,
input_names=['images'],
output_names=['output'],
dynamic_axes=None),得到yolov5s.onnx(27.97MB)

2.onnx模型转paddlepaddle

[2021-12-27 05:22] zhaoyang-star commented on #8106
感谢反馈，我们本地已复现该问题，正在尽快解决中，解决后会在此更新进度信息。

[2021-12-27 07:17] zhaoyang-star commented on #8109
您好，感谢反馈，我们先尝试复现下问题，有进展会及时在这里同步。

[2021-12-27 07:32] chenjiaoAngel commented on #8109
这个是多输出的网络，NCNN 给的模型测试demo，默认只跑单输出（只跑一条分支网络），所以性能优于Paddle-lite
![image](https://user-images.githubusercontent.com/38650344/147446751-44dfff85-b919-4f63-8586-890c19d6f9f6.png)
建议修改NCNN 实现：
![image](https://user-images.githubusercontent.com/38650344/147446962-d8ee374a-2edc-47ba-9935-f3265302f3ac.png)

https://github.com/Tencent/ncnn/blob/master/benchmark/benchncnn.cpp#L144
另外，你也可以用NCNN 的profiler 工具查看

[2021-12-27 08:27] weishengying commented on #8043
hello，这个问题是OCR的问题，可以去OCR的仓库中提交issue，感谢提问。

[2021-12-27 09:08] yangjingbo opened #8112 "face detection demo2 进入应用闪退，提示无法播放视频"
采用 first order model的face detection demo2示例，用Android studio编译，成功后安装到 arm64-v8a的手机上，提示无法播放视频

[2021-12-27 09:15] yangjingbo commented on #8112
https://github.com/PaddlePaddle/PaddleGAN/blob/develop/docs/zh_CN/tutorials/motion_driving.md
这个链接地址里面最下面的 FORM LITE DEMO

[2021-12-27 10:01] yangjingbo commented on #8112
12-27 17:54:53.973  1891  1891 D Launcher.CellLayout: touch item:ShortcutInfo, id=124, itemType=0, user=UserHandle{0}, mIconType=0, pkgName=com.baidu.paddle.lite.demo.fom, className=com.baidu.paddle.lite.demo.fom.MainActivity, screenId=2, container=-100, cellX=3, cellY=4, spanX=1, spanY=1, isLandscapePos=false
12-27 17:54:54.088  1262  2811 I ActivityTaskManager: START u0 {act=android.intent.actio

[2021-12-27 14:44] zhaoyang-star commented on #8112
感谢反馈，我们正在本地复现该问题，并积极解决跟进，有进展会第一时间在此同步。

[2021-12-27 14:44] #8109 closed, assigned to nobody

[2021-12-28 01:44] ZhuGeRoastedFish commented on #8109
谢谢回复! 这个模型输出有4项, 所以会同时跑4个分支吗?  但是其中只有[1,25200,85]那个输出对应的分支是我需要的, 如何在paddle中只跑这个分支, 从而进行提速呢?

[2021-12-28 01:47] leiqing1 opened #8118 "mac下make编译paddle lite自带demo后，出错../../..//cxx/lib//libpaddle_light_api_shared.so: undefined reference to `stderr'"
在Paddle-Lite/build.lite.android.armv8.gcc/inference_lite_lib.android.armv8/demo/cxx/mobile_light下执行make命令，出现如下错误：
XX@MacintoshdeMacBook-Pro mobile_light % make
NDK_NAME: android-ndk-r17
NDK_VERSION: 17
HOST_NAME: darwin
HOST_TARGET: darwin-x86_64
/Users/XX/Library/android-ndk-r17c/toolchains/aarch64-linux-android-4.9/prebuilt/darwin-x86_64/bin/aarch64-linux-android-g++ --sysroot=/Users/XX/Library/

[2021-12-28 02:20] TangYuan-Liu commented on #8106
你好，我们正在修复问题。建议使用 CMake3.10版本，可正常编译。

[2021-12-28 02:26] TangYuan-Liu commented on #8118
你好，请详细描述一下编译机器软硬件参数、编译目标以及编译命令等信息吧，谢谢。

[2021-12-28 02:31] leiqing1 commented on #8118
<img width="316" alt="图片" src="https://user-images.githubusercontent.com/54695910/147521271-25ea95c1-0450-4816-8a0d-f5470379e4a6.png">

是考虑在mac下编译安卓的demo，编译命令：make
该文件路径下有：Makefile、mobilenetv1_light_api.cc

[2021-12-28 02:31] leiqing1 commented on #8118
我听说是在mac下不支持安卓demo的编译，没看到相关文档。

[2021-12-28 02:33] zhaoyang-star commented on #8112
您好，直接使用 https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-android-demo/face_detection_demo

[2021-12-28 02:42] yangjingbo commented on #8112
您好，主要想看看first order motion 这个android端的效果，不知有没有Android端的fom的例子哈

[2021-12-28 02:44] Darki-luo commented on #8008
在昇腾的demo中，写入NNADAPTER_MODEL_CACHE_TOKEN不能自定义命名，但lite_api读取的时候可以读到自定义的字符命名，我看了一下文档的说明“model_cache_token：根据子图输入、输出、设备信息按照一定规则生成的唯一标识子图的 32 个字符”，我想自定义为带有模型名称的字符，这个可以实现吗？

[2021-12-28 02:55] shentanyue commented on #8008
您可以更改下列文件「Paddle-Lite/lite/kernels/nnadapter/engine.cc」的 GenerateModelCacheToken 函数的返回值。
但若改为带有模型名称的字符，需要自己对代码魔改一下了，需要将模型名称传入nnadapter/engine.cc里。

[2021-12-28 06:54] wincentytg commented on #5009
lib/arm64-v8a/libpaddle_lite_jni.so" is 32-bit instead of 64-bit  同样的问题 解决了吗? @wjl8

[2021-12-28 07:05] chenjiaoAngel commented on #8109
这个paddle 暂时没有只跑一个分支的方法。如果你的模型只需要一个输出话，可以在模型训练或存储的时候，只保留单分支网络结构

[2021-12-28 08:34] j-river opened #8126 "使用docker环境、paddlelite releasev2.10编译profile工具，编译过程中总是报cp: cannot stat '/Paddle-Lite/build.lite.android.armv8.gcc/lite/api/paddle_use_kernels.h': No such file or directory"

[2021-12-28 08:38] j-river commented on #8126
![image](https://user-images.githubusercontent.com/48286996/147546661-70700d5a-d55c-40ab-83d1-d73f466ecf94.png)

[2021-12-28 12:33] samychen opened #8130 "Error: This model is not supported, because kernel for 'conv2d' is not supported by Paddle-Lite."
Linux 18.0.4
paddle-lite branch  v2.10
model https://paddle-inference-dist.bj.bcebos.com/mobilenet_v1.tar.gz
opt_linux ttps://github.com/PaddlePaddle/Paddle-Lite/releases/download/v2.10/opt_linux

error info
WARNING: Logging before InitGoogleLogging() is written to STDERR
I1228 12:24:39.191057 71268 paddle_api.cc:50] need to check fp16 valid:0
is_opencl_backend_valid:0
Unsupport opencl nb model.
W

[2021-12-28 13:07] daming5432 commented on #8118
你好，可以按照该文档流程再试一下https://paddle-lite.readthedocs.io/zh/develop/source_compile/macos_compile_android.html

[2021-12-28 13:09] daming5432 commented on #8126
你好，请将你的编译环境，编译命令发一下。我复现一下您的问题

[2021-12-28 13:10] daming5432 commented on #8126
你的机器是mac还是linux呢

[2021-12-28 13:13] daming5432 commented on #8130
你好，你是说opt工具转模型是出错吗，还是运行时出错？

[2021-12-28 13:55] samychen commented on #8130
转模型没有问题，运行出错了，macos预编译版本v2.10也是同样的问题

[2021-12-28 14:52] samychen commented on #8130
我发现转换模型必须加上--valid_targets=x86，否则会就会出现这个错误

[2021-12-29 01:21] Fenghaze opened #8136 "官方ocr demo替换模型文件后，精度下降"
使用PaddleOCR训练了模型，在windows下能够正常检测和识别，把模型转换为.nb文件后，移植到android后精度就下降了很多，请问如何解决？
- windows下的预测结果：
![4106264243,3607704132](https://user-images.githubusercontent.com/40448037/147618460-3d467b0f-344f-423e-a102-2678a3a776eb.jpg)
- android下的预测结果：
![P8P%0E43PUQSKAF39YK~QZV](https://user-images.githubusercontent.com/40448037/147618482-7cf4f9ca-637e-477b-a2e2-279f4fa13261.png)

[2021-12-29 01:33] #8130 closed, assigned to daming5432

[2021-12-29 01:52] j-river commented on #8126
采用得是paddle提供得docker编译环境，是linux系统，docker运行在win上，使用v2.10的文档和代码进行编译，指令如下：./lite/tools/build_android.sh \
  --arch=armv8 \
  --toolchain=clang \
  --android_stl=c++_static \
  --with_profile=ON \
  full_publish

[2021-12-29 02:02] j-river commented on #8126
docker image:  docker pull paddlepaddle/paddle-lite:2.0.0_beta

[2021-12-29 02:44] daming5432 commented on #8126
我这里暂时没有windowns,看这个错误项c++库连接不上，你要不--with_profile=OFF先试一下。我找一下windows电脑

[2021-12-29 02:48] rose-jinyang opened #8137 "English ReadMe"
Hello
How are you?
Thanks for contributing to this project.
I think that an English help document should be provided for wider usage of this library in the world.
Could u provide English for all the ReadMe files?
Thanks

[2021-12-29 04:40] LielinJiang commented on #8112
https://github.com/PaddlePaddle/PaddleGAN/blob/develop/docs/en_US/tutorials/motion_driving.md#4-deployment 可以参考这里个例子

[2021-12-29 06:45] j-river commented on #8126
试了默认的编译参数，还是报这个错。lite/api路径下确实没有paddle_use_kernels.h这个文件

[2021-12-29 09:05] xiaoxiaohehe001 commented on #8137
You are welcome. We don't provide a detailed English user help document  at present.  But we will  give serious consideration to this. Thanks for your contribution.

[2021-12-29 09:59] chiaitian opened #8144 "These unsupported ops are: 'eye'"
The paddle.eye is not supported! What can i do?

[2021-12-29 10:19] guoge6 commented on #8136
您好！可以请教一下您吗？我最近也在看安卓demo

[2021-12-29 10:24] xiaoxiaohehe001 commented on #8144
Sorry, this op is not supported at present.

[2021-12-29 10:31] xiaoxiaohehe001 commented on #8136
可以参考一下这个issue  https://github.com/PaddlePaddle/Paddle-Lite/issues/7676
PaddlePaddle/PaddleOCR#3876 (comment)

[2021-12-29 10:33] guoge6 commented on #8136
方便留个联系方式吗？一起交流学习

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle-Lite"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年12月29日(星期三) 晚上6:31
***@***.***&gt;;
***@***.******@***.***&gt;

[2021-12-30 01:17] rose-jinyang commented on #8137
NCNN and MNN support English help.
I think that English help should be supported so that the "Paddle-Lite" can be more widely used in the world.

[2021-12-30 04:19] thomaszheng opened #8152 "v2.10.0 版本 android armv8 编译库大小不一致"
将lite/tools/build_android.sh 中 修改编译选项 WITH_EXTRA=ON,WITH_CV=ON，生成的编译库大小：4.9M

https://paddle-lite.readthedocs.io/zh/latest/quick_start/release_lib.html 下载官方编译的库文件大小只有：3.1M
armv8 | gcc | c++_shared | ON | ON | v2.10

请问一下，官方提供的编译库的编译参数是什么？

[2021-12-30 05:28] zhenlin-work commented on #8152
好的 我先看看后回复您。

[2021-12-30 05:41] zhenlin-work commented on #8152
您是用最新2.10代码源码编译出来的库大小是4.9M是吗？

[2021-12-30 05:43] yangjingbo commented on #8112
您好，这个例子给的 demo不行下载，(https://paddlegan.bj.bcebos.com/applications/first_order_model/paddle_lite/apk/face_detection_demo 2.zip)；
<html><body>
<div class="toolbar"><div class="devtools-separator"></div><input class="searchBox devtools-filterinput" placeholder="过滤 JSON"></div><div class="panelContent">
下载链接里面有这个错误
  |  
-- | --
code | "NoSuchKey"
message | "The specified key does not exist."
requestId

[2021-12-30 05:48] thomaszheng commented on #8152
对, 就是tagv.2.10   fec57de88 这个

[2021-12-30 05:57] thomaszheng commented on #8152
编译脚本：./lite/tools/build_android.sh   改动 WITH_EXTRA=ON,WITH_CV=ON，其他未修改。ndk版本：android-ndk-r21d，cmake:3.20.0。系统时mac os这个应该是没有影响的

[2021-12-30 05:58] zhenlin-work commented on #8152
您这个应该不是最新的代码，我刚用最新代码编译出来的库是3.1M左右的，git log看一下最新应该是12.15的commit 3232aa63b3edadbc56c5c09d76ab7d74b5a2d24e
![image](https://user-images.githubusercontent.com/56170639/147725838-ad9ac1c9-ebf2-4a04-89ce-d572c75f6b17.png)
命令也是./lite/tools/build_android.sh --arch=armv8 --toolchain=gcc --android_stl=c++_shared --with_extra=ON --with_cv=ON

分支应该是release/v2.10

[2021-12-30 06:22] thomaszheng commented on #8152
在release/v2.10分支 3232aa6 ，编译后试3.9M
![image](https://user-images.githubusercontent.com/8412025/147726842-1baea717-39f9-49bf-8ff4-7811224dbca2.png)

./lite/tools/build_android.sh --arch=armv8 --toolchain=gcc --android_stl=c++_shared --with_extra=ON --with_cv=ON

[2021-12-30 06:22] Fenghaze commented on #8136
QQ 961480319

[2021-12-30 06:23] Fenghaze commented on #8136
我用的是官方提供的en_dict.txt字典训练的

[2021-12-30 06:38] zhenlin-work commented on #8152
那可能是用的ndk版本不一样，我们这边环境一般装的android-ndk-r17c，在docker里面编译的，linux的，你如果方便可以试下哈

[2021-12-30 06:39] yangjingbo opened #8156 "PaddleLite demo不能下载"
https://github.com/PaddlePaddle/PaddleGAN/blob/develop/docs/en_US/tutorials/motion_driving.md#4-deployment
这里面最下方的demo例子不能下载

[2021-12-30 06:43] zhenlin-work commented on #8156
好的 我看下，已经找负责的同学帮忙看了。

[2021-12-30 07:41] thomaszheng commented on #8152
确实是ndk的原因，我切换到android-ndk-r17c版本，一致了。多谢反馈

[2021-12-30 08:10] zhenlin-work commented on #8152
好的，没问题的话 那我关闭issue了哈

[2021-12-30 08:16] thomaszheng commented on #8152
armv8的编译正常，armv7的编译会报这个错误。
我看issue中2020年有人遇到过，最近好像没有人遇到，这个是需要怎么修改呢？

[code]

[2021-12-30 08:24] zhenlin-work commented on #8152
我刚在我们的环境里编译没有问题，我帮你问问吧

[2021-12-30 08:28] chenjiaoAngel commented on #8152
V7 编译的时候需要加上这个 -mfloat-abi=softfp -mfpu=neon
![image](https://user-images.githubusercontent.com/38650344/147734636-dbd82d07-f7a0-482b-946f-bb0b3684331e.png)

[2021-12-30 08:30] zhenlin-work commented on #8152
您用的还是之前这个编译命令直接编译的源码吗./lite/tools/build_android.sh --arch=armv7 --toolchain=gcc --android_stl=c++_shared --with_extra=ON --with_cv=ON

[2021-12-30 08:30] thomaszheng commented on #8152
./lite/tools/build_android.sh --arch=armv7 --toolchain=gcc --android_stl=c++_shared --with_extra=ON --with_cv=ON -mfloat-abi=softfp -mfpu=neon  这样修改就可以，还是需要我在build_android.sh 这个脚本中增加？

[2021-12-30 08:30] thomaszheng commented on #8152
对，是这个命令

[2021-12-30 08:31] chenjiaoAngel commented on #8152
你是在什么平台编译呢？我们在Linux下编译OK。这个 -mfloat-abi=softfp -mfpu=neon 选项在lite 的cmake 有添加

[2021-12-30 08:36] thomaszheng commented on #8152
我的编译环境是mac os Catalina 10.15.7 (19H1030)

[2021-12-30 08:42] zhenlin-work commented on #8152
我们的lite的cmake是添加了的，你是不是自己写了工程，然后还加了cmake编译？

[2021-12-30 08:47] thomaszheng commented on #8152
![image](https://user-images.githubusercontent.com/8412025/147735928-d639afd7-0c57-445f-846c-be8542478a6c.png)

没有修改任何代码的，这里的改动也是执行这个命令 `./lite/tools/build_android.sh --arch=armv7 --toolchain=gcc --android_stl=c++_shared --with_extra=ON --with_cv=ON` 自动生成的

[2021-12-30 08:51] chenjiaoAngel commented on #8152
源码有定义：
![image](https://user-images.githubusercontent.com/38650344/147736264-5ad919b2-a048-4eba-b62e-98c053ed41f2.png)

这个内容与V7 V8 无关，建议看看第一个错误信息

[2021-12-30 08:51] zhenlin-work commented on #8152
感觉是环境不对，建议您安装docker，在docker下编译吧

[2021-12-30 09:15] thomaszheng commented on #8152
在 Ubuntu 18.04.6 LTS 的机器上

`./lite/tools/build_android.sh --arch=armv7 --toolchain=gcc --android_stl=c++_shared --with_extra=ON --with_cv=ON`
也会报这个错误

[code]

可能还是环境的问题，看来还是要用docker试试

[2021-12-30 09:27] chenjiaoAngel commented on #8126
这个是编译的时候，自动生成的头文件
<img width="769" alt="image" src="https://user-images.githubusercontent.com/38650344/147738954-c8f76bb7-b83f-4734-bc94-a3611ed644ac.png">

[2021-12-30 11:14] roMummy opened #8165 "About iOS orc model"
model: ch_ppocr_mobile_v2.0_det_infer
Log:
[code]

[2021-12-30 11:29] zhenlin-work commented on #8165
请问您是跑arm OpenCL 还是 metal 模型呢，OpenCL的话咱们目前还没有支持feed op的哈

[2021-12-30 13:48] hong19860320 commented on #8008
不建议魔改，自己可以再包一层，想用啥文件名都可以，最后可以调用set_nnadapter_model_cache_buffers 通过内存方式设置就行，我理解在最终部署的时候会将nb文件、所有 nnc 模型缓存文件以及token名称组织到一个文件里，然后对这个文件进行加密。在设备运行前，将这个文件解密后，然后将nb buffer、nnc buffer都通过lite提供的内存设置接口设置到cxxconfig或者mobileconfig中，最后创建predictor进行推理。

[2021-12-30 13:48] hong19860320 commented on #8008
不建议魔改，自己可以再包一层，想用啥文件名都可以，最后可以调用set_nnadapter_model_cache_buffers 通过内存方式设置就行，我理解在最终部署的时候会将nb文件、所有 nnc 模型缓存文件以及token名称组织到一个文件里，然后对这个文件进行加密。在设备运行前，将这个文件解密后，然后将nb buffer、nnc buffer都通过lite提供的内存设置接口设置到cxxconfig或者mobileconfig中，最后创建predictor进行推理。

不建议魔改，自己可以再包一层，想用啥文件名都可以，最后可以调用set_nnadapter_model_cache_buffers 通过内存方式设置就行，我理解在最终部署的时候会将nb文件、所有 nnc 模型缓存文件以及token名称组织到一个文件里，然后对这个文件进行加密。在设备运行前，将这个文件解密后，然后将nb b

[2021-12-30 15:33] wenbbo opened #8167 "Paddle-Lite on XPU-sdk failed"
国产飞腾服务器，S2500四路处理器，麒麟V10操作系统，昆仑K200卡两张，编译Paddlelite命令如下：
./lite/tools/build_linux.sh --arch=armv8 --with_extra=ON --with_python=ON --with_cv=ON --with_baidu_xpu=ON --baidu_xpu_sdk_root=./xpu_sdk_v2.0.0.61 full_publish
编译错误提示：
make[3]:*** 没有规则可制作目标"xpu_sdk_v2.0.0.61/XTDK/shlib/libxpuapi.so",由"lite/api/libpaddle_light_api_shared.so"需求。停止。
make[2]:***[CMakeFiles/Makefile2:43390:lite/api/CMakeFiles/pa

[2021-12-31 02:09] j-river commented on #8126
@chenjiaoAngel 回头看了下，报了如下错误，导致这个头文件没有生成。这个错误是什么原因造成的？
![image](https://user-images.githubusercontent.com/48286996/147799023-87eafa89-747a-4dd1-8e35-452db977ee1a.png)

[2021-12-31 02:10] j-river commented on #8126
![image](https://user-images.githubusercontent.com/48286996/147799051-cc0bd398-919f-414f-b0e0-f3e0b952dd93.png)

[2021-12-31 02:44] roMummy commented on #8165
我要在iOS上使用最新的ocr模型 我应该怎么做

[2021-12-31 02:48] zhenlin-work commented on #8165
你用opt是转的什么模型呢，不是需要opt转成nb模型吗，命令里面会制定--valid_target=arm/opencl/...这些的啊 你是哪个呢 metal的话是支持这个op的，如果是这样的话是不是opt转模型就有问题了。

[2021-12-31 02:54] zhenlin-work commented on #8167
好的 稍后找相关同学来看一下

[2021-12-31 03:01] hong19860320 commented on #8167
--baidu_xpu_sdk_root=./xpu_sdk_v2.0.0.61 使用完整的路径看看，然后确认下xpu_sdk_v2.0.0.61是否是arm的，不要用错成x86的sdk了

[2021-12-31 03:03] hong19860320 commented on #8167
如果不确定xpu sdk是否是合适的，这个参数建议留空 例如 ./lite/tools/build_linux.sh --arch=armv8 --with_extra=ON --with_python=ON --with_cv=ON --with_baidu_xpu=ON full_publish

[2021-12-31 03:04] xiaoxiaohehe001 commented on #8165
建议使用最新版opt工具，opt转换时设置 --target=metal,arm, 理论上是没有问题的

[2021-12-31 03:08] hong19860320 commented on #8052
@YY-GAO 请问能解决你的问题吗？如果解决了，就把这个issue关闭哈

[2021-12-31 04:11] daming5432 commented on #8126
看着像是第三方库的问题，你编译前先把根目录下third-party删了再编译试一下

[2021-12-31 04:19] daming5432 commented on #8126
你是说在你的windowns机器上安装了一个docker, docker内部是linux是吗。 你参考的是哪个文档，能发下链接吗

[2021-12-31 05:48] daming5432 commented on #8126
如果还不行，可以在window上用虚拟机，然后按照https://paddle-lite.readthedocs.io/zh/develop/source_compile/linux_x86_compile_android.html 该步骤运行

[2021-12-31 06:16] roMummy commented on #8165
我使用的模型是这个：
https://paddleocr.bj.bcebos.com/dygraph_v2.0/ch/ch_ppocr_mobile_v2.0_det_infer.tar
opt命令：
[code]
opt版本:
[code]
使用的paddle_lite是：
https://github.com/PaddlePaddle/Paddle-Lite/releases/download/v2.10/inference_lite_lib.ios.armv8.with_cv.with_extra.with_log.tiny_publish.tar.gz

具体加载代码是：
[code]

错误结果:
[code]

[2021-12-31 06:17] roMummy commented on #8165
还是报一样的错[大哭]

[2021-12-31 06:20] roMummy commented on #8165
这是对应的算子信息：
[code]

[2021-12-31 06:37] xiaoxiaohehe001 commented on #8165
你使用的应该只是arm的，--target=arm就可以

[2021-12-31 06:44] zhenlin-work commented on #8165
你用的编译库是arm的，对应的opt模型target也只能转成arm的才能匹配

[2021-12-31 06:50] Gray-web opened #8170 "在给定的docker中执行make -j报错"
![image](https://user-images.githubusercontent.com/59073790/147808280-9e59df85-c8fb-4ef6-b600-88247340a991.png)

[2021-12-31 07:07] roMummy commented on #8165
cli:
[code]

我不知道为什么,我target只用arm也会失败
[code]

一模一样的报错，完全没有头绪

[2021-12-31 07:12] xiaoxiaohehe001 commented on #8165
在demo中添加这两个头文件，进行测试
![image](https://user-images.githubusercontent.com/49090790/147809140-d8c19e14-c7d4-4cc9-8e83-debb7a2c4ff2.png)

[2021-12-31 07:17] zhenlin-work commented on #8165
![image](https://user-images.githubusercontent.com/56170639/147809357-3aaf908a-b3ea-4502-8cd7-18679e6d97f8.png)

[2021-12-31 10:41] roMummy commented on #8165
就是这2个文件没有引入导致的问题。
谢谢你们  新年快乐！！

[2021-12-31 10:41] #8165 closed, assigned to zhenlin-work

[2021-12-31 14:23] hong19860320 commented on #8170
@Gray-web  编译错误是由于里面缺少lite_autolog.h头文件导致的，我们paddlelite没有提供过这个demo，你是从哪里下载的呢？

[2021-12-31 14:51] wenbbo commented on #8167
谢谢hong19860320

[2021-12-31 14:52] wenbbo commented on #8167
按照您建议留空  ./lite/tools/build_linux.sh --arch=armv8 --with_extra=ON --with_python=ON --with_cv=ON --with_baidu_xpu=ON full_publish，仍然报错如下：

/workspace20/paddlelite/paddle-lite/lite/kernels/xpu/__xpu__squeeze_excitation_compute.cc: 在成员函数‘virtual void paddle::lite                   ::kernels::xpu::XPUSqueezeExcitationCompute::Run()’中:
/workspace20/paddlelite/paddle-lite/lite/kernels/xpu/__xpu__squeeze

[2021-12-31 15:02] wenbbo commented on #8167
libxpurt.so: ELF 64-bit LSB shared object, ARM aarch64, version 1 (GNU/Linux), statically linked, BuildID[sha1]=4f6b68bc4be37f8f5ec32744b72bf397732b043b, not stripped
不要用错成x86的sdk了——如上，看了库应该是arm的

[2022-01-04 09:15] hong19860320 commented on #8167
@zhupengyang 帮忙看看吧 看起来xpu sdk版本不适用于@wenbbo的paddlelite代码

[2022-01-04 10:13] zhupengyang commented on #8167
@wenbbo 请问使用的PaddleLite的分支是哪个？

编译前是否按照文档说明设置环境 ```CC/CXX``` 指定正确的编译器

[2022-01-05 02:39] #8106 closed, assigned to nobody

[2022-01-05 08:44] j-river opened #8194 "android端部署ocr模型，设置cpuThreadNum >1时，重复进入退出几次扫描界面，推理耗时成倍增加，且高居不下，调整cpuPowerMode仍然没有效果。设置cpuThreadNum =1时，耗时相对稳定一些。请问这是什么原因呢？多线程耗时不稳定如何解决？"

[2022-01-05 09:05] showyourlucky opened #8195 "移动端侧怎么后台运行"
利用https://github.com/PaddlePaddle/PaddleOCR/tree/release/2.3/deploy/android_demo 部署到移动端，
通过广播能让ocr app正常识别，前提是app前台激活运行，如果切换到其它app或者桌面，一直报：

I/Paddle-Lite: [I 12/11 1:28:48.199 ...ite/Paddle-Lite/lite/core/device_info.cc:491 bind_threads] Set cpu affinity failed, core id: 7

有没有什么方法可以让ocr的app后台运行，识别出文字？
尝试过在Service里初始化Predictor，开线程执行redictor.runModel都只能前台运行才能分析出图片上的文字

[2022-01-05 09:34] Gray-web commented on #8170
是从提供的docker镜像中直接拉取然后编译的

[2022-01-05 09:34] Gray-web commented on #8170
是从提供的docker镜像中直接拉取然后编译的

[2022-01-05 09:47] goldscu opened #8196 "MacOS工程运行PaddleSeg里下的分割模型后崩溃"
CPU：x86
Mac版本：11.5.2
Xcode版本：12.5.1
Paddle-lite版本：2.7 (CPU不支持新版本的fma，github的release下载)
模型：PaddleSeg里下载的人像分割模型ppseg_lite_portrait_398x224_with_softmax，自己安装python环境，用代码优化模型，代码如下
[code]

MacOS工程C++代码如下
[code]

一直在CreatePaddlePredictor函数崩溃，Xcode报错:
Thread 1: EXC_BAD_ACCESS (code=1, address=0x8)，
无输入日志，模型优化时用不同的类型和不同的框架都试过，C++代码里两个config也试过，都跑不过，但是运行Paddle-lite官网说明文档提供的mobilenet_v1模型正常，用python将mobilene

[2022-01-05 09:56] cebss commented on #8170
基于docker镜像
根据下列流程操作遇到同样的问题
https://github.com/PaddlePaddle/PaddleOCR/blob/release/2.4/deploy/lite/readme.md

[2022-01-05 12:19] chenjiaoAngel commented on #8194
这个请问是V7 还是V8 呢？
V7 clang 不支持多线程
V8 支持多线程
运行期间，手机后台有其他运行程序吗？确认跑的是大核，没有跑到小核？运行期间手机是否发热/CPU 频率是否下降？
上述问题没有后，请问方便提供源码否，我们安排同学复现下

[2022-01-05 12:25] chenjiaoAngel commented on #8195
这个提示是邦核失败，不影响使用，只会影响性能
至于怎么让app后台运行，识别出文字--这个只要不关闭APP，他在后台是一直运行的。只是结果显示需要你打开APP才看到。
更高阶的界面显示，这个需要资深Android 开发工程师完善工程，进行支持

[2022-01-05 12:46] TangYuan-Liu commented on #8196
你好，经过复现，定位到原因是 paddlelite2.7 版本 x86 后端不支持 bilinear_interp_v2 和 split 算子，导致应用运行崩溃。

[2022-01-05 13:07] goldscu commented on #8196
请问怎么解决呢，我电脑CPU用不了github上官方编译的新版本，自己编译一直编译不过

[2022-01-05 16:36] hong19860320 commented on #7976
这个问题的根本解决方法找到了，可以参考这个commit 改下run.sh和run_with_ssh.sh脚本 https://github.com/hong19860320/PaddleLite-generic-demo/commit/fa93b3df928a518687724cabb509d98c703b6db8  @Darki-luo

[2022-01-06 05:28] TangYuan-Liu commented on #8196
在最新的 v2.10 分支和 develop 分支中，这两个算子已经支持。所以可以尝试使用新的 paddle lite 版本。

编译问题，请再详细描述下细节吧。

[2022-01-06 06:11] goldscu commented on #8196
编译问题：
按照[https://paddlelite.paddlepaddle.org.cn/source_compile/macos_compile_macos.html](https://paddlelite.paddlepaddle.org.cn/source_compile/macos_compile_macos.html)的教程编译，
国内镜像更新brew及安装教程中对应版本的CMake，未有报错，且删除了第三方库
编译时脚本检查的环境如下：
[code]

过程中报错如下，此时未自动停止
[code]
最后报错如下：
[code]

[2022-01-06 08:02] showyourlucky commented on #8195
我做过很多测试, 手机是华为mate20Pro,芯片Kirin 980, 发现只有7cpu会出现绑定失败, 是只要不绑id:7 的cpu就能提升性能吗?
麻烦解答下绑核失败的原因, 有没有解决办法, 怎么提升性能?
感谢解答

[2022-01-06 08:03] TangYuan-Liu commented on #8196
请卸载 CMake 3.15 版本，更换为 3.10。可参考：
[code]
然后重新按照教程执行编译，请查看是否仍存在编译问题。

[2022-01-06 08:21] goldscu commented on #8196
试了，还是一样的效果
[code]
[code]

[2022-01-06 08:23] showyourlucky commented on #8194
这个场景我知道, 在识别图片时, 和正常识别图片相比, 只要切换app, 就会提示绑定cpu失败---->LOG(ERROR) << "Set cpu affinity failed, core id: " << cpu_ids[i];
具体原因我不知道, 场景很好复现

[2022-01-06 08:36] TangYuan-Liu commented on #8196
再确认下，你的 macmini 是 x86 架构的吧？另外 third-party 目录删掉，能够编译成功吗？

[2022-01-06 08:41] TangYuan-Liu commented on #8196
尝试执行以下操作，然后再编译：
[code]

[2022-01-06 08:49] goldscu commented on #8196
确认是x86的，intel的CPU，每次我都会删掉third-party 目录

[2022-01-06 08:57] goldscu commented on #8196
export LC_CTYPE=C
export LANG=C
加了这两条命令后还是一样的结果，编译时没有重启过命令行程序

[2022-01-06 09:51] chenjiaoAngel commented on #8195
这个换绑定其他的大核，性能应该一样的，麒麟芯片的CPU 运行过程中，容易降频，出现性能不稳定。建议用高通的芯片测试

[2022-01-06 10:56] TangYuan-Liu commented on #8196
看起来像是 sed 命令解析出错导致第三方模块编译失败，你用的是 bash 还是 zsh ？

[2022-01-06 12:21] goldscu commented on #8196
zsh

[2022-01-06 14:11] goldscu commented on #8196
我用bash也试过了, 还是编译不过, 我这两台电脑都一样编不过, 一台macmini, 一台macbook, macbook的CPU不支持fma指令集, macmini的支持, 后面试的时候, 您之前说的注意事项都处理过

[code]

[2022-01-07 01:46] #8052 closed, assigned to chenjiaoAngel

[2022-01-07 02:06] TangYuan-Liu commented on #8196
我在同样的机器上还没复现出你的问题，请问你使用的是哪个分支的代码？

[2022-01-07 02:10] goldscu commented on #8196
git checkout release/v2.10
这个分支的
编译了很多次，有的时候没执行上面这条命令，从github下载代码就直接编译了，效果都一样的
git clone https://github.com/PaddlePaddle/Paddle-Lite.git

[2022-01-07 02:25] goldscu commented on #8196
需要我电脑远程调试的话，我在QQ”飞桨推理部署交流2群“，昵称为”？“

[2022-01-07 02:25] TangYuan-Liu commented on #8196
我们先解决 macmini 上的问题。请问你环境中的 sed 是 mac 自带的还是 gnu-sed?

[2022-01-07 02:34] goldscu commented on #8196
默认的sed
[code]

[2022-01-07 02:54] TangYuan-Liu commented on #8196
首先从你的日志上看，我认为问题出在这里：
![image](https://user-images.githubusercontent.com/29272811/148483063-ded74ed2-4829-4789-bfc3-7928e25a48cd.png)

而在 CMake 中，针对 MAC 有如下配置：
![image](https://user-images.githubusercontent.com/29272811/148483431-802dbebd-f596-4303-a066-cdd5ba38fe06.png)
预期是进入 line12 处的逻辑。

我建议这样调试一下：
[code]
重新编译，我们观察下打印，然后再思考下一步调试方向。

[2022-01-07 03:10] goldscu commented on #8196
请问一下，这个文件的目录在哪

[2022-01-07 03:12] TangYuan-Liu commented on #8196
vim cmake/external/xxhash.cmake

[2022-01-07 03:21] goldscu commented on #8196
进入了Apple sed command:
[code]

[2022-01-07 08:17] LeeLear opened #8216 "transpose_op.cc:88 CheckShape Check failed(x.rank==axis_shape):4!=3"
请问，在网络中使用了5维的数据，进行transpose是不是不支持

[2022-01-08 07:17] showyourlucky commented on #8195
确实，做过实验了，不棒7核绑6核，在后台运行时也会一直提示绑核失败，使用高通的芯片应该也是一样的问题，我看其他人提过。
有什么办法能解决后台运行，性能下降的问题吗？

[2022-01-08 08:30] qmoji commented on #8126
![image](https://user-images.githubusercontent.com/15170611/148637528-a905b480-e3a0-4719-99a6-a0d1b4aaccb4.png)
请问楼主解决了吗？树梅派4b Ubuntu 20.04也有这个问题。
[code]

[更新]
不自己编译了，直接用的官方预编译的库
https://github.com/PaddlePaddle/Paddle-Lite/releases/download/v2.10/inference_lite_lib.armlinux.armv8.gcc.with_extra.with_cv.tar.gz

[2022-01-08 13:36] lrjj opened #8220 "Android手机opencl加速失败"
CPU型号是高通骁龙855，GPU型号是Adreno 640，我是在PaddleOCR的android demo上面修改的，原本的android demo是CPU上面运行的，可以成功运行，我想通过opencl加速，做了以下修改：
1、程序上面参照例程如下修改：
![1641646528(1)](https://user-images.githubusercontent.com/68632486/148644947-f42e3fc0-6206-4910-95b8-3b8eaf7172b8.jpg)
2、修改了PaddleOCR里的paddlelite编译库，编译预测库的指令分别为：
./lite/tools/build_android.sh \
  --arch=armv8 \
  --toolchain=clang \
  --with_log=OFF \
  --with_extra=O

[2022-01-08 13:43] lrjj commented on #8220
还有一个问题，由上面的图可以知道，程序上面是使用了/data/local/tmp/lite_opencl_kernel.bin和/data/local/tmp/lite_opencl_tuned.bin，但是实际上我的手机上是没有这两个文件的，但是APK首次运行，我发现也没有在手机/data/local/tmp/路径下面生成lite_opencl_kernel.bin和lite_opencl_tuned.bin

[2022-01-10 02:08] j-river commented on #8194
@chenjiaoAngel 使用的V7。V7不支持多线程？设置cpuThreadNum=2，正常情况下,单次推理时间约400ms；设置cpuThreadNum=1， 单次推理时间约600ms。看起来好像有作用。要解决上述问题，得改用V8?

[2022-01-10 02:31] j-river commented on #8194
@q751654992 日志里没有看到这个报错信息。你切换app也会出现耗时翻倍的情况吗？有解决吗？

[2022-01-10 02:59] chenjiaoAngel commented on #8220
这个/data/local/tmp/lite_opencl_kernel.bin 和 data/local/tmp/lite_opencl_tuned.bin 需要手动推送到手机

[2022-01-10 03:00] chenjiaoAngel commented on #8220
APP 工程通过utils.java 中copyFileFromAssets 方法将这两个bin 推送到手机目录

[2022-01-10 03:22] lrjj commented on #8220
请问这两个文件是一定需要提前准备，然后放在对应目录才可以成功使用opencl嘛，我通过相关文档的介绍说首次运行时，如果没有找到这两个文件，会自己生成保存在对应目录上面。那要是得有这两个文件才行，我需要怎么样才能获取到这两个bin文件呢？

[2022-01-10 04:33] steinvenic commented on #8170
使用这点的

`PaddleOCR`最新版有

[2022-01-10 04:35] steinvenic commented on #8170
用这个点的[ocr_db_crnn.cc](https://github.com/PaddlePaddle/PaddleOCR/blob/91af57634c2020e96bf139b20723c20482ac0bd2/deploy/lite/ocr_db_crnn.cc)

[2022-01-10 06:44] zhaoyang-star commented on #8220
这两个 bin 文件在首次运行时，会自动生成，以后再运行时，会先尝试读取这两个 bin 文件，如果没有会自动再次生成。

[2022-01-10 06:45] zhaoyang-star commented on #8220
方便尝试先在 adb shell 环境下，对比在CPU和GPU上的结果吗？我本地也对比下这两个结果。

[2022-01-10 06:58] chenjiaoAngel commented on #8194
V7 clang 不支持多线程（ndk错误），V7 GCC 支持。
这个邦核失败可能是后台有其他进程抢占资源，可能会出现邦核失败

[2022-01-10 07:00] chenjiaoAngel commented on #8195
不在后台运行，它是主进程的时候，没有邦核失败吧？
退到后台，其他进程变为主进程，会发生资源抢占（它要绑定大核）。此时，该进程的核会被抢夺，导致邦核失败

[2022-01-10 07:48] weishengying commented on #8216
应该是支持的，可能是参数没给对导致报错

[2022-01-10 08:15] lrjj commented on #8220
好的，非常感谢你的回复！我去尝试先在 adb shell 环境下，对比在CPU和GPU上的结果，也非常期待你的结果，非常感谢

[2022-01-10 14:41] tonywang-sh commented on #8042
复现的权重和模型已经附上，请确认看下。
[Archive.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/7839583/Archive.zip)

[2022-01-11 06:20] EricHuiK commented on #8220
opencl的推理貌似现在识别模型支持的并不好，会崩溃，目前为止没有解决

[2022-01-11 07:14] RUIJIE-Z opened #8239 "国产CPU与寒武纪270的paddle-lite环境适配"
cpu：FT2000PLUS
操作系统：kylin
完整报错信息：
1. 编译时，build_mlu.sh文件修改如下
`root@Kylin-101:/Paddle-Lite-zhong# git diff lite/tools/build_mlu.sh
diff --git a/lite/tools/build_mlu.sh b/lite/tools/build_mlu.sh
index ba2ec327..25649cc8 100755
--- a/lite/tools/build_mlu.sh
+++ b/lite/tools/build_mlu.sh
@@ -5,8 +5,8 @@ set -ex
 NEUWARE_HOME="${NEUWARE_HOME}"
 TARGET_NAME="all"    # default target
 BUILD_EXTRA=OFF

[2022-01-11 07:38] showyourlucky commented on #8195
是的,是主进程的时候，没有绑核失败,而且图像识别也很快,基本在1s或者1s以内
那因为这个资源抢占的问题, 没有办法解决识别性能下降的问题吗?

[2022-01-11 07:40] q751654992 commented on #8195
是的,是主进程的时候，没有绑核失败,而且图像识别也很快,基本在1s或者1s以内
那因为这个资源抢占的问题, 没有办法解决识别性能下降的问题吗?

[2022-01-12 06:17] chiehpower opened #8250 "如果ARM设备不接萤幕的情况下，则会出错"
请提供下述完整信息以便快速定位问题/Please provide the following information to quickly locate the problem

## 版本、环境信息：
1）PaddlePaddle版本：release/2.2
2）ARM设备: NVIDIA Jetson AGX Xavier
3）系统环境：JetPack 4.5, Python版本 3.8

## 安装方式信息：
1. 于docker内做编译 docker image: nvcr.io/nvidia/l4t-ml:r32.5.1-py3
2. Python 3.8
3. 操作流程参照此篇文章 https://www.codeleading.com/article/34695546218/
[code]

[code]

## 完整报错/Complete Error Message：

S

[2022-01-12 09:57] Hengmen opened #8257 "在使用Atlas 300I 卡时如何指定多个芯片？"
我知道HUAWEI_ASCEND_NPU_SELECTED_DEVICE_IDS=0 代表的第0个昇腾310芯片。

我希望同时指定多个芯片使用,使用以下代码
HUAWEI_ASCEND_NPU_SELECTED_DEVICE_IDS=0,1
但是在压力测试中只有第0个芯片有占用，并且占用达到了100%，第1个芯片占用0%

[2022-01-12 11:26] shentanyue commented on #8257
目前还不支持多卡运行

[2022-01-13 02:34] hong19860320 commented on #8257
Atlas 300I包含4个310芯片，目前昇腾CANN软件栈还不支持同一个模型在多芯片上计算，可以手动分batch分别跑在不同的310芯片上哈。
据华为最新发布的Atlas 300I pro，它包含1个710芯片，算力是4个310芯片的总和，可能可以满足你的需求哈~

[2022-01-13 02:37] Hengmen commented on #8257
感谢你们的快速回复，我会自行处理多个芯片使用的问题。

[2022-01-13 03:20] tonywang-sh commented on #8042
复现的paddle lite代码是哪个分支的？不确定影响有多大？

[2022-01-13 07:17] hong19860320 commented on #8239
这个问题我们会通知寒武纪那边修复哈。现在我们和寒武纪主推MLU370卡和寒武纪新的推理引擎magicmind，已经采用Paddle Lite+NNAdapter完成了适配了，可以直接下载这个demo 体验哈 https://paddlelite-demo.bj.bcebos.com/devices/generic/PaddleLite-generic-demo.tar.gz

[2022-01-13 08:47] fengyanWang opened #8265 "高通NPU"
请问是否支持高通NPU推理，性能如何？

[2022-01-13 13:25] zhaoyang-star commented on #8265
您好，目前还不支持高通NPU，我们已在规划支持高通NPU。

[2022-01-13 13:25] #8265 closed, assigned to zhaoyang-star

[2022-01-13 13:33] zhaoyang-star commented on #8250
您的报错是在使用Paddle在NVIDIA Jetson AGX Xavier上报错，目前Paddle支持 Jetson 产品，但 Lite不支持 Jetson 产品。因此建议您将在Paddle repo中提交这个issue。

[2022-01-13 13:33] #8250 closed, assigned to nobody

[2022-01-14 08:56] yangtianyu92 commented on #8170
同样问题

[2022-01-14 13:03] LockonLv opened #8272 "Docker编译中，运行docker build -t paddlepaddle/paddle-lite . 报错"
报错内容：
Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-bt_7FD/pyyaml/
You are using pip version 8.1.1, however version 21.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
The command '/bin/sh -c pip install -i https://pypi.tuna.tsinghua.edu.cn/simple pre-commit' returned a non-zero code: 1

更新pip后，仍会出现这个问题，原因未知

[2022-01-15 17:20] hong19860320 commented on #8272
把docker file里面的 pip install --upgrade pip  改成 pip install --upgrade pip==20.3.4

[2022-01-16 00:21] LockonLv commented on #8272
在指定pip版本后，还是会出现同样问题。感觉是不是和python版本有问题，编译环境是ubuntu18.04，用的python3.6，是不是和python版本有关系？

[2022-01-16 09:44] #8257 closed, assigned to nobody

[2022-01-16 10:05] shentanyue commented on #8272
因为pre-commit依赖的三方库随着版本更新，一些三方库不能再使用python2的方式安装。
建议推荐使用# 方式一：从 Dockerhub 直接拉取 Docker 镜像
docker pull paddlepaddle/paddle-lite:2.0.0_beta

或者你可以先手动改下dockerfile，将原来的
[code]
改成下面使用pip3的方式：
[code]

[2022-01-16 14:23] wenbbo commented on #8167
抱歉未及时回复，github有时很难登入，原因已查明是路径问题，感谢 zhupengyang ，hong19860320，zhenlin-work，

[2022-01-16 14:23] #8167 closed, assigned to zhupengyang, zhenlin-work

[2022-01-17 01:44] yangtianyu92 commented on #6086
问题我内存700G，编译还是出现这个问题。

[2022-01-17 06:58] daming5432 commented on #8272
你好， 你这个参考的那个文档能发一下吗。还有你使用的机器的硬件环境信息，我看一下能不能复现一下

[2022-01-17 07:02] LockonLv commented on #8272
用的资料就是paddlelite 2.10的官方资料，代码也是官方的源码。目前问题已经解决，不过出错率是100%是肯定的，因为paddlelite官方提供的dockerfile中并没有任何关于pip更新的代码

[2022-01-17 07:33] daming5432 commented on #8272
能请问一下你这个问题是怎么解决的吗，我们会根据您提供的信息修复该问题

[2022-01-17 07:34] hong19860320 commented on #8272
用这个docker file 试试看呢？
[Dockerfile.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/7879851/Dockerfile.zip)

[2022-01-17 07:47] LockonLv commented on #8272
就是按照你们同事的意见，加入了更新pip的指令就可以了。我的意思是你们现在提供的dockerfile里没有这一句

[2022-01-17 07:50] daming5432 commented on #8272
好的

[2022-01-18 03:47] thomaszheng opened #8290 "paddlerocr android demo 修改为静态链接库报错"
下载官方提供paddlelite v2.10 静态链接库文件 `libpaddle_api_light_bundled.a`，修改原始demo中的动态链接库文件，并修改CMakeList.txt文件

[code]

编译时报如下错误：

[code]

ps:v2.10动态链接库

[2022-01-18 06:25] chenjiaoAngel commented on #8290
静态库使用需要包含paddle_use_op.h 和 paddle_use_kernel.h
具体内容请查看C++文档：https://paddle-lite.readthedocs.io/zh/latest/user_guides/cpp_demo.html

[2022-01-18 09:00] thomaszheng commented on #8290
我搜了一下整个paddlelite的项目，自己编译还是官方提供的预编译的库，都没有这两个头文件的。

目前项目里面用的头文件是：
![image](https://user-images.githubusercontent.com/8412025/149904370-b88fbf6f-b250-43ad-bfe8-0c4feeb3c540.png)

[2022-01-18 09:35] chenjiaoAngel commented on #8290
<img width="204" alt="image" src="https://user-images.githubusercontent.com/38650344/149910221-475d3281-23e2-45c5-aadc-8fc532dbf90a.png">
这两个头文件

[2022-01-18 09:36] thomaszheng commented on #8290
那就是头文件是正确的话，这个报错是什么原因呢？

[2022-01-18 09:44] chenjiaoAngel commented on #8290
<img width="773" alt="image" src="https://user-images.githubusercontent.com/38650344/149911919-404080f9-39db-4513-88a8-f36348171ab2.png">
这个是openmp 错误，下载的是默认编好的静态库？带openmp 的库？

[2022-01-18 09:48] thomaszheng commented on #8290
下载的是官方文档中提供的这两个
![image](https://user-images.githubusercontent.com/8412025/149912820-a5fb782c-6da1-4cbc-9cff-81364dc11441.png)
![image](https://user-images.githubusercontent.com/8412025/149912867-3e2f779f-5fcd-4416-86b9-2b4791790a43.png)

[2022-01-18 09:59] goldscu commented on #8196
请问一下，我电脑编译的问题有进展吗

[2022-01-19 03:31] thomaszheng commented on #8290
官方提供的预编译的库是不是不包含openmp的功能，需要自己调整配置再重新编译吗？但是我看`./lite/tools/build_android.sh`好像没有关于openmp的配置

[2022-01-19 10:57] zzjjay opened #8303 "opt运行时关闭内存复用"
现在opt默认开启内存复用进行模型转换，如果要关闭该功能，只能注释代码重新编译opt工具。

opt能否提供在运行时关闭内存复用的接口？

如果可以的话，请问在哪个版本可以支持？

## 使用场景

获取opt优化后的Graph信息，根据这些信息指导模型设计和模型压缩。
如果开启内存复用，则获取的Graph信息不准确。

[2022-01-19 11:08] chenjiaoAngel commented on #8290
openmp 默认是开启的，我本地也复现了这个case，已将问题反馈给框架同学，他们正在定位

[2022-01-19 11:53] thomaszheng commented on #8290
还遇到了一个问题想咨询一下看看你们这边有遇到过吗？就是debug签名的app 可以正常运行，但是release签名的app会报如下错误：

[code]

[2022-01-20 12:49] Dandelion111 opened #8314 "paddle lite 交叉编译问题"
各位大佬，我需要在x86 linux上面交叉编译paddle lite，目标平台是赛灵思的zynq板子，arm linux系统，有自带的交叉编译工具链，我现在不知道如何操作，请问有没有相关的教程呢？

[2022-01-21 06:16] shentanyue commented on #8314
可以参考这篇指导文档：https://paddle-lite.readthedocs.io/zh/develop/source_compile/linux_x86_compile_arm_linux.html

[2022-01-21 08:15] chenlixiang0430 opened #8323 "裁剪后识别不了"
![test_ocr](https://user-images.githubusercontent.com/43659392/150490904-0a803ad8-71b5-41da-bf25-bc22f866e93d.png)
裁剪了一下图片，想要快一点，结果识别不了了

[2022-01-21 08:23] shentanyue commented on #8323
模型在某个尺寸范围内才会有比较好的精度。
您的图片可能裁剪太小了，导致模型并不能识别。

[2022-01-21 09:25] Dandelion111 commented on #8314
好的，谢谢，如果我用自己的交叉编译工具链，是在toolchain这里设置成我的编译工具目录吗
![image](https://user-images.githubusercontent.com/48303408/150501729-d2833eba-dd68-4932-9883-47827276e2c8.png)

[2022-01-21 09:44] shentanyue commented on #8314
是的，需要是可执行文件，类似于gcc。

[2022-01-23 02:51] ZhuGeRoastedFish opened #8333 "Android opencl推理库报错multiple definition与建议的解决方案"
根据官方文档,在使用Opencl paddlelite推理库时,需要包含
#include <paddle_lite/paddle_use_kernels.h>
#include <paddle_lite/paddle_use_ops.h>
目前我有2个独立的推理任务(seg.cpp and detect.cpp)都需要调用opencl版paddlelite c++ api,
这两个头文件都包含了common.h,其内容是
#include <paddle_lite/paddle_api.h>
#include <paddle_lite/paddle_use_kernels.h>
#include <paddle_lite/paddle_use_ops.h>
结果报了一大堆重复定义的错,经过排查是在paddle_use_kernels.h和paddle_use_ops.h中引入了很多宏替换

[2022-01-23 08:38] liutinglong commented on #6406
把输入的都定义处理就可以

[2022-01-24 06:56] #8314 closed, assigned to csy0225

[2022-01-24 06:56] #8323 closed, assigned to shentanyue

[2022-01-24 08:40] shentanyue commented on #8323
您还可以去PaddleOCR代码仓下提issue，询问更多这个模型的细节：https://github.com/PaddlePaddle/PaddleOCR/issues

[2022-01-24 10:49] hong19860320 opened #8342 "各大推理框架硬件适配代码量统计"
统计各大推理框架支持一款新的硬件跑通 ResNet-50 所需的代码量，涉及反映总工作量的『总代码量（千行）』和『文件新增/修改总数（个）』指标、以及反映与框架耦合度的『框架代码量（行）』和『框架文件新增/修改数（个）』指标，通过删除代码的方法，统计以上指标，结果如下：（如有问题，可以直接在该 issue 下回复）
1.  Paddle Lite：[https://github.com/TangYuan-Liu/Paddle-Lite/pull/1](https://github.com/TangYuan-Liu/Paddle-Lite/pull/1)
    - 示例硬件：华为麒麟 NPU
    - 是否基于子图支持 CPU+NPU 异构？：✓
    - 总代码量（千行）：1.7
    - 文件新增/修改总数（个）：20
    - 框架代码量（行）：19
    - 框架文件新增

[2022-01-24 11:19] csy0225 commented on #8342
2. Tengine-lite：[https://github.com/csy0225/Tengine/pull/1](https://github.com/csy0225/Tengine/pull/1)
示例硬件：RK NPU(TIM-VX)
是否基于子图支持CPU+NPU异构？：是
总代码量（千行）：3.0
文件新增/修改总数（个）：20
框架代码量（行）：18
框架文件新增/修改数（个）：2

[2022-01-24 11:21] csy0225 commented on #8342
3. TNN：[https://github.com/csy0225/TNN/pull/1](https://github.com/csy0225/TNN/pull/1)
示例硬件：KIRIN NPU
是否基于子图支持CPU+NPU异构？：是
总代码量（千行）：2.6
文件新增/修改总数（个）：24
框架代码量（行）：46
框架文件新增/修改数（个）：3

[2022-01-25 00:25] wzyforgit commented on #8342
在龙芯上面在坐的各位都是蜗牛。。。或者都编不过

[2022-01-25 02:14] hong19860320 commented on #8342
龙芯是通过paddleinference支持的哈，不是paddle lite呢https://www.paddlepaddle.org.cn/documentation/docs/zh/guides/09_hardware_support/hardware_info_cn.html#paddle-inference

[2022-01-25 02:27] hong19860320 commented on #8342
一般各大框架没有针对mips单独写kernel进行优化，走的都是c++ reference的实现，所以会比较慢的。

[2022-01-26 11:53] 2050airobert opened #8362 "npu demo error compilation.cc:75 ~Compilation device_context: No device found"
“ /Volumes/Android/buildbot/src/android/ndk-release-r17/external/libcxx/../../external/libcxxabi/src/abort_message.cpp:73: abort_message: assertion "terminating with uncaught exception of type nnadapter::logging::NNAdapterException: NNAdapter C++ Exception:
[F  1/ 1 15: 8:50.155 ...adapter/nnadapter/runtime/compilation.cc:75 ~Compilation] Check failed: device_context: No device found.
" failed
Abo

[2022-01-26 17:32] hong19860320 commented on #8362
能在执行前加上 export GLOG_v=5 然后执行./run_with_adb.sh ... >log.txt 2>&1
把生成的完整log文件上传上来吗？

[2022-01-26 17:38] hong19860320 commented on #8362
看起来需要npu driver 为 6.4.4.3版本的，我看是不是可以提供一个6.4.4.3版本的galcore.ko 给你试试。

![image](https://user-images.githubusercontent.com/9973393/151216855-a5fac33d-3627-4f0b-bd38-79f456c2491a.png)

[2022-01-27 01:50] hong19860320 commented on #8362
@yingshengBD 提供一下6.4.4.3的A311D的android 版本的galcore.ko吧

[2022-01-27 02:15] chenglinlv commented on #8362
&nbsp;export GLOG_v=5 通过脚本中默认配置设置，具体log见附件，请查看，多谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle-Lite"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年1月27日(星期四) 凌晨1:32
***@***.***

[2022-01-27 02:28] 2050airobert commented on #8362
hi，
我的开发板是a311d amlogic 。
galcore.ko是amlogic_npu的driver吗？
我在官方docker镜像下找到了PaddleLite-generic-demo/libs/PaddleLite/linux/arm64/lib/amlogic_npu/galcore.ko，
但是我的配置是android/armeabi-v7a/lib/amlogic_npu/，这个目录下并没有galcore.ko
我的手机开发板android 9 (linux 4. 9 )自带一个galccore.ko ; 在/vendor/lib/modules/galcore.ko
是需要贵司提供相应的galcore.ko，我这边加载到开发板才能正常使用npu对吗？大概什么时候可以提供下呢？多谢

BR

------------------&nbsp;原始邮件&nbsp;------

[2022-01-27 02:53] yingshengBD commented on #8362
首先，目前我们支持的是linux的A311D和C308；Android的S905D3。
其次，Galcore驱动是6.4.4.3版本。
当前我们正在联系Amlogic的开发同事提供6.4.4.3的Android A311D的驱动。
最后，请问你用的是什么开发板呢？

[2022-01-27 03:21] 2050airobert commented on #8362
您是说amlogic a311d 和 s905D3 c308的 NPU sdk是贵司开发的，而底层的Android A311D的驱动是需要amlogic开发提供的。
那Amlogic提供6.4.4.3的Android A311D的驱动目前已经开发好了，还是没有ready，其实如果内测通过，也可以发下初步版本给我们临时用，
当然最好是能给下release的最终版本。
我们的板子是PM提供的，需要跟他确认下，您是怕这个问题跟板子有关系吗？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "P

[2022-01-27 04:03] yingshengBD commented on #8362
Android A311D理论上是已经开发完毕 但没有经过完整的测试验证。
NPU驱动是由晶晨提供，理论上用户买了开发板就可以问卖家要各种版本驱动，但考虑到用户体验，我们正在考虑由我们Paddle Lite统一出口指定版本的驱动。
问具体的开发板厂商是想收集市面情况，方便我们后续做支持方面的调整

[2022-01-27 04:25] hong19860320 commented on #8362
没看到附件哈

[2022-01-27 06:09] chenglinlv commented on #8362
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle-Lite"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年1月27日(星期四) 中午12:25
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [Pa

[2022-01-27 12:36] yingshengBD commented on #8362
鉴于算子支持广度的考虑，我们建议使用[https://paddle-lite.readthedocs.io/zh/develop/demo_guides/verisilicon_timvx.html](https://paddle-lite.readthedocs.io/zh/develop/demo_guides/verisilicon_timvx.html)，这个方法接入amlogic A311D，当前已经更新demo：[PaddleLite-generic-demo.tar.gz](https://paddlelite-demo.bj.bcebos.com/devices/generic/PaddleLite-generic-demo.tar.gz)，其中依赖库都在/PaddleLite-generic-demo/libs/PaddleLite/android/armeabi-v7a

[2022-01-28 05:20] 2050airobert commented on #8362
Hi,     Following your advice, there is some error with attachment named "log_2.txt".    Is there any wrong?    I just copied all the .so file needed to the right place instead of the old so lib.
(用galcore.ko.A311D替换了/vendor/lib/module/galcore.ko, verisilicon_timvx中的其他so都按照run_with_adb.txt脚本拷贝到安卓手机侧，正常运行demo with MODEL_NAME=mobilenet_v1_int8_224_per_layer)
log信息见附件，请查收，多谢

------------------&nbsp;

[2022-01-28 05:50] 2050airobert commented on #8362
1、是不是可能因为只是贵司内部简单测试，所以还有些地方没有调试完善，导致的问题呢？
2、另外还有个问题，对于amlogic a311d的maili G52 GPU现在，可以支持跑网络模型了吗？ 有相应demo提供吗？

[2022-01-28 06:23] yingshengBD commented on #8362
还是看不到你的log_2.txt，galcore.ko和三个Binary.so都需要替换。

[2022-01-28 06:29] chenglinlv commented on #8362
跟上次情况一样，我再发一遍，能收到吗？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle-Lite"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年1月28日(星期五) 下午2:24
***@***.***&gt;;
***@***.******@***.***&g

[2022-01-28 06:30] 2050airobert commented on #8362
那三个Binary.so 我都替换了，跟其他so拷贝的是同一目录下，同时加上环境变量
------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle-Lite"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年1月28日(星期五) 下午2:24
***@***.***&gt;;
**

[2022-01-28 06:36] yingshengBD commented on #8362
看不到，你直接收集信息截图吧，
dmesg | grep Galcore
env
uname -a
把运行的命令截图
然后把运行demo报错的地方也截图

[2022-01-28 06:45] 2050airobert commented on #8362
这次收到附件了吗？&nbsp;

我替换和加载galcore.ko文件方式如下：(不能insmod)
1|w400:/data/local/tmp/test # insmod /vendor/lib/modules/galcore.ko
insmod: failed to load /vendor/lib/modules/galcore.ko: Exec format error

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle-Lite"

[2022-01-28 06:57] yingshengBD commented on #8362
原来如此 那是galcore加载就失败了，那后面就不用看了。
这种情况与开发板的系统内核有关，我们提供的galcore是一般开发板通用的（大部分khadas、荣品、晶晨官方实验板），确实有部分开发板使用不了。
这种情况，只好联系你们的开发板的卖家，问他要一个6.4.4.3的galcore.ko。这个版本是非常通用的版本，他们一定会有

[2022-01-28 07:11] yingshengBD commented on #8362
所以还是建议你这边确认一下 是什么厂家的开发板
我们也好对其galcore做个记录

[2022-01-28 07:57] 2050airobert commented on #8362
&nbsp; &nbsp; &nbsp; 好的，我去联系并确认下。
&nbsp; &nbsp; &nbsp; 您说的这个A311 linux版本指的是 ubuntu吗？还是？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle-Lite"                                                                                    ***@***.***&gt;;
发送时间:&n

[2022-01-28 08:12] yingshengBD commented on #8362
ubuntu的，但是你这个情况不一定是换系统可以解决了，
可以这么理解：同样A311D，理论上每家开发板都有各自的galcore.ko，应该不同的开发板和galcore.ko一一对应，我们在demo中提供的galcore.ko只是部分开发板能用的。
这个驱动直接关乎能否调用下层npu算力。

[2022-01-28 09:11] 2050airobert commented on #8362
1、您看了log了吗？确认没有其他异常或者不完善的地方吧？
2、paddlelite官方支持gpu 包括mali gpu，是支持几乎所有厂商的或者开发板的maili gpu吗？
&nbsp; &nbsp; 目前针对amlogic 厂商，可以支持哪些系统哪些型号(a311d)等配置，有list吗？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle-Lite"