[2022-01-28 09:19] yingshengBD commented on #8362
1，目前为止我没有看到你的log附件，现在驱动加载不了，后面的任何错误都没有意义
2，mali GPU参考文档https://paddle-lite.readthedocs.io/zh/develop/demo_guides/opencl.html，只要支持OpenCL就能用
3，目前支持的amlogic型号全部列在文档里，当然用TIM-VX也是一样，目前我们更建议用后者
![图片](https://user-images.githubusercontent.com/74164525/151520291-bb96096a-cd9e-4e51-92cf-3eef4e8c0af5.png)

[2022-01-28 09:34] guoge6 commented on #7036
兄弟，搞定了吗？可以请教你一下吗？

[2022-01-28 09:35] yingshengBD commented on #8362
如果你要用NPU算力且有条件更换硬件，我个人建议 可以考虑khadas VIM3或者VIM3L，这两者出厂就是6.4.4.3都不用换驱动，这都是我们的实验环境。荣品也可以。

[2022-01-28 09:45] 2050airobert commented on #8362
您再查收下吧，附件

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle-Lite"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年1月28日(星期五) 下午5:35
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nb

[2022-01-28 09:48] xiaomujiang opened #8379 "瑞芯微RK1808 RV1126，配置文件找不到"
官网看到模型支持 ssd_mobilenet_v1_relu_voc_int8_300_per_layer

（1）请问这个模型对应的配置文件https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/ssd/ssdlite_mobilenet_v1_300_coco.yml？
如果不是，可以帮忙告诉一下对应的配置吗？  后面想用自己的数据进行训练一下
（2）关于瑞芯微RK1808  RV1126，目标检测还有其他可用的模型吗？

[2022-01-28 10:41] yingshengBD commented on #8362
OK现在可以看到了，我发现你的系统是64位的armv8 Android，而我们现在手头上提供的都是armv7 32位的驱动，所以你的加载报错是insmod: failed to load /vendor/lib/modules/galcore.ko: Exec format error。
我这边需要联系晶晨的开发人员提供，由于临近假期他们好多人也开始休假。
同时就算晶晨官方给我们提供了驱动，也可能存在系统内核的差异导致的驱动不可用，所以我们建议最好是能有开发板厂家提供给你这个驱动，但不妨试试、
为了更好跟进你这个问题，你可以加paddlelite推理部署的QQ群和微信群找我私聊，我的在各个交流群内ID是PP_yingsheng

[2022-01-28 16:46] hong19860320 commented on #8379
是这个 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/configs/ssd/ssd_mobilenet_v1_300_120e_voc.yml 但目前只支持静态图模型训练哈（因为在动态图模型中box_coder算子是用细粒度算子组合的），而且由于rk只支持per layer量化，因此在做量化训练的时候，需要进行手动的conv+bn fuse，比较麻烦，而离线后量化虽然简单，但精度不是特别好。

所以建议等我们支持picodet后再基于picdet训练你的模型哈，目前我们推荐基于PaddleLite+TIM-VX的方式支持 RK 和amlogic的芯片，支持的算子和模型后续会比较多 https://paddle-lite.readthedocs.io/zh/develop/demo_guides/veris

[2022-01-29 02:05] xiaomujiang commented on #8379
请问后续是不是基于picdet训练的模型。可以部署到瑞芯微的芯片吗？ 这个官方有没有大概的时间计划

[2022-01-29 13:45] hong19860320 commented on #8379
嗯，目前已经跑通了picodet m 416x416 配置的模型，在amlogic A311D上大概24ms的样子，正在解决量化精度问题，后续会在rk1808/1109/1126和amlogic s905D3等基于芯源NPU IP的芯片进行验证，预计2月份可以支持哈～

[2022-01-29 13:49] hong19860320 commented on #8379
目前已经跑通了mobilenetv1、resnet50、ssdmobilenetv1、yolov3_mobilenetv3、mobilenetv3_large/small、ppocr、ssdlite_mobilenet_v3_large、ShuffleNetV2、picodet模型，正在和paddleslim团队一起解决精度问题呢

[2022-02-09 08:02] sight96 opened #8415 "使用华为昇腾910（atlas800推理服务器）运行PaddleLite-generic-demo，报错"
(鲲鹏 920 cpu + ascend npu)
执行语句：$ ./run.sh mobilenet_v1_fp32_224 linux arm64 huawei_ascend_npu

报错信息：
[F  2/ 9 15:51:16.910 ...pter/driver/huawei_ascend_npu/utility.cc:221 BuildOMModelToBuffer] Check failed: (reinterpret_cast<ge::graphStatus>(aclgrphBuildModel(ir_graph, options, om_buffer)) == ge::GRAPH_SUCCESS): 1343266818!==0 1343266818 Unknown ATC error code(1343266818)
[F  2/ 9 15:51:16.910 ...

[2022-02-10 02:23] 2050airobert opened #8421 "any more detailed example of the cnn model running case on mali gpu ？"
关于mail gpu的case，有木有更详细点的文档和示例提供下？ 相比cpu 和 arm，maili gpu的相关例子很单薄，是否可以提供下，更方便复现和调试。 tks

备注： 我只看到了如下关于gpu的文档，opencl 版本
 https://paddle-lite.readthedocs.io/zh/release-v2.10_a/demo_guides/opencl.html

[2022-02-10 03:30] 2050airobert commented on #8421
paddlelite在mali gpu 平台上是不是只支持opencl ，并不只支持vulkan？ tks

[2022-02-10 04:00] hong19860320 commented on #8415
目前demo 是基于 CANN 3.3 的，可以看看你的CANN环境哈，如果不一样，可以手动编译一下替换下头文件和库哈~ 具体文档 https://paddle-lite.readthedocs.io/zh/develop/demo_guides/huawei_ascend_npu.html

顺便可以试试我们develop分支的 demo [PaddleLite-generic-demo.tar.gz](https://paddlelite-demo.bj.bcebos.com/devices/generic/PaddleLite-generic-demo.tar.gz)

[2022-02-10 09:07] 2050airobert opened #8425 "The key nb model with opencl running on the mali gpu missing!!!"
Hi,
Following the advice of  web
https://paddle-lite.readthedocs.io/zh/release-v2.10_a/demo_guides/opencl.html, I could not find the mobilenetv1_opencl_fp32_opt_releasev2.6_b8234efb_20200423.nb demo model  with opencl on the gpu platform?
Can you share the mobilenetv1_opencl_fp32_opt_releasev2.6_b8234efb_20200423.nb or any other demo model for my to run on the android mali gpu platorm? Tks

note

[2022-02-11 01:37] hong19860320 commented on #8415
昇腾910 需要CANN 5.0.2以上的版本，因此，需要基于我们develop分支重新编译生成库，具体的编译方法可以查看文档 https://paddle-lite.readthedocs.io/zh/develop/demo_guides/huawei_ascend_npu.html ，然后demo也需要用我们develop分支的  [PaddleLite-generic-demo.tar.gz](https://paddlelite-demo.bj.bcebos.com/devices/generic/PaddleLite-generic-demo.tar.gz)

[2022-02-11 01:45] sight96 commented on #8415
我的cann环境是5.0的，感谢您的回复，我先试一试哈

[2022-02-11 05:20] 2050airobert opened #8431 "could not find the detailed examples"
1，关于mail gpu的case，有木有更详细点的文档和示例提供下？ 相比cpu 和 arm，maili gpu的相关例子很单薄，是否可以提供下，更方便复现和调试。 tks
备注： 我只看到了如下关于gpu的文档，opencl 版本
https://paddle-lite.readthedocs.io/zh/release-v2.10_a/demo_guides/opencl.html[](https://user-images.githubusercontent.com/8407513/153394251-a371823b-73e4-4e03-ae08-1bf5e38d1225.png)
2，有木有我们目前支持的gpu 类型的列表总结啊？
就像下面这样
![企业微信截图_16445568171274](https://user-images.githubusercontent.com/

[2022-02-11 05:24] 2050airobert opened #8432 "pronblem on the arm 73"
1、 num_threads 的设置不一定在其他平台上也适用吧？ 这个取决于main 主程序里 对于相应cpu的多线程功能启动的配置是否生效吧？ 我看了下，程序运行的时候确实只有1个core在使用，这说明num_threads没有生效，根本原因需要修改main主程序对吧？也就是 src 文件夹里的main.cc等文件，对吗？

问题背景请参考：
https://github.com/PaddlePaddle/PaddleDetection/issues/5181
2、 tinypose支持在 支持opengl2.0的mali gpu t系列或者g系列上运行吗？ 目前有跑通的case分享吗？

[2022-02-11 07:18] hong19860320 commented on #8415
嗯，基于develop 分支和CANN 5.0.2 重新编译替换demo中的库是关键一步哈，因为develop分支增加了够获取soc名称的代码，否则都是以310进行graph编译和模型生成的 https://github.com/PaddlePaddle/Paddle-Lite/blob/530851f2228fed8c70adfb7aa5a5bf2ce55a2a65/lite/backends/nnadapter/nnadapter/driver/huawei_ascend_npu/utility.cc#L82

[2022-02-11 07:48] chenjiaoAngel commented on #8432
v7-clang 不支持多线程，原因是NDK 版本遗留问题，不知道open mp
其他包是支持多线程的，选中 大核（A73）即power_mode=0， 设置线程数 thread_num （1，2，4）； 如果用的小核（A53），最多跑两线程。建议选大核

[2022-02-11 07:50] chenjiaoAngel commented on #8431
这个文档有介绍当前支持的GPU 情况，https://paddle-lite.readthedocs.io/zh/latest/quick_start/support_hardware.html#gpu

[2022-02-11 07:56] chenjiaoAngel commented on #8431
GPU 使用示例在repo 里有，在lite/cxx/demo 下面，如mobile_light demo：https://github.com/PaddlePaddle/Paddle-Lite/tree/develop/lite/demo/cxx/mobile_light

[2022-02-11 07:59] zhaoyang-star commented on #8432
关于问题 2，由于 Paddle Lite 的 GPU 后端只有 OpenCL，因此无法使用 OpenGL 来运行。如果您想试着将 tinypose 模型运行在 GPU 上，可以用 Paddle Lite 的 OpenCL 后端。

Mali GPU可以分为不同的架构（Utgard, Midgard, Bifrost, Valhall）, 其中后三个架构支持OpenCL，Utgard架构不支持OpenCL。由于我们Paddle-Lite GPU后端是使用OpenCL编写，因此支持 Midgard, Bifrost, Valhall 下的所有 Mali GPU。

由于Mali T系列GPU家族中同时含有Utgard和Midgard这两种架构的产品，因此需要查询对应型号的产品手册后，才能确定Paddle-Lite是否支持。

比如 麒麟910手机上的 Mali GPU T450MP4 型号是

[2022-02-11 08:00] TD-wzw opened #8435 "Error: This model is not supported, because kernel for 'conv2d' is not supported by Paddle-Lite."
ubuntu系统
编译使用官方脚本Paddle-Lite/lite/tools/build_linux.sh
编译选项WITH_EXTRA已改为ON
官方示例中的mobilenet_v1_opt.nb是可以正常运行的
自己的模型报错如图：
<img width="757" alt="捕获" src="https://user-images.githubusercontent.com/57340568/153556010-be1fd5bd-c7aa-458d-9aee-10ca6e24a824.PNG">

[2022-02-11 08:01] TD-wzw commented on #8435
[inference.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8046971/inference.zip)
报错的模型在这里，这个是根据paddleocr文本检测dbnet转出来的模型

[2022-02-11 08:04] TD-wzw commented on #8435
是在执行到	std::shared_ptr<PaddlePredictor> predictor =
		CreatePaddlePredictor<MobileConfig>(config);创建检测器实例的时候就直接出问题了，请问是这个模型有什么别的操作吗？conv2d这个不可能呀，毕竟mobilenetv1也有的但是它运行很正常

[2022-02-11 08:12] 2050airobert commented on #8432
1、“v7-clang 不支持多线程，原因是NDK 版本遗留问题，不知道open mp”  由于系统原因，我这边只能选择armv7的编译方式 ，armv8试过无法在手机上运行。因此，我只能选择v7-gcc 这个版本，也只剩下这唯一的选择了吧？
2、目前的gpu是比较新的mali G52 MP4 GPU型号，不知道是否可以顺利支持?
3、我尝试过将tinypose 这种ppdetection官方发布的模型，在mali gpu上跑，也就是用opencl 选项编译，并且用cl的opt工具链转换，都成功了。但是运行的时候，在手机上执行main函数后 没有任何打印信息？这个情况是不是说明了两个问题。
(1) 我们pplite 目前已经支持了tinypose模型在mali gpu with opencl 平台上运行
(2) 具体到每个模型，尤其是比较新的模型，如果pp 官网没有发布demo，那么必须手

[2022-02-11 08:25] chenjiaoAngel commented on #8435
是不是OPT 和 预测库版本不一致，导致转换好模型的信息在不兼容的预测库找不到具体信息

[2022-02-11 08:35] TD-wzw commented on #8435
啊...好像是因为我犯了个低级错误，在转模型的时候没有指定--valid_targets这个参数，把它指定为x86目前就不报错了，也可以正常前向传播获取输出，正在补齐后处理预处理那些步骤检验效果，结果稍后反馈

[2022-02-11 09:51] tomjeans opened #8437 "RK1808S0 运行NPU官方例程报错"
824 RKNPU Build(28):
[     1] HAL user version 6.4.0 build 227915
[     2] HAL kernel version 6.4.3 build 293908
828 RKNPU Setup(175): create tensor fail
828 RKNPU Setup(175): create tensor fail
828 RKNPU Setup(175): create tensor fail
828 RKNPU Setup(175): create tensor fail
828 RKNPU Setup(175): create tensor fail
828 RKNPU Setup(175): create tensor fail
828 RKNPU Setup(175): create tensor fail

[2022-02-11 09:59] 2050airobert commented on #8432
7, 实际上我在编译tinypose  android cpu v7版本的时候，应该采用的是预编译库gcc 相关的tool，这个问题我再确认下。但现在假设我采用的gcc 编译，那还有什么可能导致多线程设置不生效呢? (运行的配置是：arm a73X4+ A55X2 ) 有木有可能硬件平台还有限制，set_threads函数需要修改匹配才行？
8, 在我编译opencl版本的时候，推荐我用的是clang tool编译，确实转换成功了。但opencl并没有tinypose的demo 主程序，这个需要用户自己写吗？还是可以合作完成呢？
9，在我的opencl版本的跑在gpu的时候，如何把数据从arm传到gpu，gpu上计算结束后，如何传回到arm 上，是用类似Place (注源码 ： #if defined(LITE_WITH_OPENCL)    place = Place(TARGET(kO

[2022-02-11 10:09] tomjeans commented on #8437
[I  2/11  5: 3:48.254 ...le-Lite/lite/core/optimizer/optimizer.cc:123 ApplyPasses] == Finished running: nnadapter_subgraph_pass
[I  2/11  5: 3:48.255 ...le-Lite/lite/core/optimizer/optimizer.cc:104 ApplyPasses] == Running pass: npu_subgraph_pass
[I  2/11  5: 3:48.255 ...le-Lite/lite/core/optimizer/optimizer.cc:112 ApplyPasses]    - Skip npu_subgraph_pass because the target or kernel does not match

[2022-02-11 10:20] tomjeans commented on #8437
[5  2/11  5: 3:49.471 ...kernels/nnadapter/converter/converter.cc:119 Apply] Converting pool2d ...
[3  2/11  5: 3:49.471 ...ite/kernels/nnadapter/bridges/pool_op.cc:32 PoolConverter] Converting pool2d ...
[W  2/11  5: 3:49.471 ...ackends/nnadapter/nnadapter/nnadapter.cc:263 NNAdapterModel_addOperation] Unsupported operation(AVERAGE_POOL_2D) is found.
[5  2/11  5: 3:49.472 ...kernels/nnadapter/conv

[2022-02-11 11:37] chenjiaoAngel commented on #8432
v7-gcc 多线程支持的，另外看下编译时open mp 是否打开，线程数是否设置正确

[2022-02-11 11:39] yingshengBD commented on #8437
收集一下rknn rts的版本号
输入： strings /usr/lib64/librknn_runtime.so | grep build | grep version

[2022-02-11 11:39] yingshengBD commented on #8437
收集一下rknn rts的版本号
输入： strings /usr/lib64/librknn_runtime.so | grep build | grep version

[2022-02-11 11:39] yingshengBD commented on #8437
收集一下rknn rts的版本号
输入： strings /usr/lib64/librknn_runtime.so | grep build | grep version

[2022-02-11 11:54] 2050airobert commented on #8432
这是我follow  opencl教程的demo做的结果，具体case如下：
![企业微信截图_1644580288713](https://user-images.githubusercontent.com/8407513/153586798-7c662151-b87b-4ea6-9678-67da06130337.png)
结果是这样的:
![企业微信截图_16445804478842](https://user-images.githubusercontent.com/8407513/153587056-0a468a21-5e93-4965-bdae-55fba4a25b81.png)
这说明这个case在手机上mali gpu用opencl执行成功了，确定吗？

[2022-02-11 12:02] chenjiaoAngel commented on #8432
看源码这，这个没有执行成功

[2022-02-11 12:04] chenjiaoAngel commented on #8432
https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/kernels/opencl/layout_image_compute_test.cc#L62

[2022-02-11 12:57] 2050airobert commented on #8432
1，我看了下log里面出错的文件，感觉log不全，而且如果有错误，应该log会报错啊？麻烦帮忙看下是哪里的bug呢？
2，有木有查看手机gpu是否可用，是否支持opencl的方法，有log提示吗？

[2022-02-14 01:09] tomjeans commented on #8437
librknn_runtime version 1.7.0 (0bef7b3 build: 2021-08-18 19:51:44 base: 1131)

[2022-02-14 02:22] weishengying commented on #8421
是的，目前只支持opencl

[2022-02-14 02:30] weishengying commented on #8425
可以用opt工具转换mobilenetv1模型，得到所需要的.nb模型。opt工具的使用可以参考文档：https://paddle-lite.readthedocs.io/zh/develop/user_guides/model_optimize_tool.html

[2022-02-14 03:04] yingshengBD commented on #8437
了解 是你的固件版本太新了导致的，可以参考这个链接刷一个低版本的固件https://t.rock-chips.com/wiki.php?filename=%E5%BF%AB%E9%80%9F%E5%85%A5%E9%97%A8/%E7%83%A7%E5%86%99%E5%9B%BA%E4%BB%B6
rknn rts版本号为1.3~1.5.3即可

[2022-02-14 06:42] 2050airobert opened #8446 "trial debug"
[](https://user-images.githubusercontent.com/8407513/153586798-7c662151-b87b-4ea6-9678-67da06130337.png)[](https://user-images.githubusercontent.com/8407513/153587056-0a468a21-5e93-4965-bdae-55fba4a25b81.png)这是我follow opencl教程的demo做的结果，具体case如下：

![image](https://user-images.githubusercontent.com/8407513/153812939-91ac334f-5603-4b1a-a4f6-a10ddf4d2985.png)

结果是这样的:
![image](https://user-images.gith

[2022-02-14 09:59] hong19860320 commented on #8437
最好提供一个可用版的固件

[2022-02-14 09:59] hong19860320 commented on #8437
@yingshengBD 最好直接提供一个可用版的固件

[2022-02-14 11:06] yingshengBD commented on #8437
https://rockchips-my.sharepoint.com/personal/addy_ke_rockchips_onmicrosoft_com/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Faddy%5Fke%5Frockchips%5Fonmicrosoft%5Fcom%2FDocuments%2Fimage%2FLinux%20image%2FTB%2DRK1808S0
这个链接中 下载1.5.2的即可，包大概700多兆
![图片](https://user-images.githubusercontent.com/74164525/153852660-51baf5c2-bd65-472e-a5cd-a66e4718dc8d.png)

[2022-02-15 01:24] liyuyuan6969 commented on #8432
CPU信息：2个A75+6个A55

1.老哥 我也遇到这个问题，开始我是用的clang编译的，设置线程和模型都没有作用，模式设置成LITE_POWER_HIGH和LITE_POWER_NO_BIND、LITE_POWER_RAND_LOW推理耗时都在260ms左右，LITE_POWER_FULL和LITE_POWER_RAND_HIGH都会在1000ms左右

2.因为想降低耗时，就想着设置下多线程，发现设置了之后都没有作用，就找到了这个帖子，然后就去paddle lite网站下了个gcc版本的，下载下来后，就把原来的clang版本的libc++_shared.so和libpaddle_light_api_shared.so替换成了gcc版本的，因为是用的cmake来进行编译的，cmake的脚本里面的参数由clang改为了gcc，设置成4线程测了LITE_POWER_HIGH和LITE_

[2022-02-15 01:54] liyuyuan6969 opened #8449 "> v7-gcc 多线程支持的，另外看下编译时open mp 是否打开，线程数是否设置正确"
CPU信息：2个A75+6个A55

1.老哥 我也遇到这个问题，开始我是用的clang编译的，设置线程和模型都没有作用，模式设置成LITE_POWER_HIGH和LITE_POWER_NO_BIND、LITE_POWER_RAND_LOW推理耗时都在260ms左右，LITE_POWER_FULL和LITE_POWER_RAND_HIGH都会在1000ms左右

2.因为想降低耗时，就想着设置下多线程，发现设置了之后都没有作用，就找到了这个帖子，然后就去paddle lite网站下了个gcc版本的，下载下来后，就把原来的clang版本的libc++_shared.so和libpaddle_light_api_shared.so替换成了gcc版本的，因为是用的cmake来进行编译的，cmake的脚本里面的参数由clang改为了gcc，设置成4线程测了LITE_POWER_HIGH和LITE_

[2022-02-15 02:05] 2050airobert commented on #8432
&nbsp; &nbsp; &nbsp;事实上，arm对于openmp加速效果并不理想。另外pp官网上的demo 确定是在多个arm核上运行的结果吗？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle-Lite"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年2月1

[2022-02-15 03:02] sprouteer commented on #8446
[clinfo.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8065401/clinfo.zip)
您好，这个应该是没有成功运行，请说明一下手机是什么型号，gpu是什么型号，可以使用上面那个工具在手机上运行一下，看手机是否支持opencl

[2022-02-15 03:12] chenjiaoAngel commented on #8432
请问是用的paddle-lite-demo（https://github.com/PaddlePaddle/Paddle-Lite-Demo）仓库的demo吗？这个里面的demo 有我们QA测试验证，多线程是生效的
另外，cmake 编译时，可以cmake_flag 中是否有openmp 相关关键字，可以确认是否打开openmp
您可以把demo 链接给我们，我们看看

[2022-02-15 03:18] 2050airobert commented on #8446
1、上述实验用的手机是开发板，gpu是mali g52 MP4，我用你的程序跑了下，结果如下“/system/bin/sh: ./clinfo: No such file or directory”，备注下这个开发板是arm v8系列的
2、我更换了一个开发板，gpu基本上是同一款mali g52 的，跑了下你的程序，结果如下“/system/bin/sh: ./clinfo: not executable: 64-bit ELF file” 备注下这个开发板是arm v7系列的
以上都是在android 9上跑的，能否发个匹配的测试程序，验证下问题？多谢

[2022-02-15 04:05] chenjiaoAngel commented on #8449
请问是用的paddle-lite-demo（[https://github.com/PaddlePaddle/Paddle-Lite-Demo）仓库的demo吗？这个里面的demo](https://github.com/PaddlePaddle/Paddle-Lite-Demo%EF%BC%89%E4%BB%93%E5%BA%93%E7%9A%84demo%E5%90%97%EF%BC%9F%E8%BF%99%E4%B8%AA%E9%87%8C%E9%9D%A2%E7%9A%84demo) 有我们QA测试验证，多线程是生效的
另外，cmake 编译时，可以cmake_flag 中是否有openmp 相关关键字，可以确认是否打开openmp
您可以把demo 链接给我们，我们看看

[2022-02-15 06:46] 2050airobert opened #8450 "demo debug"
这是我follow opencl教程的demo做的结果，具体case如下：

![image](https://user-images.githubusercontent.com/8407513/154007329-d45daecd-5ea3-4262-ab95-1a4bccbd2d5b.png)

结果是这样的:
![image](https://user-images.githubusercontent.com/8407513/154007343-ad1f3d27-aef4-4d8a-97cb-cf230e5cb715.png)

1，这说明这个case在手机上mali gpu用opencl执行成功了，确定吗？如果没成功，是哪里有问题呢？
2，我看了下log里面出错的文件，感觉log不全，而且如果有错误，应该log会报错啊？麻烦帮忙看下是哪里的bug呢？
3，有木有查看手机gpu是否可

[2022-02-15 06:52] liyuyuan6969 commented on #8449
这个是我使用的demo地址：https://github.com/zhiboniu/pose_demo_android
其中分为android部分和算法部分，算法部分使用的是pp-tinypose的算法
我测的是算法部分的推理耗时，只改了CMakelists.txt和添加了一个main.cpp函数调用测耗时，然后用上面的那个make.sh脚本来编译的，cpp文件中pipeline.h和pipeline.cc中有个共享指针为私有的，被我改成共有的了，不然访问不到，可以帮忙看看不？感谢了哈！
我去查查怎么添加openmp关键字

[code]

[code]
![image](https://user-images.githubusercontent.com/53716679/154007935-15b09e48-27f5-4cfb-8220-2dde91eb80ed.png)

[2022-02-15 08:34] sprouteer commented on #8446
[test_layout_image_opencl.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8067220/test_layout_image_opencl.zip)
请使用这个可执行文件，看跑出来的结果是否与你的一致

[2022-02-15 08:45] 2050airobert commented on #8446
1、跑出来的结果跟之前你给我的程序跑出来的结果是一样的啊，您不需要再给同样的编译toolchain编译出来的程序了，因为结果都是一样的，现象也一样，麻烦您帮忙分析下，好吗？
具体实验结果如下：
（1）、上述实验用的手机是开发板，gpu是mali g52 MP4，我用你的程序跑了下，结果如下“/system/bin/sh: ./test_layout_image_opencl: No such file or directory”，备注下这个开发板是arm v8系列的
（2）、我更换了一个开发板，gpu基本上是同一款mali g52 的，跑了下你的程序，结果如下“/system/bin/sh: ./test_layout_image_opencl: not executable: 64-bit ELF file” 备注下这个开发板是arm v7系列的
2、在做框架选型，比较看好paddlel

[2022-02-15 08:51] liyuyuan6969 commented on #8449
1.我试了下在CMakeLists.txt中添加openMP选项，修改线程数之后还是没有变化
2.线程增加之后耗时是一定会减少吗？
3.我这边adb shell里面top指令之后，按1不能查看每个CPU的使用情况，不知道使用了哪几个CPU，请问大神有啥方法不？

![image](https://user-images.githubusercontent.com/53716679/154026011-15b3b1fa-b6ef-402f-ae73-49c08325376e.png)

![image](https://user-images.githubusercontent.com/53716679/154026105-f33075ab-12b1-4f44-a995-c8dbb5390c6e.png)

这个是修改之后的CMakeLists.txt
[code]

[2022-02-15 09:01] sprouteer commented on #8446
（1）您这个开发版可使用logcat 抓取更多的log吗，
（2）单从以上信息看来是opencl获取平台信息未获取到，可能是驱动问题，您有尝试过在这个开发版上跑opencl的一些简单例子吗

[2022-02-15 10:24] 2050airobert commented on #8446
首先，这是两个开发板，不同的开发板。输入数据和运行程序以及结果都说了甚至截图了，log其实已经都在截图里面了，麻烦仔细看下。另外你说的opencl不可用，也有可能的，但是要分两种情况讨论。
1、第一块板子的情况可能是opencl真的不可用
2、第二块应该是编译的toolchain选择不当造成的
麻烦您根据丰富的经验以及paddlepaddle，帮忙分析下，给出验证方式，多谢

[2022-02-15 13:32] 2050airobert opened #8461 "lack of opencl driver"
Is there any info about  the    opencl env  on Imali g52 mp4 gpu? tks

[2022-02-15 14:27] 2050airobert commented on #8450
1、能否提供下android 32位系统的clinfo 可执行文件
2、能否发下android 32位系统编译好的 opencl可执行程序，方便验证查找问题
BR

[2022-02-15 15:25] zhaoyang-star commented on #8461
Paddle Lite 是一个轻量级推理引擎，并不提供 OpenCL driver 包。Android 上默认已经有 OpenCL driver 了，您可以直接使用。

[2022-02-15 15:38] zhaoyang-star commented on #8450
1、从log推断没有执行成功，正常执行成功后，会打印出 Pass 字样。请问您使用的Paddle Lite版本是？推荐基于develop分支最新代码或 release/v2.10最新代码编译该单测。
2、从您的log中无法推断错误原因，个人推断是 OpenCL 环境初始化时异常退出了，正常执行会输出如下，输出红框日志就代表 当前设备支持OpenCL运行时环境。看到您使用的是开发板而非实际手机，建议您先在实际的安卓手机上验证。
![image](https://user-images.githubusercontent.com/24290792/154094737-5e51f087-da52-41e8-a424-039cf5516698.png)

3、clinfo 是第三方工具，我们不提供 clinfo 版本。

[2022-02-15 15:42] zhaoyang-star commented on #8446
建议先在您的开发板上编译&运行简单的OpenCL demo code，用来验证编译toolchain和OpenCL驱动是否正常。
通过后，再使用Paddle  Lite OpenCL。
根据经验，由于开发板高度定制化，因此我们也遇到过开发板上的OpenCL驱动问题导致无法运行OpenCL程序，可以找对应厂商重新刷机来解决。

[2022-02-16 01:07] sight96 commented on #8415
您好，我在重新编译替换掉demo中的库后，重新开始编译示例程序，
 ./build.sh linux arm64
出现以下问题：

[code]

[2022-02-16 03:31] 2050airobert commented on #8446
我用的是khadas 的 vim3 这个也是你们推荐的板子吧？ 你们没遇到过类似问题吗？

[2022-02-16 05:14] zhaoyang-star commented on #8446
[ 文档](https://paddle-lite.readthedocs.io/zh/develop/demo_guides/verisilicon_timvx.html?highlight=khadas#id6)中有关于使用 vim3 开发板上的 npu 的示例，我们确实还未在该开发板上验证 OpenCL 是否可用。从 log 看是该板子不支持运行 OpenCL 相关应用。

[2022-02-16 07:43] liyuyuan6969 commented on #8432
老哥，请问你的tiny-pose多线程问题解决了吗？

[2022-02-16 08:21] chenjiaoAngel commented on #8449
1）这个建议先在shell下验证多线程是否生效，已排除APP壳的影响
[shell-demo：](https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/develop/image_classification/android/shell/cxx/image_classification)
可以参考readme.md 文档完成模型和输入预/后处理更新进行验证
2）如果shell下多线程生效，然后可以参考[paddle-lite-demo](https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/develop/image_classification/android/app) APP壳，完成你的模型和输入/输出处理更新，以验证是否有问题
3）如果在这个APP 工程没有问题，说明你参考的A

[2022-02-16 08:24] chenjiaoAngel commented on #8432
1）这个建议先在shell下验证多线程是否生效，已排除APP壳的影响
[shell-demo：](https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/develop/image_classification/android/shell/cxx/image_classification)
可以参考readme.md 文档完成模型和输入预/后处理更新进行验证
2）如果shell下多线程生效，然后可以参考[paddle-lite-demo](https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/develop/image_classification/android/app) APP壳，完成你的模型和输入/输出处理更新，以验证是否有问题

3）如果在这个APP 工程没有问题，说明你参考的

[2022-02-16 08:50] liyuyuan6969 commented on #8449
好的，我先看看哈，感谢！

[2022-02-16 09:17] 2050airobert commented on #8446
多谢，那你们调试其他型号gpu的时候，有木有编译过android armv7  libOPenCL.so的库，可以分享下吗？ 或者相关程序和文档？

[2022-02-16 11:03] tomjeans commented on #8437
谢谢 老固件可以正常使用。

[2022-02-16 11:03] #8437 closed, assigned to chenjiaoAngel

[2022-02-16 14:17] hong19860320 commented on #8415
应该是 gcc 的版本问题，主要是std::string 和 std::vector的abi 不同导致的，你除了替换libnnadapter.so和libhuawei_ascend_npu.so，还得替换libpaddle_full_api_shared.so和libpaddle_light_api_shared.so

[2022-02-16 14:47] 13626730715 opened #8472 "Conv2d failed"
在Inter FPGA上部署paddlex模型出现conv2d failed错误
![image](https://user-images.githubusercontent.com/90882556/154289098-36fc0745-825d-4564-9269-edbbb7f6f0a2.png)

[2022-02-17 07:20] 2050airobert commented on #8432
”cmake 编译时，可以cmake_flag 中是否有openmp 相关关键字，可以确认是否打开openmp“
不好意思，请问下另外，您这里提到的 openmp 选项，貌似官网文档没有一个地方提到过啊？在哪里出现这个词的能否发下链接，多谢

[2022-02-17 08:11] 2050airobert opened #8475 "PP-TinyPose 部署到移动端 debug！！！"
hi，
 122FPS，51.9mAP 超轻量关键点检测算法PP-TinyPose来啦！
https://blog.csdn.net/weixin_40920183/article/details/121463620
请问下
1 以上官方发布的PP-TinyPose  122FPS 是运行在哪个平台具体运行的配置是？
2 可以发下链接中提到的移动端轻松部署教程的链接吗？
3 没有找到PP-TinyPose的论文和网络详细说明，是否发过相关paper，可以分享下吗？
4 如何查看tinypose的网络模型，如何打开  nb扩展名的文件呢？
BR

[2022-02-17 10:11] liyuyuan6969 commented on #8449
1.在确认了平板的架构是armv8之后，使用armv8来编译的程序，由于app上在android8.0之后对/proc/stat文件没有访问权限，使用c++程序打印了cpu核占用情况，确认了多线程确实是占用了多个核
2.刚刚还准备跟你说多线程耗时还是会比多线程多的问题，我重启android studio之后，然后重新连接平板，测试发现耗时恢复了正常，在LITE_POWER_HIGH模式下，单线程推理耗时在160ms左右，比260ms时少了100ms，也符合在android studio中测试的耗时结果，两个线程的耗时会在237ms左右，相较与单线程耗时增加，四线程耗时在219ms左右
3.经过测试发现，LITE_POWER_FULL能耗模式下，6线程耗时最少，为131ms左右，六个核都在运行，CPU占用如果不算c++的CPU打印程序，应该在75%左右，6个核都是100%
4.感觉系统是不是

[2022-02-17 10:27] zhaoyang-star commented on #8475
1、122FPS对应就是一帧运行8.2ms，你提供的链接文章中有这个数据，在865手机上，单人fp16精度耗时。
![image](https://user-images.githubusercontent.com/24290792/154456347-5e2661dc-6f38-4312-90e9-7dd43cf3e339.png)
2、部署教程：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/deploy/lite
3、这个链接中有相关介绍，https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/configs/keypoint/tiny_pose。模型和论文的详细信息建议在 PaddleDetection issue 中提问获取。

[2022-02-18 05:41] Wakp commented on #7661
我发现动态转静态之后，精度也降低了呢

[2022-02-18 06:35] chenjiaoAngel commented on #8449
这个APP耗时可能跟APP内部调度、测试设备使用状况如后台是否有其他进程运行、设备是否发热CPU降频等相关。测试性能时，建议关闭后台程序，设备CPU锁频，保证不发热（可以放个风扇降温）下，进行测试

[2022-02-18 07:12] 2050airobert opened #8480 "tinypose run on the NPU error！"
hi，

1 tinypose官方提供的是*.pdmodel  *.pdiparams 等格式，是否可以提供keypoint版本的 paddle训练结果的*.pdmodel，*.pdparams格式？
2 tinypose 要想利用 opt 工具转换生成 Amlogic NPU 模型，必须先转成__model__格式吧？有木有现成的tinypose和movenet的__model__格式模型文件分享下？
3 tinypose从训练好的模型最初的格式转换再转化一直到生成能够再NPU上运行的nb格式，具体的流程能否简单画下？能分享下相关链接吗？

BR

[2022-02-18 07:29] daming5432 commented on #8480
1、 tinypose官方提供的是*.pdmodel *.pdiparams，这个模型的输出不是关键点吗，没太明白你第一条要表达的意思。
2、*.pdmodel 和__model__ 是同一个东西，不需要转化，需要怎样的名字直接修改成想要的名字即可。.*.pdiparams 和__params__同理
3、如果是用2.0版本训练好的模型保存后，直接用opt工具转换即可。

[2022-02-18 07:38] 2050airobert commented on #8480
谢谢

1 请问有木有tinypose和movenet 量化后的*.pdmodel .pdiparams 文件呢？
2 官方提供的运行在arm cpu上的demo是浮点的模型吗？
3 目前的opt工具可以直接将tinypose和movenet 转为 amlogic npu上的nb模型吗？ 可否提供下链接

BR

[2022-02-18 08:08] hong19860320 commented on #8480
Amlogic NPU要求输入的是全量化模型，目前模型套件还没有tiny pose的全量化模型，我们暂时还没有在amlogic npu上进行验证呢。

[2022-02-18 08:10] hong19860320 commented on #8480
训练->tinypose fp32 原始 paddle 模型->PaddleSlim（离线后量化或量化训练）->tinypose int8全量化原始 paddle 模型->使用[paddlelite-generic-demo](https://paddlelite-demo.bj.bcebos.com/tools/PaddleSlim-quant-demo.tar.gz)直接加载 int8 全量化原始 paddle 模型，具体可以参考文档 https://paddle-lite.readthedocs.io/zh/develop/demo_guides/verisilicon_timvx.html

[2022-02-18 08:33] 2050airobert commented on #8480
hi，
1  我已经成功将tinypose 推理模型转换为npu上的nb模型，optlog显示转换成功。具体命令如下
opt --valid_targets=amlogic_npu,arm --model_file=output_inference/tinypose_128x96/model.pdmodel --param_file=output_inference/tinypose_128x96/model.pdiparams --optimize_out=output_inference/tinypose_128x96_npu/model
 2 我替换了官网tinypose demo里面的nb模型，然后手机端运行 ./main keypoint_runtimexxx   log如下 见附件 tinypose_npu_log.txt
[tinypose_npu_log.txt](http

[2022-02-18 09:04] zjyhll opened #8482 "Paddlex模型转nb之后，加载模型运行闪退"
2022-02-18 16:38:17.804 13106-13149/com.baidu.paddle.lite.demo.object_detection W/Paddle-Lite: [W  2/18 16:38:17.804 ...e-Lite/lite/model_parser/model_parser.cc:879 LoadModelFbsFromFile]
    warning: the version of opt that transformed this model is not consistent with current Paddle-Lite version.
          version of opt:v2.10
          version of current Paddle-Lite:v2.10-rc
2022-02-18 16:38:17.

[2022-02-18 09:09] zjyhll commented on #7860
请问

请问解决了吗，是如何解决的，我也是用的paddle-lite-demo的yolo_detection_demo工程
然后用的paddlex中的“YOLOv3目标检测https://aistudio.baidu.com/aistudio/projectdetail/2160238应用Paddle明星模型—YOLOv3，快速实现昆虫检测”项目进行的训练
训练导出模型后直接替换yolo_detection_demo中的模型和参数
报的错基本一致

[2022-02-18 09:47] zjyhll commented on #8482
![image](https://user-images.githubusercontent.com/8895877/154657517-39a2a2ac-de5e-4cc8-bf44-7a8cecbb29ca.png)
我的步骤很简单
1.使用飞浆的虫情识别demo“https://aistudio.baidu.com/aistudio/projectdetail/2160238”代码进行的训练
2.训练完成后一系列操作得到.nb移动端可使用的模型
3.使用你们官方的yolo_detection_demo，替换里面的参数和模型、labels这些运行
我感觉跟这个问题是一样的“https://github.com/PaddlePaddle/Paddle-Lite/issues/7860”，不过这个应该是没有解决。
因为这些都是demo，没啥技术含量，如果需要我可以提供所有代码，不过我想你们

[2022-02-19 22:32] Taichipeace commented on #6406
点击最上面的那个方块 “1” 就可以了

[2022-02-20 09:17] fanfq commented on #8482
很多人都卡在这步了，包括我。
经过我初步的分析，因为我是初学者，可能说的不对。

将安卓demo内的模型，和自己训练出来的模型 在 https://netron.app/ 可视化看下，看下输入参数。大概率是输入参数不一致造成你说的那个问题。

目前我还没有解决这个问题，归根揭底是由于我还不属于原理。
我现在是通过 paddleX gui工具训练的，模型是可以通过python代码在电脑上预测的，也就是说模型是没有问题的。

但是paddlelite pot工具转到成 .nb的模型，再替换安卓的demo .nb 多少会出问题的。主要原因是我还没有搞清楚，模型的调用方式与逻辑。 电脑端python代码封装的很好，导致很多逻辑不太清楚。

[2022-02-21 02:34] guizaibing opened #8488 "A311D晶晨新SDK上npu运行Paddle Lite提供的demo 提示无法找到npu设备"
npu demo 官网链接地址：https://paddle-lite.readthedocs.io/zh/develop/demo_guides/amlogic_npu.html

demo里面使用的npu驱动版本为6.4.4.3 ，晶晨新sdk npu驱动版本高于6.4.4.3

我们目前使用的npu驱动版本为6.4.6.2
![image](https://user-images.githubusercontent.com/87405375/154878913-503a6666-4255-4336-97ae-66ffd8d3dfa2.png)
按照如下教程执行脚本，提示无法找到npu设备
![image](https://user-images.githubusercontent.com/87405375/154879269-4d421b8c-1513-4682-bef2-72784

[2022-02-21 02:41] guizaibing commented on #8488
![图片1](https://user-images.githubusercontent.com/87405375/154880278-e77fb402-635b-43a9-849f-adf377e9839d.png)

[2022-02-21 02:41] #8488 closed, assigned to hong19860320

[2022-02-21 02:42] guizaibing commented on #8488
![图片3](https://user-images.githubusercontent.com/87405375/154880324-32d7b160-cec6-4ea0-a422-4a6b2622ab24.png)
![图片4](https://user-images.githubusercontent.com/87405375/154880326-859e1e4e-249f-4376-ae75-8d9432734392.png)

[2022-02-21 03:05] 2050airobert opened #8489 "tensorflow 与paddle 转化"
你好
1  请问是否支持paddle 网络模型文件跟tensorflow模型文件的相互转化，尤其是paddle模型转换为tensorflow模型，具体参考的链接是？
2  是否支持paddle lite推理文件与paddle训练输出的模型文件相互转化，具体参考是？

BR

[2022-02-21 03:39] liyuyuan6969 commented on #8449
好的，感谢哈！

[2022-02-21 06:56] 450347873 opened #8491 "相同模型下，iOS识别效果远远不及Andriod"
- 系统环境：iPadOS 14.8.1 (iPad Pro)
- Paddle Lite预测库：v2.9
- 模型版本：PP-OCRv2 蒸馏版超轻量中文OCR移动端模型 (https://github.com/PaddlePaddle/PaddleOCR/blob/release/2.4/doc/doc_ch/models_list.md)
(只对比检测模型)

- 预期效果：iPad Pro均能正常预测。
- 以下是Android相同预测库版本相同模型下的预测结果
![231645422990_ pic](https://user-images.githubusercontent.com/40023675/154897969-4850fbc1-e49d-40eb-a1a2-28feb08a7b96.jpg)
![241645423106_ pic](https://user-imag

[2022-02-21 06:56] 450347873 commented on #8491
iOS代码来自官方release1.1:https://github.com/PaddlePaddle/PaddleOCR/tree/release/1.1/deploy/ios_demo
Android代码来自官方release2.4:https://github.com/PaddlePaddle/PaddleOCR/tree/release/2.4/deploy/android_demo
然后更换模型和预测库
识别原图如下：
![ocr](https://user-images.githubusercontent.com/40023675/154897923-4e72dfb3-dc25-4648-b6d0-f3a5a08071ac.jpg)
![ocr2](https://user-images.githubusercontent.com/40023675/154897938-9c57

[2022-02-21 07:56] daming5432 commented on #8482
我这在验证ppyolo模型，有结果了回复

[2022-02-21 08:22] wyyzxml2120 opened #8492 "paddlex训练的模型经过paddleLite转换后在安卓demo中使用崩溃的问题"
崩溃错误日志
![image](https://user-images.githubusercontent.com/34090894/154914279-79360bc4-5965-455b-8081-2848003938ab.png)

首先我使用paddlex训练了一个模型，然后用paddleLite转换为nb文件，其中转换时的参数都肯定是正确的，paddleLite版本为 2.10rc0

然后下载了paddleLite的安卓demo，使用其中的object_detection_demo，可以正常运行。

然后按照文档进行了nb文件及label_list文件的替换，此时出现了 check_shape（）错误。

我又进行了输入的更改，新增了input0 和 input2的tensor。
![aaaaa](https://user-images.githubusercontent.co

[2022-02-21 08:58] lrjj commented on #8220
你们好，之前一直没弄成功，现在能够识别了，都是还是有问题，我在PaddleOCR也提问了，（https://github.com/PaddlePaddle/PaddleOCR/issues/5526）：
（1）Android demo打开opencl加速首次运行为什么没有生成lite_opencl_kernel.bin和lite_opencl_tuned.bin
（2）我现在把Android demo弄成只识别一行文字，我发现某一些行是可以的，换成其他行他会崩溃，但是用arm运行是都没问题的，我想知道是不是像这位朋友说的那样，这个平台还不能完全支持opencl嘛？

[2022-02-21 09:31] daming5432 commented on #8482
你好，确认原因了。是因为用的最新模型，最新模型是三个输入，而我们的demo里面用的是两个输入的模型，你需要对应改一下

[2022-02-21 11:54] zhoutianzi666 commented on #8491
安卓手机测试完，稍等测试一下ios

[2022-02-21 14:03] 2050airobert opened #8495 "paddle to onnx转化失败"
hi，
     使用paddle2onnx工具转化paddle的tinypose模型 输入为pdmodel和pdiparam，输出为.onnx，结果输出的模型里面有些节点比如input的shape为 负数，明显异常，无法进行后续对于onnx模型的量化。
     为了调查这个问题，我检查了官方提供的tinypose模型，里面的nb文件打开后发现input的shape有一个维度为？ 问号，可能这就是导致输出为-1的原因吧。
    请问下如何解决这种问题，可以重新提供下tinypose的模型文件吗，保证没有维度为问号？ 或者如果纠正paddle2onnx工具转化后的结果使得输出的任何节点维度都没有负数？
BR

[2022-02-22 02:50] hong19860320 commented on #8489
1. tf模型转paddle模型可以通过X2paddle https://github.com/PaddlePaddle/X2Paddle ，目前没有paddle2tf的工具，只有paddle2onnx https://github.com/PaddlePaddle/Paddle2ONNX
2. 无法将paddle lite 的nb模型转为paddle的推理模型，也就更无法转为paddle训练产出的check point模型

[2022-02-22 02:54] hong19860320 commented on #8492
yolo模型建议用yolo_detection_demo，因为object_detection_demo 只适用于单输入的模型（例如ssd模型，或者单输入的yolo模型），而yolo模型目前有三个不同版本：
1） 只有一个输入tensor（object_detection_demo 适用于ssd和此版本的模型，但需要做一些前后处理的修改）：即只有输入图像 tensor，shape [1,3,320,320]，数据类型fp32
2）两个输入tensor（yolo_detection_demo用的就是这个版本的模型）：第一个输入是图像，shape [1,3,320,320]，数据类型fp32；第二个是图像尺寸，shape [1,2]，数据类型int32_t；
3） 三个输入tensor（最新版的yolo模型）：第一个是图像尺寸，shape [1,2]，数据类型fp32；第二个输入是图像，sha

[2022-02-22 03:00] hong19860320 commented on #8492
在替换模型前，建议将原始的paddle模型__model__或xxx.pdmodel拖到 http://netron.app 查看下模型的输入、输出tensor，特别需要注意每个tensor的尺寸和数据类型，然后再在demo里面做相应的修改。

下面显示的是第三版的yolo模型的输入、输出tensor：

![image](https://user-images.githubusercontent.com/9973393/155055126-1fb344cf-8d6c-432f-a997-8dbb81e9fa3e.png)

[2022-02-22 03:25] hong19860320 commented on #8491
@450347873 为了排除不同os造成的图像预处理的差异，建议离线预处理好测试图像产出raw图像，然后在demo的模型中直接加载raw图像，再比较一下输出的差异。

从你的截图上看，iPad Pro上的出现了较大的图像形变，可能会导致预测结果产生偏差。

[2022-02-22 03:27] hong19860320 commented on #8495
因为默认的tinypose预测模型是支持不同输入尺寸的，你可以在训练导出tinypose预测模型是，给一个固定的维度。

[2022-02-22 03:43] 450347873 commented on #8491
iPad Pro上的截图是在识别处理之后展示在界面上才形变的，识别时的尺寸是正常的，预处理的过程是直接用了官方release1.1的代码

[2022-02-22 07:26] 2050airobert commented on #8495
谢谢，
        但我想问下，paddle2onnx没有这个参数，直接固定相应维度或者shape吗？

[2022-02-23 00:34] Nonmy opened #8503 "x86下lite部署paddle seg模型失效"
环境：windows10 64位 cpu部署  paddlelite 2.10rc0    paddlepaddle-gpu 0.0.0.post102    paddleseg 2.3.0

模型：paddle seg 下 fast_scnn stdc1 等

问题：训练好的模型，opt转nb未报错，推理时失效。具体为无法检测出待测物体、分割区域混乱、分割区域周期样重复。对训练集的图片进行推理，部分推理效果良好，部分完全无法分割。

可能问题：

编译问题。本人小白不懂，按照官方文档pip install了pypi的轮子，跑通了提供的demo
算子不支持。以https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.4/paddleseg/models/fast_scnn.py 模型为例，排除了算子支持问题。

[2022-02-23 03:16] #8195 closed, assigned to TangYuan-Liu

[2022-02-23 03:52] zjyhll commented on #8482
![image](https://user-images.githubusercontent.com/8895877/155258890-95e8a9e3-e725-4cc4-aa8e-df835f8a4deb.png)
![image](https://user-images.githubusercontent.com/8895877/155258920-80eb0214-e981-4736-a4d8-daab4e605126.png)
请问“三个输入”和“两个输入”具体是指这里吗
这样改了也报错，参数对应的值咋对应上呢

不好意思，我纯新手，不知道咋处理，

[2022-02-23 07:39] zjyhll commented on #8482
![image](https://user-images.githubusercontent.com/8895877/155278049-f3c64f25-68ac-4a27-9891-c300524ba474.png)
![image](https://user-images.githubusercontent.com/8895877/155278091-dc671cb9-8dd7-4163-9565-96c0a7e6b3b4.png)
解决了，不过又发现新的问题了。。。输出画框那里，不过我自己先研究下吧

[2022-02-23 07:42] zjyhll commented on #7860
我解决了报错的问题
![00b583a2eb07de9c0fa49ccce368a3f](https://user-images.githubusercontent.com/8895877/155278368-3da963ea-c220-46de-87b9-3f12badd8ec8.jpg)
![image](https://user-images.githubusercontent.com/8895877/155278403-748cda78-f124-423f-b0eb-34b3f0929c75.png)
![image](https://user-images.githubusercontent.com/8895877/155278459-9bbda29b-a51e-4a1d-a5f3-df65c6b6d65b.png)

[2022-02-23 08:24] zjyhll opened #8506 "安卓端模型部署成功后，输出结果问题"
![9K6QY RSH%~R2}@AJ5H0HK4](https://user-images.githubusercontent.com/8895877/155283370-c7c6bb6a-66db-4398-a92d-e0d3e8937a28.png)
![00b583a2eb07de9c0fa49ccce368a3f](https://user-images.githubusercontent.com/8895877/155283406-b9058cb6-0581-4a80-802a-9b83ed2f82ab.jpg)
![$62SF}GAX`GQ2%05VCXV%2G](https://user-images.githubusercontent.com/8895877/155283422-aea07325-b70c-4232-a424-5476923a720e.png)
啥情况会出

[2022-02-23 13:53] #8503 closed, assigned to nobody

[2022-02-23 13:55] 2050airobert commented on #8446
hi？

[2022-02-23 15:38] fanfq commented on #8482
哈哈，加油，有进展了记得过来说一下的。我现在没空研究这个呢，在忙公司的项目的。

[2022-02-24 02:06] 450347873 commented on #8491
你好，测试情况进展如何了

[2022-02-24 07:40] #8449 closed, assigned to nobody

[2022-02-24 08:47] zjyhll commented on #8506
![image](https://user-images.githubusercontent.com/8895877/155489775-334cbdd9-d69c-4354-9d20-efa70417b212.png)

目前来说，我用PaddleDetection运行了一个模型出来试了试，移动端是可以正常获得正确坐标的
![2fc10c3e8f56f712e860165777d2211](https://user-images.githubusercontent.com/8895877/155490038-1b30d518-de9f-4fc5-b331-8f90cd4885d9.jpg)

用paddlex跑出来的模型缺少右下坐标，群里面也咨询了，没有找到确定的问题

[2022-02-24 10:01] ANDROIDTODO opened #8519 "Mac M1 编译opt工具报错"
Hi,
我使用最新版本release/v2.10，编译OPT工具时，编译报错

电脑环境是MacBook Pro (13-inch, M1, 2020)

[code]

[2022-02-24 13:25] zhouweic36 opened #8522 "ssd_detection_demo 运行自己ssd模型问题"
https://github.com/PaddlePaddle/PaddleDetection/issues/5251#issue-1148738652

[2022-02-24 13:47] hong19860320 commented on #8522
把原始的paddle推理模型上传上来吧，我们可视化看看 @yingshengBD 关注下这个问题

[2022-02-24 14:16] tangsuoli commented on #7336
具体怎么修改啊，有参考的说明举例吗

[2022-02-24 23:52] zhouweic36 commented on #8522
这里是ssd 模型和模型参数，谢谢了
[output_inference_myssd.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8137322/output_inference_myssd.zip)

[2022-02-25 01:30] ANDROIDTODO commented on #8519
我这边编译的步骤为.
git clone https://github.com/PaddlePaddle/Paddle-Lite.git
git checkout release/v2.10
rm -rf third-party
arch -x86_64 ./lite/tools/build.sh build_optimize_tool

[2022-02-25 03:13] hong19860320 commented on #8522
嗯，看起来是用动态图ssd模型，目前 rk1808 npu 是支持静态图ssd模型的。他们的区别是，动态图ssd模型中的box_coder算子用下面一大堆细粒度算子实现的，有点复杂，npu可能无法支持，所以建议用静态图的ssd模型哈~

![image](https://user-images.githubusercontent.com/9973393/155646841-8d3c7672-2995-4d67-af31-d48432acc1af.png)

[2022-02-25 03:33] zhouweic36 commented on #8522
这个动态图的模型可以用脚本转成静态图的吗？这个脚本可在哪里参考？谢谢，

[2022-02-25 03:35] zhouweic36 commented on #8522
恩，这个模型在arm cpu上运行还不正确，我还没有尝试在npu上跑，先一步步来，谢谢

[2022-02-25 03:39] zhouweic36 commented on #8522
这个脚本我尝试过，好像也是不对，您帮我指导下，感谢了
![1](https://user-images.githubusercontent.com/100323630/155649227-cbed39b8-971c-47a1-a3fa-5fc50e6e7b90.jpg)

[2022-02-25 04:04] yingshengBD commented on #8522
你好 CPU的报错是什么呢？

[2022-02-25 04:38] zhouweic36 commented on #8522
![ssd](https://user-images.githubusercontent.com/100323630/155654634-13360988-7abf-4fed-bc52-f52e84840683.png)
左边的是应用程序，右边图 是当时运行时，有个size不匹配吧

[2022-02-25 04:45] zhouweic36 commented on #8522
picodet 和ppyolo，我想把这二个算法在rk1808 arm 端实现下，实测了下运行一次320*320大概二三百毫秒吧，除去数据集的问题根据应用场景也能接受，当然后面有能力再去优化到npu上实现

[2022-02-25 04:48] zhouweic36 commented on #8522
那动静态图的问题的话，我也去尝试下静态模型训练，但paddledetection/static/config下好像没有picodet

[2022-02-25 05:46] hong19860320 commented on #8522
ssd的静态图模型在这个目录 https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/static yaml文件可以用 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.3/static/configs/ssd/ssd_mobilenet_v1_voc.yml

[2022-02-25 05:51] hong19860320 commented on #8522
看起来demo有点问题，

这个只是动转静并输出推理模型，我说的是ssd模型组网的区分，paddle detection repo的静态图模型有专门的目录： https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/static

[2022-02-25 05:53] hong19860320 commented on #8522
![image](https://user-images.githubusercontent.com/9973393/155662013-84307f89-67ba-4796-a469-e8749ec919dc.png)
得用红框的代码，只是代码里有个错误，你没有对image_shape_data赋值，应该得这样：image_shape_data[0]=input_width；image_shape_data[1]=input_height。

[2022-02-25 06:23] xing5933 opened #8525 "使用paddle_lite_opt转化mask_rcnn模型报错"
命令：paddle_lite_opt  --valid_targets=arm --model_dir=inference_model/mask_rcnn_r50_1x_coco/  --optimize_out=inference_model/model

错误信息：
aistudio@jupyter-2031188-3511720:~/work/PaddleDetection$ paddle_lite_opt  --valid_targets=arm --model_dir=inference_model/mask_rcnn_r50_1x_coco/  --optimize_out=inference_model/model
Loading topology data from inference_model/mask_rcnn_r50_1x_coco//model.pdmodel
L

[2022-02-25 06:24] zhouweic36 commented on #8522
恩，改成您所说的这样，确实能跑通了，但是好像结果不对，score 太低了，用python脚本画的图，没有检测到目标
![Uploading ssd.jpg…]()

[2022-02-25 06:25] zhouweic36 commented on #8522
恩，改成您所说的这样，确实能跑通了，但是好像结果不对，score 太低了，用python脚本画的图，没有检测到目标
![ssd](https://user-images.githubusercontent.com/100323630/155665347-1a7bb43f-d9d8-4314-9ff0-9c321aab6aa0.jpg)

[2022-02-25 08:02] hong19860320 commented on #8522
这个是在rk1808 cpu上跑的吗？ 还是x86上呢？

[2022-02-25 08:05] zhouweic36 commented on #8522
rk1808 cpu上  可运行了  结果不对应该  在x86上预测是对的

发自我的iPhone

[2022-02-25 08:11] hong19860320 commented on #8522
嗯，ARM A35 CPU 结果确实有点问题，我们相关同学已经修复了，你可以用最新的develop代码编译替换下库 https://paddle-lite.readthedocs.io/zh/develop/demo_guides/verisilicon_timvx.html ，或者等我们这两天更新 [PaddleLite-generic-demo.tar.gz](https://paddlelite-demo.bj.bcebos.com/devices/generic/PaddleLite-generic-demo.tar.gz) ，你再下载验证下。

[2022-02-25 08:16] zhouweic36 commented on #8522
好 牛  收到  非常 谢谢  期待  正确结果

发自我的iPhone

[2022-02-25 08:23] chenjiaoAngel commented on #8525
请问有模型吗？用的哪个版本OPT呢？我们本地复现下

[2022-02-25 10:14] hong19860320 commented on #8522
demo已更新，可以重新下载试试 https://paddlelite-demo.bj.bcebos.com/devices/generic/PaddleLite-generic-demo.tar.gz

[2022-02-25 10:28] xing5933 commented on #8525
感谢回复。
opt是2.10rc，通过pip install paddlelite==2.10rc直接安装的
模型怎么给你？给个邮箱我发你

[2022-02-25 10:59] chenjiaoAngel commented on #8525
可以上传网盘吗？我从网盘下载

[2022-02-25 11:14] zhouweic36 commented on #8522
好，处理问题非常快，很是欣慰，非常感谢，我重新编译paddlelite 库，在rk1808 cpu 上运行应该对了，我还想问下，demo下有二阶段检测的ssd，一阶段检测的yolo，能否给个anchor free 类的，如picodet的demo，目前 picodet的前后处理需要在paddledetection/deploy/lite下相关代码基础上修改，暂时表示还不是很会，感谢了

[2022-02-25 13:05] hong19860320 commented on #8522
我们正在在瑞芯微和晶晨NPU上支持picodet，现在遇到精度问题，精度对齐后会在paddlelite-generic-demo增加picodet的demo的

[2022-02-25 14:31] zhouweic36 commented on #8522
恩，期待

[2022-02-25 14:33] yingshengBD commented on #8522
paddlelite demo目前没有现成的picodet范例，目前最快的还是基于ppdet的代码修改

[2022-02-25 23:20] zhouweic36 commented on #8522
收到  谢谢

发自我的iPhone

[2022-02-26 01:29] chenqianhe opened #8528 "安卓PaddleLite报错multiple definition"
下载的是这里的预编译库https://github.com/PaddlePaddle/PaddleOCR/blob/release/2.4/deploy/lite/readme_en.md

使用了静态链接

但是一引入
[code]
就会出现如下报错：
[code]

[2022-02-26 04:17] xing5933 commented on #8525
链接：https://pan.baidu.com/s/1rdM2X3V1-TLtJv81kBntsQ
提取码：w5sh

里面有两个模型
1、model1是没有经过paddleslim压缩训练的，报的就是上面的错
2、model2是经过paddleslim压缩训练的，报错如下：
aistudio@jupyter-2031188-3511720:~/work/PaddleDetection$ paddle_lite_opt --valid_targets=arm --model_dir=output_inference/faster_rcnn_r50_fpn_prune_fpgm/ --optimize_out=output_inference/model
Loading topology data from output_inference/faster_rcnn_r50_fpn_prun

[2022-02-26 07:51] 450347873 commented on #8491
你好，有相关进展了吗

[2022-02-26 13:20] fanfq commented on #8482
今天周末有空，我拿我自己的代码的测试了试一下，是可以跑通的。
![QQ20220226-211757](https://user-images.githubusercontent.com/1326879/155844845-3e3fde03-c1ed-4d4c-b9d6-11d1fbc9bc13.png)
![C02241DB23A7F7B0DCD42863201ABCD7](https://user-images.githubusercontent.com/1326879/155844851-8d9b9164-f92a-4192-b0a9-1bf2acb139f9.jpg)

可能是图片压缩导致 canvas 画图部分错位了，这个我研究下的，有结果了再来说。

[2022-02-26 15:31] gyg123456 opened #8530 "Paddle-Lite端侧部署：执行命令make ARM_ABI=arm8报错"
**1. 运行环境：**

Docker镜像 ：paddlepaddle/paddle-lite:2.0.0_beta
宿主机操作系统：win10家庭中文版

**2. 命令及错误**

root@5e6024afb53d:/inference_lite_lib.android.armv8.clang.c++_static.with_extra.with_cv/demo/cxx/lite# make ARM_ABI=arm8
ARM_ABI: arm8
ARM_PLAT: arm64-v8a; option[arm7/arm8]
NDK_NAME: android-ndk-r17
NDK_VERSION: 17
HOST_NAME: linux
HOST_TARGET: linux-x86_64
LITE_ROOT: /inference_lite_lib.android.armv8.cl

[2022-02-27 04:28] gyg123456 commented on #8530
![image](https://user-images.githubusercontent.com/50268110/155868205-4752cf85-b054-49a9-b9f7-935bfba7afc1.png)
'picodet_postprocess.cc'中添加"#include <math.h>",已可以成功make

[2022-02-27 05:02] 2050airobert opened #8531 "latest mali-opencl-sdk missing！"
hi，
     官方的mali-opencl-sdk 已经找不到了，是否可以分享下最新的mali-opencl-sdk连接？ 需要测试下paddlelite在mali g52 上的效果！
     这是之前的http://malideveloper.arm.com/develop-for-mali/sdks/mali-opencl-sdk，已经打不开了。
BR

[2022-02-27 10:53] 2050airobert opened #8532 "一运行到 clCreateContext 这一句就出现 segmentation fault 的crash！！！"
Hi，
1 ，当加载lOpenCL库编译后运行，会出现
“ CL_DEVICE_NAME: Vivante OpenCL Device VIPNano-QI.7120.0000
CL_DRIVER_VERSION: OpenCL 3.0 V6.4.6.2.345497
CL_DEVICE_VERSION: OpenCL 3.0 ”
2， 当我使用clinfo查看的时候，打印如下

Number of platforms                               1
  Platform Name                                   ARM Platform
  Platform Vendor                                 ARM
  Platform Version

[2022-02-28 02:32] TangYuan-Liu commented on #8528
麻烦详细描述一下开发的过程，以及所使用PaddleLite APP的详细信息吧。

[2022-02-28 02:40] chenqianhe commented on #8528
就是要部署使用PaddleOCR,动态链接现在能跑通,但是静态链接就会出现上面的报错了

[2022-02-28 02:59] weishengying commented on #8519
我在同样的M1机器上复现了下编译流程，中间没有报错。要不你再检查下编译器版本等信息,我的编译器信息如下：Apple clang version 13.0.0 (clang-1300.0.29.3)
Target: arm64-apple-darwin20.6.0
或者你不用自己编译，直接下载发布的opt工具。
https://github.com/PaddlePaddle/Paddle-Lite/releases/download/v2.10/opt_mac

[2022-02-28 03:02] TangYuan-Liu commented on #8530
报错提示未找到ceil符号的声明，能否详细描述下你的开发过程及步骤？

[2022-02-28 03:26] TangYuan-Liu commented on #8528
请发一下你所参考的文档资料以及你开发的代码，我先复现定位下问题。

[2022-02-28 03:51] gyg123456 commented on #8530
![image](https://user-images.githubusercontent.com/50268110/155917789-9eae2c72-bcda-4591-922a-c5f1825caab2.png)
加上include <math.h>后问题已解决，谢谢

[2022-02-28 04:15] chenqianhe commented on #8528
可以有其他的联系方式吗,我好把打包的代码发您

[2022-02-28 04:57] TangYuan-Liu commented on #8528
可以的，QQ群中的，1131165566

[2022-02-28 05:01] chenqianhe commented on #8528
已加,我的QQ 1278095698

[2022-02-28 05:27] #8530 closed, assigned to TangYuan-Liu

[2022-02-28 06:18] ANDROIDTODO commented on #8519
@weishengying Hi,
当我使用你提供的opt_mac时，报错日志如下：

yangjun@yangjun ocr % file ../../Paddle-Lite/opt_mac
../../Paddle-Lite/opt_mac: Mach-O 64-bit executable x86_64
yangjun@yangjun ocr % ../../Paddle-Lite/opt_mac
zsh: illegal hardware instruction  ../../Paddle-Lite/opt_mac

然后我这边的编译器信息如下：
Apple clang version 13.0.0 (clang-1300.0.29.3)
Target: arm64-apple-darwin21.1.0

[2022-02-28 07:11] zhaoyang-star commented on #8531
推测是mali-opencl-sdk的下载链接失效，这个我们也无能为力。
这里有 Paddle Lite OpenCL 在各平台下的部署示例，建议您基于最新的 develop 分支，使用 mobile_full demo 运行。参考链接：https://paddle-lite.readthedocs.io/zh/develop/demo_guides/opencl.html

[2022-02-28 07:14] zhaoyang-star commented on #8532
1、请确定：您是自己的 OpenCL 代码运行报如上错误吗？
2、从报错信息推测，报错与您设备上的 OpenCL 驱动有关，与代码无关。建议您先确认 OpenCL 驱动的正确性，如果有条件可以联系设备厂家来确认该问题。

[2022-02-28 07:48] weishengying commented on #8519
请问下你的M1安装的python版本是多少

[2022-02-28 07:57] hong19860320 commented on #8495
@jiangjiajun jiajun, 帮忙看看这个问题？

[2022-02-28 07:59] jiangjiajun commented on #8495
你可以用下onnxsimplifier这个工具，里面提供了`--input-shape`命令，可用于固定onnx模型的shape

[2022-02-28 08:28] ZhuGeRoastedFish commented on #8528
参考https://github.com/PaddlePaddle/Paddle-Lite/issues/8333

[2022-02-28 09:23] ZhuGeRoastedFish opened #8539 "安卓端跨线程推理opencl模型崩溃,但跨线程跑cpu模型没事"
推理库paddlelite2.10,
host:安卓9/11,
设备:联发科p60/高通骁龙855+
推理运行环境:opencl/arm

问题描述:
在实际业务场景中,会在不同线程下调用paddlelite预测器进行推理, 比如此时在A线程推理了一张图片, 下一时刻在B线程推理了另一张图片.

以往我使用的都是cpu模型, 没碰到问题. 但是最近为了提速改用了opencl模型, 就碰到问题了

// 假设此处已完成了初始化模型的操作, 接下来模拟跨线程调用预测器
[code]
跨线程推理opencl模型崩溃后, android studio中断点自动打在了predictor_->Run();显示堆栈为
![image](https://user-images.githubusercontent.com/77224640/155957044-fa59811f-dde0-4479-a69c-

[2022-02-28 12:40] zhoutianzi666 commented on #8491
iOS上也是2.9版本的库吗？

[2022-02-28 12:43] zhoutianzi666 commented on #8491
你好，我们的同学，ios上，试了一下发现2.9的库和2.10的模型，程序运行时候会crash。
你能提供下你的ios使用的模型和库吗？

[2022-02-28 13:05] zzzzzzyzz opened #8540 "In FPGA predictor-->run() error aborted"
In FPGA，Changed the paddlelite .nb，use c, predictor-->run() error aborted

[2022-03-01 01:14] 450347873 commented on #8491
检测模型：https://paddleocr.bj.bcebos.com/PP-OCRv2/chinese/ch_PP-OCRv2_det_infer_opt.nb

[2022-03-01 01:21] 450347873 commented on #8491
库参照这个文档进行编译的：https://paddle-lite.readthedocs.io/zh/release-v2.10_a/source_compile/macos_compile_ios.html
需要cd到2.9下的版本cd Paddle-Lite && git checkout release/v2.9
执行脚本./lite/tools/build_ios.sh --with_extra=on  --with_cv=on
如果app正常运行则执行./lite/tools/build_ios.sh --with_extra=on

[2022-03-01 01:56] weishengying commented on #8540
你好，请问paddlelite .nb是通过opt工具转换得到的吗，使用opt工具的时候--target_list参数是否设置正确。此外，在运行时可以设置 export GLOG_v=5 来显示更详细的报错信息。

[2022-03-01 02:04] zzzzzzyzz commented on #8540
paddlelite的.nb模型文件是通过opt转换得到的，拿飞浆的给的示例模型转换，运行是可以成功的。但是通过其他的模型转成paddlepaddle然后再转成paddlelite就是运行不了。

[2022-03-01 02:30] sprouteer commented on #8539
您好，OpenCL不支持使用同一个预测器在多个线程上执行多个预测任务的这种情况。

[2022-03-01 02:36] ZhuGeRoastedFish commented on #8539
谢谢,暂时能想到的解决方案就是每次执行完预测任务就销毁该预测器, 然后重新初始化. 这样就不会有这个问题了

[2022-03-01 02:36] #8539 closed, assigned to nobody

[2022-03-01 03:04] 450347873 commented on #8491
库：[2.9.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8158474/2.9.zip)

[2022-03-01 07:45] 450347873 commented on #8491
项目压缩包实在是上传不上来，可能是太大的原因
基本上我们对release1.1的改动都在这个文件了(我们在注释了代码之后才成功运行)
[ViewController.mm.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8159652/ViewController.mm.zip)

具体改动如下：
大概在438行：对预测目标图名字
_image = [UIImage imageNamed:@"ocr2.jpg"];

大概392行：修改了引用模型
NSString *model1_path = [[NSBundle mainBundle] pathForResource:[NSString stringWithFormat:@"%@", @"ch_PP-OCRv2_det_infer_opt"] ofType:@"nb"];

[2022-03-01 09:13] wyyzxml2120 opened #8548 "使用paddleLite转化后什么都识别不出来"
如题，我在paddlex上使用yolov3+mobileNetV3训练了一个模型（自己标注的数据），在paddlex上预览结果时，效果还可以，大体都能识别。

然后使用paddleLite转化为nb文件部署到android后，什么都识别不出来了，一张出结果的都没有。。。

求助.jpg

[2022-03-01 10:16] chenjiaoAngel commented on #8548
请问用的哪个demo呢？模型的前后处理、label 文件这些有同步更新吗？

[2022-03-02 01:32] ANDROIDTODO commented on #8519
@weishengying Hi,
Python 3.7.9

[2022-03-02 02:02] wyyzxml2120 commented on #8548
yolov3的demo，先用paddlex的昆虫数据训练了一个模型，将nb和label替换后能正常识别，然后再用我实际需要的数据训练了一个模型，替换进去就啥都识别不出来了

[2022-03-02 02:10] chenjiaoAngel commented on #8548
新训的模型输入shape、预处理和yolov3 是匹配的吗？label是不是要更新额？

[2022-03-02 02:31] xing5933 commented on #8548
我也遇到同样的问题，首先在AiStudio上训练了yolov3_mobilenet_v3的模型，在AiStudio上使用python命令是可以识别的，然后同一张图，在安卓上就识别不了了。
环境如下：
1、paddlepaddle-gpu:2.2.2.post101
2、PaddleDetection：release/2.3
3、PaddleSlim：2.2.2
4、paddlelite：2.10rc

具体操作步骤如下：
一、AiStudio侧
//训练
python -m paddle.distributed.launch tools/train.py -c configs/yolov3/yolov3_mobilenet_v3_large_270e_coco.yml --slim_config configs/slim/quant/yolov3_mobilenet_v3_qat.yml

[2022-03-02 02:40] wyyzxml2120 commented on #8548
肯定是匹配的 一样的算法跟骨干网络

[2022-03-02 06:36] weishengying commented on #8519
换一种方式，不编译opt可执行工具。用python安装paddlelite包。 python3.7 -m pip install paddlelite。然后使用python中的opt工具。参考文档 [Opt](https://paddle-lite.readthedocs.io/zh/develop/api_reference/python_api/opt.html)

[2022-03-02 07:57] xiaohe725 commented on #6342
老哥，请问你们解决了吗，我现在遇到和你一样的问题

[2022-03-02 08:34] zzzzzzyzz opened #8558 "fpga部署"
在fpga部署的时候，根据百度官方给的模型可以通过opt转成.nb文件，可以运行成功，但是换了个模型就是会报aborted错误，后来换了一下libpaddle_light_api_shared.so的不同的版本，就是运行不出来。
![1646210001(1)](https://user-images.githubusercontent.com/57551683/156324952-19d4d570-6764-4638-935f-c7a58f671127.png)

[2022-03-02 09:25] zhoutianzi666 commented on #8491
我和刘晓伟同学一起看了下。

ios上效果差，我们将检测模型的输入ios_in.txt和输出ios_out.txt下载到本地，并将此ios_in.txt放到安卓shell端给模型运行，发现安卓shell端的输出android_out.txt和ios_out.txt的输出误差很小，可以排除Paddle-Lite会在安卓和iOS上执行不一致。

我们在安卓demo中，将ios_in.txt灌输给安卓demo，发现安卓端同样表现很差。

结论：应该是ios端和android端对同一张图片，灌输给检测模型的数据有diff。

[2022-03-02 10:00] chenjiaoAngel commented on #8548
那可以把模型和标签文件、测试图片给到我们。我们本地在android-demo  看看，模型大的话，可以通过网盘发给我们

[2022-03-02 10:07] 2050airobert opened #8559 "linux arm64 NPU error compilation.cc:75 ~Compilation device_context: No device found"
hi，
   linux arm64 with a311d 设备上，运行demo程序，failed，出现“linux arm64 NPU error compilation.cc:75 ~Compilation device_context: No device found”。跟之前的https://github.com/PaddlePaddle/Paddle-Lite/issues/8362 问题有点类似，不过之前是在android arm7编译环境下跑的。具体log如下
[log-0302.txt](https://github.com/PaddlePaddle/Paddle-Lite/files/8168615/log-0302.txt)
请问下，是否还是按照之前的方式，麻烦更新下linux arm下的库？

BR

[2022-03-02 10:29] xing5933 commented on #8548
@chenjiaoAngel 大神，我发你一个我训练的模型
链接: https://pan.baidu.com/s/1-oYC-9emzF1QnPdKborqpQ 提取码: 9mru
我下午重新训练了一个模型，没有使用--slim_config进行压缩，在安卓端竟然可以预测了，两个模型我都放里面了，麻烦帮忙看看

[2022-03-02 10:41] 2050airobert commented on #8559
[ 6087.487168] Galcore version 6.4.6.2.5.3.2

[2022-03-02 11:06] leiqing1 commented on #8548
你这边定位是因为--slim_config参数，导致之前转换的模型在安卓上没结果吗？

[2022-03-02 12:16] YZJN commented on #8548
跟我朋友一模一样的情况 麻烦加下v  wylzxml2120

[2022-03-02 12:46] ANDROIDTODO commented on #8519
@weishengying Hi,
我使用paddlelite脚本的方式还是报同样的问题

# 引用Paddlelite预测库
from paddlelite.lite import *

# 1. 创建opt实例
opt=Opt()
# 2. 指定输入模型地址
opt.set_model_dir("./output/mobilenet_v1")
# 3. 指定转化类型： arm、x86、opencl、npu
opt.set_valid_places("arm")
# 4. 指定模型转化类型： naive_buffer、protobuf
opt.set_model_type("naive_buffer")
# 4. 输出模型地址
opt.set_optimize_out("./output/mobilenetv1_opt")
# 5. 执行模型优化
opt.run()

yangjun@y

[2022-03-02 12:53] ANDROIDTODO commented on #8519
@weishengying Hi,
当我使用OPT 脚本的方式，出现崩溃，以下是系统的错误日志

-------------------------------------
Translated Report (Full Report Below)
-------------------------------------

Process:               Python [35151]
Path:                  /Library/Frameworks/Python.framework/Versions/3.7/Resources/Python.app/Contents/MacOS/Python
Identifier:            org.python.python
Version:               3.7.9 (3.7.9)
Code

[2022-03-02 12:54] sprouteer commented on #8558
![image](https://user-images.githubusercontent.com/89541335/156365142-499e5831-e3f3-4d89-a65a-05a2af84772b.png)
这个opt版本需要和库的版本对齐。可以在这个网址下载我们编译好的库和对应版本的opt工具 https://github.com/PaddlePaddle/Paddle-Lite/releases

[2022-03-03 01:37] xing5933 commented on #8548
@leiqing1 是的，当时加--slim_config参数默认只训练了50轮，没加训练了270轮，我怀疑是不是训练少精度低导致的，今天我再试试--slim_config参数训练270轮，看在手机上有没有效果

[2022-03-03 02:28] chenjiaoAngel commented on #8548
这个建议可以将训练后的模型，现在paddle 原生推理下，运行精度，看精度是否达标。我们也看看这两个模型的输出结果是否和inference 对齐。

[2022-03-03 02:29] chenjiaoAngel commented on #8548
原始模型辛苦也提供下，NB 模型的精度没法参考是否对齐

[2022-03-03 02:31] chenjiaoAngel commented on #8525
该问题已在定位中，有结果后会同步。 @weishengying 有结果后，辛苦同步下，告知issue同学

[2022-03-03 03:16] hong19860320 commented on #8559
目前demo中只提供了6.4.4.3的VSI SDK + Amlogic DDK 哈，建议向开发板销售商提供一个6.4.4.3的A311D的galcore.ko 然后insmod galcore.ko

顺便可以尝试基于 TIM-VX 方式支持 A311D 芯片 https://paddle-lite.readthedocs.io/zh/develop/demo_guides/verisilicon_timvx.html

[2022-03-03 03:32] 2050airobert commented on #8559
1 那如果我换个linux镜像，比如去年年初的版本，会不会系统自带galcore.ko就是6.4.4.3的版本呢？
2 这个galcore.ko 区分android和ubuntu系统吗？ 之前你们给过一个 galcore.ko 6.4.4.3的库，但是是android armv7的版本？能通用吗？
3 那除了6.4.4.3的A311D的galcore.ko，你们这边可以提供下linux下的VSI SDK + Amlogic DDK更新包吗？

[2022-03-03 03:35] 2050airobert commented on #8559
这个galcore.ko 区分android和ubuntu系统吗？ 之前你们给过一个 galcore.ko 6.4.4.3的库，但是是android armv7的版本？能通用吗？

[2022-03-03 06:00] hong19860320 commented on #8559
1. 需要和开发板厂商确认下，我们目前确认在khadas VIM3 和 荣品的A311D板子上可以支持；
2. galcore.ko 区分android 和 ubuntu 系统的，但理论上开发板厂商都可以提供。android 区分 abi的，分arm64-v8a和armeabi-v7a；
3. 目前我们只有6.4.4.3的VSI SDK + Amlogic DDK + galcore.ko，后面我们会收集不同芯片型号+不同厂商开发板的各个版本的VSI SDK&driver + linux kernel galcore.ko放在我们的文档里面。

@yingshengBD 关注下

[2022-03-03 06:25] 2050airobert commented on #8559
我用的就是VIM3开发板啊。
我之前就是@yingshengBD  帮忙更新了下android armv7下的ko，这次我的系统是ubuntu arm64的，npu运行模型出现的问题跟之前很像。
@yingshengBD 可以帮忙再更新下ubuntu amr64的ko和npu相关so 吗？ 多谢

[2022-03-03 06:34] hong19860320 commented on #8559
@yingshengBD 提供下 VIM3 的 6.4.4.3版本 for linux arm64 的 galcore.so吧。后面将VIM3和VIM3L的galcore.so参考android armeabi-v7a 那样放在PaddleLite-generic-demo的libs/linux/arm64/verisilicon_timvx目录下吧。

[2022-03-04 02:30] xing5933 commented on #8548
@chenjiaoAngel
链接: https://pan.baidu.com/s/1hMPkwohUXydMAg5r3V1nwg 提取码: 7u4h
你好，我提供了量化训练的原始模型和对应的nb模型，paddle 原生推理下原始模型可以推理出结果，nb模型推理不出结果，麻烦看一下

[2022-03-04 02:48] wyyzxml2120 opened #8569 "FastRcnn训练的模型能用opt转化为nb文件吗"
我之前使用yolo训练的模型转化时都没问题，fastrcnn的模型转化时报错。
![aaa](https://user-images.githubusercontent.com/34090894/156689439-7198aadc-304b-4f0a-860f-222b4b71b22c.png)

![bbb](https://user-images.githubusercontent.com/34090894/156689628-ecdbda28-e259-47ed-a7ae-7e6d0ef8cfee.png)

[2022-03-04 03:04] 2050airobert commented on #8559
@hong19860320 @yingshengBD hello,
     请问下，是否可提供下新的demo包或者verisilicon_timvx lib
BR

[2022-03-04 03:27] LMR2018 commented on #6109
@authorfu  @a794133319  请问你们解决了吗？是什么问题引起的？

[2022-03-04 03:42] yingshengBD commented on #8559
generic-demo的/libs/PaddleLite/linux/arm64/lib/verisilicon_timvx目录下，有vim3的galcore.ko，push上去，先rmmod之前的galcore，再insmod，需要确保galcore为6.4.4.3

[2022-03-04 04:25] 2050airobert commented on #8559
@yingshengBD  确实没有，不管官网之前的版本，还是后来你发的generic-demo版本，/libs/PaddleLite/linux/arm64/lib/verisilicon_timvx这里面确实没有 任何ko文件？ 请帮忙double check下，多谢

[2022-03-04 05:50] yingshengBD commented on #8559
写错
/libs/PaddleLite/linux/arm64/lib/amlogic_npu
这个下面

[2022-03-04 08:12] wyyzxml2120 commented on #8548
求各位大佬来围观啊

[2022-03-04 08:18] 2050airobert commented on #8559
试过版本并不对啊，而且即使是6.4.4.3的ko，以及so，但我目前sdk是6.4.6.2xxx，能正常使用吗？

[2022-03-04 08:21] yingshengBD commented on #8559
你如果使用的是我们的demo，会自动替换除了驱动之外的依赖库，相当于底层软件栈全部变成了6443版本，所以可以正常使用
所以目前是啥错误呢

[2022-03-04 08:23] 2050airobert commented on #8559
其实我已经试过了，按照的都是你说的这套方法，但是结果总是我给你的那个log，没有变化的。
所以才会问你，是不是跟之前android的情况一样，需要你同步给我一套，就好了
我目前sdk是6.4.6.2xxx需要回退吗？

[2022-03-04 08:38] 2050airobert commented on #8475
hi，
     请问下
1 我的配置是4XA72 +2A53 ,官方demo程序默认开启的是4线程，有木有可能这4线程都只是跑在一个core上，比如大核A72?
2 由于跟任务并行度相关，即便tinypose程序分成4线程，实际上也很难分配到4个核上同时跑吧，因为中间可能还是需要交互以及结果同步？
3  关于这个多核跑的介绍或者paddlelite代码部分主要在哪里？还是并没有给出开源？
多谢

[2022-03-04 09:27] mjp9527 commented on #8569
您好，这个问题是已知问题，正在修复中

[2022-03-04 11:21] chenjiaoAngel commented on #8548
能否提供下预处理后的输入数据，用于精度评测。如果是FP32 模型，我们可以用全一测试；但是量化模型，建议用真实数据集测试。另外，量化后的结果可能有损失，建议您用一批测试集，跑下inference 模型和lite 模型的准确率

[2022-03-04 13:01] command-z-z opened #8578 "arm上跑ppyolo直接出现killed"
复现环境：armv7l
模型文件:   ppyolo（链接: https://pan.baidu.com/s/1hT2RT7ez4flECDEZYD4kCA  密码: 8fmb）
模型demo：Paddle-Lite-demo/object-detection-demo（已更改为三输入tensor）
库版本:version of opt:v2.10-rc
version of current Paddle-Lite:v2.10-rc
<img width="1160" alt="截屏2022-03-04 下午4 18 49" src="https://user-images.githubusercontent.com/71259900/156767830-abb0f0da-9c18-4b0e-b12c-d4a052e93217.png">

输入export GLOG_v=4后的日志信息为

[2022-03-05 02:59] 2050airobert commented on #8559
/libs/PaddleLite/linux/arm64/lib/amlogic_npu/galcore.ko 大小是8826KB 加载后
insmod: ERROR: could not insert module galcore.ko: Unknown symbol in module
而我加载6.4.2.1XX的版本，就可以正常加载。
所以能否给下正确的6.4.4.3xxx的galcore.ko 多谢啦！

[2022-03-05 06:11] 2050airobert commented on #8559
另外，amlogic那边已经升到了6.4.6.2XXX以上的版本了，为什么我们的paddlelite demo 还需要依赖6.4.4.3xxx的库，是否可以同步下，直接可以在6.4.6.2以上版本运行，能否提供下升级版本的demo包呢？
多谢

[2022-03-05 12:18] 2050airobert opened #8579 "Opencl demo failed on linux armv8！！！"
hi，
按照https://paddle-lite.readthedocs.io/zh/develop/demo_guides/opencl.html#api 文档，一步步进行，最后
1 运行 ./mobilenet_light_api \
结果异常
![image](https://user-images.githubusercontent.com/8407513/156880552-c73689bb-a59d-4e70-bd50-b66484d800d8.png)
2 运行./mobilenet_light_api \
            mobilenetv1_opt_opencl.nb \
           1,3,224,224 \
          100 10 0 1 1 0
直接abort，
![image](https://user-images.githubu

[2022-03-05 14:44] hong19860320 commented on #8559
@yingshengBD 下周找个时间直接微信或者远程看下用户的环境。
顺便再强调下，针对常见的khadas和荣品的板子的A311D和S905D3的linux arm64和android armeabi-v7a 6.4.4.3版本的驱动，在我们的文档里一定要有下载方法和使用说明，并提供配套的image和系统烧录方法（这个非常重要！），否则只提供driver让用户安装将会遇到各种的环境问题。

[2022-03-06 01:48] 2050airobert commented on #8559
@hong19860320 @yingshengBD
1 事实上，压缩包里面少了一些匹配的文件，导致运行失败的这种不方便如果不做完善，就是给其他人做完善的机会。
 我们这边折腾了几轮自己补上了，需要的话可以通过webchat可以发给你们。
2 另外最重要的是能不能以互联网的速度跟上最新的进展，比如tinypose这是paddle lite原创，是否可以尽快部署到amlogic NPU上。尤其是量化和到NPU的算子转换，做一个规划，跟进这部分的落地，方便我们进一步推广这些技术，互相合作。
3 目前只是听运营有说在跟进tinypose到a311d 的部署，但是不知道现在到底是卡在哪里了，是否可以一起推进下呢？
多谢

[2022-03-06 02:07] hong19860320 commented on #8559
1. 虽然各家开发板用的是同一个型号的芯片，但各家的系统版本（主要是linux kernel版本，abi）各不相同，碎片化比较严重，目前比较好的方式是将系统刷到我们指定的版本，然后进行一些kernel driver替换工作，我们也正在文档方面加强这方面的工作，保证用户环境与我们测试环境一致。
2. 关于模型支持问题，算子和模型基本能跑通，只是由于NPU要求全量化，而全量化对精度影响比较大，目前paddleslim同学正在解决精度问题，待解决后我们会加入到paddlelite-generic-demo中并提供办可视化demo。

[2022-03-06 02:38] hong19860320 commented on #8559
@2050airobert 我们这边折腾了几轮自己补上了，需要的话可以通过webchat可以发给你们。

你们已经能在你们板子的NPU上跑通paddlelite-generic-demo了吗？

[2022-03-06 05:00] 2050airobert commented on #8559
1 是的，galcore6.4.4.3其实这东西应该在demo包里面自带，否则使用起来就麻烦
2 tinypose 模型量化大概要多久基本能调通？至于paddleslim的模型优化可以先推后一点
3 主量化跑通后转到a311d npu上，底层算子是否可以支持比如fpn上采样以及双线性插值等op，这块如果只有两三个op不支持，那大概多久可以初步调通？
这个tinypose是paddlite 原创，我们这边落地，也是一个非常好的双赢推广机会。我这边有什么可以配合你们一起推进的吗？ 多谢

[2022-03-06 05:13] hong19860320 commented on #8559
问题 2和3 @yingshengBD 现在基于tim-vx支持tiny-pose还缺哪些算子，是否能跑通？关于tiny-pose的支持，@wanghaoshuang paddleslim对tiny-pose全量化的支持目前有排期吗？

[2022-03-07 03:05] Zhang-O commented on #4963
怎么解决的

[2022-03-07 07:22] zjyhll commented on #8492
现在demo是不是不支持三个输入的yolo？我这边用的就是三个输入的，目前无法得到右下坐标，我想用两个输入的yolo试试，请问怎么才能切换到两个输入的yolo，我现在用的PPYOLOTiny进行的训练

[2022-03-07 07:23] zjyhll commented on #8492
现在demo是不是不支持三个输入的yolo？我这边用的就是三个输入的，目前无法得到右下坐标，我想用两个输入的yolo试试，请问怎么才能切换到两个输入的yolo，我现在用的PPYOLOTiny进行的训练

[2022-03-07 07:34] weishengying commented on #8540
可以提供下转换成paddlepaddle之后的模型吗，可能是fpga不支持这个模型，fpga支持能力有限

[2022-03-07 07:56] zjyhll commented on #8492
三个输入tensor的始终弄不出右下坐标
![image](https://user-images.githubusercontent.com/8895877/156990473-0114ce8d-f4e3-4743-9f78-9b2321c3095c.png)
，不知道是哪里出问题了

[2022-03-07 08:34] Zhang-O opened #8586 "There is no precompiled OpenCL binary"
sm6150:/data/user/debug-opencl # ./ocr_db_crnn detect_opt.nb   rec_opt.nb    ./11.jpg ../debug/ppocr_keys_v1.txt
[I  3/ 7 15:37:17.189 ...te-release-v2.9/lite/core/device_info.cc:1097 Setup] ARM multiprocessors name: HARDWARE                                                                                                                            : QUALCOMM TECHNOLOGIES, INC SDMMAGPIEP
_SM6150_SM6

[2022-03-07 09:53] goldscu commented on #8196
我现在自己还是编译不出来，但是我的项目需要适配老电脑，可不可以给我提供一个不支持fma及avx指令的编译好的库，万分感谢

[2022-03-07 11:12] xiaohe725 commented on #8540
你好，这是Paddle模型和对应的.c文件
[SSD.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8197156/SSD.zip)

[2022-03-08 02:02] zhaoyang-star commented on #8586
1、从log看你已经打开了 opencl binary 开关，那么在首次运行时，会在线编译模型所需要的.cl文件，在整个程序执行结束（执行析构函数时）前，才会生成 binary file 的。由于如上是在运行过程中出现错误退出了，因此并不会生成 binary file。
2、PaddleLite OpenCL 只支持 fp32 模型作为输入，如果是量化模型，那运行会报错的。
3、我们本地也验证下OCR这个demo是否可用OpenCL运行，有结果后在此同步。

[2022-03-08 02:10] Zhang-O commented on #8586
感谢回复，我这边应该没有用 OPT 进行量化。
模型是ppocr_v2 的官方模型，从github上下载的，opt 优化代码：

[code]

您觉得我的问题可能出在哪方面呢？
期待您的验证结果！！！

[2022-03-08 02:14] zhaoyang-star commented on #8579
经编译时打开LOG，然后运行时设置 export GLOG_v=4，从打印的详细日志中看到您使用的晶晨A311D开发板中的OpenCL驱动路径是/usr/local/libOpenCL.so，该路径不在PaddleLite的默认搜索路径下，因此会因找不到该库报错。通过创建一个软连接后，库路径可正常找到，在运行到kernel时还会出现段错误，已经在解决中，会尽快在此反馈。

[2022-03-08 02:45] 2050airobert commented on #8579
嗯，实际上可以更关注下这个OPENCL库的信息(当然还有其他需要的库)，如果需要的话可以给你同步一份我的，另外新的问题今天有思路了了吗，已经可以定位了吧？多谢

[2022-03-08 03:03] zhaoyang-star commented on #8586
1、您使用的 detect_opt.nb  rec_opt.nb 这两个 .nb 模型是如何获取到的？需要说明的是PaddleOCR官方提供的 .nb 只能跑在CPU上，官方文档中并没有提及在GPU上运行的说明。
2、您可以提供如上2个模型对应的Paddle格式模型下载链接吗？我本地复现下。
3、请提供下您运行的设备详细型号，从log看是高通芯片。

[2022-03-08 06:45] Zhang-O commented on #8586
我从 https://github.com/PaddlePaddle/PaddleOCR/tree/release/2.4  下面的模型表格中下载第二行的 Chinese and English ultra-lightweight PP-OCR model (9.4M)   的 inference model (下载了检测和识别)，然后转化为detect_opt.nb rec_opt.nb。
具体下载链接：
https://paddleocr.bj.bcebos.com/dygraph_v2.0/ch/ch_ppocr_mobile_v2.0_det_infer.tar
https://paddleocr.bj.bcebos.com/dygraph_v2.0/ch/ch_ppocr_mobile_v2.0_rec_infer.tar

我用的设备是平板，芯片是 高通骁龙730G 8核 AI

[2022-03-08 07:50] zhangkom opened #8596 "error: Optimization level must be between 0 and 3"
/Paddle-Lite/lite/model_parser/base/var_desc.h:45:16: note: overridden virtual function is here
  virtual void SetShape(const std::vector<int64_t>& dims) {
               ^
1 warning generated.
1 warning generated.
1 warning generated.
[ 96%] Built target PADDLELITE_OBJS
Scanning dependencies of target paddle_lite_jni
Scanning dependencies of target paddle_light_api_shared
[ 96%] Linking CXX share

[2022-03-08 07:58] #8528 closed, assigned to TangYuan-Liu

[2022-03-08 08:21] lichman0405 opened #8597 "paddlelite python api实现ocr推理"
询问：
我已经有det和rec的nb模型，但是在查看paddelite的python接口时，发现predict只能调用一个模型。

请问如何使用paddlelite的python接口同时部署OCR的det和rec模型，并且直接返回识别结果呢？

求助。

[2022-03-08 09:17] daming5432 commented on #8579
1、关于动态库找不到的问题，可以在paddlelite源码中加入/usr/local/libOpenCL.so的库。用它自带的库就可以跑
2、关于GPU,这个板子上的GPU是芯源自研的GPU,在它上面跑mbv1遇到的问题是CL_INVALID_WORK_GROUP_SIZE，发现只要local work size >32就会报这个错误。但他们芯片注明的是小于256是可以的，已向他们反馈等结果。
3、关于这个GPU性能，这个板子上arm100ms左右， GPU修改local work size 后1000ms左右，不建议用它的GPU

[2022-03-08 10:57] thomaszheng commented on #8290
@chenjiaoAngel 你好，请问这个问题定位到吗，后面会有计划处理吗？

[2022-03-08 12:34] TCChenlong opened #8599 "【PaddlePaddle Hackathon 2】66、在 Paddle-Lite 中 基于 NNAdapter 方式支持一款 AI 加速器"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：在 Paddle Lite 中 基于 NNAdapter 方式支持一款 AI 加速器
- 技术标签：深度学习推理框架，C++，加速器，硬件适配
- 任务难度：困难
- 详细描述：在 Paddle Lite 中通过 NNAdapter 的方式新增一种 AI 加速器后端（例如 ArmNN https://github.com/ARM-software/armnn ），支持 MobileNetV1-fp32 或 MobileNetV1-int8 模型，适配流程请参考[《NNAdapt

[2022-03-08 12:40] TCChenlong opened #8600 "【PaddlePaddle Hackathon 2】65、开发 web 版 Paddle-Lite 模型转换工具"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：开发 web 版 Paddle Lite 模型转换工具

- 技术标签：推理框架，js，webassembly，Wasm

- 任务难度：困难

- 详细描述：目前用户需要安装 paddle lite opt 工具的 python wheel 包后才能使用 Paddle Lite 模型转换工具，由于用户没有建立 opt 工具和 Paddle Lite 库的版本要一一对应的概念，导致转换后的模型部署时会出现各种兼容性问题。因此，希望通过web页面提供给用户模型在线转换+Paddl

[2022-03-08 12:41] TCChenlong opened #8601 "【PaddlePaddle Hackathon 2】64、在 Paddle-Lite-Demo 中添加 mobilenet_v3 模型在安卓上的 Demo"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：在 Paddle-Lite-Demo 中添加 mobilenet_v3 模型在安卓上的 Demo
- 技术标签：安卓开发、移动端推理
- 任务难度：中等
- 详细描述：参考[mobilenet_v1 图像分类 android demo](https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/develop/image_classification/android/app/cxx/image_classification)，使

[2022-03-08 12:42] TCChenlong opened #8602 "【PaddlePaddle Hackathon 2】63、在 Paddle-Lite-Demo 中添加 yolo-v5 模型在安卓上的 Demo"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：在 Paddle-Lite-Demo 中添加 yolo-v5 模型在安卓上的 Demo
- 技术标签：安卓开发、移动端推理
- 任务难度：中等
- 详细描述：参考[ssd_mobilnetv1目标检测的 Android demo](https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/develop/object_detection/android/app/cxx/ssd_mobilenetv1_detection_demo

[2022-03-08 12:42] TCChenlong opened #8603 "【PaddlePaddle Hackathon 2】62、在 Paddle-Lite-Demo 中添加 PP-TinyPose 模型在安卓上的 Demo"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：在 Paddle-Lite-Demo 中添加 PP-TinyPose 模型在安卓上的 Demo
- 技术标签：安卓开发、移动端推理
- 任务难度：中等
- 详细描述：参考[关键点检测 demo](https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-android-demo/face_keypoints_detection_demo)，使用 PP-TinyPose 模型在安卓手机上完成 d

[2022-03-08 12:42] TCChenlong opened #8604 "【PaddlePaddle Hackathon 2】61、Paddle-Lite 对Android 平台增加AAR格式编译产出"
（此 ISSUE 为 PaddlePaddle Hackathon 第二期活动的任务 ISSUE，更多详见 [【PaddlePaddle Hackathon 第二期】任务总览](https://github.com/PaddlePaddle/Paddle/issues/40234)）

【任务说明】

- 任务标题：Paddle-Lite 对Android 平台增加AAR格式编译产出
- 技术标签：Paddle-Lite，Android，C++
- 任务难度：简单
- 详细描述：Paddle-Lite 支持android/iOS/armlinux/Windows 等 多种硬件平台、但是Lite 支持Android 平台的编译产出时 java库的格式产出。 期望可以将编译产出进一步封装更易调用的Android module格式(AAR)。

【提交内容】

- 设计文档，并提 PR 至 [P

[2022-03-08 14:33] TCChenlong opened #8605 "【PaddlePaddle Hackathon 2】Paddle-Lite 任务合集"
大家好，非常高兴地告诉大家，第二期 [PaddlePaddle Hackathon](https://www.paddlepaddle.org.cn/PaddlePaddleHackathon-2022-3?fr=Paddlelite) 开始了。PaddlePaddle Hackathon 是面向全球开发者的深度学习领域编程活动，鼓励开发者了解与参与 PaddlePaddle 开源社区。本次共有四大专区：PaddlePaddle、Paddle Family、Paddle Friends、Paddle Eval，共计100+个任务供大家认领。详细信息可以参考 [PaddlePaddle Hackathon 说明](https://www.paddlepaddle.org.cn/contributionguide?docPath=hackathon_cn)。大家是否已经迫不及待了呢~

本 I

[2022-03-08 15:55] unseenme commented on #8599
能不能提供一些备选的 AI 加速器，作为参考？

[2022-03-09 02:20] 2050airobert commented on #8579
1、嗯，好的
2、local work size这个是指什么呢？事实上这个mali gpu G52是arm的内核吧，官方说的性能还不错，您说的是芯原自研的是指，这款的指标实际上已经降低了许多?
3、这是跑的什么程序呢？ arm是单core跑的吗？ GPU的性能差距有点大，这个是否可以让芯原解释下呢？ 多谢

[2022-03-09 03:14] daming5432 commented on #8596
你好，看起来是ndk版本的原因，建议使用我们给的docker环境来编译

[2022-03-09 03:21] daming5432 commented on #8597
你好，目前我们的一个predict只能加载一个模型，如若需要加载多模型需要用多个predict

[2022-03-09 03:58] hong19860320 commented on #8599
1） [Qualcomm Hexagon NN Direct](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/delegates/hexagon)
2）[ArmNN](https://github.com/ARM-software/armnn)

[2022-03-09 04:07] lichman0405 commented on #8597
那么如果通过paddlelite的python实现，需要设计pipline的对吧？

[2022-03-09 09:19] mjp9527 commented on #8578
我用shell-demo试了一下，只跑ppyolo模型，可以运行得到正确结果，先检查一下三输入的顺序是否写对了，其中输入tensor0是图片尺寸，应为608，检查一下是否正确，还不行的话可以把"Paddle-Lite-demo/object-detection-demo（已更改为三输入tensor）"你的这个demo上传一下吗

[2022-03-09 09:24] Zhang-O commented on #8586
大佬，有没有复现下，你那边 opencl 是否正常？

[2022-03-09 10:50] command-z-z commented on #8578
能提供下你的object_detection.cc文件吗？

[2022-03-09 11:54] mjp9527 commented on #8578
我用的这个demo https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/demo/cxx/mobile_light/mobilenetv1_light_api.cc
下载好的预编译库压缩包里有这个demo,将输入改成三输入即可

[2022-03-10 02:35] zhaoyang-star commented on #8579
2、local work size 是 OpenCL 编程中的一个专业术语，建议您先查看 OpenCL 开发文档；CL_INVALID_WORK_GROUP_SIZE 报错的问题已经反馈给芯源，待他们反馈结果（该进度我们不可控）。
3、运行的模型是 mobilenetv1。

[2022-03-10 02:36] daming5432 commented on #8579
我这边机器上显示不是mali gpu G52，是一个芯源GPU

[2022-03-10 09:21] sanshiray opened #8626 "Paddle-lite编译生成inter部署库出错"
在执行此命令时
![image](https://user-images.githubusercontent.com/94825788/157630520-e09c583e-cd88-4ae0-84e0-301e4fdcb46c.png)
编译过程中报错（gcc版本7.3）
![image](https://user-images.githubusercontent.com/94825788/157630647-92fb2ea5-82ba-4198-a843-9cddf00312c6.png)
请问是什么问题，怎么解决

[2022-03-10 09:31] zhenlin-work commented on #8626
我这边找相关同学帮您看一下哈

[2022-03-11 04:05] liuyang77886 opened #8632 "编译 Paddle Lite Android 预测库 报错"
使用docker 拉取的环境=》    docker pull paddlepaddle/paddle-lite
拉取gitee代码=》                   git clone https://gitee.com/paddlepaddle/paddle-lite.git

                                           =》rm -rf third-party
                   执行报错         =》./lite/tools/build_android.sh

-- Found Paddle host system: ubuntu, version: 16.04.6
-- Found Paddle host system's CPU: 1 cores
-- CMAKE_CXX_FLAGS:  -flto
--

[2022-03-12 08:21] hong19860320 commented on #8632
看起来下载或编译flatbuffers第三方库错误，虽然使用了gitee 但cmake中第三方库的第三方库仍然是用github的，建议通过其它方式保证github能够访问。

[2022-03-12 08:21] hong19860320 commented on #8632
看起来下载或编译flatbuffers第三方库错误，虽然使用了gitee 但cmake中第三方库的第三方库仍然是用github的，建议通过其它方式保证github能够访问。

[2022-03-13 13:32] liuyang77886 commented on #8632
github正常

[2022-03-13 13:32] #8632 closed, assigned to hong19860320

[2022-03-13 13:39] liuyang77886 opened #8633 "按照教程替换Paddle-Lite-Demo中的labels文件识别不成功"
教程所指，synset_words.txt替换为自己的模型训练时的label文件。
但是我训练时的lable文件很简单诸如：cat  dog
但是Paddle-Lite-Demo中的labels文件是这样：n01440764 tench, Tinca tinca  n01443537 goldfish, Carassius auratus
我不知道哪里理解错误了

[2022-03-13 15:53] hong19860320 commented on #8633
试试这样的：

0 background
1 cat
2 dog

每个类别需要有一个回车

[2022-03-14 02:38] TangYuan-Liu commented on #8626
你好，建议在 paddle lite 官方提供的 docker 环境中进行编译。目前测试编译是没有问题的。

可参考： https://paddle-lite.readthedocs.io/zh/latest/source_compile/docker_env.html

[2022-03-14 07:19] daming5432 commented on #8597
可以创建多个predictor

[2022-03-14 14:47] liuyang77886 commented on #8633
right

[2022-03-14 14:47] #8633 closed, assigned to nobody

[2022-03-15 03:30] LiquorPerfect opened #8642 "离线量化模型，在x86平台，推理有算子不支持"
环境：
1、系统环境 Centos7.6.
2、paddle-lite 2.10
描述：
1、目前已经编译出x86的lite库，opt，以及x86的算子扩展库(WITH_EXTRA=ON)。
2、我运行的demo是编译生成的mobilenet_full_api.cc。
3、我运行的模型是之前训练导出的ocr中的DBnet (mobilenetv3)。
问题如下：
1、直接运行save_inference_model()导出的FP32模型，是可以运行的。
2、如果运行（1）模型的paddleslim静态离线量化模型，就会出现算子不持支的情况。
![image](https://user-images.githubusercontent.com/36955510/158299593-6421b19f-88c3-44ff-b805-3891a7161bad.png)
3、如果使用opt转换(1)

[2022-03-15 03:33] LiquorPerfect commented on #8642
add： 上面第4个问题，opt可以将量化模型转换为arm平台的lite模型。

[2022-03-15 04:37] shentanyue commented on #8642
你把paddleslim静态离线量化的模型发下我看下呢。
发我邮箱shentanyue01@baidu.com，或上传到百度网盘里。

[2022-03-15 05:51] LiquorPerfect commented on #8642
您好，可能由于公司信息安全原因，文件发送不出去。您这边需要看网络，我可以截图。执行模型推理，您可以指导我操作。

[2022-03-15 06:44] zjyhll opened #8643 "请问paddlelite导出的模型有模型加密和解密的例子吗"
我准备在android和ios上使用

[2022-03-15 07:09] leiqing1 commented on #8491
是ios Demo数据处理有问题。参考这个链接解决：https://github.com/PaddlePaddle/PaddleOCR/issues/5607

[2022-03-15 08:14] Zhang-O commented on #8586
大佬们 帖子别沉啊

[2022-03-15 08:35] #8491 closed, assigned to hong19860320

[2022-03-15 09:24] shentanyue commented on #8642
因为你这个报错有点奇怪，conv2d这个算子肯定是支持的。最好是我用你的模型本地复现下。
我qq找你吧

[2022-03-15 09:33] shentanyue commented on #8643
lite这边没有对模型加解密的例子的。不过您可以参考下这个：https://github.com/AgentMaker/AgentEncryption

[2022-03-15 11:32] thunder95 opened #8647 "paddle.max在paddle_lite输出不能与原网络对齐"
max_val = paddle.max(cls_cols, axis=-1, keepdim=True)
z.append(paddle.concat([y1, y2, max_val, max_idx, y3], axis=-1))

能顺利转静态图以及nb， 但是只有max_val列输出无法完成对齐， 其他都能对齐，用的是x86

[2022-03-15 11:45] thunder95 commented on #8647
nb输出: 0.537526 0.329088 0.600060 1.233715 0.000006 0.000000 0.000000 0.318690 0.436628 0.739449
paddle原网络输出：0.53753     0.32909     0.60006      1.2337  5.6296e-06           0     0.14285     0.31869     0.43663     0.73945

第7列输出不一样， 第7列就是paddle.max产出的

[2022-03-15 12:22] shentanyue commented on #8647
可以提供复现的单测吗，需要本地复现下

[2022-03-15 15:32] thunder95 commented on #8647
问题可能不出现在paddle.max, 可能在concat那里， 简单写了个测试胆码:

python:

[code]

python 输出结果:

Tensor(shape=[1, 1, 6], dtype=float32, place=CUDAPlace(0), stop_gradient=False,
       [[[0.         , 0.         , 0.         , 35.09999847, 35.09999847,
          35.09999847]]])

转成nb文件:

paddle_lite_opt --model_file=./net.pdmodel --param_file=net.pdiparams  --optimize_out_type=naive_buffer --optimize_out=./model_test.n

[2022-03-16 05:25] shentanyue commented on #8647
收到。我在本地也复现了这个问题，看上去可能是arg_max算子没有输出对齐。
@chenjiaoAngel 安排一位同学做进一步定位吧，感谢~

[2022-03-16 05:32] #8643 closed, assigned to shentanyue

[2022-03-16 06:32] shentanyue commented on #8642
qq已回复您。
x86目前不支持量化模型，推荐您使用arm端或npu端测硬件

[2022-03-16 08:55] smallsung1999 opened #8658 "有计划支持信号处理相关OP吗"
paddle 2.2中的paddle.fft系列api和paddle.signal系列api有计划在移动端提供op支持吗？尤其是stft ifft等运算

[2022-03-16 09:07] zzfighting commented on #6046
我这边可以稳定复现同样的错误，具体方法是：在paddleocr的init方法里使用一个图片在模型加载完后进行初次推理预热，后续再通过predictor.runModel的方式正常执行推理，这样后面这次推理必现此问题。使用的手机是荣耀50/60，安卓11，奇怪的是在其他同样安卓11平台上并没有出现

[2022-03-16 09:15] ljdang commented on #6046
@zzfighting 建议直接在paddleocr的仓库提issue，并附上log，这样官方好定位解决

[2022-03-16 11:18] TangYuan-Liu commented on #8658
请问你准备在什么后端上运行这个算子呢？

[2022-03-16 11:21] smallsung1999 commented on #8658
arm 安卓端

[2022-03-17 02:31] TangYuan-Liu commented on #8658
你好！很抱歉，目前没有这方面的开发计划。

[2022-03-17 02:40] chenjiaoAngel commented on #8647
我们这边其他同学还有高优开发任务，这个可能要排到后面进行修复。另外，arg_max 在lite 里是纯C语言的实现，实现代码：https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/backends/host/math/argmax.cc
如果急着用话，建议issue 同学可以自己上手查看实现，并完成修复

[2022-03-17 09:06] smallking1 opened #8669 "predictor.get_output(0).numpy()输出为[]"
我下载了Paddleocr里的nb模型，随便读了一张图片进去利用python中的paddlelite推理，代码如下：
![image](https://user-images.githubusercontent.com/87000431/158774831-e9e85df3-9bbc-44c5-b84d-aab9405f9064.png)
得到结果为
![image](https://user-images.githubusercontent.com/87000431/158774945-04eda37f-9806-4993-8a77-05c4d69fa673.png)
有shape，但是没数据是为什么，麻烦解答一下谢谢。

[2022-03-17 10:27] sanshiray opened #8671 "Paddle lite编译出错，找不到报错信息"
在编译英特尔的部署库（full_public）的时候，报错如下:
![image](https://user-images.githubusercontent.com/94825788/158789514-ef05ccd1-d237-46f0-b478-310a21b58805.png)
![e4f4304e5342a9ab308e4271c158bdf](https://user-images.githubusercontent.com/94825788/158789652-3fe5a9a9-2d04-4cdf-9cd5-15a70d5862bd.png)
请问是哪里出现问题，怎么改正

[2022-03-18 01:08] Zhiyuan-Fan commented on #8599
想问下这道题你现在开始做了嘛？报名区里没有看到你的信息。如果你不做的话我就报名这道题了。

[2022-03-18 07:39] dragonwarrior95 commented on #7679
你们少提交了dirent库

[2022-03-18 12:09] BgLoveXixi opened #8677 "使用pytorch2paddle接口，转换pytorch的AlexNet模型到paddlelite格式时出错"
根据官方文档，调用pytorch2paddle接口，转换pytorch的AlexNet模型到paddlelite格式时出错，已经生成inference model，但是转成lite没成功：
![image](https://user-images.githubusercontent.com/37319074/159000354-cae15549-9057-4b6c-8e15-2e3966eb486c.png)
报错的信息如下：
Exporting inference model from python code ('/data/code/PaddleLite/X2Paddle/pd_model_trace/x2paddle_code.py')...

--------------------------------------
C++ Traceback (most recent call

[2022-03-18 12:14] BgLoveXixi commented on #8677
![image](https://user-images.githubusercontent.com/37319074/159001020-aa76a28a-d861-4bb3-a94c-a68f4dcfcbb0.png)
这是转换的时候，终端输出的信息，paddlelite和x2paddle，都是最新版本

[2022-03-19 05:12] mio-19 opened #8680 "Compilation failed on latest archlinux"
# Steps to reproduce

[code]

# Error message

[code]

[2022-03-19 08:15] unseenme commented on #8599
我在做调查。不过没关系，报名吧，开源共建嘛，众人拾柴火焰高。

[2022-03-19 10:31] Yu-wy commented on #8525
加一

[2022-03-20 05:39] zmdcs opened #8681 "paddle-lite能实现C++人像分割部署吗？"
paddle-lite能实现C++人像分割部署吗？需要输入是一个视频，而不是实时摄像头的那种

[2022-03-20 09:29] LMR2018 opened #8683 "tiny-pose安卓模型代码运行：Wrong broadcast type是什么错误？怎么解决？"
A/Paddle-Lite: [F 11/ 1 18: 0:58.555 .../lite/kernels/host/elementwise_op_func.h:339 Update] Wrong broadcast type
E/libc++abi: terminating with uncaught exception of type paddle::lite::PaddleLiteException: Paddle-Lite C++ Exception:
    [F 11/ 1 18: 0:58.555 .../lite/kernels/host/elementwise_op_func.h:339 Update] Wrong broadcast type
A/libc: Fatal signal 6 (SIGABRT), code -6 in tid 11084 (GLThread

[2022-03-21 02:12] weishengying commented on #8677
请问一下你参考的文档是哪一个， 是这里面的吗：https://paddle-lite.readthedocs.io/zh/develop/user_guides/model_optimize_tool.html?highlight=x2paddle#x2paddle-padde-lite

[2022-03-21 02:19] weishengying commented on #8677
看起来不是lite的问题，AlexNet是比较基础的模型，lite转换应该是没什么问题的，可能是x2paddle工具的问题，可以去X2paddle 问问 ：https://github.com/PaddlePaddle/X2Paddle

[2022-03-21 02:27] BgLoveXixi commented on #8677
是参考的这个文档：https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/inference_model_convertor/demo/pytorch2paddle.ipynb，
和https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/inference_model_convertor/convert2lite_api.md，
我将API里convert_to_lite (bool): 设置为True。
这个问题我是在X2paddle 询问过了，让我提交到lite这边来的，说是已经生成inference model，但是 问题出在转成lite出错了，请问这个和环境有关系吗，可是x2paddle，paddlite都是最新版本的

[2022-03-21 02:29] BgLoveXixi commented on #8677
https://github.com/PaddlePaddle/X2Paddle/issues/759
这是在x2paddle那边提交的issue

[2022-03-21 02:36] BgLoveXixi commented on #8677
![image](https://user-images.githubusercontent.com/37319074/159198302-50647d2d-009b-4005-b911-69ba4f2b800e.png)
这是环境中安装的版本信息，我查阅了一些博客和文档，不知道是否与cuda和cudnn的版本有关系呢

[2022-03-21 02:43] chenjiaoAngel commented on #8680
这个错误看起来是第三方库下载不全一引入的，建议remove third-party，重新build试试

[2022-03-21 02:49] weishengying commented on #8677
转换的时候与这些是无关的

[2022-03-21 02:56] weishengying commented on #8677
你可以这样试一试，即然已经有转换之后的inference model了，直接用lite的opt工具转一转试试。lite的opt工具参考这个文档：https://paddle-lite.readthedocs.io/zh/develop/api_reference/python_api/opt.html ；
可以参考这个脚本：
[code]

model_dir 即包含模型和参数的目录

[2022-03-21 03:07] BgLoveXixi commented on #8677
直接用opt工具转换也报错，错误类型和使用pytorch2paddle接口进行一键转换是一样的：
![image](https://user-images.githubusercontent.com/37319074/159200123-b240a688-4b06-4d4c-87a3-f52efcbc5f15.png)
下面是之前使用pytorch2paddle接口生成的inference mode路径：
![image](https://user-images.githubusercontent.com/37319074/159200062-207d3de7-ac2a-4411-8d26-155ee451fe93.png)

[2022-03-21 03:13] BgLoveXixi commented on #8677
这是调用pytorch2paddle接口，设置了convert_to_lite (bool)参数为True进行转换过程中的出现的错误：
![image](https://user-images.githubusercontent.com/37319074/159200605-ee4eec83-be22-473c-9cf7-67201fe9b190.png)

[2022-03-21 03:56] #8642 closed, assigned to shentanyue

[2022-03-21 04:36] weishengying commented on #8677
操作系统是win10是吗， python版本是多少，要不通过 pythonX -m pip install paddlelite==2.10-rc 安装最新的paddlelite包试一试。

[2022-03-21 04:49] BgLoveXixi commented on #8677
操作系统为CentOS Linux 7 (Core)，python版本3.6.13，所用paddlelite版本为2.9.0，是要更新为2.10的版本吗

[2022-03-21 04:53] BgLoveXixi commented on #8677
大佬，paddlelite更新为2.10再进行转换成功了，感谢感谢

[2022-03-21 05:01] weishengying commented on #8677
ok，python版本最好也用 >= 3.7的

[2022-03-21 06:05] BgLoveXixi commented on #8677
好的感谢

[2022-03-21 08:07] DannyIsFunny commented on #8671
请问编译的是intel FPGA 还是Intel CPU的版本呢，编译命令是什么呢？
Paddle-Lite 提供预编译 安装包可以直接下载
https://github.com/PaddlePaddle/Paddle-Lite/releases

[2022-03-21 08:09] DannyIsFunny commented on #8669
请问模型来源和图片，PaddleLite 版本可以提供一下吗

[2022-03-21 08:37] smallking1 commented on #8669
![image](https://user-images.githubusercontent.com/87000431/159227179-551a0c06-36a9-40e4-abf6-6ac5e26096a2.png)
[Desktop.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8314026/Desktop.zip)
这是模型与图片，以及版本号，模型为Paddleocr里下载的。

[2022-03-21 08:45] smallking1 commented on #8669
![image](https://user-images.githubusercontent.com/87000431/159228442-63850cbc-f7c6-46ff-a78c-6759280f11a2.png)
[Desktop.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8314062/Desktop.zip)
模型为PadlleOCR那边直接下载的，图片是随便取的，如上为版本号。谢谢。

[2022-03-21 08:48] smallking1 commented on #8669
[test.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8314076/test.zip)
![image](https://user-images.githubusercontent.com/87000431/159228991-dbba56ca-4343-4e13-8264-99eca924fe0f.png)
模型在PaddleOCR那边直接下载，图片为随便找的，已打包。版本如上。

[2022-03-22 03:33] ZhuGeRoastedFish opened #8696 "PaddleLite官方容器中提升NDK版本导致编译出的静态库体积巨大"
之前为了编译出支持fp16算子, 根据文档的提示要求ndk版本在20及以上, 而官方容器自带的ndk是17的版本, 于是我下载了并使用了r23b的ndk

现在我使用如下指令进行opencl版推理库的编译:
./lite/tools/build_android.sh --arch=armv8 --toolchain=clang --android_stl=c++_static --with_static_lib=ON --with_java=OFF --with_cv=OFF--with_log=OFF --with_exception=OFF --with_extra=ON --with_opencl=ON
得到的产物为
<img width="491" alt="fda005413c1dc7a08d118972c91ec8f" src="https://user-images.gith

[2022-03-22 04:34] mjp9527 commented on #8683
可以提供一下转nb用的原始模型吗

[2022-03-22 04:39] mjp9527 commented on #8683
这个报错是因为elementwise broadcast规则没有匹配上,可以参考
<img width="838" alt="image" src="https://user-images.githubusercontent.com/54735487/159409243-0f019a0b-6168-455e-90fd-f76132a2d17c.png">
https://pytorch.org/docs/stable/notes/broadcasting.html

[2022-03-22 06:06] LMR2018 commented on #8683
@mjp9527  我已解决，是因为模型的输入张量shape没有完全对应上的问题，谢谢告知

[2022-03-22 06:06] #8683 closed, assigned to sprouteer

[2022-03-22 13:26] pursuehdf opened #8702 "paddle lite安卓部署有问题，问题在正文"
我首先是用这个Paddle Detection里面的yolov3去训练的模型随后通过paddlite的转opt的代码去完成转化，转化版本确定是没有任何问题的，而我按照官网的文档去把这个model.nb去放入到这个安卓中后发生报错，报错的内容大概是说输入成有问题，而我就开始比对这个我的模型和这个官方代码里面的模型，我发现版本不一致，官方demo里面的model.nb是由paddle lite-2.10rc转化而成，而我的确实paddle lite2.10转化，而这个版本就和我的版本不一致，输入层和输出层大小不一，
**_图片在正文，望速解决_**。

![54f2212058d3bd80df6e703e8b712ec](https://user-images.githubusercontent.com/100055834/159491901-82b1ec5d-0266-469f-92dd-8

[2022-03-23 03:05] mjp9527 commented on #8681
目前只有java的demo https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-android-demo/human_segmentation_demo  后续会添加C++demo，这个只能处理静态图片，处理视频需要你自己去做预处理

[2022-03-23 03:05] mjp9527 commented on #8681
目前只有java的demo https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-android-demo/human_segmentation_demo  后续会添加C++demo，这个只能处理静态图片，处理视频需要你自己去做预处理

[2022-03-23 03:08] mjp9527 commented on #8702
问题在于paddle-lite-demo的yoloDemo里写死了输入shape和输入tensor个数，需要你自己进行修改

[2022-03-23 09:42] mjp9527 commented on #8696
好的收到，已复现该情况，正在安排同学处理

[2022-03-23 10:02] BgLoveXixi opened #8706 "paddlelite转换的nb模型，使用pythonAPI调用测试，识别结果为空"
### 模型使用问题
pytorch的AlexNet模型转换成paddlelite的nb模型，通过python API调用nb模型进行测试，get_output结果为空

转换过程参考文档：
https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/inference_model_convertor/demo/pytorch2paddle.ipynb
和
https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/inference_model_convertor/convert2lite_api.md

成功转换的nb模型结构如下：
![image](https://user-images.githubusercontent.com/37319074/159672456-

[2022-03-23 11:51] mjp9527 commented on #8702
已协助用户解决问题

[2022-03-23 11:51] #8702 closed, assigned to mjp9527

[2022-03-24 00:52] pursuehdf opened #8707 "我将模型跑通后，发现太慢了想换fp16,然后发生了问题"
<img width="1218" alt="faac89d9188c9666d96f98710b932d0" src="https://user-images.githubusercontent.com/100055834/159820282-1bfb065d-1ea5-4517-8b6f-8722b4042760.png">
首先我将这个包下载下来，然后动态库和头文件替换了一下随后发生了报错
![2a1c2e5bb210a819c8aa479026e8531](https://user-images.githubusercontent.com/100055834/159820343-73616fb8-069b-4ad9-b0a1-08888c25d560.png)

[2022-03-24 01:26] lxw950127 commented on #8707
您好 具体是什么问题 可以贴一下图吗 我这里看不到

[2022-03-24 01:38] lxwlaq commented on #8707
您好 我看您用的是oppo a57 内置cpu是A53 不支持fp16，建议换支持armv8.2及以后的cpu进行测试，并且如果想用fp16的话模型需要重新转成支持fp16的nb模型，否则没有加速效果，转换方法请参考https://paddle-lite.readthedocs.io/zh/latest/user_guides/opt/opt_python.html

[2022-03-24 07:04] guanchang opened #8709 "x86编译报错"
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac 编译错误”
- 版本、环境信息：
    1）Paddle Lite 版本：develop
    2）Host 环境：Ubuntu 16.04

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
-
<img width="1251" alt="image" src="https://user-images.githubusercontent.com/4010208/159860953-7afd63e0-9680-410f-8ba9-96fe95d855ed.png">

[2022-03-24 07:07] #8709 closed, assigned to nobody

[2022-03-24 08:13] 2050airobert opened #8710 "tinypose找不到tinypose的训练代码paddle python实现！"
hi，

    我只看到github上有tinypose的 yml文件，但是如果想要用自己的数据，训练模型，是否可以提供下原始训练代码？

BR

[2022-03-24 08:15] lxwlaq commented on #8710
您好，训练问题请在paddle repo中提一下这个issue

[2022-03-24 08:15] #8710 closed, assigned to lxwlaq

[2022-03-24 09:47] BgLoveXixi commented on #8706
我用转换过程中生成的inference_model测试一张图片是可以正常识别的，为啥用python API调用lite的nb模型，没有识别结果啊，能否帮看看

[2022-03-25 03:18] BgLoveXixi opened #8716 "paddlelite转换的nb模型，调用pythonAPI进行预测，识别结果为空"
### **模型转换后到安卓端的使用问题**
pytorch的AlexNet模型转换成paddlelite的nb模型，通过python API调用nb模型进行测试，get_output结果为空

转换过程参考文档：
https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/inference_model_convertor/demo/pytorch2paddle.ipynb
和
https://github.com/PaddlePaddle/X2Paddle/blob/develop/docs/inference_model_convertor/convert2lite_api.md

成功转换的nb模型结构如下：
![image](https://user-images.githubusercontent.com/3731907

[2022-03-25 06:09] zhaoyang-star commented on #8716
- 能否提供下转换后的Paddle模型和.nb模型下载链接，我本地复现下？

- 另外，可以参考如下链接，先验证是否可以跑通Lite Python demo：

https://paddle-lite.readthedocs.io/zh/develop/user_guides/python_demo.html#mobilenetv1-light-api-py-mobilenetv1-full-api-py

[2022-03-25 07:09] smallking1 commented on #8669
麻烦有空帮忙看一看，问题出现在哪里，谢谢。

[2022-03-25 10:16] BgLoveXixi commented on #8716
模型文件有点大，我传到百度网盘了，
链接：https://pan.baidu.com/s/1HECd9S8snZdlRT52ynjdyg?pwd=0igx
提取码：0igx
麻烦帮看一下，谢谢！

[2022-03-25 11:15] BgLoveXixi commented on #8716
按照链接跑Lite Python demo，生成优化模型成功：
![image](https://user-images.githubusercontent.com/37319074/160110595-32a530b5-c392-4d83-9d11-afc4d542e88f.png)
但是运行mobilenetv1_light_api.py脚本时，出错，并没有输出结果：
![image](https://user-images.githubusercontent.com/37319074/160110362-e23a7682-f554-4bc3-9a25-745453e6bd1a.png)
运行mobilenetv1_full_api.py 脚本，也出错：
![image](https://user-images.githubusercontent.com/37319074/160110

[2022-03-26 01:18] franva opened #8720 "PaddleLite is not installable under Python 3.8 (Ubuntu 20.04)"
- 版本、环境信息：
    1）Paddle Lite 版本：请提供您的 Paddle Lite 版本号（如v2.10）或 CommitID
any version

    2）Host 环境：请描述 Host 系统类型、OS 版本，如 Mac OS 10.14、Ubuntu 18.04
Ubuntu 20.04

    3）运行设备环境：请描述运行设备信息，如小米 9、iPhone13
PC

- 复现信息：如为报错，请给出复现环境、复现步骤

conda activate ios
pip install paddlelite

![image](https://user-images.githubusercontent.com/5151146/160218893-a48272e9-7ecb-47cc-87d6-25da3ea10a62.png)

This issue only

[2022-03-26 05:51] franva commented on #8720
I'm able to compile the Paddle-Lite myself and use it with Python 3.8.12 :)

Thought it is worth to make Paddle-Lite to support Python 3.8 as it does not require too many efforts.
cheers

[2022-03-27 03:54] #6712 closed, assigned to juncaipeng

[2022-03-27 07:17] lewisandJiang commented on #7860
你好，朋友，请问您是如何解决的？

[2022-03-28 02:52] hcms1994 opened #8727 "develop分支编译opt报错"
编译命令：./lite/tools/build.sh build_optimize_tool

-- Found Paddle host system: ubuntu, version: 20.04.4
-- Found Paddle host system's CPU: 20 cores
-- CXX compiler: /usr/bin/c++, version: GNU 9.4.0
-- C compiler: /usr/bin/cc, version: GNU 9.4.0
-- AR tools: /usr/bin/ar
-- CMAKE GENERATOR: Unix Makefiles
-- CMAKE_BUILD_TYPE: RelWithDebInfo
-- Do not have AVX2 intrinsics and disabled MKL-DNN
-- Protob

[2022-03-28 03:00] zhenlin-work commented on #8727
你是在我们的docker环境下编译的吗

[2022-03-28 03:02] hcms1994 commented on #8727
不是的，是在ubuntu环境拉取lite库，源码编译的

[2022-03-28 03:03] zhenlin-work commented on #8727
建议使用我们的docker环境进行编译，比如docker run -itd --network=host --name xxx -w /Work -v $PWD/Work:/Work paddlepaddle/paddle-lite /bin/bash

我在paddlepaddle/paddle-lite这个docker环境里面编译是没问题的
具体命令可以参考这个https://paddle-lite.readthedocs.io/zh/latest/source_compile/docker_env.html 。

[2022-03-28 03:16] hcms1994 commented on #8727
好的，感谢，docker环境支持最新的paddle-lite代码库编译是吧

[2022-03-28 04:01] zhenlin-work commented on #8727
其他源码编译就行。

[2022-03-28 07:48] zhaoyang-star commented on #8716
您运行 python mobilenetv1_light_api.py 的命令中，需要加上 --backend=x86，否则会报错，参考例子：
[code]

另外，建议您先阅读下 mobilenetv1_light_api.py 这个代码。

[2022-03-28 08:00] daming5432 commented on #8720
我问下我们同事

[2022-03-28 08:44] zhaoyang-star commented on #8716
关于使用Android demo的image_classification_demo报错问题，还存在这个运行报错吗？需要注意的是：在生成 .nb 时，需要设置 --lite_valid_places=arm，如果仍然有问题，麻烦提供下 .nb、Android demo 的分支名称和commit id

[2022-03-28 08:51] BgLoveXixi commented on #8716
您好，加上 --backend=x86也还是一样的报错：
![image](https://user-images.githubusercontent.com/37319074/160361679-795e63f6-b90f-4af2-896b-e27ddc0fce50.png)
上面分别加载full_和light_的模型进行识别，都运行不成功

[2022-03-28 08:58] BgLoveXixi commented on #8716
我是调用的这个接口转换的nb模型，接口中 --lite_valid_places这个参数不是默认为arm吗：
![image](https://user-images.githubusercontent.com/37319074/160363031-924956a8-fa77-4bb4-808b-4f284b2cc8ef.png)

以下是我的转换nb模型的代码：
![image](https://user-images.githubusercontent.com/37319074/160363399-3e501d3d-c622-4a3a-aaf5-5111449e1941.png)

[2022-03-28 09:06] BgLoveXixi commented on #8716
nb模型上次已经上传到网盘了，麻烦您下载下
链接：https://pan.baidu.com/s/1HECd9S8snZdlRT52ynjdyg?pwd=0igx
提取码：0igx

所用的Android demo 为image_classification_demo，链接：https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-android-demo/image_classification_demo

[2022-03-29 02:56] zhaoyang-star commented on #8716
一、请先 follow 如下命令，我在 Ubuntu 18.04 机器上执行是正常的。
[code]

二、使用您提供的 alexnet 模型，在生成 .nb 设置 valid_targets=x86 时会提示报错，原因是 matmul_v2 这个算子在 x86 后端没有实现；在生成 .nb 设置 valid_targets=arm 时正常
[code]

[2022-03-29 03:33] BgLoveXixi commented on #8716
您好，如果说是alexnet的  matmul_v2算子在x86未支持的原因， 现在针对MobilenetV1 ，我完全follow了您的命令，也开启了log，执行1,2,3步都没问题，但在执行4.1时还是报那个错误：**Illegal instruction (core dumped)**，以下是终端输出：
[code]
**不知道是不是和代码版本有关系**，我所用的Lite的分支为develop：
![image](https://user-images.githubusercontent.com/37319074/160526685-7b203217-d08e-457c-8a7a-0b2a0afe728a.png)

另外，我发现之前X2paddle的readme中要求paddlepaddle的版本是：paddlepaddle >= 2.2.0，而现在是paddlepaddle >=

[2022-03-29 10:18] zhaoyang-star commented on #8716
我们先解决在 x86 环境下运行 Python demo 报错的问题。
请提供下paddlelite的分支名称、commit id、Host机器操作系统、CPU型号、Python版本。
我本地测试通过的环境：

- PaddleLite Branch: develop
- PaddleLite commit id: fc78f28
- OS: Ubuntu 16.04
- CPU: Intel(R) Xeon(R) Silver 4210 CPU @ 2.20GHz
- Python version: 3.7.12

[2022-03-29 12:23] zjbit opened #8745 "国产飞腾2000CPU 下，容器环境Paddle Lite 编译报错"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题:[历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

建立 issue 时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac 编译错误”
- 版本、环境信息：
    1）Paddle Lite 版本：V2.9-release
    2）Host 环境：麒麟-

[2022-03-29 14:56] hong19860320 commented on #8745
删除目录下的third-party目录试试，如果仍然不行，建议使用能够访问github的网络
rm -rf third-party

[2022-03-30 02:28] smallhaozigithub commented on #8548
同样的问题。貌似不是推理不出结果。而是获取到的bbox 框的坐标都是0 能正常获取到  class_id 与score 的。

[2022-03-30 02:34] smallhaozigithub commented on #8548
![Screenshot_20220330_102940_com baidu paddle lite demo yolo_detection](https://user-images.githubusercontent.com/72907766/160739192-3fe2a5fb-0128-46dd-941d-8c5f6e03edb9.jpg)

![QQ截图20220330103250](https://user-images.githubusercontent.com/72907766/160739316-cc5f18d2-94ec-4822-83a7-73c5da2752fa.png)
不会android 和c++ 。
开始时怀疑是不是画框代码有问题，
在画框的代码里面加复制了一条画 标签 和分数的代码 手动设置了坐标。能正常显示出来。

[2022-03-30 02:38] smallhaozigithub commented on #8548
标签和score在左上角。 然后代码里面加上了画出 预测框的4个坐标。 都是0。所以估计是获取result的时候没有获取到4个坐标。但是又不懂c++。来个大神来帮忙改一下。
用的是yolo_detection_demo
修改的代码是yolo_detection_demo\app\src\main\cppPipeline.cc

[2022-03-30 02:41] smallhaozigithub commented on #8548
应该是这段代码
[code]

[2022-03-30 03:40] smallhaozigithub commented on #8548
![QQ截图20220330114029](https://user-images.githubusercontent.com/72907766/160746872-c3624f3e-91bf-4d98-a9e1-ed53937d3d69.png)

[2022-03-30 03:41] smallhaozigithub commented on #8548
x y w h 四个坐标都是0

[2022-03-31 01:28] pursuehdf opened #8754 "用yolov5转成的paddlelite文件在使用这个object_detection_demo的时候发生了问题"
首先我没换自己的模型文件去跑的时候，官方的一切正常，首先我先把模型文件都贴图出来

![1648689811(1)](https://user-images.githubusercontent.com/100055834/160957484-e27013eb-13ff-4eff-b762-a66ae936d003.png)

左边是demo自带，右边是我自己的。可以看到输入都一样，只需要改模型的高宽，输出我这边有4个，应该用一个就可以，输入我改了模型维度啥的，输出没动。然后就发生了下面这张图的情况
![42f1ccbcb5c43449d3bb92eb27354a7](https://user-images.githubusercontent.com/100055834/160957810-6e1958bb-7342-49f6-b48b-820c3dc2026c.jpg)

识别了305次。

[2022-03-31 07:03] BgLoveXixi commented on #8716
大佬你好，我换了一个服务器环境，转模型成功了，但是现在遇到了另外一个问题，我转了一个pytorch的resnet18模型到lite格式的nb模型，然后调用python API进行测试，发现识别结果是空的，这是怎么回事呢，
以下是参考官方的pythonAPI测试程序：
[code]
以下是我转换完的nb模型结构：
![image](https://user-images.githubusercontent.com/37319074/160996833-ff4827bc-2796-423e-93f9-c64981fec6a6.png)

[2022-03-31 08:34] vinceyzw opened #8758 "安卓端demo问题：yolo_detection_demo和paddleocr安卓程序分别能跑通，集成后遇到报错，无法读取yolo的nb文件。A/Paddle-Lite: [F 3/31 15:54:19.833 ...Paddle-Lite/lite/model_parser/base/io.cc:46 BinaryFileReader] Check failed: file_: Unable to open file: /data/user/0/com.baidu.paddle.lite.demo.ocr/cache/models/yolov3_mobilenet_v3_for_cpu/model_ticket.nb A/libc: Fatal signal 6 (SIGABRT), code -6 in tid 15016 (Predictor Worke)"
- 版本、预测库信息：
    1）Paddle Lite 版本：Paddle Lite v2.10
    2）Host 环境：window10，android studio
    3）运行设备环境：华为honor 安卓7
    4）预测后端信息：采用CPU处理
- 预测信息
    1）预测 API：C++
    2）预测选项信息：armv8
    3）预测库来源：源码编译（应该没有问题，应该两个demo都正常跑通）
- 复现信息：
  以paddleocr的安卓为基础，加入yolo代码。
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
  报错日志：
   A/Paddle-Lite: [F  3/31 15:54:19.833 ...Paddle-Lite/lite/model_parser/base/io.cc:46 BinaryFileReade

[2022-03-31 14:34] yingshengBD commented on #8758
如果程序中直接使用并加载nb模型，需确认该nb模型的版本(或者说生成nb的opt工具版本)和paddle lite库版本是否一致

[2022-03-31 14:37] yingshengBD commented on #8754
修改模型输入尺寸并且重训练的时候要确认前处理的相关参数，你这个现象很可能是你的新模型前处理参数和测试程序的前处理参数没对齐

[2022-04-01 01:03] vinceyzw commented on #8758
版本应该是对齐的，paddle-lite都是2.10，并且对应的jar包，库文件都是一致的。因为分别两个demo安卓程序都是可以在2.10下单独跑通的 @yingshengBD

[2022-04-02 06:26] zhouweic36 commented on #8522
ssd_detection_demo  在 rk1808 cpu npu 上跑通了，在rk1808 支持的三个模型中
ssd_mobilenet_v1_relu_voc_int8_300_per_layer能在npu上跑，我想问下这个模型怎么复现呢？我用配置ssd_mobilenet_v1_300_120e_voc.yml 训练自己的数据集，用opt 优化  --valid_targets=rockchip_npu,arm，在npu跑 是有问题的，在cpu上跑能行，优化到npu上跑，步骤和方法 需要注意什么 ？ 谢谢

[2022-04-02 07:45] zhouweic36 commented on #8522
这是量化训练后，导出nb模型，在rk1808  npu 上运行报的错，
![微信图片_20220402154432](https://user-images.githubusercontent.com/100323630/161372691-2ffd6020-9286-4f86-a026-8717a13549cb.jpg)

[2022-04-02 10:45] deepthman opened #8772 "使用java demo android时，替换为ppyolo模型报错"
为使您的问题得到快速解决，在建立 Issues 前，请您先通过如下方式搜索是否有相似问题:[历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）Paddle Lite 版本：请提供您的 Paddle Lite 版本号（如v2.10）或 CommitID
2.1

[2022-04-02 13:16] PHaohui opened #8774 "Paddlelite中使用opt可执行文件转换模型中不支持tensor"
[W  4/ 2 21:16: 7. 30 /island/Paddle-Lite/lite/core/program.cc SaveToProgram:135] Unsupported decl type Tensor<host,any,any,0> for var _generated_var_5 in op conditional_block
[W  4/ 2 21:16: 7. 30 /island/Paddle-Lite/lite/core/program.cc SaveToProgram:135] Unsupported decl type Tensor<host,any,any,0> for var _generated_var_2 in op conditional_block
[F  4/ 2 21:16: 7. 41 ...le-Lite/lite/model_pars

[2022-04-02 13:28] shentanyue commented on #8774
您好，你的模型是什么呢？可以发到我邮箱shentanyue01@baidu.com，我本地看下。

[2022-04-02 13:38] shentanyue commented on #8772
您好，从报错上来看，您的输入shape可能是1,3,608,608，而netron上显示的shape：1,3,512,512应该不正确，您可以换成1,3,608,608试下。

[2022-04-02 15:19] deepthman commented on #8772
换成1,3,608,608后在run()的地方就直接闪退了，没有报错信息。另外这个ppyolo模型在python的api中输入是1,3,512,512是可以获取结果的。

[2022-04-02 15:30] shentanyue commented on #8772
可以把模型发到我邮箱shentanyue01@baidu.com，我本地试下。

[2022-04-03 04:12] zhouweic36 commented on #8522
这是量化训练的 配置       --slim_config configs/slim/quant/ssd_mobilenet_v1_qat.yml，训练后导出的模型为

[2022-04-03 04:12] #8522 closed, assigned to csy0225

[2022-04-03 04:20] zhouweic36 commented on #8522
这是量化训练的 配置 --slim_config configs/slim/quant/ssd_mobilenet_v1_qat.yml，训练后导出的模型为
[ssd_mobilenet_v1_qat.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8403814/ssd_mobilenet_v1_qat.zip)

[2022-04-03 05:32] zhouweic36 commented on #8522
量化训练时的配置 --slim_config configs/slim/quant/ssd_mobilenet_v1_qat.yml   ，训练完后导出的模型为：
[myssd_mobilenet_v1_qat.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8403870/myssd_mobilenet_v1_qat.zip)

[2022-04-03 06:20] zhouweic36 commented on #8522
量化训练配置为--slim_config configs/slim/quant/ssd_mobilenet_v1_qat.yml；理化训练导出模型为：
[myssd_mobilenet_v1_qat.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8403907/myssd_mobilenet_v1_qat.zip)，还有PaddleSlim-quant-demo 这个demo 跑demo里的没问题，跑自己的模型也是跑不通

[2022-04-03 06:54] zhouweic36 commented on #8522
量化训练配置为--slim_config configs/slim/quant/ssd_mobilenet_v1_qat.yml；量化训练导出模型为：
[myssd_mobilenet_v1_qat.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8403965/myssd_mobilenet_v1_qat.zip)
，PaddleSlim-quant-demo 这个demo 跑demo里的没问题，跑自己的模型也是跑不通

[2022-04-03 08:01] shentanyue commented on #8772
您这里发的nb模型通过netron看就是1x3x608x608的输入呢。
![image](https://user-images.githubusercontent.com/34421038/161418153-1bc29ba9-ea1c-489e-a6e3-fd8cc373e215.png)
并且我在本地通过设置1x3x608x608的输入也成功运行，结果正确。

您说换成1,3,608,608后在run()的地方就直接闪退了，没有报错信息，这个可能不是模型运行的问题。

[2022-04-03 08:12] shentanyue commented on #8774
您好，已收到您的模型。在release/v2.11和develop版本没有复现您的问题，并且该模型可以在ARM CPU上顺利跑通。
建议您将paddlelite升级至release/v2.11或develop分支，重新编译opt工具，再做尝试。

[2022-04-03 11:40] shentanyue commented on #8774
直接在issue上沟通吧~
您为什么需要--optimize_out_type=protobuf呢，--optimize_out_type=naive_buffer是有什么不满足您的需求吗？

[2022-04-03 13:07] PHaohui commented on #8774
需要--optimize_out_type=protobuf的原因是需要这个输出格式，fpga板子里个格式是这样的
我使用PaddleDection-release-2.0，对生成的模型使用export转换出来为model.pdiparams、model.pdmodel和__params__、__model__是不是一样的？

[2022-04-05 07:06] zhouweic36 commented on #8522
动态图下导出模型时，模型不是直接动转静？这是训练得到的静态图模型
[ssdmb.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8415695/ssdmb.zip)，放在PaddleSlim-quant-demo 下还是跑不通？？？

[2022-04-05 11:19] zhouweic36 commented on #8522
我用静态图，把paddle版本为develop 试试再

[2022-04-05 11:51] zhouweic36 commented on #8522
这是ssd 训练 导出的模型
[myssd.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8417794/myssd.zip)
， 要得到全量化的模型 一般怎么办？因在这个 PaddleSlim-quant-demo下暂时还跑不通，谢谢了

[2022-04-06 01:49] deepthman commented on #8772
好的，感谢！

[2022-04-06 01:49] #8772 closed, assigned to nobody

[2022-04-06 03:02] chenjiaoAngel commented on #8758
可以确认下手机目录：/data/user/0/com.baidu.paddle.lite.demo.ocr/cache/models/yolov3_mobilenet_v3_for_cpu/model_ticket.nb  是否有这个NB 模型。可能是模型没有push到手机（通过Utils.copyFromAssets 功能实现）

[2022-04-06 03:55] zhouweic36 commented on #8522
我用paddlelite 算子融合后得到的模型
[myssdarm.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8423469/myssdarm.zip)，跑 PaddleSlim-quant-demo ，也是不通，一直卡在
![屏幕截图 2022-04-06 115439](https://user-images.githubusercontent.com/100323630/161892610-9b3d9c7f-d58c-481d-b41e-2c92428e4914.jpg)
，希望老师指点下，谢谢

[2022-04-06 05:12] Polaris-F commented on #5538
![image](https://user-images.githubusercontent.com/49751585/161900465-fc0e5e77-3962-43fe-8d1e-ab04fe7e180f.png)

[2022-04-06 07:04] hong19860320 commented on #8754
看起来后处理部分没有对齐，需要自行实现yolov5的nms的代码，可以参考 https://github.com/ultralytics/yolov5/blob/5f941a84efdd45c986cd1c3764ced99e7c8e8294/utils/general.py#L747 和 https://github.com/wang-xinyu/tensorrtx/blob/6ddff90025eaed828548a809d367ae39c4b28696/yolov5/yolov5_trt.py#L351
而且预处理部分，需要调整下，将mean和std 改成yolov5官方的mean=0,0,0 std=1.0,1.0,1.0，在resize的时候，需要将最长边按比例拉伸到640，短边调整在640x640中心位置，因此会出现左右padding和上下padding的情况，例如：

![p

[2022-04-06 07:45] shentanyue commented on #8774
这个我再问下相关同学哈

可以理解为一样的。

[2022-04-06 12:03] 2050airobert opened #8783 "Be serious 代码问题！！！"
Hi，
      您仔细看，
       1 nnadapter出现在kernel目录和 backend目录下 这两个怎么区分的，分别做啥的？  比如我模型里面的op  slice如何传到backend里面的具体硬件的实现的？
![37159fdbdd2427b993dec77703655ab](https://user-images.githubusercontent.com/8407513/161970313-5e0f4c61-3d41-4353-9211-9aff75dc2245.png)
![45b4a5178ac84f24319ca9b4acc810f](https://user-images.githubusercontent.com/8407513/161970319-e748c39b-db40-40a4-9d7d-85ba7245be61.png)

      2 这

[2022-04-07 01:22] #6012 closed, assigned to Leonardo-Ding

[2022-04-07 02:47] hong19860320 commented on #8783
1. 目前存在Paddle op -> NNAdapter operation 和 NNAdapter operation -> NPU op 两层转换的过程，分别在 lite/kernels/nnadapter/converter和 lite/backends/nnadapter/nnadapter/src/driver/xxx/converter/目录下，目前只需要关心 NNAdapter op -> NPU op的转换过程，也就是在lite/backends/nnadapter/nnadapter/src/driver/xxx/converter/目录添加slice.cc 实现 NNAdapter slice operation 到目标硬件的 slice op的转换，然后在lite/backends/nnadapter/nnadapter/src/driver/xxx/convert

[2022-04-07 13:30] 2050airobert commented on #8783
感谢您详细的回答。
针对问题2
(1) NNAdapter operation -> NPU op 比较少，这是模型不被支持的一种原因。但是是不是还有可能这个模型的op比较少见，甚至连NPU op都不足够实现或者完成这个op需要做的工作。
(2)  更极端的，甚至NPU上想了许多方法就是没办法实现这个op，这种情况也是有可能的吗？

[2022-04-07 14:34] hong19860320 commented on #8783
1）这类converter比较少的原因有多个：一个是这个硬件支持的算子确实较少（受限于硬件厂商的 SDK），另一种情况是目前暂时没有人力增加这些converter，后者占主要的原因，一般是以业务或者外部生态的需要而驱动的；一般来说 SoC NPU 主打 CV 场景，都是一些基础的算子，但确实有诸如deformable_conv这类只有少数硬件厂商支持的算子，如果厂商不支持，就只能走类似TRT plugin方式，但 SoC NPU 一般很少会提供自定义算子的接口；
2）有的，例如yolo_box、box_coder、nms，一般都建议异构到ARM CPU，但如果硬件厂商提供了自定义算子的接口，那还好办。

[2022-04-08 01:14] zhouweic36 commented on #8522
感谢，小应老师和paddle团队关照，这个问题解决了。

[2022-04-08 06:38] shine-xia opened #8791 "使用PaddleLite推理过程中遇到算子和PaddlePaddle行为不一致"
- 版本、预测库信息：
    1）Paddle Lite 版本：2.10
    2）Host 环境：CentOS7
    3）运行设备环境：CentOS7
    4）预测后端信息：cpu/host
- 预测信息
    1）预测 API：C++
    2）预测选项信息：单线程
    3）预测库来源：源码编译, ./lite/tools/build_linux.sh --arch=x86 --with_extra=ON
- 问题描述：
    1）host后端为啥不支持matmul_v2？现在训练使用的PaddlePaddle默认是v2，如果想用host推理，没法使用。
    2）如果导出的静态模型(*.pdmodel)中有多个子图，使用opt生成.dot查看是正常的，使用netron查看只能看到第一个子图，这个问题虽然和paddleLite关系不大，但是想顺便请教一下有切换的

[2022-04-08 06:51] chenchangquan5 opened #8792 "在RK板子上测试代码调用rockchip_npu时出现Can not add a rk::nn::Tensor"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题:[历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

如果您没有查询到相似问题，为快速解决您的提问，建立 issue 时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的 API 文档在哪儿 ”
- 版本、预测库信息：
    1）Paddle Lite 版本：v2.8
    2）Host 环境：

[2022-04-08 07:11] hong19860320 commented on #8792
rknpu目前只支持全量化模型，需要对你的fp32的paddle模型使用paddleslim进行全量化，文档 https://paddle-lite.readthedocs.io/zh/develop/demo_guides/rockchip_npu.html 里有基于paddleslim对分类模型的全量化过程的demo https://paddlelite-demo.bj.bcebos.com/tools/PaddleSlim-quant-demo.tar.gz

<img width="711" alt="image" src="https://user-images.githubusercontent.com/9973393/162383308-15ce749f-7e5f-4b2f-a4c8-b147e9b16253.png">

[2022-04-08 08:17] sdjxmikill opened #8793 "树莓派32/64位系统编译安装2.10版本paddlelite版本号乱码， 官方demo无法run.sh"
截图请访问：(https://github.com/PaddlePaddle/Paddle-Lite-Demo/issues/212)

[2022-04-08 08:40] chenchangquan5 commented on #8792
经过全量化后，再用opt转成nb模型，执行如出现了如下错误：
[F  4/ 8 16:30:29.593 ...le-Lite/lite/kernels/nnadapter/engine.cc:290 Engine] Check failed: (device_names.size() > 0): 0!>0 No device is specified.
[F  4/ 8 16:30:29.593 ...le-Lite/lite/kernels/nnadapter/engine.cc:290 Engine] Check failed: (device_names.size() > 0): 0!>0 No device is specified.

An internal error occurred in PaddleLite(mobile config).
这是因为设备中没有nnadap

[2022-04-08 09:01] chenchangquan5 commented on #8792
全量化后，通过opt转成nb模型，再执行出现如下错误：
365 RKNPU SoftmaxOperator(12):
365 RKNPU AddOperator(211): Add node:0x9E150820_0, op=SOFTMAX
[3  4/ 8 16:59:47.328 ...dapter/src/driver/rockchip_npu/engine.cc:84 BuildFromModel] Model input count: 1
[3  4/ 8 16:59:47.328 ...dapter/src/driver/rockchip_npu/engine.cc:99 BuildFromModel] Model output count: 1
365 RKNPU Build(28):
[     1] Failed to open device: No such file

[2022-04-08 10:53] dlkht opened #8797 "用paddle lite预测模型是thread_num=2和=4速度变化不明显"
在安卓手机上，4核a53 CPU，用的是libpaddle_light_api_shared.so，

config.set_threads(2) 比 config.set_threads(1) 速度要快，

但config.set_threads(4) 和 config.set_threads(2) 速度差不多，

什么原因呢？

[2022-04-08 15:16] personqianduixue commented on #6342
同遇到一样的问题

[2022-04-09 07:24] universea opened #8798 "什么时候可以提供单片机/Microcontroller端的部署呀？"
常见的单片机如，51、stm32、dsp、Arduino、ESP32等

[2022-04-09 09:37] Hadesong opened #8801 "模型形状未知"
训练好了一个dbnet模型,替换PaddleOCR/ deploy / android_demo / app中的检测模型后运行程序闪退

查看模型结构后发现全是问号..
nb模型
![12](https://user-images.githubusercontent.com/3585444/162565647-402be771-41e7-4dfd-9506-229942937f8d.png)
inference.pdmodel(aistudio平台可以正常预测)
![屏幕截图 2022-04-09 172445](https://user-images.githubusercontent.com/3585444/162565726-e4976cbc-58a8-4d86-9870-0635d5139fcd.png)

nb链接：https://pan.baidu.com/s/1YxtdJy5

[2022-04-09 11:41] yingshengBD commented on #8792
3）运行设备环境：RK3399与多个RK1808核心板组合成的AI集群
------这是你的部署环境 rk3399我们是不支持的。
1808可以，但是要确认驱动6.4.0，
分别输入strings /usr/lib/librknn_runtime.so | grep version 和 dmesg | grep Galcore收集驱动相关信息

[2022-04-09 13:00] lip0041 opened #8802 "paddle-lite提供的算子该如何在object-c++代码中使用？"
目前在使用xcode对paddle-lite-demo中的目标检测demo进行学习，由于使用的.nb模型（picodet_s的320*320）的输出为8个，需要进一步后处理。其中需要对tensor数据进行softmax变换，了解到paddle-lie提供有该算子，但我找不到该函数的使用方法（参数、返回值均未知）

请问在包含了paddle_use_ops.h头文件后.mm代码中该如何调用所提供的算子呢，调用时应该遵循的参数以及获取返回值的规范应该在哪里查找？能以使用softmax为例举个例子吗

[2022-04-09 14:16] thunder95 commented on #8586
同样的问题， 使用mobilenetv1的示例代码加上opencl加速， 也遇到了段错误，大佬们怎么解决的 @Zhang-O @zhaoyang-star

[2022-04-10 01:13] thunder95 opened #8803 "opencl - Unsupport DefaultGlobalWorkSize"
opencl 模型在Run的时候报错：
[F  4/10  8:51:53.568 ...-Lite/lite/kernels/opencl/image_helper.h:72 DefaultGlobalWorkSize] Unsupport DefaultGlobalWorkSize with tensor_dim.size():5, image_shape.size():2

v2.10
Ubuntu 18.04

暂不清楚是模型输出维度过大还是中间算子出了问题， 也不知道怎么debug网络哪层不支持。 目前在cpu下可以很好的运行。

[2022-04-10 02:29] hong19860320 commented on #8792
嗯@chenchangquan5 目前暂时只验证过单独的rk1808板子，RK3399+多块Rk1808板卡的组合目前还不支持。

[2022-04-10 09:25] #8801 closed, assigned to mjp9527

[2022-04-10 12:05] 1190202328 opened #8806 "inference_lite_lib.armlinux.armv8.gcc.with_extra.with_cv.tar.gz文件中的demo运行出现core dump"
- 版本、环境信息：
    1）Paddle Lite 版本：v2.10
    2）Host 环境：Ubuntu 18.04
- 模型信息
    1）模型名称：ssd_mobilenet_v1_300_120e_voc
    2）模型链接：https://gitee.com/paddlepaddle/PaddleDetection/blob/release/2.4/configs/ssd/ssd_mobilenet_v1_300_120e_voc.yml
具体情况：
开发板：rk3399；ARM Linux。
模型训练以及转换均在X86 Linux上进行。
一．训练
几乎没有修改官方的配置文件，只是修改了数据集位置和标签数目，以及runtime.yml。
使用paddle-detection进行训练
`python tools/train.py -c configs/ssd/ssd

[2022-04-10 17:30] thunder95 opened #8807 "部署到安卓手机无法找到opencl的库"
I/chatty: uid=10087(com.baidu.paddle.lite.demo.yolov5n_detection) identical 6 lines
I/Paddle-Lite: [I  4/11  1:15: 1.719 ...-Lite/lite/backends/opencl/cl_runtime.cc:68 Init] opencl_lib_found:0
A/Paddle-Lite: [F  4/11  1:15: 1.719 ...shtf/hl/Paddle-Lite/lite/core/program.cc:390 RuntimeProgram] opencl_valid:0
A/libc: Fatal signal 6 (SIGABRT), code -6 (SI_TKILL) in tid 25138 (lov5n_detection), pid 25

[2022-04-11 00:36] chenchangquan5 commented on #8792
了解了，谢谢

[2022-04-11 00:55] thunder95 commented on #8807
W/Paddle-Lite: [W  4/11  8:41:23.821 ...e-Lite/lite/model_parser/model_parser.cc:879 LoadModelFbsFromFile]
    warning: the version of opt that transformed this model is not consistent with current Paddle-Lite version.
          version of opt:v2.10
          version of current Paddle-Lite:6d02e36c8
W/lov5n_detection: type=1400 audit(0.0:6560): avc: denied { read } for name="libOpenCL.so" dev="dm-

[2022-04-11 01:47] lxwlaq commented on #8807
您好，shell下没有加速效果可能是因为nb模型的target只设了cpu没有加gpu，可以先加下export GLOG_v=5看看有没有gpu的信息，确认是不是跑到gpu kernel里，可以发下是基于哪个android app demo改的吗

[2022-04-11 02:02] thunder95 commented on #8807
@lxw950127 我转nb的时候target加了arm, opencl; export GLOG_v=5设置了，但是不知道看那里。 我是基于paddle-lite-demo离的ssd_mobilenetv1_detection_demo.

[I  4/11  9:58:53.161 .../hl/Paddle-Lite/lite/core/device_info.cc:1118 Setup] ARM multiprocessors name: MODEL NAME	: ARMV8 PROCESSOR REV 4 (V8L)
HARDWARE	: MT6765
_MRD-AL00_MT6765_
[I  4/11  9:58:53.164 .../hl/Paddle-Lite/lite/core/device_info.cc:1119 Setup] ARM multiprocessor

[2022-04-11 02:07] thunder95 commented on #8807
而且输出也与cpu下有点不一样

[2022-04-11 02:55] mjp9527 commented on #8797
您好，这是正常现象，线程池调度也有开销，并且网络并不是每一层都是多线程实现的。

[2022-04-11 02:57] mjp9527 commented on #8802
你是想直接调用softmax算子吗，paddle-lite无法单独调用算子

[2022-04-11 03:07] mjp9527 commented on #8798
目前没有这方面的开发计划

[2022-04-11 03:22] chenjiaoAngel commented on #8806
这个意思是用demo 提供的模型运行正常，改用自己的模型运行失败？
新模型的输入shape/tensor 个数和原demo的输入参数是一样的吗？
可以用export GLOG_v=4 ，打印更多的log信息

[2022-04-11 03:37] 1190202328 commented on #8806
谢谢!我已经解决啦，因为我的input tensor数目不对。之前不知道我的模型input tensor数目有3个

[2022-04-11 03:38] #8806 closed, assigned to nobody

[2022-04-11 03:38] 1190202328 commented on #8806
成功解决

[2022-04-11 03:38] xingjing1 commented on #8791
问题回答
1）host暂时不支持matmul_v2，可以尝试换成matmul或自己添加。
2）用netron看：点击properties
<img width="289" alt="4e75deaebecbffc4e149315e5ca716f0" src="https://user-images.githubusercontent.com/33440396/162660703-26c8c502-5944-4163-a079-c9dd744f5e3e.png">
之后选择subgraph可以查看子图
<img width="505" alt="299cbeb3d3d6c7b2648b6317aee7847e" src="https://user-images.githubusercontent.com/33440396/162660727-726598ea-6297-4d77-b2d3-a

[2022-04-11 06:21] lxwlaq commented on #8807
您好当前看起来您这个log还是不完整，可以把模型（原模型，cpu nb模型，gpu nb模型）发一下吗， 我们先本地复现下

[2022-04-11 06:45] thunder95 commented on #8807
@lxw950127 我感觉是我手机没有root权限，访问不到opencl动态库。有什么好工具推荐可以root化， adb root和adb shell su都有问题。 模型文件已上传：
链接：https://pan.baidu.com/s/1iSuabz7p30W5ANxxJ3Ol2A
提取码：d2l3

[2022-04-11 06:48] lxwlaq commented on #8807
应该和root无关，我们用的手机也都没有root，原模型也提供下吧, 还有麻烦您重新转下gpu模型试一下 target要写成opencl，arm

[2022-04-11 06:58] thunder95 commented on #8807
@lxw950127 我看andriod studio里这么提示( denied { read } for name="libOpenCL.so")的所以怀疑root， 由于为了视频opencl和paddle-lite算子问题，我对网络结构yolo-block以及后处理做了些适配改动，不然推理会有问题（可参考我其他issue），所以后面的部分有可能跟原模型不太一样。模型已经补充上去了，辛苦老师看下。

[2022-04-11 07:41] yangy996 commented on #8152
armv7编译报错解决了吗？2022-4-11日尝试 v2.9和v2.10版本都是报错，armv8在两个版本上编译都是正常的

[2022-04-11 08:00] lip0041 commented on #8802
那该怎么使用算子呢，比如对一个vector进行softmax运算，是要自己实现一遍softmax吗

[2022-04-11 08:21] Zhang-O commented on #8586
没有解决，等官方解决吧

[2022-04-11 08:22] mjp9527 commented on #8802
取模型的输出数据自己实现softmax，或者修改模型增加一个softmax层

[2022-04-11 08:30] lip0041 commented on #8802
好的 谢谢

[2022-04-11 08:30] #8802 closed, assigned to mjp9527

[2022-04-11 09:03] shentanyue commented on #8774
--optimize_out_type=protobuf主要用作调试的，而且已经基本没有维护了。
真正部署的话还是需要--optimize_out_type=naive_buffer。
另外，做点调查，请问下您这边需要使用intel_fpga进行推理部署的原因是什么呢？

[2022-04-11 09:05] xingjing1 commented on #8793
已在demo的repo回复

[2022-04-11 10:36] dlkht commented on #8797
谢谢！

[2022-04-11 12:55] lxwlaq commented on #8807
同学，确认您转的nb模型不对， 请写成opencl，arm试一下

[2022-04-11 14:23] thunder95 commented on #8807
@lxw950127 我尝试了下面两种转换方式，都是一样的错，我更加怀疑是手机的问题，有机会我借个好点的手机试试。到时候我再反馈一下。

[code]

[2022-04-11 14:49] thunder95 commented on #8807
@lxw950127  没想到这个参数输入顺序也有关系，如果nb模型不对， 那么怎么会adb shell使用gpu和cpu都能成功运行呢？换成您说的opencl, arm， 输出结果错误， 但是用arm,opencl，能输出更合理的结果。 当然，这个结果比较目前也不靠谱，本身手机可能就有问题。

[2022-04-12 01:13] lxwlaq commented on #8807
换成opencl，arm 应该会优先选择opencl的kernel，输出结果不对，可能是因为opencl哪个op精度有问题，可以把target是opencl，arm这个模型跑出来的log发出来看看吗，运行前加export GLOG_v=5

[2022-04-12 01:34] thunder95 commented on #8807
@lxw950127 日志怎么输出到文件， 输出太多被截断了不少

[2022-04-12 01:41] thunder95 commented on #8807
嗯 好的， 我以为有什么配置可以直接指定。
[yolov5n_opencl.log](https://github.com/PaddlePaddle/Paddle-Lite/files/8468861/yolov5n_opencl.log)

[2022-04-12 02:26] thunder95 commented on #8807
[3  4/12  9:47:46.239 ...te/backends/opencl/cl_image_converter.cc:619 NCHWToImage]  tensor dim: {16,3,6,6}
[3  4/12  9:47:46.239 ...te/backends/opencl/cl_image_converter.cc:620 NCHWToImage]  image dim: {4,144}
输入挺奇怪的，我输入的图片都是320*320 * 3， 怎么变成4， 144了 @lxw950127

[2022-04-12 02:29] lxwlaq commented on #8807
收到可以确定这个是跑在opencl上了，结果有问题可能是精度问题，我找opencl同学看一下。android app demo 我看了下ssd_mobilenetv1_detection_demo就是不支持gpu。

[2022-04-12 02:30] lxwlaq commented on #8807
可以贴一下具体arm和opencl结果的区别吗

[2022-04-12 03:05] chenchangquan5 opened #8820 "Failed to load the nnadapter device HAL library for 'cpu' from libcpu.so"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题:[历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

如果您没有查询到相似问题，为快速解决您的提问，建立 issue 时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的 API 文档在哪儿 ”
- 版本、预测库信息：
    1）Paddle Lite 版本：v2.8
    2）Host 环境：

[2022-04-12 03:22] thunder95 commented on #8807
@lxw950127 日志下方output_summary就是输出结果。 辛苦opencl同学看一下，希望我可以完成这个黑客松任务。

[yolov5n_opencl.log](https://github.com/PaddlePaddle/Paddle-Lite/files/8469223/yolov5n_opencl.log)
[yolov5n_arm.log](https://github.com/PaddlePaddle/Paddle-Lite/files/8469224/yolov5n_arm.log)

[2022-04-12 06:11] GreatHaop opened #8822 "mobile_classify.cc Failed to run for the darknet53 model"
如果您没有查询到相似问题，为快速解决您的提问，建立 issue 时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的 API 文档在哪儿 ”
- 版本、预测库信息：
    1）Paddle Lite 版本： v2.10
    2）Host 环境：  无
    3）运行设备环境：EdgeBoard FZ3B
    4）预测后端信息：FPGA
- 预测信息
    1）预测 API：C++
    2）预测选项信息：
    3）预测库来源：源码编译 ./lite/tools/build_fpga.sh
- 复现信息：如为报错，请提供剥离业务环境的可复现预测 demo，用于问题复现

- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
PaddleClas训练得到的Darknet53模型转换为`*.nb`格式后用 https://github

[2022-04-12 06:44] hong19860320 commented on #8820
完全不用自己手动拷贝，可以按照文档一样 https://paddle-lite.readthedocs.io/zh/develop/demo_guides/rockchip_npu.html ，基于 https://paddlelite-demo.bj.bcebos.com/devices/generic/PaddleLite-generic-demo.tar.gz ，直接通过 run_with_ssh.sh 即可远程在设备上运行，而且能保证传入的参数是正确的。

你你这个问题目前看起来是自己改了image_classification_demo.cc 错误的将cpu 传入到了config.set_nnadapter_device_names() 接口里面了

[2022-04-12 07:26] shine-xia commented on #8791
谢谢解答，了解了。

[2022-04-12 07:27] #8791 closed, assigned to xingjing1

[2022-04-12 07:28] chenchangquan5 commented on #8820
这次用原来的代码重新编译，直接通过 run_with_ssh.sh 远程在设备上运行，依旧出现同样的错误
[4  1/15 17:42:42.370 .../backends/nnadapter/nnadapter_wrapper.cc:100 Initialize] NNAdapterExecution_compute is loaded.
[4  1/15 17:42:42.370 .../backends/nnadapter/nnadapter_wrapper.cc:102 Initialize] Extract all of symbols from libnnadapter.so done.
[F  1/15 17:42:42.372 ...nadapter/nnadapter/src/runtime/device.cc:512 Find] Failed to load the

[2022-04-12 09:28] hong19860320 commented on #8820
你的执行命令是什么？

[2022-04-12 09:40] hong19860320 commented on #8820
基于最新的https://paddlelite-demo.bj.bcebos.com/devices/generic/PaddleLite-generic-demo.tar.gz ，以下两个命令都是 OK 的：

`
./run_with_ssh.sh mobilenet_v1_int8_224_per_layer linux armhf cpu 192.168.100.13 22 root rockchip
./run_with_ssh.sh mobilenet_v1_int8_224_per_layer linux armhf rockchip_npu 192.168.100.13 22 root rockchip
`

[2022-04-12 10:02] chenchangquan5 commented on #8820
按照上面的命令执行，出现了如下错误，是固件版本太高了吗？
1922 RKNPU Setup(175): create tensor fail
1922 RKNPU Setup(175): create tensor fail
1922 RKNPU Setup(175): create tensor fail
1922 RKNPU Setup(175): create tensor fail
1922 RKNPU Setup(175): create tensor fail
1922 RKNPU Setup(175): create tensor fail
1922 RKNPU Setup(175): create tensor fail
1922 RKNPU Setup(175): create tensor fail
1922 RKNPU Setup(175): create tenso

[2022-04-12 11:50] hong19860320 commented on #8820
看起来是NPU driver版本的问题，可以按照文档里说的，运行下 dmesg | grep Galcore
![image](https://user-images.githubusercontent.com/9973393/162953805-b57c708b-7b2b-4814-b813-27918c4d2436.png)

[2022-04-13 07:48] STUSER001 opened #8829 "使用paddlelite 模型转换后 精度下降"
使用 paddle-lite 用的是2.10版本 将ppyolo模型转换后 部署到了树莓派上  测试后 发现 精度下降了5%左右 ，就是正确预测样本在整体侧样本中正确比例的测试，没有做任何量化
![image](https://user-images.githubusercontent.com/88072901/163126494-20f3b7a6-2bb8-4109-a579-64540e0f5278.png)

用的是这个代码 是因为画框的 转成16 的原因么？

[2022-04-13 14:04] zhaoyang-star commented on #8822
您好，Paddle Lite 目前对 FPGA 的支持能力已不再维护，可能会出现运行模型报错情况，谢谢。

[2022-04-14 13:41] wa008 opened #8844 "请问下 Python 训练的好的模型 可以用于 C++ 部署调用吗？"
还是说只能 Python 训练的只能 Python调用，C++ 部署的话只能用 C++ 训练出来的模型呢？

[2022-04-14 15:03] unseenme opened #8846 "【PaddlePaddle Hackathon 2】tinypose opencl模型加载报错io_copy not supported"
Paddle Lite 版本：Paddle-Lite:v2.10-rc
运行环境：Android 11
模型：https://bj.bcebos.com/v1/paddledet/models/keypoint/tinypose_256x192.tar
OPT 命令：paddle_lite_opt --model_dir=tinypose_256x192 --valid_targets=opencl  --optimize_out=tinypose_256x192_opencl
问题描述：OPT得到opencl模型，在Android手机上加载时报错如下
[code]

请问是转换方法不正确吗？

[2022-04-15 03:28] liutheuniverse opened #8851 "not supported dtype 6"
- 版本、环境信息：
    1）Paddle Lite 版本：2.10rc
    2）Host 环境：android studio2021.1.1 patch1
    3）redmi 10X
    4）预测后端信息：Intel(R) Core(TM) i7-1065G7 CPU @ 1.30GHz   1.50 GHz, x86
- 复现信息：
原paddle-lite-demo能正常运行
生成语句!paddle_lite_opt --model_file=/home/aistudio/MyCNN.pdmodel --param_file=/home/aistudio/MyCNN.pdiparams --optimize_out_type naive_buffer --optimize_out=VGG19_opt
报错
A/Paddle-Lite: [F  4/15 11:14:

[2022-04-15 03:33] zhenlin-work commented on #8851
麻烦提供一下原始模型和commitid 谢谢。
另外您用源码编译opt试试呢，是在opt转模型的时候报的错吗

[2022-04-15 04:01] liutheuniverse commented on #8851
链接：https://pan.baidu.com/s/13XO77tdBHHDN8G5cCONQfA
提取码：qhzr
原始模型

[2022-04-15 04:02] liutheuniverse commented on #8851
是开发paddlelitedemo出的错

[2022-04-15 04:19] liutheuniverse commented on #8851
还有commitid是什么

[2022-04-15 06:55] chenjiaoAngel commented on #8844
可以用C++ 部署的，跟模型无关。

[2022-04-15 06:56] chenjiaoAngel commented on #8846
加载CPU 模型可以正常运行吗？
看错误可能是预测库里没有包含OpenCL 预测库引起的

[2022-04-15 07:03] sprouteer commented on #8803
您好，OpenCL还不支持>4维的算子

[2022-04-15 09:18] xiaoxiaohehe001 commented on #8846
--valid_targets=opencl,arm 添加上arm试一试

[2022-04-15 09:18] zhenlin-work commented on #8851
你这个模型是nb模型吧，这是转换完以后的呀，能不能提供原始model文件，opt转换之前的。

[2022-04-15 09:20] zhenlin-work commented on #8851
就是你paddle-lite是源码编译还是用的提供的推理库？源码编译的话对应代码的commit id号是多少

[2022-04-15 10:02] zhenlin-work commented on #8851
!paddle_lite_opt --model_file=/home/aistudio/MyCNN.pdmodel --param_file=/home/aistudio/MyCNN.pdiparams --optimize_out_type naive_buffer --optimize_out=VGG19_opt

你这个!paddle_lite_opt --model_file=/home/aistudio/MyCNN.pdmodel --param_file=/home/aistudio/MyCNN.pdiparams --optimize_out_type naive_buffer --optimize_out=VGG19_opt 命令不太对吧，没有指定--valid_targets 那应该就是默认转arm的模型吧

[2022-04-15 10:03] chenjiaoAngel commented on #8851
这个错误是fill_constant OP 不支持bool 类型输入

[2022-04-15 10:10] chenjiaoAngel commented on #8851
<img width="864" alt="image" src="https://user-images.githubusercontent.com/38650344/163558043-97fdb76d-5ac6-4927-aaa9-4fe5347cab00.png">
目前lite 的fill_constant OP 只支持上述类型的计算，暂不支持FP64 计算

[2022-04-15 15:18] unseenme commented on #8846
CPU模型的话，一切正常。
想调用OpenCL预测库的话，下载下面这个包对吗？
[code]

[2022-04-15 15:19] unseenme commented on #8846
试了一下，报错没有变化。

[2022-04-15 15:23] unseenme commented on #8846
@chenjiaoAngel 又调查了一下代码，预测库来自这个链接
`https://paddlelite-demo.bj.bcebos.com/libs/android/paddle_lite_libs_v2_10_rc.tar.gz`
怎么确认这里面是否包含OpenCL 预测库呢？

[2022-04-15 18:53] Li-4 opened #8861 "Picodet在Paddle-Lite部署报错，替换模型后编译通过但是运行中出错：not supported x_dims({2704,8}) and y_dims({8})"
- 版本、预测库信息：
    1）Paddle Lite 版本：2.10
    2）Host 环境：Linux raspberrypi 5.15.30-v8+ 1536 SMP PREEMPT Mon Mar 28 13:53:14 BST 2022 aarch64 GNU/Linux
    3）运行设备环境：树莓派4B
    4）预测后端信息：CPU部署
- 预测信息
    1）预测 API：C++
    2）预测选项信息：armv8、单线程
    3）预测库来源：git 最新的 Paddle-Lite-Demo 中 PaddleLite-armlinux-demo 的 yolo
- 复现信息：基于 Paddle-Lite-Demo 中 PaddleLite-armlinux-demo 的 yolo 更换了 picodet nb 模型文件
- 问题描述：
[code]

[2022-04-16 02:22] thunder95 commented on #8803
嗯 了解了

[2022-04-16 02:22] #8803 closed, assigned to nobody

[2022-04-16 07:16] PHaohui commented on #8774
使用intel_fpga的原因是参加了一个比赛，要求部署平台为FPGA平台

[2022-04-16 08:58] Rosa-Mao opened #8862 "在fpga端部署时报错kernel for 'conv2d' is not supported by Paddle-lite"
使用的是ssd_mobilenet_v1_300_120e_voc.yml经过QAT量化后转换的.nb模型，opt转换target为intel_fpga,arm（必须使用intel_fpga，所以去掉fpga的解决方案pass），出现如下错误，请问如何解决
![image](https://user-images.githubusercontent.com/49109820/163668907-44e03822-7bbe-4a2a-ab96-7d6b22c66847.png)

[2022-04-16 15:57] hong19860320 commented on #8862
intel_fpga 没有实现int8的 conv2d kernel，因此会报上述错误，请尝试使用fp32的 ssd_mobilenet_v1_300_120e_voc

[2022-04-16 16:01] hong19860320 commented on #8861
请首先上传下你的picodet 推理模型，然后请使用 https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/develop/object_detection/android/app/cxx/picodet_detection_demo 这个demo

[2022-04-16 18:45] Li-4 commented on #8861
今天在查看 configs/ppyolo/readme 时候发现了这个 demo。
不过请问一下，可以使用 https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/develop/object_detection/android/shell/cxx/picodet_detection 这个在树莓派4B部署吗？

[2022-04-17 04:34] hong19860320 commented on #8861
暂时没有提供armlinux的demo，不过可以参考 https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/develop/object_detection/android/shell/cxx/picodet_detection 的实现改下 https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-armlinux-demo/object_detection_demo

[2022-04-18 02:54] Zhang-O commented on #6426
https://paddle-lite.readthedocs.io/zh/develop/source_compile/library.html
inverse op 在 with-extra=ON  的预编译库里面是支持的

[2022-04-18 05:52] STUSER001 opened #8872 "paddlelite 部署问题"
![5ceab472ec5ae79c26c01a34fff47a8](https://user-images.githubusercontent.com/88072901/163761547-c5ee6ad3-805c-4948-bc3e-45ee987f32e4.png)
![9bcfb4e026afd5bfaf7fe8f4626feef](https://user-images.githubusercontent.com/88072901/163761553-384b9182-8bee-4589-8ba8-ee0741bb47b3.png)
上图是 模型转换后的 .NB 文件 网络结构图 以及 代码部分 提示错误如下
![image](https://user-images.githubusercontent.com/88072901/163761632-8554935b-ee11-4

[2022-04-18 06:38] dlkht opened #8873 "关于opencl在paddleOCR模型中使用"
- 版本、预测库信息：
    1）Paddle Lite 版本：v2.9
    2）android
    3）oppo A7x
    4）预测后端信息：CPU/GPU(mali g31)
- 预测信息
    1）预测 API：C++ API
    2）预测选项信息：armv8、多线程
    3）预测库来源：官网下载/PP-OCRv2  OCR移动端模型

用paddle-lie opt工具优化模型，vilad-target选opencl, 在android手机用c++ API运行检测和识别，发现：
   1，opencl只能运行检测，不能运行识别（崩溃）
   2，opencl运行检测比cpu运行还慢
请问是什么原因？
   另外，有的硬件平台只有openGL驱动，请问paddle-lite ops支持opengl 吗？谢谢！

[2022-04-18 07:58] xiaoxiaohehe001 commented on #8846
应该使用opencl的预测库，https://github.com/PaddlePaddle/Paddle-Lite/releases 这里有opencl预测库和opt。应当匹配好

[2022-04-18 08:15] daming5432 commented on #8829
你好，你可以用fp32试一下，如果精度正确就应该是fp16本身的问题

[2022-04-18 08:18] STUSER001 commented on #8829
好的 谢谢

[2022-04-18 10:05] Hengmen opened #8879 "无法在华为昇腾 NPU 服务器中对picodet模型的输出进行后处理。"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题:[历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

如果您没有查询到相似问题，为快速解决您的提问，建立 issue 时请提供如下细节信息：
- 标题：无法在华为昇腾 NPU 服务器中对picodet模型的输出进行后处理。
- 版本、预测库信息：
    1）Paddle Lite 版本：bd89a46ae76df2b59

[2022-04-18 10:12] hong19860320 commented on #8879
目前 paddle detection 在导出picodet模型的时候，可以选择模型中是否带上nms等后处理的算子，你可以确认下哈~ 然后可以参考 https://github.com/PaddlePaddle/Paddle-Lite-Demo/blob/0e3ac8b293d49b25fd84dab0adab8e617249c7fd/object_detection/android/shell/cxx/picodet_detection/picodet_detection.cc#L122 这里在你的demo中实现后处理。

[2022-04-18 14:24] qianbin1989228 opened #8884 "paddlegan模型转换报错"
- 版本、环境信息：
    1）Paddle Lite 版本：v2.8.0
    2）Host 环境：Ubuntu 18.04，ai studio
- 模型信息
    1）模型名称：U-GAT-IT （[人脸卡通化](https://github.com/PaddlePaddle/PaddleGAN/blob/develop/docs/en_US/tutorials/photo2cartoon.md)）
    2）模型链接：https://pan.baidu.com/s/1lyCnunIZiCoy4qH37MbLTg          提取码：fg9f
- 复现代码如下：
from paddlelite.lite import *
opt=Opt()
opt.set_model_file('./output/model.pdmodel')
opt.set_param_file('.

[2022-04-19 04:23] slackzh commented on #8861
遇到了同样的问题，我是直接把  (https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/develop/object_detection/android/shell/cxx/picodet_detection) 的代码移到 (https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-armlinux-demo/object_detection_demo) 下面，简单修改了 CMakeLists.txt，编译能够通过。运行报错：

[code]

用 官方提供下载的模型(https://paddledet.bj.bcebos.com/deploy/paddlelite/picodet_l_640_coco_lcnet.tar) 也是类似的错误 ：
[co

[2022-04-19 06:10] #8879 closed, assigned to nobody

[2022-04-19 06:40] Hengmen opened #8890 "无法使用picodet模型进行预测"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题:[历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

如果您没有查询到相似问题，为快速解决您的提问，建立 issue 时请提供如下细节信息：
- 标题：无法使用picodet模型进行预测
- 版本、预测库信息：
   1）Paddle Lite 版本：bd89a46ae76df2b597adc57b2afb3a3a920f

[2022-04-19 06:55] slackzh commented on #8861
解决了，用 develop 的分支就没有问题。另外 picodet_detection 的 width 和 height 参数要根据模型而定，刚开始不知道，绕了弯路。

[2022-04-19 11:52] chenjiaoAngel commented on #8884
这个OP  paddle-lite 暂不支持，您看是否可以用其他OP(如reshape） 替换实现

[2022-04-19 11:54] chenjiaoAngel commented on #8872
这个问题在最新的develop 分支有修复，可以用最新代码测试

[2022-04-19 12:03] STUSER001 commented on #8872
什么意思 是要更新 paddlelite么 这个意思么？

[2022-04-19 15:15] unseenme commented on #8846
@xiaoxiaohehe001 因为是要用在android应用中，所以之前一直用的是`inference_lite_lib.android.xxx.tar.gz`，看来是选择错了。
`inference_lite_lib.armv8.clang.with_exception.with_extra.with_cv.opencl.tar.gz`这个也可以用于Android应用，是吧？

[2022-04-20 02:19] chenjiaoAngel commented on #8872
enen ，用最新的源码重新运行

[2022-04-20 03:14] deepthman opened #8899 "使用python api进行ocr推理"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题: [历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

建立 issue 时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型转换报错”
- 版本、环境信息：
    1）Paddle Lite 版本：请提供您的 Paddle Lite 版本号（如v2.10）或 Comm

[2022-04-20 03:17] sprouteer commented on #8873
您好，paddle-lite只支持opencl,不支持opengl的，v2.9分支比较老，可以换新的v2.11分支试试，性能慢可以多跑几轮试试，第一轮是会很慢的，报错问题，可以贴一下报错信息

[2022-04-20 04:46] csy0225 commented on #8890
您好，根据您的 log 并结合代码初步判断是我们内部在对 mat_mul 算子进行shape推导时出现的错误，我们会尽快针对此问题进行修复。

同时，在 release/v2.11 分支 和 develop 分支上支持了另一个版本的 picodet 模型，您可以尝试部署此模型，
对应的 PaddleDetection 配置文件为[picodet_l_416_coco.yml](https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/picodet/legacy_model/picodet_l_416_coco.yml)，或可直接下载该版本模型：https://paddlelite-demo.bj.bcebos.com/NNAdapter/models/PaddleDetection/v2.3/pico

[2022-04-20 06:37] STUSER001 commented on #8872
好的谢谢 用倒是可以用了 只不过 目标检测位置 有问题 本来应该是如下图
![image](https://user-images.githubusercontent.com/88072901/164165602-1d67de99-e903-4039-ae4e-20e7e025cb26.png)

但是实际确实是这样的
![image](https://user-images.githubusercontent.com/88072901/164165790-e6ca5b52-9b6c-4e0e-a031-152d735e59fe.png)

这啥问题？？我部署在了 树莓派上

[2022-04-20 07:18] shentanyue commented on #8899
可以看下PaddleOCR的lite部署代码哦，里面有提供后处理的代码供参考。
https://github.com/PaddlePaddle/PaddleOCR/tree/release/2.4/deploy/lite

[2022-04-20 08:29] slackzh opened #8902 "请问哪个 neon_mean_scale 函数是正确的，或者两个用处不同？"
用 PaddleLite 在移动端分别部署 PaddleOCR 和 PaddleDetection 的时候，我发现 neon_mean_scale 有两个版本，乘或除scale可以理解，传入的参数不同。  不明白的是第二个只给 dout_c0  赋值

(https://github.com/PaddlePaddle/PaddleOCR/blob/5140907d7c673a82ef6e606d10828a23e2269d12/deploy/lite/ocr_db_crnn.cc#L65)
[code]

https://github.com/PaddlePaddle/Paddle-Lite-Demo/blob/106d08f21f624a21d7b31df4efec437b4b85311a/object_detection/android/shell/cxx/picodet_detect

[2022-04-20 08:35] deepthman commented on #8899
感谢，知道是怎么进行后处理了。

[2022-04-20 08:37] deepthman commented on #8899
大概看了一下，是用的opencv的找轮廓方法提取框坐标。对python和c++来说都不难，android上用java api就G了...

[2022-04-20 10:54] liutheuniverse commented on #8851
那怎样才能转换呢

[2022-04-20 13:36] 2050airobert opened #8905 "Bug of tinypose paddle2onnx 转换报错！"
Hi，
  1）Paddle Lite 版本： Paddle Lite 最新版本以及上一个release版本2.10 都尝试过，结果一样，可以认为最新release版本。
  2）Host 环境：Ubuntu 20.04
- 模型信息
    1）tinypose 官方发布的 两种尺寸都试过  paddle lite官网链接下载的
    2）模型链接 https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/configs/keypoint/tiny_pose
- 复现信息：采用opt10 opt11 opt12 以及以上版本都可以转换出 相应的onnx ，采用opt9以及一下版本不行！
                    重点来了，转换出来的模型split op ，明显缺少了一个 attribute 字段 “s

[2022-04-20 13:48] shentanyue commented on #8902
下面这个应该是写错了。
我反映一下，感谢您的反馈~

[2022-04-20 13:54] shentanyue commented on #8899
java可以调用c++相关代码，可以参考下这个：https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/develop/ocr/android/app/cxx/ppocr_demo

[2022-04-20 14:05] shentanyue commented on #8905
您好，少了split attribute确实有问题。应该是Paddle2ONNX导出模型的问题，帮你在Paddle2ONNX提了个issue：
https://github.com/PaddlePaddle/Paddle2ONNX/issues/702

[2022-04-20 15:09] thunder95 commented on #8807
@lxw950127 请问opencl同学有什么反馈吗？

[2022-04-21 00:36] deepthman commented on #8899
感谢！太敬业了。

[2022-04-21 01:30] dium6i commented on #7676
遇到了同样的问题，换用自己的字典训练的模型转nb后在Android平台识别效果很差，使用inference模型就一点问题都没有，如下图1，图2。
图1   Android平台识别结果：
![2 10识别结果](https://user-images.githubusercontent.com/75460093/164353303-44a34824-fe26-4bf4-8472-79ae946ffd3e.png)

图2  使用inference模型识别结果：
![服务器识别结果](https://user-images.githubusercontent.com/75460093/164353320-8a401a6c-3bbc-476e-bedf-346d7717d123.jpg)

图3  修改predict_rec.py前的inference模型识别结果：
![服务器修改](https

[2022-04-21 02:54] lxwlaq commented on #8807
@thunder95 同学， 我们opencl同学最近在忙发版的事情还没来得及看， 她说今天看一下，你上传的模型我看过期了，麻烦再上传一下原始模型和nb模型

[2022-04-21 02:58] thunder95 commented on #8807
@lxw950127 链接：https://pan.baidu.com/s/1Qn5jh5puuAL936WviU9bkw
提取码：x2rf

[2022-04-21 04:29] liutheuniverse commented on #8851
Loading topology data from /home/featurize/MyCNN.pdmodel
Loading params data from /home/featurize/MyCNN.pdiparams
1. Model is successfully loaded!
[W  4/21 12:27:14.607 /island/Paddle-Lite/lite/core/program.cc operator():590] Unable to convert var desc type(6) to precision type!
[W  4/21 12:27:14.607 /island/Paddle-Lite/lite/core/program.cc operator():590] Unable to convert var desc type(6) to pre

[2022-04-21 09:34] BgLoveXixi opened #8908 "转换pytorch的mobilenetv3到lite格式报错不支持"
[code]
  用上面的代码转换pytorch的mobilenetv3到lite格式，抛错不支持：
![}PMKY}TP_IVZBK3EL8)9VHH](https://user-images.githubusercontent.com/37319074/164425685-f0d639a7-54fc-488b-b4e4-4d42d6bcefdc.png)

目前不是已经支持了mobilenetV3的转换了吗，请问下这是什么原因。下面是环境中安装的版本信息：
![image](https://user-images.githubusercontent.com/37319074/164426064-9101f926-8786-40e1-bcfc-b548d953ea3a.png)

[2022-04-22 07:26] BgLoveXixi commented on #8908
请问有没有官方大佬给解决下啊

[2022-04-22 07:43] lxwlaq commented on #8807
同学，我试了下最新develop opencl 精度就对齐了，release2.10确实有问题，你可以试下develop，或者马上发布release/v2.11了，可以用release/v2.11试试

[2022-04-22 07:45] DannyIsFunny commented on #8908
你好，检查了PaddleLite里面其实是有对应算子，这个问题可能是X2Paddle的实现问题
X2Paddle->PaddleLite的映射逻辑是 : Pytorch->Paddle->PaddleLite ，你的错误信息看起来应该是 挂在了 Pytorch->Paddle的这一步
建议更新一下X2Paddle版本试一下，如果还是有问题需要在X2Paddle Repo里面反馈一下问题

[2022-04-23 06:21] liutheuniverse commented on #8851
@zhenlin-work  原始模型地址链接：https://pan.baidu.com/s/16IG4KijMd7GsEut5CbGORQ
提取码：17tn

[2022-04-23 11:27] victorlionline opened #8923 "使用paddle_lite_opt转化PicoDet模型报错 Unable to convert var desc type(6) to precision type"
- 版本、环境信息：
    1）Paddle Lite 版本：2.10
    2）Host 环境：Win10

- 模型信息
    1）模型名称：PicoDet
    2）模型链接：paddleX 2.1 自带

- 复现信息：
 1 ------使用 paddlex 导出模型
paddlex --export_inference --model_dir=./P0033-T0069_export_model/inference_model/inference_model --save_dir=./deploy_model --fixed_input_shape=[320,320]
2 ------Opt 转换模型
import paddlelite.lite as lite
a=lite.Opt()
a.set_model_dir("../inference_model")
a.s

[2022-04-24 01:26] thunder95 commented on #8807
@lxw950127 您好， adb shell下gpu模型精度跟cpu模型对齐了，只是opencl比cpu推理还慢， 另外之前那个问题仍旧存在，部署到安卓手机apk上仍旧会有之前那个opencl library的问题。

[2022-04-24 01:54] lxwlaq commented on #8807
@thunder95 原android app demo不支持opencl，同学你可以先用原demo试一下看看能否跑通，如果确认不支持可以照着image_classification demo添加一下gpu支持。

[2022-04-24 02:02] #8899 closed, assigned to nobody

[2022-04-24 06:41] chenjiaoAngel commented on #8923
1）根据日志显示：模型转换成功了
<img width="770" alt="image" src="https://user-images.githubusercontent.com/38650344/164960202-beb9c38c-9e75-42e5-ba32-b828c7bb08a6.png">
2）根据错误信息：模型中有变量是double 类型，目前lite 不支持这个case，辛苦在save_model 时，将double类型转换为FP32 类型

[2022-04-24 07:12] thunder95 commented on #8807
@lxw950127 我运行了下image_classification demo， 切换到GPU时， 立即闪退，然后控制台出现一样的错误，还是opencl library的问题。

[2022-04-24 09:42] thunder95 commented on #8807
@lxw950127 换了个手机， opencl的库就能找到，也能正常推理了

[2022-04-24 09:42] #8807 closed, assigned to lxwlaq

[2022-04-24 12:07] ANDROIDTODO opened #8929 "paddle_use_kernels.h: No such file or directory"
Hi Paddle-Lite Team,
我根据 https://paddle-lite.readthedocs.io/zh/latest/source_compile/macos_compile_macos.html#id5
我基于最新的develop分支，并且在MAC M1平台编译 arm64的库时，发现没有这个paddle_use_kernels.h头文件，我通过find命令也没发现这个头文件

我的编译命令为：
./lite/tools/build_macos.sh --with_cv=ON --with_extra=ON arm64

[100%] Built target PADDLELITE_OBJS
[100%] Linking CXX shared library libpaddle_light_api_shared.dylib
[100%] Linking CXX st

[2022-04-25 00:46] unseenme opened #8932 "【Hackathon 2】tinypose opencl模型推理失败"
Paddle Lite 版本：v2.11 (95825c16996c17377e9cf377bd07004189bfff18)
运行环境：Android 11
模型：https://bj.bcebos.com/v1/paddledet/models/keypoint/tinypose_256x192.tar
OPT 命令：paddle_lite_opt --model_dir=./models/tinypose_256x192 --valid_targets=opencl,arm --optimize_out=./models/tinypose_256x192_opencl

问题描述：模型推理失败。在设置LOG输出后，没有看到可用报错。

`export GLOG_v=5`

`infer tinypose_256x192_opencl.nb 1,3,256,192 100 10 0 1

[2022-04-25 01:17] victorlionline commented on #8923
您好，非常感谢回复！
能否指点一下 ”save_model 时，将double类型转换为FP32 类型“ 如何操作，大概的思路就行，在paddlex 导出步骤，还是opt转换步骤，这方面不太熟悉。谢谢了！

[2022-04-25 02:58] xingjing1 commented on #8932
您好这边没有复现您的错误，请检查您的库版本和模型转换版本是否正确，以及输入shape是否正确。
![d6a2116c5c42beff5ebea5dd1a650d77](https://user-images.githubusercontent.com/33440396/165013414-6fee9329-3bbb-4e19-a583-d336b333f343.png)

[2022-04-25 08:39] weishengying commented on #8525
这个问题已经解决 使用新的relase/v2.11分支即可

[2022-04-26 07:51] EricHuiK commented on #8873
ocr 现在支持opencl了么

[2022-04-26 09:42] SunNoJJ commented on #8872
我也遇到了你这个问题，请问一下你是怎么解决的呢

[2022-04-26 14:15] unseenme commented on #8932
OPT版本升级到与库版本一致后，问题解决。

[2022-04-26 14:16] #8932 closed, assigned to xingjing1

[2022-04-26 14:23] unseenme commented on #8846
已经改为用最新的代码编译支持opencl的推理库。

[2022-04-26 14:23] #8846 closed, assigned to xiaoxiaohehe001

[2022-04-27 03:34] duorouputao opened #8956 "st-gcn模型转换成功，部署失败"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题: [历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

建立 issue 时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型转换报错”
- 版本、环境信息：
    1）Paddle Lite 版本：v2.10-rc
    2）Host 环境：请描述 Host 系统类

[2022-04-27 07:14] qiuming-93 opened #8959 "Paddle lite是否支持mlu220"
Paddle lite是否支持mlu220

[2022-04-27 12:11] Hzdgithub commented on #8872
请问您知道怎么把模型部署到fpga上吗

[2022-04-27 23:17] unseenme opened #8966 "【Hackathon 2】tinypose opencl模型推理结果异常"
Paddle Lite 版本：v2.11 (https://github.com/PaddlePaddle/Paddle-Lite/commit/95825c16996c17377e9cf377bd07004189bfff18)
Host 环境：Ubuntu 16.04
运行环境：Android 11
模型名称：tinypose
模型链接：https://bj.bcebos.com/v1/paddledet/models/keypoint/tinypose_256x192.tar
OPT 命令：
`./opt --model_dir=./models/tinypose_256x192 --valid_targets=opencl,arm --optimize_out=./models/tinypose_256x192_opencl`

`./opt --model_dir=./models

[2022-04-28 05:02] lizhuangliu opened #8968 "paddle-lite 预测，相同的模型，相同的硬件环境，相同的代码，系统不一样，但是预测速度相差2倍"
- 版本、预测库信息：
    1）Paddle Lite 版本：v2.10
    2）Host 环境：银河麒麟
    3）运行设备环境：飞腾2000
    4）预测后端信息：cpu
- 预测信息
    1）预测 API：C++
    2）预测选项信息：arm64
    3）预测库来源：官网下载
- 问题描述：相同的模型，相同的硬件环境，相同的代码，系统不一样（一个银河麒麟桌面系统，一个是银河麒麟服务器版本系统），但是预测速度相差2倍，请问可能是什么原因造成呢？

[2022-04-28 09:03] wangle-wang opened #8970 "ST-GCN行为识别模型在端侧部署运行时，CreatePaddlePredictor内存占用过大"
- 版本、预测库信息：
    1）Paddle Lite 版本： Paddle Lite  v2.10
    2）Host 环境：Ubuntu 18.04
    3）运行设备环境：RV1109(armhf)/RK3568(arm64)
    4）预测后端信息：CPU
- 预测信息
    1）预测 API：C++
    2）预测选项信息：armv8、单线程
    3）预测库来源：官网下载

- 问题描述：尝试把行为识别模型ST-GCN部署到瑞芯微RV1109开发板，参考Paddle Lite 通用示例程序[ PaddleLite-generic-demo.tar.gz]中image_classification_demo在1109 cpu运行示例，将mobile_config.set_model_from_file设置为ST-GCN模型（ST-GCN 模型文件下载自https:

[2022-04-28 09:20] ANDROIDTODO opened #8971 "macos m1 使用编译的opencl的库 执行时报错"
Hi Team,
我的环境是macOS M1 12.3,
我编译的分支是develop的d1c0885e9节点.
OPT：2.11-rc, M1版本

编译命令：
./lite/tools/build_macos.sh --with_log=ON --with_extra=ON --with_opencl=ON arm64

OPT命令：
opt_m1 --model_dir=./ch_PP-OCRv2_rec_infer --valid_targets=opencl,arm --optimize_out=ch_PP-OCRv2_rec_infer_opencl

编译成功，执行时出现报错：
not implemented, set to default 4GB
[I  4/28 17: 8:27.899 ...idu/Paddle-Lite/lite/core/device_info.c

[2022-04-28 09:34] lxwlaq commented on #8966
请用release2.11rc试一下，之前发现opencl release2.10rc精度有问题

[2022-04-28 09:38] lxwlaq commented on #8968
同学我们这里没有飞腾2000的cpu， 您是否可以编译一下预测库，并加上性能profile选项，看看是哪个op的耗时变长了，或者是其他什么原因，可以使用benchmark工具，具体可参考https://paddle-lite.readthedocs.io/zh/latest/performance/benchmark_tools.html

[2022-04-28 09:43] lxwlaq commented on #8971
您好，这个问题我反馈给opencl同学看一下

[2022-04-28 10:18] lxwlaq commented on #8970
同学：
1.这个warning暂时不用管
2.你在demo中输入shape多大？

[2022-04-28 10:51] wangle-wang commented on #8970
感谢回复，模型INPUT_SHAPE = {88, 2, 50, 17,1}

[2022-04-28 14:55] Crazy-Ricky opened #8974 "使用树莓派4b运行Paddle-Lite-Demo时，run.sh提示段错误"
Hi team，
我的环境为树莓派4b（4g ram版）-Raspberry Pi OS（Raspbian）；
使用的Paddle-Lite版本为v2.10（opt为从Paddle-Lite中编译，版本应该相同）；
运行官方的[Paddle-Lite-Demo](https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/develop/image_classification/linux/app/cxx/image_classification)时，多次运行run.sh均提示run.sh 行23 段错误。

[code]

经过测试，猜测可能是[image_classification.cc的代码段](https://github.com/PaddlePaddle/Paddle-Lite-Demo/blob/develop/image_cl

[2022-04-28 14:58] Crazy-Ricky commented on #8974
补充一下信息，我使用的是[image_classification](https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/develop/image_classification/linux/app/cxx/image_classification)中的run.sh，模型使用的是从Paddle官方下载的模型mobilenet_v1_for_cpu

[2022-04-28 17:07] unseenme commented on #8966
@lxw950127  release2.11rc的结果也不对。
[code]
[code]

[2022-04-29 02:36] lxwlaq commented on #8966
好的 这个我反馈给oencl同事看一下

[2022-04-29 07:11] 2017040264 opened #8977 "RNN模型转换报错"
- 版本、环境信息：
    1）Paddle Lite 版本：2.9
    2）Host 环境：ai studio 终端
- 模型信息
    1）模型链接：https://aistudio.baidu.com/aistudio/projectdetail/2424665?contributionType=1&shared=1

![1651215897(1)](https://user-images.githubusercontent.com/57398559/165899528-15091a27-0cfc-48ab-b63e-6cba1de3fbf6.png)

[2022-04-30 09:48] wangzichaun opened #8982 "请问C++库中的run方法的实现原理"
可以问一下哪里有讲解C++库中Run方法是如何执行的文档吗?

[2022-04-30 09:51] wangzichaun opened #8983 "实现"
非常感谢您提交关于飞桨文档的 Issue，我们会认真听取您的意见，并进行改进。
Paddle Lite [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

建立 issue 时，为快速解决问题，请您根据情况给出如下信息：
- 标题：请包含关键词“XXX文档问题”，例如“OPT 使用文档问题”
- 文档版本信息：请提供有问题的文档的版本号，例如 develop，v2.8，v2.10RC；
- 有问题文档链接：请提供有问题的文档链接

### 文档问题描述

#### API文档描述是否清晰
如：文档描述看不懂，不知道这个API该怎么用；文档公式错误；

#### 参数说明是否清晰
如：参数未解释清楚，包括用法、使用场景、默认值等

#### OPT/裁剪库工具说明是否清晰
如：OPT 工

[2022-04-30 09:53] #8983 closed, assigned to xiaoxiaohehe001

[2022-04-30 12:39] tyz1994 opened #8984 "nb模型在arm cpu上输出异常"
- 版本、环境信息：
    1）Paddle Lite 版本：release/v2.11  a280a0add
    2）opt工具编译和使用环境： Mac OS 12.3（MBP 2018）
    3）nb模型运行环境：aarch64 ubuntu 20.04
- 模型信息
    1）PaddleCls训练的pplcnet x1.0
    2）用paddlecls导出的pdmodel/pdiparams及opt工具转换的nb文件：https://bhpan.buaa.edu.cn:443/link/15B449ECF3C44536860C6A82473D3DB8
Valid Until: 2022-11-30 23:59

- 复现信息：

在linux机器上，paddlecls训练了pplcnet x1.0图像分类模型。paddle.jit.save得到了pdmodel和参数

[2022-05-03 13:16] 1577251018 opened #8986 "编译错误：Linux x86 环境下编译适用于 ARM Linux 的库时报错"
Paddle Litev2.9，系统是Ubuntu 18.04，根据官方文档使用./lite/tools/build_linux.sh --arch=armv7hf --with_extra=ON --with_log=ON --with_intel_fpga=ON --intel_fpga_sdk_root=./intel_fpga_sdk full_publish进行编译，报错信息为
[  9%] Linking CXX static library libmath_host.a
[  9%] Built target math_host
make[1]: *** [CMakeFiles/Makefile2:2668：lite/CMakeFiles/publish_inference.dir/rule] 错误 2
make: *** [Makefile:196：publish_infe

[2022-05-05 05:30] yingshengBD commented on #8986
你好 类似这样的交叉编译等问题，建议使用paddle lite官方的docker，
请参考https://paddle-lite.readthedocs.io/zh/develop/source_compile/docker_env.html，非常简单，paddle lite官方docker镜像也很小

[2022-05-05 11:47] lxwlaq commented on #8974
![image](https://user-images.githubusercontent.com/43700894/166916838-adb4e339-949f-4104-96b7-569c6a78ef39.png)
同学你好，我本地复现比较麻烦，所以没有去尝试复现，看了下代码， 你可以把绿框的部分由vec.size()改成topk试一下吗

[2022-05-05 12:12] premeditate commented on #7545
使用netron工具查看你的模型的输入参数,比如我的是640*640,demo提供的的是320*320,这里我不知道怎么上传我的截图.
demo中将strings.xml中的参数改成你的模型输入参数
[code]
重新编译你的程序就可以了

[2022-05-05 12:26] lxwlaq commented on #8970
同学 你这个问题我在rk3399上也复现了 具体原因需要进一步定位

[2022-05-05 14:41] mifier commented on #8586
armlinux,使用opencl的demo一直卡在生成lite_opencl_tuned.bin，一直无法运行

[2022-05-06 01:12] wangle-wang commented on #8970
好的，感谢对此问题的关注，如定位到问题原因烦请告知，谢谢

[2022-05-06 09:32] premeditate opened #8991 "Check failed: op_->CheckShape():"
我下载的picodet_detection_demo在Androidstudio(2021.1.1)能够编译运行.Android设备中能够进行目标识别.

当我将model.nb换成自己的模型,并且将gradle文件中下载模型的代码注释掉
[code]
程序能够发布到设备中,但是运行时闪退,在logcar中产生如下日志:
[code]
我的工程结构如下图:

![2022-05-06_171521](https://user-images.githubusercontent.com/85290082/167106082-dea7e397-0fe0-4ae6-8518-4cc6482d343e.png)

使用netron工具查看模型的输入参数如下图:

![2022-05-06_171617](https://user-images.githubusercontent.com/852900

[2022-05-06 10:45] shentanyue commented on #8991
我看了下picodet_detection.cc这个文件，这个模型只有两个输入。
但你的模型有三个输入，需要对应改下设置输入的函数。
https://github.com/PaddlePaddle/Paddle-Lite-Demo/blob/fc171af697db05c9d68c71293344e3b614ecd4da/object_detection/android/shell/cxx/picodet_detection/picodet_detection.cc#L98

[2022-05-06 11:36] ANDROIDTODO opened #8993 "MacOS x64 编译OCR demo"
Hi,
我最近将paddle-lite ocr的demo 部署到各个平台，目前android，ios平台已根据示例代码全部跑通。
MacOS M1 平台也已经跑通，也把PaddleOCR提供的PP-OCR-V3的模型根据OPT转换成功，并成功在M1平台上运行。

但是当我把相同代码运行到MacOS x64时，出现了一些问题

第一：x64平台缺少头文件#include <arm_neon.h>
所以我使用了intel的ARM_NEON_2_x86_SSE来替代
`https://github.com/intel/ARM_NEON_2_x86_SSE.git`

解决了不能使用arm加速的问题。

但是识别模型出现了一些问题。不能识别长串的字符。
检测模型是非常好的运行的。
请问这个是什么情况导致的呢？

并有的时候在识别时会出现崩溃
日志已上传，带log和export GLOG_v=5的日

[2022-05-06 12:15] shentanyue commented on #8993
OCR识别模型可能是预处理不准确导致的，可以不使用arm_neon加速的，你试试直接去掉arm_neon这一段代码，直接用正常的C++代码预处理。

[2022-05-06 12:24] ANDROIDTODO commented on #8993
@shentanyue
你好，我去掉了arm_neon这段代码的方法使用官方给出的c++代码预处理
[code]
运行发现，检测模型一点作用都不起。

[2022-05-06 12:56] shentanyue commented on #8993
那短串的字符是能正确识别吗？

mobilenetv1_full是分类模型吧，是怎么做的检测呢？

[2022-05-06 13:05] ANDROIDTODO commented on #8993
@shentanyue
谢谢你的回复。晚上好

短字符是可以的

只是验证是否能跑的通。我发现除了识别模型，貌似都可以跑通，并打印

我使用opt v2.11-rc的也进行 转换成功后，还是一样识别结果也不行，很长的字符只会返回几个毫不相关的字符。

请问这个要怎么处理啊？

[2022-05-06 13:20] shentanyue commented on #8993
那可能是x86_64平台存在算子精度问题，我本地复现下看看。

[2022-05-07 02:14] ANDROIDTODO commented on #8993
@shentanyue
谢谢，如果有结果了，麻烦通知一下我。
再次感谢

[2022-05-07 08:10] sunlin-git opened #8995 "C++ paddlelite yolo_object_detection的坐标值输出异常大"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题:[历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

如果您没有查询到相似问题，为快速解决您的提问，建立 issue 时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的 API 文档在哪儿 ”
- 版本、预测库信息：
    1）Paddle Lite 版本：Paddle Lite2.10rc

[2022-05-08 07:37] jeekMic commented on #8482
check your input shape，I have solve the problem

[2022-05-08 16:28] WYH150123 commented on #7679
Dear, 百度
我也遇到类似问题，请问预计什么会解决，谢谢！

[2022-05-09 01:21] 2017040264 opened #8997 "predictor.run()报错"
建立 issue 时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：predictor.run()运行失败
- 版本、环境信息：
    1）Paddle Lite 版本：v2.11-rc
    2）Host 环境：Win10 ，手机是 红米note10pro
- 模型信息
    1）NLP——对联生成
    2）https://aistudio.baidu.com/aistudio/projectdetail/3963474?contributionType=1&shared=1
- 复现信息：! paddle_lite_opt --model_file=./trained_model/net.pdmodel --param_file=./trained_model/net.pdiparams --optimize_out=./trained_model/v1_opt

[2022-05-09 01:22] 2017040264 commented on #8997
搞不明白那里出错了，请大佬们指教！

[2022-05-09 01:47] 2017040264 commented on #8997
![Uploading 1652060801(1).png…]()

[2022-05-09 01:47] 2017040264 commented on #8997
![1652060801(1)](https://user-images.githubusercontent.com/57398559/167327074-0ce27bf3-9ea1-4121-8634-e14c0f6aaf84.png)

[2022-05-09 02:19] chenjiaoAngel commented on #8997
<img width="348" alt="image" src="https://user-images.githubusercontent.com/38650344/167329658-9db97fbc-ca10-4ded-bf7f-d73f2d986340.png">
这个错误看起来是某个文件没有找到运行出错

[2022-05-09 03:31] 2017040264 commented on #8997
那个[QT]错误好像不影响运行，主要是最下边那个

[2022-05-09 03:57] chenjiaoAngel commented on #8997
请问原始模型在哪呢？另外，这个模型的输入数据类型好像是int64 int32，需要设置正确的数据类型。boolean setData(float[] data); 这个接口用的是float 类型

[2022-05-09 03:58] chenjiaoAngel commented on #8997
Java API：https://paddle-lite.readthedocs.io/zh/develop/api_reference/java_api_doc.html#setdata
设置数据类型时：Tensor = predictor.getInput(0); data_ptr = tensor.mutable_data<int64_t>(); 或者data_ptr = tensor.mutable_data<int32_t>();

[2022-05-09 04:36] leiqing1 commented on #8851
可以参考这个解决问题哈
https://github.com/PaddlePaddle/Paddle-Lite-Demo/issues/258#issuecomment-1120631190

[2022-05-09 05:15] liutheuniverse commented on #8851
额，可是我的模型是直接由paddle训练产生的，没有yml文件

[2022-05-09 05:51] hanmengting commented on #8548
@chenjiaoAngel 大神我也是这种情况，我用pp-liteseg训练的模型精度很好，没有做量化裁剪，服务端预测也没问题，就是部署到安卓上之后识别不出来任何东西，paddlelite是2.10，然后demo用的人像分割。app可以生成但是实在是不知道问题出在哪了，麻烦帮忙看一下。
链接：https://pan.baidu.com/s/1-xW655omLrUm5YYPLQZFOQ @
提取码：tlsh

[2022-05-09 05:52] BegoniaSu commented on #8548
@chenjiaoAngel 大神我也是这种情况，我用pp-liteseg训练的模型精度很好，没有做量化裁剪，服务端预测也没问题，就是部署到安卓上之后识别不出来任何东西，paddlelite是2.10，然后demo用的人像分割。app可以生成但是实在是不知道问题出在哪了，麻烦帮忙看一下。
链接：https://pan.baidu.com/s/1-xW655omLrUm5YYPLQZFOQ
提取码：tlsh

[2022-05-09 06:11] #8977 closed, assigned to daming5432

[2022-05-09 07:09] 2017040264 commented on #8997
看明白我的数据类型存在问题了，但是data_ptr = tensor.mutable_data<int32_t>();这个操作不会弄，是在setData(float[])之后操作吗？有没有比较完整的demo可以参考呢？

[2022-05-09 08:40] sprouteer commented on #8966
这个看起来是误差，建议可以使用我们的profile工具，看一下每一层的均值，标准差

[2022-05-09 08:41] sprouteer commented on #8966
![Uploading image.png…]()

[2022-05-09 08:41] sprouteer commented on #8966
https://paddle-lite.readthedocs.io/zh/latest/demo_guides/opencl.html#id14

[2022-05-09 08:46] DannyIsFunny commented on #8995
请问您这里是使用armlinux的yolo模型demo 分别在x86机器和飞腾银河麒麟机器（ARM机器）上运行
两者的产出不一致吗？
issue里提到的10**9是指10^(-9)吗
armLinux和x86上使用的是同一个模型吗

[2022-05-09 09:04] chenjiaoAngel commented on #8997
你在tensor.java 文件中添加int64 setData 接口支持就行
`/**
     * Set the tensor int data.
     *
     * @param buf the int array buffer which will be copied into tensor.
     * @return true if set data successfully.
     */
    public boolean setData(long[] buf) {
        if (readOnly) {
            return false;
        }
        return nativeSetData(buf);
    }`

[2022-05-09 09:06] chenjiaoAngel commented on #8997
参考这个文件：https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/api/android/jni/src/com/baidu/paddle/lite/Tensor.java#L117
添加setData(long[] buf) 支持
public boolean setData(long[] buf) { if (readOnly) { return false; } return nativeSetData(buf); }
默认支持float/byte/int32_t 三种数据类型

[2022-05-09 09:24] chenjiaoAngel commented on #8997
Java API 接口没有开放此类型支持，已提PR 修复：https://github.com/PaddlePaddle/Paddle-Lite/pull/8999

[2022-05-09 09:34] 2017040264 commented on #8997
我在Ai studio平台上使用int32类型的数据也可以得到输出（输出是int64）的。我必须要把输入也改成int64或者把输出改成int32吗？

[2022-05-09 09:34] 2017040264 commented on #8997
这样我得重新编译那个paddle lite源码吧？

[2022-05-09 09:36] 2017040264 commented on #8997
![1652088968(1)](https://user-images.githubusercontent.com/57398559/167383153-f16606f1-7dc5-49bd-a3b4-797ca426bb1c.png)
![1652088968](https://user-images.githubusercontent.com/57398559/167383169-6c596eaf-7fb2-4b59-abdd-997772224271.png)

[2022-05-09 09:38] 2017040264 commented on #8997
输入信息：
![1652088968](https://user-images.githubusercontent.com/57398559/167383309-a3ceb936-61be-4931-93b1-94627eb74ed1.png)
输出：
![1652088968(1)](https://user-images.githubusercontent.com/57398559/167383322-8caa6fd5-5a28-42a5-a139-d5b91cb943b8.png)

[2022-05-09 09:44] chenjiaoAngel commented on #8997
这个根据模型进行选择，如果模型输入是int32, 输出是int64。那输入数据类型设置int32，输出设置int64 就行

[2022-05-09 10:16] 2017040264 commented on #8997
这是不是说，我的报错不是因为数据类型的问题，因为int32是已经支持的。

[2022-05-09 11:10] premeditate commented on #4502
@linglanfeng 你好,我也是遇到了这个问题
[code]

请问你是怎么解决的呀

[2022-05-10 02:08] DavidQiuChao opened #9002 "Arm Linux 编译问题"
您好，请问PaddleLite 如何使用 yocto 工具 编译出的开发环境 （opt/fsl-imx-wayland/4.14-sumo）进行编译呢？

[2022-05-10 02:22] chenjiaoAngel commented on #8997
嗯，这个paddle 模型地址，能提供下吗？我们本地也看看

[2022-05-10 02:37] 2017040264 commented on #8997
项目地址：[这里](https://aistudio.baidu.com/aistudio/projectdetail/3963474?contributionType=1&shared=1) 基本是按照你们官方项目写的 [『NLP经典项目集』05：新年到，飞桨带你对对联](https://aistudio.baidu.com/aistudio/projectdetail/1321118?shared=1)

建议fork一下我的项目，然后重新生成一下.nb文件。（精度不用管，能跑通就行）（目前我猜测可能是模型的输入有俩，如果只有一个可能就可以了；还有就是beam search束宽要设置为1）

[2022-05-10 03:04] chenjiaoAngel commented on #8997
不用整个复杂的项目，你提供训练后保存的paddle 原始模型就行。

[2022-05-10 03:26] 2017040264 commented on #8997
链接：https://pan.baidu.com/s/1V71UQdmi3umpl5I1-bT42A
提取码：cfl6

[2022-05-10 03:29] 2017040264 commented on #8997
x=paddle.to_tensor([[0  , 566, 566, 489, 42 , 165, 1  , 1  , 1  , 1  , 1  , 1  , 1  , 1  , 1  , 1  ,
 1  , 1  , 1  , 1  , 1  , 1  , 1  , 1  , 1  , 1  , 1  , 1  , 1  , 1  , 1  , 1  , 1  , 1  ]],dtype=paddle.int32)
y=paddle.to_tensor([7],dtype=paddle.int32)

[2022-05-10 05:46] chenjiaoAngel commented on #8997
模型转换失败了：
![image](https://user-images.githubusercontent.com/38650344/167556832-3c04a5fc-1085-40ae-8bc9-6dbb07d5c84b.png)
这个模型的输入应该是int64 吧，因为 lookup_table_v2 OP 的输入Ids 要求int64_t

[2022-05-10 05:52] chenjiaoAngel commented on #8997
提供的模型里添加caliber 转换了，但运行有问题，目前挂在RNN 实现，正在处理中。
<img width="455" alt="image" src="https://user-images.githubusercontent.com/38650344/167557207-5ef33b7a-304f-4589-bbcc-01c763033b2e.png">
建议将模型输入修改为int64，这样可以减少caliber 算子

[2022-05-10 06:55] chenjiaoAngel commented on #8997
<img width="844" alt="image" src="https://user-images.githubusercontent.com/38650344/167566464-224b67a1-fa7d-43c1-b51b-fa8f20881c89.png">
OPT 后的模型：
<img width="879" alt="image" src="https://user-images.githubusercontent.com/38650344/167566563-844e68d8-c913-4a8b-9bfb-1e6addd2cfc8.png">
RNN的SequenceLength 输入数据类型应该是int32_t

[2022-05-10 07:26] 2017040264 commented on #8997
这个转换是.model转成.nb吗？我没遇到这个问题

[2022-05-10 07:28] 2017040264 commented on #8997
在ai studio里面，输入int32也是可以得到结果的。

[2022-05-10 07:31] 2017040264 commented on #8997
转之前是int32，转之后变成float,是转错了还是？...

[2022-05-10 08:55] LMR2018 opened #9003 "安卓部署量化训练模型精度跟python推断用的output模型差异巨大"
量化训练完成后，我用python命令推断图片是正常的
量化训练命令：
python -m paddle.distributed.launch --log_dir=log_test --gpus 0,1 tools/train.py -c configs/picodet/picodet_xs_320_coco_lcnet.yml --slim_config configs/slim/quant/picodet_xs_320_lcnet_quant.yml --eval
![Snipaste_2022-05-10_15-31-14](https://user-images.githubusercontent.com/37955893/167590443-78600ccc-905a-4133-b2d5-45dfb015b2e0.png)

量化推断图片命令：
python tools/infer

[2022-05-10 09:06] chenjiaoAngel commented on #8997
问题已修复，rnn OP 中部分中间态没有初始化引起，已提PR 修复：https://github.com/PaddlePaddle/Paddle-Lite/pull/9005

[2022-05-10 09:07] chenjiaoAngel commented on #8997
那个是转换错误，kernel pick 时，没有设定input tensor 数据类型，使用了默认的float ，导致多插入了caliber 算子

[2022-05-10 09:11] 2017040264 commented on #8997
好的，谢谢，强！

另外问一下，我是不是得等paddlelite版本更新后，才能用上新的（修复问题）的opt工具啊

[2022-05-10 13:35] Lumos-chen opened #9006 "在树莓派4B中运行目标检测，预测成功但没有出现框"
- 版本、预测库信息：
    1）Paddle Lite 版本：v2.10
    2）设备：树莓派4B
- 预测信息
    1）预测 API：C++
    2）预测选项信息：图片
    3）预测库来源：源码编译（用ssd_mobilenet_v1_300_120e_voc模型和roadsign数据集，无其他处理）
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段
- 能够预测成功，但是没有框选！
![屏幕截图 2022-05-10 213140](https://user-images.githubusercontent.com/95122904/167640736-8d7c85e4-823b-44ab-a6b3-94dc27286a34.png)
object_detection_demo.cc文件中做了以下修改
![QQ图片20220510213352]

[2022-05-10 13:36] Lumos-chen commented on #9006
谢谢！

[2022-05-10 15:56] Crazy-Ricky commented on #8974
后面我使用master分支已经成功运行，现在机子不在我手上，等我拿回来我就去测试下，谢谢！

[2022-05-11 01:13] premeditate opened #9007 "The model format cannot be recognized"
运行picodet_detection_demo,程序能够正常在Android设备中运行并对目标识别.

我将/src/main/assets/models/picodet_s_320_coco_for_cpu/model.nb文件替换成自己的模型,对应的coco_label_list.txt分类文件也替换了.并且编译后的/app/PaddleLite下的预编译库也进行了替换,替换的版本是与生成模型的opt版本一致的v2.10rc.

程序发布到Android设备中运行闪退,在logcat中出现如下日志:
[code]

请问有同学能帮忙指正一下吗?

[2022-05-11 02:19] chenjiaoAngel commented on #8997
嗯嗯，是的

[2022-05-11 06:45] shentanyue commented on #8993
hello，初步确定是x86_64平台的算子精度问题，但是因为近期不再维护x86_64平台的算子了，所以这个问题暂时我们不会投入人力去解决，不过后续我们会通过接入英特尔openvino框架做x86_64平台上的算子支持，从而彻底解决算子上的diff。

[2022-05-11 07:20] ANDROIDTODO commented on #8993
hello, 谢谢你的回答，请问接入intel openvino框架能在什么时候有初版呀，我们这边也挺着急上线的。

[2022-05-11 09:11] yuyangup commented on #9007
我的预测库的链接为：https://github.com/PaddlePaddle/Paddle-Lite/releases/download/v2.10/inference_lite_lib.android.armv8.gcc.c++_static.with_extra.with_cv.tar.gz
我的模型
[picodet-opt.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8668420/picodet-opt.zip)
我使用的官方demo为
https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/develop/object_detection/android/app/cxx/picodet_detection_demo
并根据模型的输入，修改了pipeline

[2022-05-12 03:08] PaulX1029 opened #9010 "使用opt工具将推理模型优化为Paddle-Lite模型时指定--valid_targets=rockchip_npu无法转换"
   1）Paddle Lite 版本：v2.10
    2）Host 环境：Ubuntu 18.04  Android11
- 模型信息
    1）模型名称 ch_PP-OCRv2_det_slim_quant_infer
    2）模型链接 https://paddleocr.bj.bcebos.com/dygraph_v2.0/slim/ch_ppocr_mobile_v2.0_det_slim_infer.tar
- 复现信息：./opt --model_file=./ch_PP-OCRv2_det_slim_quant_infer/inference.pdmodel  --param_file=./ch_PP-OCRv2_det_slim_quant_infer/inference.pdiparams  --optimize_out=./ch_PP-OCRv2_det_sl

[2022-05-12 07:12] hong19860320 commented on #9010
--valid_targets=rockchip_npu,arm

[2022-05-12 07:15] hong19860320 commented on #9010
建议直接使用 [paddlelite-generic-demo](https://paddlelite-demo.bj.bcebos.com/devices/generic/PaddleLite-generic-demo.tar.gz) ，可以直接读取 paddle 全量化模型，具体参考这篇文档哈~ https://www.paddlepaddle.org.cn/lite/develop/demo_guides/rockchip_npu.html

[2022-05-12 07:51] hong19860320 commented on #9006
看起来挺奇怪的，感觉像是opencv 绘制矩形框的问题，你看下保存的输出文件里有没有画框。

[2022-05-12 08:38] PaulX1029 commented on #9010
--valid_targets=rockchip_npu,arm使用这个参数可以转换成功，但是在机器上运行不了
![image](https://user-images.githubusercontent.com/77143808/168028879-6defd3c7-b2a4-4c42-9525-906390ead2ff.png)
是否是因为rk3568此设备暂未支持此Paddle-Lite模型？

[2022-05-12 08:50] PaulX1029 commented on #9010
另：我下载了[paddlelite-generic-demo](https://paddlelite-demo.bj.bcebos.com/devices/generic/PaddleLite-generic-demo.tar.gz)，暂未找到能在Rk3568上支持的有关OCR检测的模型

[2022-05-12 14:22] Lumos-chen commented on #9006
你好！刚刚看了下，输出文件虽然设置的result.jpg但是我打开文件夹后没有看到相关文件。然后我看了下我的输出结果：除了0.999763看上去似乎是正确率后，剩下的数据似乎有点奇怪！

[2022-05-12 19:30] Li-4 commented on #8861
@hoozh 不好意思，隔了这么久还打扰你。请问你用的是哪个平台？具体是怎么解决这个问题的？

[2022-05-13 01:39] hong19860320 commented on #9010
是的，目前仅支持 rk1808/1806 rv 1109/1126， RK 第二代的 rk3568、3566、3588 Paddle Lite暂时不支持的，可以走paddle2onnx 和瑞芯微离线工具方案。

[2022-05-13 01:45] hong19860320 commented on #9010
嗯，目前没有增加 ocr 的 demo，后续在端侧 SoC NPU 支持ppocr模型且精度达标后，会增加ocr的demo的。

[2022-05-13 01:48] hong19860320 commented on #9006
![image](https://user-images.githubusercontent.com/9973393/168195102-fb66dd67-1a27-4c05-a2e8-eff823a21c1e.png)
坐标看上去挺正常的

[2022-05-13 01:59] sunlin-git commented on #8995
你好，是同一个模型，在x86下使用的python，arm下使用的是c++，两者输出结果不一致。10**9是指10^(9)，而非10^(-9)。

[2022-05-13 03:30] PaulX1029 commented on #9010
可否有类似的案例进行参考呢？谢谢您！

[2022-05-13 03:30] PaulX1029 commented on #9010
可否有类似的案例进行参考呢？谢谢您！

[2022-05-13 11:31] Li-4 commented on #8861
感谢诸位，我使用 Paddle-Lite 的 develop 分支，重新编译了预测库，已经成功运行了。

[2022-05-13 11:31] #8861 closed, assigned to hong19860320

[2022-05-13 12:52] always-wo opened #9014 "剪枝量化后模型部署"
我使用paddleDetection进行模型的训练，并通过使用paddleDetection下的配置文件进行剪枝量化联合压缩策略（是自己写的），然后使用paddleDetection下的eval.py评估模型，得到的map为70%左右。使用infer.py进行导出预测模型。
然后使用paddlelite转换成nb文件
然后部署到intel_fpga上
最终得到的推理时间是1s左右，nb文件4MB
但我同样用上述的方式，将压缩策略换成剪枝策略（也是自己写的），然后推理时间是500ms左右，大小为13MB左右
请问可能是什么原因导致的呢？

[2022-05-13 12:54] always-wo commented on #9014
第一种我看网络结构好像进行了子图融合、第二种好像没有进行

[2022-05-13 13:03] hong19860320 commented on #9010
@jiangjiajun 辛苦 jiajun 看看~

[2022-05-13 13:48] jiangjiajun commented on #9010
Hi, @PaulX1029

这里是一个RK部署分类模型的示例，也许你可以参考一下 https://github.com/PaddlePaddle/Paddle2ONNX/tree/model_zoo/hardwares/rk

[2022-05-13 14:28] ZRS0326 opened #9015 "如何量化整个模型，而不是特定的算子"
首先我们采用PaddleDetection训练，paddlelite部署。在训练时有qat训练，但只针对conv2D、Linear层的8比特量化；在paddlelite的opt工具中也可以进行静态离线量化，但也只针对特定的OP。
如果我想要对模型中任意算子进行量化或者整个模型量化（8bit），应该怎么做？能否提供一个方向？

[2022-05-13 14:40] always-wo commented on #9014
是不是有可能是因为子图融合的原因呢，是要进行子图接入操作吗

[2022-05-14 07:04] ZRS0326 commented on #9010
我想请问您，您所说的全量化模型是如何得到的呢，我使用paddledetection训练的。想训练全量化模型应该怎么做？能否给我指点一下，万分感谢。

[2022-05-14 13:58] always-wo commented on #9014
第一种的精度好像也降低了，第二种能测出来的图片，第一种测不出来（两者在AIstudio中精度基本相同）

[2022-05-15 02:37] Liuxinhao7814 opened #9016 "树莓派 4B 编译出的paddlelite版本号显示异常"
编译后显示成功但是版本号好奇怪
我编译的是 2.10版本
但是它显示
Successfully installed paddlelite-07a33043e
python版本是3.9.2，是否对功能有影响，还是这就是正常的情况

[2022-05-15 03:09] Liuxinhao7814 commented on #9016
Error: This model is not supported, because 3 ops are not supported on 'arm'. These unsupported ops are: 'hard_sigmoid, hard_swish, matmul_v2'
还有这个报错该怎么解决，我是用的paddlex生成的模型

[2022-05-15 03:29] #9016 closed, assigned to daming5432

[2022-05-15 16:45] always-wo commented on #9014
问题好像找到了，应该是量化的问题，请问量化的训练和导出和部署相较于普通模型有什么要注意点呢

[2022-05-16 07:03] Sunwen1051 commented on #3930
解决了吗。。。。

[2022-05-16 14:32] thunder95 opened #9021 "PaddleLite支持sigmastar ipu芯片架构上部署吗？"
如果能支持，有没有参考的文档和例子？

[2022-05-16 15:32] hong19860320 commented on #9021
目前尚未支持，可以一起推动星宸 IPU 接入到 Paddle Lite ，接入硬件的方法可以查看这个文档 https://www.paddlepaddle.org.cn/lite/develop/develop_guides/nnadapter.html

[2022-05-16 15:36] hong19860320 commented on #9010
我们提供了一个基于paddleslim 和离线后量化方生成分类模型的例子  https://paddlelite-demo.bj.bcebos.com/tools/PaddleSlim-quant-demo.tar.gz
![image](https://user-images.githubusercontent.com/9973393/168630366-a0cfef16-d1a8-4712-8e19-9b8af3e21054.png)

目前 PaddleSlim 没有直接提供 PaddleDetection 模型库的全量化方法。

[2022-05-17 01:19] mike-2020 opened #9024 "有Paddle-Lite可以用的人脸识别和语音识别的模型吗？"
请问有Paddle-lite可以使用的人脸识别（不只是人脸检测），语音识别ASR，TTS的模型吗？文档中没有看到啊。

[2022-05-17 03:40] zhoutianzi666 commented on #9015
那必须实现模型中每个算子的量化实现。
目前只支持：conv/matmul/mul/fc. 这几个OP。其他的还未支持，需要模型同学辅助进行支持
然后才可以实现对模型的全量化。
现阶段由于模型的主要时间耗费在卷积，全联接上面，因此暂时lite只提供了卷积和全联接层的量化实现。

[2022-05-17 03:43] ZRS0326 commented on #9015
好的，谢谢您！

[2022-05-17 04:09] chenjiaoAngel commented on #9014
1）这个需要看当前硬件是否支持这些量化算子，如果不支持，可能会跑不了或异构到其他端实现；
2）了解硬件支持的算子情况，尽量保证模型能全图在当前硬件运行

[2022-05-17 06:33] StrongLixiang opened #9029 "瑞芯微 RK3288 平板上支持运行androiddemo吗"
公司用设备RK3288  32位    报undefined reference to 'paddle::lite_api::Tensor::shape() const'  这个错误     int64_t PredictorOutput::get_size() const {
  if (_net_flag == NET_OCR) {
    return _tensor->shape().at(2) * _tensor->shape().at(3);
  } else {
    return product(_tensor->shape());
  }
}
不知道是不是不支持？

[2022-05-17 09:04] lijiannan1241 opened #9030 "颖脉 NNA 部署示例和问题"
团队的大佬们好！请教一下几个小问题。
问题1：颖脉 NNA 部署示例只提供了INT8类型的案例【mobilenet_v1_int8_224_per_layer】，我想使用FLOAT32类型的模型一直无法正常运行，请问还有更多的案例会提供吗？比如：yolov3 、 ssd目标检测的案例

问题2：在使用FLOAT32模型时，个人修改内容，模型推理时报以下错误，然后一直进入循环中，不停运行编译、执行的过程，这个怎么处理。告警内容：【engine.cc:328 Run] Warning: No suitable program found for current input shapes, try generating a new program online.

问题3：怀疑代码中有错误，代码路径：./lite/backends/nnadapter/nnadapter/src/driver/i

[2022-05-17 14:20] 2301690693 opened #9034 "edgeboard 多进程预测出先模型预测无输出，且影响了之后的线程代码运行"
使用python在edgeboard上进行模型预测
在运行多线程加载多个模型进行预测是一直都正常的
但是将多线程改为多进程
在不同的子进程里加载模型进行预测便会出现模型的输出为空，且之后终止代码，重新改为多进程进行预测，输出也变为空了

[2022-05-17 15:03] hong19860320 commented on #9030
1. SoC NPU 一般只支持全量化模型，所以只提供了mobilenetv1_int8的模型支持，而更多模型和算子的支持，需要业务推动 Imagination 和 Paddle共同投入人力进行支持，你如果有需要，可以直接微信联系我们 PM哈~
2. 这个只是警告，可以忽略，目前不支持fp32的模型；
3. memcpy 方向确实错了，感谢~ 由于只支持int8模型，因此不会走到该错误代码，目前已提 PR #9035 修复。

[2022-05-18 03:12] feifaxiaoming opened #9036 "This model is not supported, because 1 ops are not supported on 'arm'. These unsupported ops are: 'moving_average_abs_max_scale"
我使用的paddlepaddle -gpu ==2.2.0
paddlelite = 2.10rc
模型是使用的paddlecls中的识别模型
在使用https://github.com/PaddlePaddle/PaddleClas/blob/deploy_v2/docs/zh_CN/advanced_tutorials/gallery2fc.md
这个是在paddlecls developv2中转换的。因为2.3relase中报错。
这个将识别模型转换之后，使用paddlelite转成nb模型的时候报错。
使用的命令：
paddle_lite_opt --model_file=./interface/rec.pdmodel --param_file=./interface/rec.pdiparams --optimize_out_type=naive_buffer --optimize

[2022-05-18 04:08] hong19860320 commented on #9036
从出错的信息来看，你的原始模型就是量化模型吧？可以直接用下面命令转模型就行了：

paddle_lite_opt --model_file=./interface/rec.pdmodel --param_file=./interface/rec.pdiparams --optimize_out_type=naive_buffer --optimize_out=./interface/rec_nb --valid_targets=arm

[2022-05-18 04:20] feifaxiaoming commented on #9036
不行啊 ，那里面需要有一步是把图片转换到模型中，所以的需要用预训练模型转换一下。转换完了之后，在转nb模型的时候，就出错了。

[2022-05-18 04:21] feifaxiaoming commented on #9036
不行啊 ，那里面已经写了，需要进行转换，需要将图片信息转换成label，加入到模型中。

[2022-05-18 04:24] hong19860320 commented on #9036
![image](https://user-images.githubusercontent.com/9973393/168956779-72de2314-37aa-4e21-aab7-e339b5b2bf13.png)
你可以把文档这一步生成的模型上传上来，我看看

[2022-05-18 04:43] feifaxiaoming commented on #9036
这上面我的模型穿不上上来，我点击下方添加附件。

[rec.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8713293/rec.zip)
那个最大的文件rec.pdiparams 传不上来，太大了

[2022-05-18 04:44] feifaxiaoming commented on #9036
[rec.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8713300/rec.zip)
那个最大的文件rec.pdiparams 传不上来，太大了

[2022-05-18 04:51] feifaxiaoming commented on #9036
https://pan.baidu.com/s/19ra8lMFJFq4Gd5Za9MPVdw
密码：tqjy

我将文件放在这个网盘中了

[2022-05-18 05:30] StrongLixiang commented on #9029
i  need you answer ,please   come on

[2022-05-18 10:08] hong19860320 commented on #9036
基于修改后的 rec.model 和 PR #9039 可以将原来的模型跑起来了，总结起来有三个问题：

1. 你导出的模型中 flatten_contiguous_range 缺少 XShape 输出，你可以尝试用最新的 Paddle 重新导出模型试试，当然可以利用我们的这个脚本  [modify_model.py.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8715262/modify_model.py.zip)  手动修改下 rec.model，在 flatten_contiguous_range 的输出手动插入一个XShape的输出。
<img width="936" alt="image" src="https://user-images.githubusercontent.com/9973393/16901413

[2022-05-18 10:12] hong19860320 commented on #9036
修改后的 rec.pdmodel [rec.pdmodel.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8715327/rec.pdmodel.zip)

[2022-05-18 11:34] wanghaoshuang commented on #9036
@yghstill 辛苦看下‘moving_average_abs_max_scale’没有被删除的问题？是不是在哪个版本修复过？

[2022-05-18 15:03] wangzichaun opened #9042 "VLOG"
如何使用paddlelite的vlog功能啊,有没有相应的文档可以学习一下?

[2022-05-18 15:24] hong19860320 commented on #9042
执行的时候直接加一个环境变量即可 GLOG_v=5

[2022-05-18 16:39] shayne2018 commented on #8923
好像是版本的问题，我也遇到了这个问题，我原来是git clone的时候没有指定版本号，出现这个问题后，将PaddleDetection指定为v2.1.0时，export模型（使用 python tools/export_model.py命令），再使用paddlelite opt转换就没有出现报错 Unable to convert var desc type(6) to precision type!的问题了。

[2022-05-19 02:49] feifaxiaoming commented on #9036
这个1和2需要同时修改，才能转换吗，修改之后，转换的模型，能正常使用吗？

[2022-05-19 02:59] feifaxiaoming commented on #9036
使用您提供的这个rec.pdmodel之后报错
paddle_lite_opt --model_file=./interface/recdrink/rec.pdmodel --param_file=./interface/recdrink/rec.pdiparams --optimize_out_type=naive_buffer --optimize_out=./interface/rec_nb --valid_targets=arm
Loading topology data from ./interface/recdrink/rec.pdmodel
Loading params data from ./interface/recdrink/rec.pdiparams
[F  5/19 10:53: 1.401 ...e-Lite/lite/model_parser/model_par

[2022-05-19 08:33] hong19860320 commented on #9036
缺少了rec.pdiparams ，直接用你之前的就可以，只是修改rec.pdmodel

[2022-05-19 08:37] DavidQiuChao opened #9043 "x86 平台 picoDet 不支持导出"
Error: This model is not supported, because 1 ops are not supported on 'x86'. These unsupported ops are: 'matmul_v2'.

[2022-05-19 11:59] zhupengyang commented on #9043
你好，你目前是希望在什么平台上进行模型推理呢？目前x86平台不支持matmul_v2，如果是希望在x86或者nvidia gpu上推理，推荐使用[paddle inference](https://www.paddlepaddle.org.cn/inference/product_introduction/inference_intro.html)

[2022-05-20 02:19] hong19860320 commented on #9036
是的，1和2需要同时修改的，基于最新的 develop 分支编译出的库才能正常跑通

[2022-05-20 03:01] #8602 closed, assigned to daming5432

[2022-05-21 09:08] Sunwen1051 opened #9049 "EdgeBoard预测与实际误差太大"
问题：使用save_inference_model保存的模型，分类任务，使用数据集中的图片进行验证，两个类别，预测结果总是其中一类，在电脑上使用load_inference_model验证时没有问题。
   1）Paddle Lite 版本：v2.9
    2）Host 环境：Ubuntu 18.04
    3）运行设备环境：EdgeBoard
    4）预测后端信息：FPGA
- 预测信息
    1）预测 API：Python API
    2）预测选项信息：
    3）预测库来源：官网下载

[2022-05-22 05:20] LeoMax-Xiong opened #9051 "使用PaddleLite预测结果为空，output_tensor的shape是准确的。"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题:[历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

如果您没有查询到相似问题，为快速解决您的提问，建立 issue 时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的 API 文档在哪儿 ”
- 版本、预测库信息：
    1）Paddle Lite 版本：请提供您的 Paddle Lite 版

[2022-05-22 23:27] congwang1985 opened #9053 "OpenCL 预测文档中 Powermode问题"
在OpenCL 手机端预测的文档中，有一个参数是Powermode, 但是Mali GPU应该不存在大小核微架构吧，比如MaliG72-MP12的话就是12个cluster，我的理解是他们都是一样的。不知道这个Powermode是干什么的？是锁定频率还是锁定core？

但是在华为Kirin970上做了下测试，在使用OpenCL的情况下，Powermode=1还真比Powermode=0的要慢一些，不知道是什么原因？

以下是文档中的使用：

adb shell "export LD_LIBRARY_PATH=/data/local/tmp/opencl/; \
           export GLOG_v=4; \
           /data/local/tmp/opencl/mobilenetv1_light_api \
           /data/local/tmp/

[2022-05-23 01:42] raziurtotha opened #9054 "Paddle-lite inference key errors"
I am trying to find out the source of the following error.

- Version, prediction library information:
  1) Paddle Lite version:  v2.10
  2) Host environment: Debian buster
  3) Operating device environment: MIni computer running a Rockchip 3308 CPU
  4) Prediction backend information: CPU
- Forecast information
  1) Prediction API: Python API
  2) Prediction option information: armv8, single thre

[2022-05-23 03:03] csy0225 commented on #9049
你好，根据您的描述，您是怎么使用PaddleLite库的呢？ 可以提供一下示例代码和模型信息么？load_inference_model是使用paddle进行预测，需要确认一下您使用paddlelite的方法是否正确。

[2022-05-23 03:28] shentanyue commented on #9051
可以提供下剥离业务环境的可复现预测 demo，用于问题复现。

[2022-05-23 03:28] shentanyue commented on #9051
可以提供下剥离业务环境的可复现预测 demo，用于问题复现。

[2022-05-23 07:04] Sunwen1051 commented on #9049
用的是MobileNetV1模型，我使用Paddlelite是用的官网提供的那个PaddleLiteDemo，替换里面的模型文件，修改config文件，运行里面的classification.py

[2022-05-23 07:07] csy0225 commented on #9049
那您这边有试过在arm cpu上，用同样的程序是否结果正确？你这边能把创建predictor的程序截图看一下嘛？

[2022-05-23 07:20] Sunwen1051 commented on #9049
![image](https://user-images.githubusercontent.com/95128969/169764838-cb6a33c7-1ef1-4c06-8813-c3d7b960dff5.png)
这个是EdgeBoard 1.8.1软核中的predictor

[2022-05-23 07:26] Sunwen1051 commented on #9049
我在arm cpu上运行这个和在FPGA上预测结果也不一样，但是预测出来的结果也是不对的

[2022-05-23 07:30] csy0225 commented on #9049
那感觉不太应该，因为至少arm cpu的结果是正确的，你的demo里面没有做前后处理的操作？给到predictor的输入是图片还是经过前处理后的raw数据呢？

[2022-05-23 07:34] Sunwen1051 commented on #9049
demo里python中有preprocess.py的这个文件给了预处理操作，我训练时是按照cpu_preprocess的处理方法进行训练的
![image](https://user-images.githubusercontent.com/95128969/169767287-73e2a366-a2dd-4ee7-896a-fa53ccf8fc62.png)

[2022-05-23 07:44] csy0225 commented on #9049
那你这边的模型是自己训练的模型是么？直接运行官方demo里面的模型会有问题么？我们先要确定一下是demo本身的问题，还是预测库的问题

[2022-05-23 07:59] Sunwen1051 commented on #9049
是我自己训练的，官方的运行起来是没问题的

[2022-05-23 08:07] DannyIsFunny commented on #9054
Can you add some information about the model in your test demo?

[2022-05-23 08:07] DannyIsFunny commented on #9054
Can you add some information about the model in your test demo?

[2022-05-23 08:11] csy0225 commented on #9049
那应该不是推理库的问题，更像是模型算法或者预测流程的问题。可以看下paddle推理和paddle-lite推理结果是否一致，检查一下使用paddlelite的推理配置和paddle的推理配置是否相同。

[2022-05-23 08:37] shliar opened #9058 "在树莓派4b上编译出错"
- 版本、环境信息：
    1）Paddle Lite 版本：请提供您的 Paddle Lite 版本 v2.10
    2）Host 环境：树莓派4B，linux_arm
    4）预测后端信息：CPU
- 编译/安装方式信息：
- 在开发板上编译
- 复现信息：删除third-party文件夹后，配置build_linux.sh,ARCH=armv7hf,WITH_EXTRA=ON,WITH_PYTHON=ON,WITH_CV=ON
- 问题描述：
-     编译过程中报错：
[ 20%] Built target ops
make[1]: *** [CMakeFiles/Makefile2:411：lite/CMakeFiles/publish_inference.dir/rule] 错误 2
make: *** [Makefile:222：publish_inference

[2022-05-23 09:19] leiqing1 commented on #9021
你好，我是Paddle Lite 产品经理 ，为了更好的满足开发者对sigmastar的需求，你方便微信交流下吗？ 18813190139

[2022-05-23 09:31] raziurtotha commented on #9054
I am using the .nb model that is generated from the mobilenet's link provided in the official demo:

[code]

the light and full mobilenet demo deplyment code that is provided in the lite-demo works fine. I need to do some single image and realtime detection. So I was trying to run the code I provided.

[2022-05-23 09:36] thunder95 commented on #9021
谢谢支持， @leiqing1 @hong19860320 由于项目原因，暂时先不考虑这个芯片了，如果后面有需要会重新提交issue

[2022-05-23 09:36] #9021 closed, assigned to xiaoxiaohehe001

[2022-05-23 10:28] shliar commented on #9058
补充：
    我又尝试在树莓派4b上编译了2.11版本的paddle Lite，也同样报错了，报错信息如下：
Scanning dependencies of target publish_inference_python_installer
sh: 1: patchelf: not found
Traceback (most recent call last):
  File "setup.py", line 85, in <module>
    raise Exception("patch third_party libs failed, command: %s" % COMMAND)
Exception: patch third_party libs failed, command: patchelf --set-rpath '$ORIGIN/libs/' /home/pi/De

[2022-05-24 15:21] 2050airobert opened #9063 "tinypose int8 量化模型 arm和npu上差异太大！！"
- 版本、环境信息：
Paddle Lite develop主干最新前天 slim2.2.2 paddlepaddle-gpu2.3
linux arm64 ubuntu20.04
- 模型信息
    1）tinypose 128x96
    2） https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/configs/keypoint/tiny_pose
-  模型文件如下
[tinypose_0524.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8764067/tinypose_0524.zip)

- 用这个量化后的模型，分别在vim3 arm和npu上运行tinypose int8模型，结果不同，具体如下
 结论就是 arm和npu上关键点

[2022-05-24 15:21] 2050airobert commented on #9063
[tinypose_0524.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8764059/tinypose_0524.zip)
模型补充在这里 请使用

[2022-05-24 15:23] 2050airobert commented on #9063
啊

[2022-05-25 06:54] #6953 closed, assigned to nobody

[2022-05-25 07:08] Jiashuhao518 commented on #8862
我也遇到了这样的问题 请问你解决了吗

[2022-05-25 07:32] wwjjy opened #9064 "关于correlation算子的一些问题"
paddle lite 文档里写 correlation算子仅支持昆仑XPU，求问一下它底层实现是基于什么，是不是不支持GPU加速，如果GPU加速不可以，那么CPU上可以跑不

[2022-05-25 07:50] chenjiaoAngel commented on #9064
correlation 在XPU 和 Host 端均有实现，Host 端是纯C++ 实现，可以跑到任何CPU 上

[2022-05-25 07:58] #9064 closed, assigned to chenjiaoAngel

[2022-05-25 13:27] Rosa-Mao commented on #8862
改用赛方提供的paddlelite可以解决此问题

| |
***@***.***
|
|
***@***.***
|

---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 日期 | 2022年05月25日 15:08 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.******@***.***> |
| 主题 | Re: [PaddlePaddle/Paddle-Lite] 在fpga端部署时报错kernel for 'conv2d' is not supported by Paddle-lite (Issue #8862) |

使用的是ssd_mobilenet_v1_300_120e_voc.yml经过QAT量化后转换的.nb模型，opt转换target为intel_fpga,arm（必须使用intel_fpga，所

[2022-05-25 15:55] hong19860320 commented on #9063
主要是由于量化模型本身精度较低导致的，@yingshengBD 关注下量化训练是否能解决该问题

[2022-05-25 23:57] jeekMic opened #9067 "接口问题"
public boolean process(int inTextureId, int outTextureId, int textureWidth, int textureHeight, String savedImagePath) {
        if (ctx == 0) {
            return false;
        }
        return nativeProcess(ctx, inTextureId, outTextureId, textureWidth, textureHeight, savedImagePath);
    }
我看Android demo里面接口是这个样子，对纹理进行处理，有其他接口吗，我项目相机不是这中国打开方式，还有uvc相机，，没有这种纹理接口回调，不知道咋办

[2022-05-26 00:51] SongMingzhe commented on #9058
2.11版本编译失败看上去是缺少patchelf， 可以参考这个文档先装下依赖：

https://paddle-lite.readthedocs.io/zh/develop/source_compile/arm_linux_compile_arm_linux.html

[2022-05-26 01:43] 2050airobert commented on #9063
hi，hong
       量化模型精度低，只会影响arm fp32模型和对应的arm int8模型的输出结果差异。而你可以仔细看，这里发现的arm int8 模型执行后结果跟npu int8模型的输出有差异，这个问题完全是 lite部分可能导致的问题，麻烦您再次核实下，然后给出原因，多谢！
BR

[2022-05-26 03:32] hong19860320 commented on #9063
我想先和你确认下，你贴的上下两张图的结果分别是什么模型跑在什么平台上的？
你这个量化模型我猜是@yingshengBD给你的，对吧？这个全量化模型我们内部测试过，在 arm 和 npu上跑的都是第1个结果，第2个结果是fp32模型的。 如果你确定能基于这个全量化模型在arm 上跑出第2个图的结果，我们可以安排@yingshengBD再验证下。

[2022-05-26 05:25] hong19860320 commented on #9067
这个不是通过纹理打开相机，而是在android java 层打开相机，将相机的 preview 渲染在 surfaceview 上，而 surfaceview 的渲染是基于 OpenGL 的，也就是相机的 preview 会被先绘制在 OpenGL texture 上，然后调用 native c++ 将 texture 转为 OpenCV image 基于 Paddle Lite 进行目标检测，然后将检测框绘制在新的 texture 中，最后返回给 android java 层后，将新的texture 绘制在 surfaceview，因此，基于这个 demo 可以用来做很多有意思的应用，例如 AR 变脸、美妆。

当然，如果觉得该 demo 的 android app 层的逻辑比较复杂，对 OpenGL 不熟悉的话，可以基于这个demo 改 https://github.com/Paddl

[2022-05-26 05:32] shliar commented on #9058
确实是因为没有安装patchelf的依赖，已成功编译出来了，谢谢！

[2022-05-26 05:32] #9058 closed, assigned to DannyIsFunny

[2022-05-26 06:44] raziurtotha commented on #9054
Hello, any idea on this?

[2022-05-26 07:02] hong19860320 commented on #9067
如果你的设备是armlinux，我们也提供了相关demo https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-armlinux-demo/object_detection_demo

[2022-05-26 07:07] jeekMic commented on #9067
是安卓的，我设备是RX3399的开发板，Android的系统，设备上接了三个相机，都是通过uvc的方式打开，无法通过纹理去绘制，想着看有没有好办法直接处理相机帧数据，像普通的相机这样处理相机帧：                                                                                                         CameraPreviewManager.getInstance().startPreview(mContext, mAutoCameraPreviewView,
                PREFER_WIDTH, PERFER_HEIGH, new CameraDataCallback() {
                    @Override

[2022-05-26 07:16] leslie18890 opened #9070 "针对于剪枝量化联合压缩的SSD_MobileNetV1模型进行opt量化出现报错。"
Host环境：CentOS7
Paddlelite：基于2.9移植

在对模型单独进行量化处理时并未报错，但是使用opt可执行文件对 进行过同时剪枝量化的联合压缩的模型 进行opt编译时报错：
Error: This model is not supported, because 1 ops are not supported on 'arm,intel_fpga'. These unsupported ops are: 'moving_average_abs_max_scale'.
Aborted (core dumped)

使用的命令如下：
./opt --model_file=model.pdmodel   --param_file=model.pdiparams --quant_model=true --quant_type=QUANT_INT8 --valid_targets=

[2022-05-26 09:03] hong19860320 commented on #9067
由于不是走 Android Camera HAL，所以不能像内置相机一样通过 android camera api 进行预览，得对 demo 进行改造，需要将jni 层的texture相关全部替换成bitmap或者yuv raw数据，将UVC相机拍摄的 yuv raw 数据或转换后的 bitmap 数据传入到jni层的，在jni层将其转为 opencv 的 image 进行推理，只需要改下 texture2cvimage 相关代码即可，推理相关逻辑可以不用动。

最快的是直接使用 paddlelite java api 进行推理 https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-armlinux-demo/object_detection_demo ，不过 demo 是拍照处理单张图片的，不是处理

[2022-05-26 09:53] 2050airobert commented on #9063
不好意思，我漏发了一张，这张是同样的那个int8量化模型在 vim3 npu a311d上运行的结果，确实跟arm上的结果很相似，但是依然有个别的点偏差太明显。理论上应该不会存在明显的偏差的。同一个量化模型 计算用的都是int8 cpu到npu结果理论一致，除非有bug？ 问题在哪呢？ 是否可以帮忙找到，多谢！
![hrnet_demo_vis](https://user-images.githubusercontent.com/8407513/170464260-5d9d0b15-66f3-4998-812e-12767e58c5f8.jpg)

[2022-05-26 10:53] ljl86092297 opened #9071 "padllite amlogic a311d movenet 推理报错"
![image](https://user-images.githubusercontent.com/59467994/170473931-ad3b1201-df69-4398-8e9c-f4ba89ccb091.png)
[quant_post_static_model.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8778435/quant_post_static_model.zip)

[2022-05-26 13:09] hong19860320 commented on #9071
看起来是量化模型的部分算子缺失量化信息 out_threshold导致的， @yingshengBD 跟下吧~

[2022-05-26 13:17] hong19860320 commented on #9071
![image](https://user-images.githubusercontent.com/9973393/170494635-ffa545b4-274b-4898-bbaa-8aa494479670.png)
能把这两个算子从模型里去掉吗？ 我看这个div是没有量化的

[2022-05-26 13:20] hong19860320 commented on #9063
这个理论上是正常的，因为arm int8只有conv2d和fc是跑在int8上的，其它算子还是跑在fp32上，而npu则不同，大部分算子都是跑在int8上的，所以结果存在差异是能理解的。目前这个case主要问题出在量化模型本身的精度上。

[2022-05-26 14:01] ljl86092297 commented on #9071
可是我用你们的demo iamge_classification_demo 替换成我的模型可以正常跑，你们的demo里的输入是224*224  但是我的模型需要的是192*192 很奇怪为什么能跑通 如果这两个算子没量化可以正常在cpu上跑吗？

[2022-05-26 14:48] 2050airobert commented on #9063
Sounds reasonable， look forward to the final conclusion， tks

[2022-05-26 15:08] hong19860320 commented on #9071
ARM CPU 上可以正常跑，是因为只有conv2d和fc（可能还有其它少量算子）是跑在 int8 arm kernel上的，其它都是跑在fp32 kernel上的，所以只要确保conv2d和fc的量化信息存在就行。

[2022-05-27 03:39] LockonLv opened #9072 "The question about the paddlelite in rk1808 evb about the use of demo v2.11"
问题有以下几点：
在v2.11版的demo使用过程中，有如下几个问题以及建议
* 1.在README文件中提供的指令中，例如
`./run_with_adb.sh mobilenet_v1_int8_224_per_layer linux arm64 rockchip_npu a133d8abb26137b2`
中的a133d8abb26137b2，即脚本里的ADB_DEVICE_NAME，是否是每个设备个性化的编号，如何获取？按这个指令直接运行，报错如下：
`error: device 'a133d8abb26137b2' not found`
* 2.如果去掉上述的最后一个参数，则报错：
`remote object '/home/xxxxx/test/dog.bin' does not exist`
该如何解决？
* 3.paddlelite在编译rk1808，full publis

[2022-05-27 03:39] LockonLv opened #9073 "The question about the paddlelite in rk1808 evb about the use of demo v2.11"
问题有以下几点：
在v2.11版的demo使用过程中，有如下几个问题以及建议
* 1.在README文件中提供的指令中，例如
`./run_with_adb.sh mobilenet_v1_int8_224_per_layer linux arm64 rockchip_npu a133d8abb26137b2`
中的a133d8abb26137b2，即脚本里的ADB_DEVICE_NAME，是否是每个设备个性化的编号，如何获取？按这个指令直接运行，报错如下：
`error: device 'a133d8abb26137b2' not found`
* 2.如果去掉上述的最后一个参数，则报错：
`remote object '/home/xxxxx/test/dog.bin' does not exist`
该如何解决？
* 3.paddlelite在编译rk1808，full publis

[2022-05-27 08:41] hong19860320 commented on #9072
1. AI 芯片的部署文档主要面向工程经验较为丰富的用户，用户至少需要对自己的设备有一定的了解，知道自己的设备是 android 还是 linux， 以及 adb 和 ssh 等常见命令，所以没有额外赘述什么是 adb ，如何获取 adb serial id。
2. 你是否按照文档的要求，先执行  ./run_with_adb.sh mobilenet_v1_int8_224_per_layer linux arm64 cpu ? 如果这个没问题，说明能在 CPU 跑通，设备的连接也没问题。如果执行 ./run_with_adb.sh mobilenet_v1_int8_224_per_layer linux arm64 rockchip_npu 出现错误，应该把详细 log 贴上来，我们看看问题出在哪，好帮你解决。
3. 这个看起来是第三方库github拉取有网络问题，可以通过删除第三方

[2022-05-27 08:59] #9070 closed, assigned to nobody

[2022-05-27 09:15] JingliangGao opened #9075 "官网案例3.1 mobilenetv1_light + OpenCL程序5-10min后才能退出"
- 描述：
- 版本、环境信息：
    1）Paddle Lite 版本：最新版本（分支develop）
    2）Host 环境：Ubuntu 18.04
    3）边缘设备环境：aarch64 + Ubuntu 20.04 + openCL3.0
- 模型信息
    1）模型名称 ：mobilenetv1_opt_opencl.nb
    2）模型链接 ：http://paddle-inference-dist.bj.bcebos.com/mobilenet_v1.tar.gz
- 复现信息：./build.opt/lite/api/opt --model_dir=./mobilenet_v1 \
                         --valid_targets=opencl,arm \
                         --optimize_

[2022-05-27 10:02] ljl86092297 commented on #9071
![image](https://user-images.githubusercontent.com/59467994/170678058-600ca110-89bf-4626-9f1c-6dc63ff114d0.png)
我已经把没量化的算子去除 可是还是不能正常在npu运行，且其他算子都有out_threshold信息

[2022-05-27 10:03] ljl86092297 commented on #9071
[poes_model.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8785789/poes_model.z

[2022-05-27 11:00] yingshengBD commented on #9072
![image](https://user-images.githubusercontent.com/74164525/170686367-6164a427-d4a8-44c9-beb4-0acb6f8f5841.png)
再好好看看文档吧。
另外你说的 『剪裁模型』是指量化吗？

[2022-05-28 05:37] Lumos-chen commented on #9006
不好意思！前几天在备考期末，没有继续进行！我刚刚查阅了输出文件，里面也是没有画框的情况！请问下大概需要修改什么地方~

[2022-05-28 05:39] Sunwen1051 commented on #9049
您的意思是用ARM来推理的话预测结果应该是正确的吗，那么怎么调用它的arm进行推理呢，是把这里改成False吗
![image](https://user-images.githubusercontent.com/95128969/170811791-ea7515fc-61c0-417c-ba8c-b8e8df13b417.png)

[2022-05-28 06:06] Sunwen1051 commented on #9049
我把predictor里的FPGA Place删掉了，出现了这个错误，应该是有不支持的op吧
![image](https://user-images.githubusercontent.com/95128969/170812564-f0ee241d-dd54-4e0e-acd6-29edbdeb586f.png)

[2022-05-28 08:45] ljl86092297 commented on #9071
问题的原因找到了 是因为我在编译中加入了opencv的动态库（无论在源代码都是否使用到） 编译都会通过，在运行时就会报错。
请问这主要是什么原因造成的？

[2022-05-29 08:05] hong19860320 commented on #9071
@yingshengBD 跟下这个问题吧

[2022-05-29 08:07] hong19860320 commented on #9071
应该和 OpenCV 没有关系的，这个是芯原 ddk 内部报错，可能是网络中 tensor 维度或量化信息存在问题，需要定位下，@yingshengBD 跟一下吧~

[2022-05-29 15:21] Gyroxp opened #9077 "rk3399pro小主机ubuntu18.04编译PaddleLite，编译到98%时报编译器内部错误"
PaddleLite版本develop，在rk3399pro系统（安装的是ubuntu18.04）上编译。编译选项选择armv8，with_python=ON。
前期一切正常，编译到98%的时候报告编译器内部错误（aarch64-linux-gnu-g++: internal compiler error: Killed (program cclplus) ）。
尝试多次均能复现，实在找不到原因了，特此求助。
![a](https://user-images.githubusercontent.com/10387406/170877165-af829fda-b886-4555-b5eb-20a09e0592fe.jpg)

[2022-05-29 18:05] djhdj1 commented on #6098
老哥解决了吗

[2022-05-30 01:44] LockonLv commented on #9072
你好，这个确实是我疏忽了，我这部分是直接阅读的readme文件，我没想到针对同一个东西的说明，解释的详细程度会不太一样，所以我在上文提问题的时候，提到是readme文件中的指令。另外，我说的剪裁模型，是指paddleslim那部分，表述如有不当，请见谅

[2022-05-30 02:37] yingshengBD commented on #9077
这是系统资源不足导致的。我们的编译脚本默认是4线程的，你是否使用云服务器所以分配的cpu资源比较少？可以 cat /proc/cpuinfo 来查看cpu信息，一般两个核才刚好满足4线程。
如果系统资源确实吃紧，你可以在./build_XXX.sh脚本中搜『LITE_BUILD_THREADS: 』 后面的-数字代表线程数，改成1即可。当然编译速度会慢一些

[2022-05-30 02:51] Gyroxp commented on #9077
谢谢楼上yingshengBD的解答，我是用rk3399pro本地编译的，刚查了一下rk3399pro是双A72+四A53核。本来想改一下脚本再试试，结果发现里面的系统都崩溃开不了机了。我打算再装个ubuntu20.04然后再试试，到时候再报告

[2022-05-30 03:52] hong19860320 commented on #9072
你说的是PaddleLite-generic-demo里面的 README.md 吗？我们后续会加上各个硬件的文档链接，想问问你是通过什么渠道下载 paddlelite-generic-demo.tar.gz 包呢？ 我们一般只会在 Paddle Lite 各个 NPU 硬件的文档里面提供的。

[2022-05-30 04:05] sprouteer commented on #9075
初步判断和设备驱动以及opencl版本有关，具体原因待定位

[2022-05-30 05:45] JingliangGao commented on #9075
您好，我的GPU卡为img-axt-16-512，支持OpenCL3.0。多个测试案例表明在PaddleLite、MNN框架（支持OpenCL2.0）下缓慢退出，但在TNN框架（支持OpenCL1.0）下退出正常。目前，已查明的信息为-----析构函数~CLRuntime（）中的context.reset()语句执行异常缓慢。

[2022-05-30 07:05] sprouteer commented on #9053
<img width="1252" alt="image" src="https://user-images.githubusercontent.com/89541335/170935567-ad60b61b-483b-4060-859b-42331aa8046c.png">
这个Powermode为ARM CPU能耗模式， opencl的模型性能差异，是因为修改这个模式会影响cpu与gpu的交互，以及部分计算在cpu上，

[2022-05-30 07:56] DannyIsFunny commented on #9054
hi, I have tested it on our mobilentV1 demo, and it works well.
Your error may be caused by this fact: the size of your label dict is too small.
<img width="429" alt="image" src="https://user-images.githubusercontent.com/45189361/170944888-4d941047-9104-4af8-9213-d60799c22810.png">

[2022-05-30 09:45] LockonLv commented on #9072
是的，我是从瑞芯微的文档中看到的。当时简单一扫，我没有注意标注的这部分注释，只是发现这部分关于demo的运行指南和之前几代一样只包括图像分类的demo介绍，东西不如readme文件全，所以认为是这部分没有更新，所以我直接阅读的readme文件
另外：请问gitee上是否可以提问？github实在是不太稳定

[2022-05-30 09:48] LockonLv commented on #9072
我在运行`./run_with_adb.sh mobilenet_v1_int8_224_per_layer linux arm64 rockchip_npu 77fbb305ea097ba3`的时候，遇到的问题如下：

`

[5  8/ 5  9:40:48.416 ...driver/rockchip_npu/converter/softmax.cc:24 ConvertSoftmax] axis=1
[5  8/ 5  9:40:48.416 ...driver/rockchip_npu/converter/softmax.cc:24 ConvertSoftmax] output: 0x29331CD0
 precision: QUANT_UINT8_ASYMM_PER_LAYER
 layout: NCHW
 lifetime: MODEL_OUTPUT
 dimensions:

[2022-05-30 12:10] hong19860320 commented on #9072
PaddleLite-generic-demo 的 README.md 只列举了每个硬件适用的 demo和执行命令，理论上在每个硬件文档里都覆盖了，后续我们会在 README.md 加上 lite 的文档链接将用户引导到每个硬件的文档。

gitee 上目前暂时没有人值班的，建议可以加我们微信群（在paddlelite github 主页的下面），这样沟通也比较快捷~

[2022-05-30 12:15] hong19860320 commented on #9072
![image](https://user-images.githubusercontent.com/9973393/170990144-b9e4b9be-3f6f-45f4-846b-d4503c76fbfa.png)

看起来底层驱动和rknpu_ddk相关库的版本不匹配，是否可以根据文档的方法把下述命令的结果贴上来呢？

![image](https://user-images.githubusercontent.com/9973393/170990784-f78cc670-d942-4544-8de7-01713bb2b7b3.png)

[2022-05-31 01:02] congwang1985 commented on #9053
你好，刚刚用simpleperf看了一下opencl的情况，跑了vgg16, 貌似CPU有50%的时间都花在了sgemm_prepack这个函数上。跑了一下TF Light的Mali-GPU, CPU的使用率一直在100%左右，不管是用几个线程。这个CPU和GPU之间的交互有待探讨。

![image](https://user-images.githubusercontent.com/19957429/171073670-761ce773-3069-4377-b1e7-16fdea6eb28c.png)

[2022-05-31 06:25] yingshengBD commented on #9077
大可不必本地编译啊，用我们的官方docker环境，交叉编译，工具链啥的都帮你配好了

[2022-05-31 06:45] yingshengBD commented on #9072
rk1808evb不属于瑞芯微toybrick的产品线（toybrick有比较齐全的刷机wiki），你得找卖家提供下NPU驱动为6.4.0.x的固件。
可以按照paddle-lite git主页底部的方式加入交流群

[2022-05-31 09:55] #9073 closed, assigned to xingjing1

[2022-05-31 10:47] Gyroxp commented on #9077
谢谢楼上专业的解答。后面直接安装了ubuntu20.04，如果不改线程数还是到98%的时候出现致命错误，线程数改成2就能够编译成功了，并且后续的测试一切正常。先前在树莓派3B上本地编译，到一定阶段直接宕机，后来换成4B就能够顺利编译。确实使用docker应该要科学些，但也不失为一个尝试吧。

[2022-05-31 10:47] #9077 closed, assigned to nobody

[2022-06-01 06:11] aviciiiii opened #9087 "目前paddle-lite是否支持使用python接口进行arm架构下华为Ascend-npu的调用"
root@ecs-37f7:/Work/paddle_lite_demo# python test_lite.py
[W  6/ 1  6: 7:11. 47 .../src/driver/huawei_ascend_npu/utility.cc:52 InitializeAscendCL] CANN version mismatch. The build version is 0.0.0, but the current environment version is 5.1.1.
[I  6/ 1  6: 7:11. 85 ...r/src/driver/huawei_ascend_npu/engine.cc:37 Context] properties: HUAWEI_ASCEND_NPU_SELECTED_DEVICE_IDS=0;HUAWEI_ASCEND_NPU_OP_SELEC

[2022-06-01 07:49] gyg123456 commented on #6406
你好，请问android端的nb文件问题解决了吗？

[2022-06-01 07:50] gyg123456 commented on #6406
请问android的nb文件问题解决了吗？

[2022-06-01 09:26] wokebryant commented on #6406
我也是android，出现的错误是 **Check failed: op_->CheckShape():**
解决方案如下：
用netron查看模型文件的输入输出参数，和你代码里定义的输入输出参数进行对比。看是否一致，不一致的话需要修改。一般nb文件报错都是参数不匹配导致的。

[2022-06-01 09:37] gyg123456 commented on #6406
![image](https://user-images.githubusercontent.com/50268110/171373789-5b941654-17e5-48fa-9ddc-5b6681073072.png)
![image](https://user-images.githubusercontent.com/50268110/171374743-ed4ebd14-e6cb-4a39-a1e7-b53759d377f8.png)

请问是修改predictor.java中的代码吗？

[2022-06-01 09:55] wokebryant commented on #6406
对的，你代码里的输入参数不匹配，需要在Predictor.java里加上scale_factor这个参数
![image](https://user-images.githubusercontent.com/53133330/171378360-c17bfaff-d586-4648-95d7-034d1b38daff.png)

[2022-06-02 02:44] hong19860320 commented on #9087
@aviciiiii  mobilenetv1模型有问题吗？辛苦把模型上传下哈，我们好定位问题。 @shentanyue 跟下这个问题吧。

[2022-06-02 04:04] shentanyue commented on #9087
请问是什么模型呢，还有可以export GLOG_v5重新运行一遍，将全量日志输出至log文件里，上传一下我们看看呢。

[2022-06-02 06:21] aviciiiii commented on #9087
@hong19860320
运行设备：kunpeng 920 + Ascend 310
环境是根据这个https://paddle-lite.readthedocs.io/zh/develop/demo_guides/huawei_ascend_npu.html
里说的docker编译完成的，
模型就是使用里面的 mobilenet_v1_fp32_224.nb
链接：https://pan.baidu.com/s/1uB00-0VktGpugkDfyocTNw?pwd=vxtd
提取码：vxtd

[2022-06-02 06:35] ljl86092297 commented on #9071
我实际操作是存在这样的问题，你们可以尝试一下有opencv在芯源npu测试情况，同样的板子cpu就没有问题，可能是其他地方存在冲突 具体我也没有定位（这是我多次测试 以及让我同事也进行了测试确实存在这样的问题）。

[2022-06-02 06:38] ljl86092297 commented on #9071
由于上述问题没有得到解决 我尝试使用你们的cv库,
![image](https://user-images.githubusercontent.com/59467994/171568185-06fcaa22-0416-49ea-90b1-af79d3bb4e45.png)
![image](https://user-images.githubusercontent.com/59467994/171568261-6f050908-665e-4464-997c-109018259aae.png)
这是我的resize操作 但是存在段错误
![image](https://user-images.githubusercontent.com/59467994/171568432-fe2f8667-97e6-4b65-a7a8-e4828c9cb5d6.png)
使用的是v2.11的paddlel

[2022-06-02 06:39] ljl86092297 commented on #9071
就是加入这你们的cv操作就报段错误， 不加入可以正常运行

[2022-06-02 06:42] ljl86092297 commented on #9071
你们的lite full版的编译 无法将cv编译进去 light就可以（所有问题都是包含芯源npu的情况进行的）我是用的就是这个命令行
$ ./lite/tools/build_android.sh --arch=armv7 --toolchain=clang --android_stl=c++_shared --with_extra=ON --with_exception=ON --with_cv=ON --with_log=ON --with_nnadapter=ON --nnadapter_with_verisilicon_timvx=ON --nnadapter_verisilicon_timvx_src_git_tag=main --nnadapter_verisilicon_timvx_viv_sdk_url=http://paddlelite-demo.bj.bcebos.c

[2022-06-02 06:48] aviciiiii commented on #9087
@shentanyue
链接：https://pan.baidu.com/s/1Nre0QC0UtA1QlIDHeRJQyw?pwd=38k9
提取码：38k9
这是使用python 执行mobilenet模型的日志，麻烦帮忙看一下，谢谢

[2022-06-02 08:37] csy0225 commented on #9049
如果要在arm上面推理的话，可以把这个fpga 的 Place去掉，就可以了
<img width="637" alt="image" src="https://user-images.githubusercontent.com/78470701/171590450-fe694704-bed6-451b-af55-639a0cac826b.png">

[2022-06-02 09:37] gyg123456 commented on #6406
![image](https://user-images.githubusercontent.com/50268110/171601597-6e221881-d84a-4b7d-ab22-3d2081a4b9a6.png)
老师，我将输入改成这些，仍旧报错，另外请问这个｛1,2｝是什么意思呢？

[2022-06-02 09:37] shentanyue commented on #9087
我本地试过并没有问题呢，为了定位具体原因，辛苦提供以下信息。

1、您是使用的https://paddle-lite.readthedocs.io/zh/develop/demo_guides/huawei_ascend_npu.html里面的 PaddleLite-generic-demo.tar.gz的demo吗？
2、在容器内使用npu-smi，能够正常查询ascend加速卡吗？
3、您是否重新编译了PaddleLite的库？若有，您目前使用的版本是什么呢（commit id）？
4、您提供的日志不全，请用下列三个环境变量后，使用  nohup ./run.sh > xxx.log &  后台运行的方式输出全量日志，再重新上传呢。
export GLOG_v=5
export ASCEND_SLOG_PRINT_TO_STDOUT=1
export ASCEND_GLOBAL_LOG

[2022-06-02 10:16] wokebryant commented on #6406
猜测你只写了scaleFactor.resize(), 没有写scaleFactor.setData()，模型的所有输入参数都需要实现这两个方法。你的代码应该是参考官方Demo写的吧，参考下Demo是怎么实现这两个方法的。

{1, 2} 指的是Tenser的维度，代表这个Tenser是二维的，大小是1 * 2

可以参考这个API页面，方便理解Paddle-lite的基本预测原理
https://paddle-lite.readthedocs.io/zh/develop/api_reference/java_api_doc.html

[2022-06-02 10:17] Sunwen1051 commented on #9049
我去掉之后报这个错误
![image](https://user-images.githubusercontent.com/95128969/171608912-0a6dbbab-e339-42b1-add0-240e685da5ac.png)

[2022-06-02 10:42] fanyi840317 opened #9091 "paddlelite android 部署 solov2 预测时候报错"
- 版本、预测库信息：
    1）Paddle Lite 版本：2.11
    2）Host 环境：windows11
    3）运行设备环境：redmi k30
- 预测信息
    1）预测 API JAVA API
    2）预测选项信息：armv7
    3）预测库来源：官网下载
- 问题描述：A/Paddle-Lite: [F  6/ 2 18:21: 7.737 ...e-Lite/lite/kernels/host/cast_compute.cc:143 Run] other has not been implemented transform with dtype0 X, dtype20 Out
A/libc: Fatal signal 6 (SIGABRT), code -1 (SI_QUEUE) in tid 15869 (Predictor Worke),

[2022-06-02 11:04] aviciiiii commented on #9087
好的，麻烦您了。
1、我目前使用的是paddle-lite下面的Paddle-Lite/blob/develop/lite/demo/python/mobilenetv1_light_api.py进行demo测试的。
在py文件中59行添加了一行命令
![image](https://user-images.githubusercontent.com/48847319/171616029-01960b91-6ff2-49c9-bc6e-99fd0ac3e0eb.png)
2、容器内使用npu-smi可以正常查询Ascend加速卡
![image](https://user-images.githubusercontent.com/48847319/171613958-ab779cf3-2bee-4ec0-8910-4b900ac1a7ad.png)
3、我这边重新编译了paddleLite

[2022-06-02 13:30] shentanyue commented on #9087
我看了下日志， mobilenetv1模型的推理是正常的呀，只是你因为没有直接使用我们的c++ demo，所以少了后处理那一块，就没打印分类结果，但本身是推理成功了的。
![image](https://user-images.githubusercontent.com/34421038/171640319-38cd3ea1-d99b-4b9e-ad97-856fcbb4f864.png)

[2022-06-02 13:32] shentanyue commented on #9087
python api适用于c++ api的，具体接口映射关系可以看这个文件里的代码，Paddle-Lite/lite/api/python/pybind/pybind.cc

[2022-06-02 13:32] gyg123456 commented on #6406
![image](https://user-images.githubusercontent.com/50268110/171638512-0df4d33e-c77b-4f69-bb25-3006fbb7ff25.png)
![image](https://user-images.githubusercontent.com/50268110/171638564-1dbe72bf-e155-42d9-8abb-0c89839fe7a2.png)
![image](https://user-images.githubusercontent.com/50268110/171638712-68d74851-51cb-4dfa-8988-9db3061cf82c.png)

![image](https://user-images.githubusercontent.com/50268110/171

[2022-06-02 13:33] shentanyue commented on #9087
至于你最上面的日志报的Segmentation fault (core dumped)，应该用的是你自己的模型吧？

[2022-06-02 13:42] shentanyue commented on #9087
您标题『目前paddle-lite是否支持使用python接口进行arm架构下华为AscendNPU的调用』，这个是支持的，不过目前我们还未提供python相关的demo，您可以根据我们C++ demo改写成python的，只需将对应的c++ api替换成python api就可以了。
![image](https://user-images.githubusercontent.com/34421038/171642917-e3d7c6cd-4dd8-4527-a725-6db288d91ebc.png)

[2022-06-02 13:47] yingshengBD commented on #9071
本地已经复现，已反馈给相关开发同学
另外 ，跟npu的编译没有关系

[2022-06-02 14:16] aviciiiii commented on #9087
你好，谢谢帮助。这边目前报错是存在 Segmentation fault (core dumped)但是未输出到日志文件中，下面是实测结果
![image](https://user-images.githubusercontent.com/48847319/171649275-5dc06b52-22eb-4342-aac2-d6db4e8291c5.png)
而且我这边测试是在模型推理时加了while True循环，目前在上次推理结束后不会进行下次推理，而是直接退出程序 报错 Segmentation fault (core dumped)
![image](https://user-images.githubusercontent.com/48847319/171650038-f1f806e0-5ae2-41d2-a9de-4ae147da0536.png)

[2022-06-02 14:28] aviciiiii commented on #9087
会不会是因为最后提醒的内存泄漏导致程序有如此报错，我在测试时发现内存一直在增长，内存增长至极限时，程序就会出现Segmentation fault (core dumped)报错

[2022-06-03 08:40] gyg123456 commented on #7336
可以问下老哥具体是怎么改的吗？
![image](https://user-images.githubusercontent.com/50268110/171819682-811a5c99-fcc8-49a6-af02-d376ffd8e810.png)
![image](https://user-images.githubusercontent.com/50268110/171819868-41a60926-f16a-47c6-a6ea-976aeb2cf636.png)
![image](https://user-images.githubusercontent.com/50268110/171819899-4bbddc75-9ce0-4d1a-8f36-06f74124ded8.png)
为什么我改了这些，仍旧报错呢？我模型的输入和你的是一样的

[2022-06-03 13:21] wokebryant commented on #6406
<img width="846" alt="image" src="https://user-images.githubusercontent.com/53133330/171861326-68231444-a27c-4f77-b19d-20fe77e243dd.png">
<img width="896" alt="image" src="https://user-images.githubusercontent.com/53133330/171862176-be8dffc8-9692-40cc-a4f9-6f84fa74f728.png">

1. 注意输出参数只有两个，Tensor outputTensor2 = getOutput(2); 这一行多余
2. 如报错信息，输入的Tenser的数据类型是float(也就是setData()方法的参数)，而你用的是int

[2022-06-04 02:53] pdlzx2018 opened #9093 "predictor.get_output(0).numpy()返回的结果如果解析使用啊？？、？"
predictor.get_output(0).numpy()返回的结果如果解析使用啊？？、？

[2022-06-04 04:25] gyg123456 opened #9094 "nb模型android端部署报错Check failed: op_->CheckShape():"
在Aistudio上使用PaddleDetection训练模型，之后安装2.9版本的Paddle-Lite并使用Opt工具转化模型格式为.nb。
之后下载android更新预测库inference_lite_lib.android.armv8.gcc.c++_static以及paddle-lite-demo，
替换jar文件：将inference_lite_lib.android.armv8.gcc.c++_static\java\jar\PaddlePredictor.jar替换image_classification_demo\app\libs\PaddlePredictor.jar
替换arm64-v8a jni库文件：将inference_lite_lib.android.armv8.gcc.c++_static\java\so\libpaddle_lite_jni.so替换ima

[2022-06-04 07:17] gyg123456 commented on #6406
方便加一下您的联系方式嘛，老师

[2022-06-06 00:15] zjbit opened #9096 "飞腾2000 ARM LINUX 环境编译ocr demo出错"
执行cmake，总是出现找不到paddle_lite库中set_model_from_file函数的情况，我是在飞腾2000宿主机上的容器中执行该编译的，cmake版本3.1.6，gcc版本8.4，g++版本8.4，飞腾2000的架构是armv8 linux。
CMake Warning (dev) in CMakeLists.txt:
  No project() command is present.  The top-level CMakeLists.txt file must
  contain a literal, direct call to the project() command.  Add a line of
  code such as

    project(ProjectName)

  near the top of the file, but after c

[2022-06-06 01:46] csy0225 commented on #9091
你好，看了您的log，看着是cast算子不支持从bool类型到 uint8 类型的转换，可否麻烦提供一下模型原始链接？

[2022-06-06 02:49] hong19860320 commented on #9087
这个是在进程退出时因昇腾CANN内部的全局变量析构顺序导致的警告，不会影响推理期间的行为，建议使用 https://paddle-lite.readthedocs.io/zh/develop/demo_guides/huawei_ascend_npu.html 文档中的 PaddleLite-generic-demo.tar.gz 即 c++ demo

python demo 麻烦 @shentanyue 验证下。

[2022-06-06 03:14] shentanyue commented on #9087
好的，我本地用python demo验证下。

[2022-06-06 03:48] liyancas commented on #9094
Conv op只支持4维的输入，麻烦您确认下网络的input设置是否正确。

[2022-06-06 05:08] sweetzhangxue opened #9099 "Android对接paddle-lite同步还是异步？"
1、getInput之后就调用getOutput，paddle-lite能这么快的推断除结果嘛？这里需要getInput之后等几秒钟再getOutput嘛？

2、摄像头频繁的采集到图像，采集到图像之后，就调用getInput，需要Android自己开启多线程或者队列的形式排队调用getInput嘛？

3、getOutput具体的数据结构是怎么样的，可以自定义输出的数据结构嘛？比如json数据
非常感谢您提交关于飞桨文档的 Issue，我们会认真听取您的意见，并进行改进。
Paddle Lite [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

建立 issue 时，为快速解决问题，请您根据情况给出如下信息：
- 标题：请包含关键词“XXX文档问题”，例如“OPT 使用文档问题”

[2022-06-06 06:08] DannyIsFunny commented on #9093
返回的数据是一个numpy数组，可以使用numpy数组的操作方法

[2022-06-06 07:10] shentanyue commented on #9087
@aviciiiii 您好，我本地复现了您的问题，发现这是一个遗留的疑难bug，目前无法短时间解决。
推荐您当前直接使用我们的 C++ demo 进行 Ascend-NPU 的部署，之后会解决 Ascend-NPU Python demo 这个 bug，到时第一时间通知您，感谢您的支持。

[2022-06-06 07:48] gyg123456 commented on #7336
你好，请问“？”中的值指的是？

[2022-06-06 07:50] gyg123456 commented on #9094
![image](https://user-images.githubusercontent.com/50268110/172118756-3aafd4a2-4846-4ddd-8df0-11ac3fe346a9.png)
是这个吗？

[2022-06-06 07:52] gyg123456 commented on #9094
用netron查看了一下，我的模型的输入是这样子的。
![image](https://user-images.githubusercontent.com/50268110/172119123-894f7247-db49-4a92-9510-def7cea43041.png)

[2022-06-06 08:11] gyg123456 commented on #7336
请问模型中的问号是什么意思？

[2022-06-07 03:06] PQ-girl opened #9101 "vgg模型转换报错"
您好，转换.nb 文件时报错Error: This model is not supported, because 1 ops are not supported on 'arm'. These unsupported ops are: 'pad'. Aborted (core dumped)能帮我看一下吗？

- 版本、环境信息：
    1）Paddle Lite 版本： Paddle Lite 版本号（2.11）
    2）Host 环境：Ubuntu 18.04
- 模型信息
 我将训练好的pytorch模型成功转为paddle模型，然后导出.nb文件时报错了。

[2022-06-07 03:29] raziurtotha commented on #9054
Hi Danny,

Sorry for the late reply. I have tried with bigger label dict and also with the whole labels.txt file. Still getting the key error. Is there any example for the real-time prediction python code?

[2022-06-07 08:06] chenjiaoAngel commented on #9101
您好，arm 上目前只支持pad2d 和 pad3d OP，可以将pad OP 转换为pad2d/pad3d 进行推理

[2022-06-07 08:09] PQ-girl commented on #9101
您好，这个应该怎么转换呢，可以详细给我说一下吗？麻烦您了

[2022-06-07 08:10] chenjiaoAngel commented on #9101
这个我也不太清楚额，可以去paddle 仓库或X2paddle 咨询下

[2022-06-07 09:41] PQ-girl commented on #9101
我转换paddle模型时生成的x2paddle_code.py中显示的就是pad2d呀
self.pad0 = paddle.nn.Pad2D(mode='constant', padding=[0, 0, 0, 0, 0, 0, 0, 0])
代码中显示是这样的

[2022-06-07 12:38] chenjiaoAngel commented on #9101
那生成的paddle 模型里的op_type 应该是pad2d ，你看模型结构是不是这个OP。如果不是话，那可能找X2paddle issue 咨询下

[2022-06-07 13:12] PQ-girl commented on #9101
我是个paddle小白，是看生成的model.pdmodel模型的结构吗？我百度了一下没找到相关代码

[2022-06-07 16:13] pdlzx2018 commented on #9093
这个我当然知道了，目标检测，具体该怎么分析结果

[2022-06-08 01:37] premeditate commented on #9007
是模型的问题,之前的模型是使用paddleX GUI训练的,虽然最后能转成.nb格式的文件,但是不能使用.

[2022-06-08 01:37] #9007 closed, assigned to xingjing1

[2022-06-08 01:39] premeditate commented on #8991
是模型的问题,之前的模型是使用paddleX GUI训练的,虽然最后能转成.nb格式的文件,但是不能使用.

[2022-06-08 01:39] #8991 closed, assigned to shentanyue

[2022-06-08 01:41] aviciiiii commented on #9087
谢谢支持，麻烦你了

[2022-06-08 01:43] chenjiaoAngel commented on #9101
en，用neutron 查看model.pdmodel，可以看到他的模型结构

[2022-06-08 02:16] hong19860320 commented on #9099
1. getInput设置输入后，你得调用predictor->run，run接口是阻塞的，之后推理结束后run才会结束，然后再调用getOutput获得输出tensor。
2. 对的，paddlelite只负责推理部分，pipeline需要你们自己实现，例如使用多线程收集多个用户的请求，打包成batch送入到lite进行推理（一般可以作为单独的线程），最后将结果分发给每个用户。视频也类似，可以将视频采集（如果是多路视频，可以使用多线程采集）、推理、渲染分别作为pipeline的一个stage，都使用单独的线程实现，线程间的数据交互可以使用队列。
3. getOutput获取的是模型的输出tensor数据，它的每个元素代表什么是由你的模型输出决定，至于你如何将tensor数据做后处理，然后打包成其它格式的数据，由自己的程序行为决定，paddlelite只是负责对输入tensor数据，基于给

[2022-06-08 06:11] wjj19950828 commented on #9101
这种情况生成的op_type为pad，mode为```constant```且pad_size为8，具体可参考：https://github.com/PaddlePaddle/Paddle/blob/0ffaf04964034ee6a01a5ac15ceac35746a2ee9e/python/paddle/nn/functional/common.py#L1439

same as https://github.com/PaddlePaddle/X2Paddle/issues/807

[2022-06-08 07:39] PQ-girl commented on #9101
那我该如何进行修改呢，能够我说说具体的修改步骤吗

[2022-06-08 08:35] 2050airobert opened #9105 "ERROR-模型输入raw文件无法生成！！！"
hi，
     1 请问下，lite提供的  tinypose_input.raw 是如何生成的，必须跟发布模型对应的处理一样才行吧？
![image](https://user-images.githubusercontent.com/8407513/172570615-b18369ae-b719-4718-8a34-8b3eb87781ff.png)
    2 这样保存的话，怎么能确保只针对我给定的一张输入图像，然后单独保存为下图的txt，代码如下图。
![image](https://user-images.githubusercontent.com/8407513/172570059-d5dce885-8258-40f6-97bd-ddc3a290a3e4.png)
    3 能否提供下简单的脚本，来吧我的输入图像转为raw bin文件，也就是您提供的那套raw文件？

[2022-06-08 08:49] PQ-girl commented on #9101
我这个模型是用pytorch训练好的，然后通过onnx转为paddle模型，最后导出.nb文件时报错。我去pytorch训练脚本里看，发现这句代码transforms.Pad(4),有pad，是因为这句代码引起的错误吗？我该如何修改
还有模型的定义里的conv2d = nn.Conv2d(in_channels, v, kernel_size=3, padding=1, bias=False)这个padding算吗

[2022-06-08 09:12] xing5933 commented on #8525
非常感谢

[2022-06-08 09:12] #8525 closed, assigned to shentanyue

[2022-06-08 09:23] 2050airobert commented on #9105
补充下，事实上即便这套生成代码确实是没问题的，我也必须知道 infer的cfg配置文件内容是什么，这个算法需要给出对应版本的配置！比如究竟是如下的图1
![image](https://user-images.githubusercontent.com/8407513/172581471-59666b5d-3117-4674-8f8e-f28eb2a02ccd.png)
还是第二张图
![image](https://user-images.githubusercontent.com/8407513/172581681-453b24f3-4176-4e96-9d3b-d6966de28fe7.png)

[2022-06-10 02:57] 2050airobert commented on #9105
hello，anyone here？

[2022-06-10 06:57] yangyukun0619 opened #9117 "Android端，picodet检测和ppocr rec组合使用后paddlelite挂掉，复现概率：操作多次后100%出现"

[2022-06-10 06:57] yangyukun0619 commented on #9117
06-10 14:33:20.502251  4892  4892 F DEBUG   : *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
06-10 14:33:20.503057  4892  4892 F DEBUG   : Build fingerprint: 'iData/T2/T2:11/RP1A.200720.011/1629387046:user/dev-keys'
06-10 14:33:20.503278  4892  4892 F DEBUG   : Revision: '0'
06-10 14:33:20.503508  4892  4892 F DEBUG   : ABI: 'arm64'
06-10 14:33:20.504551  4892  4892 F DEBUG   : Ti

[2022-06-10 07:29] mjp9527 commented on #9117
请问你是自己搭建的安卓studio工程吗，可以先自查一下输入数据类型、维度、顺序是否填写正确，建议先使用最简单的c++ shell demo串联两个模型复现一下，如果是自己编译的paddlelite so包，也可以使用build目录下lite/api/lib_paddlelite_light_api.so，那个是未strip的，配合addr2line可以定位到出错的函数行。

[2022-06-10 08:51] Student-Fuz opened #9119 "模型的子图量化后为什么只有最后一个节点显示int8输出，其它节点输出仍然是float32？"
![1](https://user-images.githubusercontent.com/87405313/173028660-22fc8be0-5538-4129-a62a-c962a9632b13.png)
![2](https://user-images.githubusercontent.com/87405313/173028965-56c81c10-3ba1-47f2-8c03-6cc7609953b9.png)

[2022-06-10 09:29] yangyukun0619 commented on #9117
是安卓studio工程，推理不是每次都奔溃，推理几张后奔溃，请帮忙看看？
挂时的调用堆栈是：
omp_get_active_level
memset

[2022-06-10 09:34] yangyukun0619 commented on #9117
是安卓studio工程，推理不是每次都挂，是正常推理几张后就挂，是picodet和ppocr有内存问题吗？去掉picodet单跑ppocr没问题，去掉ppocr单跑picodet也没有问题，请帮忙看看
挂时的调用堆栈是：
omp_get_active_level
memset

[2022-06-10 12:34] mjp9527 commented on #9117
把你的模型和复现demo提供一下吧，说明一下运行的平台信息，手机型号等

[2022-06-10 12:37] hong19860320 commented on #9119
subgraph 其它的输出节点是原始模型中中间tensor，可以忽略掉（你是否发现它们不会被后面任何算子使用？），咱们需要关心的是output_data_names对应的tensor，它们才是整个subgraph 真正输出节点。

[2022-06-10 12:42] hong19860320 commented on #9117
估计是picodet没有检测到框，但ppocr不加任何判断仍继续推理导致挂掉了？

[2022-06-10 13:07] Student-Fuz commented on #9119
好的，明白了

[2022-06-10 13:13] Student-Fuz commented on #9119
![image](https://user-images.githubusercontent.com/87405313/173070953-813dbe25-be50-4f5d-9271-77b367fa6234.png)
![image](https://user-images.githubusercontent.com/87405313/173071910-0987fbf5-0b4d-49de-a4ef-aa4631e1d431.png)

还想请问这里这个输出被多节点引用的卷积没有被纳入子图，是因为这个prior_box引用其float32输出的原因吗？

[2022-06-10 13:15] Student-Fuz commented on #9119
![08H_$Q~2)M~_AHZGGS Y R5](https://user-images.githubusercontent.com/87405313/173072291-57afe819-6fb1-4626-b362-6e4fba6fa8f9.png)
![MRC0MUXO 0MA7 PHJ@TRD9G](https://user-images.githubusercontent.com/87405313/173072315-4390a097-a4c6-4f50-b74e-88ff809e0698.png)

还想请问这里这个输出被多节点引用的卷积没有被纳入子图，是因为这个prior_box引用其float32输出的原因吗？

[2022-06-11 07:25] Student-Fuz commented on #9119
08H_$Q2)M_AHZGGS Y R5
MRC0MUXO 0MA7 PHJ@TRD9G
还想请问这里这个输出被多节点引用的卷积没有被纳入子图，是因为这个prior_box引用其float32输出的原因吗？