[2020-03-03 02:16] juncaipeng commented on #3024
用户已经验证正常。

[2020-03-03 02:16] #3024 closed, assigned to juncaipeng

[2020-03-03 06:39] xsbrsg commented on #3056
我运行的口罩检测模型，自己编译失败了，，，我下载的编译好的预测库。之前的那个错误应该是我忘记进容器里，进容器里就没有那个问题了。但是出现了新的问题，能否帮忙解答一下
还是执行到make这一步的时候
![进入编译目录](https://user-images.githubusercontent.com/61486634/75749148-16da4880-5d5c-11ea-85f7-adf5cc76912c.png)   报错
![dictionary](https://user-images.githubusercontent.com/61486634/75749175-2b1e4580-5d5c-11ea-84a1-2327e6f34c38.png)
/opt/android-ndk-r17c/toolchains/aarch64-linux-android-4.9/prebuilt/

[2020-03-03 06:45] Eric-Zhang1990 opened #3063 "opt工具转换的模型只有一个.nb, Android端如何加载呢?"

[2020-03-03 06:48] zhupengyang commented on #3004
问题已经定位。1.5和1.6保存出来的模型有些不一样。
- v1.5模型
<img width="264" alt="image" src="https://user-images.githubusercontent.com/50474132/75749775-93215b80-5d5d-11ea-94f4-16e23a70181b.png">

- v1.6模型
<img width="114" alt="image" src="https://user-images.githubusercontent.com/50474132/75749840-bf3cdc80-5d5d-11ea-9a17-f45364b9b8dd.png">

v1.5模型的fill_constant+elementwise_mul被v1.6的scale代替了，而paddlelite目前还没有支持scale OP的

[2020-03-03 06:51] Eric-Zhang1990 commented on #3063
我运行的paddle-lite的demo, 例子中用的模型都是两个.nb (__model__.nb和param.nb), 我尝试过用release/v2.2.0之前的model_optimize_tool工具转换模型, 结果保存的是确实是__model__.nb和param.nb, 也能移植到Android端.
       **但是**我用release/v2.2.0之后的opt工具转换后保存的只有一个.nb文件,  替换demo中的.nb文件后运行报错 (null File*).
     请问如何加载opt工具转换后的一个.nb文件呢? 谢谢

[2020-03-03 07:59] CallmeZhangChenchen opened #3064 "口罩检测中的人脸检测部分在jetson nano上模型解析失败"
按照https://paddlepaddle.github.io/Paddle-Lite/v2.2.0/cuda/文档
在nano上编译 paddle-lite   命令 ./lite/tools/build.sh cuda

编译出来的build_cuda目录跟官方介绍的不一样 ，并没有出现inference_lite_lib目录，更没有生成 lite_core.so   ，最后在build_cuda/lite/api/下找到了  libpaddle_full_api_shared.so ，测试了几个版本，正式版，开发板都是一样没有lite_core.so，只有libpaddle_full_api_shared.so

可能原因，使用的Jetpack 是4.2，没有使用最新的4.3
编译之前想加快速度 直接"rm -rf third_party"把这个文件夹删了 ，按照https://p

[2020-03-03 08:04] Eric-Zhang1990 commented on #3063
我用paddle-lite官网提供的最新的PaddlePredictor.jar和libpaddle_lite_jni.so, 用MobileConfig config = new MobileConfig();  config.setModelFromFile(realPath); 加载opt工具转换生成的一个.nb文件,  到这一步PaddlePredictor paddlePredictor = PaddlePredictor.createPaddlePredictor(config);还是报错过不了.
      请问是什么原因呢? 谢谢

[2020-03-03 08:09] jiweibo commented on #3063
可以使用set_model_from_file方法，具体可参考cxx demo  https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/demo/cxx/mobile_light/mobilenetv1_light_api.cc#L30

[2020-03-03 08:10] jiweibo commented on #3063
可以按照Java demo重新走一遍，如果还是不行，请贴上详细的报错信息。

https://github.com/PaddlePaddle/Paddle-Lite/tree/develop/lite/demo/java

[2020-03-03 08:18] Eric-Zhang1990 commented on #3063
@jiweibo  官网的java demo能运行成功, 而且我用旧版本的model_optimize_tool转换的模型(__model__.nb和param.nb)也能运行成功,
但是用opt转换的模型(只有一个.nb文件), 用官网说的api  config.setModelFromFile(realPath) 加载两个.nb文件(__model__.nb和param.nb) , 或者加载opt转换的一个.nb文件都不成功.
错误log:

03/03 16:12:33: Launching 'app' on Pixel 2 API 28 2.
$ adb shell am start -n "com.baidu.paddle.lite.demo.image_classification/com.baidu.paddle.lite.demo.image_classification.

[2020-03-03 08:18] jiweibo commented on #3064
cuda部分目前还没完全将so整理暴露出来，只提供了python的使用方式，下个小版本会完善这部分
可以参考文档https://paddle-lite.readthedocs.io/zh/latest/advanced_user_guides/cuda.html。

此外口罩检测demo是移动端的，一般使用CXXConfig

[2020-03-03 08:23] Eric-Zhang1990 commented on #3063
@jiweibo  这个是官网demo的代码: 我就把config.setModelDir(realPath);改成confiig.setModelFromFile(realPath); , 到  paddlePredictor = PaddlePredictor.createPaddlePredictor(config);运行不成功.
 protected boolean loadModel(Context appCtx, String modelPath, int cpuThreadNum, String cpuPowerMode) {
        // Release model if exists
        releaseModel();

        // Load model
        if (modelPath.isEmpty()) {

[2020-03-03 08:30] jiweibo commented on #3063
我编译复现一下，有结论后回复

[2020-03-03 08:48] DannyIsFunny opened #3067 "Paddle-Lite文档中的代码在现实环境可以运行。每次发版都可以自动测试"
建立一套文档测试系统：
（1）文档中的代码都是可以直接运行的代码
（2）每次发版，可以自动运行一边代码

[2020-03-03 08:52] Eric-Zhang1990 commented on #3063
@jiweibo  好的， 可以用https://github.com/forresti/SqueezeNet/tree/master/SqueezeNet_v1.1的分类模型， 分别用opt和model_optimize_tool转换， 用model_optimize_tool转换的模型正常， 但是opt转换的单个.nb文件加载报错。

[2020-03-03 08:57] juncaipeng opened #3068 "保存图片 save images"
大家将图片粘贴到这个Issue中，然后可以在文档中使用图片链接。

[2020-03-03 08:57] #3068 closed, assigned to nobody

[2020-03-03 09:02] jiweibo opened #3069 "[dev] paddle-lite cuda so及cuda demo整理"
cuda编译整理：https://github.com/PaddlePaddle/Paddle-Lite/pull/3152

新增cuda c++ demo：https://github.com/PaddlePaddle/Paddle-Lite/pull/3205

文档更新：https://github.com/PaddlePaddle/Paddle-Lite/pull/3207

[2020-03-03 09:11] juncaipeng opened #3070 "提升无校准数据训练后量化方法量化成8bit的精度"
使用min-max进行量化存储，尝试提升精度

[2020-03-03 09:12] juncaipeng opened #3071 "支持更多op量化，便于MTK和RK实现全量化模型"
涵盖常见OP量化的优化，为后续ARM端、MTK和RK实现全量化模型

[2020-03-03 09:27] hong19860320 commented on #3068
![host_target_compiling_env_miss_matched](https://user-images.githubusercontent.com/9973393/75761527-31b8b700-5d74-11ea-8a9a-0bc0253ee003.png)

[2020-03-03 09:45] DannyIsFunny opened #3072 "Paddle-Lite发布Android demo修改方法教程文档，IOS修改方法文档"

[2020-03-03 13:04] jiweibo commented on #3063
出错应该是没找到模型文件，可以参考Paddle-Lite-Demo repo下的android工程，这里都是使用的setmodelfromfile

https://github.com/PaddlePaddle/Paddle-Lite-Demo/blob/master/PaddleLite-android-demo/image_classification_demo/app/src/main/java/com/baidu/paddle/lite/demo/image_classification/Predictor.java#L112

[2020-03-03 13:56] Eric-Zhang1990 commented on #3063
@jiweibo  好的, 谢谢. 我下载的就是这个demo, 可能下载的是更新之前的, 所以还是旧的接口, 刚才按照这个里的接口和文件路径格式运行成功了.

[2020-03-04 02:43] #3056 closed, assigned to DannyIsFunny

[2020-03-04 03:27] jiweibo commented on #3063
问题已解决，关闭此issue，若仍有问题，请随时重新打开该issue

[2020-03-04 03:27] #3063 closed, assigned to nobody

[2020-03-04 06:38] jiweibo commented on #3038
pr https://github.com/PaddlePaddle/Paddle-Lite/pull/2991

[2020-03-04 07:11] #3004 closed, assigned to zhupengyang

[2020-03-05 08:12] ysh329 commented on #2954
在pooling中遇到，临时解决方案是中途转为float，然后算完转为half

[2020-03-06 03:18] DannyIsFunny commented on #3050
你好请问可以提供一下加载模型部分的代码吗（或者提供一个可复现的模型），如果模型大小是400M，正常运行占用内存的峰值不超过2*400=800M，请检查手机内存是否充裕。

[2020-03-06 09:12] jiweibo commented on #3038
pass的操作不应该暴露出来，对于不同的硬件，有自己独有的pass操作及顺序，暴露后容易出问题。

[2020-03-06 09:12] #3038 closed, assigned to jiweibo

[2020-03-07 08:05] imistyrain opened #3103 "test_img_prepross.cc 无需加载模型"
[test_img_prepross.cc](https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/demo/cxx/test_cv/test_img_prepross.cc)中无需加载模型，该测试为测试图像操作准确性，请移除此项冗余输入；此外应避免一个函数完成多个功能，单独拆分测试convert、resize、rotate、flip为不同的函数，并且覆盖多个使用场景和边界

[2020-03-07 14:07] hang245141253 opened #3106 "口罩模型的pyramidbox_lite在opt工具转化的时候报错"
[paddlehub上下载最新的模型](https://www.paddlepaddle.org.cn/hubdetail?name=pyramidbox_lite_mobile_mask&en_category=ObjectDetection) ， 使用opt工具转化时mask_detector转化正常
pyramidbox_lite会报错，报错如下
![QQ图片20200307220621](https://user-images.githubusercontent.com/44885245/76144934-e8dc6780-60bf-11ea-9c54-f6fd5842418b.png)

[2020-03-07 14:08] hang245141253 commented on #3106
![QQ图片20200307220621](https://user-images.githubusercontent.com/44885245/76144969-3658d480-60c0-11ea-94f2-8bf4c967b14b.png)

[2020-03-09 05:48] xiebaiyuan opened #3121 "opencl issue with arm"
opencl issue with arm

[2020-03-09 07:07] #3121 closed, assigned to xiebaiyuan

[2020-03-09 15:25] xiebaiyuan opened #3132 "mobile conv bn relu issue"
mobile conv bn relu  issue

[2020-03-09 16:15] #3132 closed, assigned to xiebaiyuan

[2020-03-10 03:14] chenjiaoAngel commented on #3103
嗯，模型测试这个确实冗余。单独拆分测试convert、resize、rotate、flip为不同的单测，这个只是模版，如果想测试，可以自己写单测。另外在lite/tests/cv/image_convert_test 有分开的单测案例可以参考

[2020-03-10 08:42] BeyondYourself opened #3139 "ocr分支不见了"
https://github.com/PaddlePaddle/Paddle-Lite/blob/ocr/README_cn.md 这个是ocr分支的连接，这个分支转移到哪里了

[2020-03-10 08:59] zhupengyang commented on #3139
貌似消失了。。

---
只有过时的文档了 https://github.com/PaddlePaddle/Paddle-Lite/wiki/cpp_demo#cxxconfig案例-ocr_model的运行

[2020-03-10 13:10] fanxinkeji commented on #3106
down 下来的pyramidbox_lite用最新2.3版opt工具转化出错，1.2.0，1.1.0都出错另发现1.2.0hub安装出错，1.1.0可以安装。
![BBC@ND_LMIZ8$E12D8AX~AB](https://user-images.githubusercontent.com/52989381/76315397-91363a00-6313-11ea-884b-14a512bf3c20.png)
![LFPJH_%EMQWJZ}325JOCW19](https://user-images.githubusercontent.com/52989381/76315414-97c4b180-6313-11ea-93a1-cf1aeadb527f.png)

[2020-03-11 07:56] xsbrsg opened #3148 "Android端运行口罩检测模型失败"
参照Android demo  [https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-android-demo/image_classification_demo](url)，模型目录如下：
![image](https://user-images.githubusercontent.com/61486634/76393965-a1035c00-63af-11ea-8685-94e106ac4df7.png)，app启动后闪退，断点调试发现出错在paddlePredictor = PaddlePredictor.createPaddlePredictor(config);这一行。logcat日志报错：
2019-01-25 17:53:38.549 15839-15867/com.baidu.pad

[2020-03-11 08:16] zenghsh3 opened #3149 "Is it possible to make CopyFromCpu/CopyToCpu support int64_t?"
When I handle input ids(int64) of embedding, I find that  `CopyFromCpu/CopyToCpu` cannot support int64_t.

[2020-03-11 14:19] #3139 closed, assigned to nobody

[2020-03-12 07:48] #3148 closed, assigned to nobody

[2020-03-13 03:14] DaydreamCoding opened #3162 "paddle-lite release/v2.3: compile android armv7 failed in macOS 10.15.3 NDK r17c"
## paddle-lite release/v2.3 macOS 10.15.3 NDK r17c 编译 android armv7 失败
* docker编译android armv7、armv8均成功
* macOS下编译android armv8 成功``./lite/tools/build.sh --arm_os=android --arm_abi=armv8 --arm_lang=gcc --android_stl=c++_static --build_extra=OFF tiny_publish``
* macOS下编译android armv7 失败 ``./lite/tools/build.sh --arm_os=android --arm_abi=armv7 --build_extra=OFF --arm_lang=gcc --android_stl=c++_stati

[2020-03-13 03:20] rupei110 opened #3163 "转换自己模型遇到OP不支持"
![123](https://user-images.githubusercontent.com/50095586/76586533-0aa07900-651c-11ea-8a60-375dbd51a5f6.png)

[2020-03-13 04:40] #3064 closed, assigned to nobody

[2020-03-13 05:27] DaydreamCoding commented on #3162
自定义改掉了cmake/corss_compiling/android.cmake后解决了, 建议paddle-lite直接引用或者参考NDK下的cmake toolchain配置, 同时也可以支持clang且跨全平台

[2020-03-13 07:48] rupei110 opened #3164 "请问下有没有基于CenterNet的目标检测模型？"

[2020-03-13 07:51] yinqs opened #3165 "python 怎么调用Paddle-Lite推理的C++ 接口"
因为模型推理之前的图像数据预处理和推理之后的处理都是用python写的，而paddle-Lite 使用C++，如果把之前的python改成C++ 工作量非常大，能不能直接使用python调用Paddle-Lite推理的C++ 接口呢？有么有相关的demo程序示例呢？感谢大家。

[2020-03-13 08:00] yinqs opened #3166 "Paddle-Lite的模型放到安卓手机上，有没有样例程序？"
想把Paddle-Lite的模型放到安卓手机上，读取摄像头进行实时目标检测任务，有没有样例程序？

[2020-03-13 09:40] xsbrsg commented on #3166
可以参考：[https://github.com/PaddlePaddle/Paddle-Lite-Demo](url)；但这个是检测单张图片，不是从摄像头获取图片

[2020-03-13 11:25] chenjiaoAngel commented on #3106
报错信息显示模型的weights 数据类型不对。请问这个weights 的data type 是FP32吗

[2020-03-14 01:48] ysh329 commented on #3149
稍等我提PR

[2020-03-14 04:00] phojl opened #3174 "树莓派4b+ 不用cuda，用cpu调用（python)请问如何生成python接口？"
cuda的如下 # 如果使用python接口，需要打开build_python选项
./lite/tools/build.sh —build_python=ON cuda
请问一下树莓派4b+ 能不能cuda，用cpu调用（python)请问如何生成python接口？如果不能，python接口库在哪里？如何生成？

[2020-03-14 04:08] phojl opened #3175 "ARMLinux 进行编译时出现错误（ 树莓派4，arm8,Debian-Pi-Aarch64）"
ARMLinux
cmake --version
cmake version 3.10.3
树莓派4，arm8 ARMLinux,Debian-Pi-Aarch64 进行编译时出现错误
./lite/tools/build.sh \
  --build_extra=OFF \
  --arm_os=armlinux \
  --arm_abi=armv8 \
  --arm_lang=gcc \
  tiny_publish  进行编译时，出现如下错误：
[ 80%] Linking CXX static library libfeed_compute_host.a
[ 80%] Built target feed_compute_host
[ 80%] Building CXX object lite/api/CMakeFiles/paddle_light_api_shared.dir/

[2020-03-14 10:37] #2871 closed, assigned to ysh329

[2020-03-14 10:38] ysh329 commented on #2871
已经全部完成，目前在调优性能与mobile对齐

[2020-03-15 12:40] lesterhnu opened #3193 "使用opt进行模型转化时出现std::bad_alloc"
环境是paddle-lite docker镜像，版本2.3.0，编译出opt 工具之后使用，准备转化[paddleSeg图像分割模型](https://paddleseg.bj.bcebos.com/models/HumanSeg.tgz) 时出现std::bad_alloc错误，机器内存还有6g可用，请问如何解决
![Snipaste_2020-03-15_20-40-13](https://user-images.githubusercontent.com/42615458/76701552-329b0280-66fd-11ea-998b-12cab0251e30.png)

[2020-03-16 01:48] zhupengyang commented on #3174
[code]
在```build.lite.armlinux.armv7hf.gcc/inference_lite_lib.armlinux.armv7hf/python```目录下，有```lib```文件夹，包含python预测库

[2020-03-16 01:51] zhupengyang commented on #3175
路径里面含有中文字符，用全英文路径试试

[2020-03-16 02:17] fanxinkeji opened #3194 "paddle-lite部属，模型无法指定版本"
**Paddle Lite部署目前无法指定模型版本号加载保存。如目前pyramidbox_lite_mobile_mask最新版本已经是1.2.0，之前已有3个版本，却无法指定版本，也不知道保存到的是哪个版本的。**

Paddle Lite部署官方说明如下：
通过python执行以下代码，保存模型
import paddlehub as hub
pyramidbox_lite_mobile_mask = hub.Module(name="pyramidbox_lite_mobile_mask")
# 将模型保存在test_program文件夹之中
pyramidbox_lite_mobile_mask.processor.save_inference_model(dirname="test_program")
通过以上命令，可以获得人脸检测和口罩佩戴判断模型，分别存储在pyramidbo

[2020-03-16 03:22] xsbrsg opened #3198 "opt转换后的模型运行在c++demo中报错"
使用model_optimize_tool工具转换模型，没有报错，但是放到C++demo中运行时，报错：
terminating with uncaught exception of type std::invalid_argument: unmatched type, store as -1458682744, but want to get N6paddle4lite10TensorLiteE
/usr/local/google/buildbot/src/android/ndk-release-r17/external/libcxx/../../external/libcxxabi/src/abort_message.cpp:73: abort_message: assertion "terminating with uncaught exception of type std::in

[2020-03-16 04:01] lesterhnu commented on #3198
请问你用opt转换的时候 运行的机器内存是多大还有模型问价有多大

[2020-03-16 05:24] phojl commented on #3175
用全英文也一样， 在全英文路径下 修改 ARMContext& operator=(const ARMContext& ctx) {return *this;} 之后

paddle::lite::variant<Ts>::get_mutable() [with T = paddle::lite::TensorLite; Ts = {int, float, std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> >, paddle::lite::TensorLite, std::vector<paddle::lite::TensorLite, std::allocator<paddle::lite::TensorLite> >}]’:
/home/pi/桌面/paddle/Paddle-Li

[2020-03-16 05:55] xsbrsg commented on #3198
机器的运行内存是32G，转之前的模型文件就是通过
![3](https://user-images.githubusercontent.com/61486634/76726922-89501d00-678d-11ea-903e-47d9dc6306da.png)这个方式下载的，参数文件__param__.nb 2.9M，__model__.nb 114KB
![4](https://user-images.githubusercontent.com/61486634/76727001-c5837d80-678d-11ea-99c7-38abdbac1d71.png)

[2020-03-16 06:34] DannyIsFunny commented on #3193
你好,`--model_file=`需要指定模型文件名称，而不是指定文件夹路径。
 `--model_file=./`是不可以识别的，需要指定为`--model_file=./model`或者`--model_file=./__model__`。这里的model或者__model是你的模型文件的名称。

[2020-03-16 09:26] phojl commented on #3175
1)用全英文还是没法进行处理，出现同样的错误。
2)修改ARMContext^operator=(const ARMContext& ctx){return *this;}     之后进行编译 arm_abi = armv7hf 还是armv8，都出现同样错误
[  6%] Building CXX object lite/api/CMakeFiles/paddle_light_api_shared.dir/__/backends/arm/math/conv3x3s2p01_depthwise_fp32.cc.o
[  6%] Linking CXX static library libframework_nb.a
[  6%] Built target framework_nb
[  6%] Building CXX object lite/api/CMakeFiles/paddle_

[2020-03-16 13:23] lesterhnu commented on #3193
已解决

[2020-03-16 13:23] #3193 closed, assigned to DannyIsFunny

[2020-03-17 02:47] DannyIsFunny commented on #3194
你好，请问你指的版本是说Paddlehub的版本吗中指定的模型的版本吗，Paddle-Lite当前会在模型转化时保存opt的版本号，在预测时比对opt与预测库是否来自同一版本的paddle-lite源码

[2020-03-17 02:48] DannyIsFunny commented on #3194
您的需求是说希望Paddle-Lite提供一个接口输出模型中的Paddlehub   version吗

[2020-03-17 05:57] sharon-gu opened #3204 "mobilenet模型经opt转换后嵌入image_classification_demo运行失常"
你好 我用paddlehub迁移模型mobilenet后再用opt工具转成naive_buffer格式，将转后的best_model.nb和对应的标签文件替换到paddlelite image_classification_demo apk,安装到手机预测结果错误。。 请大神指导一下
 我的步骤：
1.cd PaddleHub/demo/image_classification
 2../run_classifier.sh --module=mobilenet --checkpoint_dir=./checkpoint --use_gpu=0
 3./run_predict.sh --module=mobilenet --checkpoint_dir=./checkpoint --use_gpu=0，预测自下载玫瑰图片为玫瑰--------正常。
4../../../Paddle-Lite

[2020-03-17 06:00] sharon-gu commented on #3204
第2步迁移得到的模型

[2020-03-17 06:06] sharon-gu commented on #3204
[best_model.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/4341686/best_model.zip)

[2020-03-17 06:13] sharon-gu commented on #3204
![meigui1](https://user-images.githubusercontent.com/61998984/76827254-5b380f00-6859-11ea-85bc-f306121a8b00.jpg)
![Screenshot_20200317_104135_com baidu paddle lite](https://user-images.githubusercontent.com/61998984/76827296-7014a280-6859-11ea-9b0a-7a438a7d92d1.jpg)

[2020-03-17 06:25] jiweibo commented on #3204
尝试复现中

[2020-03-17 07:44] AIpioneer commented on #3164
您好！暂时还没有，可以在https://github.com/PaddlePaddle/models中查看飞桨支持的模型。如果有需要求的话，可以在这个models的issue中提需求。

[2020-03-17 07:50] AIpioneer commented on #3163
你这是什么模型？确实有些还没支持

[2020-03-17 07:54] Shixiaowei02 commented on #3165
如果不是在端侧运行的话，请尝试一下 Paddle Fluid 的 Python 接口，https://github.com/PaddlePaddle/Paddle

[2020-03-17 09:04] hong19860320 commented on #3204
armlinux的demo预处理存在问题
https://github.com/PaddlePaddle/Paddle-Lite-Demo/blob/c1273d01eca0b601bd4757d1822db81e2ef13e48/PaddleLite-armlinux-demo/image_classification_demo/image_classification_demo.cc#L104
应该改为
*(input_data_c0++) = (*(image_data++) - input_mean[0]) / input_std[0];
*(input_data_c1++) = (*(image_data++) - input_mean[1]) / input_std[1];
*(input_data_c2++) = (*(image_data++) - input_mean[2

[2020-03-17 09:06] hong19860320 commented on #3204
@gfwm2013 麻烦更新下armlinux demo代码，注意确认detection_demo是否同样存在这个bug，谢谢。

[2020-03-17 09:19] sharon-gu commented on #3204
你好，能不能麻烦改下android demo，我是在android demo跑的. 参照armlinux的改动我也不太会改android。。

[2020-03-17 11:56] #3069 closed, assigned to jiweibo

[2020-03-18 06:39] KernelErr opened #3218 "使用Flutter做目标检测时出现库错误"
在尝试用Flutter结合Paddle-lite做一个实时目标检测的Demo，将Paddle-lite的官方Demo封装成了一个MethodChanel，结果发现每次检测新的一帧的时候都需要进行loadModel，否则检测一帧之后就会出现错误。使用的模型是Yolov3 Tiny。

报错信息：
[code]

Flutter信息：
[code]

[2020-03-18 06:46] chenjiaoAngel commented on #3103
这个demo已更新，可以单独跑一个功能的单测

[2020-03-18 10:23] #3103 closed, assigned to chenjiaoAngel

[2020-03-18 11:33] johnrayn opened #3223 "mobilenet ssd v3模型导入失败"
从tensorflow model下载预训练的模型http://download.tensorflow.org/models/object_detection/ssd_mobilenet_v3_small_coco_2019_08_14.tar.gz

用tensorflow object detection工具

[code]

再用

[code]

用opt检查
[code]
结果是正确的 “Paddle-Lite supports this model!”

但是

[code]
返回错误

[code]

[2020-03-18 13:20] myshadowL commented on #2977
你好，请问demo方便发我一份吗，搞了好几天实在不知道如何搞这个口罩的集成到Android里面，1510673264@qq.com麻烦您邮箱发我一下

[2020-03-18 15:17] #1729 closed, assigned to smilejames, xiebaiyuan

[2020-03-18 15:18] xiebaiyuan commented on #1632
可以使用paddle lite进行了，暂时关闭，有问题随时可以重新打开

[2020-03-18 15:18] #1632 closed, assigned to xiebaiyuan

[2020-03-18 15:19] xiebaiyuan commented on #1532
可以使用升级后的paddlelite进行推理了，暂时关闭，如果有需要可以随时打开

[2020-03-18 15:20] #1532 closed, assigned to xiebaiyuan, hjchen2

[2020-03-18 15:20] xiebaiyuan commented on #1391
可以使用最新的paddlelite进行推理，
如有问题可以随时打开

[2020-03-18 15:20] #1391 closed, assigned to xiebaiyuan, RayLiu2015, hjchen2

[2020-03-18 15:21] xiebaiyuan commented on #1658
可以使用最新的paddlelite进行推理，
暂时关闭

[2020-03-18 15:21] #1658 closed, assigned to ForceDaryl

[2020-03-18 15:23] xiebaiyuan commented on #1408
可以使用最新的paddlelite进行推理，
暂时关闭，如有需要可以随时打开

[2020-03-18 15:23] #1408 closed, assigned to hjchen2

[2020-03-19 03:16] xiebaiyuan commented on #1683
@luotao1 可以使用升级版的PaddleLite进行推理了，
暂时关闭，如果需要可以随时打开。

[2020-03-19 03:16] #1683 closed, assigned to nobody

[2020-03-19 03:17] xiebaiyuan commented on #1763
可以使用新版PaddleLite进行推理， 暂时关闭，如果需要可以随时打开

[2020-03-19 03:17] #1763 closed, assigned to nobody

[2020-03-19 03:18] xiebaiyuan commented on #1699
可以使用升级后的PaddeLite进行推理，
暂时关闭，如有需要可以随时打开

[2020-03-19 03:18] #1699 closed, assigned to nobody

[2020-03-19 03:19] xiebaiyuan commented on #1559
可以使用升级后的PaddleLite进行推理，
如有需要可以随时重新打开

[2020-03-19 03:19] #1559 closed, assigned to hong19860320, hjchen2

[2020-03-19 03:20] xiebaiyuan commented on #1761
可以使用升级后的PaddleLite进行推理，
如有需要可以随时重新打开

[2020-03-19 03:20] #1761 closed, assigned to nobody

[2020-03-19 03:21] xiebaiyuan commented on #1593
可以使用升级后的PaddleLite进行推理，
如有需要可以随时重新打开

[2020-03-19 03:21] #1593 closed, assigned to ysh329, smilejames

[2020-03-19 03:23] xiebaiyuan commented on #2024
可以使用升级后的PaddleLite进行推理，
如有需要可以随时重新打开

[2020-03-19 03:23] #2024 closed, assigned to nobody

[2020-03-19 03:24] xiebaiyuan commented on #1774
可以使用升级后的PaddleLite进行推理，
如有需要可以随时重新打开

[2020-03-19 03:24] #1774 closed, assigned to nobody

[2020-03-19 03:33] NazgulLee commented on #2337
资源文件可从[这里](http://mms-graph.bj.bcebos.com/paddle-mobile%2FmodelsAndImages.zip)下载。如果还有引用的资源不存在，删除引用即可。

[2020-03-19 04:27] sharon-gu commented on #3204
按Refine pre_process error in armlinux demo #48 修改了，并且在armlinux上验证，玫瑰依然预测为蒲公英。。
我看到另外一个issue：https://github.com/PaddlePaddle/Paddle-Lite/issues/2870  也是转换后的模型嵌入lite demo运行异常，我感觉opt转换工具的问题也不能排除。。

[2020-03-19 05:42] sharon-gu commented on #3204
你好，我看了下#48的修改，i在上一个for循环后已经等于image_size，所以不会进入修改过的这个for循环，这块改吗改不改影响都不大。
再者armlinux demo和android demo都运行异常，我觉得demo预处理的问题概率小些，opt转换的问题概率更大些

[2020-03-19 12:47] fanxinkeji opened #3232 "paddle-lite 批量预测的支持"
paddlelite 是不是可以做批量预测，我在paddlelite QQ群里问pyramidbox_lite_mobile_mask 模型的batch_size参数，有网友说可以直接增加一个batch_size的维度就行，真是这样吗？预测结果也加一个维度并且与输入batch_size的维度值相同？ 能否在paddlelite使用文档里给一个说明和用例。

[2020-03-20 02:42] fanxinkeji commented on #3194
模型的版本。
pyramidbox_lite_mobile_mask = hub.Module(name="pyramidbox_lite_mobile_mask")
变为类似这样的，指定模型版本为1.2.0版本==>
pyramidbox_lite_mobile_mask = hub.Module(name="pyramidbox_lite_mobile_maskv1.2.0")

[2020-03-20 06:03] hong19860320 commented on #3204
不好意思，看错了，以为rk3288涉及到的是armlinux demo的问题，麻烦提供下标签文件，我们在android demo上复现下。

[2020-03-20 06:07] sharon-gu commented on #3204
好的 谢谢
标签文件：
[label.txt](https://github.com/PaddlePaddle/Paddle-Lite/files/4358125/label.txt)

[2020-03-20 08:34] KernelErr commented on #3218
手动编译一遍预测库即可解决问题，注意NDK版本需要使用推荐版本。

[2020-03-20 08:34] #3218 closed, assigned to DannyIsFunny

[2020-03-23 02:55] sharon-gu commented on #3204
把paddle-lite 的demo 均值改为0 方差改为1 ，预测结果就对了。。
sorry, my  fault !
close issue.

[2020-03-23 02:55] sharon-gu commented on #3204
把paddle-lite 的demo 均值改为0 方差改为1 ，预测结果就对了。。
sorry, my  fault !
close issue.

[2020-03-23 02:55] #3204 closed, assigned to gfwm2013

[2020-03-23 03:01] wk37 commented on #2977
同求demo

[2020-03-23 07:49] wk37 opened #3247 "请问能否提供android口罩识别demo"
看了C++那个demo说明，以及其他的官方文档，发现要用C++那个模型，要用opt转，好像opt又要python，还要下一堆的库，感觉有点复杂，然后其他人转出来好像也有问题，所以想问下什么时候能出个 android 的 口罩识别的官方demo？当然，也有看到有其他小伙伴自己用yolo3的训练模型demo，但是那个库文件太大了，90+MB。。。

[2020-03-23 17:02] xiebaiyuan opened #3254 "optimise lite conv2d 5x5 7x7"
optimise lite conv2d 5x5 7x7

[2020-03-24 01:08] zjd1988 opened #3255 "看文档说，NPU只支持华为自研的达芬奇架构，华为手机上的寒武纪NPU后续还有支持的计划吗？"
![paddle_problem](https://user-images.githubusercontent.com/7134030/77377733-fb88b900-6dae-11ea-94d4-db7ad8d23ddc.png)

[2020-03-24 01:12] zjd1988 opened #3256 "cuda后端的benchmark可以在哪可以看到吗？"
paddle-lite的cuda后端有没有相对于tensorflow的benchmark的对比实验呢？

[2020-03-24 01:33] #3254 closed, assigned to xiebaiyuan

[2020-03-24 02:16] zhupengyang commented on #3256
- 目前支持的OP不多，暂时没有这样的数据。还在持续开发中。
- 服务器模型部署目前推荐paddle-inference。[参考文档](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/index_cn.html)

[2020-03-24 02:19] zhupengyang commented on #3255
没有。华为后面会切换到自家的NPU，所以也基本不会支持华为手机上的寒武纪NPU

[2020-03-24 02:39] xiebaiyuan opened #3259 "opencl conv2d support multi batch"
opencl conv2d support multi batch

[2020-03-24 02:51] 841384426 opened #3261 "paddle-lite口罩分类模型android端部署，识别错误率高"
模型来源：hub下载
import paddlehub as hub
pyramidbox_lite_mobile_mask = hub.Module(name="pyramidbox_lite_mobile_mask")
pyramidbox_lite_mobile_mask.processor.save_inference_model(dirname="test_program")
并用opt转化为android端适用的模型

输入:
图片是根据人脸检测检测到的人脸框截取的人脸部分
图片已经缩放到128*128
inputShape ={1,3,128,128};
图片预处理代码

inputColorFormat=“RGB”
inputMean={0.5f,0.5f,0.5f};
inputStd={1.0f,1.0f,1.0f}；

private float[] process(

[2020-03-24 03:19] zjd1988 commented on #3255
@zhupengyang  嗯嗯，谢谢大佬回复。

[2020-03-24 03:20] zjd1988 commented on #3256
@zhupengyang  嗯嗯，谢谢大佬回复。

[2020-03-24 03:20] #3256 closed, assigned to nobody

[2020-03-24 03:20] #3255 closed, assigned to nobody

[2020-03-24 05:00] #3259 closed, assigned to xiebaiyuan

[2020-03-24 05:12] zhupengyang commented on #3261
请参考口罩检测的[c++ demo](https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/demo/cxx/mask_detection/mask_detection.cc)中的预处理方式

[2020-03-24 06:07] 841384426 commented on #3261
就是参考c++demo改的呢

[2020-03-24 06:07] 841384426 commented on #3261
就是参考c++demo改的呢

[2020-03-24 06:29] zhupengyang commented on #3261
- 测试图片在paddlehub上试过吗？是否可以确定模型是没有问题的(同样的图片，paddlehub和paddlelite的结果是否有diff)。
- 如果是paddlehub和paddlelite的结果不同，需要确定下是否两者的预处理方式一致，模型的最终输入和输出是否有diff

[2020-03-24 06:36] 841384426 commented on #3261
没有在paddlehub测试，我是android端视频实时测试的，测试的时候，戴黑口罩的阈值基本在0.1，不戴口罩时阈值在0.01-0.4浮动，戴白口罩基本正常在0.5以上，只是快速转头会导致阈值偶尔低于0.2，我先用paddlehub对比下再看

[2020-03-24 07:32] sonixixi opened #3264 "加载 crop 层的模型 崩溃"
(gdb) bt
#0  0x0000007fb7ded338 in paddle::lite::OpLite::Attach(paddle::lite::cpp::OpDesc const&, paddle::lite::Scope*)
#1  0x0000007fb7ded9a0 in paddle::lite::Program::Build(paddle::lite::cpp::ProgramDesc const&)
#2  0x0000007fb7e4ea0c in paddle::lite::LightPredictor::BuildRuntimeProgram(paddle::lite::cpp::ProgramDesc const&)

## 崩溃信息

[2020-03-24 08:28] ysh329 commented on #3223
[code]
执行前先执行`export GLOG_v=9`，然后看看log显示啥

[2020-03-24 08:28] AIpioneer commented on #3247
https://github.com/PaddlePaddle/Paddle-Lite/tree/develop/lite/demo/cxx  官方的demo在这里啊  请问你是要怎么用呢

[2020-03-24 08:35] AIpioneer commented on #3261
你使用的是1.2.0最新版的模型吗

[2020-03-24 08:40] 841384426 commented on #3261
是的

[2020-03-24 09:30] xiaoranchenwai opened #3266 "运行转换后的MobileNetV1-Yolov3模型时报错"
使用转换后的MobileNetV1-Yolov3模型在初始化模型这一步报错
  std::shared_ptr<paddle::lite_api::PaddlePredictor> predictor =
      paddle::lite_api::CreatePaddlePredictor<paddle::lite_api::MobileConfig>(config);

错误信息:
*** glibc detected *** ./classific: double free or corruption (top): 0x006ae6b8 ***
Aborted

[2020-03-24 09:49] xiaoranchenwai commented on #3266
MobileNetV1-Yolov3是用opt转换成的一个.nb文件，config设置如下:
config.set_model_dir(model_dir);
  config.set_threads(CPU_THREAD_NUM);
  config.set_power_mode(CPU_POWER_MODE);

[2020-03-24 12:32] zhupengyang commented on #3266
最新版本应该用```set_model_from_file```加载单个的```.nb```模型

[2020-03-24 12:38] zhupengyang commented on #3264
可以提供下paddle模型链接吗？（opt转换前的模型）

[2020-03-24 12:46] johnrayn commented on #3223
log文件 [opt.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/4375294/opt.zip)

[2020-03-24 12:52] xiaoranchenwai commented on #3266
不好意思，上面我写错了，我用的是
config.set_model_from_file(model_dir);
config.set_threads(CPU_THREAD_NUM);
config.set_power_mode(CPU_POWER_MODE);

之前用的config.set_model_dir(model_dir);出现Segmentation fault的错误，后面才更新的

[2020-03-24 12:59] zhupengyang commented on #3266
方便提供一下paddle模型的链接吗？

[2020-03-24 14:21] xiaoranchenwai commented on #3266
链接：https://pan.baidu.com/s/1Mwc1GXdxGwvDZKiBqBoeOQ
提取码：cy7p
麻烦你帮忙看看，谢谢

[2020-03-24 14:34] zhupengyang commented on #3266
需要转换前的模型。```.nb```的模型不太方便调试

[2020-03-24 14:50] xiaoranchenwai commented on #3266
链接: https://pan.baidu.com/s/1H1OYgKDgxTkYyzwHvNAysA 提取码: p4uu
麻烦了，谢谢

[2020-03-24 19:11] Sunny-Cove opened #3269 "x86预测API使用示例中，载入INT8模型的问题"
我的目的是，想在Intel Core i9-10900X（μCode: Cascade Lake）上测试VNNI指令集，验证VNNI指令集对INT8精度的模型的加速效果，但是没有成功，有些问题需要请教。我操作的步骤如下：
1、复现FP32模型的运行，将x86预测API使用示例中的demo附带的MobileNetV1模型使用OPT工具转化为combined形式，同时修改mobilenet_full_api.cc的输入，使其能够读取combined形式的模型，编译后成功读取转化后的模型并得出正确结果，如图所示
![float_run](https://user-images.githubusercontent.com/62617579/77465973-7f40b500-6e44-11ea-84a1-fc252228cfe1.png)
图中的终端的输入框展示了运行OPT工具时的命令以及运行de

[2020-03-24 23:14] yongqiangma commented on #3232
以https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/api/mobilenetv1_test.cc为例，若DEFINE_int32(N, 1, "input_batch");改为2，此时input_tensor shape为2x3x224x224，相应的auto* out = predictor.GetOutput(0);获取的输出out的shape变为2x1000。

[2020-03-25 01:52] wk37 commented on #3247
这个是c++的demo，不是android的

[2020-03-25 02:01] zhupengyang commented on #3266
- 我本地试了下没有问题。要不你用develop的分支代码编译试下?
- 可以检查下```set_model_from_file```是不是指定到了```.nb```的文件
- 检查下第二个输入是不是设置了，且类型为```int32```

[2020-03-25 02:04] sonixixi commented on #3264
@zhupengyang 貌似是因为我没有打开全量Op开关，创建 crop op出来的指针为 nullptr, 导致后续崩溃

[2020-03-25 02:06] sonixixi commented on #3264
我转的是 retinaface

[2020-03-25 02:30] xiaoranchenwai commented on #3266
解决了，set_model_from_file是要指定到.nb文件，我之前一直以为是到文件夹，谢谢

[2020-03-25 02:31] #3266 closed, assigned to zhupengyang

[2020-03-25 06:45] #3264 closed, assigned to zhupengyang

[2020-03-25 07:44] ysh329 commented on #3198
可以在跑下，跑之前export GLOG_v=9，看下更多的log报错

[2020-03-25 07:52] AIpioneer commented on #3194
https://www.paddlepaddle.org.cn/hubdetail?name=pyramidbox_lite_mobile_mask&en_category=ObjectDetection
模型的版本需要在paddlehub一侧实现。存完之后的模型，才能够继续通过opt转换，并进一步用在paddle lite上面

[2020-03-25 08:00] juncaipeng commented on #3198
是在develop分支还是2.3分支啊？

[2020-03-25 11:05] ysh329 commented on #3149
[LITE][OPENCL] Fix elemmul kernel of opencl by ysh329 · Pull Request #3272 · PaddlePaddle/Paddle-Lite
https://github.com/PaddlePaddle/Paddle-Lite/pull/3272/files

[2020-03-26 03:00] pmshst opened #3277 "paddle-Lite 关于LITE_WITH_PROFILE的文档没有发现"
paddle-Lite 关于LITE_WITH_PROFILE的文档没有发现

[2020-03-26 06:14] czhu15 opened #3279 "最新代码x86 test_model_bin运行失败"
编译x86后，运行test_model_bin会出现如下错误：
F0326 12:57:57.831879 13341 program.cc:182] Check failed: op no Op found for feed

我的编译过程：
./lite/tools/build.sh x86
运行命令：
./test_model_bin --model_dir mobilenet_v1

大概跟踪了一下，发现LiteOpRegistry::Global()是空的，应该是OP都没有注册上去。

[2020-03-26 07:55] lesterhnu opened #3280 "移动端安装人像分割demo,为啥抠出来效果并不好，demo示例效果不错"
请问是什么问题
![image](https://user-images.githubusercontent.com/42615458/77622873-093e6a00-6f7a-11ea-9ec9-9f6ed75585f6.png)

[2020-03-26 08:28] juncaipeng commented on #3280
这是自己选择的图片吗？不同场景的图片效果有一定差异。

[2020-03-26 08:31] lesterhnu commented on #3280
是自己选择的图片，试了好多，基本上都是这个样子，无法完全识别到人像，请问这个移动端的模型是不是精度不太行

[2020-03-26 09:18] juncaipeng commented on #3280
应该不是，移动端和服务器端精度是可以达到一致的，可能是这个模型泛化能力不强。
你可以试用一下其他模型。

[2020-03-26 09:23] juncaipeng commented on #3269
对的，现在int8量化模型只支持在arm端运行。

[2020-03-26 09:24] juncaipeng commented on #3277
请参考：https://paddle-lite.readthedocs.io/zh/latest/user_guides/debug.html

[2020-03-26 10:04] DannyIsFunny opened #3284 "[dev] op_registry 需要重构，Paddle-Lite 新增backends方法降低体积增量"
问题描述：新增寒武纪target时，新增context、target_type、op_registry，未注册新op时。导致Android预测库体积增加0.028M。高于预期期望。
修改链接：https://github.com/Cambricon/Paddle-Lite/commit/91c48a09ed55e9d3798a93079749a5384564b27e
PR链接：https://github.com/PaddlePaddle/Paddle-Lite/pull/3275
重构方法：改善Paddle-Lite框架中新增backends部分代码结构，降低”新增backend“时预测库体积的增量。

https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/core/op_registry.h#L438

可以把这里的

[2020-03-27 02:00] #3247 closed, assigned to hong19860320

[2020-03-28 03:17] MaxwellDing opened #3291 "框架中注入了不需要的符号"
1. 当打开LITE_WITH_PYTHON时，libpaddle_full_api_shared.so和libpaddle_light_api_shared.so以及静态库中注入了python的符号，导致c++的app不链接python库就无法编译
2. 当打开WITH_TESTING时，libpaddle_full_api_shared.so和libpaddle_light_api_shared.so以及静态库中注入了gtest的符号，导致c++的app不链接gtest库就无法编译，python的app无法使用

[2020-03-28 06:08] MaxwellDing commented on #3165
paddle-lite有一套python的api啊，亲测可用，虽然功能还少了点

[2020-03-28 06:12] MaxwellDing opened #3292 "model_parser中调用了protobuf即将废弃的接口"
model_parser.cc中调用了ByteSize接口，该接口在最新的protobuf仓库已废弃，编译器选项标为deprecated，使用最新的protobuf编译paddlelite会直接被Werror挂掉，建议改为替代接口ByteSizeLong，返回值为size_t，也更符合语义

[2020-03-28 07:39] ysh329 commented on #3149
[LITE][API] add support int64_t for CopyFromCpu / CopyToCpu by ysh329 · Pull Request #3286 · PaddlePaddle/Paddle-Lite
https://github.com/PaddlePaddle/Paddle-Lite/pull/3286/files

[2020-03-30 07:01] sonixixi commented on #2196
@Superjomn 是不是可以用 conv2d_transpose (group = 卷积核个数)替换

[2020-03-31 02:47] DannyIsFunny commented on #3291
你好，已经提交修复的PR ：https://github.com/PaddlePaddle/Paddle-Lite/pull/3203

[2020-03-31 05:51] AIpioneer commented on #3291
@MaxwellDing 请问你有加入paddle lite的qq群（696965088）吗？方便透露qq id吗

[2020-03-31 05:55] sonixixi opened #3303 "pyramidbox_lite_mobile 加载出错"
复现步骤: 平台 tx2 ,  v2.3.0 源码编译
1. paddlehub
`
import paddlehub as hub

module = hub.Module(name="pyramidbox_lite_mobile")

print(module.version)

module.processor.save_inference_model(dirname="pyramidbox_lite_mobile")
`

2. 转换为lite格式
`opt_mac --model_file=pyramidbox_lite_mobile/__model__ --param_file=pyramidbox_lite_mobile/__params__ --valid_targets=arm --optimize_out_type=naive_buffer --optimize_out

[2020-03-31 06:49] MaxwellDing commented on #3291
有加入群，id是养喵人（2724181546）

[2020-04-01 02:54] juncaipeng commented on #3279
请问还有该问题吗？最近修过相关问题。

[2020-04-01 05:21] jiweibo commented on #3303
已在armv8终端复现

[2020-04-01 07:57] MaxwellDing opened #3313 "develop分支打开LITE_WITH_PROFILER编译出错"
`lite/core/profile/precision_profiler.h:102:22:error: ‘pow’ was not declared in this scope
       variance += pow((in[i] - mean), 2);
[code]

[2020-04-01 08:07] czhu15 commented on #3279
你好，非常感谢你的回复。不过我试了今天的代码，还是有同样的问题。
log 如下：

~/code/paddle-lite/Paddle-Lite/build.lite.x86/lite/api$ ./test_model_bin --model_dir ./mobilenet_v1/
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0401 16:11:02.598161  3467 model_test.cc:198] input shapes: 1,3,224,224
I0401 16:11:02.598341  3467 model_test.cc:202] input shape: 1,3,224,224
I0401 16:11:02.598372  3467 cxx_api.cc:245] Loa

[2020-04-01 08:11] DannyIsFunny commented on #3292
你好，我们已经提交修复代码，感谢反馈
https://github.com/PaddlePaddle/Paddle-Lite/pull/3314

[2020-04-02 02:35] #3277 closed, assigned to juncaipeng

[2020-04-02 02:35] #3269 closed, assigned to ysh329

[2020-04-02 03:25] sonixixi commented on #3303
使用 v2.3.0 release包 中的 armlinux.armv8 库 就没有问题， 自己编译v2.3.0的就有问题

[2020-04-02 05:03] juncaipeng opened #3321 "[Usability]将.nb格式的模型改为.plite格式（或者.pdlite）"

[2020-04-02 05:05] juncaipeng opened #3322 "[Usability]自动判断Combined与Uncombined，opt后仅通过一个参数指定要优化模型。避免combined和uncombined各自使用的参数不统一。"

[2020-04-02 05:06] juncaipeng opened #3323 "[Usability]opt工具命令中，–optimize_out_type默认类型为naive_buffer, 而非使用protobuf."

[2020-04-02 05:09] juncaipeng opened #3324 "[Usability]编译命令中的 target，可以去除，以免让用户理解tiny publish和full publish的概念。其中test选项无需暴露出来给用户。ios的选项应直接为tiny publish即可。而full publish，亦无需暴露给用户。"

[2020-04-02 05:11] juncaipeng opened #3325 "[Usability]build_extra在何时用，何时不用，已知模型，如何快速判断用还是不用。提供相关的使用方法。"

[2020-04-02 05:13] juncaipeng opened #3326 "https://paddle-lite.readthedocs.io/zh/latest/user_guides/library.html 该文档没有在左侧的侧边栏中，需要体现出来。"

[2020-04-02 05:14] juncaipeng opened #3327 "[FAQ]static与shared的区别是什么，各自有什么应用场景。"
doc

[2020-04-02 05:16] juncaipeng opened #3328 "[Usability]预测库参数使用优化，–arm_lang默认选项设置为gcc，–android_stl默认设置为c++_shared"

[2020-04-02 05:16] juncaipeng opened #3329 "[Usability]对于android，ios，NPU，FPGA，寒武纪，比特大陆等不同硬件，各自提供不同的编译脚本。供用户选择进行编译。"

[2020-04-02 05:23] juncaipeng opened #3330 "[FAQ]树莓派3b，4等选择哪个参数，与系统32位或者64位的关系。备：树莓派3b使用armv7hf，RK3399使用armv8"
请更新文档。

[2020-04-02 05:24] juncaipeng opened #3331 "[Usability]预测库编译参数优化。-arm-os中，将ios与ios64统一为ios。"

[2020-04-02 05:24] juncaipeng opened #3332 "[Usability]提供环境安装的命令（一行实现环境准备，对环境进行check，如果环境已经装有需求的版本，则无需再安装。"

[2020-04-02 05:26] juncaipeng opened #3333 "[Usability]预测库编译时，对android和iOS支持的版本一致。比如在mac上编译时，cmake版本对安卓和iOS的要求分别是3.10和3.15。期望改为均是3.10+。"

[2020-04-02 05:26] juncaipeng opened #3334 "[Usability]预测库编译支持windows"

[2020-04-02 05:27] juncaipeng opened #3335 "[Usability]根据模型裁剪库文件，对于combined的模型集合，考虑去除--model_filename, --para_filename参数"

[2020-04-02 05:29] juncaipeng opened #3336 "[Usability]根据模型裁剪库文件的整体功能，通过脚本实现。文档表明属于进阶文档。"

[2020-04-02 05:29] juncaipeng opened #3337 "[Usability]opt工具命令中， –optimize_out 直接简化名称，改为-out"

[2020-04-02 05:30] juncaipeng opened #3338 "[Usability]支持命令行工具实现一键从其他到模型到lite优化模型的转换。比如x2paddle –framework tensorflow –model=tensorflow.pb –out=model_result"

[2020-04-02 05:30] juncaipeng opened #3339 "[Usability]编译时长优化,降低时长"

[2020-04-02 05:31] juncaipeng opened #3340 "[FAQ]如何快速判断使用armv7,armv8，还是armv7hf,除了这三种以外，是否还有其他？"

[2020-04-02 10:12] AnBaolei1984 opened #3342 "docker环境gcc glibc版本过高"
这会导致在一些glibc低版本的机器上出现错误。glibc降级本身是个很麻烦的问题，docker环境为什么要用gcc 5.4、glibc 2.23 这么高的版本呢？

[2020-04-02 10:48] DannyIsFunny commented on #3313
你好，请问具体的编译命令是什么呢

[2020-04-02 11:14] MaxwellDing commented on #3313
cmake .. \
         -DWITH_LITE=ON \
         -DLITE_WITH_LIGHT_WEIGHT_FRAMEWORK=OFF \
         -DLITE_WITH_ARM=OFF \
          -DWITH_GPU=OFF \
        -DWITH_MKLDNN=OFF \
        -DLITE_WITH_X86=ON \
        -DWITH_MKL=ON \
        -DLITE_WITH_PYTHON=OFF \
         -DLITE_BUILD_EXTRA=OFF \
         -DLITE_WITH_PROFILE=ON

make all -j8

[2020-04-02 11:37] ysh329 commented on #3313
你试一下`#include <cmath>`

[2020-04-02 11:47] MaxwellDing commented on #3313
我提issue是希望你们修掉这个bug

[2020-04-02 12:11] ysh329 commented on #3313
[LITE][PROFILE] Fix header for precision profiler. test=develop by ysh329 · Pull Request #3343 · PaddlePaddle/Paddle-Lite
https://github.com/PaddlePaddle/Paddle-Lite/pull/3343

[2020-04-02 12:55] Superjomn commented on #3342
可以用个低版本的 ubuntu docker，然后走 linux 编译的方法，应该也能解决问题。

docker 目前只提供了一种环境。 具体如果对 glibc 等环境有特定要求的可以用相应的环境来编译，不一定是 docker。

[2020-04-03 01:56] AnBaolei1984 commented on #3342
好的，谢谢

[2020-04-03 01:56] #3342 closed, assigned to Superjomn, yongqiangma

[2020-04-03 05:49] AnBaolei1984 opened #3345 "reshape InferShape CoreDump, shape_tensor->data<int>() 为nullptr"
<img width="545" alt="ca530c55846413e352a5dad6a410a636" src="https://user-images.githubusercontent.com/49897975/78328506-e5020f00-75b1-11ea-85e0-57e10b8fa791.png">
<img width="221" alt="b2617e046e90087f22d2c4da472cc352" src="https://user-images.githubusercontent.com/49897975/78328510-e92e2c80-75b1-11ea-9673-f75710647625.png">
<img width="320" alt="b7a8b01f493968d2a5361eb3d2debd5d" src="https://use

[2020-04-03 06:03] rupei110 opened #3346 "在jetson tx2上编译遇到问题：/math/cudnn_conv.cc:569:1: error: control reaches end of non-void function [-Werror=return-type] }"
参考的 https://paddlepaddle.github.io/Paddle-Lite/v2.2.0/cuda/
编译命令就是 ./lite/tools/build.sh cuda
![2](https://user-images.githubusercontent.com/50095586/78329274-d1f03e80-75b3-11ea-83d9-b2b30adc8bda.png)

![1](https://user-images.githubusercontent.com/50095586/78329208-ab320800-75b3-11ea-86ab-3e0166e364f8.png)

[2020-04-03 06:43] ysh329 commented on #3313
merge了

[2020-04-03 06:44] #3313 closed, assigned to DannyIsFunny

[2020-04-03 06:46] ysh329 commented on #3321
<img width="1114" alt="WX20200403-144604@2x" src="https://user-images.githubusercontent.com/7320657/78332093-e9cac100-75b9-11ea-8605-ffe4e63de4f9.png">

[2020-04-03 06:46] ysh329 commented on #3321
选项 | 计数 | 占比 [总样本量：19]
-- | -- | --
mobilenetv1.paddlelite | 1 | 5.2%
mobilenetv1.pdlite | 4 | 21%
mobilenetv1.plite | 7 | 36.8%
mobilenetv1.pdl | 2 | 10.5%
mobilenetv1.pl | 5 | 26.3%
以上我都不喜欢，我喜欢的后缀名是 | 0 | 0%

[2020-04-06 09:21] AnBaolei1984 commented on #3345
我分析了这个问题。因为reshape的shape输入是assign_value的输出。但是在infer_shape的时候，assign_value因为还没有计算所以输出的tensor是空的。导致reshape的输入shape_tensor为空。请lite的同学看一下怎么修改比较合理。

[2020-04-07 02:38] juncaipeng opened #3350 "文档中包含常见问题和解答"

[2020-04-07 02:55] yuhaoluo opened #3351 "使用v2.3 opt转换原始口罩模型生成.nb模型后检测不到人脸"
opt是用v2.3的代码自行编译，原始模型是下载的pyramidbox_lite_mobile_mask。
由于我想做模型量化，所以需要自己转换模型。但是发现新版本转换生成.nb模型检测不到人脸。
我尝试先不量化模型，直接由原始模型使用opt转换，但还是检测不到人脸。代码直接使用原始的mask_detection.cc代码，只是将载入模型改成`config.set_model_from_file(XXX)`

opt转换命令如下：
[code]

[code]

[2020-04-07 02:55] ICEORY opened #3352 "opt 工具中 valid_target 没有cuda选项"
- paddle-lite version: 2.3.0
- 问题： opt 工具中 valid_target 没有cuda选项，而支持算子中有单独将cuda支持的算子列出。那如何针对cuda平台使用opt工具生成优化模型？
- 尝试过将valid_target 设置为x86，但存在上采样、反卷积等操作不支持（这些操作在cuda算子那一列中是支持的）

[2020-04-07 03:21] zhupengyang commented on #3351
- opt转换命令看上去没有问题
- 用paddlehub是否可以检测到人脸？（确认原始模型是否有问题，如果是模型精度问题可以去paddlehub的repo提issue）
- 检测不到人脸是指没有显示出检测框，还是预测结果是错误的？
    - 如果是数值结果正确，但是没有显示检测框，检查下后处理方式是否有变化（或者是否有后处理）
    - 如果是数值错误，可以用paddlepaddle载入原始模型进行预测，输出的数值结果和paddlelite的进行对比。（从数值判断是否是转换后的模型的精度和转换前不同）（需要注意预处理方式保持一致）

[2020-04-07 03:26] yuhaoluo commented on #3351
1 、paddlehub还没尝试，等会试试。
2、我用之前直接下载的旧版模型包含（__model__.nb param.nb）是可以检测到人脸的）
3、程序运行是正确的，没有报任何错误，只是确实是没有检测的人脸，我也尝试调低了detect_threshold为0.01

[2020-04-07 03:32] zhupengyang commented on #3352
- 目前支持的cuda kernel比较有限，还是推荐使用[fluid_inference](https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_guide/inference_deployment/inference/build_and_install_lib_cn.html)进行cuda的预测
- 目前没有开放opt的cuda选项
    - 如果希望使用lite的cuda kernel预测，可以尝试使用[cxx_config](https://paddle-lite.readthedocs.io/zh/latest/api_reference/cxx_api_doc.html#cxxconfig)接口来载入原始模型(不需要opt转换)，并通过[set_valid_places](https://paddle-l

[2020-04-07 04:12] yuhaoluo commented on #3351
刚刚使用paddlehub示例代码运行
`module = hub.Module(name="pyramidbox_lite_mobile_mask")`
`input_dict = {"image": ["test.jpg"]}`
`for data in module.face_detection(data=input_dict):`
 `     print(data)`

在相同图片（官方提供的test.jpg)上检测出了人脸(但有一个漏检，之前下载的arm版本，可以检测出两个人脸），然后我重新下载了模型，并使用opt重新转换。这次检测出了人脸，但是检测出的人脸是错误的，是不是可以推断是模型精度问题。

[2020-04-07 04:19] zhupengyang commented on #3351
- paddlehub检测出的结果也是错误的吗？paddlehub和paddlelite的结果是否相同？如果是，那么可以确定模型有精度问题

[2020-04-07 04:22] yuhaoluo commented on #3351
-- paddlehub检测是对的，但是漏检了一个人脸
-- 而使用官方下载的转换好的arm版本模型能检测两个人脸
-- 我自己用opt转换的arm模型在嵌入式端预测结果是错误的

[2020-04-07 05:04] zhupengyang commented on #3351
- 确定模型预处理和后处理方式一致吗？会不会是paddlehub的模型更新后，有些预处理参数变了呢，比如通道均值方差之类的？

[2020-04-07 06:16] yuhaoluo commented on #3351
对paddlehub没有使用经验，python的API隐藏了预处理方式，不太清楚这是否有变化。

[2020-04-07 06:35] zhupengyang commented on #3351
看上去paddlehub的[mask预处理参数](https://github.com/PaddlePaddle/PaddleHub/blob/8702591bf226fa7fc8de514da2ffc64f748241a3/demo/mask_detection/cpp/main.cc#L36)和lite的demo[预处理参数](https://github.com/PaddlePaddle/Paddle-Lite/blob/af79018f800b3f0a362cc503e83d32faeaf2912a/lite/demo/cxx/mask_detection/mask_detection.cc#L154)不一样，你改下试试？

[2020-04-07 06:48] yuhaoluo commented on #3351
按照paddlehub的mean取值，将lite的det_means = {104.f, 117.f, 123.f} 改成{104.f, 177.f, 123.f}。检测结果还是错误的。

[2020-04-07 06:59] yuhaoluo commented on #3351
不知道您那边是否方便执行一遍我的操作，使用v2.3的opt进行模型转换成arm版本，然后在嵌入式端运行，查看是否会出现我所述的问题。我这边是armlinux平台运行，您那边如果没有，可以试试安卓端。

[2020-04-07 10:32] huxianhe0 opened #3355 "fatal: no tag exactly matches '3ddd9ed46de2f8d1a1b98fae2873afbf533fd89f'"
fatal: no tag exactly matches '3ddd9ed46de2f8d1a1b98fae2873afbf533fd89f'
-- publish inference lib to /Paddle-Lite/build_cuda/inference_lite_lib
-- Configuring incomplete, errors occurred!

本地和docker等多个环境下，搭建使用cuda的预测环境，均出现这个错误，求助各位paddle大神！

命令为：./lite/tools/build.sh --build_python=ON cuda

docker环境中有安装好cuda环境，本地多次尝试也是反复出错。

![Image text](https://github.com/huxianhe0/Pictures/blob/master/2020-04-0

[2020-04-07 11:16] MaxwellDing opened #3356 "tensor和slice的内存问题"
测试yolov3网络，当batchsize大于1时，出现段错误，经使用sanitizer检查，发现multiclassnms存在heap buffer overflow。
错误原因：multiclassnms中进行nms运算时会按n方向使用slice接口拆分，内存浅拷贝，但由于tensor内存是lazy malloc的，在拆分tensor时并没有malloc，拆分开的每一个tensor单独进行malloc，导致内存踩踏，每次报错不一，有double free， invalid next size，corrupted double-linked list，smallbin double linked list corrupted等
workarround：在拆分tensor之前调用mutable_data进行malloc，不再出错
推荐后面处理一下tensor与slice共享内存的逻辑

[2020-04-08 02:52] zhupengyang commented on #3356
- #3317
这个问题应该在develop分支上修复了，可以拉develop分支编译预测库

[2020-04-08 03:11] jiweibo commented on #3355
请问有更详细的信息吗，可以把CMakeOutput.log和CMakeError.log的信息贴上来吗？

[2020-04-08 04:00] zhupengyang commented on #3352
- [cuda使用示例](https://paddle-lite.readthedocs.io/zh/latest/demo_guides/cuda.html)。
- 不需要opt转换模型

[2020-04-08 04:20] peterlhj opened #3359 "Armlinux编译Paddle-Lite， build_python=ON到99%失败"
树莓派4B，系统：Linux raspberrypi 4.19.57-v7l+ #1244 SMP Thu Jul 4 18:48:07 BST 2019 armv7l GNU/Linux
cmake version 3.13.4
编译命令：./lite/tools/build.sh      --arm_os=armlinux     --arm_abi=armv7hf     --arm_lang=gcc    --build_python=ON     tiny_publish

[ 99%] Built target paddle_api_light
Scanning dependencies of target lite_pybind
Scanning dependencies of target bundle_light_api
[ 99%] Bundling paddle_a

[2020-04-08 04:20] MaxwellDing commented on #3356
这应该只是一个workaround吧？我本地也是这样做的。后面tensor和slice共享内存的逻辑会进行修改吗？比如在取slice的接口里面调用mutable_data或者其他接口malloc

[2020-04-08 04:42] zhupengyang commented on #3356
这个牵涉的范围太大了，短期内大概，，可能，，也许，，不会有什么改动:joy:

[2020-04-08 04:43] MaxwellDing commented on #3356
好的，谢谢解惑

[2020-04-08 04:43] #3356 closed, assigned to zhupengyang

[2020-04-08 09:29] ICEORY commented on #3352
如果不使用opt工具，是不是不会对模型进行优化，例如算子融合？

[2020-04-08 09:37] zengqi0730 opened #3361 "Unsupported Model type :native_buffer"
用PaddleCV训练的自己的数据集，
......
fluid.io.save_persistables(exe, model_path, main_program=train_prog)   保存模型
上面是训练代码
然后
fluid.io.save_inference_model(dirname='./inference_model', feeded_var_names=['image'], target_vars=[out], executor=exe)   转为opt要求的输入形式
然后
./opt --model_dir=/home/edu/PycharmProjects/paddledemo/inference_model --valid_targets=arm --optimize_out_type=native_buffer --optimize_out=net_opt

[2020-04-08 09:37] zhupengyang commented on #3352
会优化的。考虑到手机的性能限制，预测库大小限制等等情况(针对手机等设备)，需要opt提前做一些优化。如果是服务器端(x86，cuda等)，一般不需要考虑预测库大小之类的事情，所以一切功能都装进了预测库(full_publish)里面，包括模型优化。用cxx_config就可以。

[2020-04-09 03:51] myshadowL commented on #2977
https://github.com/myshadowL/MASK

[2020-04-09 03:58] AIpioneer commented on #3361
optimize_out_type=native_buffer ，应该是naive_buffer

[2020-04-09 08:57] xiebaiyuan opened #3368 "[LITE][OPENCL] issue on sigmod with huawei horor 9"
[LITE][OPENCL] issue on sigmod with huawei horor 9

[2020-04-09 14:33] #3368 closed, assigned to xiebaiyuan

[2020-04-10 12:22] #3070 closed, assigned to juncaipeng

[2020-04-11 08:31] xiebaiyuan opened #3386 "Opencl hang on mali 980+"

[2020-04-11 09:41] #3386 closed, assigned to nobody

[2020-04-12 03:16] #3350 closed, assigned to nobody

[2020-04-12 12:31] guoqiang0148666 opened #3392 "如何在树莓派(Armlinux)上面编译出mask_detection和yolov3_detection"
感谢你们杰出的工作.

如题,当os设为Android时,可以编译出mask_detection和yolov3_detection的demo,但是os设为armlinux时,就没有这些demo,请问要如何解决呢?

[2020-04-12 14:58] #3292 closed, assigned to DannyIsFunny

[2020-04-12 15:01] #3291 closed, assigned to DannyIsFunny

[2020-04-13 02:05] #3352 closed, assigned to zhupengyang

[2020-04-13 04:43] meteorasd555 opened #3397 "paddlefulid1.6.2训练的fasterrcnn模型预测失败"
使用paddlefluid1.6.2训练出的fasterrcnn模型运行报错，用之前paddlefluid1.5.2的模型可以运行。预测库paddlelite2.3，模型通过opt工具优化，原始模型如下：

链接: https://pan.baidu.com/s/1c0i2MLwUhVLxxcpHhUEs5w 提取码: snys

[2020-04-13 09:23] TomorrowIsAnOtherDay opened #3398 "模型保存的名字不一致"
通过lite的接口`SaveOptimizedModel`与paddle的接口`save_inference_model`保存的模型名不一致：
lite: model / param`s`
paddle: model /param
lite 多了个`s`

[2020-04-13 10:27] DannyIsFunny commented on #3398
你好，已经提交PR修复，感谢反馈  #3401

[2020-04-13 10:29] TomorrowIsAnOtherDay commented on #3398
👍志强效率好高

[2020-04-14 02:28] #2807 closed, assigned to jiweibo

[2020-04-14 12:57] MaxwellDing opened #3406 "x86编译中存在大量warning"
编译中存在大量warning，尤其部分warning提示打印的代码中包含error或failed字样，高亮下很容易造成误解
#3391 已修复部分不涉及api变动的Wsign-compare，请review

[2020-04-15 05:50] zhupengyang commented on #3406
疯狂点赞~~

[2020-04-15 05:59] AIpioneer commented on #3406
太赞了

[2020-04-15 06:06] AIpioneer commented on #3392
您好！
树莓派部署paddle lite的案例：
1. 外部热心开发者写的案例：
1) 口罩相关的：https://aistudio.baidu.com/aistudio/projectdetail/315730 ；
2) https://blog.csdn.net/qq_42549612/article/details/104998329
2. 官方的demo https://github.com/PaddlePaddle/Paddle-Lite-Demo

[2020-04-15 06:12] MyPandaShaoxiang commented on #3346
你好，后续会尽快修复

[2020-04-15 06:41] MaxwellDing commented on #3406
涉及到api变动的部分就只能麻烦你们了

[2020-04-15 06:41] #3406 closed, assigned to nobody

[2020-04-15 09:06] DannyIsFunny commented on #3334
开发完毕 #3403 ，提测中

[2020-04-15 11:42] DannyIsFunny opened #3413 "【doc】补充windows编译与预测库使用文档"
windows编译（环境要求、编译命令）、windows预测库使用方法。  参考[预测库编译文档](https://paddle-lite.readthedocs.io/zh/latest/user_guides/source_compile.html)

[2020-04-15 11:43] DannyIsFunny opened #3414 "【doc&demo】补充whl&python lib 文档和demo"
补充文档：paddle-lite whl 编译方法、python库\whl使用方法
补充demo：opt python demo(opt demo& 预测demo , py 文件形式)

[2020-04-15 11:45] DannyIsFunny opened #3415 "【doc】为拆分后编译脚本补充文档"
Paddle-Lite编译脚本拆分出了 Android/iOS/ArmLinux独立脚本，[预测库编译文档](https://paddle-lite.readthedocs.io/zh/latest/user_guides/source_compile.html)需更新

[2020-04-15 11:47] DannyIsFunny opened #3416 "【提测&验证方法】 Paddle-Lite 预编译库测试验证"
- 期望：验证发布的预编译库可以正常使用，递交提测方案与邮件
 - 预编译动态库、静态库、Java库
 - 设计可迭代方案，每次发版本将重复执行
 - 可能问题： 之前Paddle-Lite在Linux上编译的 Android库在Mac上无法使用，Mac使用clang编译，可能Linux上clang编译的预测库可以在Mac上使用（待验证）

[2020-04-15 11:47] DannyIsFunny opened #3417 "【提测&验证方法】Paddle-Lite python&whl 提测"
- 预期：验证发布的 python lib&whl 在MAC&Linux&Windows，递交提测方案与邮件
 - whl编译（Linux&Mac&Windows）、whl使用(opt &执行预测)

[2020-04-15 11:48] DannyIsFunny opened #3418 "【提测&验证方法】Paddle-Lite 新脚本可用性"
- 预期：验证新脚本在不同环境(MAC&Linux)是否正常工作

[2020-04-15 11:49] DannyIsFunny opened #3419 "【框架重构】Paddle-Lite shape 改造，降低运行时耗时"
问题背景：需要降低Paddle-Lite OP 运行时耗时，刘益群 提交过一个优化shape方法PR，未完全实现，需继续实现并验证是否有优化效果
参考[#2679](https://github.com/PaddlePaddle/Paddle-Lite/pull/2679)实现

[2020-04-15 11:49] DannyIsFunny opened #3420 "【框架重构】Paddle-Lite注册backend方法重构，降低lib 增量"
【背景】： Paddle-Lite 新注册 backend会对 Paddle-Lite Android lib 造成10K以上lib 增量，需定位并修复
【思路】：lite/utils/any.h

[2020-04-15 11:52] DannyIsFunny opened #3421 "【CI】新增任务：添加CI任务验证预测库可用性"
【需求描述】：CI中添加CI验证编译出的 C++动态库&静态库的可用性，当前多是用使用单测验证，未直接验证预测库

[2020-04-15 11:53] DannyIsFunny opened #3422 "【CI】新增任务：添加CI任务验证 python lib&whl 可用性"
【需求描述】： Paddle-Lite v2.6 新增 whl输出，需添加CI任务验证whl&python lib可用性

[2020-04-15 11:55] DannyIsFunny opened #3423 "【CI】寒武纪CI部署"
【需求描述】搭建寒武纪GPU CI设备；添加寒武纪CI测试任务

[2020-04-16 08:06] Eric-Zhang1990 opened #3426 "opt转inference_model出现错误: Can't find a Cast kernel for Cast op"
@juncaipeng  你好, 我看issue #3022 , 问题和我遇到的问题一样, 看评论说已经解决了, 但是我更新了Paddle-Lite代码并重新编译生成了opt, 结果还是出错:
![WXWorkCapture_15870243595006](https://user-images.githubusercontent.com/24602893/79430901-3a034380-7ffc-11ea-860d-10c4a2afb28a.png)
请问这是什么原因呢? 谢谢

[2020-04-16 15:20] guoqiang0148666 commented on #3392
@AIpioneer

非常感谢你的及时回复．上述你给提供的链接我都看了．非常感谢．

我是一名Paddle lite新人，很多地方都不太了解．问题比较基础，请见谅．

按照上面的链接，我个人的理解就是把Paddle lite库文件编译好，然后将lite/demo/cxx文件夹下面的cpp文件放在code文件夹下，然后修改下CmakList.txt,将该cpp文件包含进来，然后编译出可执行文件就可以？

如果我理解的正确的话？我最近用paddle detection训练出faster rcnn r50 model，并用opt转化为nb模型. Paddle-lite应该有demo支持faster rcnn吧?如果有的话，能方便给个cpp文件链接吗？我想编译下．谢谢．

[2020-04-17 01:55] zengqi0730 opened #3427 "crop图像有api吗，在安卓和c++demo上的用法有参考吗？"
请问，python中有图像预处理resize_short和crop_image，
def resize_short(img, target_size):
    """resize image

    Args:
        img: image data
        target_size: resize short target size
        interpolation: interpolation mode

    Returns:
        resized image data
    """
    percent = float(target_size) / min(img.shape[0], img.shape[1])
    resized_width = int(round(img.shape[1] * percent))
    resiz

[2020-04-17 03:21] #3426 closed, assigned to nobody

[2020-04-17 04:01] Eric-Zhang1990 commented on #2177
@esun0087   请问你是怎么解决这个问题的呢? 我现在也遇到同样的问题了, 麻烦解答一下, 谢谢

[2020-04-20 02:00] ysh329 commented on #3359
用的是什么版本，develop嘛，可以试一下release：

https://github.com/PaddlePaddle/Paddle-Lite/releases

[2020-04-20 03:02] TreeDiagram-1 opened #3440 "paddle lite 能够支持Atlas 200DK的达芬奇架构NPU吗？还是只支持手机端的npu？"

[2020-04-20 03:14] hong19860320 commented on #3440
后者目前已经支持 https://paddle-lite.readthedocs.io/zh/latest/demo_guides/npu.html， 前者主要是支持Ascend310，目前正在支持，预计5月底能完成。

[2020-04-20 03:16] TreeDiagram-1 commented on #3440
好的，明白了。非常感谢

[2020-04-20 03:16] #3440 closed, assigned to hong19860320

[2020-04-21 04:01] DannyIsFunny opened #3452 "Paddle-Lite opt 报错信息优化、LOG信息优化"
【1】opt转化报错时，明确告知错误原因：缺少哪些kernel或者op
【2】转化时log信息优化

[2020-04-21 04:02] DannyIsFunny opened #3453 "Paddle-Lite op&kernel 与PaddleFluid 对齐"
op&kernel Atrribute&Input&Output 对齐

[2020-04-21 04:02] DannyIsFunny opened #3454 "Paddle-Lite CI 算力需求整理"
整理为可维护的表格

[2020-04-21 09:30] rupei110 opened #3455 "X86机器上编译出错 error: ‘__m256’ was not declared in this scope __m256 w_content, x_content, alpha_content;"
![12](https://user-images.githubusercontent.com/50095586/79849905-b380a480-83f5-11ea-97a2-c9df4fdac957.png)
请问这是什么原因

[2020-04-21 09:53] rupei110 commented on #3455
是在up square上进行的编译

[2020-04-23 07:05] BaronChiao opened #3466 "cxx_api里边量化设计缺陷"
cxx_api.cc :  324 - 327行，对于任何量化模型，都会对框架插入一个arm int8 的place
对于不使用arm的程序来说，添加arm place会导致在static_kernel_pick_pass优先选择arm的kernel 导致出错
推荐用 #ifdef LITE_WITH_ARM宏包起来

[2020-04-23 07:22] zhupengyang commented on #3466
- 这个是因为现在只支持在arm上跑int8模型。
- 如果需要其它平台跑int8模型，后面应该是会对这部分再做修改的

[2020-04-23 07:27] BaronChiao commented on #3466
其他平台也都支持int8模型了，这里本身就是只有arm才需要的，用宏包起来比较合理，现在已经影响到了其他平台使用。

[2020-04-23 07:31] zhupengyang commented on #3466
@juncaipeng 看下这个需求？

[2020-04-23 08:45] #3323 closed, assigned to juncaipeng

[2020-04-23 08:52] zengqi0730 opened #3468 "图像预处理和后处理耗时"
运行face detection demo，测试各个阶段的耗时， 开4线程，Inference time是22ms，图像归一化的 preprocesstime是160ms，nms的postprocesstime是1080ms，其他开销已经远大于模型运行时间，这个有什么办法解决吗？

[2020-04-23 11:53] #3324 closed, assigned to DannyIsFunny, juncaipeng

[2020-04-23 11:53] #3328 closed, assigned to juncaipeng

[2020-04-23 11:53] #3331 closed, assigned to DannyIsFunny

[2020-04-25 09:01] guoqiang0148666 opened #3487 "Paddle-Lite在rk3399上的本地编译"
你好。
请问Paddle-Lite支持在rk3399上本地编译吗？
我想在rk3399上编译出动态库文件，从脚本中下载的库文件armv8/libpaddle_light_api_shared.so错误提示：
[code]

[2020-04-25 10:21] jiweibo commented on #3487
支持交叉编译和本地编译的，可以参考文档

https://paddle-lite.readthedocs.io/zh/latest/user_guides/source_compile.html

[2020-04-25 10:42] tutu1234 opened #3488 ""exec format error" , run docker on nano"
I got the error as follows when I run "docker run -it --name paddlelite_docker -v $PWD/Paddle-Lite:/Paddle-Lite --net=host paddlepaddle/paddle-lite /bin/bash" on nvidia nano:

standard_init_linux.go:190: exec user process caused "exec format error"

[2020-04-25 11:57] jiweibo commented on #3488
This seems to be a problem with docker, which is fine on most Linux machines.
You can follow the link https://stackoverflow.com/a/42494944 and then recompile the image.

[2020-04-25 12:54] guoqiang0148666 commented on #3487
@jiweibo
请问为什么我本地编译提示：
[code]
我的编译命令是：
[code]
谢谢

[2020-04-25 15:31] xieshenghan commented on #3359
请问你解决了吗。。我遇到了一样的问题

[2020-04-25 18:03] AvenSun commented on #3355
@jiweibo  similar problem here.
I cloned the code based on  commit  [4377743,  Apr 25, 2020](https://github.com/PaddlePaddle/Paddle-Lite/commit/43777438365d1c755863282559a60228c979d5ac), then followd the [doc ](https://paddle-lite.readthedocs.io/zh/latest/demo_guides/cuda.html) to compile on Jetson.

[code]

please refer to the file attached for full detail .
I tried several times after clearing a

[2020-04-26 00:39] AIpioneer commented on #3427
https://paddle-lite.readthedocs.io/zh/latest/api_reference/cv.html  您好，lite里面是有一些图像预处理的api的。 您也可以从我们的demo示例里看到怎么使用。https://github.com/PaddlePaddle/Paddle-Lite-Demo

[2020-04-26 02:01] zhupengyang commented on #3487
可能是本地的gcc路径没配置好。可以手动配置下gcc路径
[code]
类似这样根据你版本的情况指定下路径试试

[2020-04-26 03:12] hong19860320 commented on #3468
这个人脸检测模型里面没有带上nms，直接用java做的nms，可能会比较慢，可以直接使用mask detection里面的人脸检测模型就行了，在图像尺寸比较小的时候会比较快。

[2020-04-26 03:47] jiweibo commented on #3355
This description is not actually an error message

`fatal: no tag exactly matches '43777438365d1c755863282559a60228c979d5ac' `

This is actually the output of git, used to determine whether the current commit id belongs to tag

`git describe --tags --exact-match`

[2020-04-26 03:56] AvenSun commented on #3355
but finally compilation failed with error. that's the problem.

[code]

[2020-04-26 05:07] jiweibo commented on #3355
In built.txt, found the following information
`/bin/sh: 1: python: not found`.

You should configure the python environment or close the python option when compiling
`./lite/tools/build.sh --build_python=OFF cuda`

[2020-04-26 05:17] AvenSun commented on #3355
@jiweibo

python does exist and  was found when config.
see build.txt  Line135-1137

[code]

[2020-04-26 05:44] jiweibo commented on #3355
Can you try the previous compilation steps under the official docker? It is not possible to determine whether the error is caused by environmental problems.

https://paddle-lite.readthedocs.io/zh/latest/user_guides/source_compile.html#id3

[2020-04-26 05:48] AvenSun commented on #3355
thx.
I knew the problem.
It seemed that cmake or shell would call python during compilation.
My Jetson has no default link of python but python3 under directory /usr/bin
It might the reason  there's "/bin/sh: 1: python: not found" in built.txt.

[2020-04-26 07:30] MaxwellDing opened #3494 "单例的实现存在内存泄漏"
部分Global中单例都是通过static A* x = new A实现，存在内存泄漏，建议改成static A x;

[2020-04-26 07:32] MaxwellDing commented on #3494
#3495 ，请review

[2020-04-26 07:51] MaxwellDing opened #3496 "python库中包含未选择编译的内容"
在选择LITE_WITH_CUDA，LITE_WITH_FPGA，LITE_WITH_ARM编译选项为OFF时，通过nm liblite_pybind.so | c++filt可以看到库中存在CUDA，FPGA，ARM侧kernel的符号，运行时也可以通过KernelRegistry创建出对应kernel，不符合逻辑

[2020-04-26 07:52] MaxwellDing commented on #3496
建议检查编译opt_base为什么没有屏蔽disable的内容

[2020-04-26 14:02] guoqiang0148666 commented on #3487
多谢，问题解决了．

[2020-04-26 14:02] #3487 closed, assigned to jiweibo

[2020-04-27 16:47] hang245141253 opened #3517 "develop分支下mask_detection.cc调用nb模型的bug"
使用该源码，调用人脸模型和口罩模型的.nb模型来源Android-Demo下的mask_detection项目中提取来的

识别图片的时候出现一堆预测框

如图

![test_mask_detection_result](https://user-images.githubusercontent.com/44885245/80398127-beea3900-88e9-11ea-936d-495860b2b61f.jpg)

mask_detection.cc源码地址：https://github.com/PaddlePaddle/Paddle-Lite/edit/develop/lite/demo/cxx/mask_detection/mask_detection.cc

[2020-04-28 06:12] zhupengyang commented on #3068
npu子图划分
![image](https://user-images.githubusercontent.com/50474132/80453173-525b5280-895a-11ea-847f-c7dd5b5799de.png)
![image](https://user-images.githubusercontent.com/50474132/80454098-145f2e00-895c-11ea-9f16-dde1483a9beb.png)
![image](https://user-images.githubusercontent.com/50474132/80454123-1de89600-895c-11ea-86b9-a62d78a6616d.png)
![image](https://user-images.githubusercontent.com/50474132

[2020-04-28 06:44] AIpioneer commented on #3466
感谢您的建议，我们会评估您的建议的。

[2020-04-28 06:52] DannyIsFunny commented on #3496
你好，当前opt_python将各个平台的kernel 符号都包含了。
原因是：
- opt 支持将模型转化为各个平台的模型，所以内部要有全平台所有kernel的信息
- opt 里面加入的非x86 平台的kernel （CUDA，FPGA，ARM侧kernel的符号）实际是空符号，只有注册信息，没有具体实现（降低对预测库体积影响）。所以可以创建kernel，但是kernel不可以运行

[2020-04-28 07:15] MaxwellDing commented on #3496
可是python的接口库不依赖opt，opt也不依赖python，为什么要把opt_base加到python里面呢

[2020-04-29 16:19] hang245141253 commented on #3517
求救

[2020-05-01 11:21] guoqiang0148666 commented on #3392
试验证明我的想法是正确的。

[2020-05-01 11:21] #3392 closed, assigned to nobody

[2020-05-01 11:23] guoqiang0148666 opened #3550 "Paddle-Lite 支持Faster rcnn系列模型和对应的CXX demo吗？"
你好，非常感谢你们的杰出工作。

如题，出于好奇，请问在Paddle Lite上有Faster rcnn系列模型的支持吗？

如果支持的话，请问相应的教程和代码能分享下吗？

谢谢。

[2020-05-08 09:25] ChensonVan commented on #2569
Have you fixed this problem? I got the same error.

[2020-05-08 11:35] ZhuXinyan opened #3585 "mobile_light demo运行失败"
分支v2.2.0
执行https://paddle-lite.readthedocs.io/zh/latest/demo_guides/opencl.html
例子给出的mobile_light demo
其中模型未能在 ./build.lite.android.armv8.gcc.opencl/install/mobilenet_v1/找到
使用 ./build.lite.android.armv8.gcc.opencl/third_party/install/mobilenet_v1/中的模型
在执行adb操作时出现：
[F  5/ 8 19:29:11.527 ...-Lite/lite/backends/opencl/cl_context.cc:66 AddKernel] OpenCL error with code CL_INVALID_KERNEL_NAME happened

[2020-05-09 06:45] ChensonVan opened #3595 "Paddle-Lite-Java-API加载模型失败"
# 相关环境描述

- 机器：Mac OS
- Paddle版本：V2.3（V2.0也试过，同样无法加载）
- 测试手机：魅族M5-Note

# 问题描述

代码我是基于基于官方的java-demo上改动，主要是想用java的api加载face-landmark相关的模型，但是目前face-landmark的代码只有官方的c++ api的demo，所以我就将相应的模型cp到java-demo下测试，但无法加载成功，具体如下。

`2020-05-09 18:07:12.944 18215-18215/com.baidu.paddle.lite A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0x8 in tid 18215 (idu.paddle.lite)
`

**然后又将caffe的模型转换后优化成lite适用的模型，~~

[2020-05-09 06:54] hong19860320 commented on #3595
可以在 https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-android-demo 找到比较多的android demo

[2020-05-09 06:57] ChensonVan commented on #3595
好的谢谢哈，Face-Detection的Demo里的模型可以正常加载，但是Face-Keypoint的Demo里的模型加载失败了

[2020-05-09 11:40] jiweibo commented on #3585
请问能否使用v2.3或者release/v2.6测试一下呢

[2020-05-11 03:21] hong19860320 commented on #3595
face-keypoints要求带有extra op的paddlelite库，即编译paddlelite库的时候需要加--build_extra=ON这样的参数。

[2020-05-11 03:48] ChensonVan commented on #3595
对的，这个我加了，编译的时候是编译的full_publish的版本
[code]

但是我看到打印出来的log里，`BUILD_EXTRA=OFF`是正常的吗？
[code]

[2020-05-11 03:52] ChensonVan commented on #3595
对的，编译的时候是编译的`full_publish`的版本
[code]

[2020-05-11 07:12] ChensonVan commented on #3595
是否有些c++的库，或者其他第三方库也需要更新呢？目前替换了v2.3的`PaddlePredictor.jar`和`libpaddle_lite_jni.so`这两个文件？

[2020-05-13 12:45] juncaipeng commented on #3198
时间过久，我们先关闭issue了。

[2020-05-13 12:45] #3198 closed, assigned to juncaipeng

[2020-05-13 12:46] #3280 closed, assigned to juncaipeng

[2020-05-13 12:47] juncaipeng commented on #3397
好的，就定位解决。

[2020-05-14 02:48] zsgd901 opened #3621 "一个测试文件的参数命名有误，请修改"
Paddle-Lite/lite/tests/api/test_bert_lite_xpu.cc中，第40行，括号中因该是TEST(Bert, test_bert_lite_xpu)，而不是TEST(Ernie, test_ernie_lite_xpu)。小小错误，也请记得修改。虽然不是重要问题。

[2020-05-14 03:09] #3466 closed, assigned to zhupengyang, juncaipeng

[2020-05-14 09:21] juncaipeng commented on #3397
@meteorasd555  问题找到了，测试可以精度可以对齐。

[2020-05-14 11:44] #3397 closed, assigned to jiweibo, juncaipeng

[2020-05-15 13:04] sherlockgjh opened #3636 "opencl armv8版本编译不成功"
尝试编译opencl armv8版本的paddle-lite，使用环境为docker（paddlepaddle/paddle-lite:2.0.0_beta）,cmake使用3.10.0，编译命令为
./lite/tools/ci_build.sh \
        --arm_os=android \
        --arm_abi=armv8 \
        --arm_lang=gcc \
        build_test_arm_opencl
ndk使用ndk17（目标是使用ndk13版本）编译没有成功，paddlelite使用的是release:2.6版本，commit号为：commit 3e0a14040fefc7a5d6c58f6c635d826ff7f37c85

[2020-05-15 16:09] HaoYong-zhi opened #3639 "paddlelite中，android目标检测公布的app没啥没有视频检测，而ios是有的呢？"

[2020-05-17 14:43] banbishan opened #3644 "paddle-lite v2.3不支持feed算子，v2.0支持但无法用clang编译"
使用如下附件paddlepaddle模型，
[model.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/4640410/model.zip)
在v2.0版本可以使用full版本进行推理，但是v2.0full版本的paddle-lite不支持clang编译，而现在ndk只支持clang，取消了gcc。故转到v2.3full版本的paddle-lite，但运行时报错如下，显示应该是不支持feed算子，不知是否可以增加算子或支持v2.0版本的clang编译
![image](https://user-images.githubusercontent.com/13417277/82151590-bfde0d00-988e-11ea-9da7-1d2a255e7309.png)

[2020-05-18 06:48] Superjomn opened #3649 "[dev] 动态库裁剪，得到体积分布图，减少 STL 使用，发现有问题的代码实现"

[2020-05-18 11:34] zhupengyang commented on #3639
手机性能限制。大部分Android手机可能跑demo的视频检测模型可能比较卡。其实是支持的。

[2020-05-18 11:39] zhupengyang commented on #3644
- 报feed OP找不到的问题，感觉是因为模型有些老，建议用新版本的paddle保存出一个新一些的模型
- 2.3版本开始支持的clang，之前的不会支持

[2020-05-19 10:57] banbishan commented on #3426
@Eric-Zhang1990 你好，我出现了同样的问题，请问您是如何解决的

[2020-05-19 11:00] banbishan commented on #3022
请问这个问题解决了吗

[2020-05-19 12:44] dancingpipi opened #3664 "在某个模型上正常，另一个模型上Fatal signal 11错误"
用的paddle-lite-demo库中android的image_classification_demo.

跑例子没有问题，把模型换成我自己的模型就报Fatal signal 11错误。

这是啥可能的原因？

PS：
我做的改动有：去掉预处理和后处理，input数据直接new float[64 * 32]（模型输入为1 * 64 * 32）,只想统计一下infer速度

[2020-05-19 13:05] hong19860320 commented on #3664
能否贴下你修改部分的代码？需要注意修改下input tensor shape https://github.com/PaddlePaddle/Paddle-Lite-Demo/blob/35794659d4bcefa6f9d19aa7e96adfaa35619e73/PaddleLite-android-demo/image_classification_demo/app/src/main/java/com/baidu/paddle/lite/demo/image_classification/Predictor.java#L194

[2020-05-19 13:11] dancingpipi commented on #3664
修改过input tensor shape:
[code]

[2020-05-20 02:08] banbishan commented on #2885
@Chgtaxihe 你好，出现了同样的问题，请问您解决了吗

[2020-05-20 02:26] banbishan commented on #3644
使用的是1.8版本的paddlepaddle保存的非combined模式的模型，模型如下zip文件，能否麻烦看看是什么问题
[attention.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/4654298/attention.zip)

[2020-05-20 05:50] banbishan opened #3670 "opt显示支持该模型，转换却不通过"
系统：ubuntu18.04
paddle-lite版本：v2.3
paddlepaddle版本：1.8
模型：
[infer_model.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/4654844/infer_model.zip)
问题描述：
使用如下命令测试paddle-lite是否支持模型：
[code]
结果如下：显示支持模型
![image](https://user-images.githubusercontent.com/13417277/82409569-a90f0480-9aa0-11ea-8bc2-7e17cf546a44.png)
然后通过如下命令转换模型，却显示报错：
[code]
报错如下：
![image](https://user-images.githubusercontent.com/134

[2020-05-20 06:21] zhupengyang commented on #3670
显示不支持less_than的输入是int64的。现在应该已经支持了，可以用新的2.6.0的opt试试。

[2020-05-20 06:42] zhupengyang commented on #3636
[使用opencl](https://paddle-lite.readthedocs.io/zh/latest/demo_guides/opencl.html)，参考这个新文档编译opencl吧

[2020-05-20 07:05] banbishan commented on #3670
使用v2.6.0编译出的opt，报错和2.3是一样的，如下：
![image](https://user-images.githubusercontent.com/13417277/82415506-30617580-9aab-11ea-925b-ad35e518ec6a.png)
使用https://github.com/PaddlePaddle/Paddle-Lite/releases/tag/v2.6.0 这个链接下的release版本的opt，则无法解析模型，报错如下：
![image](https://user-images.githubusercontent.com/13417277/82415602-57b84280-9aab-11ea-9afe-0da2e39f35d8.png)

[2020-05-20 08:42] zjd1988 opened #3672 "cuda relu_kernel和bias_relu_kernel疑问？"
阅读该文件源码 https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/backends/cuda/math/activation.cu

发现__global__ void relu_kernel  和 __global__ void bias_relu_kernel 函数实现一样，而且 bias_relu_kernel并没有调用的地方，这部分代码是不是有些问题？

[2020-05-21 02:40] hong19860320 commented on #3664
看起来没有问题，您能把项目打包放到百度网盘然后给我个链接，我复现下哈

[2020-05-21 06:57] baiyu8534 opened #3676 "Paddle-Lite 在移动端支持 输入数据shape不确定对模型吗？"
我的tensorflow模型输入的数据必须是不定长的数据，因为要输入文件，对文件处理后，生成对应对文件。
因为文件类型，用户输入对文件肯定是不一样对
而且要根据源文件经过模型处理后生成文件

tflite模型只支持确定shape对数据输入

请问Paddle-Lite可以转换输入数据shape不确定对tensorflow模型吗？

或者Paddle-Lite可以在移动端实现支持不确定shape对数据输入对模型？

望解答！谢谢！！🙏🙏🙏🙏🙏

[2020-05-21 10:52] jiweibo commented on #3672
计算类型相似的kernel后续处理后会合并，没有用到的kernel后续会删除

我会尽快修改下这部分代码，感谢建议

[2020-05-21 10:56] jiweibo commented on #3676
您的意思是，输入数据是不定长的，我理解你的意思是输入变长的lod tensor https://www.paddlepaddle.org.cn/documentation/docs/zh/beginners_guide/basic_concept/lod_tensor.html#lod-tensor

lite支持lod tensor的输入，但是和paddle对比，目前还不完全对齐

[2020-05-21 13:07] zjd1988 commented on #3672
@jiweibo 谢谢回复。

[2020-05-21 13:07] #3672 closed, assigned to nobody

[2020-05-22 08:20] zhupengyang commented on #3676
移动端arm支持变化的输入shape

[2020-05-22 08:21] zhupengyang commented on #3670
@DannyIsFunny 看下？

[2020-05-22 10:09] sherlockgjh opened #3691 "paddle-lite opencl 版本在部分android手机上无法访问opencl"
我在使用opencl版本的paddle-lite时，在android端部分机型上测试出现如下问题：
library “/vendor/lib64/libOpenCL.so” needed or dlopened by “/system/lib64/libnativeloader.so” is not accessible for the namespace “classloader-namespace”
似乎这些机型的OpenCL为私有库，无法调用，想请问是否有替代解决的方案呢？

[2020-05-23 17:59] anshumanpattnaik opened #3693 "Found GitHub API Token hard-coded publicly on GitHub repository !!!"
Hello,

I found GITHUB_API_TOKEN hard-coded publicly on GitHub repository and this token I have found from the below commit links.

https://github.com/PaddlePaddle/Paddle-Lite/blob/e97e0ce0cff193dd02de3fa6a2e5eb87d1a73b8d/tools/coverage/pull_request.py#L14

https://github.com/PaddlePaddle/Paddle-Lite/blob/e97e0ce0cff193dd02de3fa6a2e5eb87d1a73b8d/tools/coverage/gcda_clean.py#L13

**POC**

1. Please

[2020-05-24 05:46] baiyu8534 commented on #3676
@zhupengyang  是输入数据的shape不定，因为特征是根据输入的不同文件进行特征的提取，文件不同，提取的特征数量不同，所以inputshape不同
移动端使用tflite模型，可以输入变换的shape的数据吗？
因为不管是savedmodel和Freeze graph模型，转换tflite模型时，都要对inputshape进行制定，而且不能有？的shape，必须指定固定值，这样就导致了转换出来的tflite模型只能处理固定shape的输入数据

[2020-05-24 05:46] baiyu8534 commented on #3676
@jiweibo   是输入数据的shape不定，因为特征是根据输入的不同文件进行特征的提取，文件不同，提取的特征数量不同，所以inputshape不同
移动端使用tflite模型，可以输入变换的shape的数据吗？
因为不管是savedmodel和Freeze graph模型，转换tflite模型时，都要对inputshape进行制定，而且不能有？的shape，必须指定固定值，这样就导致了转换出来的tflite模型只能处理固定shape的输入数据

[2020-05-24 11:16] hscspring opened #3694 "有人知道，是否支持 Bert 或 Ernie 压缩，以及如何构造输入？"

[2020-05-25 02:56] jiweibo commented on #3676
对于shape的处理应该是模型本身相关的。比如ernie模型，输入shape一般为[-1, 512,1]，512代表最大的sequence length，由于模型本身的结构能够支持变长，所以输入[-1, 128,1]也是可以的。

所以对shape变长的问题，可以理解为模型本身是否支持变长shape

[2020-05-25 03:29] taoja12 opened #3696 "Paddlelite量化能够得到量化模型的每一层的输入输出特征值吗"
对于得到每一层的输入输出特征值，类似于tensorflow的代码。
`import cv2
import os
import tensorflow as tf
import numpy as np
from caffe_classes import class_names
np.set_printoptions(threshold=np.inf)
interpreter =tf.lite.Interpreter(model_path='alexnet.tflite')
interpreter.allocate_tensors()
input_details = interpreter.get_input_details()
output_details = interpreter.get_output_details()
image = './images/llama.jpeg'
imag

[2020-05-25 05:44] 123malin commented on #3693
Thank you very much for pointing out this security issue. We will fix it as soon as possible!

[2020-05-25 07:37] lesterhnu opened #3697 "human_segmentation_demo 更换模型文件model.nb后无法正常使用"
使用opt工具转换了人像分割模型，替换demo中的model.nb之后无法启动，会闪退，机型小米8和一加6都试过
错误信息为
A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x0 in tid 23429 (Predictor Worke), pid 23399 (an_segmentation)
[https://user-images.githubusercontent.com/42615458/82723349-ea055400-9d00-11ea-89d3-4c08ba12358a.png](url)
![image](https://user-images.githubusercontent.com/42615458/82789828-8fedc580-9e9d-11ea-8785-8ac9

[2020-05-25 07:58] taoja12 opened #3700 "想询问关于无校准量化的问题"
按照官网上的指导，可以对inference_model里面的模型文件和权重文件进行无校准数据量化，并且可以量化为int8和int16，我想请问关于这个量化的原理从哪里可以看到？
无校准量化后的参数文件如何调用对图片进行测试？

[2020-05-25 08:10] 121786404 opened #3701 "image resize预处理 支持 stride"
一张大图，希望从中间crop一块，然后resize到一个目标尺寸
目前的resize 不支持设置stride,无法满足这个需求。

[2020-05-25 08:31] hscspring commented on #3676
@jiweibo 我在构造 ERNIE 之类的模型输入时也会有点迷惑，而且有个问题。代码如下：

[code]

然后在执行的时候一直会报这个错误：

lookup_table_compute.h:50] Check failed: ids[i] < row_number (4294967297 vs. 12800)

4294967297 我看了一下就是 2 ** 32 * token_one_hot_id，对应的 C++ 代码是在 lite/kernals/x86 下面：
[code]

不知道这个是啥原因，应该怎么去构造模型的输入？

同样的配置（x86 probuff）跑官方的 demo （mobilenetv1_light_api.py）没有任何问题：

[code]

[2020-05-25 08:52] zhupengyang commented on #3676
x86的kernel还没有支持int32的输入导致的？ @jiweibo

[2020-05-25 09:19] hscspring commented on #3676
@zhupengyang 你也碰到过类似问题么，我都被折磨好几天了，有点迷惑。
不过感觉不是没支持，我把官方的 demo 换成 int32 也是可以输出的：
[code]

输出结果类似这样：

root@f9ab85297abe:/home# python mobilenetv1_light_api.py  --model_dir=./model_files/model/mob_x86.nb
[1, 1000]
[0.00019130959117319435, 0.000592054333537817, 0.0001123024194384925, 6.273337930906564e-05, 0.0001275067770620808, 0.001321479445323348, 3.1381157896248624e-05, 6.522073090309277e-05, 4.7808

[2020-05-25 09:29] zhupengyang commented on #3676
额，我是说lookup_table这个kernel暂时没有支持int32的输入。int32和int64字节长度不一样，而正好lookup_table是根据索引找，所以就范围不对了吧。这个看上去支持起来也不难，后面会陆续支持起来的。

[2020-05-25 09:32] hscspring commented on #3676
噢噢，明白了，谢谢啦，那现在就是搞不了啦😅

这个构造输入的接口感觉有点不太好用😁

[2020-05-25 09:41] zhupengyang commented on #3676
```lite/kernel/x86/lookup_table_compute.cc; lite/kernel/x86/lookup_table_compute.cc```两个文件的对应的int64改成int大概就行，或者我们正式支持之后再 @hscspring 。还有你的模型是x2paddle转的，所以这几个输入是int32的吗，我看到的一般都是int64类型的

[2020-05-25 10:18] hscspring commented on #3676
不是的噢，我处理的模型是 paddle 的，我的输入也是 int64 的，
只不过 `input_tensor.set_int32_data([1] * 3 * 224 * 224)` 这里没有 set_int64。。。

[2020-05-25 10:23] jiweibo commented on #3676
lookup_table的ids输入应该是要int64类型的。 @hscspring 可以试下直接tensor.mutable_data<int64_t>()，来获取指针， 之后赋值的方式来处理

[2020-05-25 10:27] hscspring commented on #3676
好的。我之前是用 Python 接口调试的，我看了 API，应该是没有实现这个接口（不过 API 也没注明实现了 set_int32）。我用 C++ 试一下。

[2020-05-25 10:30] zhupengyang commented on #3676
https://github.com/PaddlePaddle/Paddle-Lite/blob/023993e530cab2a2a01eed0b7da66fd03a597494/lite/api/python/pybind/pybind.cc#L288

类似加一个 ```DATA_GETTER_SETTER_ONCE(int64_t, int64); ``` ，感觉是可以的

[2020-05-25 12:36] AIpioneer commented on #3621
感谢反馈！

[2020-05-25 16:04] hscspring commented on #3676
@jiweibo CPP 这样操作的确可以正常输出，就是构造输入麻烦了些😁
非常感谢 @jiweibo  @zhupengyang 两位，持续关注~

另外，编译实在是有点慢，感觉至少要半个小时😅
编译命令：`./lite/tools/build.sh --build_python=ON --build_extra=ON x86`

extra 不要也比较久。。

这里文档有点小问题（https://paddle-lite.readthedocs.io/zh/latest/user_guides/Compile/Linux.html）

不是 `with_xxx`，而应该是  `build_xxx`。

[2020-05-26 01:47] zhupengyang commented on #3068
armlinux demo
<img width="836" alt="image" src="https://user-images.githubusercontent.com/50474132/82852558-da228580-9f35-11ea-837c-e4d71066da57.png">

[2020-05-26 01:50] jiweibo commented on #3676
感谢反馈，我们会尽快修正

[2020-05-26 08:25] MaxwellDing commented on #3696
需要改paddlelite的代码，在lite/core/program.cc:RuntimeProgram::Run()里面可以从inst拿到op，从op拿到输入输出

[2020-05-26 11:15] taoja12 commented on #3696
paddlelite将原模型权重fp32量化为int16/int8的原理从哪里可以看？
量化后的模型可以在Linux系统中测试图片吗
想要得到量化后模型的每一层输入输出特征值具体该怎么做？

[2020-05-26 12:44] MaxwellDing commented on #3696
input_int8 = input_fp32 / input_scale
weight_int8 = weight_fp32 / weight_scale
output_int32 = input_int8 * weight_int8
output_fp32 = output_int32 * input_scale * weight_scale
output_int8 = output_fp32 / output_scale
目前不上硬件的话应该只有arm侧可以跑量化

[2020-05-27 02:37] #3694 closed, assigned to nobody

[2020-05-27 02:45] taoja12 commented on #3696
这里的input_scale/weight_scale/output_scale是怎么确定的？

[2020-05-27 02:49] MaxwellDing commented on #3696
在量化的时候就确定好的，在运行时可以拿到参数

[2020-05-27 03:20] taoja12 commented on #3696
意思是把量化后的模型放在硬件或者ARM端运行的时候可以拿到提到的三个参数？可不可以在无校准数据量化的过程中提取到这些参数？

[2020-05-28 01:37] biscuit-dot opened #3720 "arm平台多线程设置无效"
Paddle-Lite 版本：v2.6.0
模型：mobilenet_v1 http://paddle-inference-dist.bj.bcebos.com/mobilenet_v1.tar.gz
硬件：海思3516CV500
两个CPU，设置1个线程和2个线程，速度一样

[code]

[2020-05-28 01:54] zhupengyang commented on #3720
能从系统信息里面看到CPU的运行状态吗？先看下CPU是不是只用了一个

[2020-05-28 02:06] biscuit-dot commented on #3720
config.set_threads(num_threads);设置错地方了，
设置到std::shared_ptr<PaddlePredictor> predictor =
      CreatePaddlePredictor<MobileConfig>(config);之前就可以了

[2020-05-28 02:06] #3720 closed, assigned to nobody

[2020-05-31 08:12] #3700 closed, assigned to nobody

[2020-05-31 09:35] #3696 closed, assigned to nobody

[2020-05-31 09:40] taoja12 opened #3728 "如何从paddle模型中提取网络每一层的输入输出特征矩阵？"
比如输入的图片转换成特征矩阵后如图，图片是224x224，所以生成224x224x3的矩阵
![83752975-052a7900-a69c-11ea-9db7-ce271543a598](https://user-images.githubusercontent.com/44150172/83759800-b0d8c680-a6a6-11ea-9fad-d585401277bc.png)
输出是图片分类的种类1000种，所以结果的输出是1x1000的矩阵特征值
![83753094-39059e80-a69c-11ea-8b36-47d54cd7d860](https://user-images.githubusercontent.com/44150172/83759813-b504e400-a6a6-11ea-9878-c08a0311ed37.png)
我想在想得到网络中任意一层的这

[2020-06-01 06:13] juncaipeng commented on #3728
首先明确一点：无校准量化，只是将权重量化成int8/16，实际计算的时候会把int8/16反量化为fp32计算。

无校准量化后的文件，PC端无法执行，只能Lite上执行，你如果要拿到每一个op的输入输出，需要深入看Lite的文档和代码。

[2020-06-01 07:26] linchenkuan opened #3731 "实例分割训练的模型（mask rcnn +resnet50）能用op工具转成lite模型吗?"
实例分割训练的模型（mask rcnn +resnet50）能用op工具转成lite模型失败，一直报错，如下：
[F  6/ 1  0:23:42.424 ...le-Lite/lite/model_parser/pb/var_desc.cc:297 tensor_desc] Getting 'tensor_desc' is not supported by the type of var %s._generated_var_0
已放弃 (核心已转储)

[2020-06-01 17:39] InternetMaster1 commented on #3697
@lesterhnu

Were you able to solve this error? I am getting similar error when I am trying to run "humanseg_mobile" on PaddleLite

`2020-06-01 21:57:59.859 9360-9387/com.baidu.paddle.lite.demo.human_segmentation A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x0 in tid 9387 (Predictor Worke), pid 9360 (an_segmentation)`

[2020-06-01 17:42] InternetMaster1 commented on #3697
@Superjomn @JesseQu @neatcodes @reyoung

I used the following command format to convert the "humanseg_mobile_quant" to "nb" file using the opt tool

`--model_dir=<model_param_dir> \--model_file=<model_path> \--param_file=<param_path> \--optimize_out_type=(protobuf|naive_buffer) \--optimize_out=<output_optimize_model_dir> \--valid_targets=(arm|opencl|x86|npu|xpu)`

But its giving following error

`

[2020-06-02 19:21] InternetMaster1 commented on #3697
I posted an issue PaddlePaddle/PaddleSeg#279 (comment)

The advice by @Channingss is this

you can develop base on this demo, you need change .nb model, and custom preprocess and postprocess:
https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-android-demo/human_segmentation_demo

@lesterhnu But I am unable to solve it yet. Were you able to solve it?

[2020-06-04 03:25] SangerY opened #3740 "paddledetection模型转换paddlelite"
使用paddleDetection中的slim量化训练的yolov3_mobilenet_v1模型，通过export_model生成int和float的__model__和__params__，再使用paddle_lite_opt工具，命令为：paddle_lite_opt --model_dir ./float --valid_targets=arm --optimize_out_type=naive_buffer --optimize_out=yolov3_mobilenet_v1_float_opt，报错：

WARNING: Logging before InitGoogleLogging() is written to STDERR
I0604 11:20:33.364300   320 cxx_api.cc:251] Load model from file.
F0604 11

[2020-06-04 07:21] juncaipeng commented on #3068
![image](https://user-images.githubusercontent.com/52520497/83727028-009f9980-a677-11ea-8918-47a5d91e01cd.png)

[2020-06-04 13:02] #3728 closed, assigned to nobody

[2020-06-04 13:03] taoja12 opened #3747 "提取inference_model中var_name对应的矩阵特征向量，出错"
比如输入的图片转换成特征矩阵后如图，图片是224x224，所以生成224x224x3的矩阵
![image](https://user-images.githubusercontent.com/44150172/83760010-eda4bd80-a6a6-11ea-9030-3fd9b53be0f3.png)

输出是图片分类的种类1000种，所以结果的输出是1x1000的矩阵特征值
![image](https://user-images.githubusercontent.com/44150172/83760039-f7c6bc00-a6a6-11ea-9402-1ce63cf4d65f.png)

我想在想得到网络中任意一层的这种矩阵特征值输出该如何做？
（比如得到第一层卷积层之后的输出，或者某一个全连接层之后的输出）

paddle版本1.7
python 3.6
模型infer

[2020-06-05 07:15] #3747 closed, assigned to nobody

[2020-06-05 12:11] taoja12 opened #3756 "使用fluid.io.load_inference_model加载有校准数据训练后量化模型出错"
对Resnet50进行有校准数据训练后量化，量化成功后使用fluid.io.load_inference_model出现错误如下图
![image](https://user-images.githubusercontent.com/44150172/83874863-bb5b9480-a768-11ea-8701-388efe00ee2a.png)
我是跟着这个教程进行的量化，然后在最后对量化后模型测试时出错，错误可以定位到fluid.io.load_inference_model这块
https://github.com/PaddlePaddle/PaddleSlim/tree/release/1.0.1/demo/quant/quant_post

[2020-06-05 13:00] #3756 closed, assigned to nobody

[2020-06-08 02:01] DannyIsFunny commented on #3740
你好，可以看一下你的float 模型文件夹下的文件结构吗
如果其中只有两个文件 __model__ 和params，需要使用--model_file=  --param_file=指令分别加载两个文件。 如果是一个__model__ 文件和多个参数文件可以使用 --model_dir指定，详细内容可以参考：
https://paddle-lite.readthedocs.io/zh/latest/user_guides/opt/opt_python.html#id2
![image](https://user-images.githubusercontent.com/45189361/83986059-0e526900-a96e-11ea-97ff-eb78299f979c.png)

[2020-06-08 03:54] juncaipeng commented on #3068
![image](https://user-images.githubusercontent.com/52520497/83991261-cbe55800-a97e-11ea-880c-d83fb7924454.png)

![image](https://user-images.githubusercontent.com/52520497/83991268-cee04880-a97e-11ea-9ecd-2d0f04a15205.png)

[2020-06-08 03:57] SangerY commented on #3740
我的是两个文件，使用model_file和param_file命令转换成功了。之前参考链接里只看到第二步的步骤，没往后继续看更多命令，比较粗心。谢谢。
小小建议一下，在第二步的时候就说明一下，不往后看会误以为两种模型结构都是用一样的转换命令。

[2020-06-08 03:57] #3740 closed, assigned to DannyIsFunny

[2020-06-08 08:05] DannyIsFunny commented on #3740
好的，我们就修改一下文档，谢谢反馈

[2020-06-08 08:26] ysh329 opened #3761 "支持手动选择kernel的pass，比方根据规则如输入输出维度/前一个后一个kernel的target等等"
支持手动选择kernel的pass，比方根据规则如输入输出维度/前一个后一个kernel的target等等

[2020-06-08 08:27] xiebaiyuan commented on #3761
例如：
expand 的 c 维度expand 可以选择 cpu kernel；
softmax axis != -1 时选择其他kernel。

[2020-06-08 08:38] ysh329 commented on #3761
NPU的方案是给一个配置文件，指定模型中的部分OP运行到CPU上，这部分是在subgraph pass里面进行的
https://github.com/PaddlePaddle/Paddle-Lite/pull/3157

[2020-06-08 12:35] DannyIsFunny commented on #3731
你好，这个从报错信息上看是模型中`_generated_var_0`变量的数据类型不对
可以检查一下模型中这个变量

[2020-06-08 12:36] AIpioneer commented on #3550
你好，支持deeplabv3，和yolov3，你可以使用opt工具快速查看是否支持该模型。https://github.com/PaddlePaddle/Paddle-Lite-Demo

[2020-06-08 12:40] chenjiaoAngel commented on #3701
这个可以先做crop，然后做resize；分两步处理，应该是可以的～

[2020-06-08 13:13] 121786404 commented on #3701
效率低

[2020-06-08 14:56] ysh329 commented on #3691
opencl是私有库的问题吗？那个无法解决，android7之后，手机端对库进行了管理，只开放部分库，有一些库变为了私有库，导致部分手机无法调用opencl，

在手机上有两个文件，主要可以看/vendor/etc/public.librarues.txt.手机端该文件中包含的so库是开放的库，不包含的，应该是私有无法调用的.主要可以看这个文件，还有一个是/system/etc/public.librarues.txt

尝试将手机端本身的opencl.so库copy出来，给工程使用，但发现还会出现其他的依赖找不到，似乎是一个依赖另一个...靠这种办法，需要copy文件会较多

[2020-06-10 03:19] taoja12 opened #3769 "PaddleLite静态量化只能够将float32量化成int8吗？还是可以像动态量化那种可选int8/16?"

[2020-06-10 06:26] zhupengyang commented on #3769
支持动态量化，[文档](https://paddle-lite.readthedocs.io/zh/latest/user_guides/post_quant_no_data.html)

[2020-06-11 03:14] jianghancheng opened #3777 "Jetson Nano(Jetpack 4.4 DP)使用CUDA编译报错"
Jetson Nano安装Jetpack 4.4DP环境，使用CUDA编译 ./lite/tools/build.sh --build_python=ON cuda报错：
![image](https://user-images.githubusercontent.com/14351843/84340982-96d24300-abd4-11ea-9562-4f9834fe6360.png)

[2020-06-11 10:32] ysh329 opened #3779 "NDK-r18b编译demo/cxx/mobile_light出错：/usr/bin/ld: unrecognised emulation mode: armelf_linux_eabi Supported emulations: elf_x86_64 elf32_x86_64 elf_i386 elf_iamcu i386linux elf_l1om elf_k1om i386pep i386pe clang++: error: linker command failed with exit code 1 (use -v to see invocation)"
NDK-r18b编译产物目录下，demo/cxx/mobile_ligt目录执行`make`出错：

[code]

NDK-r17c无该问题

[2020-06-12 05:59] liangruofei opened #3783 "rk3399端部署问题"
我基于你们的mobilenet1-ssd训练了自己数据集，部署到了rk3399，结果是这样的：
preprocess time ：10.976ms
prediction time : 145.99ms
postprocess time :0.403ms
同时提示我fail to load opencl runtime(expected version 1.1+)
我有两个问题：
1、这个时间你们有测过吗，我的处理时间是不是有点过长？
2、现在paddle-lite部署到rk3399只能利用他的arm cpu处理器吗，因为它上面带了gpu，现在这块支持调用吗，如果支持，咋操作呢，
非常感谢回答

[2020-06-12 09:03] liangruofei opened #3787 "opt 转模型部署报错"
我用mobilennet-ssd进行训练，然后python slim/quantization/export_model.py -c ./configs/ssd/ssd_mobilenet_v1_voc.yml --output_dir=./inference_model_final_quant -o weights=./output/ssd_mobilenet_v1_voc/best_model进行模型量化，得到int8，用opt转nb时报这个错误。新手求解

[W  6/12 16:59: 1.455 .../release_2.3/Paddle-Lite/lite/api/opt.cc:137 RunOptimize] Load combined-param model. Option model_dir will be ignored
[I  6/12 16:59: 1.456 .

[2020-06-13 02:13] yangyang117 commented on #3165
如果是目标检测，模型推导出来的是很多数据吧，要在python里面再处理一遍吗？

[2020-06-15 02:49] taoja12 commented on #3769
模型训练后量化中，对于权重Tensor的量化操作采用非饱和量化方法(No Saturation)，对于输入采用饱和量化方法(Saturation)，那权重和输入进行矩阵相乘后，反量化成float32的操作原理是什么？比如反量化的计算公式，反量化的尺度怎么选择的（因为权重和输入采用两种量化方式，所以反量化如何计算不太清楚）？

[2020-06-15 02:50] taoja12 commented on #3769
模型训练后量化中，对于权重Tensor的量化操作采用非饱和量化方法(No Saturation)，对于输入采用饱和量化方法(Saturation)，那权重和输入进行矩阵相乘后，反量化成float32的操作原理是什么？比如反量化的计算公式，反量化的尺度怎么选择的（因为权重和输入采用两种量化方式，所以反量化如何计算不太清楚）？

[2020-06-15 03:07] chenjiaoAngel commented on #3701
还有个方法，可以把起始地址src 设置为crop后图的起始地址就可以。例如输入图大小是30*40, CROP 15*20, image__width=40 image_height=30，src_w= 20 srch=15, 然后resize；这时src=image_src + crop_x * image_width + crop_y; 从这个坐标开始做resize。

[2020-06-15 07:37] DannyIsFunny commented on #3043
已经实现 #3759

[2020-06-15 07:37] #3043 closed, assigned to DannyIsFunny

[2020-06-15 07:37] DannyIsFunny commented on #3044
已经在release/v2.6.0实现

[2020-06-15 07:37] #3044 closed, assigned to DannyIsFunny

[2020-06-15 07:37] DannyIsFunny opened #3791 "Paddle-Lite第三方库调用方式修改："
将当前以submodule方式调用的glog、protobuf都修改为从cmake external project的方式，从国内地址下载指定tag的第三方库

[2020-06-15 09:05] ArtyZe opened #3793 "lite跑量化模型遇到问题，麻烦帮忙看下"
您好，我在使用protobuf格式opt后的模型parse时候发现如下问题：
![image](https://user-images.githubusercontent.com/32027268/84638166-32431b00-af29-11ea-9783-18aeed76cd3e.png)
我是参考lite里api_cc写的，先解析program，使用的是framework.proto生成的cc和头文件

--------------------------------------------------------------------------------------------------
之后我打算先用paddlelite测试一下，
1. 首先我使用paddleslim里的eval.py去测试是ok的，
![image](https://user-images.gith

[2020-06-15 09:42] ninetailskim commented on #3783
我也有同样的问题，官方啥时候能给个教程，支持3399mali库的方法呢，还挺急的

[2020-06-15 09:44] liangruofei commented on #3783
我感觉是版本的问题，他们之间版本更新太快，互相之间有些地方会出问题，我正在测，完了回答你
在2020年6月15日 17:43，ninetailskim<notifications@github.com> 写道：

我也有同样的问题，官方啥时候能给个教程，支持3399mali库的方法呢，还挺急的

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-06-15 09:51] ninetailskim commented on #3783
真的太感谢你了，我一点头绪都没有～可以加个好友嘛～

[2020-06-16 01:17] #3769 closed, assigned to nobody

[2020-06-16 01:18] taoja12 opened #3797 "关于paddlelite量化原理的问题"
模型训练后量化中，对于权重Tensor的量化操作采用非饱和量化方法(No Saturation)，对于输入采用饱和量化方法(Saturation)，那权重和输入进行矩阵相乘后，反量化成float32的操作原理是什么？比如反量化的计算公式，反量化的尺度怎么选择的（因为权重和输入采用两种量化方式，所以反量化如何计算不太清楚）？

[2020-06-16 03:05] DannyIsFunny opened #3798 "Paddle-Lite发布Jason nano的python sdk (下一版本发布时)"

[2020-06-16 05:58] cdyangzhenyu commented on #1535
Hi, @smilejames. Is there any plan for this OP?

[2020-06-16 10:24] MaxwellDing opened #3803 "PaddleLite部分CI无法访问detail"
不在网域内，无法访问PR_CI teamcity百度的服务器，如果CI挂了，贡献者无法了解到具体问题

[2020-06-16 13:21] DannyIsFunny commented on #3670
你好，这里的问题是说你的模型中有一个参数 _generated_var_0 是当前不支持的类型

[2020-06-17 04:10] zhupengyang commented on #3793
目前只支持arm平台的量化模型，x86量化将在后续支持

[2020-06-17 04:14] ArtyZe commented on #3793
那请问有没有解析protobuf模型相关的代码？paddle使用的哪个proto文件呀？paddle的tensor要如何定义

[2020-06-17 04:14] zhupengyang commented on #3787
@juncaipeng 能看下吗？量化模型opt的时候报```No kernels found for conv2d```
https://github.com/PaddlePaddle/Paddle-Lite-Demo/issues/66 这个issue也是同样的问题，但是不同的模型。应该是int8模型的opt过程有什么bug？

[2020-06-17 04:16] liangruofei commented on #3787
对，你用2.6的op转，用2.6的lite就可以的

| |
梁若飞
邮箱：liangruofeinuc@163.com
|

签名由 网易邮箱大师 定制

在2020年06月17日 12:14，zhupengyang 写道：

@juncaipeng 能看下吗？量化模型opt的时候报No kernels found for conv2d
PaddlePaddle/Paddle-Lite-Demo#66 这个issue也是同样的问题，但是不同的模型。应该是int8模型的opt过程有什么bug？

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-06-17 09:00] juncaipeng commented on #3797
无论饱和与非饱和量化，量化和反量化是一致的，只是计算scale的方法不同。
x_int8 = round(x_fp32 / x_scale)
w_int8 = round(w_fp32 / w_scale)
y = (x_int8 * w_int8) * x_scale * w_scale

[2020-06-18 07:29] InternetMaster1 commented on #3787
@liangruofei

We you able to solve this error? I am facing same issue
https://github.com/PaddlePaddle/Paddle-Lite-Demo/issues/66

[2020-06-18 07:33] liangruofei commented on #3787
我们好像不是一个问题，我是想把seg做到armlinux，他们目前lite没有相关demo
在2020年6月18日 15:29，InternetMaster1<notifications@github.com> 写道：

@liangruofei

We you able to solve this error? I am facing same issue
PaddlePaddle/Paddle-Lite-Demo#66

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-06-19 03:35] AIpioneer commented on #3777
您好！关于jetson nano，我们推荐您使用paddle inference。您可以参考https://www.jianshu.com/p/09a0fd569247 实现一下。至于为什么不推荐直接使用paddle lite：一是因为lite在nano上支持的模型相对有限，另外，paddle inference支持所有的paddle模型，而且能够利用nv自带的tensorrt来加速。因此希望您改变一下方法试试。

[2020-06-19 04:03] ninetailskim opened #3821 "arm_linux编译遇到问题"
开启了opencl，编译时遇到DBL_MAX没定义？
![image](https://user-images.githubusercontent.com/32216638/85095180-45a0ff80-b223-11ea-8067-da04fe368c8c.png)
另外我想使用别的工具链要怎么使用呢，build_linux.sh中的TOOLCHAIN参数好像只允许gcc或clong，在别的地方也没有找到说明的地方，如果不是在这里还请指明～
（硬件小白，只能照着官方文档，但是遇到的坑有点多）

[2020-06-19 04:36] Superjomn commented on #3793
Paddle 训练出来的模型拓扑就是protobuf的，模型文件夹里面的 __model__ 就是 Protobuf 格式的，可视化可以用 https://github.com/lutzroeder/netron

tensor的存储格式是自定义格式，不是protobuf的

[2020-06-19 05:17] hong19860320 commented on #3821
可能是缺少头文件导致，在lite/kernels/opencl/conv_image_compute.cc上加上#include <cfloat>试试

[2020-06-19 05:41] ninetailskim commented on #3821
请问加上哪个头文件呢？我使用的是v2.6.0分支的代码，应该不是lite库里的头文件吧，因为我全局搜索“DBL_MAX”，并没有发现它被定义的地方

[2020-06-19 06:19] DannyIsFunny opened #3822 "Paddle-Lite CI detail log 信息可以被外部访问"
背景&目的： Paddle-Lite当前只有公司内网用户可以查看CI任务的执行日志，不利于外部用户提交PR&问题调试 #3803
实现方法： Paddle-Lite搭建一套单独的teamcity 系统，该系统开放外部访问权限

[2020-06-19 06:21] DannyIsFunny commented on #3803
你好，已经在规划开发，大约需要两周左右时间

[2020-06-19 06:25] zhupengyang commented on #3821
```#include <cstdint>``` ？

[2020-06-19 06:34] MaxwellDing commented on #3803
谢谢

[2020-06-19 06:46] ninetailskim commented on #3821
@zhupengyang 谢谢，试了下，不是。我没做任何修改直接使用的v2.6.0分支，本地环境检查了也是对的，不知道哪里出了问题。

[2020-06-19 06:48] ninetailskim commented on #3821
@hong19860320 请问是需要包含哪个头文件呢？
以下是本来包含的：
#include "lite/kernels/opencl/conv_image_compute.h"

#include <iomanip>
#include <sstream>
#include "lite/backends/opencl/cl_image_converter.h"
#include "lite/backends/opencl/cl_include.h"
#include "lite/core/op_registry.h"
#include "lite/kernels/opencl/image_helper.h"
#include "lite/operators/op_params.h"

[2020-06-19 09:04] ArtyZe commented on #3793
@Superjomn 多谢！谢谢您，我这里还有两个问题哈，
1. 请问param里的每个tensor的存取是否和model里面persistable的node顺序对应呀？如下图
![image](https://user-images.githubusercontent.com/32027268/85115243-f1f7db80-b24d-11ea-9159-a27350b2c1b3.png)
2. 我在读取param文件的时候，我参考paddle自己定义了tensor结构体，我把feed跳过去了，然后读取这里遇到两个问题：
  2.1 读取的数据和我用dump出来的paddle的对不上
  2.2 在读取第二个node的信息时就报错了，看上去应该是第一个没有读完，这些值还是tensor的值，因为我看paddle里面version都全部默认定义成0
![image](https://us

[2020-06-20 09:53] hong19860320 commented on #3821
确定下你的环境是rk3399的板子吗？准备编译带opencl的lite库吗？我们好复现下问题。

[2020-06-20 09:55] hong19860320 commented on #3783
rk3399的gpu没有完全支持，从错误上看lite库需要opencl 1.1的支持，而硬件环境应该只支持opencl 1.0的APIs

[2020-06-20 09:57] hong19860320 commented on #3639
现在android有了哈，直接访问https://github.com/PaddlePaddle/Paddle-Lite-Demo 然后使用android studio打开ssd_detection_demo就行了

[2020-06-20 10:08] ninetailskim commented on #3821
@hong19860320 您好，我现在是使用ubuntu16.04编的，电脑上有rk3399的工具链，但是还没找到如何在编译paddle-lite时使用工具链，于是我想先使用repo中默认的配置编译一个，看能不能编通（所以我遇到的问题，目前为止还没有涉及到rk3399）。在build_linux.sh中TOOLCHAIN参数似乎不可改为（gcc|clang）以外的东西，如何使用工具链aarch64-linux-gnu-gcc，还在此请教。

[2020-06-20 11:15] InternetMaster1 commented on #3787
@zhupengyang @juncaipeng

What can I do now? I am stuck.

The humanseg_mobile model is not running on Mobile.

[2020-06-22 02:26] hong19860320 commented on #3821
嗯，实在抱歉，和相关研发同学了解到，armlinux的OpenCL编译还没有ready，暂时不支持哈，后续我们会安排人力做下编译的支持。

[2020-06-22 02:41] ninetailskim commented on #3821
@hong19860320 所以现在opencl只支持android是嘛？

[2020-06-22 08:56] hieunm1821 opened #3829 "[Python] Error: Invalid shape is given with model ssdlite_mobilenet_v3_large"
- OS: Ubuntu 18.04
- Python version: 3.6.9
- Paddlelite: 2.6.1

I have downloaded PaddleLite Model from [https://paddlemodels.bj.bcebos.com/object_detection/mobile_models/lite/ssdlite_mobilenet_v3_large.tar](https://paddlemodels.bj.bcebos.com/object_detection/mobile_models/lite/ssdlite_mobilenet_v3_large.tar)

My python code for implementing
[code]

I take the input size 320,320 from https://githu

[2020-06-22 11:58] juncaipeng commented on #3787
@liangruofei  @InternetMaster1
Please use [v2.6.1 opt](https://github.com/PaddlePaddle/Paddle-Lite/releases/download/v2.6.1/opt) to optimize the quantized model, v2.6.0 opt has a bug for quantized model.

[2020-06-23 03:08] zhupengyang commented on #3829
run the model with ```data = [1.]*3*320*320``` to check whether the input type is correct？

[2020-06-23 03:20] hieunm1821 commented on #3829
[code]
I got the same error. I do not know what is the correct input type for this model.

[2020-06-23 03:34] zhupengyang commented on #3829
- device: Raspberry Pi 3B
- Python: 3.7
- PaddleLite: 2.6.1

[code]
It is correct in my environment.

---

Try ```data = read_img('./kite.jpg', height, width).flatten().tolist()```  and check ```len(data)==3*320*320``` ?

[2020-06-23 09:34] hieunm1821 commented on #3829
Is the error from the cpu architecture? Mine is not ARM kernels because I cannot install the lib paddlelite on arm64 kernel.

[2020-06-23 09:41] zhupengyang commented on #3829
- What's your device ?

[2020-06-23 09:46] hieunm1821 commented on #3829
My device for running code is Ubuntu 18.04 running on amd64 server.
The device I cannot install python library paddlelite is Arch64 server

[2020-06-23 09:52] zhupengyang commented on #3829
Maybe try to compile paddlelite on your target server?

[2020-06-23 10:02] hieunm1821 commented on #3829
Thank you.
Do you have any guides to install python lib paddlelite on AArch64? I got the error no version satisfies if i install from pip and 'is not a supported wheel on this platform' if i install from wheel
The code from [https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-armlinux-demo](https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-armlinux-demo) r

[2020-06-23 10:09] zhupengyang commented on #3829
paddlelite guide: [paddlelite doc](https://paddle-lite.readthedocs.io/zh/latest/index.html)
armlinux compile guide: [armlinux compile doc](https://paddle-lite.readthedocs.io/zh/latest/user_guides/Compile/Linux.html)

[2020-06-23 11:52] MiracleCY opened #3837 "arm-linux-gnueabihf-g++ GNU 4.8.2 编译不通过"
官方5.3.1版arm编译器可以编过，但是我的硬件环境是4.8.2版本且目前无法升级，请问以下报错如何解决，是否能用低版本编译器成功编译...

用我的编译器执行./lite/tools/build.sh --build_extra=OFF --arm_os=armlinux --arm_abi=armv7hf --arm_lang=gcc --build_extra=OFF tiny_publish 编译失败

-- Found Paddle host system: ubuntu, version: 16.04
-- Found Paddle host system's CPU: 2 cores
-- cytest1 HOST_C_COMPILER: /usr/bin/gcc
-- cytest2 HOST_CXX_COMPILER: /usr/bin/g++
-- Found hos

[2020-06-24 03:44] tl-petter opened #3838 "模型损失一般会降到多少？"
我想知道模型到损失一般会降到多少？

[2020-06-24 03:51] #3838 closed, assigned to nobody

[2020-06-25 05:26] hieunm1821 commented on #3829
Thank you for your support. Problem solved.

[2020-06-25 05:26] #3829 closed, assigned to nobody

[2020-06-25 07:16] 60999 opened #3843 "说明文档丢失"
https://paddle-lite.readthedocs.io/zh/latest/user_guides/debug#profiler

无意义的页面

[2020-06-26 16:14] liangruofei opened #3845 "opt转化模型报错"
我下载的yolov3_mobilenet_v1_voc模型进行转化用paddle-detect下的python -u tools/export_model.py -c configs/yolov3_mobilenet_v1_voc.yml --output_dir=./inference_model_final -o weights=~/yolov3_model/yolov3_mobilenet_v1_voc进行模型导出，然后用opt转化报错

aistudio@jupyter-282556-592977:~/PaddleDetection/inference_model_final/yolov3_mobilenet_v1_voc$ paddle_lite_opt --model_dir=fluid --optimize_out_type=naive_buffer --optimize_o

[2020-06-27 15:36] zhupengyang commented on #3843
确实有问题，应该是 https://paddle-lite.readthedocs.io/zh/latest/user_guides/debug.html#profiler

[2020-06-29 07:28] hieunm1821 opened #3851 "Segmentation fault (core dumped) when running YOLOv3 model"
OS: ARM-linux, aarch64
Python: 3.7
PaddleLite: 2.6.1

I have tried some different yolo model from [PaddleDetection](https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.3/configs/mobile/README.md), [Link model 1](https://paddlemodels.bj.bcebos.com/object_detection/mobile_models/lite/yolov3_mobilenet_v3.tar), [Link model 2](https://paddle-inference-dist.cdn.bcebos.com/PaddleLite/yolov3_in

[2020-06-29 07:34] HaoLiuHust opened #3852 "有计划支持动态离线量化中的量化预测方式吗"
![image](https://user-images.githubusercontent.com/7233091/85985886-f5dde780-ba1d-11ea-9bd8-d58e68aec19e.png)
从文档看，这种方式可以加速，请问有计划支持么

[2020-06-29 15:16] hieunm1821 commented on #3851
Yolov3 model has 2 inputs need to fulfil.

[2020-06-29 15:16] #3851 closed, assigned to nobody

[2020-06-30 08:06] ninetailskim commented on #3821
日常催一波开发人员兼容RK3399arm_linux上opencl支持，嘿嘿

[2020-06-30 08:11] zhupengyang commented on #3821
@ysh329 ಠ౪ಠ

[2020-07-01 02:16] 60999 opened #3864 "文档错误"
https://paddle-lite.readthedocs.io/zh/latest/user_guides/Compile/Linux.html
这里面很多命令 都需要root权限，文档中没有标注
并且条理不清晰，注释很少，导致很难按照文档中的步骤复现结果。

[2020-07-01 03:51] oujunke opened #3866 "能增加C#(cshape)的demo吗？"
我在文档中没有C#的使用demo

[2020-07-01 05:05] zhupengyang commented on #3864
感谢您的建议，文档结构和注释问题会在后面持续改进~~

[2020-07-01 05:06] zhupengyang commented on #3864
root权限的话，需要根据您自己的情况处理，这个不属于文档的错误

[2020-07-01 05:13] zhupengyang commented on #3866
你好，现在还没有支持C#。您的需求会在后续开发中进行考虑~

[2020-07-01 06:21] #3866 closed, assigned to nobody

[2020-07-01 06:21] oujunke commented on #3866
谢谢

[2020-07-01 07:12] zhupengyang commented on #3837
能试下[交叉编译](https://paddle-lite.readthedocs.io/zh/latest/user_guides/source_compile.html)的方式吗？

[2020-07-01 07:21] zhupengyang commented on #3837
或者可以从编译器版本的角度想想办法？比如在本地编一个5.3.1的编译器

[2020-07-03 07:49] ninetailskim commented on #3821
日常催一波开发人员兼容RK3399arm_linux上opencl支持，卡在这了，%>_<%

[2020-07-03 12:24] DannyIsFunny commented on #3845
你好，这个错误一般是因为模型文件名称错误导致，请检查一下  fluid 文件夹下的文件是否是 `__model__`和`params`

[2020-07-03 16:28] vic1006 opened #3882 "x86编译报错"
In file included from /home/kilox/PaddlePaddle/Paddle-Lite/lite/api/cxx_api_impl.cc:30:0:
/home/kilox/PaddlePaddle/Paddle-Lite/lite/backends/x86/mklml.h:17:17: fatal error: mkl.h: 没有那个文件或目录
compilation terminated.
lite/api/CMakeFiles/opt_base.dir/build.make:86: recipe for target 'lite/api/CMakeFiles/opt_base.dir/cxx_api_impl.cc.o' failed
make[3]: *** [lite/api/CMakeFiles/opt_base.dir/cxx_api_impl.

[2020-07-05 08:16] CaoT94 opened #3883 "运行python接口，output.float_data()出现错误"
[code]
能够输出形状[1,10], 但是转换为float时出现错误Segmentation fault (core dumped)。paddle原来的模型可以正常运行，用opt转化了模型。

[2020-07-06 00:25] 60999 opened #3884 "Jetson Nano（Jetpack 4.4 DP）使用CUDA编译报错"
aistudio@aistudio-desktop:~/Paddle-Lite$ ./lite/tools/build.sh --build_python=ON cuda

[100%] Built target publish_inference_python_lib
Scanning dependencies of target publish_inference_python_installer
sh: 1: patchelf: not found
Traceback (most recent call last):
  File "setup.py", line 64, in <module>
    raise Exception("patch third_party libs failed, command: %s" % COMMAND)
Exception: patch th

[2020-07-06 01:49] zhupengyang commented on #3884
apt-get install patchelf

[2020-07-06 03:07] zhupengyang commented on #3883
方便给下模型(原paddle模型，非nb模型)链接吗？

[2020-07-06 12:21] yousong1992 opened #3891 "多卡GPU运行报错"
您好，我在使用咱们口罩检测模型时，系统是linux18.04,4个2080ti的显卡，cuda版本为10.0 cudnn版本为 v2.3.7，然后这是环境变量代码为os.environ['CUDA_VISIBLE_DEVICES'] = '0，1，2，3'
报错信息为
Error Message Summary:
----------------------
ExternalError:  Cuda error(3), initialization error.
  [Advise: The API call failed because the CUDA driver and runtime could not be initialized. ] at (/paddle/paddle/fluid/platform/gpu_info.cc:183)
请问我需要作什么操作才能让这个口罩检测模

[2020-07-07 04:50] CaoT94 commented on #3883
[fit_a_line_1500_noncombined.inference.model.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/4882535/fit_a_line_1500_noncombined.inference.model.zip)

[2020-07-07 04:53] CaoT94 commented on #3883
还有另外一个是OpenPose的paddle模型，也出现了同样的问题。由于模型过大放不在这里，需要的话可以留邮箱我发给您。

[2020-07-07 06:00] #3793 closed, assigned to Superjomn

[2020-07-07 06:07] DannyIsFunny opened #3892 "[Compiling BUG]Paddle-Lite使用build.sh编译，第二次编译时会挂掉，必须要删除build文件夹才可以编译成功"

[2020-07-07 09:48] juncaipeng commented on #3852
后续会支持哈，目前请使用静态离线量化和量化训练方法。

[2020-07-07 09:49] juncaipeng commented on #3843
已经修复。

[2020-07-07 09:49] #3843 closed, assigned to juncaipeng

[2020-07-07 09:49] #3797 closed, assigned to juncaipeng

[2020-07-07 09:50] #3787 closed, assigned to nobody

[2020-07-07 11:50] HaoLiuHust commented on #3852
好的好的，多谢

[2020-07-07 11:50] #3852 closed, assigned to nobody

[2020-07-08 03:47] zhupengyang commented on #3883
[code]
改成
[code]
试下？感觉原来的数据像是float64的

[2020-07-09 02:42] DannyIsFunny opened #3908 "在官方文档Benchmark时出现了报错"
在Ubuntu:16.04交叉编译环境下，用安卓手机在终端测试Paddle-Lite的性能。

 1、在一键benchmark操作过程中，按照文档安装了adb，执行adb devices 后命令行显示有设备编号，表明设备连接成功。但执行脚本sh run_benchmark.sh时报如下错：
 tar: benchmark_models: Cannot utime: Operation not permitted
tar: Exiting with failure status due to previous errors
所以使用  sudo + sh run_benchmark.sh 命令给予充分授权，但在执行几分钟左右后还是继续报错，每次报错形式一样，但报错的对象不同：
  Push ./benchmark_models/mobilenetv1/conv5_1_dw_weights -

[2020-07-09 02:43] DannyIsFunny opened #3909 "源码编译（可点击链接查阅）"
Linux 开发环境针对Android交叉编译，环境要求如下：
gcc、g++、git、make、wget、python、adb
Java environment
cmake（建议使用3.10或以上版本）
Android NDK (建议ndk-r17c)

正常安装后，执行./lite/tools/build_android.sh，报如下错（知乎有用户出现相同报错，链接：https://www.zhihu.com/question/341980046）：

解决方案：

[2020-07-09 02:44] DannyIsFunny opened #3910 "模型转换工具X2Paddle使用"
1、 链接失效了
    此处的链接为：https://github.com/PaddlePaddle/X2Paddle/blob/develop/x2paddle_model_zoo.md

2、 X2paddle转换tensorflow模型时要求的tensorflow为1.0版本，在Xpaddle的官方文档有标注环境依赖的版本，paddle-lite里没提及，用户可能会用tensorflow2.0写代码。所以在lite文档的开始部分就做说明：“1.14.0版本是被验证过的，请使用tensorflow1.0版本训练模型”。

[2020-07-09 02:44] DannyIsFunny opened #3911 "部署示例：从Windows系统将Android Demo导入手机安装"
直接向Android Studio导入demo，run的时候会报错，无法顺利运行。在run之前需要做如下操作：

首先，需要在SDK Manager下载相对应的android版本、android API30和NDK 并勾选，Android API30对目前Android所有版本都是适用的。
然后，将Project Structure 里的Android NDK location 由原来的默认路径改为刚才下载NDK默认路径。

[2020-07-09 02:45] DannyIsFunny opened #3912 "模型优化opt 问题"
下载opt可执行文件，选择当前预测库对应版本的opt转化工具：
1、	下载完成后，可在opt执行文件所在目录，直接命令行使用opt工具，版本v2.6版本的opt工具缺失，需对此作补充，链接为：https://paddlelite-data.bj.bcebos.com/Release/2.6.1/opt/opt

  2、命令行直接使用使用opt，会存在权限问题，需要先执行chmod+x 你的路径/opt，给与opt程序权限，然后才能顺利执行。

[2020-07-09 02:45] DannyIsFunny opened #3913 "Python Demo（windows系统下python脚本实现）"
官网文档里的部署示例，利用lite的opt将paddle模型转为naive_buffer格式时，按照官网的代码，生成.nb模型是在程序脚本的同目录下。
后面根据.nb模型编写的预测脚本，模型的打开路径需要指明在opt调用脚本的同目录，因为涉及前后两个model，如果opt调用脚本的路径和model路径不一致，用model路径代指，新手容易写错路径。可改为Your_PythonScript_Path

[2020-07-09 03:32] taoja12 opened #3916 "动态离线量化"
1、动态离线量化可以将模型特定OP权重量化成int8/int16，意思是将模型中的权重量化成int8之后，就保持权重int8的状态然后输出模型吗？（不用像静态离线量化中，在卷积前量化，卷积后反量化这种操作？）

2、那么动态离线量化中的权重量化原理也是**非饱和量化**吗？具体的量化原理可以说一下吗？

3、调用动态离线量化后的模型预测，那么在**input float32**数据后，如何将该模型的**Int8权重**反量化成**float32**？

[2020-07-10 07:59] ninetailskim commented on #3821
啥时候支持捏～等得花儿都谢了，%>_<%

[2020-07-10 11:27] Daniel-Kelvich commented on #2885
@banbishan have you managed to find a solution?

[2020-07-11 08:32] Sejudyblues opened #3927 "使用opt优化mobilenetv2时候，提醒x86平台下不支持relu6，请问有什么解决方法吗？"
E0711 16:14:33.062336   308 opt_base.cc:445] Error: This model is not supported, because 1 ops are not supported on 'x86'. These unsupported ops are: 'relu6'.

[2020-07-13 01:28] HaoLiuHust opened #3929 "image2tensor在单通道图像时不生效"
image2tensor这个接口，在源图像为Gray时，转出来的tensor是异常的，而在图像是BGR时，正常

[2020-07-13 01:41] knightning opened #3930 "电脑上预测的结果 和在EdgeBoard Lite预测的结果不一致问题"
![image](https://user-images.githubusercontent.com/48643490/87262304-072df600-c4ec-11ea-87b0-8fa410056980.png)

![image](https://user-images.githubusercontent.com/48643490/87262323-1ca32000-c4ec-11ea-9ea2-58ef05c5850a.png)

我已经保证了模型输入是相同，（依据是 我把电脑端输入数据保存下来，然后在eblit读入）
输入数据对比结果如下
![image](https://user-images.githubusercontent.com/48643490/87262460-95a27780-c4ec-11ea-8cd6-6a92d593e7d9.png)
输出结果对比如下

[2020-07-13 01:55] CaoT94 commented on #3883
按照您说的改了，但是还是出现output.float_data() 的Segmentation fault (core dumped）的报错

[2020-07-13 07:30] chonwhite commented on #3930
CPU版本是要求CHW格式的数据，Edgeboard要求是HWC格式的数据。所以在用Edgeboard的时候把transpose(2, 0, 1)去掉，应该就可以了。

[2020-07-13 09:04] wusiyuan-1036123628 commented on #3930
把transpose(2, 0, 1)去掉，解决不了问题

[2020-07-13 12:10] wusiyuan-1036123628 commented on #3930
aistdio跑出来的
![V2`KZ1 O)OCKWPRK92BO71S](https://user-images.githubusercontent.com/65934649/87302836-ad0d4f00-c544-11ea-9514-8fa3ccc1a9dd.png)
车上跑出来的
![N160@PI_3R}~$SZX1D2VLQK](https://user-images.githubusercontent.com/65934649/87302913-cf9f6800-c544-11ea-9264-2a8e3d6744b5.png)

一样的程序

[2020-07-14 03:57] edencfc opened #3939 "Faster-RCNN中RPN的模型优化opt问题"
使用PaddleX的faster_rcnn_r50_fpn模型转换时会出现报错：
[code]
但是使用`paddle_lite_opt --print_model_ops=true  --model_dir=inference_model/faster_rcnn_r50_fpn --valid_targets=arm`命令查看结果显示支持该模型`Paddle-Lite supports this model!`
但是如果不使用RPN，FasterRCNN的模型优化opt是支持的，使用PaddleX中的faster_rcnn_r50_vd模型，下面的命令可以执行成功：
[code]

[2020-07-14 05:13] CaoT94 commented on #3175
我也出现了同样的问题，请问解决了吗

[2020-07-14 05:28] CaoT94 opened #3941 "树莓派4B 编译出现错误"
编译命令是 ：`sudo ./lite/tools/build.sh --build_python=ON  --arm_os=armlinux  --arm_abi=armv7hf  --arm_lang=gcc tiny_publish`
![image](https://user-images.githubusercontent.com/65970154/87388399-4f761280-c5d7-11ea-8a1f-74313fbbedbd.png)

请问怎么解决呢？

[2020-07-14 06:12] juncaipeng commented on #3916
使用非饱和channelwise量化方式

直接进行常见的反量化即可啊。

float = scale * int8

[2020-07-14 06:32] juncaipeng commented on #3941
请问是哪个分支啊？建议使用2.6.1 tag进行编译。

[2020-07-14 06:57] juncaipeng commented on #3939
这个问题是paddle升级了generate_proposals op支持RpnRoisLod输出，lite还没有及时更新。

[2020-07-14 07:02] ysh329 commented on #3929
请问你用的是下面这个方法，走的分支嘛：
![image](https://user-images.githubusercontent.com/7320657/87394937-10e65500-c5e3-11ea-8bb9-745c80228bd6.png)

[2020-07-14 07:03] ysh329 commented on #3929
@HaoLiuHust

[2020-07-14 07:11] HaoLiuHust commented on #3929
是的，我们也把gray_to_tensor直接拿出来测了

[2020-07-14 08:10] CaoT94 commented on #3941
按照教程`git checkout release/v2.6`.，和2.6.1一样吗？

[2020-07-14 11:13] chenxiaoyu3 opened #3944 "比特大陆：如何编译为arm库"
代码库中自带的 build_bm.sh 编译出来是 x86-64的库，跑在 pcie卡模式的卡上的。

对于比特大陆 SE50 计算盒无法使用。

如何设置编译选项编译为arm的库？

[2020-07-14 11:22] chenjiaoAngel commented on #3929
这个是运行结果不对还是其他呢？输入大小是？

[2020-07-14 12:05] smallsung1999 commented on #3930
paddlemobile
![1_result](https://user-images.githubusercontent.com/23568937/87423650-3b4d0800-c60d-11ea-9d1b-1803cbbd96a2.jpg)
paddlepaddle 1.5.1
![QQ图片20200714200408](https://user-images.githubusercontent.com/23568937/87423661-4011bc00-c60d-11ea-9d6a-2741b6e48a06.jpg)

[2020-07-14 12:06] HaoLiuHust commented on #3929
在输入前我们打印了dst tensor,输出后也打印了dst tensor，发现没有变化，而且值也和src 没有什么关系

[2020-07-15 01:26] zhupengyang commented on #3941
[code]

[2020-07-15 08:49] sunshine411 opened #3952 "PaddleLite中Op支持问题 "range“"
您好，我在使用x2paddle 将tensorflow模型转为paddle模型，并使用python tools/check_for_lite.py paddle_model/inference_model/__model__检查我的模型时发现 'range' are not support in paddle-Lite。
请问有没有可以解决的方案，或者 paddle-Lite后期哪个时间是否会添加对 'range' 的支持。

[2020-07-16 01:52] zhupengyang commented on #3952
这个工具可能不太准，我看现在代码里面 arm cpu 是支持 range 这个OP的。建议用opt转换模型试试。

[2020-07-16 02:16] chenjiaoAngel commented on #3929
这个是应该有变化吧，输入形状没有变化，但会做归一化处理
grayToTensor: out[i] = (din[I] - mean) * scale
输入和输出没有变化，是不是mean = 0 scale=1， 这样出来结果没有变化

[2020-07-16 02:27] taoja12 commented on #3916
我使用静态量化模型后，模型体积基本没有减小，使用动态量化后模型体积能够明显减小(比如int8减小为原来的四分之一)。
静态量化的原理是不是和Paddleslim的模拟量化一样？（paddleslim量化原理https://paddlepaddle.github.io/PaddleSlim/algo/algo.html#quantization-aware-training）
静态量化和动态量化的具体区别除了一个使用校准数据一个不使用之外，在原理上有什么不同？

[2020-07-16 03:02] HaoLiuHust commented on #3929
不是···mean, scale的值打出来看了，有值的。然后我们把gray2tensor换成了其他test文件里的纯CPU实现，就正常了

[2020-07-16 03:03] HaoLiuHust commented on #3929
有空的话我发一个demo吧

[2020-07-17 11:16] martinou opened #3961 "使用opt出错"
同过paddledetection训练的导出模型。在使用opt的过程中，出现以下错误：
[I  7/17  8:43:54.916 ...t/github/Paddle-Lite/lite/api/cxx_api.cc:256 Build] Load model from file.
[libprotobuf ERROR /opt/github/Paddle-Lite/third-party/protobuf-host/src/google/protobuf/message_lite.cc:119] Can't parse message of type "paddle.framework.proto.VarType.TensorDesc" because it is missing required fields: data_type
[F  7/17  8:43:54.926 ...e

[2020-07-18 02:16] knightning opened #3963 "模型部署，执行predictor.run();报错，"
![image](https://user-images.githubusercontent.com/48643490/87842488-6a020180-c8df-11ea-8bb0-53a9b86ce13c.png)
![image](https://user-images.githubusercontent.com/48643490/87842522-9cabfa00-c8df-11ea-9ada-f4fe9142a2c9.png)

[2020-07-18 13:56] jiuzhuanzhuan opened #3964 "tensorflow模型opt时报错core dump"
如题

[2020-07-18 15:49] yeerunhui commented on #3930
这个问题解决了没？

[2020-07-19 12:55] smallsung1999 commented on #3930
还没

[2020-07-20 04:10] chenjiaoAngel commented on #3929
这个目前没有demo，只有单测：https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/tests/cv/image_convert_test.cc，你可以参考验证

[2020-07-20 05:41] HaoLiuHust commented on #3929
嗯，我们也是用这个测过···

[2020-07-21 10:06] AN-ZE opened #3972 "华为Atlas300的支持情况"
如题，华为Atlas300的支持情况，现paddle目标检测支持情况。

[2020-07-21 10:21] knightning commented on #3963
求翻牌子

[2020-07-21 10:48] hong19860320 commented on #3972
目前正在适配昇腾310，预计7月底或8月初能ready，后续会适配yolov3模型。

[2020-07-21 10:49] hong19860320 commented on #3964
opt工具不支持tensorflow模型哦，需要通过X2Paddle https://github.com/PaddlePaddle/X2Paddle 工具将tf模型转成paddle模型后才能使用opt工具的。

[2020-07-21 10:56] hong19860320 commented on #3963
你试下这个能跑吗？
[code]

[2020-07-21 11:07] knightning commented on #3963
![image](https://user-images.githubusercontent.com/48643490/88048144-61325980-cb85-11ea-9e2b-335a1dfa82e8.png)

[2020-07-21 11:08] hong19860320 commented on #3961
这个看起来是在加载No-combined模型的时候，找不到对应的weight tensor，你能将模型保存为combined（就是只有model和params两个文件的模型）后再试试。

[2020-07-21 11:13] knightning commented on #3963
![image](https://user-images.githubusercontent.com/48643490/88048363-c4bc8700-cb85-11ea-8906-61bb66813a06.png)
更改为
input_tensor.resize((1, 3, 224, 224))
input_tensor.set_data(image_data)
![image](https://user-images.githubusercontent.com/48643490/88048584-2ed52c00-cb86-11ea-939c-87902f12ff4a.png)

[2020-07-22 02:24] AN-ZE commented on #3972
那寒武纪的呢

[2020-07-22 02:26] AN-ZE commented on #3972
paddledetection是可以全模型转换为paddlelite吗，包括dcn，yolov4。

[2020-07-22 07:44] yongqiangma commented on #3944
你们现在的盒子是跑fp32的模型还是跑量化的int8模型呢？

[2020-07-22 08:05] chenxiaoyu3 commented on #3944
期望先跑通fp32的yolov3模型。后续根据实测的效果再看是否需要int8

[2020-07-22 08:26] yongqiangma commented on #3944
还需要一点工作才能支持SE5，近期会有更新，首先支持fp32模型。

[2020-07-22 08:34] chenxiaoyu3 commented on #3944
多谢，我们持续关注；
fluid 的yolov3 模型 这里有一份
链接: https://pan.baidu.com/s/1340Sqvb0AxMUCHMcaPKOtA 提取码: 1b3d

[2020-07-23 02:25] vincentpengpeng opened #3980 "OPT工具模型转换失败"
转换官方的行人检测模型pedestrian_yolov3_darknet
![image](https://user-images.githubusercontent.com/22005432/88246995-d0679500-ccce-11ea-8921-135bb12fb840.png)

from paddlelite.lite import *

# 1. 创建opt实例
opt=Opt()
# 2. 指定输入模型地址
opt.set_model_dir('./inference_model/pedestrian_yolov3_darknet')
# 3. 指定转化类型： arm、x86、opencl、xpu、npu
opt.set_valid_places("arm")
# 4. 指定模型转化类型： naive_buffer、protobuf
opt.set_model_typ

[2020-07-23 04:34] AnBaolei1984 commented on #3944
![171595478811_ pic_hd](https://user-images.githubusercontent.com/49897975/88252439-bcc52a00-cce0-11ea-869d-0cb071c435a1.jpg)
你好，paddle的一些模型在se5上fp32的性能，之前已经测过了。请看图里se5部分

[2020-07-23 05:22] zhupengyang commented on #3980
[code]
换成
[code]
使用combined形式的模型设置方式

[2020-07-23 05:59] BlainWu commented on #3851
Hi, I encountered the same problem, when I run with 2 inputs models it comes out "Segmentation fault ", Did you solve it ???

[2020-07-23 06:21] BlainWu opened #3982 "运行多输入模型的时候，报错：Segmentation fault"
自己的模型训练的时候是要输入两个参数，在paddle上训练是正常的。但是当预测的时候，到predictor.run()会报错：“Segmentation fault”
我的定义的预测函数是这样，是不是输入有问题？在文档中没有找到多输入的例子，不知道是预测函数有问题还是模型有问题
`

def predict(predictor, image,vel):

    img = image#输入图像数据
    img = img.reshape(1, 3, 128, 128)

    speed = []
    speed.append(vel)

    input_img = predictor.get_input(0)
    input_speed = predictor.get_input(1)

    input_img.resize((1, 3, 128, 128))#设

[2020-07-23 07:24] jiweibo commented on #3982
可以设置环境变量export GLOG_v=4，看下详细的报错信息

[2020-07-23 07:31] zhupengyang commented on #3982
- 确认用的 paddlelite 什么版本？
- 确认模型的第二个输入的数据类型是什么
- 确认 img 的数据类型是 float32；且使用 input_img.set_float_data
- 确认 speed 的数据类型是 int32；且input_speed 需要 resize；且用 input_speed.set_int32_data

[2020-07-23 08:30] BlainWu commented on #3982
是0.0.1版本的，很多功能都没有

[2020-07-23 08:52] zhupengyang commented on #3982
建议用最新的 2.6.1 版本

[2020-07-23 08:57] BlainWu commented on #3982
用的是百度的Edgeboard系列，我看有人说还没有新paddlelite版本可用啊  头大

[2020-07-24 02:53] vincentpengpeng commented on #3980
THX,OK了

[2020-07-24 02:53] #3980 closed, assigned to nobody

[2020-07-24 04:30] BlainWu commented on #3982
后续做了相关调试，还是存在以下问题：（是不是早期版本的paddlelite不支持多输入）
训练模型定义为：def cnn_model(image,speed): 这种格式是否在正确？？？

1. 文档中,设置接口的尺寸用的是方括号，但是在我实际使用的时候方括号，当运行到    input_img.resize([1, 3, 128, 128]) 会报错：
error
����Uthe send buff is:
00 aa dc 05 dc 05 c2 55
用圆括号的时候就不会报错。

2.两个输入量都是float型的，当把set_data改为set_float_data时候，同样会报错：
error
����Uthe send buff is:
00 aa dc 05 dc 05 c2 55

3.训练模型中第二个参数:def cnn_model(image,speed): 尺寸如下

[2020-07-24 05:58] zhupengyang commented on #3982
```input_speed.resize((1,10))``` -> ```input_speed.resize((1,1,10))``` 这样呢？

---

另外 img，speed 转成 list 再 set_data 放进去？

[2020-07-24 06:08] BlainWu commented on #3982
刚刚测试了下，都还是一样的报错，没有区别。我打算把两个输入并到一起作为一个输入，然后在网络里重新拆开用试试

[2020-07-24 06:52] smallsung1999 commented on #3930
待edgeboard的工程师解决

[2020-07-24 07:06] zhaoyang-star commented on #2163
降低 Cmake 的版本是一个解决方法，但若必须用高版本的 CMake（3.15），有其他更优雅的解决方法吗？

[2020-07-24 09:06] vincentpengpeng opened #3992 "python api demo报Segmentation fault (core dumped)"
环境：arm64 RK3399开发板，ubuntu18
mobilenetv1_light_api.py文件（修改了input_tensor）:
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import argparse

from paddlelite.lite import *

parser = argparse.ArgumentParser()
parser.add_argument(
    "--model_dir", default="", type=str, help="Non-combined Model dir path")

def RunModel(args):

    config = M

[2020-07-26 07:51] hieunm1821 commented on #3851
What is your environment?

[2020-07-26 08:08] BlainWu commented on #3851
edgeboard(FPGA), paddelite version is 0.0.1 .

[2020-07-26 14:48] hieunm1821 commented on #3851
OS: ARM-linux, aarch64
Python: 3.7
PaddleLite: 2.6.1

I think environment may be the problem.

[2020-07-27 07:12] zhupengyang commented on #3992
yolov3有两个输入，代码没有设置第二个输入

[2020-07-27 09:10] vincentpengpeng commented on #3992
请问需要怎么设置，有代码样例吗

[2020-07-27 09:15] zhupengyang commented on #3992
[code]
大概是这样，具体维度和数值根据你的模型决定

[2020-07-27 09:19] vincentpengpeng commented on #3992
就类似这样？在设置输入的时候加多一个tensor？
    # 3. Set input data
    input_tensor = predictor.get_input(0)
    input_tensor.resize([1, 3, 608, 608])
    input_tensor.set_float_data([1.] * 3 * 608 * 608)

    input_2_tensor = predictor.get_input(1)
    input_2_tensor.resize([1, 2])
    input_2_tensor.set_int_data([608, 608])

[2020-07-27 13:05] zbp-xxxp opened #4001 "想问一下有没有在FPGA上部署的案例?存FPGA的开发板?"
最近在做部署,想部署在xiline的fpga开发板上

[2020-07-27 13:46] Jindooong commented on #3884
这个问题解决了吗？我也遇到了

[2020-07-28 05:50] superdu12138 opened #4004 "opt工具模型转换失败"
我自己训练的pytorch，转换成onnx模型，再使用X2Paddle工具转换成Paddle的模型（非combined），输入如下命令，测试paddle-lite是否支持模型：
./opt --print_model_ops=true --model_dir=pd_model/inference_model --valid_targets=arm
![image](https://user-images.githubusercontent.com/20619835/88623967-af40e300-d0d8-11ea-90f3-a64b66de5e6f.png)

显示是支持的，继续输入命令：
./opt --model_dir=./pd_model/inference_model --optimize_out_type=naive_buffer --optimize_out=model

[2020-07-28 06:41] #3964 closed, assigned to nobody

[2020-07-30 02:13] hong19860320 commented on #3972
麻烦 @yongqiangma 大佬回复下哈

[2020-07-30 02:15] hong19860320 commented on #3972
主要看算子是否支持，昇腾310的可以关注https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/kernels/huawei_ascend_npu/bridges/paddle_use_bridges.h

[2020-07-30 07:07] ghost opened #4024 "[LITE][XPU] Support OCR models"
xpu 支持 ocr 模型涉及的op

[2020-07-30 07:37] #4024 closed, assigned to nobody

[2020-07-30 08:04] boceng opened #4026 "opt转换为.nb文件后，是否有armlinux去预测的文档"

[2020-07-30 08:07] boceng commented on #4026
跑通提供的arm linux demo后，尝试替换.nb文件，labellist，image信息进行新模型的预测，但失败了。在文档官网并没有找到详细的后续文档，能否提供一下 感谢

[2020-07-30 08:34] mdddj opened #4027 "编译预测库文件夹为空"
您好,我按照文档操作,到这一步
![image](https://user-images.githubusercontent.com/29020213/88900742-6a58b000-d282-11ea-8c08-1199e8e84c09.png)
![image](https://user-images.githubusercontent.com/29020213/88900772-76447200-d282-11ea-9862-24e5e1eabbb6.png)
![image](https://user-images.githubusercontent.com/29020213/88900785-7cd2e980-d282-11ea-955a-73e8e1ff217b.png)
这里啥都没有

[2020-07-30 08:58] zhupengyang commented on #4027
建议在docker中编译，脚本是在Linux环境运行的，现在还不支持在Windows环境编译Android的预测库

[2020-07-30 09:03] zhupengyang commented on #4026
- 有具体的报错信息吗？
- 如果新模型的输入尺寸和预处理方式等不一样，需要自己修改 ``*_demo.cc`` 文件，以匹配新模型
- [armlinux demo部署介绍](https://paddle-lite.readthedocs.io/zh/latest/demo_guides/linux_arm_demo.html)

[2020-07-30 09:08] zhupengyang commented on #4004
能提供下模型吗？

[2020-07-30 09:10] zhupengyang commented on #4001
- [FPGA部署文档](https://paddle-lite.readthedocs.io/zh/latest/demo_guides/fpga.html)

[2020-07-31 00:18] superdu12138 commented on #4004
已经发给您邮箱了，我的邮箱903549854@qq.com，麻烦帮忙看一下，谢谢

[2020-07-31 03:33] zhupengyang commented on #4004
<img width="641" alt="image" src="https://user-images.githubusercontent.com/50474132/88996829-d558c400-d320-11ea-8b8f-793180924dce.png">

- 大致原因：biliner_interp 的 scale 输入没有数据，应该是x2paddle转的过程出了问题
- 可能的解决方案：
    - 去 x2paddle  repo 下提个issue，看能不能解决这个问题
    - 在 x2paddle 生成 model.py 文件里面，把 resize_bilinear 相关的修改下

[2020-07-31 03:41] boceng commented on #3884
这个问题解决了吗？我也也遇到了

[2020-07-31 03:43] zhupengyang commented on #3884
<img width="174" alt="image" src="https://user-images.githubusercontent.com/50474132/88997757-0639f880-d323-11ea-8bb3-2aba7f81492b.png">
根据报错信息，请安装 patchelf

[2020-07-31 06:00] boceng commented on #3884
感谢 已解决

[2020-08-01 14:00] Jindooong opened #4032 "Jetson tx2/nano 编译问题"
这是第4次在jetson上编译paddle了，记录已解决的问题和个待解决的issue。
我刷的是jetpark4.3。
1. Paddle-Lite 在编译过程中会产生10多G的临时文件，使用nano建议用64G以上的sd卡，tx2内置的32G，系统文件占用了20G，因此存储是不够用的，我这里挂载了一个240G的ssd到home目录下，解决了这个问题。
![image](https://user-images.githubusercontent.com/20136263/89102904-23b0b480-d440-11ea-93f4-64d8add500db.png)

2. 在编译到90%左右时，提示缺少setuptool包。
`pip install setuptools`
或者手动下载.zip安装。[官网地址](https://pypi.org/project/setuptools

[2020-08-02 05:52] riskycheng commented on #2975
感谢提示，如上修改之后就可以了。
如果其他朋友需要测试的，我有编译好可运行的所有文件，需要的话留下邮箱。

[2020-08-02 07:00] Jindooong commented on #4032
解决了，需要安装 patchelf。
`sudo su`
`wget http://nixos.org/releases/patchelf/patchelf-0.9/patchelf-0.9.tar.bz2`
`tar -zxf patchelf-0.9.tar.bz2`
`cd patchelf-0.9`
`./configure --prefix=/usr`
`make && make install`
在终端输入`patchelf`，检测是否安装成功。
之后重新编译paddle-lite即可。
最终编译成功如图所示。
![image](https://user-images.githubusercontent.com/20136263/89117463-a97c4080-d4d0-11ea-8dc5-bd1f51a53214.png)

[2020-08-02 07:56] shenyt-sanshui opened #4033 "在树莓派上编译Paddle-Lite时出现问题"
命令
**root@raspberrypi:/home/pi/kouzhaoarm/Paddle-Lite# ./lite/tools/build_linux.sh \

返回的出错信息
-- Found Paddle host system: , version:

-- Found Paddle host system's CPU: 4 cores

-- Found host C compiler: /usr/bin/gcc

-- Found host CXX compiler: /usr/bin/g++

-- Lite ARM Compile armlinux with armv8 gcc

-- The CXX compiler identification is unknown

-- The C compiler identification is unknown

CM

[2020-08-02 08:00] Jindooong commented on #4032
我裂开了啊！编译成功了运行又有问题
nvidia@jetson:~ /Paddle-Lite$ clear
nvidia@jetson:~ /Paddle-Lite$ python test.py
Traceback (most recent call last):
  File "test.py", line 6, in <module>
    from lite import *
ImportError: build_cuda/inference_lite_lib/python/lib/lite.so: undefined symbol: _Py_ZeroStruct
nvidia@jetson:~ /Paddle-Lite$ python -V
Python 3.6.8
nvidia@jetson:~ /Paddle-Lite$
![image](https://user-imag

[2020-08-03 01:35] zhupengyang commented on #4033
设置环境变量 CXX 指向树莓派上的 g++ 的路径，设置 CC 指向树莓派上 gcc 的路径

[2020-08-03 01:42] shenyt-sanshui commented on #4033
谢大佬

[2020-08-03 03:02] #4026 closed, assigned to nobody

[2020-08-03 03:06] boceng opened #4036 "from paddlelite.lite import * 出错"
[https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/demo/python/mobilenetv1_light_api.py](url) 请问其中L24导入的paddlelite包是怎么安装的，我通过pip获得的paddelite包中却只有__init__.py, libs, lite.so, __pycache__四份文件或文件夹？

[2020-08-03 03:08] shenyt-sanshui opened #4037 "树莓派4b安装paddlepaddle"
您好，请问一下树莓派4b是不是不能安装paddlepaddle的呀。
架构如下 32bit armv7l
如果树莓派想运行百度的口罩检测模型，就必须部署到服务器用发送请求的方式或者使用paddlle-lite框架是么

[2020-08-03 04:55] zhupengyang commented on #4036
具体报错是什么呢？

[2020-08-03 05:03] zhupengyang commented on #4037
是的。不能安装paddlepaddle

是的。支持paddle-lite部署，或者发送请求到服务器

[2020-08-03 05:08] shenyt-sanshui commented on #4037
哦哦，这俩种方式的速度会不会差很多呀，paddle-lite部署会不会比发送请求到服务器快很多呢，还是说速度相差不多

[2020-08-03 05:24] zhupengyang commented on #4037
paddle-lite部署的耗时主要是树莓派的计算耗时。服务器部署的耗时是网络传输耗时+服务器计算耗时。速度的话还要看模型大小，网络耗时和计算耗时分别有多少，是不能直接下判断的。

[2020-08-03 05:26] shenyt-sanshui commented on #4037
懂啦，谢谢您的耐心讲解！

[2020-08-03 06:15] boceng commented on #4036
$ python3 mobilenetV1_light_api.py
Traceback (most recent call last):
  File "mobilenetV1_light_api.py", line 24, in module
    from paddlelite.lite import *
ImportError: /home/irecog/.local/lib/python3.6/site-packages/paddlelite/lite.so: cannot open shared object file: No such file or directory

[2020-08-03 06:25] zhupengyang commented on #4036
- ``/home/irecog/.local/lib/python3.6/site-packages/paddlelite/lite.so`` 这个文件是存在的吗？

- > 通过pip获得的paddelite包中却只有__init__.py, libs, lite.so, __pycache__四份文件

这个是对的

- 检查下是不是pip和python是不匹配的

[2020-08-03 07:02] #4037 closed, assigned to nobody

[2020-08-03 07:11] boceng commented on #4036
是存在的 感谢您的指导，我是因为板子上不知道什么原因始终pip不到paddlelite包，而服务器上是可以的，所以我从服务器上pip download下来了一个paddlelite包拷到板子上安装，服务器为python3.6.10，板子为python3.6.9。

另外多问您一个问题，开发板子上始终pip不到paddlelite一些包，比如pandas也是pip不到的，它始终报红色错误 Could not find a version that satisfies the requirement；但奇怪的是 却仍能pip到部分包，比如jieba这种包是可以的。
我的版本分别是pip 20.2 from /home/irecog/.local/lib/python3.6/site-packages (python 3.6)；python 为3.6.9。

目前正在尝试安装python-3.6

[2020-08-03 07:16] zhupengyang commented on #4036
- 板子上pip不到，这个是正常的
- 服务器上的paddlelite和板子上不能通用的
- 需要在板子上编译whl包，然后安装
- 可以参考 [armlinux编译文档](https://paddle-lite.readthedocs.io/zh/develop/user_guides/Compile/Linux.html) ，注意需要打开相应Python的编译选项

[2020-08-03 07:31] boceng commented on #4036
感谢您的指导，当时编译的时候没看仔细就忽略了可选项，犯了这么low的问题

[2020-08-03 07:31] #4036 closed, assigned to nobody

[2020-08-03 07:41] juncaipeng commented on #3916
paddlelsim产出的模型体积没有太大减小，但是使用opt转换后，体积也会减小4倍的。

[2020-08-04 01:40] boceng commented on #3882
我也遇到了 请问你解决了吗

[2020-08-04 01:41] boceng commented on #3882
编译opt时，
Built target extern_protobuf
CMakeFiles/Makefiles2:19164: recipe for target 'lite/api/CMakeFiles/opt.dir/rule' failed
make[1]: *** [lite/api/CMakeFiles/opt.dir/rule] Error2
Makefile:3121: recipe for target 'opt' failed
make: *** [opt] Error 2

[2020-08-04 01:53] boceng commented on #1967
您好 我是处于release/v2.6分支上，编译opt也有错，帮忙看看感谢
Built target extern_protobuf
CMakeFiles/Makefiles2:19164: recipe for target 'lite/api/CMakeFiles/opt.dir/rule' failed
make[1]: *** [lite/api/CMakeFiles/opt.dir/rule] Error2
Makefile:3121: recipe for target 'opt' failed
make: *** [opt] Error 2

[2020-08-04 06:03] MaYiLong1998 opened #4045 "Check failed: is_found Can't find a Cast kernel for Cast op: Tensor<arm,int64_t,NCHW,0>:cast_2.tmp_0->Tensor<arm,float,NCHW,0>:slice"
**paddle模型是onnx转换而来的**，已经测试过模型的可用性，显示为可用：

paddle_lite_opt --print_model_ops=true --model_dir=./yolov3_traffic --valid_targets=arm

Paddle-Lite supports this model!

但是，当我使用opt转化工具时，报错了。
具体过程如下：
paddle_lite_opt --model_file=./yolov3_traffic/__model__ --valid_targets=arm --param_file=./yolov3_traffic/__params__ --optimize_out_type=naive_buffer --optimize_out=yolov3_traffic_opt

WARNING: Logging bef

[2020-08-04 06:33] #4045 closed, assigned to nobody

[2020-08-04 09:02] Jindooong commented on #4032
新建虚拟环境，在虚拟环境中编译可以解决上述问题。
`sudo pip install virtualenv  #虚拟环境的依赖  `
`python3 -m venv paddle_env #新建虚拟环境`
`source paddle_env/bin/activate  #进入虚拟环境`
重新编译就不会有环境问题了。
**BUT！！！又有新问题了！！！**
编译完成后，按[官方文档](https://paddle-lite.readthedocs.io/zh/latest/demo_guides/cuda.html)进行测试的时候出现
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0804 16:30:38.289319 18634 device_info.h:153] Found 1 device(s

[2020-08-05 09:07] boceng opened #4057 "armLinux，python预测api，输出信息有误，无报错信息"
RT，在armLinux 部署了[CUDA预测的环境](https://paddle-lite.readthedocs.io/zh/latest/demo_guides/cuda.html)以及[python预测环境](https://paddle-lite.readthedocs.io/zh/latest/demo_guides/python_demo.html)。

使用API进行预测使用的是yolov3_infer，其combined形式和nb形式用于上述两种环境。

其中CUDA预测的代码并未怎么修改，只修改了输出全部的预测信息，如图
![显示不了，复制：https://images.gitee.com/uploads/images/2020/0805/171044_b6a831a3_5293647.png](https://images.gitee.com/uploads/ima

[2020-08-05 11:44] liuspencersjtu commented on #3644
遇到了同样的问题，使用编译出的opt工具将模型转换之后运行时报错no Op found for feed, 不知道现在是否还支持feed算子？

[2020-08-06 03:12] zhupengyang commented on #4057
是不是没有对图像做预处理？

[2020-08-06 03:16] boceng commented on #4057
使用的是文档提供的download下来的yolov3_infer模型，具体怎么预处理图像不是很清楚，所以就依然使用的是文档demo代码提供的预处理方法：
CUDA预测的代码中预处理如下：

def read_img(im_path, resize_h, resize_w):
    im = cv2.imread(im_path).astype('float32')  # 转32浮点型
    im = cv2.cvtColor(im, cv2.COLOR_BGR2RGB)  # 颜色空间转换
    h, w, _ = im.shape
    im_scale_x = resize_h / float(w)
    im_scale_y = resize_w / float(h)
    out_img = cv2.resize(im, None, None, fx=im_scale_

[2020-08-06 03:17] boceng commented on #4057
开发板为 jeston nano

[2020-08-06 03:31] zhupengyang commented on #4057
试下 ```wget https://paddle-inference-dist.cdn.bcebos.com/PaddleLite/kite.jpg``` 文档中样例图片能不能跑

[2020-08-06 03:56] boceng commented on #4057
您好，试了下也不行，会是编译过程有错吗
![查看：https://images.gitee.com/uploads/images/2020/0806/115839_cb7a7866_5293647.jpeg](https://images.gitee.com/uploads/images/2020/0806/115839_cb7a7866_5293647.jpeg)

[2020-08-06 04:00] zhupengyang commented on #4057
@jiweibo 看下？貌似CUDA的示例结果有问题

[2020-08-06 04:37] vic1006 opened #4067 "Tx2上编译成功，运行C++版本demo编译报错"
完全按照文档说明：https://paddle-lite.readthedocs.io/zh/latest/demo_guides/cuda.html
一步一步成功在Tx2（ jetpack4.4）ubuntu 18.04.4上编译了paddle-lite
但是按照说明，编译C++版本demo时，却提示如下错误：
[code]

[2020-08-06 04:40] vic1006 opened #4068 "Tx2上编译成功，运行python版demo报错"
完全按照文档说明：https://paddle-lite.readthedocs.io/zh/latest/demo_guides/cuda.html
一步一步成功在Tx2（ jetpack4.4）ubuntu 18.04.4上编译了paddle-lite
但是按照说明，运行python版本demo时，却提示如下错误：
[code]

[2020-08-06 04:56] jiweibo commented on #4057
请问下按照cuda示例运行能得到相同的输出结果吗？

[code]

[2020-08-06 05:04] #3916 closed, assigned to nobody

[2020-08-06 05:06] boceng commented on #4057
您好 我这里是得不到注释结果的，得到是第一张图的结果。

# CUDA预测的完整代码：

from __future__ import print_function

import sys
import numpy as np
import cv2

sys.path.append('build_cuda/inference_lite_lib/python/lib')
from lite import *

#Command arguments
parser = argparse.ArgumentParser()
parser.add_argument(
    "--model_file", default="", type=str, help="combined Model file path")
parser.add_argument(
    "--param_file", def

[2020-08-06 07:23] jiweibo commented on #4057
我的意思是直接跑cuda页面的示例，如果跑出的结果和示例不同，那就应该是哪一块有问题了。如果跑出结果相同，那么是不是业务代码哪里没处理对

[2020-08-06 13:58] hong19860320 commented on #3837
这个看起来是低版本GCC的bug，可以尝试把CXX_FLAGS中的-Os改为-O3或-O1试试
https://github.com/PaddlePaddle/Paddle-Lite/blob/e7d43b02a3ecbf5be48378c347ebbdbe3d12f93f/cmake/cross_compiling/postproject.cmake#L83
https://github.com/PaddlePaddle/Paddle-Lite/blob/e7d43b02a3ecbf5be48378c347ebbdbe3d12f93f/lite/api/CMakeLists.txt#L8
https://github.com/PaddlePaddle/Paddle-Lite/blob/e7d43b02a3ecbf5be48378c347ebbdbe3d12f93f/lite/api/CM

[2020-08-07 00:14] boceng commented on #4057
好的，感谢您的引导。很奇怪的是我刚开始下载kite这张图片时却是猫的图片，而非沙滩这张图，所以输出就对应不上注释中的结果，也没有想到去分析一下输出信息。现在用沙滩图片是得到相同的输出结果的，然后根据输出加了些简单的后处理就得到正确的标注结果了。

[2020-08-07 00:15] #4057 closed, assigned to nobody

[2020-08-07 00:48] Jindooong commented on #4068
同上

[2020-08-07 01:32] Jindooong commented on #4067
我也遇到这个问题，后来去掉--build_python=ON 只编译C++就能运行通过测试代码，只是不知道输出结果对不对

[2020-08-07 02:47] MiracleCY commented on #3837
@hong19860320 感谢，把CXX_FLAGS中的-Os改为-O3确实编译成功了！！

[2020-08-08 08:37] liuxianyi opened #4081 "lite在win10 Python部署预测彩色垃圾图像分类任务时，输出结果不正确啊。（前提：网络训练完成，准确率90%）"
## 这个是预测代码
![image](https://user-images.githubusercontent.com/33951338/89705975-64ef1a00-d994-11ea-9bcf-4ecc41de7d62.png)
## 图片的预处理
![image](https://user-images.githubusercontent.com/33951338/89748586-7ea87280-daf6-11ea-866c-1d8ea8c9b25c.png)

# 这个是直接paddle inference 的正确结果
![image](https://user-images.githubusercontent.com/33951338/89705987-86500600-d994-11ea-8849-6d9d784a8d0c.png)

### 可以看到很明显结果不

[2020-08-08 08:44] liuxianyi commented on #4081
[这是我的代码位置](https://aistudio.baidu.com/aistudio/projectdetail/642581)
希望有大神帮忙找找原因

[2020-08-09 06:10] shenyt-sanshui opened #4082 "paddle"

[2020-08-09 06:16] shenyt-sanshui commented on #4082
请问可以提供一下已经编译好的能在armlinux上运行的paddle-lite的python版本的demo吗，我看官网给出的是c++版本的，

[2020-08-10 01:54] Ultraopxt opened #4083 "ubuntu 系统装的Android studio无法运行 作业里的android demo"
作业里下载的ssd_detection_demo加载到Android studio 后，main文件夹里面找不到model文件夹。于是直接从AI studio 下载opt好的nb 模型文件，加载到Android studio里面，但是无法运行，运行键一直是灰色的，没有变成绿色。

[2020-08-10 02:24] zhupengyang commented on #4081
貌似输入tensor的size设置有问题。改成 ```input_tensor.resize([1, 3, 224, 224])``` 试试？

[2020-08-10 02:47] liuxianyi commented on #4081
输入的没问题，哪个图片我贴错了，刚刚更新了下，谢谢！可以帮我看看代码吗？

[2020-08-10 07:38] Xsx93 opened #4089 "【黄埔学院】用paddle lite opt工具将ernie模型转为Paddle-Lite可以支持的naive_buffer格式 报错"
利用ernie构建文本分类模型，在边缘端部署，ernie模型转化过程报错
![issu](https://user-images.githubusercontent.com/32325982/89760717-83cde780-db1f-11ea-8128-7aa711790f5e.png)

[2020-08-10 08:03] Xsx93 commented on #4089
请问利用hub 训练ernie,推理代码还需要用到原ernie模型来定义模型module = hub.Module(directory="modules/ernie")，那么paddle-lite怎么调用原ernie模型
@DannyIsFunny

[2020-08-10 11:39] peif1987 opened #4091 "STL兼容问题"
build_android.sh里默认是c++_static, 选项里没有gnustl_static, 若将stl修改为gnustl_static,  编译不过。
但是看commit历史，以前的版本里是可以使用gnustl_static ,请问为什么不再兼容gnustl_static呢？

[2020-08-11 06:32] phojl opened #4095 "树莓派4B+ python 部署 yolov3模型出错"
树莓派4B+ python 3.7.3

利用yolov3 【608，608】 生成 model.nb

执行如下程序
--------
from paddlelite.lite import *
from PIL import Image
import numpy as np

# 设置config信息
config = MobileConfig()
config.set_model_from_file("model.np")

# 创建predictor
predictor = create_paddle_predictor(config)

# 从图片读入数据
image = Image.open('test.jpg')
resized_image = image.resize((608, 608), Image.BILINEAR)
image_data = np.array(res

[2020-08-11 06:39] hong19860320 commented on #4095
yolov3需要两个输入tensor，另一个input_tensor1 = predictor.get_input(1)，你需要设置图像尺寸。

[2020-08-11 09:28] SangerY opened #4099 "darknet-yolov3使用object_detection_demo.cc报错"
使用paddleDetection上训练的darknet-yolov3模型，使用paddle-lite-opt，2.6.1版本转换为nb模型，在armlinux下编译运行，在predictor->Run()报错，Program received signal SIGSEGV, Segmentation fault。是要修改前处理和后处理吗？yolov3的前处理应该就是不做减均值除以方差这个操作吧。
另外一个问题是代码中load_labels时，类别比实际类别多了一个

[2020-08-11 10:09] zhangyaobo opened #4100 "创建opt 时候执行命令./lite/tools/build.sh build_optimize_tool"
卡在这一直不动啊Cloning into '/opt/tools/paddle-lite/third-party/protobuf-mobile'..

[2020-08-11 13:21] cogbee opened #4102 "paddle-lite 支持 NHWC 格式吗？"
目前看 paddle-lite 的高性能实现基本上是 NCHW，有考虑支持 NHWC 格式吗？例如 Conv 的 NHWC 格式。Tensorflow 默认支持的也是 NHWC。

[2020-08-11 17:45] StarryDing commented on #3982
@BlainWu 哥们儿你这个问题解决了么...我也遇到了一样的问题.......

[2020-08-13 02:47] AIpioneer commented on #4083
如沟通，可以参考教程https://www.paddlepaddle.org.cn/tutorials/projectdetail/519049

[2020-08-13 02:55] ninetailskim opened #4115 "编译rknpu版本paddlelite遇到问题"
![Screenshot from 2020-08-13 10-51-30](https://user-images.githubusercontent.com/32216638/90089246-6a14e600-dd53-11ea-9f54-80488da4e37d.png)

完全按照文档的指令编译的，请问这个怎么解决呢

[2020-08-13 06:23] SangerY commented on #4099
已修改好

[2020-08-13 06:23] #4099 closed, assigned to nobody

[2020-08-13 08:39] zhang-gang opened #4123 "Android GPU版本的model.nb"
Tensorflow lite可以使用TfLiteDelegate 运行android GPU模式。
paddle-lite中好像生成的lite model都是for cpu的。如果使用Android GPU版本的，model.nb for GPU应该怎么生成？有相关的文档介绍吗？

[2020-08-13 09:56] zhangyaobo opened #4124 "opt 转化成nb模型报错"
代码test.py
[code]
python3  test.py
result:

[code]

[2020-08-13 10:57] zhupengyang commented on #4100
参考 https://paddle-lite.readthedocs.io/zh/latest/user_guides/source_compile.html#id17

[2020-08-13 10:59] zhangyaobo commented on #4100
rm -rf 删除第三方库解决

[2020-08-13 10:59] #4100 closed, assigned to nobody

[2020-08-13 11:07] zhupengyang commented on #4123
opt转换模型的时候，valid_targets选项添加opencl，即可使用mobile的gpu

[2020-08-14 02:16] zhang-gang commented on #4123
@zhupengyang 谢谢！使用paddle_lite_opt 2.6.1版本。  valid_targets=arm可以成功运行；但是valid_targets=opencl,arm 出现以下错误：
type_layout_cast_pass.cc:169] Check failed: is_found Can't find a layout kernel for layout op: Tensor<host,float,ImageDefault,0>:concat_2.tmp_0/target_trans->Tensor<host,float,NCHW,0>:multiclass_nms

请问有什么办法解决？

[2020-08-14 02:22] zhupengyang commented on #4123
@ysh329

[2020-08-14 02:26] phojl opened #4128 "paddlie lite 预测结果如何处理？"
利用paddlie lite 预测（python paddle_lite 树莓派）返回的结果，如何处理？
predictor.run()
# 得到输出数据
output_tensor = predictor.get_output(0)
print(output_tensor.shape())
print(output_tensor.float_data()[:400])
1）在相近区域中 相近概率会有很多种，如何选择最优？
0.0，0.248，62418460，24242，24134134，2141341
类型，概率，4个位置
2）如何将预测的位置 转换成 框选位置？（608，608）

[2020-08-14 06:06] phojl commented on #4128
predictor.get_output shape是 【100，6】，能否说一下get_output 结构及如何调用？

[2020-08-14 06:59] zhangyaobo opened #4131 "如图报错Segmentation fault (core dumped)"
编译环境armv8
./lite/tools/build_linux.sh  --arch=armv8  --with_cv=ON --with_extra=ON --with_python=ON

![image](https://user-images.githubusercontent.com/30718793/90222424-9eb19c00-de3e-11ea-9892-30d0f6cf41a4.png)

Segmentation fault (core dumped)

[2020-08-14 11:18] phojl commented on #4128
0.0，0.248，62418460，24242，24134134，2141341，后面4个数的含义是什么？是xmin,ymin,w,h?吗怎么整除608都大 啊

[2020-08-14 11:24] phojl commented on #4128
诉求是获得output 的 tensor 的  bbox 结构 及 有效的输出结果，output的输出太多

[2020-08-14 11:41] hong19860320 commented on #4128
理论上都应该是浮点数，格式就是类别，score，left, top, right, bottom，而且left, top, right, bottom是608x608图片的坐标。

我看你的0.0，0.248，62418460，24242，24134134，2141341，肯定是有问题的，数值太大了。

[2020-08-14 15:23] penghaoran opened #4135 "MobileNetV3 部署后执行报错"
.../Paddle/Paddle-Lite/lite/core/program.cc:306 Build] Check failed: op: no Op found for hard_swish

请问下，为什么会报这个错误，我是在树莓派4B 上执行的（32bit Raspberrt OS）
而且我换其他model后输出的结果和我在PC（Ubuntu X86）上直接用paddle推理的不一样。
模型转换时没有报错。
谢谢

[2020-08-15 01:53] phojl commented on #4128
在pdddleX 模型运行 与预测是正确的，但 生成nb 之后，在 paddle-lite 部署之后 出现这个问题，代码这样写有没问题?
# 设置config信息
config = MobileConfig()
config.set_model_from_file("/home/pi/Desktop/model466.nb")

# 创建predictor
predictor = create_paddle_predictor(config)
image = Image.open('/home/pi/Desktop/kc.jpg')
resized_image = image.resize((608, 608), Image.BILINEAR)
image_data = np.array(resized_image).flatten().tolist()
#print(image.size

[2020-08-15 17:30] penghaoran commented on #3927
解决了吗？我也遇到了

[2020-08-17 05:48] zhangyaobo commented on #4135
我的也是这个错误，

[2020-08-17 06:47] ninetailskim commented on #4115
有没有朋友出来帮一下

[2020-08-18 01:17] smartfridgeIoT opened #4144 "paddlelite 支持armv8指令集，但是最新的NXP i.MX8没有得到支持。使用Avnet Maax板子，基于Debian buster. 但是，使用pip install paddlelite却显示找不到这个module。是否需要重新设定源。已经指定-i pypi.tuna.tsinghua.com/simple"

[2020-08-18 03:19] zhupengyang commented on #4144
开发板的话，需要在板子上走一遍编译流程

[2020-08-19 01:19] phojl opened #4150 "树莓派4B+ python 部署 yolov3模型问题"
问题描述：树莓派4b+python+yolov3部署

树莓派中已进行编译 arm7+python，利用python 调用nb进行预测
在aistudio 中生成模型，用 paddle-lite 2.6.0 导出 nb，该模型（指的是 param  model 非nb）在 paddlex 运行正常。另利用2.6.1导出的nb 模型在安卓手机端部署也是正常的。但导出的2.6.0模型（nb）在 树莓派端运行出现问题：
1）出现的shape 为【100，6】，数据太多
2）出现的bbox定位超出 范围 0.0，0.248，62418460，24242，24134134，2141341

如何处理？

程序代码
-------
在pdddleX 模型运行 与预测是正确的，但 生成nb 之后，在 paddle-lite 部署之后 出现这个问题，代码这样写有没问题?

设置config信息

conf

[2020-08-19 03:18] daiyuanm opened #4152 "在nanopc-t4上跑ssdlite_mobilenetv3_large遇到 segmentation fault 问题。"
我在服务器上用ssdlite_mobilenetv3_large训练了自己的数据集，然后在服务器上的评估，预测都是正常的。之后利用opt（2.3.0）工具将所得__model__和__params__文件转换成nb文件（全程未报错）。

之后想利用官方的pplite_demo中的目标检测部分来测试。更改了object_detection_demo.cc中的INPUT_SHAPE = {1, 3, 320, 320}; INPUT_MEAN= {0.485, 0.456, 0.406};INPUT_STD={0.229, 0.224, 0.225}。
然后执行run.sh，就出现Segmentation fault (core dumped)这个错误。
我看了之前的issue，里面有用yolov3部署的时候出现同样问题，说是yolov3要有两个输入。是否mobiletv3+ssdlite也是

[2020-08-19 03:38] dongdongk commented on #4131
你试试增加参数   --with_exception=ON
代码中的逻辑

  ~LogMessageFatal()
#ifdef LITE_WITH_EXCEPTION
      noexcept(false)
#endif
  {
    log_stream_ << '\n';
#ifdef LITE_WITH_ANDROID
    ANDROID_LOG_F(log_stream_.str().c_str());
#endif
    fprintf(stderr, "%s", log_stream_.str().c_str());

#ifdef LITE_WITH_EXCEPTION
    throw std::exception();       //      如果允许异常抛出 后面的就不执行了.
#else
#ifndef LITE_ON_TINY_PUBLISH

[2020-08-19 03:48] dongdongk commented on #3941
我在 pi4b上执行
./lite/tools/build_linux.sh --with_python=ON --with_cv=ON --with_extra=ON
是成功的, 你试试.

[2020-08-19 05:49] phojl commented on #4150
所有的输出都是 超出范围

[2020-08-19 06:21] zhupengyang commented on #4150
- 输入的图片数据应该是要进行预处理的
- ```input_tensor1.set_int32_data(size_data)```

[2020-08-19 11:29] ZENOTME opened #4160 "c++使用paddlelite编译成功但是运行失败，提示error while loading shared libraries: libpaddle_full_api_shared.so: cannot open shared object file: No such file or directory，但是我已经将libpaddle_full_api_shared.so移入到了/usr/lib中了可是运行还是会报错"

[2020-08-19 12:21] zhangyaobo opened #4162 "树莓派linux armv7 预测库没有makefile文件"
系统环境：
Linux raspberrypi 4.19.97-v7l+ #1294 SMP Thu Jan 30 13:21:14 GMT 2020 armv7l GNU/Linux
执行命令：
./lite/tools/build_linux.sh  --arch=armv7hf  --with_cv=ON --with_extra=ON --with_python=ON
执行编译成功！ 可以用python 安whl文件 ，可以转nb文件。但是在/home/pi/paddlelite/build.lite.linux.armv7hf.gcc/inference_lite_lib.armlinux.armv7hf/demo/cxx 路径下 （我的安装路径），是空的。

[2020-08-19 12:23] zhangyaobo commented on #4162
![image](https://user-images.githubusercontent.com/30718793/90634079-be3f2f00-e259-11ea-871e-a2ad52fe5a51.png)

[2020-08-19 14:26] phojl opened #4164 "- 输入的图片数据应该是要进行预处理的"
- 输入的图片数据应该是要进行预处理的
- ```input_tensor1.set_int32_data(size_data)```

_Originally posted by @zhupengyang in https://github.com/PaddlePaddle/Paddle-Lite/issues/4150#issuecomment-675876985_

修改后 图片数据超范围问题 已经解决。但
输出结果shape 为 [100,6]
paddlex 输出结果为  类型 03，个数为1个
但paddle lite 中 输出结果为 100个
[1.0, 0.9866962432861328, 183.126708984375, 0.0, 189.959716796875, 111.8604736328125, 1.0, 0.9835320711135864, 25.8061

[2020-08-19 14:30] phojl commented on #4164
问题见 https://github.com/PaddlePaddle/Paddle-Lite/issues/4150 中问题1
[https://github.com/PaddlePaddle/Paddle-Lite/issues/4150](url)

[2020-08-19 14:47] phojl commented on #4164
经过 概率>0.5的过滤后 ，还有
[1.0, 0.9866962432861328, 183.126708984375, 0.0, 189.959716796875, 111.8604736328125]
[1.0, 0.9835320711135864, 25.806135177612305, 92.96170043945312, 30.389760971069336, 221.3701171875]
[1.0, 0.9611716270446777, 27.908554077148438, 96.76640319824219, 31.541526794433594, 171.68568420410156]
[1.0, 0.9573654532432556, 111.27281188964844, 112.41384887695312, 118.33348083496094, 184.

[2020-08-20 00:13] youngcube opened #4165 "如何在Windows下编译出x86静态库以便Win32客户端使用"
目前位于 release/v2.6.0 分支

我先是依照文档，运行了 \lite\tools\build_windows.bat
输入正确的vs command prompt以及python路径后，运行后报错，没有产出，以下是日志
[code]

后来我直接使用release编译好的 `inference_lite_lib.win.x86.MSVC.C++_static.py37.full_publish.zip` 内的 /cxx/lib  ，但这个库是x64的，而不是x86的，直接接入原有x86项目会提示 `Error | LNK2001 | unresolved external symbol "public: class std::vector<__int64,class std::allocator<__int64> > __thiscall paddle::lite_api::

[2020-08-20 02:47] daiyuanm commented on #4152
我用gdb调试，出现这样的信息。
![微信图片_20200820104028](https://user-images.githubusercontent.com/67545374/90711015-406b3a00-e2d2-11ea-86e5-b9f33c91b89a.jpg)

[2020-08-20 02:50] AIpioneer commented on #4091
您这里是有需要使用gnustl_static吗？

[2020-08-20 02:51] DannyIsFunny commented on #4124
你好，错误信息提示缺少算子 `hard_swish `，但是这个算子我查看了是存在的

[2020-08-20 02:51] DannyIsFunny commented on #4124
在Paddle-Lite v2.6.0之后版本是存在该算子的，请问可以提供一下复现方法吗

[2020-08-20 03:16] DannyIsFunny commented on #4152
请问你使用的是我们提供的ARMLINUX demo吗，使用的预测库版本和opt版本是否一致？

[2020-08-20 03:44] daiyuanm commented on #4152
你好。我是用的是你们提供的demo。我之前没有注意到[https://github.com/PaddlePaddle/Paddle-Lite-Demo]这个页面的“ARMLinux更新预测库”这部分。我刚刚按照步骤做了之后，得到了这样的提示（用手机拍的...忽略背景- -）：
![微信图片_20200820114015](https://user-images.githubusercontent.com/67545374/90714299-f0907100-e2d9-11ea-96b3-8246421116e0.jpg)

我现在统一一下opt和pplite的版本试试。谢谢了

[2020-08-20 03:47] yajiezhu opened #4168 "黄埔学院 paddle lite"
1.x2paddle 支持textCNN、bi-lstm-crf模型tf2pd吗
2.bi-lstm-crf模型支持pd2lite吗
3.通opt对bi-lstm-crf模型 pd2lite 模型大小不变 但是tf模型pb2lite 模型大小会降3-4倍呢
4.bi-lstm-crf lite模型推理demo有吗

[2020-08-20 06:02] yajiezhu opened #4169 "黄埔学院 x2paddle"
x2paddle 支持textCNN、bi-lstm-crf模型tf2pd吗

[2020-08-20 06:04] yajiezhu opened #4170 "黄埔学院 paddle lite"
1.textCNN、bi-lstm-crf模型支持pd2lite吗
2.通opt对bi-lstm-crf模型 pd2lite 模型大小不变 但是tf模型pb2tflite 模型大小会降3-4倍呢
3.textCNN、bi-lstm-crf lite模型推理demo有吗

[2020-08-20 06:04] #4168 closed, assigned to nobody

[2020-08-20 06:18] DannyIsFunny commented on #4162
你好，当前ArmLinux的编译结果中没有提供C++ demo，我们近期会补充进去，你这里需要的还我可以先提供给你一个C++ demo

[2020-08-20 06:23] zhangyaobo commented on #4162
好的，我项目里用到了这个，我的邮箱2875472400@qq.com，感谢

[2020-08-20 07:04] phojl opened #4171 "树莓派 4B+ python +paddlelite 部署 输出结果过多如果处理？"
问题描述：树莓派4b+python+yolov3部署

树莓派中已进行编译 arm7+python，利用python 调用nb进行预测
在aistudio 中生成模型，用 paddle-lite 2.6.0 导出 nb，该模型（指的是 param model 非nb）在 paddlex 运行正常。另利用2.6.1导出的nb 模型在安卓手机端部署也是正常的。但导出的2.6.0模型（nb）在 树莓派端运行出现问题：
1）出现的shape 为【100，6】，数据太多

-------
但paddle lite 中 输出结果为 100个
[1.0, 0.9866962432861328, 183.126708984375, 0.0, 189.959716796875, 111.8604736328125, 1.0, 0.9835320711135864, 25.806135177612305, 9

[2020-08-20 07:39] yajiezhu opened #4172 "x2paddle"
textCNN模型 tf2pd 转换的pd模型应该有两个文件夹 但是 我只有1个model_with_code 没有inference_model 还报错了x2paddle: error: unrecognized arguments: --framework=tensorflow --model=./resource/model.pb --save_dir=./paddle_model

[2020-08-20 07:40] yajiezhu opened #4173 "黄埔学院 x2paddle"
textCNN模型 tf2pd 转换的pd模型应该有两个文件夹 但是 我只有1个model_with_code 没有inference_model 还报错了x2paddle: error: unrecognized arguments: --framework=tensorflow --model=./resource/model.pb --save_dir=./paddle_model

[2020-08-20 07:40] #4172 closed, assigned to nobody

[2020-08-20 07:57] #4173 closed, assigned to nobody

[2020-08-20 08:01] #4169 closed, assigned to nobody

[2020-08-21 02:53] peif1987 commented on #4091
是的，有时会用到的其他依赖库里的STL和paddle的冲突了，所以试着用gnu_stl去编译paadle，发现无法通过

[2020-08-21 02:58] zhangyaobo commented on #4162
demo 端侧的paddleocr 的python 有相关的代码么？

[2020-08-21 15:43] Ultraopxt opened #4182 "请问如何推理部署在ROS端？"
ROS操作系统是机械臂的主流操作系统，请问paddlelite如何部署在ROS端，助力深度学习在机械臂上的应用？

[2020-08-21 15:45] Ultraopxt opened #4183 "How would Paddle-lite be deployed on the ROS?"
The ROS operating system is the main operating system of the manipulator robot. How would Paddle-lite be deployed on the ROS  to facilitate the application of deep learning on the manipulator robot?

[2020-08-22 02:12] Superjomn opened #4184 "[dev][P2] opt bin 及 python 增加版本的命令，隐藏 glog 自身的命令"
1. opt输出信息整理、隐藏中间的glog输出信息
2. 增加`opt --version`输出opt版本信息
排期：2020年8月24日～2020年8月31日

[2020-08-22 23:46] CheungBH opened #4185 "PaddleLite的目标检测"
您好.我想问一下,有没有关于目标检测的模型转换以及PC端C++部署的demo或者资料?我看到的好像也只有图像分类的mobilenet的demo.
不是很熟这个方面,麻烦您了.万分感谢~

[2020-08-23 13:40] penghaoran commented on #4081
我也遇到了同样的问题

[2020-08-23 13:40] penghaoran commented on #4081
请问你解决了吗？

[2020-08-24 02:49] hong19860320 commented on #4182
ros只是建立在linux系统之上的程序，因此可通过c++接口调用paddlelite，具体是创建catink包，然后在cmake中加入paddlelite库的依赖，接着创建一个node，在这个node的具体实现中订阅image相关的topic，接收image相关消息后，经过预处理后，调用paddlelite进行预测，最后把处理好的结果作为新的topic发布出去即可。

[2020-08-24 08:18] boceng opened #4190 "opt转换，不支持的ops"
使用opt转换工具转换自己训好的模型(ssd_vgg16_512)，出现如下错误 :
Error: This model is not supported, because 1 ops are not supported on 'arm'. These unsupported ops are: 'norm'.

在arm上编译好环境后，测试demo提供的mobilenet_v1的模型进行转换，是可以转换成功并使用的，请问，是opt暂不支持一些ops吗，如果支持，请问可以提供一下解决方案吗，感谢~

[2020-08-25 05:55] zhupengyang commented on #4190
是的，暂不支持norm

[2020-08-25 05:59] zhupengyang commented on #4190
应该是支持的。可以发下模型看下吗？

[2020-08-25 07:03] Jindooong commented on #4032
关于在tx2上部署lite的上述问题暂时还未解决，最用换成paddle inference可成功编译运行，不过速度似乎不理想。
在mobilenetv2-yolov3（608x608x3）模型下
Paddle inference （python版本）     推断单帧需要4.5-4秒；
Paddle inference（带tensorrt版本） 推断单帧需要0.9-1.2秒。
换其他部署方式了，有空再来填坑。

[2020-08-25 07:06] #4032 closed, assigned to nobody

[2020-08-26 02:24] shenyt-sanshui opened #4195 "树莓派4+安装预测库paddlelite失败"
树莓派4b+
armlinxv7 python 3.7.3   pip 20.2.2
命令：pip3 install paddlelite -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
报错ERROR: Could not find a version that satisfies the requirement paddlelite (from versions: none)
ERROR: No matching distribution found for paddlelite

树莓派不能装预测库paddlelite吗

[2020-08-26 03:53] yajiezhu opened #4196 "Paddle Lite推理"
paddle lite推理报错
/home/zyj/anaconda3/bin/python3.6 /home/zyj/pythonProgram/PaddleNER/123.py
Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)

from paddlelite.lite import *
import numpy as np
config = MobileConfig()
config.set_model_from_file('./test.lite_inference.model/model.nb')
# (2) 创建predictor
predictor = create_paddle_predictor(config)
# (3) 从图片读入数据
# image = Image.open

[2020-08-26 03:54] #4196 closed, assigned to nobody

[2020-08-26 03:57] yajiezhu opened #4197 "黄埔学院 paddle lite 推理"
paddle lite 报错 模型是bi-lstm-crf  paddle lite模型
/home/zyj/anaconda3/bin/python3.6 /home/zyj/pythonProgram/PaddleNER/123.py
Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)
from paddlelite.lite import *
import numpy as np
config = MobileConfig()
config.set_model_from_file('./test.lite_inference.model/model.nb')
# (2) 创建predictor
predictor = create_paddle_predictor(config)
# (3)

[2020-08-26 03:58] #4197 closed, assigned to nobody

[2020-08-26 04:02] yajiezhu opened #4198 "黄埔学院 paddle lite 推理"
paddle lite推理报错如下：
/home/zyj/anaconda3/bin/python3.6 /home/zyj/pythonProgram/PaddleNER/123.py
Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)
模型是paddle lite模型 bi-lstm-crf
代码如下：
[code]

[2020-08-26 04:06] zhupengyang commented on #4198
image_data需要转成float的类型

[2020-08-26 04:07] zhupengyang commented on #4195
可以，需要在树莓派上编译预测库，不支持从pip安装

[2020-08-26 05:30] Ligcox opened #4199 "使用TX2运行非combined模型找不到kernels"
我训练好了yolo v3模型，并将其保存，在TX2上部署出现错误，程序源码如下：
[code]

运行后输出：
dji@manifold2:~/Desktop$ python test.py
/home/dji/Desktop/model
WARNING: Logging before InitGoogleLogging() is written to STDERR
I0826 05:25:39.033563 24939 device_info.h:176] Found 1 device(s)
I0826 05:25:40.292371 24939 device_info.h:185] dev size = 1
I0826 05:25:40.292469 24939 cxx_api.cc:251] Load model from file.
I0826 05:25:40.889806 24

[2020-08-26 06:01] Rsndmmm opened #4200 "可以麻烦提供一下lstm转paddle模型的方案吗？"

[2020-08-26 06:01] yajiezhu commented on #4198
我转了 还是一样的错
[code]

[2020-08-26 09:10] zhupengyang commented on #4198
你的数据是不够的，需要3*224*224的数据，但是代码里只给了7个数据
```image_data=np.ones([1, 3, 224, 224], 'float32').flatten（）.tolist()```
试试这样能不能跑

[2020-08-26 09:18] yajiezhu commented on #4198
一样的错
/home/zyj/anaconda3/bin/python3.6 /home/zyj/pythonProgram/PaddleNER/123.py

Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)
[code]

[2020-08-26 10:16] zhupengyang commented on #4198
把 ```input_tensor.resize([1, 3, 224, 224])``` 加上

---

代码前后请加上 \`\`\` ，这样可以保持代码格式

[2020-08-26 11:07] DannyIsFunny commented on #3496
当前Paddle-Lite的Python库即包含预测功能、也包含opt转化功能，所以这些符号都在里面

[2020-08-27 01:29] yajiezhu commented on #4198
报错：
/home/zyj/anaconda3/bin/python3.6 /home/zyj/pythonProgram/PaddleNER/123.py
WARNING: Logging before InitGoogleLogging() is written to STDERR
E0827 09:25:53.550328 12654 lookup_table_op.cc:34] ids_dims[ids_rank - 1] == 1 check failed!
E0827 09:25:53.550360 12654 lookup_table_op.cc:34] 224 != 1
F0827 09:25:53.550364 12654 program.cc:292] Check failed: op_->CheckShape()
*** Check failure stack tra

[2020-08-27 01:36] zhupengyang commented on #4198
你的模型的输入不是(1,3,224,224)的吧。。。不能硬往示例里面套啊！根据你自己的模型调整下输入shape和数据啊！

[2020-08-27 01:44] yajiezhu commented on #4198
我的数据[None,7] 如下：
image_data = [1.0, 3.0, 9.0, 11.0, 0.0, 0.0, 0.0]

[2020-08-27 03:00] shenyt-sanshui opened #4207 "树莓派4B+部署paddlelite口罩预测模型 预测程序出错"
armlinuxV7 树莓派4B+ python3.7
在树莓派上部署口罩预测模型：代码如下
from paddlelite.lite import *
from PIL import Image
import numpy
config = MobileConfig()
config.set_model_from_file("./mask_detector_opt2.nb")
predictor = create_paddle_predictor(config)
image = Image.open('./kouzhao.png')
resized_image = image.resize((224, 224), Image.BILINEAR)
image_data = np.array(resized_image).flatten().tolist()
input_tensor = pr

[2020-08-27 06:14] #4190 closed, assigned to nobody

[2020-08-27 06:41] shenyt-sanshui commented on #4195
嗯嗯解决了

[2020-08-27 06:53] zhupengyang commented on #4198
[code]

[2020-08-27 07:07] yajiezhu commented on #4198
按照你的代码跑了一下 报错如下：
/home/zyj/anaconda3/bin/python3.6 /home/zyj/pythonProgram/PaddleNER/1234.py
WARNING: Logging before InitGoogleLogging() is written to STDERR
E0827 15:06:07.327095 15207 lookup_table_op.cc:34] ids_dims[ids_rank - 1] == 1 check failed!
E0827 15:06:07.327124 15207 lookup_table_op.cc:34] 7 != 1
F0827 15:06:07.327128 15207 program.cc:292] Check failed: op_->CheckShape()
*** Check failu

[2020-08-27 07:19] yajiezhu commented on #4198
用paddle推理 关键代码和输出如下：
'''input_text = '明天北京的天气'
def server(input_text):
    data = [vocabulary[i] for i in input_text]
    print(data)
    result = infer(data)
    output_tag = [reverse_tag[i] for i in result]
    print(output_tag)
    result = decoder.decode_to_offset(output_tag)
    return result

/home/zyj/anaconda3/bin/python3.6 /home/zyj/pythonProgram/PaddleNER/inference_paddle_ner.py
[24634,

[2020-08-27 07:19] yajiezhu commented on #4198
用paddle推理 关键代码和输出如下：
'''input_text = '明天北京的天气'
def server(input_text):
    data = [vocabulary[i] for i in input_text]
    print(data)
    result = infer(data)
    output_tag = [reverse_tag[i] for i in result]
    print(output_tag)
    result = decoder.decode_to_offset(output_tag)
    return result

/home/zyj/anaconda3/bin/python3.6 /home/zyj/pythonProgram/PaddleNER/inference_paddle_ner.py
[24634,

[2020-08-27 07:31] zhupengyang commented on #4198
```input_tensor.resize([1, 7]) -> input_tensor.resize([7, 1])```

[2020-08-27 07:34] yajiezhu commented on #4198
报错如下：
/home/zyj/anaconda3/bin/python3.6 /home/zyj/pythonProgram/PaddleNER/1234.py
WARNING: Logging before InitGoogleLogging() is written to STDERR
F0827 15:32:28.541895 19291 crf_decoding_compute.cc:72] Check failed: lod.size() == 1UL (0 vs. 1)
*** Check failure stack trace: ***

Process finished with exit code 134 (interrupted by signal 6: SIGABRT)
代码如下：
'''from paddlelite.lite import *
import nu

[2020-08-27 07:36] yajiezhu commented on #4198
要不你给我个邮箱 paddle lite 模型给你 ？

[2020-08-27 07:40] yajiezhu commented on #4198
demo tags如下：
O
B-DATE
I-DATE
L-DATE
U-DATE
B-PERSON
I-PERSON
L-PERSON
U-PERSON
B-GPE
I-GPE
L-GPE
U-GPE
B-ORG
I-ORG
L-ORG
U-ORG

[2020-08-27 09:00] HaoLiuHust opened #4211 "安卓armv7编译时用clang时设置线程数没有效果，gcc正常"
使用benchmark_bin测速，编译时若选择用clang，则设置线程数完全没有效果。如果选择gcc，设置线程数生效，clang的速度基本上和gcc单线程一样
![image](https://user-images.githubusercontent.com/7233091/91420742-aaae4c80-e887-11ea-96ee-2fcb26da7039.png)
看cmake里用clang的时候会把OpenMP关掉

[2020-08-27 09:07] HaoLiuHust commented on #4211
![image](https://user-images.githubusercontent.com/7233091/91420742-aaae4c80-e887-11ea-96ee-2fcb26da7039.png)
看cmake里用clang的时候会把OpenMP关掉

[2020-08-27 11:11] chenxiaoyu3 commented on #3944
paddelite 在se50上的编译有进展了么？

[2020-08-27 12:46] DannyIsFunny opened #4213 "【BUG】Paddle-Lite repo中有乱码"
`Paddle-Lite/CMakeLists.txt`文件中出现乱码（推测为Windows下修改代码时写入了不可被解析的代码段

https://github.com/PaddlePaddle/Paddle-Lite/blob/6911332004ab4873e07ee0990c1bed1a26ed7662/CMakeLists.txt#L54
需要验证，如有问题需要修复：

[2020-08-28 01:58] ZhangXinNan opened #4214 "Android: No toolchain for ABI 'arm64-v8a' found in the NDK"
(py37_paddle) ➜  Paddle-Lite git:(zxdev) ./lite/tools/build_android.sh  --arch=armv8  --with_cv=ON --with_extra=ON
-- Found Paddle host system: macosx, version: 10.15.5
-- Found Paddle host system's CPU: 12 cores
-- Found host C compiler: /usr/bin/gcc
-- Found host CXX compiler: /usr/bin/g++
-- Lite ARM Compile android with armv8
-- Android: Targeting API '23' with architecture 'arm64', ABI 'arm64

[2020-08-28 07:23] dklinzh opened #4218 "op `matrix_nms` 不支持问题"
使用`paddle_lite_opt`转化用`ppyolo_r18vd`训练导出的模型
[code]
 提示错误:

环境:
- PaddlePaddle 1.8.4.post107
- PaddleDetection release/0.4 9e38894
- paddlelite-2.6.1-cp37-cp37m-manylinux1_x86_64.whl
- Python 3.7.3

自定义的`yml`配置如下:
[code]

[2020-08-28 09:14] Superjomn opened #4219 "[doc] 增加编译选项的解释"
https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/CMakeLists.txt#L73

这里选项比较多，可以分类别介绍下

文档里面，源码编译部分需要增加一些内容

[2020-08-28 09:26] DannyIsFunny opened #4220 "【BUG】Paddle-Lite repo中有乱码"
`Paddle-Lite/CMakeLists.txt`文件中出现乱码（推测为Windows下修改代码时写入了不可被解析的代码段

https://github.com/PaddlePaddle/Paddle-Lite/blob/6911332004ab4873e07ee0990c1bed1a26ed7662/CMakeLists.txt#L54
需要验证，如有问题需要修复

[2020-08-28 09:28] #4213 closed, assigned to DannyIsFunny

[2020-08-31 01:40] zhihonglujon opened #4224 "壁虎人脸面板无法运行Paddlelite demo问题"
近期有个业务需求，要在壁虎人脸面板里集成Paddle训练好的模型，下载Paddlelite android 的demo后，普通手机可以运行这个DEMO，但在壁虎人脸面板上无法运行。网上查资料说NDK版本不一致，但是下载了所有的NDK版本都无法运行。错误截图如下，清指点。谢谢@！
![2020-08-31 09-39-28屏幕截图](https://user-images.githubusercontent.com/58358103/91675154-e853f380-eb6d-11ea-8fe5-7f71ff931e04.png)

[2020-08-31 01:51] livingbody commented on #4224
NDK多看看，真的会有这个问题

---原始邮件---
发件人: "zhihonglujon"<notifications@github.com&gt;
发送时间: 2020年8月31日(周一) 上午9:40
收件人: "PaddlePaddle/Paddle-Lite"<Paddle-Lite@noreply.github.com&gt;;
抄送: "Subscribed"<subscribed@noreply.github.com&gt;;
主题: [PaddlePaddle/Paddle-Lite] 壁虎人脸面板无法运行Paddlelite demo问题 (#4224)

近期有个业务需求，要在壁虎人脸面板里集成Paddle训练好的模型，下载Paddlelite android 的demo后，普通手机可以运行这个DEMO，但在壁虎人脸面板上无法运行。网上查资料说NDK版本不一致，但是

[2020-08-31 02:07] zhihonglujon commented on #4224
怎么看呢？已经下载替换了所有的NDK版本，还是不行。

[2020-08-31 07:27] qili93 commented on #4219
Develop  PR: https://github.com/PaddlePaddle/Paddle-Lite/pull/4225

[2020-08-31 08:33] zhouxingwei opened #4227 "编译的paddlelite库运行demo失败"
调试环境：armv8 linux
内存：2g
使用Paddle-Lite-Demo工程可以正常运行object_detection_demo。按照：
# 1. 下载Paddle-Lite源码 并切换到release分支
git clone https://github.com/PaddlePaddle/Paddle-Lite.git
cd Paddle-Lite && git checkout release/v2.6

# 2. 编译Paddle-Lite Android预测库 (armv8, gcc编译)
./lite/tools/build_linux.sh
编译生成的libpaddle_light_api_shared.so push到手机中，运行出现：
terminate called after throwing an instance of 'std::bad_alloc'

[2020-08-31 08:49] livingbody commented on #4227
我没注意看，反正过去了

---原始邮件---
发件人: "zhouxingwei"<notifications@github.com&gt;
发送时间: 2020年8月31日(周一) 下午4:33
收件人: "PaddlePaddle/Paddle-Lite"<Paddle-Lite@noreply.github.com&gt;;
抄送: "Subscribed"<subscribed@noreply.github.com&gt;;
主题: [PaddlePaddle/Paddle-Lite] 编译的paddlelite库运行demo失败 (#4227)

调试环境：armv8 linux
 内存：2g
 使用Paddle-Lite-Demo工程可以正常运行object_detection_demo。按照：

1. 下载Paddle-Lite源码 并切换到release分支

git c

[2020-08-31 08:57] #4227 closed, assigned to nobody

[2020-08-31 08:57] zhouxingwei commented on #4227
重装了下环境可以了。

[2020-08-31 09:12] ZhangXinNan commented on #4214
https://paddle-lite.readthedocs.io/zh/latest/user_guides/source_compile.html#id13
使用推荐的ndk版本

[2020-08-31 09:12] #4214 closed, assigned to nobody

[2020-09-01 06:04] DannyIsFunny commented on #4207
你好，从报错信息上看，是因为中间算子发现输入数据格式不正确。这种错误一般是模型的输入的size不正确，需要检查一下模型的输入是否设置正确。如果确认相同输入在PaddlePadle上预测是正确无误的，可以提供一下复现问题的单测，我们试一下能否复现问题

[2020-09-01 06:14] shenyt-sanshui commented on #4207
嗯嗯谢谢您的解答  我再试一试

[2020-09-01 07:23] key-1994 opened #4232 "Segmentation fault (core dumped)"
将MobileNetV3_large_x1_0预训练模型固化后转为naive_buffer格式，按照c++demo的步骤进行移动端部署，android端程序在运行
  // 2. Create PaddlePredictor by MobileConfig
  std::shared_ptr<PaddlePredictor> predictor =
      CreatePaddlePredictor<MobileConfig>(config);
这一句后Segmentation fault (core dumped)

[2020-09-01 09:32] ClassmateXiaoyu opened #4234 "关于第三方摄像头部署"
你好，我在树莓派4B上编译好了环境，paddlelite提供的目标检测demo可以正常跑，实时视频流也正常。现在我购买了一个第三方的摄像头，品牌是雄迈的。现在遇到了一个问题，树莓派结合paddlelite能否读取到第三方摄像头的画面？如果可以，如何实现？

[2020-09-01 18:13] 4mosoT opened #4239 "Can't compile FPGA"
I can compile Lite with build_linux.sh but whenever I try to compile to use my FPGA (build_fpga.sh) it fails.
This is the CMakeError log.

[code]

[2020-09-02 03:52] #3972 closed, assigned to nobody

[2020-09-02 11:57] qili93 commented on #4219
Close this issue as PR merged in develop in PR4225 and release/v2.5 in PR 4228.

[2020-09-02 11:57] #4219 closed, assigned to nobody

[2020-09-03 03:28] LLeeSG commented on #4199
the same problem, can anyone help?

[2020-09-03 08:08] #4232 closed, assigned to nobody

[2020-09-03 08:22] key-1994 opened #4249 "源码编译"
您好，想将paddle-lite源码编译到自己的工程里，只用到基础的分类模型预测，想问下需要编译的核心源码目录有哪些

[2020-09-03 09:04] lleesg commented on #4199
met the similar problem "Check failed: !instruct.kernels().empty() No kernels for ..."，resolved through the next steps:
1. use release branch  instead of develop (as official suggestion)
2. install paddlelite
may it helps..

[2020-09-03 09:13] Ligcox commented on #4199
Paddlelite have not wheel in arrch64 platform, so  I compiled PaddlElite using the 2.6.1 source code and there are no errors using “import paddlelite”， but the problem remains.

[2020-09-03 12:04] #3837 closed, assigned to nobody

[2020-09-03 12:43] AIpioneer commented on #4218
您好，正在支持中

[2020-09-03 12:45] AIpioneer commented on #4160
有可能是权限的问题，可以chmod试试

[2020-09-03 12:46] AIpioneer commented on #4165
您好，目前paddle对x86的支持其实不是很完备。对于x86的部署，我们推荐使用paddle的原生推理库paddle inference。https://github.com/PaddlePaddle/Paddle-Inference-Demo

[2020-09-03 12:48] AIpioneer commented on #4200
模型转换请参考paddle的模型转换工具X2Paddle。https://github.com/PaddlePaddle/X2Paddle

[2020-09-03 12:51] AIpioneer commented on #4249
Paddle Lite提供了Android/iOS/X86平台的官方Release预测库下载，我们优先推荐您直接下载 Paddle Lite预编译库（https://paddle-lite.readthedocs.io/zh/develop/quick_start/release_lib.html）。 您也可以根据目标平台选择对应的源码编译方法。Paddle Lite 提供了源码编译脚本，位于 lite/tools/文件夹下，只需要 准备环境 和 调用编译脚本 两个步骤即可一键编译得到目标平台的Paddle Lite预测库。

[2020-09-03 12:52] AIpioneer commented on #4239
您好！build_FPGA目前支持的是百度Edgeboard，请问您用的是这款硬件吗

[2020-09-03 12:53] AIpioneer commented on #4234
是可以的，建议你参考paddlelite的demo里的实现 https://aistudio.baidu.com/aistudio/projectdetail/315730

[2020-09-03 12:56] AIpioneer commented on #4170
1. textCNN 目前缺少op，正在支持中。bi-lstm-crf,如私下沟通，已转成功，但需要你独自实现推理代码，遇到问题再提出来。
2. 大小不变也是正常的。模型压缩可以通过paddleslim实现。
3. NLP的demo请参考https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/tests/api/test_transformer_with_mask_fp32_arm.cc

[2020-09-03 12:59] AIpioneer commented on #4185
C++部署可以参考的示例：
https://github.com/PaddlePaddle/Paddle-Inference-Demo/tree/master/c%2B%2B
https://paddledetection.readthedocs.io/advanced_tutorials/deploy/DEPLOY_CPP.html

[2020-09-03 13:36] AIpioneer commented on #4102
感谢建议，我们后续考虑增加一个nhwc-conv实现的op

[2020-09-04 01:43] zhupengyang commented on #4198
- 如果你的模型需要设置lod，请使用 tensor 的 set_lod() 方法设置相应的lod

---

- lod设置的文档会在后续进行补充和完善

[2020-09-04 05:41] ClassmateXiaoyu commented on #4234
你好，这个demo通过使用树莓派那个csi摄像头正常跑通了。现在手头有其他品牌的枪式网络摄像头，就是困惑在如何调用枪式网络摄像头去进行视频流的预测。

[2020-09-04 05:45] huaxiuyiwei opened #4252 "JeTson nano"
./lite/tools/build.sh --build_python=ON cuda
报错:
/home/ox/Paddle-Lite/build_cuda/third_party/install/glog/include/glog/logging.h:720:1: note: in expansion of macro ‘DEFINE_CHECK_OP_IMPL’
 DEFINE_CHECK_OP_IMPL(Check_LT, < )
 ^~~~~~~~~~~~~~~~~~~~
/home/ox/Paddle-Lite/build_cuda/third_party/install/glog/include/glog/logging.h: In instantiation of ‘std::__cxx11::string* google::Check_LTImpl(const T1&,

[2020-09-04 08:20] #4195 closed, assigned to nobody

[2020-09-05 00:38] ClassmateXiaoyu commented on #4234
自己尝试在源代码的main函数中修改了中摄像头的参数，读取到了第三方摄像头，这个问题已解决。

[2020-09-05 00:38] #4234 closed, assigned to nobody

[2020-09-05 00:42] ClassmateXiaoyu opened #4254 "paddlelite预测结果转发"
在树莓派4B通过paddlelite部署了人脸检测模型，预测的值能否发送到云服务器，如果可以，如何实现，有没有相关的文档？

[2020-09-07 02:03] zhupengyang commented on #4254
paddlelite不提供此功能。建议使用其它方法将paddlelite的预测结果发送到云服务器。

[2020-09-07 05:53] hong19860320 commented on #4224
paddlelite+hiai库要求高版本的android_api_level，建议修改 https://github.com/PaddlePaddle/Paddle-Lite/blob/4539964bc0dd39949f68012a9b1e8d707be5edac/cmake/cross_compiling/android.cmake#L36 https://github.com/PaddlePaddle/Paddle-Lite/blob/4539964bc0dd39949f68012a9b1e8d707be5edac/cmake/cross_compiling/android.cmake#L41 api_level后重新编译只支持CPU的Paddlelite库。

[2020-09-07 06:14] ZhijunLStudio opened #4257 "expand_as不支持问题"
我在模型部署的时候，他说我这个expand_as不能用，有其他可以把c x 1 x 1扩展为c x n x n的api吗
![92325731-76a10b80-f07f-11ea-8412-1d652e86bfaa](https://user-images.githubusercontent.com/60954978/92354168-625b1e00-f114-11ea-8a40-b418ce9983da.png)

[2020-09-07 08:55] Superjomn opened #4260 "Java API 内存管理问题"
以下需要进一步确认：

![image](https://user-images.githubusercontent.com/328693/92368855-d86a7f80-f12a-11ea-978e-785ebf92aa17.png)

jclazz, jfield这种局部对象的引用没有释放掉

[2020-09-07 17:41] 4mosoT commented on #4239
Yes. But do I have to compile it on the board? I bought FZ3. http://www.myirtech.com/list.asp?id=630
If I have to compile it on the board I have no idea how to.

[2020-09-08 07:27] #4249 closed, assigned to nobody

[2020-09-08 14:03] zhaoyang-star opened #4271 "运行报错：no kernel found for feed"
使用 full_publish 编译出的 .so，然后基于该 .so 编译 demo 中的 mobilenetv1_full，在855手机上运行报错：
![image](https://user-images.githubusercontent.com/24290792/92486591-dd106000-f21e-11ea-9391-e6d9ef4bd9b8.png)

[2020-09-09 02:54] zjpipix opened #4273 "安装Paddle-Lite develop版本，在树莓派4b上Python推理报“浮点数例外”"
安装脚本命令：./lite/tools/build_linux.sh --arch=armv7hf --with_python=ON --with_cv=ON full_publish
![image](https://user-images.githubusercontent.com/46735904/92549040-0070f480-f28b-11ea-9f29-a179f4813aa2.png)

推理代码：
[code]

run的时候报“浮点数例外”

[2020-09-09 02:57] AIpioneer commented on #4252
您好！jeston nano请使用飞桨的原生推理库paddle inference https://www.jianshu.com/p/09a0fd569247

[2020-09-09 03:10] AIpioneer commented on #4183
Thanks for providing us the industry info. This application is still under the develop plan for paddle lite.

[2020-09-09 03:15] juncaipeng commented on #4257
PaddleiLite还没有支持expand_as op。
目前没有其他op可以实现这个功能。

[2020-09-09 03:28] AIpioneer commented on #4273
您好，报错信息也麻烦贴一下

[2020-09-09 03:39] cszyx666 opened #4274 "Jetson NX error"
![image](https://user-images.githubusercontent.com/48897647/92551664-213c4880-f291-11ea-8504-693706f5a4fe.png)

[2020-09-09 03:42] cszyx666 commented on #4274
测试运行的是PaddleLite-armlinux-demo，Jetson NX是aarch64

[2020-09-09 08:42] ClassmateXiaoyu opened #4280 "树莓派部署模型预测报错"
通过paddlex用自定义的数据集训练并保存了nb格式的目标检测模型。在树莓派4B进行部署，将nb模型文件放入code中的models文件夹，同时修改了code中labels里的标签内容与训练集一致，最后也将run.sh中的路径进行了修改，最终运行报错如下：
[code]

[2020-09-09 08:47] AIpioneer commented on #4274
您好，NX请使用paddle inference进行部署。这里有个应用示例请参考https://aistudio.baidu.com/aistudio/projectdetail/735759。另外还有paddle inference的文档，请参考https://github.com/PaddlePaddle/Paddle-Inference-Demo

[2020-09-09 08:49] cszyx666 commented on #4274
收到，谢谢

[2020-09-09 12:26] #4160 closed, assigned to nobody

[2020-09-10 02:22] AIpioneer commented on #4257
expand_as op正在添加中，预计下周完成

[2020-09-10 09:20] zhudibo opened #4294 "ubuntu下运行Android版中armv7的mobile_light实例在make时遇到问题。"
在make的时候遇到一下问题：make: /toolchains/arm-linux-androideabi-4.9/prebuilt/linux-x86_64/bin/arm-linux-androideabi-g++：命令未找到，请大佬指点啊

[2020-09-11 01:53] 260250510 commented on #3042
刘季明(刘季明)
💬~
java模型加载api，setModelFromBuffer(model_buffer)，方法有没有示例？参数换了好多种读取到内存的方式转换，都加载不成功。

[2020-09-11 01:53] 260250510 opened #4299 "java模型加载api，setModelFromBuffer(model_buffer)，方法有没有示例？参数换了好多种读取到内存的方式转换，都加载不成功。"
java模型加载api，setModelFromBuffer(model_buffer)，方法有没有示例？参数换了好多种读取到内存的方式转换，都加载不成功。

[2020-09-11 07:27] ClassmateXiaoyu opened #4302 "opt模型转换报错"
[code]
注：我在pc端使用python脚本也出现了同样的问题。

[2020-09-11 07:40] ClassmateXiaoyu commented on #4302
找到问题了，是自己的路径写错了

[2020-09-11 07:40] #4302 closed, assigned to nobody

[2020-09-11 07:46] b1xian commented on #2140
您好，如何解决这个问题呢

[2020-09-11 08:14] zhudibo opened #4304 "mobile_light在make时遇到No such file or directory #include_next <time.h>"
在linux系统下大佬请指点下，ndk安装好之后，make时遇到No such file or directory  #include_next <time.h>，

[2020-09-14 01:18] boceng opened #4310 "lite转换分割模型，输出output_tensor的含义"
您好，我这里使用的是paddleseg下的unet，部署到lite后，输出tensor的shape为[1, 3, 512, 512]，其中所有像素值都为0~1的小数值，且值要么极大（0.9+）要么极小（0.1-），请问这些值的含义是什么？

[2020-09-14 03:25] boceng commented on #4310
arm平台

[2020-09-14 06:00] zjpipix commented on #4273
只有浮点数例外这个错误
![image](https://user-images.githubusercontent.com/46735904/93048948-9e512e80-f692-11ea-84b4-0c8d7413f4f9.png)

[2020-09-14 11:31] zpllz opened #4320 "使用源码编译失败"
使用的环境：
g++版本：8.3.1-3
cuda版本：10.2
cudnn版本：8.0.0
cpu：Inter(R) xeon(R) Gold 6428 CPU @ 2.50GHz
系统：Centos Linux releaes 7..1810 (Core)
编译命令：./lite/tools/build.sh --build_python=ON cuda
编译错误日志:
[code]

[2020-09-15 06:24] DannyIsFunny opened #4333 "Paddle-Lite 的python接口需要支持输入或输出`numpy.array`的数据"
- 新增Python接口
   - `Tensor.numpy()`    Tensor转化为numpy
   - `Tensor.from_numpy()`  numpy转化为Tensor

[2020-09-15 08:35] zhupengyang commented on #4310
极大当做1，极小当做0，然后绘制黑白的图像，可以看出分割的轮廓

[2020-09-15 10:17] fasiondog opened #4336 "build_android.sh优化建议"
目前 build_android.sh 中缺少对android toolchain的指定，导致按帮助说明实际无法编译（mac上测试）。
经查其运行cmake时，缺失对android工具链的指定，如：
-DCMAKE_TOOLCHAIN_FILE=/Users/XXX/Library/Android/sdk/ndk-bundle/build/cmake/android.toolchain.cmake \

同时，如加上上述工具链参数，则无需像帮助文档中所说需要特殊的cmake版本。供参考改进。

[2020-09-15 11:33] RichardYang88 commented on #2138
@liu36259069 @mzchtx @xiaolvtaomi 请问这个问题解决了吗；我也遇到这个问题了。。paddlePredictor.run() 崩溃！！！

[2020-09-16 01:01] nomoreorless opened #4343 "Ubuntu解压模型得到的.nb是文件夹"
Ubuntu 20.04 运行java demo中的prepare_demo.bash，得到的模型文件.nb都是文件夹，而不是文件。

[2020-09-16 01:22] nomoreorless commented on #3961
@martinou @hong19860320 解决了吗？我也遇到同样的问题。

paddlehub 1.8.2
paddle-lite 2.6.1
paddlepaddle 1.8.4

使用如下方法得到的原始模型
[code]

运行：
[code]

错误信息：
I0916 09:14:24.286978 748569 cxx_api.cc:251] Load model from file.
[libprotobuf ERROR /workspace/hzq/Paddle-Lite/third-party/protobuf-host/src/google/protobuf/message_lite.cc:119] Can't parse message of type "paddle.framework.proto.VarType.TensorDesc" because it is

[2020-09-16 01:30] boceng commented on #4310
感谢

[2020-09-16 01:38] boceng opened #4344 "Package 'gcc-aarch64-linux-gnu' has no installation candidate"
# apt-get install -y --no-install-recommends gcc g++ git make wget python unzip
	Reading package lists... Done
	Building dependency tree
	Reading state information... Done
	g++ is already the newest version (4:5.3.1-1ubuntu1).
	gcc is already the newest version (4:5.3.1-1ubuntu1).
	make is already the newest version (4.1-6).
	unzip is already the newest version (6.0-20ubuntu1).
	git is already the

[2020-09-16 03:00] DannyIsFunny opened #4346 "Paddle-Lite kernel选择和kernel注册方法改进"
【当前问题】Paddle-Lite在运行模型时偶尔出现如下问题：
![image](https://user-images.githubusercontent.com/45189361/93287448-29096900-f80c-11ea-9b6e-743893f80bf9.png)

【问题分析】
Paddle-Lite没有找到与模型中与描述的输入输出精度一致的算子。
例如：
`gather` 算子在模型中使用的时输入和输出都是`int64`类型的，而`Paddle-Lite`中同时注册了`int64`输入输出和float输入输出的 `gather`实现，但是运行时`paddle-Lite`选择了float类型实现的`gather`。
选中不一致精度实现的kernel后就会往模型的算子之间加入cast 算子来转换精度

【框架问题分析】
1. 为什么Paddle-Lite选kernel

[2020-09-16 05:59] ralph0813 opened #4349 "opt_mac导出模型失败"
导出改版yolo模型时提示：
 Can't find a Cast kernel for Cast op: Tensor<host,float,NCHW,0>:image_shape->Tensor<arm,int32_t,NCHW,0>:yolo_box
opt 版本：v2.6.1
paddlepaddle版本：1.8.2
模型文件如下：
[freeze_model.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/5229951/freeze_model.zip)

[2020-09-16 06:11] cyj1986 commented on #4336
感谢您的建议， 我们研究一下

[2020-09-16 06:13] cyj1986 commented on #4343
感谢您的反馈， 我们复现下问题

[2020-09-16 06:19] cyj1986 commented on #4349
感谢您的反馈， 目前 cast  kernel 还没有实现float->int32， 我们安排开发下！

[2020-09-16 06:35] boceng commented on #4310
您好，请问经过opt转换后的分割模型精度会损失很多，是正常情况，还是缺少了一些处理？
我目前的处理为：输入图像进行归一化，方差和均值都是和模型训练时候的一致；后处理，将当前通道>0.6的置为1，其余为0。但得到的结果和未转换前的效果降低好多。 @zhupengyang

[2020-09-16 06:49] ralph0813 commented on #4349
好的，现阶段要用的话，能用其他的代替么？如果有的话，需要怎么修改？

[2020-09-16 07:19] Shixiaowei02 commented on #4343
您好，Paddle-Lite 此样例中提供的模型的确为文件夹形式的模型，可使用 `setModelDir(model_dir)` 接口进行加载。在 Paddle-Lite v2.7 正式发布时，我们会统一更新文档及示例中的模型格式并进行测试。目前请参考此接口文档，谢谢！
https://github.com/PaddlePaddle/Paddle-Lite/blob/release/v2.6/docs/api_reference/java_api_doc.md

[2020-09-16 07:37] nomoreorless commented on #4343
@Shixiaowei02 好的，谢谢！

[2020-09-16 07:37] #4343 closed, assigned to Shixiaowei02

[2020-09-16 10:34] fasiondog commented on #4336
补充下，还有增加 -DANDROID_ABI=arm64-v8a\
以便正确指定arm架构。

目前手工改的build_android.sh ，如下，没有做成参数。cmake 3.17.3 可编译成功，但 开启 omp 时，libomp实际没有被链接进so，这个也需要改进。
readonly CMAKE_COMMON_OPTIONS="-DWITH_LITE=ON \
                               -DLITE_WITH_ARM=ON \
                               -DLITE_WITH_LIGHT_WEIGHT_FRAMEWORK=ON \
                               -DLITE_WITH_X86=OFF \
                               -DWITH_

[2020-09-16 12:14] edimetia3d commented on #4349
你好，我们发现给出的模型文件中 yolo_box 算子的imgSize参数为float类型，该参数应当为int32类型，请先参考文档尝试修改模型试试。
https://www.paddlepaddle.org.cn/documentation/docs/api_cn/layers_cn/yolo_box_cn.html

[2020-09-16 12:38] ralph0813 commented on #4349
好的，已经成功导出。

[2020-09-17 06:05] cyj1986 commented on #4273
这个说明模型运行中有地方除0了，要看看哪里会引发这个问题； 首先请检查模型输入个数， 目前看到的输入Tensor只有一个；如果确认没问题， 要开启Debug；具体Debug方法，我们稍后提供

[2020-09-17 07:34] DannyIsFunny opened #4358 "将PaddleSlim中的int16量化和FP16模型压缩存储功能移植到`opt`工具中实现"
- opt 功能之一
- 加入模型压缩文档（Paddle-Lite)

[2020-09-17 09:09] DannyIsFunny commented on #4273
你好，运行这个python脚本之前，可以 `export GLOG_v=4` 设置环境变量，来打印出更多的LOG日志信息，请问可以 `export GLOG_v=4` 然后再运行一下这个脚本看一下更详细的报错信息吗

[2020-09-18 07:23] yyqgood opened #4372 "Paddle-Lite架构设计理念"
你好, Paddle-Lite有架构设计理念的Paper吗?

[2020-09-18 09:29] juncaipeng commented on #4372
可以参考lite官方文档：https://paddle-lite.readthedocs.io/zh/latest/

[2020-09-18 09:32] yyqgood commented on #4372
这是偏实践的一些说明和指导吧(个别章节也有理论); 没有理论化的文档整理吗?

[2020-09-18 11:14] Fauny opened #4376 "pp-yolo 模型支持时间表"
请问什么时候能支持 pp-yolo 模型，有没有计划

arm：
[code]

x86:
[code]

[2020-09-18 14:01] Fauny commented on #4349
@ralph0813 遇到同样问题，你是怎么成功的，请不吝赐教

[2020-09-18 17:37] ralph0813 commented on #4349
我这边是在使用保存模型的时候，误把yolobox的imageSize字段数据类型设置成float32了，转换成int32即可。

[2020-09-19 02:18] Fauny commented on #4349
@ralph0813 感谢回复！

我小白，折腾试试。

[2020-09-21 01:37] nomoreorless opened #4385 "paddle_lite_opt转paddlehub模型失败"
我想将paddlehub中的chinese_ocr_db_crnn_mobile的模型移植到手机上
1. 将模型保存下来
[code]

2. 使用paddle_lite_opt转换模型
[code]
报以下错误：
[code]

请帮忙看一下，是我哪里用错了吗？谢谢！

[2020-09-21 05:50] #4372 closed, assigned to nobody

[2020-09-22 01:31] zjpipix commented on #4273
谢谢，加了 `export GLOG_v=4`，运行日志如下（似乎多了些和错误不相干的日志）：
[code]

[2020-09-22 02:17] lleesg commented on #4376
met the same problem on tx2(arm), and noticed that PaddleLite Release v2.7 already support "clip, deformable_conv" on ARM.
see https://github.com/PaddlePaddle/Paddle-Lite/blob/release/v2.7/docs/introduction/support_operation_list.md

[2020-09-22 03:03] zjpipix commented on #4273
很奇怪的问题  resize 50X50 就可以了  100X100就报浮点数例外
![image](https://user-images.githubusercontent.com/46735904/93840511-3bc7e600-fcc3-11ea-80db-a2ed707d6d0c.png)

[2020-09-23 01:50] NaNAGISaSA opened #4412 "Can Not Transfer Paddle Model To x86 Target: 'nearest_interp' OP Is Not Supported"
Command:
[code]

Log:
[code]

Env:
[code]

[2020-09-24 03:55] wxd-520 opened #4427 "tensorflow模型用x2paddle工具转成功后，再用opt工具转成nb格式时候报错"
3个算子"crop_tensor”、“one_hot_v2”、“pow”不支持，我想知道这三个算子分别是对应的tensorflow中的哪些函数啊？我想改掉，是不是就可以转成功了

[2020-09-24 05:17] ZhijunLStudio opened #4428 "树莓派4b编译Paddle-Lite出错"
按照paddlelite中readme.md中的源码编译步骤来的，cmake版本为3.18.3，到最后一步./lite/tools/build_linux.sh时报错，请问是什么原因呢？
![1](https://user-images.githubusercontent.com/60954978/94103874-322bb300-fe68-11ea-9537-b33dd4a412b5.jpg)
![2](https://user-images.githubusercontent.com/60954978/94103884-3788fd80-fe68-11ea-9a2f-74bb98e02f3e.jpg)

[2020-09-24 07:50] Fauny commented on #4376
个人觉得 pp-yolo 算是飞桨套件中的一个耀眼的明星，PaddleDetection团队干的不错， 相比之下 Lite 团队的步伐有点拖后腿啊

[2020-09-24 23:48] znsoftm opened #4447 "Can you guys offer a package of precompiled sdk for Windows ?"
I tried a couple of times to compile the sdk for windows, but it defeats me.
I tried both visual studio 2015&cmake&git  and vistual studio 2019 &cmkae&git.

There are some compiling errors there.

[2020-09-25 01:33] ouyangshixiong commented on #3218
是的，预编译库放入Flutter是不行的，需要手动编译。

[2020-09-25 03:01] liangruofei opened #4448 "ppyolo 现在支持在agx等nvidia上的模型吗"
我想在agx上进行pp-yolo模型的实现，问下支持吗，或者支持哪些模型，有链接提供下吗

[2020-09-25 03:56] zy1391662 opened #4449 "求助--"
我买了一块 edgeboard lite  fz3 ，希望在上面部署 paddle-lite ，编译永远出错。

其他 linux arm， rknpu ,编码都没有问题。

[2020-09-25 05:29] #4089 closed, assigned to DannyIsFunny

[2020-09-25 10:07] ouyangshixiong opened #4454 "使用Java调用Paddle-Lite报错"
按官方文档编译了PaddleLite v2.6版本，并拷贝了动态链接库进入项目。
__model__.nb 大小21M，用AIStudio原生开发，然后用opt工具优化后下载过来，应该不存在兼容问题。
报如下错误：
说内存8 比7大，想了解应该怎么才能解决。

   [I  9/25 15:28:58.486 ...ads/Paddle-Lite/lite/core/device_info.cc:1085 Setup] Total memory: 7922860KB
W/Paddle-Lite: [W  9/25 15:28:58.493 ...e-Lite/lite/model_parser/model_parser.cc:704 LoadModelNaive] WARNING: MobileConfig::set_model_dir and MobileConfig::set_mode

[2020-09-25 16:09] wanghaoshuang opened #4455 "OutputDeclType checking failed for output(ReserveSpace) of batchnorm"
## 背景

我修改了lite/api/benchmark.cc, 尝试加载一个自定义的相对比较复杂的模型。

Paddle版本：Paddle2.0
PaddleLite分支：release/v2.7  cmmit: aaba6447b5c61787fea936a664441a22f07ebfc2

## 编译

build cmd:
[code]

## 问题

cmd:
[code]

error log:
[code]

[2020-09-25 16:28] wanghaoshuang commented on #4455
我在PaddleLite repo下没搜到关键字`ReserveSpace `，是PaddleLite还不支持么？
https://github.com/PaddlePaddle/Paddle-Lite/search?q=ReserveSpace

[2020-09-27 02:26] 309972460 opened #4460 "Paddle lite编译过程版本配套关系过于苛刻"
Paddle lite 只能在linux上编译，并且必须使用cmake 3.10和ndk r17c，换成其他版本都无法编译，编译过程还需要依赖git，条件过于苛刻，希望能提供windows非docker环境的编译途径，并且能支持最新cmake和android ndk版本，提供宽松的版本配套关系，希望可以在编译过程中不能访问git仓库的环境提供第三方库路径配置的编译方式，谢谢！

[2020-09-27 05:30] 309972460 opened #4462 "希望能提供windows运行时库，性能可以差一点，但能进行推理"
端侧部署调试极不方便，通常的做法是在windows上开发调试，稳定后在端侧部署，ncnn，mnn等其他同类产品都具备windows推理能力，希望paddle lite能提供windows运行时库，性能可以差一点，但能正常进行逻辑推理

[2020-09-27 05:59] lgcy opened #4464 "如果一个机器上没有联网，是不是就不能编译了？"

[2020-09-27 08:14] ouyangshixiong commented on #4454
已解决。Paddle Lite的[Java Demo文档](https://paddle-lite.readthedocs.io/zh/latest/quick_start/java_demo.html)没有同步更新。setModelDir已经不能用了，改成setModelFromFile就好了。

[2020-09-27 08:14] #4454 closed, assigned to nobody

[2020-09-27 10:10] wanggp01 opened #4466 "opt工具转换paddle lite模型报错！！！"
在使用paddle_lite_opt工具转换cascade_rcnn_mobilenetv3_fpn_640模型时报如下错误：
F0927 17:52:51.326489 46117 kernel.cc:44] Check failed: type no type registered for kernel [generate_proposals/def] output argument [RpnRoisLod]
*** Check failure stack trace: ***
已放弃 (核心已转储)

但是使用paddle_lite_opt --print_model_ops=true --model_dir=inference_model/cascade_rcnn_mobilenetv3_fpn_640 --valid_targets=arm命令查看结果显示支持该模型Paddle-

[2020-09-27 10:15] 309972460 opened #4467 "希望能支持离线编译"
希望能支持离线编译

[2020-09-28 02:05] wangying6 opened #4470 "Kirin 990 NPU没有调用"
NPU模型的subgraph生成成功，但是在Kirin990上运行时没有调用NPU，查看日志发现Build Model fail
![subgraph_npu](https://user-images.githubusercontent.com/33271018/94383193-ed5a9180-0171-11eb-9696-271de3973445.PNG)

05/com.example.paddlelitedemo I/Paddle-Lite: [I  9/28  9:59: 1.507 ...ddle-Lite-2.6.1/lite/core/device_info.cc:1064 Setup] ARM multiprocessors name: HARDWARE	: HISILICON KIRIN990
    _TAS_KIRIN990_
2020-09-28 09:59:0

[2020-09-28 05:57] AIpioneer commented on #4449
群号:1060623352  edgeboard技术支持群  请进这个官方的qq群询问吧

[2020-09-28 05:58] AIpioneer commented on #4448
您好，使用paddle inference是都支持的。Paddle inference是paddle的原生推理库，天然支持所有的paddle的模型。

[2020-09-28 05:58] AIpioneer commented on #4448
https://github.com/PaddlePaddle/Paddle-Inference-Demo

[2020-09-28 06:00] liangruofei commented on #4448
那使用paddle-lite和inference部署的差异在哪，lite是否更快捷

在2020年9月28日 13:59，AIpioneer<notifications@github.com> 写道：

https://github.com/PaddlePaddle/Paddle-Inference-Demo

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-09-28 11:30] authorfu opened #4475 "希望paddlelite android版本能支持19版本"
希望paddlelite android版本能支持19版本。 目前来看19还是一个不能忽略的版本。
https://www.xda-developers.com/google-hasnt-published-updated-android-distribution-statistics-last-6-months/

另外开发板的android版本通常远低于手机的，希望paddlelite可以支持android 19而不是现在23的版本

[2020-09-29 02:41] ljdang opened #4478 "移动端部署4线程比1线程慢"
在骁龙865和855上部署时，4线程比1线程慢，而且不稳定。
测试Demo: https://github.com/PaddlePaddle/PaddleOCR/tree/develop/deploy/android_demo
版本信息： version of opt:b92e8c4
                 version of current Paddle-Lite:b2c14f0

[2020-09-29 03:12] #4310 closed, assigned to nobody

[2020-09-29 03:34] boceng opened #4479 "android端上部署yolo模型，无法图像级检测"
您好，我这边想将个人转换的yolo模型部署到android上，可是按照[教程](https://paddle-lite.readthedocs.io/zh/latest/demo_guides/android_app_demo.html) 更换模型文件、label_list、更新预测库，无法运行成功，而使用官方提供的ssd模型是可以预测成功的。
请问，是对转换模型文件的opt工具有版本要求吗？还是使用yolo时需要修改其它配置文件？

我也有尝试视频流的yolo_detection_demo，但从[相机获取图像的代码](https://github.com/PaddlePaddle/Paddle-Lite-Demo/blob/master/PaddleLite-android-demo/yolo_detection_demo/app/src/main/cpp/Pipeline.cc) 不是

[2020-09-29 07:52] mingx9527 opened #4481 "RK3288--Mali T764 GPU"
您好！
请问 RK3288上的Mali T764 GPU能用来部署神经网络吗？？？望回复

[2020-09-29 12:58] 309972460 opened #4483 "推理ocr模型时，静态链接方式无法得到正确的预测结果"
推理ocr模型时，静态链接方式无法得到正确的预测结果，动态链接方式结果正确

[2020-09-29 13:04] 309972460 opened #4484 "静态链接方式4线程推理时间会变成单线程的10倍"
静态链接方式4线程推理时间会变成单线程的10倍

[2020-09-29 22:47] znsoftm commented on #4483
有示例代码不?

[2020-09-29 22:48] znsoftm commented on #4462
确实，自己基本上编译不出来了，编译满是错呀。哪 个tag能正常编译?

[2020-10-03 23:37] mosheliv opened #4488 "can't compile paddle-lite on atomic pi"
trying to build with
`sudo ./lite/tools/build.sh --build_python=ON x86
`
getting error:
[code]
this seems to indicate that it is trying to use avx on a processor without avx, but avx is false.

[2020-10-04 07:59] hlguo opened #4489 "在Android上应用编译报错"
下载了PaddleLite官网编译的inference_lite_lib.android.armv7和inference_lite_lib.android.armv8里的静态库加入应用，将demo中的neon_mean_scale拷贝到应用中，NDK是官网建议的android-ndk-r17c，下面是我的配置文件：
compileSdkVersion 25
    buildToolsVersion "29.0.3"

    defaultConfig {
        minSdkVersion 15
        targetSdkVersion 26
        versionCode 1
        versionName "1.0"
        ndk {
            abiFilters 'armeabi-v7a' ,'arm64-v8a'//,'

[2020-10-05 08:13] edencfc commented on #4280
同遇到这个问题，是因为不能直接用原来的`.cc`文件，因为demo里那个是`ssd_mobilenet_v1_voc`的，如果用ssd迁移学习部署不会报错，用别的就要参考API自己改预处理和后处理过程。

[2020-10-08 08:28] choimroc opened #4490 "yolov3_mobilenet_v3 使用opt转换失败"
实验环境：
Windows 10
python 3.7
paddlepaddle-gpu==1.8.4post107
paddlelite==2.6.1

训练好的model为:
best_model.pdmodel
best_model.pdopt
best_model.pdparams

转换代码：
[code]

异常信息：
`  *** Check failure stack trace: *** `

补充：
使用说明文档里面的roadsign demo进行train，得到的model进行转换也是一样的问题，这是我哪个步骤没处理好吗？

补充：
已解决，少了模型导出步骤

[2020-10-09 02:29] juncaipeng commented on #3908
![image](https://user-images.githubusercontent.com/52520497/95535143-4223c500-0a1a-11eb-89de-d0454edfb973.png)

[2020-10-09 02:29] #3908 closed, assigned to juncaipeng

[2020-10-09 03:07] ysh329 commented on #4489
感觉是NDK版本的问题，看看是否指定失败了，指定到别的NDK版本了。可以在检查一下

[2020-10-09 03:15] ysh329 commented on #4481
先前尝试过clinfo拿不到相关的设备信息，大概率是不行的

[2020-10-09 05:44] hlguo commented on #4489
![image](https://user-images.githubusercontent.com/10663799/95547228-0a764680-0a35-11eb-8521-d15a881fc278.png)
这是我的NDK，hai还报下面这种错误，已经incude paddle_api.h，
![image](https://user-images.githubusercontent.com/10663799/95547315-48736a80-0a35-11eb-8ba1-dc77626b1582.png)

[2020-10-09 06:38] lleesg opened #4491 "the speed and infer result of Lite-Linux & Lite-CUDA"
环境：TX2、Ubuntu18.04、CUDA10.2、python3.7

1. Lite-Linux
参考《Python 完整示例》：https://paddle-lite.readthedocs.io/zh/latest/quick_start/python_demo.html
分别运行了mobilenet_v1_opt.nb、yolov3_darknet_opt.nb两个网络，单张图片预测耗时：
**mobilenet_v1：150ms；
yolov3：34000ms；**

yolov3的耗时异常，且输出结果也不大对（如图），不知是怎么回事。
yolov3_darknet_opt.nb运行输出：
……
[I 10/ 9 14: 9:50. 85 ...isk/Paddle-Lite/lite/core/device_info.cc:1079 Setup] 2048 KB
[I 1

[2020-10-09 06:44] lleesg commented on #4448
同疑惑这一点，paddle的官方文档实在有点乱。
**paddle inference、paddle-lite、lite-CUDA这三者到底哪个适合在jetson平台上用？**已经测试了后两者，都很慢：https://github.com/PaddlePaddle/Paddle-Lite/issues/4491
正在准备测试paddle inference……

[2020-10-09 07:21] AlphaLFC commented on #4123
opencl支持的算子比arm的少

[2020-10-09 07:24] ysh329 commented on #4489
你看看这个：https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/demo/cxx/mobile_light/mobilenetv1_light_api.cc

[2020-10-09 09:47] hlguo commented on #4489
好的，多谢啊，我先认真看看。

[2020-10-09 09:59] #4490 closed, assigned to nobody

[2020-10-09 10:51] josephthlee opened #4493 "paddle_lite_opt 转换的时候如何保留精度"
我下载了 pyramidbox_lite_mobile_mask_model v1.3.0 (最新版本）

![DD5CADD3041F39DB5FFABDCC59503E2E](https://user-images.githubusercontent.com/30864375/95574927-62767280-0a60-11eb-9188-6c4f76a34672.png)

在 x86 上面也测试过图片, 精确度还是不错的。
一旦我用 paddle_lite_opt 把库转换成 arm 之后 （命令）
paddle_lite_opt —model_dir=./pyramidbox_lite_mobile_mask_model --valid_targets=arm --optimize_out_type=naive_buffer --optimize_out=./pyramidbo

[2020-10-09 12:33] ysh329 commented on #4493
理论上说，不会有精度下降，你这个是 int8模型嘛

[2020-10-09 12:34] ysh329 commented on #4489
嗯嗯

[2020-10-09 13:03] josephthlee commented on #4493
**我在 arm 上面使用的是 Paddle-Lite/lite/demo/cxx/mask_detection/mask_detection.cc**
-----------------------------------------------------------------------------------------------------------------
**### 这个是在 x86 上的结果，判断为有口罩 0.58**

hub run pyramidbox_lite_mobile_mask --input_path ~josephthlee/blackmask.jpeg
[{'data': [{'label': 'MASK', 'confidence': 0.5888044238090515, 'top': 87, 'bottom': 276, 'left':

[2020-10-09 13:16] josephthlee commented on #4493
忘了回复您 int8 模型了，我之前倒是没注意，这里 https://github.com/PaddlePaddle/Paddle-Lite/tree/develop/lite/demo/cxx 的说明好像也没有提到。
我现在模型是按照教程来下载 hub install pyramidbox_lite_mobile_mask==1.3.0。
或您指的是 opt 转换过程吗？不过我看了一下 paddle_lite_opt 的命令help，也没有提到，我要怎么知道我是不是 int8 呢？谢谢

以下是转换的过程

paddle_lite_opt --model_dir=./pyramidbox_lite_mobile_mask_model --valid_targets=arm --optimize_out_type=naive_buffer --optimize_out=./pyramidb

[2020-10-10 02:27] #4470 closed, assigned to nobody

[2020-10-10 02:35] wangying6 opened #4494 "opt转inference_model failed:type_precision_cast_pass.cc:269] Check failed: is_found Can't find a Cast kernel for Cast op: Tensor<arm,int32_t,NCHW,0>:slice_0.tmp_0->Tensor<arm,float,NCHW,0>:stack"
![2020-10-10 10-31-49屏幕截图](https://user-images.githubusercontent.com/33271018/95643773-ecb3ea80-0ae3-11eb-83e2-430e74a3cb15.png)

环境：ubuntu16.0.4
opt版本:v2.6.1
命令：./opt_linux --model_dir=/inference_model --optimize_out_type=protobuf --valid_targets=npu,arm --optimize_out=npu_dir

模型是keras转的tensorflow，然后利用x2paddle转的paddlepaddle

[2020-10-10 03:15] juncaipeng commented on #2987
![image](https://user-images.githubusercontent.com/52520497/95644539-e7f23500-0ae9-11eb-80a8-596cfb285e17.png)

[2020-10-10 03:18] juncaipeng commented on #2987
![image](https://user-images.githubusercontent.com/52520497/95644609-59ca7e80-0aea-11eb-8897-208d7ccd5af1.png)

[2020-10-10 06:47] jiangxinyang227 opened #4495 "新增sin，cos op用于transformer中的位置向量"

[2020-10-10 07:19] #4495 closed, assigned to nobody

[2020-10-11 05:46] linglanfeng opened #4502 "Java接口报错 -- Fatal signal 11 (SIGSEGV), code 1, fault addr 0x0 in tid 6914 (Predictor Worke)"
描述：
训练自己的MobileNetV3+Yolo，使用opt转换后， 更换demo的yolo_detection_demo（C++接口）正常和预测都正常。 但是同样nb权重文件，放到object_detection_demo（Java接口）模型后`paddlePredictor.run();`  APP直接退出。

错误信息：
 [I 10/11 13:20:34. 58 ...tmp/Paddle-Lite/lite/core/device_info.cc:1085 Setup] Total memory: 2911548KB
I/Predictor: Word label size: 3
V/BoostFramework: BoostFramework() : mPerf = com.qualcomm.qti.Performance@3a535c6
V/BoostFramework:

[2020-10-12 02:13] DannyIsFunny opened #4503 "[dev] pile allocator 用于降低多个模型串联内存消耗"
- 调研背景：
  - 多个模型同时预测时，复用内存空间，降低占用内存

[2020-10-12 02:19] DannyIsFunny commented on #4346
- 1. 注册方法统一
- 2. 开发者文档增加( kernel的精度、valid_places的意义。 int8&FP32只有两种场景）
- 3. kernel选择：考虑输入输出精度（选择输入输出匹配的kernel)

[2020-10-12 02:20] DannyIsFunny commented on #4346
拆分为三个并行卡片

[2020-10-12 02:22] DannyIsFunny opened #4504 "paddle lite, CUDA 文档里注明，jetson nano 等卡推荐使用 Paddle Inference，并且链接到相关文档"

[2020-10-12 02:26] DannyIsFunny opened #4505 "opt报错信息优化"
常见问题：
- 用户模型转化失败，怎么办
   - opt转化报错时，明确告知错误原因：缺少哪些kernel或者op
- 报错信息
- 转化时log信息优化

Todo:
- 需要与PM沟通设计完成

[2020-10-12 02:27] DannyIsFunny opened #4506 "编译加速"
- 第三方库改为百度云/github ，开关控制   @Shixiaowei02
- 文件链表（不是每个module编译出一个.a）
- 编译一个so，所有单测链接单个so。 不重复从源码编译

[2020-10-12 07:39] HaoLiuHust opened #4511 "context.SetRunMode接口发生崩溃"
仿照sgemm_compute_test.cc调用sgemm, 但是总是崩溃在ctx.SetRunMode这个接口，注释掉就可以正常运行。然后进行了debug，发现是崩溃在device_info::SetRunMode中的workspace_.Resize({llc_size())这句

运行环境RK3288

[2020-10-12 07:44] DannyIsFunny commented on #4511
请问你使用的是那一个版本Paddle-Lite

[2020-10-12 07:45] HaoLiuHust commented on #4511
v2.6.2

[2020-10-12 07:50] HaoLiuHust commented on #4511
我想打印下llc_size() 也崩溃了

[2020-10-12 07:50] hong19860320 commented on #4511
有没有调用paddle::lite::DeviceInfo::Init();

[2020-10-12 07:53] HaoLiuHust commented on #4511
加了这句，好了，多谢

[2020-10-12 07:53] #4511 closed, assigned to nobody

[2020-10-12 08:07] #3454 closed, assigned to DannyIsFunny

[2020-10-12 08:07] #3453 closed, assigned to DannyIsFunny

[2020-10-12 08:08] #3072 closed, assigned to DannyIsFunny

[2020-10-12 08:08] #3649 closed, assigned to nobody

[2020-10-12 08:11] #3798 closed, assigned to jiweibo, DannyIsFunny

[2020-10-12 08:13] DannyIsFunny opened #4512 "[dev] 修复opencl的多次Predictor创建结果不同的问题"

[2020-10-12 08:30] DannyIsFunny opened #4513 "【CI】新增CI设备和任务"
- Armlinux： 树莓派设备作为CI机器并加入单测到CI任务中
- windows： 新增windows作为CI机器，补充windows CI任务

[2020-10-12 08:33] DannyIsFunny opened #4514 "【CI】增加监控模型量化的CI任务"
- opt转化量化模型
- 预测库预测

[2020-10-12 08:35] DannyIsFunny opened #4515 "【CI】增加性能监控CI任务"
（固定手机型号下）监控如下指标：
- 初始化耗时
- 内存占用（模型需要有复杂结构）
- 模型体积
- 预测库体积
- 推理耗时
- 模型精度

[2020-10-12 08:39] DannyIsFunny opened #4516 "【CI】解决CI单测随机失败问题"
【问题】当前opencl 和arm 的单测有部分出现随机出错问题，导致PR合入失败
【解决方法】
- 随机出错的单测需要被上报统计
- 随机出错的单测需要解决（算子&单测&backend负责人负责修改）

[2020-10-12 08:42] DannyIsFunny opened #4517 "【CI】降低CI任务耗时、单测直接测试SDK"
- 当前Android CI任务，打印了很多log，耗费大量的CI时间。
   - 解决方法：批量扫描并修改为vlog实现
- 当前CI任务的单测文件与编译产出的SDK无关
  - 解决方法：1、 单测链接SDK 实现   2、 CI中需要测试流程：Opt-> SDK

[2020-10-12 10:01] HaoLiuHust opened #4518 "同样一个demo, android arm可以编译通过，linux arm出现链接错误"
仿照sgemv_compute_test.cc写了一个sgemv的demo，使用build_android.sh可以正常编译，而用build_linux.sh在最后出现了链接问题。x86下linux编译也可以成功
复现步骤：
1. lite目录新建examples目录，放置下述文件
[examples.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/5364385/examples.zip)
2.lite/CMakeLists.txt中增加add_subdirectory(examples)
3.build_android.sh和build_linux.sh中在make_tiny_publish_so中的make publish_inference -j$NUM_PROC下增加make sgemv_compute_example

[2020-10-12 10:04] HaoLiuHust commented on #4518
x86下编译可以成功

[2020-10-12 20:02] mosheliv opened #4520 "Jetson Nano"
Is there a relatively easy way of installing paddle lite on jetson nano? will docker image work? do you have benchmarks for it?

[2020-10-12 23:06] mosheliv commented on #4491
do you get this slow speed for only the first inference or also if you do 10 inferences and average? It is usually very slow for first inference and it is building the optimised graph. I would be very interested if you could try a loop of 10 and see how long each takes

[2020-10-13 00:43] mosheliv commented on #4520
I have tried to follow the tutorial https://paddle-lite.readthedocs.io/zh/latest/demo_guides/cuda.html?highlight=CUDA

the python example gave me:
[code]

the cxx example gave me:
[code]

[2020-10-13 02:28] ysh329 commented on #4493
恩呢，你在转换前先执行`export GLOG_v=4`，然后在执行`paddle_lite_opt --model_dir=./pyramidbox_lite_mobile_mask_model --valid_targets=arm --optimize_out_type=naive_buffer --optimize_out=./pyramidbox_lite_mobile_mask_v1.3`。

转换过程会产生日志，搜索最后一个`digraph G {`这个关键词，然后开始截取复制类似如下的内容

[code]
复制到Webgraphviz，http://www.webgraphviz.com/，这个网站，生成，搜索下看有没有int8之类的关键词

[2020-10-13 02:49] josephthlee commented on #4493
我看了一下，应该是没有int8 字眼。以下是我的数据和截屏。
另外，我在 x86 上面（没opt转换之前）的结果 ，就和你们网站上面的结果不一样了，转到 lite 之后，效果就差更多

**还麻烦提点下，是否有什么参数 或代码 会影响到这个结果，谢谢！**

digraph G {
   node_326[label="fetch"]
   node_324[label="save_infer_model/scale_0"]
   node_323[label="softmax29" shape="box" style="filled" color="black" fillcolor="yellow"]
   node_322[label="fc_0.tmp_1"]
   node_321[label="fc1_glass.b_0"]
   node_319[label="fc28" sh

[2020-10-13 02:56] hlguo commented on #4489
是这样的，我除了上面neon的指令集不认识以外，还有如下错误：
![image](https://user-images.githubusercontent.com/10663799/95809919-706b1280-0d42-11eb-85d7-1deee39db503.png)
这还是我将explicit ConfigBase(PowerMode mode = LITE_POWER_NO_BIND, int threads = 1);注释掉才能得出这一步，如果没注释掉在定义paddle::lite_api::MobileConfig config;就会报undefined reference的错误

[2020-10-13 03:08] hlguo commented on #4489
cmake 里的配置，上面的ncnn按这个配置就毫无问题。
![image](https://user-images.githubusercontent.com/10663799/95810726-4286cd80-0d44-11eb-916c-d6f1b023c15a.png)

[2020-10-13 03:19] ysh329 commented on #4493
在 x86 上面（没opt转换之前）的结果 ，就和你们网站上面的结果不一样了

这个是说用训练框架嘛？

[2020-10-13 03:22] josephthlee commented on #4493
不是很明白您的意思，我是在ubuntu x86 上用 hub install pyramidbox_lite_mobile_mask==1.3.0
去下载 model param 的，然后就可以直接在上面执行 hub run pyramidbox_lite_mobile_mask --input_path ~josephthlee/blackmask.jpeg (前面有比较详细的信息）做测试，然后再用 opt 去把 model param 转成 lite nb 放到 arm 去测试。结果都不太一样。

[2020-10-13 03:32] hong19860320 commented on #4518
看起来是cxx11符号的问题，主要是gcc版本问题导致，建议在cmake文件增加set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -D_GLIBCXX_USE_CXX11_ABI=0")试试

[2020-10-13 06:06] mingx9527 commented on #4481
@ysh329  明白了 感谢指点

[2020-10-13 06:06] #4481 closed, assigned to nobody

[2020-10-13 06:15] josephthlee commented on #4493
我感觉我要重新简述我的问题：

1. 我在 ubuntu x86 上面搭建好 python 的 paddle 环境，用  hub install pyramidbox_lite_mobile_mask==1.3.0 去下载了口罩模型。然后使用 hub run pyramidbox_lite_mobile_mask --input_path ~josephthlee/blackmask.jpeg，下面的结果是 有 HAVE MASK 0.58

[{'data': [{'label': 'MASK', 'confidence': 0.5888044238090515, 'top': 87, 'bottom': 276, 'left': 58, 'right': 216}], 'path': '/home/josephthlee/blackmask.jpeg'}]

2. 当我使用 paddl

[2020-10-13 06:29] HaoLiuHust commented on #4518
加了之后错误变了
![image](https://user-images.githubusercontent.com/7233091/95823610-7f60bd80-0d60-11eb-86d4-4edf6721ce45.png)

[2020-10-13 07:00] hong19860320 commented on #4518
嗯，在tiny_publish模式下，so中的符号会被strip掉，是否可以尝试再full_publish的模式下编译呢？

[2020-10-13 07:14] hong19860320 commented on #4518
感觉应该是依赖存在问题，是否能在cmakefile里面加上utils模块的依赖？

[2020-10-14 02:39] HaoLiuHust commented on #4518
暂时找不到原因···直接把sgemv代码弄出来了，测试了一下，和openblas差不多。有fp16的实现吗？

[2020-10-14 03:12] lleesg commented on #4491
**follow ur advice，and also for comparing with origin darknet perfomance, I reduce the input size from 608 to 416:**
ticks = time.time()
iters = 20
for i in range(iters):
  input_tensor = predictor.get_input(0)
  height, width = 416, 416
  input_tensor.resize([1, 3, height, width])
  img, data = read_img('./dog.jpg', 416, 416)
  data = data.flatten()
  input_tensor.set_float_data(data, TargetType.

[2020-10-14 03:31] mosheliv commented on #4491
That is not a bad result at all!
I tried compiling pabble lite on my jetson nano but both python and cxx
failed. Perhaps because my jetpack is too old... Did you have to do
anything special to compile it or was it smooth?
Also, did you try getting ppyolo to run?

On Wed, Oct 14, 2020, 16:13 Saturn Lee <notifications@github.com> wrote:

[2020-10-14 03:44] lleesg commented on #4491
here is jetpack 4.2.
yep, lots of bugs when I compiled paddle lite python editon. can u offer more details about ur failling then I may can help.

**Still an unsolved problem that the inference output is not proper as mentioned above. Do u have any ideas? 3q**

[2020-10-14 03:50] mosheliv commented on #4491
this is the issue i opened : https://github.com/PaddlePaddle/Paddle-Lite/issues/4520 (no response).

I am not sure what you are referring to with "no proper output". do you mean the very low probability detections?
EDIT: Oh I see what you mean. did you "unresize" the detections? what is your code for drawing the rectangles?

[2020-10-14 03:57] mosheliv commented on #4491
Because of the huge difference, perhaps don't count the first inference? this way you will see how fast any inference other than the first is. measure the time it takes to do each inference separately.

[2020-10-14 05:27] mosheliv commented on #4491
sorry, i got myself confused, 900ms is still pretty bad. it should run around 90ms on gpu, even on nano.

[2020-10-14 06:54] lleesg commented on #4520
in  the python example, CxxConfig is defined in lite.so，did u import the right lite.so? what the size of your lite.so is?

[2020-10-14 06:54] lleesg commented on #4491
**about issue #4520**
offered a little suggestion there.

**about inference time**
I exclude the first inference，but it's still much slower than your "it should run around 90ms on gpu, even on nano":
1. Lite-Linux： 4300ms
2. Lite-CUDA：470ms

**about "no proper output"**
both the class and box are not proper as the pic above shows. my code:
`#-*- coding: utf-8 -*-
from __future__ import print_funct

[2020-10-14 07:23] mosheliv commented on #4491
Ahhh you see, you get the predictions on 416x416 resized image but draw
them on the original, unresized image. You need to multiply them by the
ratio of h/416 and w/416

On Wed, Oct 14, 2020, 19:55 Saturn Lee <notifications@github.com> wrote:

[2020-10-14 08:16] lleesg commented on #4491
bingo!
 **another question**
I print these infos and what's the meaning of the  first element: 0.0, 1.0, 2.0, 2.0 ……？
for i in range(20):
  print (output_tensor.float_data()[i*6:i*6+6])
[0.0, 0.9807558655738831, 124.37701416015625, 96.8778076171875, 177.87030029296875, 364.38812255859375]
[1.0, 0.013622776605188847, 263.14263916015625, 134.88333129882812, 390.158447265625, 335.84759521484375]
[2.0

[2020-10-14 08:24] mosheliv commented on #4491
That looks like the class number? I am not sure as I didn't get it to run
yet. Apparently, when I build the python, it deletes lite.so.... very
clever. so now rebuilding lite.so and i'll copy it.

On Wed, 14 Oct 2020 at 21:16, Saturn Lee <notifications@github.com> wrote:

[2020-10-14 08:33] mosheliv commented on #4491
actually looking at the develop branch, everything but matrix_nms is
supported.

On Wed, 14 Oct 2020 at 21:16, Saturn Lee <notifications@github.com> wrote:

[2020-10-14 09:59] lleesg commented on #4491
actually don't suggest develop branch using which I met some kernel failed problem.
regarding ur "it should run around 90ms on gpu, even on nano"，how did u make it?!

[2020-10-14 10:03] lleesg commented on #4491
do u get a wechat buddy？

[2020-10-14 17:46] mosheliv commented on #4491
I am using a native implementation of yolo by nvidia. Please time only the
detection, without io and processing. That is common practice.
Unfortunately, no wechat. Telegram or whatsapp

On Wed, Oct 14, 2020, 22:59 Saturn Lee <notifications@github.com> wrote:

[2020-10-14 19:48] mosheliv commented on #4491
Did you try running tensorrtx on the nano? just curious.

[2020-10-15 02:00] lleesg commented on #4491
on it, will update to you once i get the result

[2020-10-15 02:20] mosheliv commented on #4491
need to update my jetpack.... nothing is working. I am still with the
original one (3?). However, I have a stable environment there that I am
reluctant to throw.

On Thu, 15 Oct 2020 at 15:00, Saturn Lee <notifications@github.com> wrote:

[2020-10-15 02:44] AIpioneer commented on #4493
![image](https://user-images.githubusercontent.com/50724968/96070688-472dbc00-0ed3-11eb-982f-1b8bc4aa0a8e.png)
你好！opt的版本和预测库的版本不一致，存在精度下降的可能性。
接下来我们会在代码中加入warning，提醒大家注意并避免该问题。

[2020-10-15 02:53] josephthlee commented on #4493
终于有个盼头的回复了。
我其实对这个一直也有点疑问，我其实有去换过版本试过，可能是我还不明白怎么去对应版本。
现在我的opt 版本  version:3f8574e 是这个，但是我去下载库的时候，是看网页教程 lite_mobile_mask 最新的 应该是 v1.3.0.
(hub install pyramidbox_lite_mobile_mask==1.3.0) 请问我要怎么对应呢？还是我什么地方理解错了？感谢您啊。

[2020-10-15 02:58] josephthlee commented on #4493
我自己先去看看这方面的文件

[2020-10-15 03:18] josephthlee commented on #4493
我知道原因了，因为我是在 x86 上面 的 opt 转的，然后把它 copy 到 arm 执行，现在 我直接用 Paddle-Lite 源码编译出来的 opt 转，版本的问题就没有了( 如下）。

** 但是，还是和我在没转之前精度不一样啊?  ( 这张照片在原来预测库是正确的结果 )**

~/Workspace/Paddle-Lite-latest/lite/demo/cxx/mask_detection$ ./mask_detection.exe ./pyramidbox_lite_mobile_face_opt.nb ./pyramidbox_lite_mobile_mask_opt.nb ./blackmask.jpeg
[I 10/15  3:13:45.145 ...dle-Lite-latest/lite/core/device_info.cc:1087 Setup] AR

[2020-10-15 03:51] AlphaLFC opened #4534 "高通625(8953)平台基于OPENCL的GPU推理疑惑"
最近按照文档，我做了一个基于opencl量化后模型，期望在GPU上跑起来，节省一点CPU的计算资源，但实际跑起来是感觉奇怪，没出任何错误，也显示有GPU设备，就是推理速度与量化的CPU模型（单线程）几乎一致，CPU使用率也一样，就有点疑惑到底GPU是不是没用起来。

当时的操作如下：
- 环境版本，paddlelite版本2.6.1，在android端，编c++库
- 模型转换，生成了4个`nb`文件，分别是`arm_fp32`，`arm_int8`， `opencl_fp32`， `opencl_int8`，`--valid_targets`分别设置为`arm`和`opencl, arm`。经过验证我的网络的算子`opencl`是都支持的，不过需要指出的是我的网络里有concat层，concat层的输入有5路，看到有issue说这个对于opencl可能会有问题。
- 编译：按照官方教程来

[2020-10-15 06:50] ClassmateXiaoyu commented on #4280
后来修改了.cc文件中的main()函数和前后处理函数的部分代码后，这个问题解决了。

[2020-10-15 06:50] #4280 closed, assigned to nobody

[2020-10-15 06:51] #4254 closed, assigned to nobody

[2020-10-15 07:02] ysh329 commented on #4534
1. 目前gpu还不支持int8模型，转换int8模型成功，应该是转成成了cpu的int8模型；
2. 目前gpu支持fp32模型，计算过程自动以fp16方式计算，用户不需要做任何操作；
3. 对于部署APP来说，如果cpu和gpu都想用，而且cpu确认是要跑int8模型，则gpu必须跑fp32模型；
4. `config.set_opencl_tune(true)`当前针对arm mali的gpu有提升。

----

625的gpu是Qualcomm® Adreno™ 506 GPU，支持的API Support: OpenGL ES 3.1+，见https://www.qualcomm.com/products/snapdragon-625-mobile-platform

关于该GPU的性能，一般用户可以参考https://zh.wikipedia.org/wiki/Adreno

[2020-10-15 07:22] DannyIsFunny commented on #4493
你好，opt转化模型到移动端运行，因为移动端使用的一套arm算子，而x86平台使用的是x86算子，两个平台使用的算子不同，可能导致两个平台的精度有diff
建议可以使用最新版本[v2.6.3](https://github.com/PaddlePaddle/Paddle-Lite/releases/tag/v2.6.3)的Paddle-Lite opt重新转化模型，然后使用对应版本的预测库预测，效果可能会有提升

[2020-10-15 07:26] josephthlee commented on #4493
感谢回复。我这就那 v2.6.3 来试试，后头回复，谢谢。

[2020-10-15 07:48] ClassmateXiaoyu opened #4536 "nb模型部署后的使用问题"
你好，我将paddlepaddle训练出来的模型通过opt2.6.1成功转换成了nb模型，并通过树莓派部署。目前，树莓派可以成功预测出图片，但是对摄像头的实时画面进行预测时，画面的卡顿延迟很严重，体验感很差，不够流畅。请问，这个问题应该从哪里着手进行优化？

[2020-10-15 09:38] #4502 closed, assigned to nobody

[2020-10-15 09:50] lleesg commented on #4491
yep, though building a develop env is a arduous project, at least it's better than stucking into unpredictable problems  with jetpack 3.x.
I've made many beginner's mistakes and now get the right ouput:
![output](https://user-images.githubusercontent.com/16949144/96107240-c7bdde00-0f0e-11eb-8fc6-a19ab2b92118.jpg)

[2020-10-15 09:56] mosheliv commented on #4491
I think tensorrtx will be faster and more accurate, not sure I'll have time
to do the upgrade soon so remains a theory. Good luck with getting your
project to work and don't hesitate to ask if you have any questions.

On Thu, Oct 15, 2020, 22:50 Saturn Lee <notifications@github.com> wrote:

[2020-10-15 13:30] josephthlee commented on #4493
搞好了v2.6.3，但是还是一样的结果，如果真的就是这样，让我知道一下，就是怕我有地方没做对，和没转之前差异颇大。

./mask_detection.exe pyramidbox_lite_mobile_face_opt.nb pyramidbox_lite_mobile_mask_opt.nb blackmask.jpeg
[I 10/15 13:26:39.911 ...dle-Lite-v2.6.3/lite/core/device_info.cc:1064 Setup] ARM multiprocessors name:
[I 10/15 13:26:39.911 ...dle-Lite-v2.6.3/lite/core/device_info.cc:1065 Setup] ARM multiprocessors number: 6
[I 10/15 13:26:39.911 .

[2020-10-15 15:12] daming5432 opened #4544 "Add op shuffle_channle for opencl and host kernel"

[2020-10-15 15:14] daming5432 opened #4545 "Add op shuffle_channle for opencl and host kernel"
添加opencl的shuffle_channel op,测试骁龙835机器上速度有提升

[2020-10-15 15:17] #4545 closed, assigned to nobody

[2020-10-15 15:17] #4544 closed, assigned to nobody

[2020-10-16 02:03] AlphaLFC commented on #4534
感谢回复！后来我们改为2.6.3版本尝试了，编译的时候用的gcc，用clang还是会出错（我们再试试），然后用opencl gpu 浮点转出来的nb文件，加载后运行还是直接崩溃。另外我们会再试试2.7版本（还有MTK平台的APU也想用），不过编译有点麻烦，要是opencl有预编译的库就好了

[2020-10-16 02:06] AlphaLFC commented on #4534
额，会不会高通625不支持OPENCL，所以运行不了？

[2020-10-16 03:06] ysh329 commented on #4534
先前我们试过，高通625是可以的，大概率是你的模型可能某些op的边角情况可能在lite里不支持，可以再试试看2.7

[2020-10-16 03:15] burness opened #4547 "the issue when use the sentiment_classification to paddlelite #4908"
I use the `sentiment_classification` in my project. It's ok to train, but when I transform it to paddlelite. It seems that the 'sequence_unpad' is not support in th arm platform.
![image](https://user-images.githubusercontent.com/3112825/96208072-4e220080-0f9f-11eb-9fd7-322c83f2c22b.png)

So I want to change the code here [cnn_net](https://github.com/PaddlePaddle/models/blob/release/1.8/PaddleNLP/

[2020-10-16 05:44] yongqiangma commented on #4536
现在模型的输入大小是多少呢？ 摄像头实时预测的话是多少帧的频率呢？
一般来说可以 1、减少模型的输入大小； 2、降低抽帧频率

[2020-10-16 06:33] ClassmateXiaoyu commented on #4536
你好，在模型的训练阶段的图像输入尺寸是608*608。在树莓派部署时，通过cap.set(CV_CAP_PROP_FRAME_WIDTH, 800); cap.set(CV_CAP_PROP_FRAME_HEIGHT, 600)，分别指定了每帧的宽高。在图像处理过程中，input_tensor0->Resize({1, 3, 608, 608})按照训练的尺寸进行的resize。我做了测试，如果直接读取视频流是不卡顿的，只要把视频流经过模型进行处理，就会出现卡顿。

[2020-10-16 07:08] #4489 closed, assigned to nobody

[2020-10-16 13:10] AIpioneer commented on #4547
unpad 和 conv_pool 都不支持。 不过conv_pool 是可以用conv 和pool替代的。关于unpad op的支持，我们会排期安排支持。

[2020-10-19 01:23] watcheras opened #4555 "jetson nano 使用ppyolo模型进行推理报错"
jetpack4.3
使用官方提供的https://paddle-inference-dist.cdn.bcebos.com/temp_data/paddlepaddle_gpu-0.0.0-cp36-cp36m-linux_aarch64.whl
pip 安装并测试通过
Running Verify Paddle Program ...
Your Paddle works well on SINGLE GPU or CPU.
Your Paddle works well on MUTIPLE GPU or CPU.
Your Paddle is installed successfully! Let's start deep Learning with Paddle now
代码为
def create_predictor(model, params):
    config = Ana

[2020-10-19 01:27] watcheras commented on #4555
以上部分代码在x86for ubuntu18.04上均已经跑通,使用paddle版本为1.8

[2020-10-19 02:01] burness commented on #4547
好的， 我已经把模型改掉了， 转成paddlelite的格式目前是ok的了

[2020-10-19 07:08] lgcy opened #4556 "v2.6.3版本不能推理ocr的slim模型"

[2020-10-19 07:36] lleesg commented on #4491
I run yolov3 using **paddle inference** with/without TRT under jetson MAXN mode：
1. without TRT：720ms
2. with TRT：380ms(FP32)、270ms(FP16)

[2020-10-19 09:56] CVdandelion opened #4557 "模型动态离线量化出现问题"
我执行了这几句指令出现了以下错误
[code]

错误
[code]
模型是paddledetection训练出的yolov3_darknet53
请问一下该怎么解决阿

[2020-10-19 13:14] Qengineering opened #4560 "Version 2.7 can not load mask_detector_opt2.nb"
As of version 2.7 the Paddle-Lite framework doesn't support the face mask model (mask_detector_opt2.nb) any more.

![FaceMask2_7](https://user-images.githubusercontent.com/44409029/96454163-c3016e80-121b-11eb-8996-c32c163f7dfb.png)

Using version 2.6.3 is not an option due to JetPack 4.4 (Jetson Nano) having cuDNN 8.0, which is only supported by Paddle-Lite 2.7.
The provide GitHub example, ```Padd

[2020-10-19 14:23] Float-cloud opened #4563 "在NVIDIA TX2运行Paddle-Lite-demo出现Aborted(core dumped)"
编译用的armv8，模型用的demo自带模型，运行目标检测demo后出现问题，代码只根据opencv4.1的语句作了些更改，其他没作任何更改，但最后模型加载出错。

[video.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/5402544/video.zip)

[2020-10-20 01:40] qizhen816 commented on #4556
ios上也不行 develop分支也报错 [ref](https://github.com/PaddlePaddle/PaddleOCR/issues/904)

[2020-10-20 05:21] shangzhizhou commented on #4563
在jetson上请使用paddle-inference进行推理，可以下载预编译的C++预测库https://www.paddlepaddle.org.cn/documentation/docs/zh/2.0-beta/advanced_guide/inference_deployment/inference/build_and_install_lib_cn.html

也可以参考这个issue  https://github.com/PaddlePaddle/Paddle/issues/27402，编译完整的paddlepaddle框架。

[2020-10-20 06:45] josephthlee commented on #4493
请问出了保持最新版之外，还有提升精确度的办法吗？

[2020-10-20 07:34] shangzhizhou commented on #4555
官方尚未发布jetson上的whl包，可以参考issue
https://github.com/PaddlePaddle/Paddle/issues/27402
在jetson nx tx2上jetpack4.3的编译方法通过源码编译安装一下。