[2022-06-11 07:25] Student-Fuz commented on #9119
还想请问这里这个输出被多节点引用的卷积没有被纳入子图，是因为这个prior_box引用其float32输出的原因吗？

[2022-06-11 09:00] jiajunwang420 opened #9121 "使用pytorch转换的模型在fz3a上部署，加载模型报错"
报错如下：
terminate called after throwing an instance of 'paddle_mobile::PaddleMobileException'
  what():  paddle mobile C++ Exception:
| paddle-mobile enforce
| [in file] : /lite/paddle-mobile/src/framework/op_info.h
| [on line] : 69
| [detail]  : Operator depthwise_conv2d has not been registered

Aborted

[2022-06-11 14:19] hong19860320 commented on #9119
图片很模糊，能否将原图或者nb文件以zip压缩包上传上来？

[2022-06-11 16:35] Student-Fuz commented on #9119
[nb模型与静态图模型.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8884366/nb.zip)
好的，这就是nb模型和静态图模型。（主要目的就想弄明白这个多输出节点为啥没被量化，以及解决方法）

[2022-06-12 11:06] hong19860320 commented on #9119
1. 部分conv2d 算子没有被融合到subgraph op里面确实蛮奇怪的，目前有两个原因：1）我发现你的 relu 算子缺少 Out0_threshold 属性，可能是PaddleSlim的问题；2）你是不是配置了自定义子图切分文件强制将这些 conv2d 算子异构到 CPU 了 ？ https://www.paddlepaddle.org.cn/lite/develop/demo_guides/huawei_kirin_npu.html
2. 你的模型看起来是ssd系列的，而且是基于动态图训练的模型，因为我发现ssd模型中的box_coder使用了大量细粒度算子实现，建议你将这个开关 `use_fuse_decode` https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/ppdet/modeling/la

[2022-06-12 15:14] Student-Fuz commented on #9119
十分感谢您的回复，经过我的实验，结果如下：感觉问题还没有得到解决。
1.我之前看过子图切分文档，还尝试使用它解决问题，结果发现它只能切出算子，不能融合算子。所以我没有配置了自定义子图切分文件。
2.我尝试了您的方法，使用 `use_fuse_decode` ，但是转化出来的子图还是太多了，和以前一样。’而且prior_box算子也能够被离线处理成常量‘——至于这个‘prior_box’，子图中，它仍然存在。是我没有实现您说的“离线处理”吗？
![image](https://user-images.githubusercontent.com/87405313/173239871-e7da9834-06c8-44ef-8af9-18df8685456a.png)
[model.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/888

[2022-06-13 00:16] mike-2020 commented on #8680
也遇到了这个问题，有解决方案吗？编译前已经删除了third-party目录

[2022-06-13 00:24] mike-2020 opened #9122 "关于NB模型文件转换的问题"
手上有2.10rc的NB模型文件（可能设置过for arm），现在在x86上使用2.11rc的预测库，报告无法识别文件。
请问这种情况，如何将手上的这个NB文件转换成2.11rc库在x86上可以使用的格式？

[2022-06-13 01:46] zhupengyang commented on #9122
你好，是不支持从NB模型转换的。需要拿到原始Paddle模型，用2.11rc版本的opt工具转换为2.11rc版本的NB模型。

[2022-06-13 05:19] mike-2020 commented on #9122
这有点麻烦哈，有时候NB模型文件是从其他人哪里获得的，没有Paddle模型。
有计划支持NB文件的版本升级功能吗？

[2022-06-13 08:16] weishengying commented on #9096
你好请问问题解决了吗。
首先确认下你用的lite推理库的版本，set_model_from_file这个符号应该是有定义的。当然也可以使用
[code]
确认一下lite的动态库是否有 set_model_from_file 函数的定义。

我觉得应该是 ocr的demo问题， cmake中../zj-test 是不是没有正确链接到 paddle_lite.so ?

[2022-06-13 14:58] Student-Fuz commented on #9119
经我查证
![B7X$ EA@Y9Y Y)D@O`1I)~I](https://user-images.githubusercontent.com/87405313/173382738-8ece352b-cb9a-4511-b5a0-f1c0a9007c4c.png)
![Z`V~GW `XYGUP EG)TE(W}R](https://user-images.githubusercontent.com/87405313/173382756-d4f865ea-db2f-4bbb-ad11-6ea8a5c1153f.png)
这个多输出节点输出真的就是32位的，请问有什么单独量化这个节点的方法吗？

[2022-06-13 14:59] Student-Fuz commented on #9119
经我查证
![B7X$ EA@Y9Y Y)D@O`1I)~I](https://user-images.githubusercontent.com/87405313/173383222-3cd17f58-cf18-4f4c-8331-c20e8d6a7090.png)
![Z`V~GW `XYGUP EG)TE(W}R](https://user-images.githubusercontent.com/87405313/173383253-bdd7b452-b161-4c9f-ba4f-c38df0fb876d.png)
这个多输出节点输出真的就是32位的，请问有什么单独量化这个节点的方法吗？

[2022-06-13 15:12] Student-Fuz commented on #9119
经我查证
![image](https://user-images.githubusercontent.com/87405313/173385892-518c0f8f-5545-48b4-85c1-ddbdca30ba67.png)
这个多输出节点输出真的就是32位的，请问有什么单独量化这个节点的方法吗？

[2022-06-14 00:41] mike-2020 opened #9126 "Compile error on Ubuntu 20.04, aarch64, gcc 9.4.0"
Paddle-lite v2.11
Compile it on Ubuntu 20.04 on aarch64, gcc 9.4.0
Got the following errors:

[ 10%] Building CXX object lite/api/CxxxxxFiles/paddle_api_light_bundled.dir/__/backends/arm/math/scatter.cc.o
In file included from /home/xxxx/Paddle-Lite/lite/backends/arm/math/funcs.h:17,
                 from /home/xxxx/Paddle-Lite/lite/backends/arm/math/scale.cc:16:
/home/xxxx/Paddle-Lite/lite/backen

[2022-06-14 01:13] ZhuGeRoastedFish opened #9127 "联发科P60和天玑1200这两款Soc上跑Opencl模型崩溃"
   1）Paddle Lite 版本：2.11
    2）Host 环境：Android
    3）运行设备环境：安卓平板(Soc为P60), 红米K40 gaming
    4）预测后端信息：GPU(opencl)
- 预测信息
    1）预测 API：C++
    2）预测选项信息：armv8、单线程
    3）预测库来源：源码编译，with_opencl=ON

- 问题描述：
- 1. 在安卓平板上通过C++ api调用paddlelite接口进行连续的推理测试, 于Java中利用sleep设置间隔时长为100ms,每100ms通过jni接口调用一次paddlelite推理Opencl模型(文件大小为52MB), 在推理到一定次数时(比如10次, 50次)一定概率会出现崩溃现象, 报错提示**lite/backends/opencl/target_wrapper.cc

[2022-06-14 01:43] zhupengyang commented on #9122
- 目前没有这个计划
- NB模型是执行时的模型，保存了对应执行硬件的优化信息，是无法重新转换为其它执行硬件对应的模型
- paddle模型是通用模型，转换都需要从paddle模型出发

[2022-06-14 04:29] mike-2020 commented on #9122
了解了，谢谢

[2022-06-14 04:29] #9122 closed, assigned to zhupengyang

[2022-06-14 04:33] wangxinit opened #9129 "编译 opt 失败"
[100%] Linking CXX executable opt
CMakeFiles/opt.dir/tools/opt.cc.o：在函数‘__static_initialization_and_destruction_0(int, int) [clone .constprop.389]’中：
/home/wangxin/pp/Paddle-Lite/lite/api/paddle_use_ops.h:14：对‘touch_op___xpu__resnet50_d()’未定义的引用
/home/wangxin/pp/Paddle-Lite/lite/api/paddle_use_ops.h:23：对‘touch_op___xpu__block_fuse_op()’未定义的引用
/home/wangxin/pp/Paddle-Lite/lite/api/paddle_use_ops.h:

[2022-06-14 05:45] hong19860320 commented on #9119
把use_fuse_decode =TRUE 产出的原始fp32的paddle模型，以及paddleslim产出的量化模型上传上来吧 @yingshengBD 验证下看看是不是能复现这个问题。

[2022-06-14 07:48] Student-Fuz commented on #9119
[量化模型.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8897615/default.zip)
[fp32原始模型.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8897616/fp32.zip)

[2022-06-14 09:42] mjp9527 commented on #9126
What is your target platform? Arm-Linux or Android? If you want to compile fp16 kernel on Arm-Linux, you will fail. This is a known issue and we are working on a fix now.

[2022-06-14 10:31] DavidQiuChao opened #9131 "如何确定绑核成功"
请问设置了线程数和powermode 就一定能确定绑核成功吗？运行时候会不会即使设置了大核跑，系统也会分配其小核？
ps:因为我运行.nb 模型时候同一层op，运行耗时相差10倍~~

[2022-06-14 10:37] mike-2020 commented on #9126
Yes, it is Arm-Linux. When do you expect a fix can be ready?

[2022-06-14 12:07] mjp9527 commented on #9126
We have fixed it, waiting for pr to be merged.

[2022-06-15 02:05] DavidQiuChao commented on #9131
观察到一个现象就是每隔固定的次数（5次）就会耗时变大一次，

[2022-06-15 02:10] mike-2020 opened #9132 "picodet: Paddle-lite on ARM (Linux) + OpenCL failure"
从这里下载原始模型：https://paddledet.bj.bcebos.com/deploy/Inference/picodet_xs_416_coco_lcnet.tar
使用如下命令将其转换成NB：
./opt_linux --model_dir=picodet_xs_416_coco_lcnet --valid_targets=opencl,arm --optimize_out=picodet_xs_416_coco_lcnet-opencl --optimize_out_type=naive_buffer
使用Paddle-lite v2.11在RK3399(Ubuntu 20.04) （Mali T860）上运行，报告如下错误（错误在最后一行）。只要在opt命令行中把opencl去掉，就可以运行正常了。

[W 6/14 21:54:27.833 ...e-Lite/lite

[2022-06-15 02:49] chenjiaoAngel commented on #9131
这个是不是手机发热降频了？后天有没有跑其他程序，如果有的话，也可能发生资源抢占，导致性能变慢
另外，你跑的多线程是几线程呢？线程数最大是你的大核个数，一般最多跑四个线程

[2022-06-15 03:34] DavidQiuChao commented on #9131
绑定的大核，设置了两个线程跑。后台应该会有程序跑，看top 显示应该是系统的程序。观察到的结果是有规律的变化（g隔一定次数就会有一个很大的耗时）。
看文档说要确认openMP要设置开启，请问这个如何设置呢？

[2022-06-15 03:37] DavidQiuChao commented on #9131
还有就是相同模型，相同的设备跑MNN框架就不存在这种问题

[2022-06-15 06:25] sprouteer commented on #9132
这是因为opencl上matmul v2这个op暂时不支持输入x为2维，输入y为1维的情况，多谢反馈，正在加紧支持

[2022-06-15 07:50] DavidQiuChao opened #9135 "检测模型导出带有NMS的，是否使用时候会有较大性能波动？"
1.使用带有NMS的模型，每次推理的耗时差别大，请问是否是NMS引起的

[2022-06-15 07:59] csy0225 commented on #9135
你好，请问是在什么平台上呢？每次推理使用的图片是否相同？如果想确认是不是该算子引起的，可以对模型进行裁剪，看这个现象是否存在。裁剪模型工具可以参考：https://github.com/hong19860320/PaddleLite-generic-demo/blob/develop/tools/model_utilities/split_model.py

[2022-06-15 08:00] DavidQiuChao commented on #9135
平台是mt2712,绑的大核a72. 跑的是一段5s视频 视频内容基本没有太大变化

[2022-06-15 08:10] csy0225 commented on #9135
可以用单张图片去验证一下，算子本身是会随着图像内容的变化计算量会有变化。两种方法：1. 单张图片验证 2. 裁剪模型 对比下性能是否波动较大

[2022-06-15 08:19] DavidQiuChao commented on #9135
这个剪裁的工具的作用是什么？最后还是需要用opt工具生成lite的.nb 模型吧？然后裁剪后能正常运行？不是应该缺少某层了吗？

[2022-06-15 08:23] mike-2020 commented on #9132
谢谢，希望尽快可以得到支持。

这个模型目前无论是320x320还是416x416，都是无法在opencl上跑的。 对于320x320的情况，程序报告calib没有被支持。

[2022-06-15 08:25] csy0225 commented on #9135
嗯嗯，是的，就是裁剪到nms前面那一层。看这个模型是否有波动，可以验证是不是nms算子的问题

[2022-06-15 08:55] DavidQiuChao commented on #9135
我刚简单测了，单帧图（整个视频都是同一帧）跑，推理的耗时还是出现有规律的性能波动。现在绑两个核的策略是隔一段时间会两个核相互切换吗？不是并行的？

[2022-06-15 08:56] mjp9527 commented on #9126
all pr merged, commit id: 9d65971e684ad9e19a3b040076eca5e07f554b66

[2022-06-15 11:35] LeeLear opened #9136 "resinet34能被编译为nb文件吗"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题: [历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

建立 issue 时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型转换报错”
- 版本、环境信息：
    1）Paddle Lite 版本：请提供您的 Paddle Lite 版本号（如v2.10）或 Comm

[2022-06-15 11:53] mike-2020 opened #9138 "TinyPose does not work with Paddle-Lite when opencl is enabled"
从这里下载模型：https://bj.bcebos.com/v1/paddledet/models/keypoint/tinypose_128x96.tar
然后将其转换为NB文件
./opt_linux --model_dir=tinypose_128x96 --valid_targets=opencl --optimize_out=tinypose_128x96-opencl  --optimize_out_type=naive_buffer

使用Paddle-Lite推理：

  auto outputTensor = predictor_keypoint_->GetOutput(0);
  auto outputdata = outputTensor->data<float>();
  auto output_shape = outputTensor->shape();
  in

[2022-06-15 15:59] csy0225 commented on #9135
耗时波动可能与手机当前状态相关，手机是否发热降频；手机后台是否有其他的进程在跑程序。在后台有高优进程时，可能发生抢占。这时候会有切换

[2022-06-15 16:01] csy0225 commented on #9136
只要是算子支持都是可以的，您可以通过opt工具转换一下，opt工具使用可参考：https://www.paddlepaddle.org.cn/lite/develop/user_guides/model_optimize_tool.html

[2022-06-16 05:44] GanWang opened #9142 "win10编译paddle-litev2.10时报错fatal error C1083: 无法打开包括文件: “pthread.h”:"
CMakeError.log中的记录
E:\Paddle_Lite\Paddle_Lite_v210\Paddle_Lite_v210\build.lite.x86\CMakeFiles\CheckTypeSize\SPINLOCK_FOUND.c(4): fatal error C1083: 无法打开包括文件: “pthread.h”: No such file or directory [E:\Paddle_Lite\Paddle_Lite_v210\Paddle_Lite_v210\build.lite.x86\CMakeFiles\CMakeTmp\cmTC_7c287.vcxproj]

[2022-06-16 06:16] sprouteer commented on #9138
请问这是在什么平台上，用的什么版本的库

[2022-06-16 06:55] mike-2020 commented on #9138
rk3399 (Ubuntu 20.04)
Paddle-lite v2.11

[2022-06-16 08:17] DavidQiuChao commented on #9135
还有个问题是，文档中说的多线程需要确定，openMP开启。请问这个怎么确定呢？

[2022-06-16 10:46] sprouteer commented on #9138
[v211tag.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/8918089/v211tag.zip)
压缩包里面是基于tag:v2.11编译的库和转的模型，我这里在3399pro自测是可以，可以使用下面的指令尝试一下./mobilenetv1_light_api ./tinypose_128x96_ocl.nb 1,3,128,96 1 0 0 1 1 0
<img width="484" alt="image" src="https://user-images.githubusercontent.com/89541335/174053840-7849448e-4984-4452-918c-e5c6ac9aadbd.png">
参照lite/demo/cxx/mobile_light/mobilenetv1_light_a

[2022-06-16 12:37] mike-2020 commented on #9138
谢谢
不过，你提供的程序无法测试我发现的问题。由于程序没有真实的输入，所以在后处理阶段，根本没有尝试去读取keypoints。而我发现的问题就是在读取keypoints的时候发生的。

请参考这个代码。程序崩溃在172行（由于数组越界）。
https://github.com/zhiboniu/pose_demo_android/blob/release/1.0/app/src/main/cpp/postprocess.cc

BTW：这个demo虽然是安卓的，但我对外围代码稍作修改，让它可以在Linux运行。后处理部分的代码并没有修改。

[2022-06-16 14:18] mike-2020 commented on #9126
Confirm the issue has been fixed in develop branch.

[2022-06-16 14:18] #9126 closed, assigned to nobody

[2022-06-16 15:22] shentanyue commented on #9142
pthread.h是类Unix操作系统里的库。
你的编译命令是什么呢？是参考该文档的描述进行windows上的编译吗？
https://paddle-lite.readthedocs.io/zh/develop/source_compile/windows_compile_windows.html

[2022-06-17 00:51] fengyanWang opened #9145 "dlopen failed: library "libpaddle_light_api_shared.so"
为使您的问题得到快速解决，在建立 Issues 前，请您先通过如下方式搜索是否有相似问题:[历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）Paddle Lite 版本：请提供您的 Paddle Lite 版本号（如v2.10）或 CommitID
  

[2022-06-17 03:03] While11 commented on #9119
@hong19860320 同问，我们也遇到了这个问题

[2022-06-17 03:29] yingshengBD commented on #9119
先确认使用硬件、paddle版本、paddleSlim版本，较早版本的Slim是没有全量化的
另外，关于priorBox，如果是arm cpu那PriorBox是不会离线处理的（Arm同学修改 https://github.com/PaddlePaddle/Paddle-Lite/commit/c85034f69ebab7af657ef7f390e1312191a4a2f2）

[2022-06-17 05:25] tomjeans opened #9146 "同时加载两个opencl 模型 推理时 只有最后一个模型加载能正常使用"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题: [历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

建立 issue 时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型转换报错”
- 版本、环境信息：
    1）Paddle Lite 版本：v2.10
    2）Host 环境：android
- 模型信息

[2022-06-17 06:56] While11 commented on #9119
我们使用的是paddlepaddle2.1.3 paddleslim2.1 paddlelite 2.9(注册过fpga子图算子的)，硬件平台是intel fpga Cyclone V
![image](https://user-images.githubusercontent.com/74449767/174242768-33d33f7d-9c85-4000-ab43-54f34df880d3.png)
请问这里是否意味着会对relu、relu6等进行量化？

[2022-06-17 08:54] Student-Fuz commented on #9119
我们确实用的是arm，链接好像有误，麻烦再发一下吧。

[2022-06-17 09:06] yingshengBD commented on #9119
那确实是老版了，建议paddle和slim使用develop或者2.3以后的版本，自带全量化。
另外如果是fpga的量化算子开发，
在此提醒：需要考虑量化是perlayer还是perchannel，uint8还是int8，以免后续踩坑
最后，欢迎贡献fpga算子kernel代码

[2022-06-17 09:10] yingshengBD commented on #9119
没关系，这只是个commitID，如果是armcpu，在线计算priorbox也没有什么性能下降
另外priorbox、boxcoder、nms这种本身就没有必要、也不会量化，
如果你是希望模型尽可能多的量化来提升性能，那么建议使用paddle和slim的develop或者2.3以后的版本，那个全量化比较全面。当然之前说的priorbox、boxcoder、nms是不会量化的

[2022-06-18 06:43] While11 commented on #9119
好的，谢谢您！！

[2022-06-20 03:11] csy0225 commented on #9138
这边我们复现 opencl的输出和 arm的输出shape是一样的，如果你的后处理代码里面仅仅是用到了维度一些信息应该是不会出现越界这种行为的，还请确认一下后处理代码是否正确。如果是对输出tensor里面的值做了一些操作，有可能是因为精度没有对齐导致的，如果是这个原因，请帮忙协助确认一下是否是opencl输出的结果有问题，反馈给我们。

[2022-06-20 04:40] csy0225 commented on #9135
这个在编译的时候，默认openMP就是开启的

[2022-06-21 06:41] panmin commented on #8956
同样的问题Check failed: kernels.size() > 0 (0 vs. 0)
Error: This model is not supported, because kernel for 'elementwise_mul' is not supported by Paddle-Lite.

[2022-06-21 14:47] #9042 closed, assigned to hong19860320

[2022-06-22 07:57] ChaoII opened #9163 "PPOCRv3 识别模型转换nb模型报错"
- 版本、环境信息：
    1）Paddle Lite 版本：paddlelite 2.11
    2）Host 环境：MacOS 12.2(Monterey) intel CPU
- 模型信息
    1）模型名称:PPOCRV3
- 问题描述：Error: This model is not supported, because 1 ops are not supported on 'x86'. These unsupported ops are: 'matmul_v2'.看报错信息应该是该算子在x86上不支持。
请问想要在x86上部署怎么办？（不想用paddle_inference，太大，macos上试验不支持静态编译）。

[2022-06-22 08:17] xingjing1 commented on #9163
（1）能不能改下模型？将matmul_v2算子改成matmul？
（2）自己加一下这个算子可以参考arm上的matmul_v2算子

[2022-06-22 09:15] ChaoII commented on #9163
好的，我研究研究，谢谢。顺带问一句，请问这个算子后面会加到x86里面么？

[2022-06-22 11:18] xingjing1 commented on #9163
暂时没有排期加这个算子，可以参考arm实现v2的方法，只需要替换下gemm库，其他逻辑基本不变

[2022-06-22 11:40] ChaoII commented on #9163
好的，感谢！

[2022-06-22 16:54] thunder95 opened #9168 "运行yolov5 demo报错 Illegal instruction"
PaddleLite 2.10, ubuntu, 运行adb shell

make successful!
PADDLE_LITE_DIR is /home/hulei/projects/tmp/Paddle-Lite-Demo/object_detection/android/shell/cxx/yolov5n_detection/../../../../../libs/android/cxx
OPENCV_LITE_DIR is /home/hulei/projects/tmp/Paddle-Lite-Demo/object_detection/android/shell/cxx/yolov5n_detection/../../../../../libs/android/opencv4.1.0
ASSETS_DIR is /home/hulei/projects/tmp/Paddle

[2022-06-23 02:57] mjp9527 commented on #9163
这个有PR还未合入，可以先fetch下来编译 https://github.com/PaddlePaddle/Paddle-Lite/pull/9137

[2022-06-23 04:30] mjp9527 commented on #9168
这个nb模型是基于v2.11生成的，所以你需要使用v2.11 带with_opencl 标签的库 https://paddle-lite.readthedocs.io/zh/release-v2.11/quick_start/release_lib.html

[2022-06-23 04:35] mjp9527 commented on #9146
同时加载两个是什么意思，两个模型串行吗

[2022-06-23 06:56] ANDROIDTODO commented on #9163
@mjp9527
我已经fetch了你的PR，编译OPT后已经可以正常转化x86平台的PPOCRv3模型了。
请问是否编译库之后就能在x86平台上能够跑通这个模型了？

[2022-06-23 07:18] mjp9527 commented on #9163
如果只是缺这个算子就没问题，可以试试

[2022-06-23 07:38] ANDROIDTODO opened #9171 "windows 编译 一直卡住不动"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题:[历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

建立 issue 时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac 编译错误”
- 版本、环境信息：
    1）Paddle Lite 版本：develop分支
    2）Host 环境：Window

[2022-06-23 07:41] ANDROIDTODO commented on #9171
@mjp9527
好巧，就是准备在windows编译你提供的PR，但是windows编译一直卡着，无法验证https://github.com/PaddlePaddle/Paddle-Lite/pull/9137

内存情况
<img width="660" alt="企业微信截图_16559708232238" src="https://user-images.githubusercontent.com/10429542/175246705-64f30825-c47a-429c-b5ce-28b43616941e.png">

[2022-06-23 09:29] mjp9527 commented on #9171
编译过程中，如出现源码编译耗时过长，通常是第三方库下载过慢或失败导致。请在完成 Paddle Lite 源码下载后，删除本地仓库根目录下的 third-party 目录，编译脚本会自动下载存储于国内 CDN 的第三方依赖文件压缩包，节省从 GitHub repo 同步第三方库的时间。

[2022-06-23 09:30] mjp9527 commented on #9171
windows编译在服务器大约需要10分钟,  set_vcvarsall_dir 这个和 set_python_path都设置正确了吗

[2022-06-23 09:58] ANDROIDTODO commented on #9171
都设置正确
2个小时候后出现如下错误

<img width="1058" alt="企业微信截图_16559780975253" src="https://user-images.githubusercontent.com/10429542/175272400-5e020724-0525-4b78-8732-e8ab304aff65.png">

看样子是内存不够导致的？请问需要多大的内存才能编译windows 的lite呢？
<img width="507" alt="企业微信截图_1655978160613" src="https://user-images.githubusercontent.com/10429542/175272763-4746b0f8-e520-42d3-83ff-3f2bed6590be.png">

[2022-06-23 11:59] mjp9527 commented on #8982
这个文档多看两遍就可以大致了解PaddleLite的开发、使用及基本框架设计理念：https://paddle-lite.readthedocs.io/zh/release-v2.11/user_guides/cpp_demo.html

[2022-06-23 12:06] mjp9527 commented on #9171
要不换个2015试一下，这个问题确实没见过，我们这边也不太建议用户自己编windows的包

[2022-06-24 07:13] JerseyHam commented on #8559
@hong19860320 @yingshengBD 请问荣品的板子是6.4.4.3的系统镜像吗。我从厂商那里问询到只有6.4.3和6.4.6.2两个版本。我也出现了和楼主一样的问题。

[F  6/24 14:38:33. 81 ...dapter/src/driver/amlogic_npu/utility.cc:150 CreateAmlTensor] Check failed: tensor:
[F  6/24 14:38:33. 81 ...dapter/src/driver/amlogic_npu/utility.cc:150 CreateAmlTensor] Check failed: tensor:

[F  6/24 14:38:33. 82 ...ter/nnadapter/src/runtime/compilation.cc:98 ~Program] Check fa

[2022-06-24 07:16] 2050airobert commented on #8559
@JerseyHam  Sorry ， I do not know what you want to say？

[2022-06-24 08:41] JerseyHam commented on #8559
@2050airobert
上面是我发的跑demo时的报错：compilation.cc:98 ~Program] Check failed: device_context: No device found.
应该是和你的issue一样的问题吧

[2022-06-24 10:45] JerseyHam commented on #8559
我尝试用doc中的方法二 替换6443驱动，但是输出一下错误

[3  6/24 18:31:17.164 ...kernels/nnadapter/converter/converter.cc:125 Apply] Found an operand @0xaa052c10 for 0th output 'softmax_0.tmp_0'.
[W  6/24 18:31:17.164 ...nnadapter/nnadapter/src/runtime/model.cc:86 GetSupportedOperations] Warning: Failed to get the supported operations for device 'verisilicon_timvx', because the HAL interface 'validate_program' is not imp

[2022-06-27 02:02] JerseyHam commented on #8559
@yingshengBD
您好能否提供下TIMVX部署文档中提及的Linux kernel 4.9.113的6.4.4.3 galcore.ko文件？ 目前从文档链接下载下的a311d只有4.9.241的

[2022-06-27 06:20] shivabohemian opened #9179 "请问什么时候能支持瑞芯微rk3568，rk3588的npu计算呢"
欢迎您对 Paddle Lite 提出建议，非常感谢您对 Paddle Lite 的贡献！
在留下您的建议时，辛苦您同步提供如下信息：
- 版本、环境信息
    1）Paddle Lite 版本：请提供您的 Paddle Lite 版本号（如v2.10）或 CommitID
    2）Host 环境：请描述 Host 系统类型、OS 版本，如 Mac OS 10.14、Ubuntu 18.04
    3）预测后端信息：请描述使用的预测后端信息，如 CPU/GPU/NPU/others 加速器
- 复现信息：如为报错，请给出复现环境、复现步骤
- 建议描述：请您详细描述，您认为需优化的功能

[2022-06-27 06:40] sprouteer commented on #9127
您好，可以在k40帮忙看一下这几个log吗？ 需要使用带log的库，编译的时候加上 --with_log=ON
![image](https://user-images.githubusercontent.com/89541335/175875413-fb8907b9-561a-4b8f-b4f3-da8cdfe467fb.png)

[2022-06-27 06:52] sprouteer commented on #8971
您好，可以提供下转之后的模型吗

[2022-06-27 07:46] yingshengBD commented on #9179
你好，瑞芯微3系列的芯片（既2代芯片），其根本不对外开放API，所以，所有第三方框架，都无法调用其NPU。
目前我们支持的是瑞芯微1代芯片 ：1126 1109 1808

[2022-06-27 07:48] yingshengBD commented on #8559
看来你已经看到了新的文档，目前网页排版有点问题，正在修复。
然后你现在重新下载文档中的链接，已经把相关的驱动都上传

[2022-06-27 07:50] shivabohemian commented on #9179
好的，谢谢你

[2022-06-27 09:25] PlayerA opened #9181 "-fstack-protector Cpp 编译flag在paddlite 2.8 如何添加？"
   1）Paddle Lite 版本：2.8
    2）Host 环境：docker 2.0.0_beta

在最新的版本（2.11）中发现已经使用了-fstack-protector的编译参数
如何在老的版本的build_android.sh 中添加？

[2022-06-27 13:43] TodayWei opened #9184 "paddlelite无法运行mobilenetv3模型"
我用paddlelite做图像分类。

使用paddlelite跑demo里面的mbv1很顺利，自己训练的mbv1模型转nb后也很顺利。但是我训练了mbv3，转nb都很顺利，而且看input和output和v1完全一样的情况下，在predictor中run就出错了！程序崩溃。

请问，mbv3在paddlelite上运行有什么需要调整的吗？

[2022-06-28 02:26] csy0225 commented on #9184
你好，可以把程序出错的日志贴上来，并且你是在什么硬件后端执行的？执行环境命令也发一下

[2022-06-28 02:55] TodayWei commented on #9184
我是做Android studio里面运行的，开发一个android 的APP。加载有opencv和paddlelite。从单步调试情况看，就是在你们Demo的predictor类的run方法错了。

由于input和output都和v1一样，我就都没改动

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2022年6月28日(周二) 上午10:26
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle-Lite] paddlelite无法运行mobilenetv3模型 (Issue #9184)

你好，可以把程序出错的日志贴上来，并且你是在什么硬件后端执行的？执行环境命令也发一下

—
Reply to this email directly, v

[2022-06-28 03:38] yingshengBD commented on #9184
adb logcat收集日志

[2022-06-28 03:40] TodayWei commented on #9184
好，回头收集好给您发过去

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2022年6月28日(周二) 中午11:38
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle-Lite] paddlelite无法运行mobilenetv3模型 (Issue #9184)

adb logcat收集日志

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@***.***&gt;

[2022-06-28 10:29] ZhuGeRoastedFish commented on #9127
您好! 我看了一下,可以顺利推理的设备log如下:
2022-03-14 11:21:57.635 21118-21194/com.example.paddlelitetest I/Paddle-Lite: [I  3/14 11:21:57.635 ...-Lite/Paddle-Lite/lite/api/paddle_api.cc:50 IsOpenCLBackendValid] need to check fp16 valid:0
2022-03-14 11:21:57.724 21118-21194/com.example.paddlelitetest I/Paddle-Lite: [I  3/14 11:21:57.724 ...-Lite/Paddle-Lite/lite/api/paddle_api.cc:57 IsOpenCLBackendValid] Found ope

[2022-06-28 16:33] personqianduixue commented on #9119
请问你解决了问题吗

[2022-06-28 17:07] personqianduixue commented on #9119
@Student-Fuz 请问你解决了这个问题吗

[2022-06-29 02:54] lw-2017 opened #9188 "使用paddlelite 转换paddle模型时，选择--valid_targets=x86时出现This model is not supported, because 1 ops are not supported on 'x86'. These unsupported ops are: 'nearest_interp_v2'.错误"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题:[历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

建立 issue 时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac 编译错误”
- 版本、环境信息：
    1）Paddle Lite 版本：请提供您的 Paddle Lite 版本号（如v2.10）或

[2022-06-29 03:15] shentanyue commented on #9188
请问你使用的Paddle Lite 版本号是多少？
在最新release/v2.11版本上，x86平台已经支持nearest_interp_v2

[2022-06-29 03:15] personqianduixue commented on #9119
@Student-Fuz @While11 我感觉不是模型导出的问题，是paddlelite intelfpga算子的问题

[2022-06-29 03:20] lw-2017 commented on #9188
paddlelite  的版本为2.9，我是将yolov5s.pt 转换为onnx，然后再转成paddlepaddle，最后转为paddlelite 支持的模型，使用的转换指令是 paddle_lite_opt --model_dir=./best_test/inference_model --optimize_out=./best_test/test4 --optimize_out_type naive_buffer --quant_type QUANT_INT8 --quant_model true --valid_targets x86 ，这里出现 x86就会报上面的错误

[2022-06-29 03:21] lw-2017 commented on #9188
这条指令前我已经转为paddlepaddle支持的模型格式

[2022-06-29 03:24] shentanyue commented on #9188
PaddleLite x86平台的v2.9版本不支持nearest_interp_v2，请升级PaddleLite版本，在v2.10及以上版本已经支持nearest_interp_v2

[2022-06-29 03:26] lw-2017 commented on #9188
好的，我刚刚升级到2.11版本，现在转换成功了，感谢感谢

[2022-06-29 03:28] lw-2017 commented on #9188
我想问一下，paddle有官方的paddlelite微信群吗，有一些端侧部署的问题需要请教

[2022-06-29 04:02] shentanyue commented on #9188
有的。
![image](https://user-images.githubusercontent.com/34421038/176348820-974abecb-b3ea-4167-b79c-2c5fcb45d1e1.png)

[2022-06-29 05:46] lw-2017 commented on #9188
qq群满了，两个QQ群都加不进去，然后这个加了微信号，回复“端侧”，也没有人拉我进群呀

[2022-06-29 11:49] shentanyue commented on #9188
现在进去了吗

[2022-06-29 14:12] 2050airobert opened #9191 "RK3399pro mali GPU cnn model support！"
hi，
     1 请问下 android rk3399pro的 mali T860 MP4 GPU是否支持paddle detection提出的tinypose模型，浮点fp32或者fp16都支持吗？
     2 如果现在不支持，是哪里的问题呢，何时可以支持呢？
     3 android rk3399pro的 mali T860 MP4 GPU 是否还支持其他模型，已经调试好的，甚至发布了呢？可以分享下链接吗 多谢
 BR

[2022-06-30 02:32] 2050airobert opened #9192 "VIM3 and RK3399pro deploy PicoDet !"
Hi，
     1 请问下picodet下图中为什么只有android armv8的FP16编译版本，不支持android armv7 的FP16编译吗？为什么
![image](https://user-images.githubusercontent.com/8407513/176579694-82ff75b8-0a5c-48f5-9a49-0e17e03d2546.png)
      2 对于amlogic a311d android vim3开发板，可以采用android armv8 FP16编译版本吗？
      3 对于rk3399pro android 开发板，可以采用android armv8 FP16编译版本吗？
      4 PicoDet 模型有木有 armv7 FP32或者armv7 FP16的nb文件和infer.json 提供呢？可以分享下链接吗？ 我只

[2022-06-30 05:33] cgoxopx opened #9194 "如何在不支持neon的平台上运行口罩检测demo？"
main.cpp: 在函数‘void neon_mean_scale(const float*, float*, int, std::vector<float>, std::vector<float>)’中:
main.cpp:45:5: 错误：‘float32x4_t’ was not declared in this scope; did you mean ‘float_t’?
   45 |     float32x4_t vmean0 = vdupq_n_f32(mean[0]);
      |     ^~~~~~~~~~~
      |     float_t
main.cpp:46:16: 错误：expected ‘;’ before ‘vmean1’
   46 |     float32x4_t vmean1 = vdupq_n_f32(mean[1]);

[2022-06-30 06:06] lw-2017 commented on #9188
进去啦，谢谢您

[2022-06-30 06:06] lw-2017 commented on #9188
paddlelite 是不支持英伟达的jetson硬件嘛

[2022-06-30 06:31] shentanyue commented on #9188
是的，英伟达的jetson硬件统一以Paddle-Inference框架进行接入，
详见https://www.paddlepaddle.org.cn/inference/demo_tutorial/cuda_jetson_demo.html

[2022-06-30 06:33] shentanyue commented on #9194
注释掉使用neon进行图像预处理的代码，改用原生C++实现的图片预处理代码。

[2022-06-30 08:39] 2050airobert commented on #8432
hi,
1 我又查看了下，不管是编译demo 应用程序，下图可见 makeflie里面没有任何跟openmp相关的配置
![image](https://user-images.githubusercontent.com/8407513/176632069-11da4e91-f934-4f19-956f-914d709ee095.png)
2 还是从编译paddle full /light api 动态库来看， 下图的编译android armv7的脚本并没有任何提到openmp相关的部分
![image](https://user-images.githubusercontent.com/8407513/176632521-28cbf06c-3e04-4a8c-9822-275880025ba8.png)
结论是： 目前发布的版本从paddle库和app来看都不支持 vim3 arm 上

[2022-06-30 09:46] personqianduixue opened #9195 "请教一个问题：类型不匹配时自动在prior_box前插入calib int8->float32算子而不是分割子图如何实现的"
我正在适配新的硬件intel_fpga，使用的网络是ssd-mobilenetv1。使用opt转化后，如下。ssd的prior_box算子需要的输入类型为float32，而子图的输入需要是int8。可以看到，由于类型不匹配，**这些conv算子没有纳入同一个子图，而是被分割成了多个子图，并在每个子图前自动插入了calib：float32->int8算子**，相似的issue(https://github.com/PaddlePaddle/Paddle-Lite/issues/9119) 并没有解决我的问题。这不是我想要的，这样运算效率不高，造成了额外的数据传输开销：
![image](https://user-images.githubusercontent.com/62993095/176645288-05e24336-66b1-4372-88eb-e3b97b541d85.png)

[2022-06-30 13:34] 2050airobert commented on #8432
hello，any one could help ？

[2022-07-01 03:46] xgyyao commented on #8519
你好，我这边也遇到了和你相同的问题，请问你解决了吗？

[2022-07-01 03:49] xgyyao commented on #6111
你好，我也遇到这个问题了，请问你是怎么解决的呢？

[2022-07-01 07:01] ANDROIDTODO commented on #8519
用最新的2.11貌似没有问题了，然后github 2.11 release 的资源里面有m1的opt工具

[2022-07-01 08:09] jolinchao opened #9197 "PaddleOCR使用OpenCL端侧部署"
请提供下述完整信息以便快速定位问题/Please provide the following information to quickly locate the problem

-问题：更换后手机上一直处于loading model 的状态
![image](https://user-images.githubusercontent.com/39295025/176853077-eae6f345-8178-48ed-ada7-7742aafa4752.png)

-系统环境/System Environment：
  电脑：macos x86
  手机：htc u11 (GPU: Qualcomm Adreno 540, Android 9)

-版本号/Version：
  PaddleLite：2.10
  PaddleOCR：release2.5

-运行指令/Command Co

[2022-07-01 11:16] 2050airobert opened #9199 "Error gpu 模型官方demo Failed！"
Hi
   按照官方指示 在vim3 a311d G52MP4上运行demo程序，
https://github.com/PaddlePaddle/Paddle-Lite-Demo/blob/develop/image_classification/android/shell/cxx/image_classification/README.md
发现异常如下：
![b6d406dea51b639366bd75a79fb3bbb](https://user-images.githubusercontent.com/8407513/176883980-36a6b26b-2d65-4872-be58-f42935331e12.png)

libpaddle_light_api_shared.so 采用的是最新develop ，编译命令如下
./lite/tools/build_android.s

[2022-07-01 11:33] 2050airobert commented on #9192
hello anyone help？

[2022-07-04 02:02] dlkht opened #9202 "PaddleOCR模型用paddle lite优化问题"
打算将paddle pp-OCRv2模型部署到android手机端测试，首先用paddle lite opt工具优化模型，请问opt优化时，是否会将模型中紧靠着的
conv(卷积)层和batchNorm层合并优化呢？
谢谢！

[2022-07-04 02:35] #9188 closed, assigned to nobody

[2022-07-04 04:42] Lilengli commented on #9195
请问楼主解决这个问题了吗

[2022-07-04 05:12] personqianduixue commented on #9195
@Lilengli 没有解决，有解决方法可以交流一下

[2022-07-04 05:57] Lilengli opened #9205 "模型导出时不支持的operation warning"
我在用export_model导出模型文件时，出现了以下两个warning信息，请问在export_model的代码中是如何处理不支持的算子信息的。
![operation](https://user-images.githubusercontent.com/93658838/177090291-c355e502-e479-4d15-b96e-6a944fc5e57f.png)

[2022-07-04 05:59] PlayerA commented on #9181
Added in file
cmake/cross_compiling/postproject.cmake

[2022-07-04 05:59] #9181 closed, assigned to nobody

[2022-07-04 06:26] DannyIsFunny commented on #9197
PROFILER: Error Loading gl2 driver library jumptable

[2022-07-04 06:30] liyancas commented on #9192
1：Paddle Lite支持armv7 + fp16组合，编译选项为：--arch=armv7 --with_arm82_fp16=ON，NDK版本 >=22
2&3：fp16指令针对armv8.2-a以上架构（https://en.wikipedia.org/wiki/ARM_architecture_family#ARMv8-A）以上，而amlogic a311d 和 rk3399pro的ARM架构分别是A73和A72，为armv8-a，因此不能采用FP16编译版本
4：模型没有区别armv8和armv7，fp16 模型需要使用opt工具重新转一下，命令：--valid_targets=arm --enable_fp16=true

[2022-07-04 06:37] sprouteer commented on #9199
这个跟平台的opencl 工作项限制有关，因为我们暂时没有这样的测试机，可以尝试打印和修改下lite/kernels/opencl/fc_image_compute.cc 中的316行和317行，global_work_size_ 和 local_work_size_
![image](https://user-images.githubusercontent.com/89541335/177095677-8e6709e5-9e59-45ec-a241-9ebb9cdaba2f.png)

[2022-07-04 06:38] jolinchao commented on #9197
请问这报错是什么意思呢？

[2022-07-04 06:44] 2050airobert commented on #9199
@sprouteer hi,
1 该修改为什么呢？ 我只要先保证能跑通就行。
2 我记得当时你们改了一些参数，结果说跑mobilenet要1000ms以上，这个有点太夸张了，能否提供下最优参数，保证在100ms以内呢，mali g52MP4 gpu 性能还是不差的！
3 picodet XS  320 x 320 能提供下gpu 上的这个模型吗？

BR

[2022-07-04 07:17] liyancas commented on #9191
你好，tinypose（input 128x96）使用OpenCL在高通865 Adreno GPU上验证过，不确定是否可以在rk3399pro Mali GPU上运行，您可以试一下，有问题麻烦提一下issue，后期文档方面会完善OpenCL支持的model list.

[2022-07-04 07:24] 2050airobert commented on #9191
@liyancas
1 你们曾经值班的支持人员 gpu部分支持的时候说，tinypose和其他很多模型都可以在rk3399pro的mali gpu T系列上运行，真实情况到底是怎么回事？
2 tinypose（input 128x96） 可以提供下模型吗？ 或者在mali T系列上的链接 可以下载或者模型测试指标之类？
多谢

[2022-07-04 07:28] sprouteer commented on #9199
之前的结论是local_work_size 不支持>32, 改为小于32可以跑通，但是性能差，性能差的问题还需要针对这个gpu进行特殊优化

[2022-07-04 07:29] leiqing1 commented on #8579
Paddle Lite不支持这款硬件的GPU加速。
Paddle Lite的GPU的适配方案是OpenCL， 而这款晶晨311D的GPU是芯元自研GPU IP，如果想使用这款芯片进行AI加速，建议使用CPU或者NPU进行加速。

[2022-07-04 07:31] 2050airobert commented on #9199
1 是不是因为改为16后，就比官方支持的256 慢了16倍？
2 如果做针对的优化，会很麻烦吗？ 还是基本上下周或月底就必定可以出来？
3 您还有什么问题或者需要我支持的信息吗？

[2022-07-04 07:34] 2050airobert commented on #8579
@leiqing1
感谢您官方的答复，tks。
1 那我们支持rk3399pro的 maliT864 MP4 GPU吗？
2 tinypose和picodet有木有已经ready可以release的demo展示？

[2022-07-04 07:56] DannyIsFunny commented on #9197
您好，查询后，这是安德鲁GPU的运行时驱动，似乎是缺少驱动导致的。

[2022-07-04 08:12] jolinchao commented on #9197
谢谢回覆！想请问这个情况该怎么处理呢

[2022-07-04 09:30] Wzj02200059 opened #9206 "Paddle-lite-Demo比官方APK的预测速度要慢一半"
我在我的小米12手机上对比了picodet_detection_demo和官方的APK【[https://paddledet.bj.bcebos.com/deploy/third_engine/PP-PicoDet.apk】的PicoDet模型。
官方APK可以达到70到110的FPS，可以picodet_detection_demo只能达到了30FPS。
但是在demo的log里可以看到，模型的处理速度是可以达到50以上的Fps的：
2022-07-05 18:08:17.701 17326-17356/com.baidu.paddle.lite.demo.ssd_detection D/JNI: Read from bitmap costs 2.126000 ms
2022-07-05 18:08:17.705 17326-17356/com.baidu.paddle.lite.dem

[2022-07-04 13:36] xgyyao commented on #8170
你好，我也遇到这个问题了，请问你解决了吗？

[2022-07-04 13:39] steinvenic commented on #8170
用这个点的文件试试[ocr_db_crnn.cc](https://github.com/PaddlePaddle/PaddleOCR/blob/91af57634c2020e96bf139b20723c20482ac0bd2/deploy/lite/ocr_db_crnn.cc)

[2022-07-05 01:58] 2050airobert opened #9208 "Error--libpaddle_light_api_shared.so: error: undefined reference to 'stderr'!"
Hi，
    按照官方指导编译lite源码，git clone 最新develop分支，编译android gcc opencl log opencv extra armv7 编译通过，生成build.lite.android.armv7.gcc，进一步讲detection demo 源码拷贝到inference_lite_lib.android.armv7.opencl/demo/cxx/l
ite ，make ARM_ABI=arm7 ，结果发现error在最后链接的地方“ ../../..//cxx/lib//libpaddle_light_api_shared.so: error: undefined reference to 'stderr'” 具体log如下图所示：
![image](https://user-images.githubusercontent.com/8407

[2022-07-05 02:01] xr-Yang opened #9209 "请问，paddle的模型在win32的cpu上支持对openblas的加速么，支持的话，请问是不是在配置config或者在predictor->Run()的时候需要设置某些开关开启加速。"
RT

[2022-07-05 06:24] xgyyao commented on #8170
你好，已经解决了，多谢

[2022-07-05 06:24] mjp9527 commented on #9209
不用配置，blas已经做了加速，对mkl、openblas等统一做了封装

[2022-07-05 06:44] mjp9527 commented on #9208
我用的v2.11 release提供的预编译库，没有复现这个问题，你是自己编的库还是下载的release库

[2022-07-05 06:46] fengyanWang opened #9212 "matmul_v2_compute.cc:Check failed"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题: [历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

建立 issue 时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型转换报错”
- 版本、环境信息：
    1）Paddle Lite 版本：请提供您的 Paddle Lite 版本号（如v2.10）或 Comm

[2022-07-05 08:36] 2050airobert opened #9215 "Amazing Cost when picodet running mali T8xx gpu！"
hi，
 1 参考detection最新 2.4 release版本，用最新的opt 以及最新的developy lite版本转换该picodet xs 320的模型到gpu模型，
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/deploy/lite
2 转换成功之后，在rk3399pro上运行gpu模型，./main_withgpubin_save_fp16 det_runtime_config.json ，发现可以正常的运行gpu模型，输出检测结果，基本正确，但是耗时1s左右，有点太大了，感觉有点奇怪，这个模型在arm上跑也就是100ms不到，差距太大。
 主要log如下：
![image](https://user-images.githubusercontent.com/8407513/177285

[2022-07-05 09:19] tianv opened #9216 ""bilinear_interp_v2_1700272" 网络现在支持了么? 报: These unsupported ops are: 'bmm'."
- 版本、环境信息：
    1）Paddle Lite 版本：V2.11
    2）Host 环境：Ubuntu 18.04

Error: This model is not supported, because 1 ops are not supported on 'arm'. These unsupported ops are: 'bmm'.
[1]    25331 abort (core dumped)  paddle_lite_opt --model_file=good/good.pdmodel  --valid_targets=arm

[2022-07-05 11:24] mjp9527 commented on #9212
收到

[2022-07-05 11:27] mjp9527 commented on #9216
BMM这个OP目前不支持

[2022-07-05 11:45] mjp9527 commented on #9215
两个模型串行崩溃，可以先一个个模型跑一下试试，你如果想定位问题就要尽量剥离业务代码，现在的描述太复杂很难确定到底是不是库的问题。想看更全面的log可以编译时加上with_log=ON，然后运行时export GLOG_v=4.

[2022-07-05 12:20] 2050airobert commented on #9215
是的，大佬。但是要跑tinypose必须给定一个检测到的行人才行啊。
另外前面好几个问题，您能帮忙或者找大佬看下吗？ 多谢

[2022-07-06 01:38] tianv commented on #9216
冒昧问下ops是啥，什么地方可以看到文档介绍?

[2022-07-06 02:24] yangyukun0619 opened #9218 "仅运行db模型在shell测试挂掉，报错Segmentation fault"
- 版本、预测库信息：
    1）Paddle Lite 版本：v2.10
    2）Host 环境：安卓11
    3）运行设备环境：oppo
    4）预测后端信息：cpu
- 预测信息
    1）预测 API：C++
    2）预测选项信息：armv8、单线程/多线程 均报错
    3）预测库来源：源码编译，./lite/tools/build_android.sh  --arch=armv8  --toolchain=clang  --with_cv=ON --with_extra=ON --with_java=ON
- 复现信息：Segmentation fault
- 问题描述：db模型为官方预训练模型转的nb模型，paddlelite版本2.10 ，shell运行屏蔽掉了识别和方向分类器
-
![image](https://user-images.github

[2022-07-06 03:02] 2050airobert commented on #9215
hello，anyone could help ？

[2022-07-06 03:05] mjp9527 commented on #9216
某个设备上支持的算子，可以参考：https://www.paddlepaddle.org.cn/lite/v2.10/quick_start/support_operation_list.html  , BMM这个算子目前只有xpu支持

[2022-07-06 03:28] xingjing1 commented on #9202
会的

[2022-07-06 03:45] xingjing1 commented on #9206
您好，apk中的使用方法是fp16+多线程部署方式
您若想提速的话可以增加整两个选项，包括编译带fp16的库和跑fp16的模型。

[2022-07-06 03:47] xingjing1 commented on #9205
您好，这个是paddle的api吗？如果是建议去paddle主框架问一下

[2022-07-06 05:06] Wzj02200059 commented on #9206
感谢您的回答！我已经使用了多线程设置。然后目前的模型推理速度大约在20ms左右。
![1657083687990](https://user-images.githubusercontent.com/32172413/177472414-ac73ea4c-c7ee-4676-aa6c-6af97cb6c14a.png)
请问20ms的推理速度，对应20多的FPS是正常的性能表现吗？
我想要获得更高的30以上的FPS，是需要将模型推理速度压缩到10ms以内吗？
还是说并非模型的问题，而是其他Android工程设置的问题。。
期待您的解答。。。我不懂安卓和java，玩这个好吃力QAQ

[2022-07-06 07:14] Wzj02200059 commented on #9206
看来雀食是模型之外的问题，我把模型推理部分给注释掉之后FPS变成了30.
![image](https://user-images.githubusercontent.com/32172413/177491589-216c8299-a834-4d3b-83f9-acf501a0434c.png)

[2022-07-06 07:45] Wzj02200059 commented on #9206
![image](https://user-images.githubusercontent.com/32172413/177497424-7cf069cd-e145-41ff-82ee-71310c217bfb.png)
似乎这里的OpenGL的RenderMode导致的锁帧，改成RENDERMODE_CONTINUOUSLY之后就不锁30了。。。

[2022-07-06 08:01] xingjing1 commented on #9206
赞，可以给我们提个pr~！

[2022-07-06 08:16] 2050airobert opened #9219 "Rk3399pro picodet-xs model Profiling！"
Hi，
rk3399pro  T860 MP4 mali GPU 何时可以尝试下 picodet-xs-320模型 跑通以及profiling呢？
例如 类似下面的指标就好
![a79efd5191715744d58ca22399ef516](https://user-images.githubusercontent.com/8407513/177503451-8950604c-3255-436a-8a01-19dddbf6daae.jpg)
BR

[2022-07-06 09:10] lxwlaq commented on #9218
同学，我在两部手机上都没有复现，请说明一下你手机的具体型号或者处理器的具体型号
![image](https://user-images.githubusercontent.com/43700894/177514924-df991121-f936-4064-b041-edc15e8a7adf.png)

[2022-07-06 10:25] yangyukun0619 commented on #9218
联发科MT6765平台

[2022-07-06 10:56] personqianduixue commented on #9195
@liyancas 您好，这个问题能解答一下吗

[2022-07-06 11:09] lxwlaq commented on #9218
同学我看了下我们这里没有你这款处理器的手机，我用了同样cpu是a53的骁龙625手机做测试，仍然没有复现，麻烦你可以加些log自己编译一下预测库，先看下crash在哪个op了吗

[2022-07-07 01:23] jolinchao commented on #9197
您好～想请问这个情况该怎么处理呢！

[2022-07-07 02:14] yangyukun0619 commented on #9218
我找了一个骁龙625，内存4g的机子试了下，还是挂
![image](https://user-images.githubusercontent.com/88471148/177675467-4b4a41e7-9014-459a-b1c8-ae37cd9e88da.png)

[2022-07-07 02:23] lxwlaq commented on #9218
我用的是红米6pro，你用的是什么设备呢，我得找找我们这里有没有，如果还是复现不了可能麻烦你协助我们定位下，还有个问题，假如里面只有一张0616_167.jpg的图片还会不会挂

[2022-07-07 03:34] yangyukun0619 commented on #9218
重新抓取了paddlelite tag2.11的版本，armv8,  在oppo k9 pro 安卓12 内存8g复现了上述问题，shell端测试模型及数据已重新上传，报错log也在文件夹中

链接：https://pan.baidu.com/s/1-kg-zHdAxS3f5I7c01a80Q
提取码：uk18

![企业微信截图_16571644048970](https://user-images.githubusercontent.com/88471148/177685126-0a769807-27c8-4cea-8406-e6a39bdee3fc.png)

[2022-07-07 04:17] personqianduixue commented on #9195
@hong19860320

[2022-07-07 04:18] personqianduixue commented on #9195
@hong19860320 大佬您好，我提的这个相似的issue能否麻烦您解答一下

[2022-07-07 06:52] lxwlaq commented on #9218
收到，我这面还没有复现，我明天编个库发给你，麻烦再测试一下，可以先看下crash的op

[2022-07-07 08:35] dawei03896 opened #9224 "Paddle Lite 现在支持哪些MTK芯片的APU？"
为使您的问题得到快速解决，在建立 Issues 前，请您先通过如下方式搜索是否有相似问题:[历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）Paddle Lite 版本：请提供您的 Paddle Lite 版本号（如v2.10）或 CommitID
  

[2022-07-07 09:13] ZHAOSHICHEN94 opened #9225 "x86 ubuntu 使用mobilenet_v1转换后的模型报错"
程序运行到std::shared_ptr<PaddlePredictor> predictor =CreatePaddlePredictor<MobileConfig>(config);报错

报错信息如下：
W0707 17:08:56.148413 11192 dynamic_loader.cc:121] Can not find library: libmklml_intel.so. The process maybe hang. Please try to add the lib path to LD_LIBRARY_PATH.
F0707 17:08:56.148521 11192 dynamic_loader.cc:180] Check failed: dso_handle != nullptr
*** Check failure stack trace: ***

[2022-07-07 09:28] lijiannan1241 opened #9226 "x2paddle转换问题，无法支持onnx v12以上，tensorflow v2.0.0以上版本的现象"
x2paddle转换问题，无法支持onnx v12以上，tensorflow v2.0.0以上版本的现象
1）无法支持onnx v12以上
Now, onnx2paddle support convert onnx model opset_verison [9],opset_verison of your onnx model is 12, automatically treated as op_set: 9.
2）/usr/local/lib/python3.6/dist-packages/tensorflow/python/autograph/impl/api.py:22: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for

[2022-07-08 01:38] hong19860320 commented on #9224
基本上对带有 APU 的 MTK 芯片都支持，目前 Paddle Lite 支持 MTK APU 有两种方式：
1）一种是 MTK NeuronAdapter （这种需要依赖 MTK 较新的固件支持，需要问 MTK 要，否则会报库找不到的问题）https://www.paddlepaddle.org.cn/lite/develop/demo_guides/mediatek_apu.html
2）另一种是 Android NNAPI https://www.paddlepaddle.org.cn/lite/develop/demo_guides/android_nnapi.html 但对 Android 版本有一定的要求。

我们一般推荐 android nnapi 方式，因为 MTK 对 Android NNAPI 的支持相对完善，特别是对 float32 和 int8 全量化模型均有加速

[2022-07-08 01:48] hong19860320 commented on #9225
运行的时候需要保证系统能够找到 libmklml_intel.so ，可以在我们的 [PaddleLite-generic-demo](https://paddlelite-demo.bj.bcebos.com/devices/generic/PaddleLite-generic-demo.tar.gz) 中的 PaddleLite-generic-demo/libs/PaddleLite/linux/amd64/lib/cpu 中找到，当然你甚至可以基于 PaddleLite-generic-demo 一键运行图像分类示例，例如：

[code]

上述命令来源于 https://www.paddlepaddle.org.cn/lite/develop/demo_guides/huawei_ascend_npu.html

[2022-07-08 02:51] PQ-girl opened #9227 "运行paddle-lite-demo时，top的数值很大，不在1之内"
你好，我能够将自己的模型在demo中使用，但是我训练的模型输入是[1,3,32,32]，图片的输入尺寸比较小，虽然能够调试通，但是top分数有十几甚至二十几，并不在1之内，我想请教一下我该如何修改。还有就是准确率特别低是因为我的尺寸太小了吗?为什么我在电脑上测试的时候准确率高达90%几呢

[2022-07-08 03:04] zhupengyang commented on #9227
你好，请问
- 是在什么硬件平台上运行的呢？
- "电脑上测试" 是不是直接跑的预测模型呢？
- 保存的预测模型是不是正确，比如最后一个算子是不是 softmax 之类一定会让数值结果小于 1 的
- 输入数据是否有正确处理，一般cv类模型的输入需要经过归一化等处理，要和模型训练的处理方式对齐

[2022-07-08 03:30] ZHAOSHICHEN94 commented on #9225
我电脑是amd的cpu，libmklml_intel.so是amd也可以用的吗？

[2022-07-08 05:38] hong19860320 commented on #9225
可以试试看，我们只在intel x86 cpu 验证过

[2022-07-08 07:50] fengyanWang opened #9232 "paddlepaddle训练模型使用paddle lite Python接口预测错误"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题: [历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

建立 issue 时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型转换报错”
- 版本、环境信息：
    1）Paddle Lite 版本：请提供您的 Paddle Lite 版本号（如v2.10）或 Comm

[2022-07-08 08:26] zhupengyang commented on #9232
你好，lite 推理过程是不包括输入图片预处理部分的，请确认输入模型的是预处理后的数据。

[2022-07-08 08:36] fengyanWang commented on #9232
能够确认输入lite的是经过预处理的，因为我把动态图推理中的预处理后的数据序列化到本地，然后从本地读取这个数据输入到lite中推理

[2022-07-08 08:38] fengyanWang commented on #9232
你好，方便加一下联系方式吗？我可以把模型发给你和代码发给你。你帮忙看看，非常感谢啦

[2022-07-08 08:41] zhupengyang commented on #9232
以网盘方式提供下必要信息，包括 "模型"、"输入数据"、"期望的输出数据"。我找相关同学定位下~

[2022-07-08 08:46] qqj1130247885 commented on #9226
你好。

如果方便的话，是否能发送下转换失败的模型到我的邮箱（qiaoqijing@baidu.com）?
之后会对相应问题进行优化。

[2022-07-08 09:35] qqj1130247885 commented on #9226
另外，我们进行一个简单调研，以确定之后X2paddle优化方向。

方便说一下您是学生还是企业用户？
具体业务以及部署场景是什么？
具体模型转到Paddle的需求是什么？

希望收到您的回答。

[2022-07-08 09:45] lijiannan1241 commented on #9226
您好！
  我是phytium公司的开发人员，具体是使用paddlelite框架做推理，但模型转换到paddle的模型有问题。
  我先发模型法你们，有两种格式：onnx_v12 和 tensorflow

其实已经和你们内部人员有较多的交流了，期望继续合作，多谢！

在 2022-07-08 17:35:34，"qqj1130247885" ***@***.***> 写道：

另外，我们进行一个简单调研，以确定之后X2paddle优化方向。

方便说一下您是学生还是企业用户？
具体业务以及部署场景是什么？
具体模型转到Paddle的需求是什么？

希望收到您的回答。

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored

[2022-07-08 09:50] qqj1130247885 commented on #9226
好的。我们这边先看一下。

发自我的iPhone

------------------ 原始邮件 ------------------
发件人: cdljn2011 ***@***.***&gt;
发送时间: 2022年7月8日 17:45
收件人: PaddlePaddle/Paddle-Lite ***@***.***&gt;
抄送: qqj1130247885 ***@***.***&gt;, Assign ***@***.***&gt;
主题: Re: [PaddlePaddle/Paddle-Lite] x2paddle转换问题，无法支持onnx v12以上，tensorflow v2.0.0以上版本的现象 (Issue #9226)

 您好！
   我是phytium公司的开发人员，具体是使用paddlelite框架做推理，但模型转换到paddle的模型有问题。
   我先

[2022-07-08 09:57] fengyanWang commented on #9232
百度网盘：https://pan.baidu.com/s/1765Cf8-_9Qcx-CD1OqnyRQ     提取码：35rc

动态图模型文件，NB模型文件，数据集，训练代码，推理代码都在里面啦！谢谢啦！

[2022-07-08 09:58] fengyanWang commented on #9232
当输入为imgs中的pikle文件时，期望输出：array([-1.1109627 , -0.10855317,  0.12160245], dtype=float32)

[2022-07-08 10:06] lxwlaq commented on #9218
同学可以给我留个你的邮箱吗，我发一个我编译的加了符号表并且加了一些log的库给你，你是否可以重新试一下，然后把log发给我，我去定位下

[2022-07-08 10:47] yangyukun0619 commented on #9218
yangyukun0619@163.com

[2022-07-08 10:48] yangyukun0619 commented on #9218
yangyukun0619@163.com

[2022-07-08 11:53] 2050airobert commented on #9219
hello，any one could help ？

[2022-07-09 13:05] While11 commented on #9195
同学你有啥进展吗

[2022-07-09 14:15] 1190202328 opened #9234 "piconet部署到linux的rk3399上出现问题，core dumped"
错误如下：

[code]

[2022-07-09 14:17] 1190202328 commented on #9234
以下是模型的配置
<img width="747" alt="image" src="https://user-images.githubusercontent.com/81356892/178109649-d59fb82a-4fb2-4912-8e3d-660611469c51.png">
<img width="491" alt="image" src="https://user-images.githubusercontent.com/81356892/178109655-7863a15a-d181-4fd9-a4ab-62ff0c9254f8.png">
<img width="500" alt="image" src="https://user-images.githubusercontent.com/81356892/178109680-fb28b987-e600-4099-9

[2022-07-10 01:35] 1190202328 commented on #9234
部分代码和模型如下：
[fruit_detection.txt](https://github.com/PaddlePaddle/Paddle-Lite/files/9078242/fruit_detection.txt)
[picodet_l_320_coco_lcnet.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/9078243/picodet_l_320_coco_lcnet.zip)

[2022-07-10 03:10] 1190202328 commented on #9234
问题已解决。原来是版本不够新，更换paddle-lite版本为2.11即可！

[2022-07-10 03:10] #9234 closed, assigned to nobody

[2022-07-11 01:22] personqianduixue commented on #9195
没啥进展

[2022-07-11 01:23] personqianduixue commented on #9195
@While11 没啥进展，你有进展可以交流一下

[2022-07-11 01:46] dawei03896 commented on #9224
非常感谢！

[2022-07-11 02:09] zhupengyang commented on #9232
辛苦 @xingjing1 跟进下~

[2022-07-11 07:41] thunder95 commented on #9168
@mjp9527 嗯已解决。 在aistudio上做了踩坑记录， 和裁剪模型的部署， 方便其他同学参考。https://aistudio.baidu.com/aistudio/projectdetail/4245931

[2022-07-11 07:41] #9168 closed, assigned to nobody

[2022-07-11 07:54] totravel opened #9235 "在 Windows 上用 VS 2015 编译 32 位的 Paddle Lite"
- [环境](#env)
- [步骤](#steps)
- [FAQ](#faq)
  - [编译 extern_protobuf 失败](#faq1)
  - [链接 libiomp5md.lib 失败](#faq2)

## 环境 <a href="#user-content-env" id="env">#</a>

- Paddle Lite release/v2.12
- x86_64
- Windows 10 22H2
- Visual Studio 14 2015
- CMake 3.24.0
- Python 3.10.4
- pip 22.2.2

## 步骤 <a href="#user-content-steps" id="steps">#</a>

根据 [文档](https://paddle-lite.readthedocs.io/zh/release-v2.11/

[2022-07-11 09:13] fengyanWang opened #9236 "paddle lite c++ API预测mean和std计算问题？（ARM V8）"
动态图Python推理：
img_data = (img_data - np.array([127.0, 127.0, 127.0])) / 128.0  可以得出正常结果

paddle lite c++ API推理：
使用函数如下：
resizedRGBImage.convertTo(resizedRGBImage, CV_32FC3, 1.0f/255.f);
NHWC3ToNC3HW(reinterpret_cast<const float *>(resizedRGBImage.data), inputData,
                 inputMean_.data(), inputStd_.data(), inputShape[3],inputShape[2]);

根据公式计算，得到：
inputMean_ = {0.498, 0.498 , 0.498}；
inp

[2022-07-11 09:30] shentanyue commented on #9236
mean和std值是在模型训练时，对输入数据集标准归一化时设置的参数。

而你下列这个处理方式是图像中心化，将图片转为[-1,1]的区间，跟使用mean和std是不同的。
`img_data = (img_data - np.array([127.0, 127.0, 127.0])) / 128.0`

[2022-07-11 09:36] fengyanWang commented on #9236
谢谢你的回复，我训练的时候数据预处理就是这么做的，即：img_data = (img_data - np.array([127.0, 127.0, 127.0])) / 128.0，想问下这么处理的话，推理的时候mean和std应该如何设置呢？

下面是具体的训练中数据预处理代码（mean=np.array([127.0, 127.0, 127.0]), std=128.0）：
image = cv2.resize(image, input_dim, interpolation=cv2.INTER_AREA)
image -= mean
image = image / std
image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)

[2022-07-11 09:40] shentanyue commented on #9236
有两种方式你可以试下
第一种：
mean和std分别设置为0和1，
`resizedRGBImage.convertTo(resizedRGBImage, CV_32FC3, 1.0f/255.f);`
这行代码改为
`resizedRGBImage.convertTo(resizedRGBImage, CV_32FC3, 1.0f/128.f, -1);`

第二种：
改为
`resizedRGBImage.convertTo(resizedRGBImage, CV_32FC3);`
mean改为127.0，std改为128.0

[2022-07-11 09:59] fengyanWang commented on #9236
好，谢谢啦！

[2022-07-11 09:59] #9236 closed, assigned to shentanyue

[2022-07-11 11:28] shentanyue commented on #9235
@DannyIsFunny 帮忙看下

[2022-07-12 05:38] 2050airobert opened #9237 "vim3 android NPU error！"
Hi，
- paddle lite 版本develop
- HOST android vim3 NPU
- 执行模型arm上跑通，但是NPU上报错，具体log见附件
[log_npu0712.log](https://github.com/PaddlePaddle/Paddle-Lite/files/9089800/log_npu0712.log)

麻烦帮忙看下是哪里出错了？ 程序从正常运行arm到切换到NPU只改了config配置配置了npu的lib. 多谢

BR

[2022-07-12 05:46] hong19860320 commented on #9237
@yingshengBD yingsheng 看下这个问题吧

[2022-07-12 10:13] hasaikeyQAQ opened #9238 "使用opt转换工具转换ssd模型个别参数无法转换"
- 版本、环境信息：
    1）Paddle Lite 版本：尝试过2.10,2.10rc,2.11,2.11rc,2.9
    2）Paddle 版本：2.1.2
    3）Host 环境：aistudio
- 模型信息
    1）模型名称：ssd_mobilev3_large/small
    2）模型链接:
                链接：https://pan.baidu.com/s/1cpWOmiMJZWmWuao99QXc8g?pwd=1111
                提取码：1111
- 复现信息：我用paddledetection的ssd模型训练
[code]
然后用export_model导出模型
[code]
接下来使用如下命令生成nb后缀模型
[code]
- 问题描述：报错如下
[code]

![image](https://user-im

[2022-07-12 10:15] hasaikeyQAQ opened #9239 "使用opt工具转换模型时不支持dtype6"
- 版本、环境信息：
    1）Paddle Lite 版本：尝试过2.10,2.10rc,2.11,2.11rc,2.9
    2）Paddle 版本：2.1.2
    3）Host 环境：aistudio
- 模型信息
    1）模型名称：ssd_mobilev3_large/small
    2）模型链接:
                链接：https://pan.baidu.com/s/1cpWOmiMJZWmWuao99QXc8g?pwd=1111
                提取码：1111
- 复现信息：我用paddledetection的ssd模型训练
[code]
然后用export_model导出模型
[code]
接下来使用如下命令生成nb后缀模型
[code]
- 问题描述：报错如下
[code]

![image](https://user-im

[2022-07-12 10:45] yangguangda-hub opened #9240 "经过静态量化后性能却由150ms变为250ms"
- 版本、环境信息：
    1）Paddle Lite 版本：v2.11
    2）Host 环境：Ubuntu 18.04
-问题信息如下：
[apu_question.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/9092095/apu_question.zip)
- 模型信息
    1）模型名称:yolo
-描述：
使用Android nnapi方式，使用静态量化以后性能下降

[2022-07-12 12:04] hyouyan opened #9241 "PP-ShiTU 的android demo 中替换自己转换的模型跑不起来"
直接下载下来的 模型文件：
1： wget https://paddle-imagenet-models-name.bj.bcebos.com/dygraph/rec/models/inference/picodet_PPLCNet_x2_5_mainbody_lite_v1.0_infer.tar
2：通过paddle-lite转化（paddle_lite_opt --model_file=picodet_PPLCNet_x2_5_mainbody_lite_v1.0_infer/inference.pdmodel --param_file=picodet_PPLCNet_x2_5_mainbody_lite_v1.0_infer/inference.pdiparams --valid_targets=arm --optimize_out=model_picodet_opt --quan

[2022-07-13 03:10] xingjing1 commented on #9232
收到，正在跟进中，请稍候

[2022-07-13 04:11] hong19860320 commented on #9240
是否能提供量化前和量化后的原始paddle模型？我们在 MTK 手机上验证下。

[2022-07-13 07:11] yangguangda-hub commented on #9240
[inference_model.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/9099802/inference_model.zip)
压缩包中含有经过x2paddle转换后的模型(三个model.*文件)、一个经过静态量化和动态量化的模型static_apu_int8.nb

[2022-07-13 07:34] LeeLear opened #9244 "windows和linux下 python -m pip install paddlelite==2.10-rc 在百度，清华，阿里等国内镜像上面都找不到对应的版本，是不是下架了"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题:[历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

建立 issue 时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac 编译错误”
- 版本、环境信息：
    1）Paddle Lite 版本：请提供您的 Paddle Lite 版本号（如v2.10）或

[2022-07-13 08:51] hong19860320 commented on #9240
我看压缩包内只有fp32的原始paddle模型，是否能额外提供静态离线后量化的paddle模型？（不是paddlelite的nb模型）

[2022-07-13 08:52] hong19860320 commented on #9240
@yingshengBD 关注下

[2022-07-13 09:22] yangguangda-hub commented on #9240
[paddle_static.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/9100808/paddle_static.zip)
静态量化脚本以及静态量化后的模型@[hong19860320](https://github.com/hong19860320)@[yingshengBD](https://github.com/yingshengBD)

[2022-07-13 09:29] tomato-wl-git opened #9245 "自己训练的车牌检测模型,转换成NB模型之后效果变差"
自己训练的车牌检测模型,导出infer模型之后在aistuio上面预测正常,但是转换为nb模型之后效果变得很差

- 版本、环境信息：
    1）Paddle Lite 版本：2.10
    2）Host 环境：infer模型的预测在aistudio上进行,nb模型在android_demo上面进行

模型转换代码如下
[code]
- 这是模型包,包含infer模型、nb模型和一张用来测试的图片(该图片使用infer模型在aistudio上能够正常检测)
链接：https://pan.baidu.com/s/1lGJSVER-1E4N4GtlzSf2ig
提取码：1234

[2022-07-13 14:20] AIrunoob opened #9246 "paddlelite文档中华为麒麟 NPU 部署示例问题"
版本：paddlelite  2.9
- 文档链接：
https://paddle-lite.readthedocs.io/zh/develop/demo_guides/huawei_kirin_npu.html

上面的示例是没有更新吗？自定义的子图分割文件在valid_targets=intel_fpga,arm时能否使用？
还有其他更清楚一点的参考吗？

[2022-07-13 15:50] hong19860320 commented on #9246
intel fpga 是基于算子方式适配的，类似于ARM  CPU，没有走 NNAdapter 子图方式，所以不支持自定义子图分割配置文件的。

[2022-07-13 15:52] hong19860320 commented on #9240
好的，我们明天看下能不能复现

[2022-07-13 16:00] AIrunoob commented on #9246
okok，感谢回复，辛苦

[2022-07-14 01:15] yangguangda-hub commented on #9240
paddlepaddle 2.2.0
paddleslim 2.0.0
@hong19860320 有没有可能微信或者其他方式交流？这里沟通效率太低了。

[2022-07-14 02:07] hong19860320 commented on #9240
github 主页有微信公众号，然后让她拉你进微信群。

[2022-07-14 02:34] ZhuGeRoastedFish commented on #9244
python3.8以下才可以通过pip install直接安装paddlelite，3.8及以上需要自己编译paddlelite_opt
参考https://paddle-lite.readthedocs.io/zh/latest/user_guides/model_optimize_tool.html

[2022-07-14 02:35] yangguangda-hub commented on #9240
你提供下微信号，我直接拉你进群

[2022-07-14 03:31] yangguangda-hub commented on #9240
yangda737003898

[2022-07-14 07:42] xingjing1 commented on #9232
已经复现错误，正在解决中

[2022-07-14 08:23] qqj1130247885 commented on #9226
你好。

关于yolov5x-v12.onnx这个模型的问题已经解决了，你可以按照以下步骤进行转换：
1. 将模型使用onnxsim转换为模型精简版本
2. 拉取最新的X2Paddle手动安装
3. 对精简版本模型进行相应的转换

[2022-07-14 10:53] Dandelion111 opened #9252 "大佬们啥时候支持一下x86 paddlelite matmulv2算子？"
把模型转换到x86 paddlelite模型时，matmul_v2算子不支持，大佬可以把这个算子合进去吗？

[2022-07-14 11:01] 2050airobert opened #9253 "Error with android vim3 after qat+dis 全量化！"
Hi，
    1）Paddle Lite 版本：release/v2.11
    2）android vim3   galcore 6.4.3
- 模型信息
    1）tinypose128x96
    2）[output-from_qat+dis.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/9111174/output-from_qat%2Bdis.zip)
./image_classification_demo ./assets/models/xc/    1 ./assets/labels/synset_words.txt  ./assets/images/tinypose_input.raw  "verisilicon_timvx" NULL NULL NULL NULL
   出错log 如下
模型A：[l

[2022-07-14 11:19] #9218 closed, assigned to nobody

[2022-07-14 13:43] hong19860320 commented on #9253
从错误上看，应该是某个算子缺少量化信息，一般缺失了 out_threshold 属性

[2022-07-15 04:38] zhjxc opened #9255 "paddleX 实例分割样例工程---小度熊分拣，paddlelite opt模型转换错误"
- 版本、环境信息：
    1）Paddle Lite 版本：2.10rc0
    2）Host 环境：windows 10，padddlePaddle版本：2.3.1/2.2.1，PaddleX 版本：2.1.0
- 模型信息
    1）模型名称  Paddle X 实例分割样例工程---小度熊分拣

- 复现信息：
- ``
- `from paddlelite.lite import *
opt=Opt()
opt.set_model_dir("./inference_model")
opt.set_valid_places("arm")
opt.set_model_type("naive_buffer")
opt.set_optimize_out("mobilenetv1_opt")
opt.run()`
- 问题描述：
- `PS C:\Users\admin\paddle

[2022-07-15 05:02] a-strong-python opened #9256 "当我将训练好的model.nb替换了官方demo里的后，出现了以下问题，似乎是让我在树莓派上重新编译一次Paddlelite，请问这种情况如何解决？"
![image](https://user-images.githubusercontent.com/65645246/179154014-1f563618-f617-42f7-be11-358a7a1d2c1f.png)

[2022-07-15 06:57] a-strong-python commented on #9244
如果是arm环境就只能本地编译paddlelite，如果是X86就当我没说，arm环境部署我已经折腾两周多了

[2022-07-15 08:41] qqj1130247885 commented on #9226
你好。

请问附件中的tensorflow版本的文件是你在yolov5s-v12.ONNX转Paddle失败后，
先转成tensorflow版本，再尝试转换paddle版本的中间文件吗？

[2022-07-15 12:58] hasaikeyQAQ commented on #9256
找一个有with_extra=on的 或者是自己从源码编译，并手动设置with_extra=on （这是我的issue: https://github.com/PaddlePaddle/Paddle-Lite/issues/9239）

[2022-07-16 06:23] hasaikeyQAQ commented on #5099
请问问题解决了吗 我也有段错误
![image](https://user-images.githubusercontent.com/75057379/179342954-5e89117a-1e7f-4fc2-9ac3-ae29a08e0ea3.png)

[2022-07-16 06:57] hasaikeyQAQ opened #9258 "预测predictor.run()出现段错误Segmentation fault (core dumped)"
- 标题：paddlelite推理paddledetection的ssdlite模型时出现段错误
- 版本、预测库信息：
    1）Paddle Lite 版本：2.11
    2）Host 环境：aistudio
    3）运行设备环境：V100 32GB
    4）paddlepaddle版本：2.2.2 （GPU）
    5）预测后端信息：Segmentation fault (core dumped)
    6）模型：paddledetectipn上的ssdlite_mobilenet_v3_small_320_coco 使用voc数据集，模型导出与转换为nb文件没有报错和警告

链接：https://pan.baidu.com/s/13j8_Yb963q8Ny9mc6SvGmQ?pwd=1111
提取码：1111

- 预测信息
    1）预测 API：Python

[2022-07-18 02:27] hong19860320 commented on #9240
我们在红米10X（MT6875 Dimensity 820 5G）上复现了类似结果：
|模型 | Lite CPU 性能(ms)| Lite+NNAPI 性能(ms)|
|---|---|---|
|float|176.267 |40.435|
|int8|94.307 |55.853|

log 文件[log.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/9129156/log.zip)

从结果上看，在 NNAPI 在 float 和 int8 模型上比 CPU 性能好，但 NNAPI 在 float 和 int8 的性能出现不符合预期的效果，理论上 int8 的性能要比 float 性能好，目前猜测出现该问题的原因有几点：1）MTK 的 NNAPI HAL 在遇到 float32 模型时，可能会放在 GPU 上运行，而

[2022-07-18 02:30] xingjing1 commented on #9258
正在定位中，请稍等

[2022-07-18 03:42] fengyanWang commented on #9232
你好，请问解决好了吗？

[2022-07-18 04:48] Dekadenc opened #9260 "树莓派4b上安装paddlite v2.11版本，版本号显示不正常"
树莓派系统信息如下：
![image](https://user-images.githubusercontent.com/102035987/179446445-47678190-3b50-45c1-9a14-59da30759c76.png)
![image](https://user-images.githubusercontent.com/102035987/179446562-a5583c7b-21e5-42f4-824c-86f35ec3312d.png)
编译命令为：
./lite/tools/build_linux.sh \
--arch=armv8 \
--with_python=ON \
--with_extra=ON \
--with_cv=ON \
--python_version=3.9
编译结果：
![image](https://user-images.git

[2022-07-18 05:54] lijiannan1241 commented on #9226
是的，转成tensorflow版本的中间文件

[2022-07-18 06:03] lijiannan1241 commented on #9226
将模型使用onnxsim转换为模型精简版本，请问这个怎么操作才行

[2022-07-18 06:05] qqj1130247885 commented on #9226
可以参考一下这个博客的操作过程：https://blog.csdn.net/weixin_34910922/article/details/113956622

[2022-07-18 06:45] mjp9527 commented on #9252
https://github.com/PaddlePaddle/Paddle-Lite/commit/0adb29d4482817c9da352d724f1a2e12a5af5d15  已合入

[2022-07-18 06:48] mjp9527 commented on #9260
表示commit
<img width="873" alt="image" src="https://user-images.githubusercontent.com/54735487/179457919-795da94f-5b82-413d-922e-70e14bcff160.png">

[2022-07-18 06:52] mjp9527 commented on #9239
检查一下模型参数里是否有double，lite推理不支持这个数据类型

[2022-07-18 06:56] liyancas commented on #9241
麻烦使用addr2line看一下崩溃的代码行，命令使用方式参考：https://blog.csdn.net/Xiongjiayo/article/details/86514623

[2022-07-18 07:04] liyancas commented on #9238
麻烦确认一下模型的部分参数类型是否正确，从日志来看desc type(6)对应的数据类型是FP64

[2022-07-18 07:10] yangguangda-hub commented on #9240
按照这个逻辑，NNAPI的接口是走的GPU,不会走APU吗

[2022-07-18 07:11] Dekadenc commented on #9260
没听懂，和这个问什么关联吗

[2022-07-18 07:23] sprouteer commented on #9256
楼上正解，这是因为您的模型中有一些op需要开启with_extra=on，可以在 https://github.com/PaddlePaddle/Paddle-Lite/releases 下载with_extra的库
<img width="430" alt="image" src="https://user-images.githubusercontent.com/89541335/179462350-13c17edc-b3d7-4dfb-80a4-4475fff5d86c.png">

[2022-07-18 07:27] DannyIsFunny commented on #9244
您好， 我们是发布了的。
支持的python版本包括2.7\3.5\3.6\3.7\3.8\3.9

[2022-07-18 07:28] sprouteer commented on #9255
您好，可以提供下模型吗，或者提供下模型链接

[2022-07-18 07:28] DannyIsFunny commented on #9244
不能直接通过pip安装，可以在发布页面上直接下载安装包：
<img width="631" alt="52ff7d2f9d443912824a9e202004cef5" src="https://user-images.githubusercontent.com/45189361/179463115-0cc67ca8-bb90-4eff-9914-109a3e950e31.png">

https://pypi.org/project/paddlelite/2.10rc0/#files

[2022-07-18 07:38] DannyIsFunny commented on #9245
您好，请问使用paddlelite部署的设备是什么呢？
你这里将模型转化为arm cpu的模型，是实际部署在了 armlinux的开发板上了吗。ai studio 一般是基于服务器上gpu实现部署的， arm cpu 相较于 服务器 上 gpu上计算性能就是差很多。

如果想使用paddlelite达到更优的部署性能，建议在arm 开发环境上使用opencl gpu加速

[2022-07-18 08:36] xingjing1 commented on #9232
![8221c7ee1b8cea4374e8650bb13a7525](https://user-images.githubusercontent.com/33440396/179466277-3a97f756-d70f-43a3-8499-1b8ba3a7f819.jpg)
![d39355f1ed08ba7a19927e157db3d817](https://user-images.githubusercontent.com/33440396/179466297-1e894ef9-7123-4a34-a844-e52272fa4842.jpg)

您好，之前复现时候我们这边操作输入数据有点问题。目前最新的结论是lite和paddle fluid结果一致（develop和2.11），如图。请您再检查下前后处理是否对齐。

[2022-07-18 08:49] lijiannan1241 commented on #9226
我按照博客安装onnxsim 后运行，直接就报错了，是还需要按其他什么东西，或者配置什么参数吗
报错信息：
Traceback (most recent call last):
  File "/home/ljn/code/models/simplify.py", line 1, in <module>
    from onnxsim import simplify
  File "/home/ljn/code/models/onnxsim.py", line 1, in <module>
    from onnxsim import simplify
ImportError: cannot import name 'simplify' from partially initialized module 'onnxsim' (most likely due to a circular

[2022-07-18 09:25] hong19860320 commented on #9240
我理解 APU 是 CPU+GPU+DSP 的统称，模型具体跑在哪个运算单元上，得问问 MTK 的同学。

[2022-07-18 10:40] zhjxc commented on #9255
http://www.fishing-map.com/inference_model.zip

[2022-07-18 11:21] lijiannan1241 commented on #9226
您好！
yolov5s.onnx模型我是通过转换为V10后才成功的。但是模型有部分算子在nna硬件上不支持，我们就将其裁剪为两个部分，
这个是后面部分的算子，想让它运行在opencl设备上，使用x2paddle的方法装换，但出现异常了。
转换命令如下：

x2paddle --framework=onnx --model=yolov5s_last_half.onnx --save_dir=yolov5s_last_half_opencl --to_lite=True --lite_valid_places=opencl,arm --lite_model_type=naive_buffer

初步分析，x2paddle 的节点转换非常混乱，导致错误。
转换报错日志：
INFO:root:Model optimizing ...
onnx_layernorm_fuse_pass done!
o

[2022-07-18 13:30] hasaikeyQAQ commented on #9258
我在使用develop版本时不会出现段错误，但对于paddledetection的ssdlite模型 会出现预测目标位置在图片分辨率以外（-6这样） 以及预测位置结果中有inf

[2022-07-18 13:38] hasaikeyQAQ commented on #9238
模型的输入是[?,3,320,320]。官方的paddledetection算法默认参数应该都是float32。
 如果我在导出模型时用下面的语句
`%cd /home/aistudio/
!python PaddleDetection/tools/export_model.py -c PaddleDetection/configs/yolov3/yolov3_darknet53_270e_voc.yml \
        --output_dir=inference_model \
        -o weights=output/yolov3_darknet53_270e_voc/best_model \
        TestReader.inputs_def.image_shape=[3，320，320]`
即强制重设一下他的输入 ，导出模型不会出现nonetype ，并且在

[2022-07-18 13:54] hasaikeyQAQ commented on #9239
目前是导出模型有些问题，使用下面的paddledetection的导出模型指令
`%cd /home/aistudio/
!python PaddleDetection/tools/export_model.py -c PaddleDetection/configs/yolov3/yolov3_darknet53_270e_voc.yml \
        --output_dir=inference_model \
        -o weights=output/yolov3_darknet53_270e_voc/best_model \
        TestReader.inputs_def.image_shape=[3,608,608]`
即指定输入 ，就不会出现上述问题。

[2022-07-18 13:57] hasaikeyQAQ commented on #9244
arm架构的 只能从源码编译，最好使用develop版本。我尝试过的其中2.6和develop都成功编译。

[2022-07-18 13:59] hasaikeyQAQ commented on #9245
数据处理做了吗

[2022-07-18 14:22] hasaikeyQAQ opened #9262 "paddlelite推理ssdlite模型时结果有inf"
- 标题：paddlelite推理paddledetection的ssdlite模型时结果有inf，负数，大于图片分辨率的值
- 版本、预测库信息：
    1）Paddle Lite 版本：develop
    2）Host 环境：jetson nano arm架构 ubuntu18.04
    3）运行设备环境：V100 32GB
    4）预测后端信息：Segmentation fault (core dumped)
    5）模型：paddledetectipn上的ssdlite_ghost（用其他的ssdlite也会有这个问题） 使用voc数据集（在识别类别的基础上还添加了一个背景类所以class_nums = 28+1,这里应该没有问题），模型导出与转换为nb文件没有报错和警告

- 预测信息
    1）预测 API：Python API
    2）预测选项信息：多

[2022-07-18 14:24] hasaikeyQAQ commented on #9258
麻烦百度开发人员看一下我最新的issue呢：https://github.com/PaddlePaddle/Paddle-Lite/issues/9262

[2022-07-18 14:24] hasaikeyQAQ commented on #9239
麻烦百度开发人员看一下我最新的issue呢：https://github.com/PaddlePaddle/Paddle-Lite/issues/9262

[2022-07-18 14:25] hasaikeyQAQ commented on #9238
麻烦百度开发人员看一下我最新的issue呢：https://github.com/PaddlePaddle/Paddle-Lite/issues/9262

[2022-07-19 03:05] xingjing1 commented on #9232
@fengyanWang 您好，请问您这边还有问题么，方便加您联系方式了解下详情吗

[2022-07-19 04:52] hybry opened #9263 "conv1d卷积层在rp3399开发板上转换成lite支持模型报错Segmentation fault (core dumped)"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题: [历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

建立 issue 时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：conv1d卷积层转换成lite支持模型报错Segmentation fault (core dumped)
- 版本、环境信息：
    1）Paddle Lite 版本：v2.10

[2022-07-19 05:18] qqj1130247885 commented on #9226
您好，在我们这边测试yolov5-v12使用onnxsim转换模型是很顺利的。
具体指令如下：
pip install onnx-simplifier
 python -m onnxsim rvm_mobilenetv3_720x1280.onnx rvm_mobilenetv3_720x1280_sim.onnx

需要的话我们可以把这个转换之后的模型发给您。

[2022-07-19 05:57] Dandelion111 commented on #9252
谢谢

[2022-07-19 05:57] #9252 closed, assigned to weishengying

[2022-07-19 06:22] fengyanWang commented on #9232
你这边lite python推理的代码是我百度网盘中的那个代码吗？如果有修改方便将推理部分代码发出吗？可以加QQ（2314963088）

[2022-07-19 06:28] hybry commented on #9263
关于初次的分析是基于梳理模型运行代码的结果，思路存在偏差，正在梳理模型转换的代码。

[2022-07-19 11:12] hybry commented on #9263
[1  7/19 19:10:36. 50 ...bry/Paddle-Lite/lite/core/device_info.cc:1260 Setup] ARM multiprocessors name:
[1  7/19 19:10:36. 50 ...bry/Paddle-Lite/lite/core/device_info.cc:1261 Setup] ARM multiprocessors number: 6
[1  7/19 19:10:36. 50 ...bry/Paddle-Lite/lite/core/device_info.cc:1263 Setup] ARM multiprocessors ID: 0, max freq: 1416, min freq: 1416, cluster ID: 1, CPU ARCH: A53
[1  7/19 19:10:36. 50

[2022-07-19 19:08] SunYF-0729 commented on #9070
你好这个问题解决了吗，我遇到了一模一样的问题，求解答

[2022-07-19 19:08] SunYF-0729 commented on #9070
你好这个问题解决了吗，我遇到了一模一样的问题，求解答 @leslie18890

[2022-07-19 19:57] SunYF-0729 opened #9266 "ssd_mobilenet_v1的使用联合量化剪裁策略后导出模型在opt上转换出错：不支持'moving_average_abs_max_scale'"
单独执行量化策略导出的模型没有图中的'moving_average_abs_max_scale'算子，只有前面加了fake_*前缀的量化算子，可以被opt转换。但是执行量化剪裁联合策略，导出模型后发现多了'moving_average_abs_max_scale'，而且不能被opt工具转换，我看了之前发布的问题也没有得到解答，求解答！！！
目前的版本信息：
![image](https://user-images.githubusercontent.com/109390344/179837249-ff32b064-3b72-4114-988a-886786f21c7a.png)
错误提示：
Error: This model is not supported, because 1 ops are not supported on 'arm,intel_fpga'. These unsupp

[2022-07-19 20:08] SunYF-0729 commented on #9036
https://github.com/PaddlePaddle/Paddle-Lite/issues/9266#issue-1309977645 @hong19860320 麻烦您帮我看下这个问题，跟这个差不多

[2022-07-19 20:10] SunYF-0729 commented on #7738
https://github.com/PaddlePaddle/Paddle-Lite/issues/9266#issue-1309977645 @yghstill 您好，我这个也是要develop版本的paddle来export_model吗？我是只有量化的话没问题，量化剪裁联合就不行了

[2022-07-19 20:16] SunYF-0729 commented on #7738
这个问题是只能用develop版本的paddle来export_model吗，因为我也遇到这个问题，大同小异https://github.com/PaddlePaddle/Paddle-Lite/issues/9266#issue-1309977645麻烦您看下，还有就是我在BML codelab上做的，现在是paddle2.2.2，我用pip install paddlepaddle-gpu=develop没办法下develop版本的

[2022-07-19 20:17] SunYF-0729 commented on #7738
这个问题是只能用develop版本的paddle来export_model吗，因为我也遇到这个问题，大同小异https://github.com/PaddlePaddle/Paddle-Lite/issues/9266#issue-1309977645%E9%BA%BB%E7%83%A6%E6%82%A8%E7%9C%8B%E4%B8%8B%EF%BC%8C%E8%BF%98%E6%9C%89%E5%B0%B1%E6%98%AF%E6%88%91%E5%9C%A8   BML codelab上做的，现在是paddle2.2.2，我用pip install paddlepaddle-gpu=develop没办法下develop版本的 @wanghaoshuang

[2022-07-20 01:57] hong19860320 commented on #9263
麻烦提供下原始的paddle 预测模型

[2022-07-20 02:17] zhupengyang commented on #9266
辛苦 @wanghaoshuang 看下导出模型中错误包含 moving_average_abs_max_scale 的问题~

[2022-07-20 02:20] yghstill commented on #9266
@SunYF-0729 你导出模型的时候不能直接使用paddle.jit.save，需要使用quanter.save_quantized_model接口导出模型

[2022-07-20 02:37] hybry commented on #9263
class lite_test(nn.Layer):
def init(
self,
in_channels: int,
out_channels: int,
dilation: int=1,
stride: int=1,
bias: bool=True, ):
super(lite_test, self).init()
self.conv = nn.Conv1D(
in_channels,
out_channels,
kernel_size=1,
padding=0,
dilation=dilation,
stride=stride,
groups=1,
bias_attr=bias, )

def forward(self, inputs: paddle.Tensor):
outputs = self.conv(inputs)
return outputs

上述是paddle模型，只

[2022-07-20 04:49] QShiX opened #9269 "Update clang-format version for pre-commit check"
Paddle Lite 版本：develop and others
pre-commit requires a clang-format version of 3.8, which is relatively old. It has been dropped from newer OS (such as after ubuntu 18.04). It would be great to keep the version requirement up to date. Thank you.

[2022-07-20 05:38] zhupengyang commented on #9269
建议使用推荐的 [docker 环境](https://paddle-lite.readthedocs.io/zh/latest/source_compile/docker_env.html)

[2022-07-20 05:57] hong19860320 commented on #9240
通过在设备端添加如下命令开启 APU profiling 功能：

`
$ setprop debug.nn.profiler.supported 1
$ setprop debug.nn.partitionext.type OPERATION
`

fp32模型和int8 模型可以分别得到如下的 log：

fp32

`
07-20 01:56:39.726 21105 21105 I NeuroEaraMgr: [notifyExecutionEnd] step0 @UNKNOWN, execTime:736, minExecTime:782 (MTag_514693535616)
07-20 01:56:39.726 21105 21105 I NeuroEaraMgr: [notifyExecutionEnd] step1 @MDLA, execTime:3558, minExe

[2022-07-20 06:04] 2050airobert commented on #9253
so could you help me with this problem of pplite ?

[2022-07-20 06:24] hong19860320 commented on #9263
你把这个模型导出来，然后上传上来

[2022-07-20 06:28] QShiX commented on #9269
docker并不能满足所有需求,目前版本也很老了(Ubuntu 16.04). 而且paddle已经官方支持CUDA11.6, 他已经不支持ubuntu16.04了. 这个clang-format版本已经明显outdated. 还是希望能更新下. 谢谢.

[2022-07-20 06:30] SunYF-0729 commented on #9266
就是用quanter.save_quantized_model替换ppdet/tools/export_model吗，那这个接口在哪

[2022-07-20 06:51] SunYF-0729 commented on #9266
paddle2.2.2
paddledet develop
paddleslim develop
用det/tools/export_model导出模型还是不行

[2022-07-20 09:40] hybry commented on #9263
class DSDilatedConv1d(nn.Layer):
    def __init__(
            self,
            in_channels: int,
            out_channels: int,
            kernel_size: int,
            dilation: int=1,
            stride: int=1,
            bias: bool=True, ):
        super(DSDilatedConv1d, self).__init__()
        self.receptive_fields = dilation * (kernel_size - 1)
        self.conv = nn.Conv1D(

[2022-07-20 22:05] #9239 closed, assigned to liyancas

[2022-07-20 22:13] hasaikeyQAQ commented on #9240
大佬们，看看我的报错好不好。目前没有受让人呢QAQ。https://github.com/PaddlePaddle/Paddle-Lite/issues/9262

[2022-07-21 03:32] yingshengBD commented on #9262
对比9258和9262。所以是seg fault，还是计算结果不对呢

[2022-07-21 03:33] yingshengBD commented on #9240
还是你催得花哨doge，我在那边回复

[2022-07-21 03:41] yingshengBD commented on #9262
如果直接用voc训练好的模型，来推理实际业务图片，当然会有差异。
需要用预训练模型基于你实际业务数据去训练

[2022-07-21 03:42] tomfent opened #9271 "import paddlelite.lite 失败"
- 版本、环境信息：
    1）Paddle Lite 版本：Release V2.11
    2）Host 环境：Windows10
- 模型信息
    1）模型名称：非 combined 形式mobilenet_v1
    2）模型链接：
- 复现信息：
1.已经通过paddlelit源码编译。
2.安装编译好的paddlelite，python -m pip install paddlelite- * .whl
3.使用下面python脚本转换模型文件为.nb格式
import paddlelite.lite as lite

a=lite.Opt()
#非 combined 形式
a.set_model_dir("D:\\SDK\\Paddle-Lite\\build.lite.x86\\inference_lite_lib\\demo\\cxx\\mobilenetv1_

[2022-07-21 05:28] mjp9527 commented on #9260
意思是你用的PaddleLite是用这个commit编译的，版本信息显示的就是最新的commit号

[2022-07-21 09:24] tomato-wl-git commented on #9245
部署的设备是Android

[2022-07-21 09:24] tomato-wl-git commented on #9245
这边使用的是PaddleOCR中的android_demo

[2022-07-22 02:28] tomfent commented on #9271
暂时决定在linux系统中执行opt优化模型

[2022-07-22 07:50] fengyanWang commented on #9232
麻烦回复一下？

[2022-07-22 11:31] hasaikeyQAQ commented on #9262
两个issue对应环境不同，如果用2.11及之前的paddlelite 就会有seg fault 但如果用develop版本 可以识别但会有inf结果

[2022-07-22 11:44] hasaikeyQAQ commented on #9262
数据集和训练过程都没问题 模型先转换成paddleinference支持的pdiparams结构 然后opt转换成nb后缀的模型

[2022-07-22 11:46] hasaikeyQAQ commented on #9262
这个问题困扰我好久了 ，如果有任何需要提供的信息请尽管联系我。如果能够帮助我解决这个问题，我不胜感激

[2022-07-23 03:54] PQ-girl commented on #9227
你好，我在手机端运行的；
电脑上测试就是验证集的准确率达到90%几；
我debug时输出的值都是小于1的，不过有正有负；
预处理方式一致，均值和方差和训练时一致；
但是输出的概率还是不小于1，我该如何解决呢？

[2022-07-25 03:49] hong19860320 commented on #9263
已复现该问题，目前 lite pass 不兼容 conv2d 算子 kernel size 为 [1,5] 的情况，日志如下 [log.txt](https://github.com/PaddlePaddle/Paddle-Lite/files/9177877/log.txt)

麻烦 @xingjing1 帮忙确认下 ARM  CPU 对 conv2d 1维情况的支持程度哈~
<img width="1015" alt="image" src="https://user-images.githubusercontent.com/9973393/180695097-e0a4fefa-2566-4d36-b57f-98b4c4b6f5a3.png">

[2022-07-25 07:19] hong19860320 commented on #9269
可以尝试以下方式安装 clang-format 3.8

[code]

[2022-07-25 08:12] yghstill commented on #9266
请按照以下方式，这样导出模型：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/slim#%E5%8A%A8%E8%BD%AC%E9%9D%99%E5%AF%BC%E5%87%BA%E6%A8%A1%E5%9E%8B

[2022-07-25 08:46] hybry commented on #9263
目前从我这边的日志来看，在执行sparse_conv_detect_pass.cc文件中的ComputeSparseZero函数时，weight->data<T>()返回一个空指针，导致操作到空指针出现问题；

疑问：
1、在模型转换阶段，是否有涉及到操作内存的测试，而且tensor的参数存在不确定性？
2、从代码的梳理来看，我暂时没有找到内存分配的地方，进行pass前，内存在哪里分配？

[2022-07-25 09:08] QShiX commented on #9269
谢谢, 但是还是会有dependence问题，clang-format-3.8 : Depends: libllvm3.8，可能llvm3.8也还会有别的dependence问题。如果不希望影响当前系统，是不是用个推荐的docker image来commit是最直接的做法了？谢谢。

[2022-07-25 11:21] yingshengBD commented on #9262
您有试过训练出来的模型跑paddle inference吗？我们需要确认 训练出的模型本身精度是否可用。

[2022-07-26 02:17] xingjing1 commented on #9263
收到，开发人员正在跟进哈

[2022-07-26 05:45] 2050airobert commented on #9253
so anyone could help?

[2022-07-26 07:59] tomfent commented on #5053
Demo自带的模型在哪呢？

[2022-07-26 07:59] tomfent commented on #5053
Demo自带的模型在哪呢？

[2022-07-26 12:37] fpjnice opened #9284 "如何获取paddle-lite导出的8bit量化神经网络的nb模型卷积核的输出scale因子？"
我在利用paddle-lite对量化后的模型的卷积算子构建子图时，由于某些卷积核的输出scale因子无法使用netron看到，导致这些卷积核无法正确融入子图。所以想问一下有没有什么办法看到如图量化卷积核的输出scale因子？
![image](https://user-images.githubusercontent.com/56435227/181006907-4b1e7070-cc50-43b2-94e0-ef6a0bc9c6e6.png)
这些已经融合了的卷积核都可以直接用netron看到输出scale因子
![image](https://user-images.githubusercontent.com/56435227/181007453-6cece0a9-874f-4964-9440-afeaf5d9c86a.png)

非常感谢您提交关于飞桨文档的 Issue，我们会认真听

[2022-07-26 12:38] fpjnice commented on #9284
以及，paddlelite中的优化pass对应的头文件是否有相关的说明文档可以解释一下若干函数和变量的含义？

[2022-07-26 13:09] MrFaith2001 opened #9286 "目标检测模型输出结果如何用Python解析"
我在树莓派4B上部署了一个用PaddleDetection训练的目标检测模型。
训练时模型配置文件选用pp-yolo+mobilenetv3_small, 最终在树莓派里用Python+paddlelite的方式部署, 运行能够成功, 但是输出的结果是一系列六元组, 不知道该如何利用这些信息在图片中画框, 希望得到画框的具体坐标.
Paddlelite == 2.11
PaddleDetection == develop
具体输出如下：
[[0.         0.07142854 0.11334497 0.7792644  0.         0.        ]
 [0.         0.06879957 0.53201455 0.10974024 0.         0.        ]
 [0.         0.0354831  0.50240594 0.0624

[2022-07-26 17:25] MrFaith2001 commented on #9286
还有一个问题是如何设置模型入口中索引0的值是输入图片本身的长宽还是处理后的长宽，索引2的scale_factor该如何设置呢？

[2022-07-27 02:33] fpjnice opened #9287 "为什么一个量化卷积核的输入特征图是int8 权重参数是int8 但是输出却是 fp32？"

[2022-07-27 03:30] Lilengli opened #9288 "关于paddlelite中的kernel_target问题"
我注意到在paddlelite适配硬件时都会出现一个target信息
![image](https://user-images.githubusercontent.com/93658838/181154427-a3b88969-d460-482f-948e-8fa912f89136.png)
我想知道的是像这种硬件的target会起到什么作用呢

[2022-07-27 08:50] tomfent commented on #9271
已解决，参考了一个python pddlelite 安装包的目录结构，安装后whl包后依据调整，这样可以不用报模型版本不匹配。

[2022-07-27 09:30] #9271 closed, assigned to nobody

[2022-07-27 10:10] DrRyanHuang opened #9293 "windows 编译错误"
- 版本、环境信息：
    1）Paddle Lite 版本：请提供您的 Paddle Lite 版本号 v2.11
    2）Host 环境：windows10

- 编译/安装方式信息：
    本地编译：请提供 cmake 命令，编译命令

运行：
[code]
我已经依据
https://github.com/PaddlePaddle/Paddle-Lite/issues/9235
https://github.com/PaddlePaddle/Paddle-Lite/issues/7679
做了部分尝试，目前返回的问题是

[code]

我目前正在下载 vs studio 2015 不知道用低版本的 vs 能否解决该问题

[2022-07-27 10:20] levinzhangyd opened #9294 "关于paddlelite的咨询"
Hi,
 有一些基础问题想得到比较官方的解答，麻烦开发大神了。3q
1.paddle-lite兼容了很多gpu or xpu平台，兼容的方法论是咋样的？自己实现算子，还是使用硬件平台提供的算子做封装？或者两者都有？为啥每个平台都要有不同的库文件，不同之处主要在哪里？是不同的算子封装？
2.paddle-lite是不是兼容谷歌NNAPI的，因为目前大部分移动端都是android系统，如果适配过NNAPI，是不是会比较容易推广？如果现在还不支持，后面有没有相应的计划？

[2022-07-27 11:28] #3162 closed, assigned to Shixiaowei02

[2022-07-27 13:16] hong19860320 commented on #9294
1. Paddle Lite 在支持不同硬件有两种方法，一种是基于算子，类似于ARM OpenCL，就是要实现每个算子 kernel，必须基于 lite 源码实现，另一种是图引擎，例如华为HiAi、NNAPI、TensorRT等，由于是基于硬件适配层 NNAdapter，所以每个硬件有自己的 HAL 动态库（.so）。
2. Paddle Lite 已经支持 NNAPI ，Demo 和详细问题可以查看 https://www.paddlepaddle.org.cn/lite/develop/demo_guides/android_nnapi.html  目前算子支持的不多，不过后面补全。

[2022-07-28 01:28] DrRyanHuang commented on #9293
Hi, I compiled successfully with VS2015.

![image](https://user-images.githubusercontent.com/44900829/181400648-3be58a6b-5464-4afb-949b-80f19c4d374f.png)

[code]

[2022-07-28 01:30] DrRyanHuang commented on #9235
@totravel

Hi, I have compiled successfully with VS2015 https://github.com/PaddlePaddle/Paddle-Lite/issues/9293. Thank you for your recording!! It's very helpful!!

[2022-07-28 01:32] DrRyanHuang commented on #7679
@dragonwarrior95 @ZhuGeRoastedFish

Hi, I have compiled successfully with VS2015 https://github.com/PaddlePaddle/Paddle-Lite/issues/9293. Thank you for your recording!! It's very helpful!!

[2022-07-28 01:41] #9293 closed, assigned to sprouteer

[2022-07-28 03:21] hasaikeyQAQ commented on #9262
可用 这个试过了 和训练时的日志输出精度保持一致

[2022-07-28 03:21] hasaikeyQAQ commented on #9262
模型准确率是1.0，数据集比较简单

[2022-07-28 03:26] hasaikeyQAQ commented on #9286
第一个参数是类型 第二个是准确率 第三到第六是左上右下的检测框

[2022-07-28 03:27] DrRyanHuang commented on #9271
Hi, 好兄弟，你是怎么解决这个
[code]
这个问题的呀

[2022-07-28 03:29] hasaikeyQAQ commented on #9286
另外 ，我似乎认为您的图像归一化存在问题。如果是paddledetection直接训练出的模型 归一化应该不是这样做的

[2022-07-28 03:30] hasaikeyQAQ commented on #9286
这是我的https://github.com/PaddlePaddle/Paddle-Lite/issues/9262
烦请大佬们关注照顾一下

[2022-07-28 03:34] MrFaith2001 commented on #9286
请问可以针对归一化等提供一些建议或者代码吗？现在处在摸索状态，有的图片处理什么的可能都有一些问题需要解决

[2022-07-28 03:39] hasaikeyQAQ commented on #9263
这是我的issue https://github.com/PaddlePaddle/Paddle-Lite/issues/9262
目前系统显示没有分配受让人
烦请大佬们关注照顾一下呢

[2022-07-28 03:44] pengwei1024 opened #9295 "This model is not supported, because kernel for 'io_copy' is not supported by Paddle-Lite."
- 标题：简洁、精准描述您的问题，例如“最新预测库的 API 文档在哪儿 ”
- 版本、预测库信息：
    1）Paddle Lite 版本：develop 分支编译产物
    2）Host 环境：Ubuntu 18.04
    3）运行设备环境：轻量级 linux 设备
    4）预测后端信息：请描述使用的预测后端信息，如 CPU
- 预测信息
    1）预测 API：C++
    2）预测选项信息：armv7hf
    3）预测库来源：源码编译，gcc
- 复现信息：
[code]

- 问题描述：请问下这个错误具体是什么原因呀，用的 develop 分支最新代码编译的，gcc 用的系统配套的 linux-arm-gcc，能编译成功，运行报错 This model is not supported, because kernel for 'io_copy' is not

[2022-07-28 04:49] pengwei1024 commented on #9295
开启 opencl 标志再编译运行是这个错误   OpenCL runtime init failed
[code]

[2022-07-28 07:04] levinzhangyd commented on #9294
非常感谢您的回复，下面看看我的理解是否和您的说法一致。
1.目前的NNAPI只是定义了一些神经网络基本的算子名称，这些算子的具体实现由芯片厂商做固件的人去对接硬件实现。NNAPI到预测框架的这一块，是类似paddle这种框架来做的，主要是对NNAPI做适配。因为每个平台不一样，所以对应的固件/Hal不一样？那是不是一个厂家的，基本就是固定了，可以保持不变.比如我使用MTK平台，就可以都用APU那个实例？只是不同芯片厂之间要生成不同的so
2.从我目前调研的情况来看，各个前向预测框架都宣称支持，但是也还没有做到简单化和通用化。
3.如何判断终端到底是运行在apu还是在cpu里面呢？只能通过时间实测？还是有一些关键log或者其他的查询方法呢？

[2022-07-28 07:56] zhigfu commented on #9294
想请问您，如果我想开发intel_fpgad的kernel，我应该如何入手。

[2022-07-28 08:04] zhigfu opened #9297 "ssd_mobilenet_v1模型中部分conv2d无法被融合进子图"
- 版本、环境信息：
    1）Paddle Lite 版本：请提供您的 Paddle Lite2.9
    2）Host 环境：centos7
- 模型信息
    1）模型名称 ssd_mobilenet_v1

使用支持intel_fpga版的paddle lite进行模型转换时，会有一部分conv2d无法被融合进子图。我认为是因为这部分conv2d的输出被多个节点引用，求指点解决办法。

![RYCCH($Z1GIV~E7W@@N6S93](https://user-images.githubusercontent.com/93644350/181454296-eb8eeeb8-c45c-4a36-9ffb-475e77861566.png)

[2022-07-28 09:41] DrRyanHuang opened #9298 "ImportError: DLL load failed while importing lite: 找不到指定的模块。"
您好，我的环境是 window10 , Python3.8

我按照文档，用 VS2015 编译了 PaddleLite，编译指令是：
[code]
然后在 dist 目录下，安装了 `paddlelite-83000d84b-cp38-cp38-win_amd64.whl`

执行 `import paddlelite` 没有问题

但是执行
[code]
报错：
[code]

请问这个该怎么解决呢？
我看到官方也没有提供Py3.8的预编译包，也是因为这个问题吗？

[2022-07-28 12:15] #3335 closed, assigned to juncaipeng

[2022-07-28 12:16] #3911 closed, assigned to juncaipeng

[2022-07-28 12:16] #3329 closed, assigned to DannyIsFunny

[2022-07-28 12:16] #3332 closed, assigned to DannyIsFunny, juncaipeng

[2022-07-28 12:16] #3336 closed, assigned to DannyIsFunny, juncaipeng

[2022-07-28 12:16] #3337 closed, assigned to DannyIsFunny

[2022-07-28 12:16] #3338 closed, assigned to DannyIsFunny

[2022-07-28 12:16] #3339 closed, assigned to DannyIsFunny, juncaipeng

[2022-07-28 12:16] #3340 closed, assigned to DannyIsFunny

[2022-07-28 12:16] #6166 closed

[2022-07-28 12:17] #3021 closed, assigned to DannyIsFunny, juncaipeng

[2022-07-28 12:17] #3279 closed, assigned to juncaipeng

[2022-07-28 12:17] #2100 closed, assigned to juncaipeng

[2022-07-28 12:17] #6717 closed, assigned to juncaipeng

[2022-07-28 12:17] #5972 closed, assigned to juncaipeng

[2022-07-28 14:37] hong19860320 commented on #9294
1. 理解的基本正确，调用流程是 Paddle Lite-> Android NNAPI -> 不同硬件厂商 NN HAL，库调用关系 APP->libpaddle_light_api_shared.so->libnnadapter.so->libandroid_nnapi.so->libneuralnetworks.so->厂商 NN HAL 动态连接库，其中 libneuralnetworks.so->厂商 NN HAL 动态连接库 在每台设备的系统里自带的，因此，我们提供的 libpaddle_light_api_shared.so、libnnadapter.so、libandroid_nnapi.so 库是适用于所有 android 设备的，可以查看 https://www.paddlepaddle.org.cn/lite/develop/demo_guides/android_n

[2022-07-29 03:17] fengyanWang opened #9302 "libNative.so missing error"
为使您的问题得到快速解决，在建立 Issues 前，请您先通过如下方式搜索是否有相似问题:[历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）Paddle Lite 版本：请提供您的 Paddle Lite 版本号（如v2.10）或 CommitID
  

[2022-07-29 03:19] fengyanWang commented on #9302
cmake文件信息如下：

cmake_minimum_required(VERSION 3.4.1)

set(PaddleLite_DIR "${CMAKE_CURRENT_SOURCE_DIR}/../../../PaddleLite/FPxx")
include_directories(${PaddleLite_DIR}/cxx/include)

set(OpenCV_DIR "${CMAKE_CURRENT_SOURCE_DIR}/../../../OpenCV/sdk/native/jni")
find_package(OpenCV REQUIRED)
message(STATUS "OpenCV libraries: ${OpenCV_LIBS}")
include_directories(${OpenCV_INCLUDE_DIRS})

set(CMAKE_CXX_FLA

[2022-07-29 03:30] HaoLiuHust commented on #9043
这么常用的算子为什么不支持呢，用好几个推理框架去适配不同平台太割裂了. 而且有些时候只是先在x86上把流程跑通，然后交叉编译到目标平台的

[2022-07-29 06:30] mjp9527 commented on #9302
可以打印一下cmake中libpaddle_light_api_shared.so是否和真实路径一致

[2022-07-29 08:52] fengyanWang commented on #9302
现在编译没问题了，但是运行说op的问题，请问你们开源的paddle_lite_demo安卓工程中的paddle lite版本是多少？我目前转换好的模型用那个so库推理没有报任何op错误，但是替换v2.11 rc就出错

[2022-08-01 02:20] mjp9527 commented on #9302
具体什么报错可以贴一下，版本号运行时会打印，显示当前动态库是由哪个commit编译的

[2022-08-01 06:57] Zhang-O commented on #8707
是不是只有2020年以后的 soc才支持armv8.2？  高通660 730G 支持吗？ 我去高通官网查了下，没有写支持armv8.2。

[2022-08-01 07:05] xingjing1 commented on #9295
开发同学正在跟进中

[2022-08-01 07:06] xingjing1 commented on #9297
您方便将模型和使用的paddlelite版本放出来吗

[2022-08-01 07:07] xingjing1 commented on #9298
开发人员正在跟进中

[2022-08-01 07:07] sprouteer commented on #9288
您好，这是Pass执行的目标硬件平台, 目前可选的target列表如下
<img width="268" alt="image" src="https://user-images.githubusercontent.com/89541335/182092090-368d95e1-b432-4134-84d7-308c6e1b34da.png">

[2022-08-01 07:11] pursuehdf commented on #8707
不是，我已经解决了

[2022-08-01 07:13] sprouteer commented on #9295
您好，请问这是什么设备，根据报错信息，是这个设备找不到opencl相关库

[2022-08-01 07:51] sprouteer commented on #9287
在kernel实现中会根据下一层的输入精度，有不同的处理，参考下图
<img width="491" alt="image" src="https://user-images.githubusercontent.com/89541335/182099958-5cfe6ddf-b5f5-4dd8-88a8-95cb583dc031.png">

[2022-08-01 07:51] zhigfu commented on #9297
[模型.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/9231969/default.zip)

您好，我使用的是移植版的paddlelie，支持在intelpfga部署，由于体积过大无法正常上传 ，请问是否有其他办法？我已上传我的模型

[2022-08-01 07:53] xingjing1 commented on #9297
可以加个联系方式吗？详细问您一下，加我qq：2907374824

[2022-08-01 07:54] fpjnice commented on #9287
好的明白了，还想问一下这段代码在哪个文件里，我可能需要根据这段代码手动利用一下scaleout参数

[2022-08-01 07:58] zhigfu commented on #9297
已申请

[2022-08-01 08:05] sprouteer commented on #9287
lite/kernels/arm/calib_compute.cc

[2022-08-01 08:06] fpjnice commented on #9287
好的，感谢解答

[2022-08-01 09:27] ysjhlnu opened #9306 "瑞芯微M1808开发板上运行目标检测提示Check failed: (device_names.size() > 0): 0!>0 No device specified."
- 标题：瑞芯微M1808开发板上运行目标检测提示Check failed: (device_names.size() > 0): 0!>0 No device specified.
- 版本、环境信息：
    1）Paddle Lite 版本：v2.11
    2）Host 环境：瑞芯微M1808-EVB
    3）运行设备环境：请描述运行设备信息，如小米 9、iPhone13
- 问题描述：
 在瑞芯微M1808开发板上运行目标检测，提示Check failed: (device_names.size() > 0): 0!>0 No device specified.

![image](https://user-images.githubusercontent.com/49710527/182117963-e0d636bc-49bc-4d1f-83a3-237163f35dc4

[2022-08-01 12:30] yingshengBD commented on #9306
你好 ，请先参考这个文档部署1808，https://paddle-lite.readthedocs.io/zh/develop/demo_guides/verisilicon_timvx.html
注意文档中描述的驱动版本

[2022-08-02 01:06] ysjhlnu commented on #9306
驱动版本：6.4.3.5.293908
驱动和依赖都没问题
使用示例程序和模型不出现(device_names.size() > 0): 0!>0 No device specified这个问题，更换了模型就会出现这个问题。

[2022-08-02 09:21] 2050airobert opened #9308 "Hrnet pose cost on the phone？"
Hi，
请问下，这个hrnet_w32_256x192/model.nb是否在手机或者arm cpu上跑过，尤其是高通865上？
能share下这个下面链接的具体测速数据吗？多谢
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.3/deploy/lite
cp {PadddleDetection_Root}/output_inference/hrnet_w32_256x192/model.nb ./model_keypoint/
BR

[2022-08-02 10:42] yingshengBD commented on #9306
你是使用opt工具生成的模型？注意target 得同时包含 verisilicon_timvx和arm

[2022-08-02 13:41] ysjhlnu commented on #9306
--valid_targets=rockchip_npu,arm
--valid_targets=verisilicon_timvx,arm
用opt工具生成的模型，这两种类型都试过都提示这个问题

[2022-08-03 05:56] limaopeng1 commented on #7770
请问这个问题解决了吗

[2022-08-03 08:47] lingdu-xu commented on #9016
我也遇到了这个问题，唯一能跑通的模型是mobilenet_v1的模型，用paddlex2.1生成的模型即使转换成nb格式它也不能跑，而且它本身也不支持把pdmodel或者pdiparams模型转成nb的

[2022-08-03 08:55] Liuxinhao7814 commented on #9016
很抱歉，我没有再关注这个问题了

[2022-08-04 02:20] hong19860320 commented on #9306
最好把原始的 paddle 模型放上来，方便我们复现哈~

[2022-08-04 03:23] kuaikuaikim opened #9313 "RV1126 rockchip_npu加速运行报错"
- 标题：RV1126 rockchip_npu加速运行报错
- 版本、预测库信息：
    1）Paddle Lite 版本：PaddleLite-generic-demo 自带的库
    2）Host 环境：Ubuntu 18.04
    3）运行设备环境：RV1126 非EVB
    4）预测后端信息：  /bin/sh: line 1:  2619 Segmentation fault      (core dumped)
- 预测信息
    1）预测 API：C++
    2）预测选项信息：armv7 rknpu
    3）预测库来源：官网下载 PaddleLite-generic-demo
- 复现信息：官网下载 PaddleLite-generic-demo
- 问题描述：用官方的PaddleLite-generic-demo测试RV1126 rockchip_n

[2022-08-04 03:23] kuaikuaikim commented on #9313
这是来自QQ邮箱的假期自动回复邮件。你好，我最近正在休假中，无法亲自回复你的邮件。我将在假期结束后，尽快给你回复。

[2022-08-04 05:59] ysjhlnu commented on #9306
模型文件：
链接：https://pan.baidu.com/s/1CdvNpdYhQU56HeNJA19vmw
提取码：6v0c

配置文件使用的是yolov3_mobilenet_v1

[2022-08-04 10:55] shentanyue commented on #9313
export GLOG_v=5后执行下，贴上全量的日志文件哈

[2022-08-05 01:56] ysjhlnu commented on #9306
使用官方示例程序也出现这个问题，详细执行过程如下:
194 RKNPU GraphImpl(46):
[5  3/28  6: 5:51.355 ...dapter/nnadapter/src/utility/modeling.cc:937 SortOperationsInTopologicalOrder] model total operands: 496
[5  3/28  6: 5:51.355 ...dapter/nnadapter/src/utility/modeling.cc:937 SortOperationsInTopologicalOrder] model input operands: 1
[5  3/28  6: 5:51.355 ...dapter/nnadapter/src/utility/modeling.cc:937 SortOperationsInTopol

[2022-08-05 02:06] ANDROIDTODO opened #9314 "Mac M1 OPENCL下使用PPOCRV3 报错"
[I  8/ 5  9:57:22.205 ...dle/Paddle-Lite/lite/core/device_info.cc:1275 Setup] ARM multiprocessors name: M1
[I  8/ 5  9:57:22.205 ...dle/Paddle-Lite/lite/core/device_info.cc:1276 Setup] ARM multiprocessors number: 8
[I  8/ 5  9:57:22.205 ...dle/Paddle-Lite/lite/core/device_info.cc:1278 Setup] ARM multiprocessors ID: 0, max freq: 1000000, min freq: 1000000, cluster ID: 0, CPU ARCH: A1
[I  8/ 5  9:57

[2022-08-05 02:12] lingdu-xu opened #9315 "paddlelite的版本和模型版本适配问题"
**是这样的，我有两台电脑，window10上安装的是paddle_gui_2.10版本，生成了一个图像分类模型是这样的：**
inference_model
├── model.pdiparams
├── model.pdiparams.info
├── model.pdmodel
├── model.yml
└── pipeline.yml
**我把模型文件夹传输到了树莓派开发板上，树莓派上的paddlelite是源码编译的，编译的源码版本是2.11，没错，paddlelite和paddlelex都是2.1x版本的，编译的时候带了python3.9的支持，带了with_extra拓展，编译完成装了python环境以后显示这样：**

Installed /usr/local/lib/python3.9/dist-packages/paddlelite-0.0.0-py3.9-linux

[2022-08-05 02:17] lingdu-xu commented on #9260
楼主。我和你环境基本一样。。我不光版本号不显示，我使用同一个模型对不同图片的推理结果都是一模一样的，，就是我的模型能区分人和狗，而模型转换以后放到paddlelite里面跑，它区分不了。。。你有这问题么？顺带一问，你是把什么样的模型转成nb模型的，如何做的

[2022-08-05 02:25] lingdu-xu commented on #9315
难道是我用法不对？

[2022-08-05 07:16] lingdujunshang commented on #9315
不好意思啊，我研究了一下代码发现结果一样的原因是我输入的数据一样，因为我mobilenet里有个np.ones，所以它好像根本没拿到我的图片，我把重要的代码薅出来，又跑了一遍，发现了另一个问题，paddlex的预测结果和paddlelite结果差距有点大。首先我的模型评估是这样的：
![捕获91](https://user-images.githubusercontent.com/42382041/183021247-5419724b-3e12-4c58-a9b6-7fec058278bf.PNG)
然后我拿这个模型在paddlex上跑，结果是这样的，看起来很不错，分类正确，得分也不错。这是代码和运行结果
![捕获92](https://user-images.githubusercontent.com/42382041/183021415-03ab411a-1bf6-4818-95e9-

[2022-08-05 07:27] yingshengBD commented on #9306
是这样的，我们是建议使用 芯原TIMVX 既https://paddle-lite.readthedocs.io/zh/develop/demo_guides/verisilicon_timvx.html 这个方式来部署rk1808，这个要求驱动就是6.4.3.5。你的已经符合。
但是看你的日志，你是用的rk ddk来部署，那个就是要求驱动6.4.0，这个在rk ddk的文档中也有明确说明。
建议按照 https://paddle-lite.readthedocs.io/zh/develop/demo_guides/verisilicon_timvx.html 这个方法

[2022-08-05 08:02] jeffer0323 opened #9319 "Lite v2.11版本如何开启多进程"
- 版本、预测库信息：
    1）Paddle Lite 版本：v2.11
    2）Host 环境：Android
    3）运行设备环境：小米 10
    4）预测后端信息：CPU
- 预测信息
    1）预测 API：C++/JAVA
    2）预测选项信息：armv7/armv8
    3）预测库来源：官网下载

- 问题描述：类似Issue只找到老版本的多进程开启方式，新版本PaddlePreditor采用了shared_ptr智能指针，貌似默认情况下不支持多进程，请问有修改源码支持多进程方式的demo吗，或者说该如何修改？

[2022-08-05 08:23] luolianl opened #9320 "有没有androidx86的预编译包或者能不能自己编译Androidx86平台"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题:[历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

建立 issue 时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac 编译错误”
- 版本、环境信息：
    1）Paddle Lite 版本：请提供您的 Paddle Lite 版本号（如v2.10）或

[2022-08-05 08:43] Linapoo opened #9321 "Lite tag/v2.11 初始化时 get_cpu_arch 出现vector越界问题"
- 版本、预测库信息：
    1）Paddle Lite 版本：tag/v2.11
    2）Host 环境：Android 7.1.2
    3）运行设备环境：使用rk3288芯片的android定制设备
设备信息如下：
`
Crash type: 'native'
Start time: '2022-08-05T16:08:18.209+0800'
Crash time: '2022-08-05T16:08:22.136+0800'
App version: '0.10.5'
Rooted: 'Yes'
API level: '25'
OS version: '7.1.2'
Kernel version: 'Linux version 4.4.126 #1677 SMP PREEMPT Thu Jul 15 09:39:24 CST 2021 (aarch64)'
ABI lis

[2022-08-05 10:21] liyancas commented on #9321
您好，麻烦您：1）使用develop分支模型转化和测试下；2）然后确保模型的输入和预处理无异常；3）如果1）和2）操作之后，还存在问题烦请提供模型和测试脚本，谢谢！

[2022-08-07 09:58] Liekkas-xlm opened #9324 "为什么ARM不支持int8型的transpose和concat计算"
- 版本、环境信息：
    1）Paddle Lite 版本：2.9
    2）Host 环境：CentOS 7
    3）运行设备环境：英特尔SocFPGA
    4）预测后端信息：FPGA 加速器
- 问题描述：
- 我使用SSDLite模型想部署在设备上，FPGA计算卷积，ARM计算其他算子。模型经过opt工具转化之后，所有卷积都完成了融合，但是ssdlite头部的transpose算子输入输出都变成了INT8型，但是我的ARM端不能计算INT8型的transpose算子和concat算子。请问为什么会ARM不能计算INT8型的trasnpose和concat，同时为什么transpose会被转化为INT8型，相应有什么解决办法使得ARM可以计算INT8型的transpose和concat，或者说有什么办法可以transpose算子前插入calib算子进行反量化，保持floa

[2022-08-07 10:07] Liekkas-xlm commented on #9324
这是我未融合之前的模型
![a20220807174919](https://user-images.githubusercontent.com/103654073/183285825-45ad312d-8246-404c-9f4b-1881db216ac8.jpg)
这是融合后的模型
![b_20220807174951](https://user-images.githubusercontent.com/103654073/183285840-b18400d2-a55f-44de-a55b-eaf796fb3bd2.jpg)
这是报错
![c20220807180700](https://user-images.githubusercontent.com/103654073/183285874-5d90fe63-ca96-492e-9ce6-bc67ad6fd193.png)

[2022-08-08 03:29] BgLoveXixi opened #9327 "swin-transformer转换paddlelite"
在转换swin_transformer模型到paddlelite时，提示算子不支持，但转到paddlepaddle已经成功，请问目前paddlelite不是已经支持swin了吗，是还未合并到主线吗？

![image](https://user-images.githubusercontent.com/37319074/183332601-f9ec9eb6-0716-40cc-9bda-953211f4260f.png)

[2022-08-08 06:00] liyancas commented on #9314
这个问题是OpenCL使用Image2d 方式时图像的输入“32384” 超过硬件限制的16384 @sprouteer 可以关注看一下

[2022-08-08 06:24] lingdu-xu commented on #9315
后期经过证明，模型基本是可以正常跑的，结果基本正常哈，但就是有个报警信息

[2022-08-08 07:02] liyancas commented on #9319
同学你好，进程之间不共享数据和模型，所以不用考虑shared_ptr智能指针，上层直接使用进程API创建，每个进程内部就是一个单独的推理任务。

[2022-08-08 07:03] liyancas commented on #9315
谢谢反馈，OPT和library commit-id不一致会有这个warning

[2022-08-08 07:48] liyancas commented on #9321
同学你好，这个问题可以在手机上复现吗？

[2022-08-08 07:59] liyancas commented on #9320
目前不支持，请问您这边x86 Android的应用场景是什么？

[2022-08-08 12:23] sprouteer commented on #9327
您好，可以看一下模型中是否有roll算子，目前paddle lite不支持这个算子

[2022-08-09 02:21] BgLoveXixi commented on #9327
@sprouteer 你好，我看历史issue，paddlelite不是已经支持这个算子了吗
如下：https://github.com/PaddlePaddle/Paddle-Lite/pull/9065

[2022-08-09 12:18] Javacr opened #9330 "Caused by: java.lang.RuntimeException"
按照https://paddle-lite.readthedocs.io/zh/develop/user_guides/java_demo.html 所给步骤，运行两种版本都报错。
第一次按照这个教程中走，每一步都一样，手机是`arm64-v8a`架构，按理来说，直接跟着教程走就行，所以下载的文件是跟教程贴的链接下的，下载后解压得到 `inference_lite_lib.android.armv8.gcc.c++_static` 文件夹，然后按照教程下载模型，得到一堆压缩包，解压后每个文件夹都包含 `param.nb` 和 `__model__.nb`，将所有解压的文件夹放到 assets 中。运行后报错：
[code]
第二次，重新下载了https://paddle-lite.readthedocs.io/zh/develop/quick_start/release_lib.html#

[2022-08-10 06:09] QShiX commented on #9269
麻烦问下，update这个chang-format的版本是会造成什么问题么，为什么一定要是3.8，不能是3.8+呢。

[2022-08-10 07:24] mjp9527 commented on #9327
OPT工具也得重新编译才行，你不能用之前的，库也需要重新编译，参考：https://paddle-lite.readthedocs.io/zh/release-v2.11/user_guides/model_optimize_tool.html，这个模型是支持的

[2022-08-10 07:46] mjp9527 commented on #9330
第一个报模型格式的问题，你可以先了解一下PaddleLite和paddle模型之间的区别，OPT工具使用等：https://paddle-lite.readthedocs.io/zh/release-v2.10_a/user_guides/model_optimize_tool.html      nb模型，pdmodel/pdiparams，model/params 这些都是模型格式

[2022-08-10 07:49] mjp9527 commented on #9324
升级一下PaddleLite版本，最新的v2.11支持
![image](https://user-images.githubusercontent.com/54735487/183845316-69d3fb18-ff02-4abd-b3f5-3c36d40ee81f.png)

[2022-08-10 07:58] mjp9527 commented on #9321
上一句获取CPU型号时已经报错了，我们确实没有跑的过这个CPU(Cortex-M0: 0xC20)
![image](https://user-images.githubusercontent.com/54735487/183847014-f55df418-4d0f-4170-988a-a351f9619a66.png)
你可以在这个位置加上这个0xC20这个CPU重新编译一个库跑一下试试。

[2022-08-10 08:10] woshipp07 opened #9333 "paddleocr dbnet模型用转换为fp16后检测不到任何数据"
目前用的库是：[inference_lite_lib.android.armv8.clang.c++_shared.with_extra.with_cv.arm82_fp16.tar.gz](https://github.com/PaddlePaddle/Paddle-Lite/releases/download/v2.11/inference_lite_lib.android.armv8.clang.c++_shared.with_extra.with_cv.arm82_fp16.tar.gz)

opt工具的版本是2.11

在mt6769的芯片
paddleocr的android端部署

 https://github.com/PaddlePaddle/PaddleOCR/tree/release/2.5/deploy/android_demo
opt转换前的模型是这个

[2022-08-10 08:14] woshipp07 commented on #9333
之前没用fp16 直接opt_linux 没加--enable_fp16=true 是可以正常工作

[2022-08-10 08:15] woshipp07 commented on #9333
[det_db_inference.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/9298133/det_db_inference.zip)
这个是转换前的静态模型

[2022-08-10 08:16] BgLoveXixi commented on #9327
@mjp9527 重新编译是什么意思啊？我安装的paddlelite和X2paddle 都是最新的：
![image](https://user-images.githubusercontent.com/37319074/183851085-388c95b3-c44d-4d19-9a91-5fed738b489f.png)
最新版的也不行吗

[2022-08-10 08:53] mjp9527 commented on #9327
不行，这是develop分支合入的，v2.11不支持

[2022-08-10 08:54] mjp9527 commented on #9327
基于develop分支重新编译OPT工具和Lite动态库

[2022-08-10 10:52] Linapoo commented on #9321
只能在特定设备上复现，手机上目前没遇到

[2022-08-10 10:53] Linapoo commented on #9321
case 0xC20L:
    arch_type = ?

这样吗？arch_type是什么呢？

[2022-08-10 11:56] mjp9527 commented on #9321
是一个枚举变量，表示cpu型号，你随便付个kA35，只要不走到LOG(ERROR)就行

[2022-08-11 03:23] wrfokokokwrf opened #9336 "paddlelite"
树莓派安装了paddlelite2.6版本
我用opt2.6转换paddle模型，出现问题：少了模块flatten()
我用opt2.8版本来转换成功，但是与树莓派上的paddlelite2.6版本对不上，报错。

请问可以提供树莓派armv8架构的：paddlelite-2.8.0-cp37-cp37m-linux_aarch64.whl文件吗？
2.8版本的

[2022-08-11 03:57] QShiX opened #9337 "Yolov3-DarkNet53 fails on x86 and ARM backend"
x86 system: ubuntu 20.02

paddle lite branch: develop, commit f470047b73e6adf3170c1cb3065a1b8c8813af82

GLOG_v=4 print out:
I0811 11:52:27.623136  4635 light_api_impl.cc:94] x86_math_num_threads() is set successfully and the number of threads is:1
E0811 11:52:27.623303  4635 conv_op.cc:33] in_dims.size() == 4 || in_dims.size() == 5 test error!
F0811 11:52:27.623307  4635 program.cc:661] Check fail

[2022-08-11 03:59] QShiX commented on #9337
I think the failure happens at molticlass_nms3  op->CheckShape

[2022-08-11 04:04] QShiX opened #9338 "YOLOv3-MobileNetV3 fails on x86 and ARM backends"
x86 system: ubuntu 20.04
paddle lite branch: develop, commit f470047b73e6adf3170c1cb3065a1b8c8813af82

GLOG_v4 print out:

I0811 12:02:43.116729  4773 light_api_impl.cc:94] x86_math_num_threads() is set successfully and the number of threads is:1
I0811 12:02:43.116937  4773 conv_compute.cc:119] invoking directConv
I0811 12:02:43.151886  4773 conv_compute.cc:107] invoking conv_depthwise_3x3p0p1 or

[2022-08-11 05:38] zhupengyang commented on #9336
你好，目前没有提供 2.8 版本的 whl 包，需要在自己的环境上编译，请参考[文档](https://www.paddlepaddle.org.cn/lite/v2.8/source_compile/compile_linux.html)编译

[2022-08-11 05:43] zhupengyang commented on #9337
Please check if the model inputs are set correct. You may refer to #8991 .

[2022-08-11 05:45] zhupengyang commented on #9338
I assume it is the same as #9337

[2022-08-11 06:08] wrfokokokwrf commented on #9336
我自己编译的whl文件，出现的版本号是数字加字母的乱码。与opt版本不一致。代码运行报错。请问如何解决?

---Original---
From: ***@***.***&gt;
Date: Thu, Aug 11, 2022 13:38 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [PaddlePaddle/Paddle-Lite] paddlelite (Issue #9336)

你好，目前没有提供 2.8 版本的 whl 包，需要在自己的环境上编译，请参考文档编译

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored t

[2022-08-11 06:08] QShiX commented on #9337
This model is https://paddlelite-demo.bj.bcebos.com/NNAdapter/models/PaddleDetection/yolov3_darknet53_270e_coco.tgz
And the input shape is 1,3,608,608
![image](https://user-images.githubusercontent.com/109517215/184073671-9f29544f-dbbd-4610-802c-f89f9b9f444a.png)

[2022-08-11 06:12] QShiX commented on #9338
The model is from https://paddlelite-demo.bj.bcebos.com/models/yolov3_mobilenet_v3_prune86_FPGM_320_fp32_fluid.tar.gz
![image](https://user-images.githubusercontent.com/109517215/184073976-6519f5ed-7cab-4601-838c-677afc2bce03.png)
The model input used was 1,3,320,320

[2022-08-11 06:15] QShiX commented on #9337
I used the input shape as shown, so please let me know this is not correct.

[2022-08-11 06:19] zhupengyang commented on #9337
![image](https://user-images.githubusercontent.com/50474132/184074952-1a72b845-0eb1-4971-9275-eb8c50df7092.png)
Obviously, your model has 3 inputs. You may set all the inputs correctly

[2022-08-11 06:37] QShiX commented on #9337
Thank you so much! Problem fixed.

[2022-08-11 06:37] #9337 closed, assigned to zhupengyang

[2022-08-11 06:39] QShiX commented on #9338
Thank you. Fixed as https://github.com/PaddlePaddle/Paddle-Lite/issues/9337

[2022-08-11 06:57] QShiX commented on #9338
Actually there is a new issue when using input shape 1,2:1,3,320,320

I0811 14:55:17.081337  5384 light_api_impl.cc:94] x86_math_num_threads() is set successfully and the number of threads is:1
W0811 14:55:17.081545  5384 light_api.cc:402]  Error input tensor precision type. Input index (1) Tensor name (im_size) Require precision type (int32_t) Input precision type (float).
E0811 14:55:17.081549

[2022-08-11 07:29] zhupengyang commented on #9338
Input shape should be ```1,3,320,320:1,2```, not ```1,2:1,3,320,320```

[2022-08-11 07:35] QShiX commented on #9338
Thank you!

[2022-08-11 07:35] #9338 closed, assigned to zhupengyang

[2022-08-11 08:01] zhupengyang commented on #9336
- ```出现的版本号是数字加字母```，这是正常的，是代码库的 commit ID 作为版本号了
- 报错是什么呢？一般只有版本不一致的warning，没太大影响
- 如果是版本不一致带来的问题，建议使用 [python opt](https://www.paddlepaddle.org.cn/lite/v2.8/api_reference/python_api/opt.html) 重新优化模型。或者在树莓派上[编译 opt 工具](https://www.paddlepaddle.org.cn/lite/v2.10/user_guides/model_optimize_tool.html)

[2022-08-11 08:35] wrfokokokwrf commented on #9336
图片里是运行代码时出现的错误。非常感谢您的回复

---Original---
From: ***@***.***&gt;
Date: Thu, Aug 11, 2022 16:01 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [PaddlePaddle/Paddle-Lite] paddlelite (Issue #9336)

出现的版本号是数字加字母，这是正常的，是代码库的 commit ID 作为版本号了

报错是什么呢？一般只有版本不一致的warning，没太大影响

如果是版本不一致带来的问题，建议使用 python opt 重新优化模型。或者在树莓派上编译 opt 工具

—
Reply to this email directly, view it on GitHub, or un

[2022-08-11 08:45] wrfokokokwrf commented on #9336
用树莓派的paddle_lite_opt转行文件，会出现图片的错误。谢谢

---Original---
From: ***@***.***&gt;
Date: Thu, Aug 11, 2022 16:01 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [PaddlePaddle/Paddle-Lite] paddlelite (Issue #9336)

出现的版本号是数字加字母，这是正常的，是代码库的 commit ID 作为版本号了

报错是什么呢？一般只有版本不一致的warning，没太大影响

如果是版本不一致带来的问题，建议使用 python opt 重新优化模型。或者在树莓派上编译 opt 工具

—
Reply to this email directly, view it on

[2022-08-11 08:56] wrfokokokwrf commented on #9336
这是运行代码后。谢谢

---Original---
From: ***@***.***&gt;
Date: Thu, Aug 11, 2022 16:01 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [PaddlePaddle/Paddle-Lite] paddlelite (Issue #9336)

出现的版本号是数字加字母，这是正常的，是代码库的 commit ID 作为版本号了

报错是什么呢？一般只有版本不一致的warning，没太大影响

如果是版本不一致带来的问题，建议使用 python opt 重新优化模型。或者在树莓派上编译 opt 工具

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Yo

[2022-08-11 09:10] zhupengyang commented on #9336
- 看不到你发的图片和代码。在网页中上传试下？
- 建议先按照上面说的试下

- 同时也建议用最新的 2.11 版本试下。[2.11 文档](https://paddle-lite.readthedocs.io/zh/latest/index.html)

[2022-08-11 09:18] wrfokokokwrf commented on #9336
![3](https://user-images.githubusercontent.com/105401910/184102257-c547428b-9d99-45aa-a32f-61a55801430f.jpg)
这是运行代码时报错。谢谢

[2022-08-11 09:19] wrfokokokwrf commented on #9336
[](url
![1](https://user-images.githubusercontent.com/105401910/184102397-062b2c59-c58b-4bb6-b9f7-eff4196772ed.jpg)
![4](https://user-images.githubusercontent.com/105401910/184102400-052992b0-a2f5-418d-a4e8-356c9c053b0d.jpg)
)

这是用树莓派paddle_lite_opt转换文件时的错误。谢谢

[2022-08-11 09:20] wrfokokokwrf commented on #9336
这是在树莓派运行代码的错误。谢谢
![2](https://user-images.githubusercontent.com/105401910/184102607-43cb7fda-8d0c-467e-87e7-66276f2a2b61.jpg)

[2022-08-11 12:03] zhupengyang commented on #9336
- 编译时加上编译命令 ``--with_extra=ON``

[2022-08-11 12:09] wrfokokokwrf commented on #9336
请问这个check failed如何解决？谢谢
[](url
![N} TGHK_3J2MEGSTNKDAHKM](https://user-images.githubusercontent.com/105401910/184130138-95dd011e-b397-46b8-91e0-0cc91f98b9c7.png)
)

[2022-08-11 15:00] Javacr commented on #9330
谢谢你的回复，我稍后改一下

[2022-08-12 15:33] personqianduixue commented on #9297
@zhigfu @xingjing1   其实只需要把intelfpga_subgraph_pass提前到mlu_subgraph_pass后面，再把place.target == TARGET(kIntelFPGA)删了就行

[2022-08-12 17:02] personqianduixue opened #9344 "请问目前paddlelite支持ARMv7的fp16计算吗"
如题

[2022-08-13 02:05] wrfokokokwrf opened #9345 "树莓派paddlelite问题"
在树莓派上运行python程序。
当执行predictor.run()
出现图片的错误：check failed：（k_==w_dims[0]）:6400!=9216
谢谢
![2D69AABFE56FA13CE3CC7151D267FED2](https://user-images.githubusercontent.com/105401910/184464467-088c7b22-2f12-4413-b62b-6e894f3f7e71.jpg)

[2022-08-13 04:34] personqianduixue commented on #9324
让transpose和concat强制接受int8输入即可

[2022-08-15 02:31] mjp9527 commented on #9344
支持

[2022-08-15 02:37] csy0225 commented on #9345
请问下是什么模型？检查一下输入shape是否传入的正确？ 尝试升级一下opt工具和Lite库版本是否能够解决：
1. 升级opt工具，目前opt工具可用的最高版本为2.11，下载链接：https://github.com/PaddlePaddle/Paddle-Lite/releases/download/v2.11/opt_linux
2. Lite库版本升级，查看如下网页 https://paddle-lite.readthedocs.io/zh/latest/quick_start/release_lib.html 选择需要的库进行升级。

[2022-08-15 07:35] zhenzi0322 opened #9350 "输出的格式转换不了图片。请问如何正确转换呢"
我的环境：
[code]

输出的格式转换不了图片。请问如何正确转换呢。下面是我的代码。

[code]

`mobilenet_v1_opt.nb`文件下载地址：
链接：https://pan.baidu.com/s/14_1Wq1p3C9Ehcvpg4jIwTQ
提取码：pgbz

[2022-08-15 11:30] shitianyi opened #9353 "Paddle-lite能不能适配MTK8195的APU芯片？"
请问一下，Paddle-lite能不能适配MTK8195的APU芯片？看https://paddle-lite.readthedocs.io/zh/develop/demo_guides/mediatek_apu.html
这里支持的MTK的芯片并不多。另外，如果需要适配APU，提到的firmware里包含的内容也是Paddle-lite编译依赖的吗？

[2022-08-16 01:01] personqianduixue commented on #9344
@mjp9527 没有看到armv7的fp16编译选项，只有arm82的，请问这是什么情况

[2022-08-16 03:40] #9350 closed, assigned to liyancas

[2022-08-16 03:53] zhenzi0322 opened #9355 "Process finished with exit code -1073741819 (0xC0000005)"
请问如何捕获到预测过程中错误的异常信息呢

[2022-08-16 07:59] markluofd opened #9357 "With_python=ON，x86上交叉编译armv7/armv8 编译报错 fatal error: aarch64-linux-gnu/python3.5m/pyconfig.h: No such file or directory"
PaddleLite v2.11
Host环境： Ubuntu16.04 交叉环境

build_linux.sh配置：
ARCH=armv7
WITH_PYTHON=ON
PY_VERSION="3.5"

最后报错信息如下：
![image](https://user-images.githubusercontent.com/94596925/184828226-c0a66532-18ca-4e75-b121-1d03bbfb7ce8.png)

想请问交叉编译 with_python=ON，这个报错应该怎么处理？

[2022-08-16 09:15] markluofd commented on #9357
补充，armv8交叉编译with_python=on不报错了，但是armv7编译还是报错

[2022-08-16 09:16] markluofd commented on #9357
补充，参考 https://its201.com/article/m0_57459724/124209377 这篇帖子，在容器内重新编译安装python3.7后，交叉编译armv8可以了，但是交叉编译armv7报了新的错误

[2022-08-16 09:19] markluofd commented on #9357
补充，参考 https://its201.com/article/m0_57459724/124209377 这篇帖子，在容器内重新编译安装python3.7后，交叉编译armv8可以了，但是交叉编译armv7报了新的错误
![image](https://user-images.githubusercontent.com/94596925/184844384-a10ecdc0-ba5c-4e41-b356-dcb0c6544b57.png)

想请问有办法在with_python=on的情况下，x86上交叉编译armv7的wheel包吗？

[2022-08-17 01:17] zhenzi0322 opened #9360 "如何转换成能使用gpu的模型?"
如何转换成能使用gpu的模型?  服务器系统为`Ubuntu`。

[2022-08-17 02:36] #9319 closed, assigned to liyancas

[2022-08-17 06:10] nalanyinyue commented on #9324
ssd头部融合，强制转换transpose和concat类型为int8 ,请问无推理结果如何解决

[2022-08-17 06:16] liyancas commented on #9353
@hong19860320

[2022-08-17 07:05] nalanyinyue commented on #9195
请问有进展吗

[2022-08-17 07:20] nalanyinyue commented on #9195
请问ssd头部融合，强制转换transpose和concat类型为int8，无推理结果是为什么呢

[2022-08-17 07:23] nalanyinyue commented on #9284
请问有进展吗

[2022-08-17 09:53] nalanyinyue commented on #9344
我编译了，推理没区别

[2022-08-17 14:09] qinshiran commented on #8489
请问是否支持paddle模型转换为tensorflow模型，具体参考的链接是？

[2022-08-18 03:32] hong19860320 commented on #9353
文档列出的芯片是经过我们已经验证的，理论上可以支持所有支持 APU 的 MTK 芯片，但由于 NeuronAdapter 库是需要 MTK 授权的，不是每个设备的 firmware 都带这个库的，因此，如果需要使用这个能力，一般来说需要和 MTK 直接合作。

但是，针对 MTK APU，我们还提供了 Android NNAPI 的方式，具体可以看下这个文档 https://www.paddlepaddle.org.cn/lite/develop/demo_guides/android_nnapi.html

[2022-08-18 04:03] mjp9527 commented on #9333
你这个fp32模型也检测不到任何结果，repo原始模型是一个固定输入的量化模型

[2022-08-18 04:05] mjp9527 commented on #9333
运行时要把这注释掉，否则修改的模型和库会被覆盖掉
<img width="1134" alt="image" src="https://user-images.githubusercontent.com/54735487/185291262-de83128e-5d97-4502-bbba-d74e3b906309.png">

[2022-08-18 09:21] sprouteer commented on #9360
您好，可以使用opt工具，./opt --model_file=./model.pdmodel --param_file=./model.pdiparams --optimize_out=./out --valid_targets=opencl ，详情参考https://paddle-lite.readthedocs.io/zh/latest/demo_guides/opencl.html#id1

[2022-08-18 09:28] zhenzi0322 commented on #9360
使用`opencl`生成`nb`模型后，预测的效果不是我想要的。

但是使用`x86`生成`nb`模型预测的效果就是我想要的。问题就是`x86`使用不了`gpu`。

[2022-08-19 01:53] QShiX opened #9364 "CRNN is listed in "supported model" but missing the link."
CRNN 在https://paddle-lite.readthedocs.io/zh/latest/quick_start/support_model_list.html 已经列出支持，但是没有模型链接，可否提供训练过的paddle lite版模型。谢谢

[2022-08-19 06:42] shentanyue commented on #9364
可以看下这个文档，里面的模型链接更全一点，含有CRNN：https://paddle-lite.readthedocs.io/zh/develop/demo_guides/huawei_ascend_npu.html

[2022-08-19 07:00] QShiX commented on #9364
好的，谢谢。这个可以update下 supported model那个链接么，或者我可以再提个doc的issue。方便用户直接找到需要的model。

[2022-08-19 11:29] myzhuang commented on #9297
您好，请问一下。place.target == TARGET(kIntelFPGA)的删除，是不是指subgraph_pass.cc里面的IntelFpgaSubgraphPass的return，去掉&&后面的place.target == TARGET(kIntelFPGA)？
除了这两处要改，是否还要修改其它东西才能实现？

[2022-08-19 13:23] myzhuang commented on #9297
您好，请问一下。place.target == TARGET(kIntelFPGA)的删除，是不是指subgraph_pass.cc里面的IntelFpgaSubgraphPass的return，去掉&&后面的place.target == TARGET(kIntelFPGA)？
除了这两处要改，是否还要修改其它东西才能实现？

[2022-08-20 17:28] nalanyinyue commented on #5517
多说一句难，惜字如金

[2022-08-22 06:22] sprouteer commented on #9360
请问具体的gpu型号是什么，如果使用不了gpu，可以试试--valid_targets=x86，这是x86 cpu的方式

[2022-08-23 06:21] shentanyue commented on #9364
欢迎提PR更新，commit时的-m信息里记得增加 test=document_fix ，可以跳过CI

[2022-08-23 10:26] owooov opened #9371 "模型转换为nb，安卓应用加载不起来，应用崩溃"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题: [历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

建立 issue 时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型转换报错”
- 版本、环境信息：
    1）Paddle Lite 版本：2.11
    2）Host 环境：Ubuntu 20.4
- 模型

[2022-08-23 15:37] SuyueLiu opened #9374 "paddle-lite fom 安卓demo编译失败"
下载安卓版本的fom demo，Android studio编译完成之后提示Cannot resolve symbol 'PaddlePredictor'等错误，这些错误都指向import com.baidu.paddle.lite报错，请教一下我是不是漏掉了哪些步骤？如何解决这个问题？
另外，我下载好编译好的预测库之后应该放到哪里？如何配置？

第一次使用paddle相关的东西，不太熟悉，还请大佬多指点指点！

[2022-08-24 07:37] #9371 closed, assigned to csy0225

[2022-08-24 07:39] owooov commented on #9371
以解决，paddle模型和paddlelite版本不兼容

[2022-08-25 07:09] woshipp07 commented on #9333
那边有注释掉，我确定运行的库就是最新的，固定输入的量化模型 怎么理解？

[2022-08-26 01:57] engineer1109 opened #9380 "Global work group size is not evenly divisible by local work group size"
   1）Paddle Lite 版本：develop(v2.11)
    2）Host 环境：Ubuntu20.04  x64
    3）运行设备环境：/
    4）预测后端信息:  Intel 11th Gen Intel(R) Core(TM) i5-1135G7 @ 2.40Ghz
- 预测信息
    1）预测 API：C++
    2）预测选项信息：OpenCL
    3）预测库来源：源码编译  ./lite/tools/build_linux.sh --arch=x86 --with_opencl=ON --with_log=ON --with_extra=ON full_publish

- 复现信息：ResNet50（官方模型生成） 输入推断。
- 问题描述：
-
I0826 09:43:00.282701 11272 cl_context.cc:38]  --

[2022-08-26 02:00] engineer1109 commented on #9380
I0826 09:43:00.281939 11272 matmul_image_compute.cc:112] persistableY: 1, transposeY: 0
I0826 09:43:00.281944 11272 matmul_image_compute.cc:185] y_ext_dims: {2048,12}
I0826 09:43:00.281946 11272 matmul_image_compute.cc:57] fp16_support = 0
I0826 09:43:00.282686 11272 matmul_image_compute.cc:236] x_dims:{1,2048}
I0826 09:43:00.282691 11272 matmul_image_compute.cc:237] y_dims:{2048,10}
I0826 09:43:0

[2022-08-26 02:12] engineer1109 commented on #9380
global_work_size 的第一个数 要被 local_work_size的第一个数 能整除才可以  提醒下OpenCL的WorkSize问题

[2022-08-26 02:51] engineer1109 commented on #9380
temp fix on https://github.com/PaddlePaddle/Paddle-Lite/pull/9381

可以临时解决问题。
但是 是否有其他影响 需要确认。

[2022-08-26 17:05] Aostas opened #9382 "paddlex 2.1.0 果蔬类别DEMO输出的模型量化后在rk1808(RKNPU/芯原 TIM-VX)上部署时报错"
- 版本、环境信息：
    1）Host 环境：WSL2 Ubuntu 18.04 + Windows 11
    2）Paddle Lite 版本：v2.11
    3）PaddleX(GUI) 版本：v2.1.0（PaddlePaddle v2.2.1）
    4）PaddleSlim 版本：v2.3.0/v2.2.1
- 硬件信息：
    Toybrick(瑞芯微) TB-RK1808M0
- 模型信息：
    1）模型名称：resnet50, mobilenet_v1
    2）模型来源：paddleX2.1.0 图像分类样例工程中除模型选择外全部使用默认参数训练并导出后量化得到
- 复现信息：
    1）训练：在PaddleX-gui 2.1.0 中使用图像分类样例工程使用默认参数训练
    2）量化：从[芯原 TIM-VX 部署示例](https://gith

[2022-08-27 07:54] Aostas commented on #9357
我把开发板上的文件/usr/lib/aarch64-linux-gnu/python3.6m复制到主机上的相同文件夹，可以通过编译，编译出来的文件也是aarch64的，但是编译出的whl文件还是标记成了x86_64, 有一个文档里提到了一句现在还不支持交叉编译python包，要在开发板上直接编译，但是那个文件我找不到了，感觉paddle的文档有点乱。。。

[2022-08-27 08:00] Aostas commented on #9357
哦，是v2.9文档里写的https://paddle-lite.readthedocs.io/zh/release-v2.9/source_compile/compile_env.html#arm-linux
但是我记得我是用v2.11编译的

[2022-08-27 10:22] rise-worlds commented on #9320
@liyancas 希望可以加入对android x86的支持，模拟器上可以跑的更流畅些。

[2022-08-27 12:28] yangy996 opened #9383 "armv7 编译报错"
- 标题：linux环境下编译Android armv7报错
- 版本、环境信息：
    1）Paddle Lite 版本：v2.11
    2）Host 环境：Ubuntu 20.04
- 复现信息：
    运行命令
    ./lite/tools/build_android.sh  --arch=armv7  --with_cv=ON --with_extra=ON --with_opencl=ON --android_stl=c++_shared
- 问题描述：
    In file included from /media/su/su/PycharmProjects/PaddleLite/Paddle-Lite-v2.11/Paddle-Lite/lite/backends/arm/math/funcs.h:17:0,
                 from /med

[2022-08-28 09:24] Aostas commented on #9382
我用PaddleX1.2.8训练出来的可以用，而且同样的参数出来的效果比2.1.0的好，是不是就是说paddlelite在使用nnadapter的时候只能用paddle fluid模型或者不能用动态图模型？希望能在文档中能有所体现。

[2022-08-29 06:56] rise-worlds commented on #8680
不能使用太新的linux版本，ubuntu 18.04/gcc 7.5编译通过，使用ubuntu 22.04/gcc 11.2不行。

[2022-08-29 07:00] hong19860320 commented on #9382
把你的模型发一下哈，目前 TIM-VX 支持的模型主要涉及 mobilenetv1, resnet50, mobilenetv2,ssd-mobilenetv1_relu，pptinypose, picodet（最近支持）, mobilenetv3（最近支持）等，@yingshengBD 帮忙看下

[2022-08-29 07:07] yingshengBD commented on #9382
一般的分类模型中，这个dequantize layer正常情况是不应该出现的，所以估计是你的模型在保存的过程中，最后被连续加上了 float的scale 算子（训练框架的行为），请netron看一下模型的最后，放出截图

[2022-08-29 07:27] Aostas commented on #9382
![image](https://user-images.githubusercontent.com/31911231/187147062-768cd35e-305e-4bac-9606-d92d6abe3fa7.png)

[2022-08-29 07:28] Aostas commented on #9382
![image](https://user-images.githubusercontent.com/31911231/187147273-aa5a712d-0346-4513-b69b-3860c8960b03.png)

[2022-08-29 07:49] Aostas commented on #9382
![image](https://user-images.githubusercontent.com/31911231/187151205-95717f04-5d71-4a83-9758-f1af9b125ba1.png)
![image](https://user-images.githubusercontent.com/31911231/187147942-fa168153-4bbf-43db-9e93-496acee8a4ec.png)

dequantize layer应该是在量化后出现的，但是paddlepaddle1.8.4训练出来的在同样版本的paddleslim下量化是ok
的

[model_paddle_2.2.1.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/9442499/model_paddle_2.

[2022-08-29 07:52] yingshengBD commented on #9382
模型中有两点
1，最后的scale是量化在调用python paddle api的时候加上的（其实就是训练框架的『特性』），这个节点要删掉。或者请在run脚本的最后一个入参，给予一个txt文件，那个是指定异构至cpu的配置，你就创建一个txt，里面写上：scale，就好。
2，当前你使用的是perchannel量化模式，当然也可以，但是1808的perchannel性能会掉一些，另外需要加入两个环境变量：export VIV_VX_ENABLE_GRAPH_TRANSFORM=-pcq:1; export VIV_VX_SET_PER_CHANNEL_ENTROPY=100。
如果需要改成perlayer的量化模式，slim demo中需要
<img width="178" alt="image" src="https://user-images.githubusercontent.com

[2022-08-29 07:56] Aostas commented on #9382
最后说的两个确实是abs_max和true
![image](https://user-images.githubusercontent.com/31911231/187152617-163b1125-e258-4e4a-a795-761615b349e1.png)
demo脚本有问题吗

[2022-08-29 08:10] #9364 closed, assigned to nobody

[2022-08-29 08:11] yingshengBD commented on #9382
刚才你发的截图怎么删了，那个里面有perchannel量化，同时最后也有个float scale。
现在的zip里的模型，跟你之前删掉的截图回复完全不同。跑起来有问题吗？

[2022-08-29 08:13] Aostas commented on #9382
不好意思，删掉的那个图是错的

[2022-08-29 08:24] Aostas commented on #9382
看了一下 确实是有scale
![image](https://user-images.githubusercontent.com/31911231/187157715-b5dce975-9cb9-454b-963f-896ef6c303ee.png)

[2022-08-29 08:52] yingshengBD commented on #9382
不是啊我看你最新的截图里并没有scale啊，
ok,那现在基于[__model__paddle2.2.1_paddleslim2.2.1_quant_post.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/9442620/__model__paddle2.2.1_paddleslim2.2.1_quant_post.zip) 这个模型，其实就是新版本的paddle框架整了个新的flatten_contiguous_range （其实就是flatten）算子 :-D。。。。但是2.2版本的paddle slim部分还没有对这个算子量化，改成2.3版本就行了,我是说paddle仓升级

[2022-08-29 09:06] Aostas commented on #9382
好的，我都试试

[2022-08-29 09:11] yingshengBD commented on #9382
你只要把paddle 重新pip install 更新的版本（2.3以上）就好，手动编whl也行。
然后重新运行slim demo

[2022-08-29 09:58] fengyanWang opened #9386 "picodet 使用FP16推理报错：'calib' is not supported by Paddle-Lite"
### 运行环境：
paddle_lite_opt版本：v2.11
paddle_lite预测库版本：v2.11（官网下载：inference_lite_lib.android.armv8.gcc.c++_shared.with_extra.tar.gz）
Host 环境：ubuntu 18.04
运行设备环境：展锐T610
预测后端信息：CPU

### 模型转换：
paddle_lite_opt --model_dir=./output/picodet_s_192_coco_lcnet/output_inference/picodet_s_192_coco_lcnet --valid_targets=arm --optimize_out=./output/picodet_s_192_coco_lcnet/lite/picodet_s_160_coco_fp16 --enable_fp1

[2022-08-29 10:13] fengyanWang commented on #9386
补充一点：换成高通730G（大核A76）平台也不行

[2022-08-29 11:10] Aostas commented on #9382
[code]
新的错误

[__model__paddle2.3.2_paddleslim2.3.2_quant_post.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/9444025/__model__paddle2.3.2_paddleslim2.3.2_quant_post.zip)
量化前的模型还是[model_paddle_2.2.1.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/9442499/model_paddle_2.2.1.zip)里的那个

[2022-08-29 11:29] yingshengBD commented on #9382
我看了下模型，怎么跟你的日志有点对不上
再加两个环境变量
export VIV_VX_DEBUG_LEVEL=1
export VSI_NN_LOG_LEVEL=5
export GLOG_v=5
重新收集日志

[2022-08-29 11:34] mjp9527 commented on #9383
推荐使用docker编译，或参考：https://github.com/PaddlePaddle/Paddle-Lite/pull/9196/files

[2022-08-29 11:36] mjp9527 commented on #9386
<img width="727" alt="image" src="https://user-images.githubusercontent.com/54735487/187192518-555bbc4e-4106-4f10-b9bf-951eed8ffa1d.png">
使用带fp16标签的库

[2022-08-29 11:51] Aostas commented on #9382
[run_with_ssh.log](https://github.com/PaddlePaddle/Paddle-Lite/files/9444213/run_with_ssh.log)
我是用run_with_ssh.sh跑的，并且把脚本里所有的-v去掉了
完整的模型
[shucai232.7z.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/9444251/shucai232.7z.zip)

[2022-08-29 12:22] yingshengBD commented on #9382
原来如此，其实是新版本paddle训练默认matmul_v2，但是你用的paddlelite版本此时还没有支持matmul V2的融合
有两个方法解决
1，升级paddlelite，直接用develop版本
2，之前回复说的异构配置，你创建一个新的txt，复制粘贴如下这段
matmul_v2:flatten_0.tmp_0,linear_0.w_0:linear_0.tmp_0.dequantized
elementwise_add:linear_0.tmp_0.dequantized,linear_0.b_0:linear_0.tmp_1
softmax:linear_0.tmp_1:softmax_0.tmp_0
然后把这个txt作为run的最后一个选项
<img width="462" alt="image" src="https://user-images.githubuserco

[2022-08-29 12:34] Aostas commented on #9382
ok了，感谢你的协助。
这些问题确实在文档里比较难体现，文档里指定一个肯定能用的版本组合可能会好一些。

[2022-08-29 12:39] yingshengBD commented on #9382
感谢你的建议，近期确实对量化这一块有比较多的变动。后续会着重考虑 训练 量化 推理整个流程。
另外，刚才的两个方案，直接用2第二条就好，异构配置

[2022-08-29 12:47] Aostas commented on #9382
好的，那我关闭了

[2022-08-29 12:47] #9382 closed, assigned to sprouteer

[2022-08-30 01:08] yangy996 commented on #8873
ocr 现在支持opencl了么，大佬测试成功了吗？

[2022-08-30 02:04] EricHuiK commented on #8873
没怎么关注了paddle_lite了，我后面用mnn了

该邮件从移动设备发送

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/Paddle-Lite"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年8月30日(星期二) 上午9:08
***@***.***&g

[2022-08-30 06:22] sprouteer commented on #9380
好的，多谢反馈，我们尽快修复

[2022-08-30 09:15] fengyanWang commented on #9386
谢谢，程序可以跑起来了，这边还想问下arm架构中支持FP16计算的是不是只有大核，如果绑定小核FP16是不是就失效了

[2022-08-30 09:19] ZhuGeRoastedFish opened #9388 "安卓端推理模型内存占用巨大且推理后无法释放"
一个10MB的int8模型，加载并运行一次后内存占用达到了接近240MB，且通过predictor_.reset();仅能释放模型缓存本身的空间，也就是释放完还需要占220MB左右，如何才能把各个阶段的张量一并释放掉呢？否则多来几个模型设备就要强行关机了

[2022-08-30 09:44] yyqwert4 opened #9390 "[OpenCL] ch_ppocr_mobile_v2.0_det_infer fail"
- 版本、预测库信息：
    1）Paddle Lite 版本：branch develop
    2）Host 环境：20.04.1-Ubuntu
    3）运行设备环境：X86
    4）预测后端信息：OpenCL Nvidia 1660 super
- 预测信息
    1）预测 API：C++
    2）预测选项信息：benchmark_bin,
cmd="./build.lite.linux.x86.gcc.opencl/lite/api/tools/benchmark/benchmark_bin --model_file=./models/ch_ppocr_mobile_v2.0_det_infer/ch_ppocr_mobile_v2_0_det_v2_0/model.pdmodel --param_file=./models/ch_ppocr_mobile_v2.

[2022-08-30 11:38] hong19860320 commented on #9388
一般不会存在这种情况的，麻烦把模型发上来，我们这里复现看看哈~

[2022-08-30 12:49] ZhuGeRoastedFish commented on #9388
好的，模型在这里：链接: https://pan.baidu.com/s/1Kau_GPSiw8SI55dw4anTaw 提取码: 1234 复制这段内容后打开百度网盘手机App，操作更方便哦
--来自百度网盘超级会员v5的分享，

感谢您！

[2022-08-30 15:52] hong19860320 commented on #9390
@sprouteer tiantian，帮忙看下哈~

[2022-08-31 01:34] Aostas opened #9391 "自己编译的带verisilicon_timvx的whl文件，安装后运行mobilenetv1_full_api.py报错"
- 版本、环境信息：
    1）Paddle Lite 版本：v2.11/develop 带verisilicon_timvx
    2）Host 环境：debian10@TB-RK3399ProX(aarch64的python包只能在aarch64的cpu上编，如果交叉编译whl包会被标记成host对应的平台)
    3）运行设备环境：TB-RV1808M0
    4）预测后端信息：npu
- 编译/安装方式信息：
1）本地编译：
修改./lite/tools/build_linux.sh
[code]
编译
[code]
输出python安装包：paddlelite-2.11-cp37-cp37m-linux_aarch64.whl
2）pip 安装：
[code]
或
[code]

如果不用root安装或者标记成user的话会有警告
[code]

- 复现信息：
根据[p

[2022-08-31 03:09] QShiX opened #9392 "[OpenCL] Deeplabv3 fail"
版本、预测库信息：
   1）Paddle Lite 版本：branch develop
   2）Host 环境：20.04.1-Ubuntu
   3）运行设备环境：X86
   4）预测后端信息：OpenCL Nvidia 1660 super
预测信息
   1）预测 API：C++
   2）预测选项信息:
./build.lite.linux.x86.gcc.opencl/lite/api/tools/benchmark/benchmark_bin --uncombined_model_dir=./models/deeplab_mobilenet_fp32_fluid/ --input_shape=1,3,1,1 --warmup=10 --repeats=20 --backend=opencl,x86 --gpu_precision=fp32

Model link
http

[2022-08-31 03:27] QShiX opened #9393 "[OpenCL] MTCNN fail"
版本、预测库信息：
1）Paddle Lite 版本：branch develop
2）Host 环境：20.04.1-Ubuntu
3）运行设备环境：X86
4）预测后端信息：OpenCL Nvidia 1660 super

预测信息
1）预测 API：C++
2）预测选项信息(以det1为例):
./build.lite.linux.x86.gcc.opencl/lite/api/tools/benchmark/benchmark_bin --uncombined_model_dir=./models/mtcnn/det1/ --input_shape=1,3,12,12 --warmup=10 --repeats=20 --backend=opencl,x86 --gpu_precision=fp32

model link
https://paddlelite-demo.bj.b

[2022-08-31 09:31] sprouteer commented on #9392
argmax 在keepdims 为false的时候，并且输入维度为类似这样（？2 ？？）一个维度有值，其他维度为？这样的时候，有bug，排期修复中

[2022-08-31 09:32] sprouteer commented on #9393
可以看一下conv 算子注册是不是缺少 Prelu_alpha这个输入，而网络中的conv有这个输入参数

[2022-08-31 16:04] hong19860320 commented on #9391
PaddleLite+TIM-VX 不支持 RK3399pro 哈（因为 RK 没有提供相应的驱动和 VSI SDK）~  目前是支持RK1808、1126、1109，晶晨C308X、s905D3、A311D 和 NXP imx8plus 的，如果手上有这些芯片，可以直接尝试我们文档提供的一键 demo https://www.paddlepaddle.org.cn/lite/develop/demo_guides/verisilicon_timvx.html 哈 。

[2022-09-01 09:01] Aostas commented on #9391
看清除，只是借用3399编译，3399是host，我用的是1808

[2022-09-02 10:53] 2050airobert opened #9400 "带int8量化信息的onnx模型部署missing！"
hi，
    请问下：
   1 paddle是否支持将带int8量化信息的onnx模型转化为paddle detection支持的模型？
    2 paddlelite是否支持将带int8量化信息的onnx模型转化为paddle lite 或者 芯源 NPU 支持的模型？
    3 什么时候会支持呢？是否可以提供一些其他解决方法，多谢
BR

[2022-09-03 03:53] tomfent commented on #9194
原生C++实现的图片预处理如何实现？

[2022-09-05 01:27] Aostas commented on #9391
只是借用3399编译，3399是host，我用的是1808

[2022-09-05 03:02] dlkht opened #9405 "paddle lite opt转换量化训练输出模型出现的问题"
涉及版本：
paddlepaddle-gpu : 2.3.2
paddleslim : 2.3.4
paddle lite opt 2.10

1.我用https://github.com/PaddlePaddle/PaddleNLP/blob/develop/examples/machine_translation/transformer/static/train.py
 训练了一个中英翻译模型
2. 然后再用paddleslim的quant_aware 进行静态量化训练，得出infer模型 transformer.pdiparams和transformer.pdmodel
3. 最后用paddle lite opt工具（2.10)进行优化转换，命令是：
    ./opt --model_file=./transformer.pdmodel --param_file=./transfo

[2022-09-05 05:55] hong19860320 commented on #9391
这个是怎么用的呢？我记得之前 RK 同学说，如果要支持RK3399pro的 NPU，是需要相关驱动的，因为RK3399pro 是通过usb 总线将rk3399和rk1808芯片连接起来的，你是怎么访问1808芯片的呢？我们也希望把 rk3399pro的 NPU 用起来。

[2022-09-05 06:34] mjp9527 commented on #9386
主要是看cpu是否支持armv8.2指令集，比如A55就支持

[2022-09-05 06:39] sprouteer commented on #9390
好的，运行时试试加上参数 --opencl_tune_mode=none

[2022-09-05 06:45] Aostas commented on #9391
我没用rk3399的npu，只是找了个aarch64的平台编译(刚才用nx也能编译)生成aarch64的wheel(在rk1808上编译太慢而且内存不够)，最终访问1808的也不是rk3399，我只是在rk3399上编译完成后吧whl文件通过pc传给rk1808

[2022-09-05 09:25] hp-xiaomage commented on #8702
大神你好，我按照你说的情况，将输入shape和输入tensor个数修改后成功运行，但是发现一个情况就是，我识别的原图是 3200*1440，而我的模型是608*608，输出的数值框选被缩小后的outputBitmap里面的目标位置没问题，但是我发现，就输出的位置，要换算成能正确框选 原图3200*1440的位置时，怎么计算都是错误，我发现lite的android demo里面有一段代码，宽高计算出来用的算法，是把左、上 跟宽去相乘，右、下 跟高相乘，不知道为什么会是这样的算法，不应该是左右跟宽，上下跟高相乘吗？
<img width="1092" alt="image" src="https://user-images.githubusercontent.com/12270504/188416134-50404079-f40c-4316-bd10-9819f6166bd0.png">

[2022-09-05 09:30] hp-xiaomage opened #9408 "模型输出的位置如何换算成真实输入图片的位置"
- 标题：简洁、精准描述您的问题，例如“ssd 模型转换报错”
- 版本、环境信息：
    1）Paddle Lite 版本：2.10
    2）Host 环境：android

你好，我识别的原图是 3200x1440，而我的模型是608x 608，识别成功后，输出的数值去框选被缩小后的outputBitmap里面的目标位置没问题，但是我发现输出的位置，要换算成能正确框选 原图3200x1440的位置时，怎么计算都是错误，我发现lite的android demo里面有一段代码，宽高计算出来用的算法，是把左、上 跟宽去相乘，右、下 跟高相乘，不知道为什么会是这样的算法，不应该是左右跟宽，上下跟高相乘吗？
<img width="1304" alt="image" src="https://user-images.githubusercontent.com/12270504/188416

[2022-09-06 07:26] liweikui opened #9410 "object_detection_demo (C++)，代码config.set_model_from_file(model_path);出现Segmentation fault"
- 版本、环境信息：
    1）Paddle Lite 版本：v2.11
    2）Host 环境：Ubuntu 18.04
    3）运行设备环境：树莓派4B（ aarch64）
    4）预测后端信息：CPU
- 复现信息：
   按照官方文档操作：https://paddle-lite.readthedocs.io/zh/release-v2.10_a/demo_guides/linux_arm_demo.html
- 问题描述：
....PaddleLite-armlinux-demo/object_detection_demo$ sh run.sh
-- The C compiler identification is GNU 7.5.0
-- The CXX compiler identification is GNU 7.5.0
-- Check for workin

[2022-09-06 07:38] liweikui commented on #9410
...:/$ uname -a
Linux 5.4.0-1015-raspi #15~18.04.1-Ubuntu SMP Fri Jul 10 09:20:51 UTC 2020 aarch64 aarch64 aarch64 GNU/Linux
我在设备上本地编译Paddle-Lite的源码，可以成功编译。使用我编译的Paddle-Lite库文件和头文件，还是同样的错误。

[2022-09-07 06:56] ZhuGeRoastedFish commented on #9388
问题已解决，是我自己写的释放函数不对，调整后就没问题了，可以充分释放内存！

[2022-09-07 06:56] #9388 closed, assigned to hong19860320

[2022-09-07 10:33] dlkht commented on #9405
出错的提示是指paddle lite 不允许用两个以上的tensor给 fill_constan op输入赋值，是不是这样？

[2022-09-08 06:20] dlkht opened #9416 "paddlelite opt 转换量化训练输出模型出错"
版本、环境信息：
    1）Paddle Lite 版本：release/2.11
    2）Host 环境：Ubuntu 20.04
          paddlepaddle-gpu : 2.3.2
          paddleslim : 2.3.4

- 模型信息
    1）transformer
    2）[模型链接]
      链接：https://pan.baidu.com/s/1sjNHKe6jnnCbMNFP9CZWBA
      提取码：rdtk

- 复现信息：
- 提供 OPT 使用命令或方法，用于复现问题
  ./opt --model_file=./transformer.pdmodel --param_file=./transformer.pdiparams --optimize_out_type=naive_buffer --optimiz

[2022-09-09 03:06] deshuai666 opened #9419 "opt工具转换量化预测模型后的是FP32类型还是其他类型"
导出的量化模型相比原始FP32模型，模型体积没有明显差别，这是因为量化预测模型中的权重依旧保存为FP32类型。在部署时，使用PaddleLite opt工具转换量化预测模型后，模型体积才会真实减小。

[2022-09-09 03:20] #9419 closed, assigned to hong19860320

[2022-09-09 06:42] deshuai666 opened #9420 "opt模型转换工具完成模型转换后的参数是int8还是仍是float32？"
python deploy/slim/quantization/export_model.py -c configs/det/ch_ppocr_v2.0/ch_det_mv3_db_v2.0.yml -o Global.checkpoints=output/quant_model/best_accuracy Global.save_inference_dir=./output/quant_inference_model

PaddleOCR中量化训练后，文档中写道
上述步骤导出的量化模型，参数精度仍然是FP32，但是参数的数值范围是int8，导出的模型可以通过PaddleLite的opt模型转换工具完成模型转换。

[2022-09-09 09:34] yyqwert4 commented on #9390
运行时加上参数 --opencl_tune_mode=none可以跑过，谢谢！

[2022-09-13 06:52] zhupengyang commented on #9420
量化模型经过 opt 转换后，参数是 int8 类型的

[2022-09-13 14:08] OHeroJ opened #9431 "希望能支持 flutter"
希望能支持 flutter

[2022-09-14 07:02] jizhu1023 commented on #8579
同问

[2022-09-14 07:08] jizhu1023 commented on #9191
同问

[2022-09-14 09:14] thomaszheng opened #9436 "paddleocr android opencl 部署报错"
- 版本、环境信息：
paddle lite v2.11 commitId 65385954b
ndk:android-ndk-r21d

paddleocr v2.6
host:mac 10.15.7

- 模型信息
    1）模型名称
https://paddleocr.bj.bcebos.com/PP-OCRv2/chinese/ch_PP-OCRv2_det_infer.tar
https://paddleocr.bj.bcebos.com/PP-OCRv2/chinese/ch_PP-OCRv2_rec_infer.tar
https://paddleocr.bj.bcebos.com/dygraph_v2.0/ch/ch_ppocr_mobile_v2.0_cls_infer.tar

操作步骤：
#### 一. 模型转换
./lite/tools/build_android

[2022-09-14 09:51] jizhu1023 commented on #9132
@sprouteer 请问大概多久后可以支持?

[2022-09-15 07:40] Genlk opened #9443 "PaddleLite-generic-demo 里面的subgraph_partition_config_file.txt 是在哪一个流程当中生成的呢？"

[2022-09-15 09:22] sprouteer commented on #9436
可以把转后的模型贴一下吗，谢谢

[2022-09-16 02:16] hong19860320 commented on #9443
这个是自己设置的，可以参考文档 https://www.paddlepaddle.org.cn/lite/develop/develop_guides/nnadapter.html 的这个部分内容。

![image](https://user-images.githubusercontent.com/9973393/190541965-f4c96b88-4bbc-4904-937b-7f6a01684d55.png)

[2022-09-16 05:48] thomaszheng commented on #9436
@shentanyue
链接: https://pan.baidu.com/s/1OvU7GRYU4Sju2vDyLNKgqQ 提取码: e4fn

里面包含模型，和生成so文件

[2022-09-16 10:46] MarginGitHub commented on #9263
所以到目前为止都没有什么进展吗？再不行我就要转战Pytorch了

[2022-09-17 07:05] qlogcn commented on #8970
准备用rk3568+paddle做项目，希望官方多多支持rk3568

[2022-09-19 03:30] Hyperpepe commented on #8488
怎么解决的呢

[2022-09-19 07:24] fengyanWang opened #9464 "paddle lite 使用OPENCL推理"
- 标题：使用OPENCL在arm GPU推理报错
- 版本、预测库信息：
  - Paddle Lite 版本：v2.11
  - Host 环境：Ubuntu 18.04
  - 运行设备环境：展锐T610 (GPU为614.4MHz 的Mali G52)
  - 预测后端信息：GPU
- 预测信息
  - 预测 API：c++
  - 预测选项信息：armv8，单线程
  - 预测库来源：https://github.com/PaddlePaddle/Paddle-Lite/releases/download/v2.11-rc/inference_lite_lib.armv8.clang.with_exception.with_extra.with_cv.opencl.tar.gz

- 错误信息
2022-09-19 15:14:48.339 20529-20529/? A/DEB

[2022-09-19 08:04] shentanyue commented on #9431
PaddleLite 主要专注于推理优化，对于 flutter 这类上层的应用适配，不在我们的开发范围内，感谢支持。

[2022-09-19 10:14] engineer1109 commented on #9380
@sprouteer On the lastest develop branch, still not fixed.

[code]

To Get the Model

Inference Model (Manual Gen by https://github.com/PaddlePaddle/PaddleClas/blob/release/2.5/tools/export_model.py)
[code]
BaiduYun Link

链接: https://pan.baidu.com/s/1ypvWJTXszMYs-zzeDT08Lw?pwd=drtg 提取码: drtg

[2022-09-19 12:12] foreverlms opened #9468 "模型转换出错，很简单的depthwise单算子模型"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题: [历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

建立 issue 时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型转换报错”
- 版本、环境信息：
    1）Paddle Lite 版本：v2.11
    2）Host 环境：MacOS Montery
-

[2022-09-19 12:56] tiendatAI opened #9469 "Failed to use PaddleLite to optimize pretrained models from PaddleSpeech"
Hi,
I'm trying to use some pre-trained models from PaddleSpeech and realize that some ops are not supported in arm and openCL such as "round", "set_value", "share_data", "pad", etc.
I use this script to optimize the model :
[code]
Seem like quite a lot ops are still unsupported
1. How can I ignore the optimization process for individual unsupported ops?
2. If not, please suggest some possible solu

[2022-09-20 02:38] #9353 closed, assigned to liyancas

[2022-09-20 03:28] Hyperpepe opened #9471 "A311D 的npu版本问题"
基础信息
    1）Paddle Lite 版本：v2.10
    2）Host 环境：Ubuntu 2004
    3）运行设备环境：荣品Amlogic A311D开发板
    4）预测后端信息：amlogic_NPU加速器
预测信息
    1）预测 API：Demo C++
    2）预测选项信息：&&
    3）预测库来源：官网下载
问题和#8488类似，可以说一模一样。但是我咨询了一下荣品的客服，paddle团队使用的golcore版本荣品官方跳过了那个版本，未编译适用于这个demo的镜像，但是在paddle官网我看到的板子的型号就是荣品的。我就有点不解。放图
![1](https://user-images.githubusercontent.com/74920047/191160035-db778415-7e08-476d-91a4-a55468091a35.pn

[2022-09-20 03:36] yingshengBD commented on #9471
https://www.paddlepaddle.org.cn/lite/develop/demo_guides/verisilicon_timvx.html
请参考我们最新的芯原NPU文档。

由于芯原release的NPU ip很多，芯片厂release给下游设备商也有不同版本，所以存在环境版本碎片化的问题，但是参考上面的文档链接，就可以解决。

[2022-09-20 03:40] Hyperpepe commented on #9471
我这个昨天也看过了，但是我这个切换软连接也出现了问题，意思就是，无法删除原有的golcore版本，安装新版本是可以的但是会存在两个版本共存的情况，切换软连接也无济于事。所以我无奈想寻找一个打包好的镜像。

[2022-09-20 06:14] yingshengBD commented on #9471
galcore如果之前无法卸载，还有一种操作：
在根目录find -name galcore.ko 这样可以找到galcore在系统的默认存放地址，把原来那个备份+删除，把新的放进去这个目录然后重启
至于你说的软链接问题，我没太理解是啥问题

[2022-09-20 06:52] Genlk commented on #9471
我在C308板子上面跑自己的模型，cpu可以运行，切换到amlogic_npu 之后，有下面的报错
![image](https://user-images.githubusercontent.com/24912927/191186942-306fab80-325b-44c5-8edd-759de7e642a7.png)
(模型数据的维度没有问题，torch版本的模型在服务器侧可以正常推理)，转换成端侧模型，在c308板子上跑的时候，有区别
请问两位有没有什么建议的解决思路？
@pigpigfang @yingshengBD

[2022-09-20 06:57] yingshengBD commented on #9471
1，不建议使用amlogic的文档，这个ddk很久没升级了，支持算子较少，建议使用芯原timvx的文档，按照那个流程。
2，日志截取全一点，应该不是挂在这里
3，不管是amlogic ddk的方式 还是芯原timvx的方式，模型都必须量化int8

[2022-09-20 07:05] Genlk commented on #9471
好的，我用芯原timvx的文档。
我先确认一下我这边量化的问题

[2022-09-20 10:21] engineer1109 opened #9476 "[Model Crash On Exception Pointer] s2anet_conv_2x_dota"
Paddle Lite Develop 9d390911d8e6b0ef702c7a9c2f405f197b3fb012
Ubuntu 20.04 GCC 9.4.0

s2anet_conv_2x_dota

Get From PaddleDetection(Develop)

Model Inference(Export):
https://pan.baidu.com/s/1dYP_vzDf48PHBRVgXk1VNw?pwd=ti8v

Crash On
[code]

Crash on the slice_buffer_compute.cc
Line 186 void SliceCompute<T, PType>::Run()
[code]

The x_buf refer to the clbuffer is 0x00000008,  Null Pointer.

[2022-09-20 11:04] QShiX opened #9477 "【OpenCL】paddleDetection model s2anet_conv segfault with Opencl backend"
-系统信息
    1）Paddle Lite 版本：develop  bb0260034b4f1ac77f502021dee587c6eeddff6c
     2）Host 环境：Ubuntu 22.04.1 LTS 5.15.0-47-generic
    3）运行设备环境：cpu: x86, gpu:GPU AMD Radeon RX 6900 XT
- 预测信息
    1）预测 API：C++
    2）预测选项信息：./build.lite.linux.x86.gcc.opencl/lite/api/tools/benchmark/benchmark_bin --model_file=./models/s2anet_conv_2x_dota/model.pdmodel --param_file=./models/s2anet_conv_2x_dota/model.pdip

[2022-09-20 14:12] CodeLearner-ICU commented on #9208
我也遇到这个问题了，后来仔细看了文档里说的是Paddle Lite v2.6 及以上版本编译的方法。于是换v2.6的再试下可以了，奇怪的是它底下的示例却是用的v2.10，但为什么我用v2.10时会出现这个问题原因还是不清楚
![image](https://user-images.githubusercontent.com/55921318/191279644-7eb0fc28-6419-43de-8485-f49ad8151b47.png)

# 2. 下载 Paddle Lite 源码并切换到发布分支，如 release/v2.10
git clone https://github.com/PaddlePaddle/Paddle-Lite.git
cd Paddle-Lite && git checkout release/v2.10        ---这里的v2.10换成v2.6就

[2022-09-21 01:44] thomaszheng commented on #9436
@sprouteer 你好，网盘中的模型和so，你这边会遇到同样的报错吗？

[2022-09-21 02:49] sprouteer commented on #9476
谢谢反馈，跟进中

[2022-09-21 05:58] Sweezy27 opened #9480 "同时加载两个opencl gpu模型，结束后只保存第二个模型的kernel"
Paddle Lite 版本：2.11
Host 环境：Mail G31 opencl
运行设备环境：px30

创建了两个predictor 两个config file
yolo_model_cfg.set_opencl_binary_path_name(yolo_opencl_dir, yolo_opencl_kernel_name);
yolo_model_cfg.set_opencl_tune(CL_TUNE_NORMAL, yolo_opencl_dir, yolo_opencl_tuned_name);
yolo_model_cfg.set_opencl_precision(CL_PRECISION_FP16);

cls_config.set_opencl_binary_path_name(cls_opencl_dir, cls_opencl_kernel_name);
cl

[2022-09-22 07:17] sprouteer commented on #9480
好的，我先复现看看，再给您回复

[2022-09-22 08:10] Sweezy27 opened #9487 "一个predictor连续推理两张不同图片，第二张图片模型输出包含第一张图片输出内容"
Paddle Lite 版本：2.11
Host 环境：Mail G31 opencl
运行设备环境：px30

predictor里的数据可以清零吗？接口里没有发现
还是推理第二张图片需要新创建一个predictor？

[2022-09-22 08:44] ANDROIDTODO opened #9489 "MacOS M1 编译OpenCL版本报错"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题:[历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

建立 issue 时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac 编译错误”
- 版本、环境信息：
    1）Paddle Lite 版本： CommitID:51a85087068680ae3529

[2022-09-22 08:44] Hyperpepe commented on #9471
我更换了另一个厂家的开发板后发现尽管golcore版本对上了，可是依旧无法识别NPU
![Snipaste_2022-09-22_16-43-31](https://user-images.githubusercontent.com/74920047/191701098-4b9611f2-79bc-440c-957c-9f6b29a8ef3d.png)
还有一个问题就是交叉编译的问题，我在页面上点击DOCKER镜像时显示页面无法显示，请问是把这篇文章删掉了吗。还是说可以参考paddlepaddle的docker镜像。我的板子是刚刚到手的新板子，还未updata以及upgrade。khadas的VIM3。

[2022-09-23 01:38] liyancas commented on #9464
你好，请问下模型使用OPT转换时设置的target为opencl了吗？日志“ nb model will be running on cpu”显示是arm CPU模型

[2022-09-23 05:19] engineer1109 commented on #9431
这个自己写调用套C++啊

[2022-09-23 07:03] engineer1109 opened #9492 "[Host x86] unsupported active type:abs"
Paddle Lite 版本： develop a823590a46a175268271669c85cb6c6c680e2bec
Host: Ubuntu 20.04 GCC 9.4.0
I7 12700

CPU缺少算子 abs
https://pan.baidu.com/s/1dYP_vzDf48PHBRVgXk1VNw?pwd=ti8v

CPU模式运行出现。

[2022-09-23 09:14] hong19860320 commented on #9492
I7 12700，你这个是需要在 x86 CPU 上跑模型吗？

[2022-09-23 09:28] engineer1109 commented on #9492
@hong19860320  OpenCL上跑不了，就试试CPU 发现有新的BUG也跑不了

[2022-09-23 10:33] hong19860320 commented on #9492
嗯，麻烦 @sprouteer 更进下这个问题哈，优先解决 OpenCL 的问题吧。

[2022-09-23 10:38] hong19860320 commented on #9492
我看了下这个模型，从结构上看很复杂，而且还有控制流算子和子 block，感觉一时半会不好解决，不是特别建议使用 Paddle Lite 部署的，可以考虑走 PaddleInference 哈~

[2022-09-24 02:21] Sweezy27 commented on #9487
模型：ppyolo-tiny
流程是这样的：
predictor preprocess img1
predictor->run()
predictor postprocess
predictor preprocess img2
predictor->run()
predictor postprocess
第二次postprocess getoutput(0) 内包含img1的结果
问题在哪呢？

[2022-09-24 03:43] Mamaka2020 opened #9495 "树莓派4B上部署 图像分割nb模型，python环境可以运行结果正确, 但是c++ 预测输出结果全是0。"
您好，我在树莓派4B上部署分割nb模型，python环境可以运行结果正确, 但是c++ 预测输出结果全是0。不知道是对图片预处理，还是什么错误，麻烦解答一下。

- 版本、预测库信息：
    1）Paddle Lite 版本：v2.11
    2）Host 环境：armv7hf 树莓派
    3）运行设备环境：树莓派4B
    4）预测后端信息：cpu
- 预测信息
    1）预测 API：C++
    2）预测选项信息：armv7hf
    3）预测库来源：官网下载
- 复现信息：如为报错，请提供剥离业务环境的可复现预测 demo，用于问题复现
- 问题描述：按照官方的moblienetv2.cc demo改动，图像分割的nb模型自己训练，python 环境可以成功预测分割，但是c++输出结果 是0，不知道是不是对图片的预处理出了问题，**请拜托解答一下！！！感激不尽**

[2022-09-24 07:35] Mamaka2020 commented on #9495
帮帮我

[2022-09-25 06:34] Mamaka2020 commented on #9495
没人吗？

[2022-09-26 07:57] liyancas commented on #9489
Conv2d3x3 问题已经修复；针对image layout对w和h的限制，我们额外增加了很多GPU buffer 算子，以及两种layout的可配置(PR尚未合入)，可以解决于https://github.com/PaddlePaddle/Paddle-Lite/issues/9314 中一类issue

[2022-09-26 08:05] liyancas commented on #9487
问题可以描述可以更具体点吗？比如img1的output是什么，img2 ouput是什么，两者串行输出的问题结果是什么样？

[2022-09-26 08:07] liyancas commented on #9495
你好，可以先对比下C++和python的前处理结果是否一致？

[2022-09-26 09:37] liyancas commented on #9495
麻烦提供一下分割模型、预处理好之后的数据和正确结果，我们分析下这个问题

[2022-09-26 10:21] engineer1109 commented on #9380
https://github.com/PaddlePaddle/Paddle-Lite/pull/9475 Fixes

[2022-09-26 10:21] #9380 closed, assigned to weishengying

[2022-09-26 11:07] Sweezy27 commented on #9487
img1的output：
![IMG_9683](https://user-images.githubusercontent.com/43864901/192261429-ffaad3c7-9e74-4a00-9995-e5039342add9.PNG)
img2的output：
![IMG_9684](https://user-images.githubusercontent.com/43864901/192261465-b94467ee-2cee-4e0c-a4eb-0176071375b6.PNG)

第二个output包含img1 output内容

[2022-09-26 11:28] Mamaka2020 commented on #9495
分割模型，图片数据, python实现文件都在这儿
[新建文件夹.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/9645759/default.zip)

[2022-09-27 02:37] Genlk opened #9500 "模型在板子上推理的时候，最后一步耗时太久？"
如图，在模型推理的最后一步，lifetime:MODEL_OUTPUT,耗时很长，1min 以上
![image](https://user-images.githubusercontent.com/24912927/192418507-a44f2375-57c6-423a-a86b-e159a701c71f.png)

[2022-09-27 12:41] zhupengyang commented on #9500
第一次运行耗时比较长是正常的，需要构建模型做优化等等

[2022-09-28 07:10] ming2681 opened #9507 "通过Opt转换的nb模型，在IOS端运行报错"
我在IOS的demo中运行download.sh(内部的lite版本是 v2_10_rc)，我在pc端的lite版本也是  2.10rc,当我将生成好的.nb目标检测模型复制到ios工程中，当运行到predictor->run的时候报错

具体报错如下
[W  9/28 15: 0:18.629 ...e-Lite/lite/model_parser/model_parser.cc:887 LoadModelFbsFromFile]
warning: the version of opt that transformed this model is not consistent with current Paddle-Lite version.
      version of opt:v2.10-rc
      version of current Paddle-Lite:375581

[2022-09-28 09:06] Sweezy27 commented on #9487
解决了，问了qq群里，yolo box有个bug
把图里面的opencl注册部分注释掉，重新编译，然后重新转模型就好了
![PHOTO_20220928_170140563](https://user-images.githubusercontent.com/43864901/192738204-892c1b2f-1546-4a2d-819d-51376c07e67c.jpg)

[2022-09-28 09:06] #9487 closed, assigned to nobody

[2022-09-28 09:51] Sweezy27 opened #9510 "paddleclas分类模型转换后，opencl推理不同类别图片，结果只会输出一类"
Paddle lite; v2.11
运行设备; px30 opencl/arm

模型：Shufflenet, Mobilenetv1, RestNet50
数据只有2个类别，上面3个模型转换成.nb前输出结果均正常，转换后opencl和arm下推理，所有图片的输出结果均为一类。

模型：mobilenetv3
mobilenetv3模型转换成nb后，所有图片结果均为class 0，score 0.5；class 1，score 0.5

推理前的图片预处理跟模型训练时保持一致。

问题在哪呢？

[2022-09-28 13:04] zhupengyang commented on #9507
refer to #8991

[2022-09-28 16:12] 2050airobert commented on #7253
@mjp9527
 请问下，--toolchain=gcc，clang armv8 是否支持openmp？

[2022-09-29 04:41] engineer1109 opened #9512 "SSD Crash on OpenCL Due to SliceCompute"
SSD运行PaddleLite崩溃
导出模型见链接 链接: https://pan.baidu.com/s/1ihvkA-vOG2cm30onxWMfDw?pwd=ej99 提取码: ej99

原始模型
https://paddledet.bj.bcebos.com/models/ssd_mobilenet_v1_300_120e_voc.pdparams

PaddleDetection导出
[code]

[2022-09-29 08:59] ming2681 commented on #9507
我看了里面的介绍，但是如果 GUI转换的模型，在生成.nb 不行，那怎样生成.nb才行呢？

[2022-09-29 09:11] hong19860320 commented on #9500
第一次推理需要在线生成 NPU 模型，耗时比较长，可以在 demo 执行 命令后面加上 null cache 就能将生成的 NPU 模型缓存到 cache 目录下，下次再推理的时候就能跳过模型生成阶段，会比较快的。

`
./run_with_ssh.sh mobilenet_v1_int8_224_per_layer linux arm64 verisilicon_timvx 192.168.100.30 22 khadas khadas null cache
`

[2022-09-29 09:15] hong19860320 commented on #9512
这个是跑在 ARM CPU 上吗？@csy0225 复现一下吧

[2022-09-29 09:18] hong19860320 commented on #9507
不是生成nb 模型的问题，是你的模型是三个输入，而demo里面是单输入的，你需要修改代码，把剩余两个输入 tensor 设置下数据。

[2022-09-29 09:24] engineer1109 commented on #9512
X86上

[2022-09-29 09:25] engineer1109 commented on #9512
又是Slice算子崩溃

[2022-09-29 09:50] MyraBaba opened #9513 "export to Hailo-8"
Hi,

there is a growing number of AI chips on the market. is there any work with this Hailo-8 chip with paddle detections ?

What is the best way to export visdrone model to hailo-8 ?

as ie : https://github.com/hailo-ai/hailo_model_zoo/blob/master/hailo_models/vehicle_detection/docs/TRAINING_GUIDE.md

and what is the best & recommended HW for edge inference with high accuracy ?

[2022-10-03 12:22] z411500976 opened #9516 "安装paddlelite 没有2.11版本"
win10系统 ，安装paddlelite， 没有2.11版本
python -m pip install paddlelite==2.11-rc
ERROR: Could not find a version that satisfies the requirement paddlelite==2.11-rc (from versions: 2.10rc0)
ERROR: No matching distribution found for paddlelite==2.11-rc

[2022-10-05 06:28] ming2681 commented on #9507
请问， 在IOS的demo中应该怎么改呢？

[2022-10-05 07:17] ming2681 commented on #8482
请问，在IOS的demo里应该如何修改呢？我在IOS中也碰到了同样的问题

[2022-10-05 07:18] jeekMic commented on #8482
这个要看具体日志吧，这个我有几个月没弄了，都模糊了

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年10月5日(星期三) 下午3:17
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle-Lite] Paddlex模型转nb之后，加载模型运行闪退 (Issue #8482)

请问，在IOS的demo里应该如何修改呢？我在IOS中也碰到了同样的问题

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because

[2022-10-05 07:19] ming2681 commented on #8482
日志和他那个安卓的一样，就是我自己训练的nb的参数是3个，ios的demo是2个，不过我不会改

[2022-10-05 07:21] jeekMic commented on #8482
那就是模型的输入输出的那个形状你检查下看看

[2022-10-05 07:21] jeekMic commented on #8482
看样子是要再加一个参数

[2022-10-05 07:21] ming2681 commented on #8482
是的，主要就是不知道在IOS的demo中如何加

[2022-10-05 07:23] jeekMic commented on #8482
IOS&nbsp; Demo我还没看，并不擅长IOS

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年10月5日(星期三) 下午3:22
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PaddlePaddle/Paddle-Lite] Paddlex模型转nb之后，加载模型运行闪退 (Issue #8482)

是的，主要就是不知道在IOS的demo中如何加

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you comment

[2022-10-05 07:24] ming2681 commented on #8482
这个参数的作用是什么是在pre里加还是在post加呢

[2022-10-05 09:08] ming2681 opened #9517 "通过 Lite 2.10-rc 生成的nb模型有3个输入参数(多了一个im_shape)，在IOS的demo中如何添加多出来的im-shape参数？"
目前只更换模型提示如下错误
[I 10/ 5 16:54:34.433 ...ds/Paddle-Lite/lite/operators/conv_op.cc:33 CheckShape] in_dims.size() == 4 || in_dims.size() == 5 test error!
[F 10/ 5 16:54:34.433 ...wnloads/Paddle-Lite/lite/core/program.cc:647 Run] Check failed: op_->CheckShape():

分析后觉得就是IOS的demo中只有2个参数，但是通过Lite 2.10-rc生成的nb模型检查后发现多出来一个 im_shape, 不过我不知道在IOS中如何解决这个问题

[2022-10-05 09:12] ming2681 opened #9518 "通过 Lite 2.10-rc 生成的nb模型有3个输入参数(多了一个im_shape)，在IOS的demo中如何添加多出来的im-shape参数？"
目前只更换模型提示如下错误
[I 10/ 5 16:54:34.433 ...ds/Paddle-Lite/lite/operators/conv_op.cc:33 CheckShape] in_dims.size() == 4 || in_dims.size() == 5 test error!
[F 10/ 5 16:54:34.433 ...wnloads/Paddle-Lite/lite/core/program.cc:647 Run] Check failed: op_->CheckShape():

分析后觉得就是IOS的demo中只有2个参数，但是通过Lite 2.10-rc生成的nb模型检查后发现多出来一个 im_shape, 不过我不知道在IOS中如何解决这个问题

[2022-10-06 01:58] #9517 closed, assigned to hong19860320

[2022-10-06 02:52] Mamaka2020 commented on #9495
顶顶

[2022-10-06 04:05] ming2681 commented on #9507
目前发现，不知道那个 im_shape 输入参数，在ios中如何进行设置

[2022-10-06 04:07] ming2681 commented on #9337
请问，这个在ios或者安卓端，应该如何设置 im_shape这个输入参数呢？

[2022-10-08 02:38] sprouteer commented on #9512
可以贴一些报错信息吗

[2022-10-08 02:49] csy0225 commented on #9518
您好，可以参照 https://github.com/hong19860320/PaddleLite-generic-demo/blob/develop/yolo_detection_demo/shell/yolo_detection_demo.cc#L221 去修改您的demo

[2022-10-08 05:23] engineer1109 commented on #9512
[code]

[2022-10-08 05:23] engineer1109 commented on #9512
@sprouteer

[2022-10-08 09:19] zhongqinghong opened #9519 "模型量化后推理时间没有提高反而变慢了。"
目前在尝试使用paddle lite进行移动端推理，将模型量化为int8后推理性能无法提高，**由于网络限制，不能提供模型文件，此处提供完整构建代码！期待答复，谢谢！**
我是采用将pytorch模型转为onnx，再使用x2paddle转paddlepaddle，测试机器为小米12。
**1、模型导出onnx**
import torch
from torchvision.models.resnet import resnet18

model = resnet18()
model.eval()
x = torch.randn(1, 3, 224, 224)
torch.onnx.export(model, x, 'resnet18.onnx')
**2、onnx模型转paddle**
命令行转换x2paddle --framework=onnx --model=resnet18.onnx

[2022-10-08 09:21] #9510 closed, assigned to nobody

[2022-10-08 09:43] csy0225 commented on #9519
你好，你说的模型变慢是和onnx的fp32模型和paddle的int8模型比较么？ 那有没有尝试过 paddle的fp32模型和paddle的int8模型比较呢？推理速度大约慢多少呢？

[2022-10-08 09:52] zhongqinghong commented on #9519
是int8的nb模型比fp32的nb模型慢，感觉慢差不多百分之十到二十吧，我整个转换和使用过程是参考的官方文档以及对应的demo，但是也不确定是不是还要什么地方没有搞对。

[2022-10-08 10:51] yingshengBD commented on #9519
1，测试性能建议不看第一帧，应该是第一帧之后才是真实性能
2，paddleslim版本建议使用最新，旧版本可能存在量化不全导致layer间来回反量化重量化
3，你目前的使用方式，默认是per channel的量化，性能就是会比perlayer量化慢一点点，需要在调用quant_post_static时指定入参weight_quantize_type=abs_max,切换为perlayer量化

[2022-10-09 02:06] zhongqinghong commented on #9519
将weight_quantize_type设置为abs_max后感觉效果不太明显，还是比fp32的模型慢，请问fp32和int8的模型在推理时，代码是完全一致的吗？config有没有什么专门的配置项，或者填充输入数据时类型有区别？还有就是使用的paddle lite的动态库有区别吗？

[2022-10-09 02:33] csy0225 commented on #9519
你好，这个问题我复现了一下，确实量化模型的推理相对于fp32的模型推理性能会差，这个问题已经转给相关arm同学跟进了

[2022-10-09 03:23] zhongqinghong commented on #9519
谢谢，期待早点定位解决。

[2022-10-09 09:19] Skyamz opened #9523 "Ascend NPU 编译报错-libge_compiler.so: 无法添加符号: 文件格式错误"
先是碰到了跟这个一样的错误https://github.com/PaddlePaddle/Paddle-Lite/issues/7918

然后我将acllib进行了替换（将板子上的arm版本替换到了pc机上的ascend-toolkit中）

解决了上面的问题后，又报了如下的错误

/Ascend/ascend-toolkit/5.0.4.alpha005/atc/lib64/libge_compiler.so: 无法添加符号: 文件格式错误
collect2: 错误： ld 返回 1
lite/backends/nnadapter/nnadapter/src/driver/huawei_ascend_npu/CMakeFiles/huawei_ascend_npu.dir/build.make:1880: recipe for target 'lite/backends/nnadapt

[2022-10-09 09:48] shentanyue commented on #9523
ascend-toolkit分别有arm版和x86版本，为什么要替换so呢？
你的场景是什么呢？

[2022-10-09 09:50] Skyamz commented on #9523
我在交叉编译，pc机上的是x86版本，板子上的是arm版本

pc编译时遇到了描述的问题，看了第一个问题的解答后换了acllib包，出现了第二个问题

------------------ 原始邮件 ------------------
发件人: shentanyue ***@***.***&gt;
发送时间: 2022年10月9日 17:48
收件人: PaddlePaddle/Paddle-Lite ***@***.***&gt;
抄送: skyamz ***@***.***&gt;, Author ***@***.***&gt;
主题: Re: [PaddlePaddle/Paddle-Lite] Ascend NPU 编译报错-libge_compiler.so: 无法添加符号: 文件格式错误 (Issue #9523)

[2022-10-09 09:56] shentanyue commented on #9523
有两种办法：
1、(不一定保真)你可以直接在X86 PC机上直接安装 Ascend-toolkit-aarch64版本，比如./Ascend-cann-toolkit_5.1.RC2_linux-aarch64.run --install，就会在X86 PC机上安装arm版的ascend toolkit
2、你在arm板子上安装Ascend-toolkit-aarch64，然后对/usr/local/Ascend/ascend-toolkit这个目录打包，再传到x86 PC机上。

最后在X86 PC机上执行./lite/tools/build_linux.sh --arch=armv8 --toolchain=gcc --with_extra=ON --with_log=ON --with_exception=ON --with_nnadapter=ON --nnadapter_with

[2022-10-09 10:11] Skyamz commented on #9523
按照第二种方法，arm版本没有atc包，x86环境编译时却需要，报错如下。
input file:  /home/ubuntu/Paddle-Lite/lite/backends/arm/math/dotprod/__gemm_sdot_meta__.h
output file:  /home/ubuntu/Paddle-Lite/lite/backends/arm/math/dotprod/gemm_sdot.h
input file:  /home/ubuntu/Paddle-Lite/lite/backends/arm/math/dotprod/__gemm_vsdot_meta__.h
output file:  /home/ubuntu/Paddle-Lite/lite/backends/arm/math/dotprod/gemm_vsdot.h
-- NNADAPTER_HUA

[2022-10-09 10:16] shentanyue commented on #9523
arm有atc包呀
![image](https://user-images.githubusercontent.com/34421038/194751120-30f99922-9b7f-48d4-ad62-914e78cce13a.png)

[2022-10-09 10:18] Skyamz commented on #9523
那您方便给个arm版本的链接吗？我的板子是200dk， CANN是5.0.4.alpha005

[2022-10-09 10:20] shentanyue commented on #9523
https://ascend-repo.obs.cn-east-2.myhuaweicloud.com/CANN/5.0.4.alpha005/Ascend-cann-toolkit_5.0.4.alpha005_linux-aarch64.run

我也是从官网下的，https://www.hiascend.com/software/cann/community-history

[2022-10-09 10:20] Skyamz commented on #9523
好的，谢谢 我试试

[2022-10-10 02:45] ouxiand opened #9524 "用Paddle-Lite-Demo的yolov5n例子测试GPU效果，报错：Error: This model is not supported, because kernel for 'io_copy' is not supported by Paddle-Lite."
1.用Paddle-Lite-Demo的yolov5n例子测试GPU效果，报错：
2022-10-10 10:03:07.028 14557-14557/com.baidu.paddle.lite.demo.yolov5n_detection A/Paddle-Lite: [F 10/10 10: 3: 7. 28 ...e_210rc/Paddle-Lite/lite/core/program.cc:356 RuntimeProgram] Check failed: (kernels.size() > 0): 0!>0
    Error: This model is not supported, because kernel for 'io_copy' is not supported by Paddle-Lite.
2022-10-10 10:03:07.029 14557-1455

[2022-10-10 03:24] sprouteer commented on #9524
可以提供下使用的库和模型吗

[2022-10-10 03:41] Dekadenc opened #9525 "哪些目标检测模型支持paddlelite部署"
请问我该如何知道PaddleDetection里哪些目标检测模型可以用paddlelite部署到树莓派4b上（架构是Cortex-A72）
比如ppyoloe+，没有显示paddlelite部署，是不支持吗？
![bfb26a34c2250d2a94bbb6b8e05443f](https://user-images.githubusercontent.com/102035987/194796316-a2bf966f-78a1-44e5-a450-9787dbc5fb24.jpg)

[2022-10-10 05:46] ouxiand commented on #9524
https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/develop/object_detection/android/app/cxx/yolov5n_detection_demo     我用的就是这个例子   上面提供的模型就出现这个问题 ，然后我自行替换yolov5n官方模型也一样

[2022-10-10 06:51] Mamaka2020 commented on #9495
顶顶

[2022-10-10 06:59] chenkecheng opened #9526 "使用PP-Matting-1024 Inference Model时候，输入size为512时候ok， 输入size为1024时候崩溃，请问如何解决？"
- 版本、预测库信息：
    1）Paddle Lite 版本：v2.11
    2）Host 环境：Android
    3）运行设备环境：小米MI9 SE
    4）预测后端信息：CPU
- 预测信息
    1）预测 API：C++
    2）预测选项信息：armv8、单线程/多线程 都会出现
    3）预测库来源：官网下载
- 复现信息：
    1）下载：https://paddleseg.bj.bcebos.com/matting/models/deploy/pp-matting-hrnet_w18-human_1024.zip
    2）转换成int8的nb
    3）使用C++的API进行推理
- 问题描述：输入size为512时候ok， 输入size为1024时候崩溃

[2022-10-10 08:18] sprouteer commented on #9524
这个因为使用的库没有把gpu相关op编译进去，可以使用这个库试试，基于最新develop分支的，其他分支可以自己编译试试
[inference_lite_lib.android.armv8.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/9744256/inference_lite_lib.android.armv8.zip)

[2022-10-10 10:13] engineer1109 opened #9528 "Compile Error. undefined reference to CopyFromCpu"
Paddle-Lite : develop
Ubuntu 20.04 GCC9.4.0

For the code
[code]

[code]
Lack template CopyFromCpu int64_t reference.

CopyFromCpu 缺少定义int64_t kHost kARM

修复方案
Fix PR:
https://github.com/PaddlePaddle/Paddle-Lite/pull/9527

[2022-10-10 10:51] #8929 closed, assigned to sprouteer

[2022-10-10 12:49] Dekadenc commented on #9058
请问一下paddlelite和cmake以及python的版本又对应的要求吗，怎么看支持哪些目标检测模型呀

[2022-10-10 12:56] Dekadenc commented on #8861
请问一下develop分支和2.11有什么区别吗，其次就是我看有个官方文档里边提到picodet需要paddlelite 2.11以上版本
https://github.com/PaddlePaddle/PaddleYOLO/tree/release/2.5/deploy/lite
![90e971e9706cf1b99a9ea6d78f601e5](https://user-images.githubusercontent.com/102035987/194871389-6a6af6d9-893b-4445-9c13-ebddaa680374.png)

[2022-10-10 13:13] jiajunwang420 commented on #9262
你好，请问下你解决这个问题了吗，我现在用yolov5在fz3的板子上部署也遇到了这个问题，在g_predictor->Run();的时候出现报错Segmentation fault (core dumped)

[2022-10-10 15:30] hong19860320 commented on #9528
感谢你的支持，PR 已经 approve了，等待 CI 完成后合入。

[2022-10-11 03:37] engineer1109 opened #9531 "ernie-3.0 LookupTableCompute 崩溃"
- 版本、环境信息：
    1）Paddle Lite 版本：develop 9cf83422d87b80f5ff861ce63f99c38e0caa4b07
    2）Host 环境：Ubuntu 20.04 GCC 9.4.0
- 模型信息
    1）ernie-3.0-nano-zh_clue_tnews
    2）链接: https://pan.baidu.com/s/1yZOjvJLBB3IEiwb-UbzYcQ?pwd=9ayw 提取码: 9ayw

运行模式: OpenCL

ernie 在 LookupTableCompute 的Line 50出错
Paddle-Lite/lite/kernels/x86/lookup_table_compute.h
paddle::lite::kernels::arm::LookupTableCompute<float, int6

[2022-10-11 03:43] engineer1109 commented on #9531
这个BUG可能和之前的Slice的问题很像， 真是积重难返

[2022-10-11 03:52] QShiX opened #9532 "build failure with --arch=x86 --with_opencl=ON --with_extra=ON"
版本：develop, commit 9cf83422d87b80f5ff861ce63f99c38e0caa4b07
系统：ubuntu 22.04
命令：./lite/tools/build_linux.sh --arch=x86 --with_opencl=ON --with_extra=ON
错误信息：
-- extracting... [tar xfz]
-- extracting... [analysis]
-- extracting... [rename]
-- extracting... [clean up]
-- extracting... done
[  9%] No update step for 'extern_mklml'
[  9%] No patch step for 'extern_mklml'
[  9%] No configure step for 'e

[2022-10-11 05:39] leiqing1 commented on #9525
你好，常见的检测模型都可以使用paddlelite部署。（PP-YOLOE没有写，是因为PP-YOLOE服务器端用的更多）
Paddle Lite Demo仓库有现成的picodet的部署Demo，可以学习交流https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/develop/object_detection

[2022-10-11 05:51] leiqing1 opened #9533 "Paddle Lite在yolov5上的测试速度问题"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题:[历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

如果您没有查询到相似问题，为快速解决您的提问，建立 issue 时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的 API 文档在哪儿 ”
- 版本、预测库信息：
    1）推理代码：
Paddle Lite 版本：使用的是Paddle Li

[2022-10-11 08:07] Dekadenc commented on #9525
yoloe是否支持python部署呢，其他模型都支持吗

[2022-10-11 08:32] zhongqinghong opened #9535 "请问paddle lite支持batch批次推理吗？"
---

[2022-10-11 09:18] mjp9527 commented on #9519
照着这个PR改一下，使能sdot：https://github.com/PaddlePaddle/Paddle-Lite/pull/9537

[2022-10-11 13:28] sprouteer commented on #9531
这是因为elementwise_sub的opencl实现不支持int64，只支持float或者fp16类型，下一个op lookup_table_v2. 的输入应为int64_t类型，但是iocopy之后，把float或者fp16解析为int64_t数据，导致的问题，解决办法是下图中那样，把elementwise_sub放在cpu上
<img width="195" alt="image" src="https://user-images.githubusercontent.com/89541335/195103044-b6d9d6b9-fbe8-41f5-bbf6-1a61dc71bd01.png">

[2022-10-12 00:32] Skyamz opened #9540 "Ascend NPU 200dk上部署时，替换Demo中的API后，怎么重新编译"
接前面遇到的问题https://github.com/PaddlePaddle/Paddle-Lite/issues/9523
这个问题解决后，PC机上可以编译出build.lite.linux.armv8.gcc包

1. 根据这个教程：https://zhuanlan.zhihu.com/p/432033215

执行了api替换命令如下：
_// 替换include
cp -rf build.lite.linux.armv8.gcc/inference_lite_lib.armlinux.armv8.nnadapter/cxx/include/ PaddleLite-generic-demo/libs/PaddleLite/linux/arm64/include/

// 替换NNAdapter相关so库
cp -rf build.lite.linux.armv8.gcc/infer

[2022-10-12 00:34] Skyamz commented on #9523
在板子上装了toolkit，移到x86机上可以编译。后面部署时又遇到了新的问题：https://github.com/PaddlePaddle/Paddle-Lite/issues/9540

此issue关闭，转移到新的问题

[2022-10-12 02:03] zhongqinghong commented on #9519
是在device_info.h文件里面的int8_arch加上A510，然后重新编译吗？

[2022-10-12 02:47] #9523 closed, assigned to shentanyue

[2022-10-12 02:51] shentanyue commented on #9540
你截的图没有报错呀？看上去已经编译成功了

[2022-10-12 02:55] leiqing1 commented on #9519
@mjp9527 建平帮忙看下

[2022-10-12 06:40] mjp9527 commented on #9519
是

[2022-10-12 06:52] zhongqinghong commented on #9519
好的，谢谢，我尝试一下。
另外问一个问题，我这边测试batch批次推理其实好像没有并行运算，推理时间是成倍数增长的，是这么回事吗？

[2022-10-12 07:11] mjp9527 commented on #9519
正常的，多线程一般在C\H\W方向，batch方向没有多线程，你可以建4个lite predictor起4个线程分别处理batch

[2022-10-12 08:28] engineer1109 commented on #9531
@sprouteer 如何将elementwise_sub 的 int64_t 放在cpu运行

[2022-10-12 08:28] engineer1109 commented on #9528
Fixed

[2022-10-12 08:28] #9528 closed, assigned to liyancas

[2022-10-12 08:56] yangguangda-hub opened #9544 "模型经过静态量化后，性能对比非静态量化并没有提升"
模型如下：
[test.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/9763293/test.zip)

[2022-10-12 11:25] jiajunwang420 opened #9545 "百度edgeboard部署yolov5，在predictor.run()的时候报错Segmentation fault (core dumped)；"
在百度fz3开发板部署yolov5，使用x2paddle工具转换模型，
![image](https://user-images.githubusercontent.com/63026588/195330209-df4e27c2-d6a8-4786-8e3a-42bd2569ba7c.png)
转换成功，在开发板部署中，Predictor init是成功的，但是在predictor.run的时候报错。

[2022-10-13 01:21] qiaoyukeji commented on #9293
我这边也出现了这个问题，报错找不到dirent.h， 试了vs2015，vs2019都不行，请问有解决方法了吗

[2022-10-13 05:43] zhongqinghong commented on #9519
嗯嗯，明白，谢谢。

[2022-10-13 07:35] truthsun22 opened #9546 "安卓端是否有目标追踪的代码"
想通过paddlelite开发安卓端的目标追踪，核心的deepsort相关代码，不知paddle有没有？

[2022-10-13 07:56] fengyanWang commented on #9386
谢谢啦！

[2022-10-13 07:56] #9386 closed, assigned to mjp9527

[2022-10-13 08:16] fengyanWang opened #9548 "android NNAPI"
你好，请问通过paddle lite调用android nnapi方式，是不是可以认为对算子支持程度和直接调用android NNAPI一致，还是其他？期待回复，谢谢啦！

[2022-10-13 11:42] hong19860320 commented on #9548
不是的，里面会有一层 Paddle 算子转 NNAPI 的过程，所以取决于有多少个这样的 converter，可以在 https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/kernels/nnadapter/converter/all.h 搜索 nnapi
更多信息可以查看 https://www.paddlepaddle.org.cn/lite/develop/demo_guides/android_nnapi.html

[2022-10-14 02:17] fengyanWang commented on #9548
好，谢谢啦！

[2022-10-14 02:20] #9548 closed, assigned to mjp9527

[2022-10-14 03:44] linhaosheng opened #9552 "编译android 执行命令：./lite/tools/build_android.sh 报错"
索引区更新了 42 个路径
-- Found Paddle host system: macosx, version: 12.6
-- Found Paddle host system's CPU: 4 cores
-- CMAKE_CXX_FLAGS:  -flto
-- CMAKE_CXX_FLAGS_RELEASE:
-- Found host C compiler: /usr/bin/gcc
-- Found host CXX compiler: /usr/bin/g++
-- Lite ARM Compile android with armv8 gcc
-- Enabling ARC support by default. ENABLE_ARC not provided!
-- Enabling ARC support.
-- Android: Targeting API '2

[2022-10-14 03:48] linhaosheng commented on #9552
cmake 的版本是 3.21.4

[2022-10-14 07:55] hong19860320 commented on #9552
首先建议使用我们的预编译库 https://www.paddlepaddle.org.cn/lite/v2.11/quick_start/release_lib.html
1) 如果有编译的需求，为了保持统一的编译环境，建议 macOS 和 Ubuntu 的用户使用我们提供的 paddle lite docker 环境 ：https://www.paddlepaddle.org.cn/lite/v2.11/source_compile/docker_env.html
![image](https://user-images.githubusercontent.com/9973393/195793236-41047229-b908-46be-8303-4c15b31ccca4.png)

2) 如果确实希望裸机编译，建议参考我们提供的手顺，配置好相应的软件环境，例如在 macOS 上编译 A

[2022-10-14 07:57] hong19860320 commented on #9545
predictor.run 报错信息提供下吧，具体的可以 export GLOG_v=5 把完整的log给我哈

[2022-10-14 11:44] jiajunwang420 commented on #9545
![image](https://user-images.githubusercontent.com/63026588/195839037-e6a67292-8851-4ef5-a55e-79d019826d2c.png)
start之后就是predictor.run报错

[2022-10-15 04:45] dongchao139 opened #9554 "在windows10中转换PaddleOCR的超轻量中文模型为.nb格式时出错"
## 参考了下面的文档, 在windows10中转换模型:
https://github.com/PaddlePaddle/PaddleOCR/blob/release/2.6/deploy/lite/readme_ch.md

### 环境:
- 电脑: ThinkPadT470
- 显卡: Intel(R) HD Graphics 620, NVIDIA GeForce 940MX
- 系统: Windows 10 家庭中文版 19043.1526
- python版本: Python 3.7.6
- visual-studio2019
- paddle-lite版本: 2.10

### 步骤:
- 1. 执行命令:
[code]
- 2. 下载模型并解压:
https://paddleocr.bj.bcebos.com/PP-OCRv3/chinese/ch_PP-OCRv3_de

[2022-10-15 04:53] dongchao139 commented on #9554
计划在windows端部署预测, 开发自动识别手写签名的功能. 已经在windows中成功编译paddle-lite(开启了opencl的开关),同时参考这里https://github.com/PaddlePaddle/PaddleOCR/tree/release/2.6/deploy/lite 的demo编写了c++代码. 从上面链接中下载提供好的模型预测, 报错This model is not supported, because kernel for 'conv2d' is not supported by Paddle-Lite, 因此参考issue:8435手动转换.nb模型. 然后遇到了上面的错误.

[2022-10-16 02:24] simpsonyang commented on #9525
请问有么有ppyolo tiny的android demo，我用上面的几个替换了自己训练的模型总是跑不起来。

[2022-10-16 11:50] QShiX commented on #9477
closed 与https://github.com/PaddlePaddle/Paddle-Lite/issues/9476重复

[2022-10-16 11:50] #9477 closed, assigned to csy0225

[2022-10-16 12:19] QShiX commented on #9532
以下work around可以暂时解决问题。

/cmake/flags.cmake

@@ -119,7 +119,7 @@ if (NOT WIN32)
 set(COMMON_FLAGS
     -fPIC
     -fno-omit-frame-pointer
\-   -Werror
\+    #    -Werror
     -Wall
     -Wextra
     -Wnon-virtual-dtor

[2022-10-17 02:47] yyqwert4 opened #9556 "[OpenCL] pwg_baker_static_0.4 fail"
- 标题：[OpenCL] pwg_baker_static_0.4 fail
- 版本、预测库信息：
    1）Paddle Lite 版本：branch develop
    2）Host 环境：Ubuntu 22.04
    3）运行设备环境：X86
    4）预测后端信息：OpenCL AMD Radeon RX 6900 XT
- 预测信息
    1）预测 API：API：C++
    2）预测选项信息：benchmark_bin，

cmd="gdb -args ./build.lite.linux.x86.gcc.opencl/lite/api/tools/benchmark/benchmark_bin --model_file=./models/pwg_baker_static_0.4/pwgan_csmsc.pdmodel --param_file=./mod

[2022-10-17 03:20] yyqwert4 opened #9557 "[OpenCL] panns_cnn14_static fail"
标题：[OpenCL] panns_cnn14_static fail
版本、预测库信息：
1）Paddle Lite 版本：branch develop
2）Host 环境：Ubuntu 22.04
3）运行设备环境：X86
4）预测后端信息：OpenCL AMD Radeon RX 6900 XT
预测信息
1）预测 API：API：C++
2）预测选项信息：benchmark_bin，

cmd="gdb -args ./build.lite.linux.x86.gcc.opencl/lite/api/tools/benchmark/benchmark_bin --model_file=./models/panns_cnn14_static/inference.pdmodel --param_file=./models/panns_cnn14_static/inference.pdi

[2022-10-17 03:26] sprouteer commented on #9556
正在跟进

[2022-10-17 08:24] simpsonyang opened #9558 "android跑ppyolo tiny模型，输出结果坐标bottom和right值为0."
我下载了几个paddle lite demo, 但只要替换成我opt出来的nb文件，就都运行不了，实在搞不定了。求大神给一个现成的Android demo，可以运行ppyolo tiny模型，输入图片，能得到预测的结果（坐标和标签值），我拿到后只需要替换成我的模型就可以跑的。感谢了！

[2022-10-17 09:56] yazone commented on #9469
一样的问题，声学模型算子不支持，声码器转挂了（量化选项也没加），PaddleSpeech团队让到这里问问

[code]

[2022-10-18 01:16] engineer1109 commented on #9532
https://github.com/PaddlePaddle/Paddle-Lite/pull/9560 Fix， 等待Merge

[2022-10-18 02:13] yazone opened #9563 "PaddleSpeech MultiBand MelGAN转换失败"
- 标题：PaddleSpeech MultiBand MelGAN转换失败
- 版本、环境信息：
    1）Paddle Lite 版本：Paddle Lite v2.10
    2）Host 环境：Ubuntu 16.04.6 LTS (GNU/Linux 4.15.0-65-generic x86_64)
- 模型信息
    1）MultiBand MelGAN
    2）模型链接:[paddle.tar.gz](https://github.com/PaddlePaddle/Paddle-Lite/files/9805774/paddle.tar.gz)

- 复现信息：
`paddle_lite_opt --model_file=./paddle/mb_melgan_csmsc.pdmodel --param_file=./paddle/mb_melgan_csmsc.p

[2022-10-18 06:02] engineer1109 opened #9567 "GCC Compile fatal error fix about extra, pessimizing-move"
- 标题：GCC Compile fatal error fix about extra, pessimizing-move
- 版本、环境信息：
    1）Paddle Lite 版本：develop f8656fd616c9e458c0b9df75804c316bcdfdaf58
    2）Host 环境：Ubuntu 20.04 GCC 9.4.0

- 复现信息：
[code]
直接编译错误，只能加入-w 绕过
- 问题描述：
std::move 错误使用 register 寄存器指向引用地址  未使用变量报错提醒

修复方案
https://github.com/PaddlePaddle/Paddle-Lite/pull/9560

[2022-10-18 07:26] mjp9527 commented on #9546
没有

[2022-10-18 07:42] simpsonyang commented on #7336
我也遇到这个问题，但是改了上图中红框的部分以后，就不会出错了。你看一下netron里面3个输入的序号，是不是错了。

[2022-10-18 07:44] simpsonyang commented on #9558
经过一番尝试，在输出里看到 in_dims.size() == 4 || in_dims.size() == 5 test error，网上搜索了一下，看到这篇issue：https://github.com/PaddlePaddle/Paddle-Lite/issues/7336%EF%BC%8C
于是我用netron查看我的nb文件，发现输入确实是3个，但是java代码里面 inputTensor确实少了，于是修改如下：
// Set input shape
Tensor inputTensor1 = getInput(1);
inputTensor1.resize(inputShape);
Tensor sizeTensor = getInput(0);
sizeTensor.resize(new long[] {1,2});
Tensor scaleTensor = getInpu

[2022-10-18 07:48] gyg123456 commented on #7336
是顺序的问题，已经解决了，谢谢

[2022-10-19 01:43] #9554 closed, assigned to zhupengyang

[2022-10-19 05:00] QShiX commented on #9557
注释掉opencl的reduce_算子可以解决问题。或者使用 “OPENCL_MEMORY_CONFIG_FILE” 详见PRhttps://github.com/PaddlePaddle/Paddle-Lite/pull/9521

具体config如下
device:cpu
reduce_mean:dropout_3.tmp_0:mean_0.tmp_0
reduce_max:mean_0.tmp_0:max_0.tmp_0
reduce_mean:mean_0.tmp_0:mean_1.tmp_0

[2022-10-19 09:34] hbo-lambda commented on #6086
最后解决了吗

[2022-10-19 09:34] hbo-lambda commented on #6086
最后解决了吗

[2022-10-19 09:46] hbo-lambda opened #9574 "ARM编译错误"
环境：
docker ubuntu18.04
python3.7
cmake 3.10.3
gcc 6.3.0
Paddle-Lite v2.1.0

build_linux.sh中做如下修改
[code]

执行
[code]
![Snip20221019_3](https://user-images.githubusercontent.com/7626261/196657431-e2967747-9dc5-41d3-859b-70d5a1224fd6.png)

[2022-10-20 00:41] hbo-lambda commented on #8986
链接404

[2022-10-20 02:40] Skyamz commented on #9540
自查是Python环境问题。目前官方Demo已跑通，感谢支持。此Issue可关闭

[2022-10-20 02:40] #9540 closed, assigned to wz1qqx

[2022-10-20 03:31] #9557 closed, assigned to csy0225

[2022-10-20 03:31] Skyamz opened #9576 "Ascend NPU 200dk上预测时，替换Yolo_detect_Demo中模型报错Check failed: input_names_.size() > offset: The network has 1 inputs, the offset should be less than this."
替换了Yolo_detect_demo中的模型为自己的模型，模型放在百度网盘中：

链接：https://pan.baidu.com/s/1uXHwg2zPaSRYXYJBFIkMmQ
提取码：573C

该模型是“pt模型--> onnx模型 --> pd模型 --> nb模型" 得到的

Build之后，run时出现了如下错误：
[4 10/18  9:43:53.255 ...e-Lite/lite/model_parser/model_parser.cc:810 LoadModelNaiveFromFile] paddle_version:2002002
[4 10/18  9:43:53.255 ...e-Lite/lite/model_parser/model_parser.cc:811 LoadModelNaiveFromFile] Load naive buffer mod

[2022-10-20 03:32] #9390 closed, assigned to hong19860320, sprouteer

[2022-10-20 03:33] sprouteer commented on #9556
可以测试下别的平台，比如英伟达，或者高通gpu，mali gpu是否会报同样的问题，怀疑是驱动不支持设备间拷贝

[2022-10-20 06:20] sprouteer commented on #9535
支持的

[2022-10-20 06:22] sprouteer commented on #9531
这个问题可以解决了，使用 “OPENCL_MEMORY_CONFIG_FILE” 详见PRhttps://github.com/https://github.com/PaddlePaddle/Paddle-Lite/pull/9521

[2022-10-20 06:23] sprouteer commented on #9512
使用 “OPENCL_MEMORY_CONFIG_FILE” 详见PRhttps://github.com/https://github.com/PaddlePaddle/Paddle-Lite/pull/9521

[2022-10-20 06:51] shentanyue commented on #9576
Yolo_detect_Demo里用的yolo模型默认是3个输入的，你这个模型看上去只有一个输入，你更改下yolo_detection_demo.cc里process函数，将这一部分
[code]
改为
[code]

注意由于你的输入是1,3,640,640，最前面的
`const std::vector<int64_t> INPUT_SHAPE = {1, 3, 608, 608};`
记得改为
`const std::vector<int64_t> INPUT_SHAPE = {1, 3, 640, 640};`

[2022-10-20 06:53] Skyamz commented on #9576
好的，收到，我试试

[2022-10-20 07:03] liamsun2019 opened #9578 "lite optimization fails for an onnx model"
用lite优化一个onnx模型，此onnx模型可以正常工作。优化的时候报错：

Error: This model is not supported, because 1 ops are not supported on 'arm'. These unsupported ops are: 'pad'

使用方式如下：
x2paddle --framework=onnx --model=test.onnx --save_dir=pd_model --to_lite=True --lite_valid_places=arm --lite_model_type=naive_buffer

[2022-10-20 08:06] Skyamz commented on #9576
将代码改动之后(维度也相应作了变化)，编译完之后报错如下，定位不到错误
[5 10/20  7:50:21.973 ...adapter/nnadapter/src/operation/slice.cc:78 PrepareSlice] axes[0] = 0
[5 10/20  7:50:21.973 ...adapter/nnadapter/src/operation/slice.cc:78 PrepareSlice] starts[0] = 2
[5 10/20  7:50:21.973 ...adapter/nnadapter/src/operation/slice.cc:78 PrepareSlice] ends[0] = 4
[5 10/20  7:50:21.973 ...adapter/nnadapter/src/operation/slice.cc:78 PrepareS

[2022-10-20 14:34] Hyperpepe opened #9581 "PaddleX产出的Mobilenet_v1模型无法进行quant_post脚本量化 设备使用amlogic npu加速"
- 版本、环境信息：
    1）Paddle Lite ：lastest
    2）Host 环境：Ubuntu 20.04，cuda11.6
    3）PaddleX版本：lastest
- 模型信息
    1）模型名称：mobilenet_v1
- 复现信息：使用官方文档中芯原npu的paddleslim方法
- 问题描述：
- 量化模型时提示错误
(paddle_env) lxh@1060:~/work/PaddleSlim-quant-demo/image_classification_demo/quant_post$ ./quant_post_rockchip_npu.sh
--------quantize fp32 model: inference_model-------------
-----------  Configuration Arguments -----

[2022-10-21 03:01] shentanyue commented on #9576
你pt模型--> onnx模型 --> pd模型，上传下最后的pb模型呢

[2022-10-21 03:07] 18749026844 commented on #9006
画框不是要自己写吗？opencv是如果保存路径错误不存在就无法保存

[2022-10-21 03:09] Skyamz commented on #9576
都在百度网盘里面了哈，data.zip中的pd_model

链接：https://pan.baidu.com/s/1K0_U2BnS-o6h8BRqOCF2Kg&nbsp;
提取码：573C&nbsp;

------------------ 原始邮件 ------------------
发件人: shentanyue ***@***.***&gt;
发送时间: 2022年10月21日 11:01
收件人: PaddlePaddle/Paddle-Lite ***@***.***&gt;
抄送: skyamz ***@***.***&gt;, Author ***@***.***&gt;
主题: Re: [PaddlePaddle/Paddle-Lite] Ascend NPU 200dk上预测时，替换Yolo_detect_Demo中模型报错Check failed: input_n

[2022-10-21 03:16] 18749026844 opened #9582 "树莓派4B如何提升目标检测的帧率"
使用的是Paddlelite2.8
在树莓派4b官方32系统上
运行ssd目标检测模型每次处理需要0.12s
设置的是4线程
请问有什么方法提速

[2022-10-21 03:58] 18749026844 commented on #9582
树莓派可以使用opencl吗

[2022-10-21 03:59] 18749026844 commented on #9582
我现在更换了官方64位系统，该系统安装的是python3.9。paddleLite可以支持吗

[2022-10-24 00:58] Skyamz commented on #9576
这个看起来是lifetime没有指定的原因吗？

[2022-10-24 02:57] shentanyue commented on #9576
你用的是什么时候的lite库，我本地测过develop是正常运行的

[2022-10-24 02:59] Skyamz commented on #9576
我用的是develop分支代码，使用arm环境的ascend toolkit编译的lite库

------------------ 原始邮件 ------------------
发件人: shentanyue ***@***.***&gt;
发送时间: 2022年10月24日 10:57
收件人: PaddlePaddle/Paddle-Lite ***@***.***&gt;
抄送: skyamz ***@***.***&gt;, Author ***@***.***&gt;
主题: Re: [PaddlePaddle/Paddle-Lite] Ascend NPU 200dk上预测时，替换Yolo_detect_Demo中模型报错Check failed: input_names_.size() &gt; offset: The network has 1 inputs, the

[2022-10-24 03:11] shentanyue commented on #9576
Sorry，刚刚没有使用Ascend，现在复现了你的问题。
看起来是x2paddle后，转换后的模型结构上有些奇怪，当前Ascend还不支持，需要我们这个季度完善常量折叠特性后才能支持。

[2022-10-24 03:55] hong19860320 commented on #9581
@yingshengBD 看下这个问题吧

[2022-10-24 04:14] yingshengBD commented on #9581
这个脚本工具默认指定的名字是，model和params，你把model.pdiparams重命名为params；model.pdmodel重命名为model即可

[2022-10-24 05:18] Skyamz commented on #9576
好的，感谢您的耐心解答，期待这个季度的版本更新

[2022-10-24 05:18] #9576 closed, assigned to sprouteer

[2022-10-24 05:44] Hyperpepe commented on #9581
不知道动了什么配置报错如下
[code]
### 尝试方法
1.重新安装最新版paddleslim
无用
2.安装2.3版本的paddleslim
无用且提示
[code]
3.删除/home/lxh/.conda/envs/paddle/lib/python3.6/site-packages/paddleslim-0.0.0.dev0-py3.6.egg/paddleslim这个包。
重新按照md文件中的方法安装paddleslim无法安装。

[2022-10-24 06:23] Hyperpepe commented on #9581
[code]
这是在新的conda环境中重新安装paddle最新版本和paddleslim后运行的情况。
python 环境、paddle环境。
[code]
paddle环境
[code]

[2022-10-24 08:22] yingshengBD commented on #9581
这个问题大概率是paddlepaddle版本导致的，你可以选择pip install 最新的(develop)paddle 或者按照md里源码编码

[2022-10-24 08:23] Hyperpepe commented on #9581
就是直接pip安装的最新版本的paddle

[2022-10-24 08:24] Hyperpepe commented on #9581
我试试降低一个版本的paddle试一试

[2022-10-24 08:24] yingshengBD commented on #9581
别降低啊，用最新的
https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html

[2022-10-24 08:26] Hyperpepe commented on #9581
现在的环境就是最新的

[2022-10-24 08:26] Hyperpepe commented on #9581
我换台电脑试一下吧

[2022-10-24 08:27] yingshengBD commented on #9581
你现在是2.3.2啊，我刚发的那个网页，上面选develop就好

[2022-10-24 08:40] Hyperpepe commented on #9581
[code]
这次是直接paddle出问题了，我还在排查什么情况，晚上换台电脑试试

[2022-10-24 08:40] Hyperpepe commented on #9581
点错了，还没解决

[2022-10-25 00:55] liamsun2019 commented on #9578
Any update?

[2022-10-25 02:56] liamsun2019 commented on #5319
看起来Pad算子目前仍然没有支持，这都快2023年了

[2022-10-26 02:42] engineer1109 opened #9588 "[OpenCL] Reshape Crash for yolov5"
- 版本、环境信息：
    1）Paddle Lite 版本：develop f8656fd616c9e458c0b9df75804c316bcdfdaf58
    2）Host 环境：Ubuntu20.04 GCC 9.4.0
- 模型信息
    1）模型名称 yolov5
    2）模型链接  链接: https://pan.baidu.com/s/1UWZfKlq-0HBKrWPWVJc4Mw?pwd=7bck 提取码: 7bck
- 问题描述：
[code]

Reshape 不能处理dims5, 能不能在dims[0] = 1的时候 当dims4 处理

[2022-10-26 03:25] fengyanWang opened #9589 "nnapi"
你好，我看你们文档介绍说opt转换模型时制定nnapi只是标记了nnapi支持的paddle算子，那如果模型中存在nnapi不支持的paddle算子，这时候是会在opt转换nb模型时候出错，还是说可以成功转换，并且不支持的paddle算子会被自动放置在CPU上执行？期待回复，谢谢...

[2022-10-26 05:54] engineer1109 commented on #9588
链接: https://pan.baidu.com/s/1MujsjhdEiYrqemb8V1gbCA?pwd=uyd5 提取码: uyd5

SwinTransformer dimss是6

[2022-10-26 06:44] engineer1109 opened #9591 "[OpenCL] pp_liteseg crash"
- 版本、环境信息：
    1）Paddle Lite 版本：develop
    2）Host 环境：Ubuntu 20.04.5 GCC 9.4
- 模型信息
    1）模型名称 pp_liteseg_stdc1_cityscapes_1024x512_scale0.5_160k
    2）模型链接  链接: https://pan.baidu.com/s/1i287FhzkE56QKmrgVHXopA?pwd=b9be 提取码: b9be
- 问题描述：

[code]

好像是有动态尺度的？但是这个output大小应该是和输入端大小绑定

[2022-10-26 06:52] engineer1109 opened #9592 "[OpenCL] Check failed: op no Op found for unpool"
- 版本、环境信息：
    1）Paddle Lite 版本：develop
    2）Host 环境：Ubuntu 20.04 GCC9.4.0
- 模型信息
    1）模型名称 enet
    2）模型链接 链接: https://pan.baidu.com/s/1DRDhmz2GcNtBoSkiaJ6J-Q?pwd=75j2 提取码: 75j2

- 问题描述：
[code]
缺少unpool算子

[2022-10-26 07:04] engineer1109 commented on #9591
相同原因 崩溃 链接: https://pan.baidu.com/s/1AIsF7tvOIGDBp1-uYK4uTQ?pwd=zd71 提取码: zd71

[2022-10-26 07:22] engineer1109 commented on #9591
deeplabV3也是这样，就不发了

[2022-10-26 07:23] hong19860320 commented on #9589
paddlelite 支持 nnapi 的过程是 paddle model->paddle ops->nnapi ops->nnapi model，其中 paddle ops->nnapi ops 目前支持的算子有限，可以在 https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/kernels/nnadapter/converter/all.h 查看已经支持的 paddle ops，对于不支持的算子，我们会自动异构到 CPU 上的。

[2022-10-26 08:10] fengyanWang commented on #9589
谢谢回复，请问一下异构到CPU上的算子会使用你们paddle lite 在arm cpu上加速库进行计算吗？异构计算速度会出现严重下降吗？相比于全部在CPU上执行

[2022-10-26 08:51] hong19860320 commented on #9589
如果不支持的算子出现在模型中间的话，可能就会切分出大量小的子图，出现性能下降的问题，因为 nnapi 的调用会存在 overhead，但我们也提供了自定义子图切分功能，手动实现子图切分，尽量避免出现子图切分过细，可以参考麒麟 NPU 的文档 https://www.paddlepaddle.org.cn/lite/v2.11/demo_guides/huawei_kirin_npu.html

[2022-10-26 08:52] hong19860320 commented on #9592
@sprouteer 帮忙确认下哈

[2022-10-26 08:53] hong19860320 commented on #9591
@sprouteer 帮忙确认下这个问题哈

[2022-10-26 09:47] GUOhm230 opened #9594 "paddleLite创建解释器时报错"
各位大佬们好，有两个问题想请教：
1.使用config.set_model_from_file()；传入模型路径，可以正常创建解释器。但是我如果把模型加密，再解密后使用config.set_model_from_buffer();则会在执行paddle::lite_api::CreatePaddlePredictor(config);时报错：

    Paddle-Lite: [F 10/26 16:37:40. 52 .../model_parser/flatbuffers/program_desc.h:52 InitProgramDesc] Check failed: verifier.VerifyBufferpaddle::lite::fbs::proto::ProgramDesc(nullptr): Program verification failed.

请问是哪里出了问题呢

[2022-10-26 14:49] Yamabukiss opened #9597 "Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)"
用的是 2.9的opt  lib版本为768fb07

[2022-10-26 14:50] Yamabukiss commented on #9597
#include <iostream>
#include "paddle_api.h"

int64_t ShapeProduction(const paddle::lite_api::shape_t& shape) {
    int64_t res = 1;
    for (auto i : shape) res *= i;
    return res;
}

int main()
{
    paddle::lite_api::MobileConfig config;
    config.set_model_from_file("../model/ssdlite_small_fpn.nb");
    config.set_threads(4);
    config.set_power_mode(paddle::lite_api::LITE_POWER_HIGH);

[2022-10-27 07:04] bigbosskai opened #9600 "How to compile opt with debug information?"
command like this.

./lite/tools/build.sh build_optimize_tool

But it's a release version

[2022-10-28 06:08] zhangxiaodi opened #9604 "paddleSeg分割模型转换成paddle-lite后网络输出结果为0。可否提供一些分割模型转换和测试案例。"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题:[历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

如果您没有查询到相似问题，为快速解决您的提问，建立 issue 时请提供如下细节信息：
- 标题：简洁、精准描述您的问题，例如“最新预测库的 API 文档在哪儿 ”
- 版本、预测库信息：
    1）Paddle Lite 版本：请提供您的 Paddle Lite 版

[2022-10-30 04:10] thrkingd opened #9606 "ppyolo模型开启opencl连续预测时预测结果出现残留现象，会返回前几帧的预测结果"
- 版本、预测库信息：
    1）Paddle Lite 版本：2.11
    2）Host 环境：Ubuntu 16.04
    3）运行设备环境：Redmi 8A（MIUI11.0.10）
    4）预测后端信息：采用opencl库加速
- 预测信息
    1）预测 API：JAVA
    2）预测选项信息：armv7 单线程
    3）预测库来源：源码编译，编译选项 ARCH=armv7，TOOLCHAIN=clang，WITH_JAVA=ON，WITH_CV=OFF，
         WITH_OPENCL=ON
-模型信息
   1）Paddle-Detection-2.5，直接使用官网下载的ppyolo_650e_coco模型参数
   2）使用Paddle-Detection提供的tool导出模型
   python tools/export_model.py

[2022-10-30 11:17] yinwangsong opened #9607 "paddlelite在麒麟NPU上执行推理时的子图划分问题"
使用huawei_kirin_npu_subgraph_partition_config_file.txt指定运行在CPU上的算子时，遇到一个奇怪的现象：指定多个算子时，似乎只有最后一个算子才会生效。如图一，我指定第一个和第二个relu在CPU上运行，但是运行后的结果如图二所示，只有第二个relu在CPU上运行了。
<img width="949" alt="屏幕截图 2022-10-30 153724" src="https://user-images.githubusercontent.com/48912667/198875240-01dd957d-f87c-4613-b653-b34703cdf7eb.png">

<img width="1001" alt="屏幕截图 2022-10-30 152908" src="https://user-images.githubusercon

[2022-10-30 12:10] hong19860320 commented on #9607
@yingshengBD 跟一下这个问题吧，看看能不能复现。

[2022-10-30 13:33] yinwangsong commented on #9607
感谢，问题已解决，WSL中行尾是CRLF，换成LF即可。

[2022-10-30 13:33] #9607 closed, assigned to wz1qqx

[2022-10-31 06:58] chenglong-do opened #9612 "寒武纪 MLU270 编译错误"
- 版本、环境信息：
    1）Paddle Lite 版本：v2.9
    2）Host 环境：Ubuntu 18.04
    3）运行设备环境：X86 服务器
    4）预测后端信息：寒武纪 MLU270
- 编译/安装方式信息：
    docker 编译：寒武纪开发容器 public-server/mlu270_ubuntu18.04.pytorch ，编译命令 ./lite/tools/build_mlu.sh build
- 复现信息：克隆 paddle-lite 源码，切换至  v2.9 分支，运行 ./lite/tools/build_mlu.sh build 命令
- 问题描述：请详细描述您的问题，同步贴出报错信息、日志/代码关键片段

[code]

[2022-10-31 09:57] Genlk opened #9617 "可以通过md5值名称加载nnc模型嘛？"
step1:设置model_cache_dir,model_cache_token。先运行一次模型，会生成 .nnc的文件
step2:设置mdoel_cache_token为生成的nnc文件的前缀，通过mobile_config.set_nnadapter_model_cache_buffers 加载模型。 无报错

step3:调用predictor->Run(); 的时候程序退出，程序退出信息如下
![image](https://user-images.githubusercontent.com/24912927/198981703-c4396e64-9f35-4426-8171-72aff26d77b9.png)

[2022-10-31 11:28] Genlk commented on #9500
设置了cache 之后，模型在推理阶段退出了。参考相关的issue
https://github.com/PaddlePaddle/Paddle-Lite/issues/9617
@hong19860320

[2022-10-31 11:29] Genlk commented on #9500
![image](https://user-images.githubusercontent.com/24912927/198997905-db29f00b-845e-49da-96b7-34551e507c14.png)
log 附图
@hong19860320

[2022-11-01 03:01] chayliu1991 opened #9619 "如果平台上有多个厂家的 npu，能够对一个计算图进行分割调度在多个 npu 上吗？"
为使您的问题得到快速解决，在建立 Issues 前，请您先通过如下方式搜索是否有相似问题:[历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

如果您没有查询到相似问题，为快速解决您的提问，建立issue时请提供如下细节信息：
- 标题：简洁、精准概括您的问题
- 版本、环境信息：
    1）Paddle Lite 版本：请提供您的 Paddle Lite 版本号（如v2.10）或 CommitID
  

[2022-11-01 03:25] chayliu1991 commented on #9619
或者比如计算平台有 arm cpu + arm cpu + arm npu，能够实现切图实现算力均衡吗

[2022-11-01 05:17] wzh326 opened #9620 "真是离谱！arm架构下源码编译paddlelite develop正常安装，推理模型时却报错不支持arm端自带op算子"
- 版本、环境信息：
    1）Paddle Lite 版本：develop
    2）Host 环境：树莓派4B 32位系统
- 模型信息
    1）mobileseg
    2）模型链接
- 复现信息：
- 问题描述：
![38QJCT}C@`C %OK 9L{WEUU](https://user-images.githubusercontent.com/79301727/199163903-1b959e2e-3c45-4e08-baed-c312a06e398c.png)
文档上明确表明支持该算子，但是实际预测的时候却会报错：
Can't find a 'calib' kernel to trans: Tensor<arm,float,NCHW,0>:batch_norm_2. Tensor<arm,int32,NCHW,0>: bilinear_interp_v2

[2022-11-01 06:06] hong19860320 commented on #9620
这个报错说的不是bilinear_interp_v2算子问题，是calib 算子问题，你把模型发一下，我们看看是什么问题导致的。

[2022-11-01 08:28] wzh326 commented on #9620
您好！我使用的是PaddleSeg套件中的mobileseg模型，直接从该页面下载的model文件，然后在ai studio平台上使用paddle_lite_opt转换得到部署模型，最后放在树莓派上面进行推理
![1](https://user-images.githubusercontent.com/79301727/199190409-0eb51cfe-f965-40f7-bad4-4e47ed9e300b.JPG)
-----------------------------------------------------------------------------------------------------------------------------------
这是我转换模型所使用的命令，保险起见，我下载了不同版本的paddlelite进行转换，但最终得到模型均无法正常

[2022-11-01 12:17] qiuming-93 opened #9624 "华为昇腾NPU环境下执行demo报错"
- 标题：华为昇腾NPU环境下执行demo报错
参考的官方教程文档，下载对应的demo程序执行出现报错
https://paddle-lite.readthedocs.io/zh/develop/demo_guides/huawei_ascend_npu.html#id7
报错信息为：
[4 11/ 1 20:13:23.558 .../backends/nnadapter/nnadapter_wrapper.cc:96 Initialize] NNAdapterExecution_create is loaded.
[4 11/ 1 20:13:23.558 .../backends/nnadapter/nnadapter_wrapper.cc:97 Initialize] NNAdapterExecution_destroy is loaded.
[4 11/ 1 20:13:23.5

[2022-11-02 02:11] totravel commented on #9235
已在 Windows 上用 VS 2015 编译 32 位的 Paddle Lite 成功。

[2022-11-02 02:11] #9235 closed, assigned to shentanyue

[2022-11-02 03:11] fengyanWang commented on #9589
谢谢回复！请问我是否可以使用paddle训练picodet，然后基于paddleSlim进行量化，最后基于paddle lite调用NNAPI接口，在支持nnapi的NPU上跑picodet模型，其中picodet中有部分算子是没有做paddle ops->nnapi ops映射的，做了映射算子中部分算子是NPU上不支持的，所以我是不是可以理解，没有做映射的部分算子会被paddle lite自动异构到CPU上执行，做了映射但是NPU不支持的算子会被NNAPI自动异构到CPU上执行？

[2022-11-02 07:11] hong19860320 commented on #9624
目前看起来是 demo 的预编译库依赖的 CANN 版本和你环境的不一致，建议按照文档重新更新下相应的库就 OK

[2022-11-02 07:19] qiuming-93 commented on #9624
如何查看CANN的版本，另外如何更新对应的库，是需要重新编译下paddle lite吗

[2022-11-02 07:19] sprouteer commented on #9592
是的，lite目前缺失unpool算子

[2022-11-02 07:20] Hyperpepe commented on #9581
这里有了新的错误
[code]

环境为
[code]

[2022-11-02 07:25] hong19860320 commented on #9624
https://www.paddlepaddle.org.cn/lite/develop/demo_guides/huawei_ascend_npu.html 文档里面有说明 Demo 所使用的 CANN 的版本，也提供了对于 CANN 版本的下载链接。
![image](https://user-images.githubusercontent.com/9973393/199425683-63da780e-905f-468b-8e0e-badc9e84f861.png)

如果你不希望更新 CANN 版本，文档里也提供了paddlelite 库编译和更新的方法。

[2022-11-02 08:24] bigbiglemon opened #9629 "Android 使用人像分割时，输入数据中宽高设置较大数值会崩溃，在低性能手机上小数值也会崩溃"
paddle-lite版本: 2.8
运行环境：Android
模型：hrnet_w18 (Matting)
依赖库：PaddlePredictor.jar  libpaddle_lite_jni.so
描述：参照demo写法，在项目中引入了人像分割，模型short_size = 512 ， 在输入数据中设置宽高较高就会崩溃（在性能低的手机上设置256都会崩溃）。
期望：可以增加执行时间，但是不要崩溃……
崩溃时java代码位置：paddlePredictor?.run()
错误日志:
2022-11-02 09:43:38.921 26304-26304/? A/DEBUG: Build fingerprint: 'HUAWEI/NOH-AN00/HWNOH:10/HUAWEINOH-AN00/102.0.0.276C00:user/release-keys' 2022-11-02 09

[2022-11-02 12:17] liuguicen opened #9631 "麻烦请问Android没有2.11的jar吗"
麻烦请问Android没有2.11的jar吗
11.rc这样写的
  'src' : 'https://paddlelite-demo.bj.bcebos.com/libs/android/paddle_lite_libs_v2.11_rc.tar.gz',
                'dest': 'PaddleLite'
下载11写成这样，却不行？
  'src' : 'https://paddlelite-demo.bj.bcebos.com/libs/android/paddle_lite_libs_v2.11.tar.gz',
                'dest': 'PaddleLite'

[2022-11-02 14:12] bigbiglemon commented on #9526
@chenkecheng 请问这个问题后续有解决方案么？这好像喝模型无关，在性能差一些的手机上size 512 甚至 256都会出现崩溃现象

[2022-11-03 02:49] MoonBunnyZZZ opened #9634 "视频算法模型demo？"
是否有paddlevideo中的视频算法模型在移动端部署的demo示例

[2022-11-03 09:09] liyancas commented on #9578
从日志来看，arm端缺乏pad算子导致模型转换失败，pad这个算子移动端不常用，请问您的模型结构是什么样？

[2022-11-03 09:10] liyancas commented on #9634
暂时没有Paddlevideo相关的部署demo，您这边是有什么需求吗？

[2022-11-03 09:12] liyancas commented on #9629
你好，2.8版本过于陈旧，是否可以尝试下2.12-rc版本库：https://github.com/PaddlePaddle/Paddle-Lite/releases/tag/v2.12-rc

[2022-11-03 09:15] liyancas commented on #9588
新合入的这个PR：https://github.com/PaddlePaddle/Paddle-Lite/pull/9621 是否可以解决这个问题@sprouteer

[2022-11-03 09:49] MoonBunnyZZZ commented on #9634
是，想做一些移动端上的视频算法

[2022-11-03 12:35] wzy123456wzy opened #9635 "当调用测试PaddleOCR Android的时候，报错，出现该问题。"
![image](https://user-images.githubusercontent.com/44393339/199721580-aef4cc09-bd5b-401d-ab60-165d94b54228.png)

[2022-11-04 01:26] bigbiglemon commented on #9629
@liyancas  这边尝试了2.11rc 2.12rc等版本，以上问题仍然存在

[2022-11-04 02:00] hong19860320 commented on #9635
麻烦在android 工程 jni 代码最初调用的地方加一行代码：
`
put_env("GLOG_v=5");
`
然后通过 adb logcat 把日志导出到文本文件上传上来，方便我们分析问题原因。

[2022-11-04 02:04] hong19860320 commented on #9620
这个转换命令是哪里看来的呢？ --optimize_out_type=protobuf 需要改成 naive_buffer ，或者去掉则默认是naive_buffer

具体用法在[https://www.paddlepaddle.org.cn/lite/v2.11/user_guides/opt/opt_bin.html](https://www.paddlepaddle.org.cn/lite/v2.11/user_guides/opt/opt_bin.html)

[2022-11-04 02:10] hong19860320 commented on #9617
可以在执行命令前加一些环境变量，看看错误原因，可能是设备环境原因导致 cache 的模型执行有问题。
例如：
`
export GLOG_v=5; export VIV_VX_ENABLE_GRAPH_TRANSFORM=-pcq:1; export VIV_VX_SET_PER_CHANNEL_ENTROPY=100; export VSI_NN_LOG_LEVEL=5; ./demo xxxxxx
`

[2022-11-04 02:10] hong19860320 commented on #9617
@yingshengBD 跟一下这个问题

[2022-11-04 03:15] qiuming-93 opened #9637 "编译华为昇腾NPU环境下的paddle lite报错"
- 标题：编译华为昇腾NPU环境下的paddle lite报错
- 版本、环境信息：
    1）Paddle Lite 版本：2.11
    2）Host 环境：arm
    3）运行设备环境：华为昇腾
    4）预测后端信息：NPU
- 编译/安装方式信息：
    本地编译： ./lite/tools/build_linux.sh --arch=armv8 --toolchain=gcc --with_extra=ON --with_log=ON --with_exception=ON --with_nnadapter=ON --nnadapter_with_huawei_ascend_npu=ON --nnadapter_huawei_ascend_npu_sdk_root=/usr/local/Ascend/ascend-toolkit/latest full_publis

[2022-11-04 03:16] qiuming-93 commented on #9637
看了下代码，在./lite/backends/nnadapter/nnadapter/src/driver/huawei_ascend_npu/utility.h中使用了ge::AscendString这个类型，但是在lite/kernels/npu/bridges/utility.h中未看到有在ge这个命名空间内定义AscendString，查了下代码提交记录也没找到这个类型定义的代码

[2022-11-04 03:39] qiuming-93 commented on #9637
好像知道问题了，看了下老的包，这部分代码应该在华为的CANN里面，应该是我少装了啥，我这边再排查下

[2022-11-04 06:36] fengyanWang opened #9639 "FP16 使用armv7推理有问题"
- 标题：使用paddle lite在arm v7上进行FP16模型预测出问题
- 版本、预测库信息：
   - Paddle Lite：2.11
   - Host 环境：ubuntu 18.04
   - 运行设备环境：展锐T610
   - 预测后端信息：CPU
- 预测信息
  - 预测 API：C++（JNI方式）
  - 预测选项信息：armv7   单线程
  - 预测库来源：https://github.com/PaddlePaddle/Paddle-Lite/releases/download/v2.11/inference_lite_lib.android.armv7.clang.c++_shared.with_extra.with_cv.arm82_fp16.tar.gz

- 复现信息：使用的是pciodet的fp16模型推理
- 问题描述：当设置为armv8时，使

[2022-11-04 06:52] csy0225 commented on #9639
armv7架构不支持fp16特性，armv8.2架构之后才支持fp16，你可以在armv7上面使用picodet fp32模型进行推理试试

[2022-11-04 07:16] youngx123 opened #9640 "opencl如何修改源码更改为默认支持fp32?"
使用opencl调用GPU时，打印log时显示gpus设备不支持fp16，看了.h文件opencl默认是使用fp16,该如何修改源码改为默认使用fp32进行编译呢
![微信图片_20221104153129](https://user-images.githubusercontent.com/44057950/199919122-37a3f577-c191-46f5-8c3f-63c68c99553e.jpg)

[2022-11-04 08:03] csy0225 commented on #9639
armv7的板子不支持fp16指令，armv8.2架构以后的板子才支持，你可以是用picodet的fp32模型在armv7的板子上推理

[2022-11-04 11:55] hong19860320 commented on #9637
嗯，文档里面有推荐 CANN 版本哈 https://www.paddlepaddle.org.cn/lite/v2.11/demo_guides/huawei_ascend_npu.html

[2022-11-04 14:35] kslz opened #9642 "Windows编译错误"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题:[历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

建立 issue 时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac 编译错误”
- 版本、环境信息：
    1）Paddle Lite 版本：develop分支
    2）Host 环境：win10

[2022-11-04 14:54] kslz commented on #9642
也试过use_vs2019了
![image](https://user-images.githubusercontent.com/54951765/200005786-068c0fb1-8398-4179-9874-1d9131f14f49.png)

[2022-11-07 01:23] fengyanWang commented on #9639
请问意思是我现在用的CPU不支持arm v7下使用FP16吗？还是所有的CPU都不支持arn v7下使用FP16？

[2022-11-07 09:22] totravel opened #9647 "在 Windows 上编译不依赖 AVX 指令的 Paddle Lite 找不到标识符 _mm_loadu_epi8"
## 环境

- Paddle Lite release/v2.12
- x86_64
- Windows 10 22H2
- Visual Studio 14 2015
- CMake 3.24.0
- Python 3.10.4
- pip 22.2.2

## 问题

在 Windows 上用 VS2015 编译不依赖 AVX 指令的 Paddle Lite 时提示找不到标识符 `_mm_loadu_epi8`，具体编译命令和报错信息如下：

[code]

如果不添加 `without_avx` 选项就可以编译成功。

[2022-11-08 02:46] zhongqinghong commented on #9519
我这边使用A55/A77核心的手机测试，性能好像有提升了。请问一下如果想要增加其他核的使能，也是可以采取同样的方式吗？

[2022-11-08 06:58] wzy123456wzy commented on #9635
谢啦，已经解决该问题了，是模型路径传错了，导致该问题

[2022-11-08 11:23] mjp9527 commented on #9639
你这个展锐是：由两颗1.8 GHz的Arm Cortex-A75 CPU 和六颗1.8 GHz的Arm Cortex-A55 处理器组成的吗？如果是A75、A55是支持v7 跑fp16的，Log信息看不出什么问题，建议用c++ shell demo只跑模型，export GLOG_v=6把log打开

[2022-11-08 11:26] mjp9527 commented on #9647
x86 目前编译需要avx指令集，后期会修复

[2022-11-08 12:42] totravel commented on #9647
期待 Paddle Lite 2.12 正式版可以修复这个问题

[2022-11-08 12:45] Genlk commented on #9617
@hong19860320 @yingshengBD
问题已经解决，建议在98行之后增加校验代码，校验nnc文件与__model__的文件是否输入输出一致。

https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/backends/nnadapter/nnadapter/src/driver/verisilicon_timvx/engine.cc

问题产生原因：模型输出是5个tensor,在第一次运行的推理当中，只用到了一个tensor。因此保存到.nnc的文件里面的模型输出不完整，在engine.cc当中，从内存文件中构建output的时候会中断。

修改方法：将模型输出改为一个tensor（此方法已经验证可以运行）；
或者将五个tensor在第一次处理的时候都运行一次，确保.nnc文件中有所有output的信息（此

[2022-11-08 13:30] litch-cl commented on #9523
您好，我是用DD镜像搭建的200DK环境，然后用200DK进行本地编译出现了一些bug，我想问问你配置200DK环境和进行交叉编译是参考的哪些文档呢，然后想知道一下固件，CANN，PaddleLite版本信息等，能否提供一下呢。我想作为参考

[2022-11-08 13:55] Skyamz commented on #9523
参考的这一篇：
https://mp.weixin.qq.com/s/0LzmHAfB2K2o-IpsGac8yw

can-toolkit版本号是5.0.4
paddle lite就是拉的最新的develop分支
cann是3.3.x

我是直接在板子上把ascend装好之后，放在x86的pc机上交叉编译的

------------------ 原始邮件 ------------------
发件人: litch-cl ***@***.***&gt;
发送时间: 2022年11月8日 21:30
收件人: PaddlePaddle/Paddle-Lite ***@***.***&gt;
抄送: skyamz ***@***.***&gt;, Author ***@***.***&gt;
主题: Re: [PaddlePaddle/Paddle-Lite] Ascend NPU 编译报错

[2022-11-09 03:12] litch-cl opened #9658 "Ascend310本地编译Paddle-Lite"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题:[历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

建立 issue 时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：请包含关键词“安装错误”/“编译错误”，例如“Mac 编译错误”
- 版本、环境信息：
    1）Paddle Lite 版本：请提供您的 Paddle Lite 版本号（如v2.10）或

[2022-11-09 03:19] laonafahaodange opened #9659 "带lstm的pt模型转换为nb模型输出不一致的问题"
- 标题：带lstm的pt模型转换为nb模型输出不一致的问题
- 版本、环境信息：
1）Paddle Lite 版本：v2.10
2）Host 环境：Windows11
3）x2paddle 版本：v1.3.9
4）resemblyzer 版本：v0.1.1.dev0
- 模型信息
1）模型名称：VoiceEncoderModel
2）模型链接：无
- 复现信息与问题描述：
  [模型以及相应代码提取码：vwoz](https://pan.baidu.com/s/1ZydgLsyVq-nMfFm7TEclfQ?pwd=vwoz)
  希望将pt模型转换至对应的nb模型。过程是pt->paddle模型+静态图->nb。已知问题是模型带有LSTM层的情况下，pt模型与paddle模型在输入一致的情况下输出一致，但是转换得到的nb模型输出不一致。去掉LSTM后pt模型、paddle模型、nb模型

[2022-11-09 03:38] litch-cl commented on #9523
我想请问下您在编译替换文件之前，通过运行这个命令`./run.sh mobilenet_v1_fp32_224 linux arm64 huawei_ascend_npu`测试demo能得出结果吗，我在编译之前运行demo时只有这个命令`./run.sh mobilenet_v1_fp32_224 linux arm64 `才可以出结果。

[2022-11-09 03:45] Skyamz commented on #9523
替换之前我没有在本地编译过，不太清楚～
不过看你这个命令，编译不过是正常的，因为带huawei_ascend_npu的命令只能在板子上编译哈

------------------ 原始邮件 ------------------
发件人: litch-cl ***@***.***&gt;
发送时间: 2022年11月9日 11:38
收件人: PaddlePaddle/Paddle-Lite ***@***.***&gt;
抄送: skyamz ***@***.***&gt;, Author ***@***.***&gt;
主题: Re: [PaddlePaddle/Paddle-Lite] Ascend NPU 编译报错-libge_compiler.so: 无法添加符号: 文件格式错误 (Issue #9523)

我想请问下您在编译替换文件之前，通过运行这个命令./run.sh mo

[2022-11-09 03:51] litch-cl commented on #9523
因为我搭建的是合设环境，也是在板子上跑的，我想应该是缺少编译包的原因，现在首要想解决编译的问题。

[2022-11-09 03:52] Skyamz commented on #9523
是的，没有替换ascend-toolkit是跑不起来的

------------------ 原始邮件 ------------------
发件人: litch-cl ***@***.***&gt;
发送时间: 2022年11月9日 11:51
收件人: PaddlePaddle/Paddle-Lite ***@***.***&gt;
抄送: skyamz ***@***.***&gt;, Author ***@***.***&gt;
主题: Re: [PaddlePaddle/Paddle-Lite] Ascend NPU 编译报错-libge_compiler.so: 无法添加符号: 文件格式错误 (Issue #9523)

因为我搭建的是合设环境，也是在板子上跑的，我想应该是缺少编译包的原因，现在首要想解决编译的问题。

—
Reply to this email direct

[2022-11-09 06:31] hong19860320 commented on #9659
好的，收到，@mjp9527 帮忙复现下哈

[2022-11-09 06:51] Skyamz opened #9661 "华为昇腾NPU部署官方Yolov4模型出错"
华为昇腾NPU部署官方Yolov4模型出错
https://paddle-lite.readthedocs.io/zh/release-v2.10_a/demo_guides/huawei_ascend_npu.html

Yolov4模型转换onnx模型的命令为：
`paddle_lite_opt --model_file=__model__ --param_file=__params__ --valid_targets=arm,huawei_ascend_npu --optimize_out=yolov4`

部署之后input个数与代码中有出入，我把下面這部分注释掉了
`// scale_factor tensor

`

然后报错：
[EVENT] GE(6338,yolo_detection_demo):2022-11-04-03:01:39.616.099 [gelib.cc:

[2022-11-09 06:57] Skyamz commented on #9661
補充一個模型結構
![yolov4nb](https://user-images.githubusercontent.com/16118736/200760421-be77e787-37aa-4797-9618-ed5c14c695af.png)

[2022-11-09 09:05] Syunraii opened #9663 "windows 脚本使用opt模型转换，找不到指定lite模块"
为使您的问题得到快速解决，在建立 Issue 前，请您先通过如下方式搜索是否有相似问题: [历史 issue](https://github.com/PaddlePaddle/Paddle-Lite/issues), [FAQ 文档](https://paddle-lite.readthedocs.io/zh/develop/quick_start/faq.html), [官方文档](https://paddle-lite.readthedocs.io/zh/develop/guide/introduction.html)

建立 issue 时，为快速解决问题，请您根据使用情况给出如下信息：
- 标题：简洁、精准描述您的问题，例如“ssd 模型转换报错”
- 版本、环境信息：
    1）Paddle Lite 版本：v2.10rc0
    2）Host 环境：OS Win10
- 模

[2022-11-09 10:26] Syunraii commented on #9663
参考[模型优化工具](https://paddle-lite.readthedocs.io/zh/develop/user_guides/model_optimize_tool.html)
尝试降级python3.7.9

[2022-11-09 14:16] laonafahaodange commented on #9659
目前大概排除出问题了，是原模型中对lstm的输出hidden做了索引操作`hidden[-1]`，是否不支持该操作？

[2022-11-10 01:30] Syunraii commented on #9663
降级python3.7 成功转换出.nb
paddleDetection+paddle-Lite 这一套 <= python3.7

[2022-11-10 01:30] #9663 closed, assigned to mjp9527

[2022-11-10 03:23] litch-cl commented on #9523
您好，我按教程搭建了分设环境在虚拟机上安装了arm_nnrt，arm_tookit，x86_toolkit，并且完成了制卡，能连上开发板，但在交叉编译运行代码 `./lite/tools/build_linux.sh --arch=armv8 --toolchain=gcc --with_extra=ON --with_log=ON --with_exception=ON --with_nnadapter=ON --nnadapter_with_huawei_ascend_npu=ON --nnadapter_huawei_ascend_npu_sdk_root=/usr/local/Ascend/ascend-toolkit/latest full_publish`
后依然报了和之前同样的错误
`Linking CXX static library libops.a
[ 38%] Bui

[2022-11-10 04:59] yt605155624 opened #9667 "主页 save_inference_model 链接失效"
<img width="798" alt="image" src="https://user-images.githubusercontent.com/24568452/201004687-f9cbc0d4-5577-4d75-9f8b-870a90b9bf45.png">

[2022-11-10 05:17] Skyamz commented on #9523
nnadapter_huawei_ascend_npu_sdk_root=/usr/local/Ascend/ascend-toolkit/latest full_publish

这个路径对吗？
这个ascend-toolkit是从板子那边拷贝过来的吗

------------------ 原始邮件 ------------------
发件人: litch-cl ***@***.***&gt;
发送时间: 2022年11月10日 11:23
收件人: PaddlePaddle/Paddle-Lite ***@***.***&gt;
抄送: skyamz ***@***.***&gt;, Author ***@***.***&gt;
主题: Re: [PaddlePaddle/Paddle-Lite] Ascend NPU 编译报错-libge_compiler.so: 无法添加符号:

[2022-11-10 06:49] litch-cl commented on #9523
路径是对的，不然也不会编译这么多了，ascendtoolkit是我在虚拟机上用./*run --install安装的

[2022-11-10 06:52] Skyamz commented on #9523
不太清楚你说的虚拟机是指200dk板子吗？ascendtoolkit在板子上./*run install安装完之后，再拷贝到这边来

------------------ 原始邮件 ------------------
发件人: litch-cl ***@***.***&gt;
发送时间: 2022年11月10日 14:50
收件人: PaddlePaddle/Paddle-Lite ***@***.***&gt;
抄送: skyamz ***@***.***&gt;, Author ***@***.***&gt;
主题: Re: [PaddlePaddle/Paddle-Lite] Ascend NPU 编译报错-libge_compiler.so: 无法添加符号: 文件格式错误 (Issue #9523)

路径是对的，不然也不会编译这么多了，ascendtoolkit是我在虚拟机上用

[2022-11-10 07:05] litch-cl commented on #9523
我是通过x86虚拟机连接的开发板，按照搭建开发环境教程将那三个.run文件安装在了虚拟机/usr/local路径下面，开发板是直接通过制卡脚本制作

[2022-11-10 07:15] Skyamz commented on #9523
哦哦，那你提个iusse问下官方吧～我没有遇到过这个错误

------------------ 原始邮件 ------------------
发件人: litch-cl ***@***.***&gt;
发送时间: 2022年11月10日 15:05
收件人: PaddlePaddle/Paddle-Lite ***@***.***&gt;
抄送: skyamz ***@***.***&gt;, Author ***@***.***&gt;
主题: Re: [PaddlePaddle/Paddle-Lite] Ascend NPU 编译报错-libge_compiler.so: 无法添加符号: 文件格式错误 (Issue #9523)

我是通过x86虚拟机连接的开发板，按照搭建开发环境教程将那三个.run文件安装在了虚拟机/usr/local路径下面，开发板是直接通过制卡脚本制作

—

[2022-11-10 07:17] litch-cl commented on #9523
那能方便说下您的操作吗，我提的iusse并没有人理我

[2022-11-10 07:23] Skyamz commented on #9523
1. 在板子上装ascend toolkit，./*run install
2. 将装好的toolkit scp到编译机器上
3. 找下paddle lite hub中的doc，找下符合编译环境的手册，我的是x86_64
4. 照着手册里面的步骤，就是./lite那句命令
注意各种参数

基本上就这些，我怀疑你是环境相关问题，建议直接用板子跟主机连接就行，跳过虚拟机

------------------ 原始邮件 ------------------
发件人: litch-cl ***@***.***&gt;
发送时间: 2022年11月10日 15:17
收件人: PaddlePaddle/Paddle-Lite ***@***.***&gt;
抄送: skyamz ***@***.***&gt;, Author ***@***.***&gt;
主题: Re: [PaddlePaddl

[2022-11-10 09:25] hong19860320 commented on #9661
利用自定义子图分割，去掉下面两个subgraph  试试，具体如何做子图分割，可以看下这个文档 https://www.paddlepaddle.org.cn/lite/develop/develop_guides/nnadapter.html

![image](https://user-images.githubusercontent.com/9973393/201051964-e387db0f-1807-459f-96eb-441733e9920d.png)

[2022-11-10 09:26] hong19860320 commented on #9658
@shentanyue @siyu 看下这个问题吧

[2022-11-10 10:20] chenyangMl commented on #5299
你好, 最新v2.11, x86编译报错.
ubuntu16.04,  paddlite release/v2.11
编译命令: ./lite/tools/build_linux.sh --arch=x86
已尝试过  删除Paddle-Lite下的第三方目录third-party后编译, 依然同样的位置报错. 请问可以有什么解决办法,或者能关闭 mklml模块?

-- Downloading... done
-- extracting...
     src='/home/kasa/work/tuling_pros/Paddle-Lite/build.lite.linux.x86.gcc/third_party/mklml/src/extern_mklml/Glibc225_vsErf_mklml_lnx_2019.0.1.20181227.tgz'
     dst='/home/k

[2022-11-10 11:29] litch-cl commented on #9523
请问您在x86机器上是否安装了arm_toolkit，arm_nnrt，x86_toolkit这三个包呢。因为如果安装了这几个的话，x86上/usr/local/Ascend/ascend_toolkit目录下既有x86也有arm的工具，我不知道要将这个toolkit放在哪

[2022-11-10 11:31] Skyamz commented on #9523
没有安装，我直接用的板子拷贝过来的

------------------ 原始邮件 ------------------
发件人: litch-cl ***@***.***&gt;
发送时间: 2022年11月10日 19:29
收件人: PaddlePaddle/Paddle-Lite ***@***.***&gt;
抄送: skyamz ***@***.***&gt;, Author ***@***.***&gt;
主题: Re: [PaddlePaddle/Paddle-Lite] Ascend NPU 编译报错-libge_compiler.so: 无法添加符号: 文件格式错误 (Issue #9523)

请问您在x86机器上是否安装了arm_toolkit，arm_nnrt，x86_toolkit这三个包呢。因为如果安装了这几个的话，x86上/usr/local/Ascend

[2022-11-10 11:45] litch-cl commented on #9523
还是有些疑惑你是怎么搭的环境，能加个v吗，想交流一下

[2022-11-10 13:42] xiexiaozheng opened #9674 "matmul操作一直报错误"
- 问题描述：将transformer模型转为nb格式，用benchmark_bin测试， matmul报错，matmul_buffer_compute.cc:89 提示数据维度多一维 ，Check failed: (x_dims.size() == 2UL)
- 版本、预测库信息：
    1）Paddle Lite 版本：Paddle-Lite:9dd4e2655
    2）Host 环境：Ubuntu 18.04
    3）运行设备环境：Samsung Galaxy Fold4 骁龙8Gen1
    4）预测后端信息：opencl
  - 预测信息
    1）预测 API：C++
    2）预测选项信息：opencl
    3）预测库来源：源码编译
- 复现信息：
-模型结构
class SimpleNet(paddle.nn.Layer):
    def __init

[2022-11-10 13:56] litch-cl commented on #9658
救救孩子吧

[2022-11-10 14:15] litch-cl commented on #7918
您好，请问下您的环境是如何搭建的呢

[2022-11-10 16:30] hong19860320 commented on #9658
通过 >log.txt 2>&1 把完整的编译 log 文件上传上来吧

[2022-11-11 00:46] Skyamz commented on #9523
留下你的我加你吧

------------------ 原始邮件 ------------------
发件人: litch-cl ***@***.***&gt;
发送时间: 2022年11月10日 19:46
收件人: PaddlePaddle/Paddle-Lite ***@***.***&gt;
抄送: skyamz ***@***.***&gt;, Author ***@***.***&gt;
主题: Re: [PaddlePaddle/Paddle-Lite] Ascend NPU 编译报错-libge_compiler.so: 无法添加符号: 文件格式错误 (Issue #9523)

还是有些疑惑你是怎么搭的环境，能加个v吗，想交流一下

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Y

[2022-11-11 02:44] litch-cl commented on #9658
2022-11-10 18:36:10 (6.05 MB/s) - ‘third-party-801f670.tar.gz’ saved [12502111/12502111]

-- Found Paddle host system: ubuntu, version: 18.04.6
-- Found Paddle host system's CPU: 4 cores
-- CMAKE_CXX_FLAGS:
-- CMAKE_CXX_FLAGS_RELEASE:
-- armlinux CMAKE_C_COMPILER: aarch64-linux-gnu-gcc
-- armlinux CMAKE_CXX_COMPILER: aarch64-linux-gnu-g++
-- Found host C compiler: /usr/bin/gcc
-- Found host CXX co

[2022-11-11 10:43] Dandelion111 opened #9677 "paddle lite 在arm cpu推理时怎么绑定具体的核"
请问paddle lite 在arm cpu推理时怎么绑定具体的核，我设置2,3,4核推理时，算法都是只跑在2,3核上面，导致其余的核用不上，请问大佬有什么解决方案吗？

[2022-11-12 03:13] Dandelion111 opened #9679 "paddle lite 在全志h6 arm cpu 推理线程与POWER设置问题"
设置LITE_POWER_NO_BIND模式时，开1个线程耗时50ms， 开2个线程就900多ms，3个线程1700ms，请问大佬这是什么原因

[2022-11-12 12:03] hong19860320 commented on #9679
需要看下这款芯片有几个大核，几个小核，如果线程落到小核上，会拖慢整个推理速度的。

[2022-11-12 12:12] hong19860320 commented on #9677
我们的建议是不要做绑核操作，也就是用 LITE_POWER_NO_BIND，由系统调度，因为绑核会产生一些副作用，例如当 UI 或者应用主线程跑在 0 核（大核）上时，如果你再将大运算量的推理任务也绑到 0 核上，将会导致应用或系统卡死；还有另一个情况，生产者在 0 核上，消费者（推理任务）也绑在 0 核上，会导致生产者需要等待消费者完成任务后才能继续，你看到的现象是 0 核将 camera preview 数据绘制在 UI 上然后将一帧数据丢给推理任务处理，这时如果推理任务也绑在 0 核上，就需要等待推理任务结束才能显示 camera preview 下一帧图像，就和串行处理每一帧数据一样。

[2022-11-14 06:40] sprouteer commented on #9640
OpenCL运行精度是fp32还是fp16是运行时指定的，编译是第一次运行的时候，通过 config.set_opencl_precision(CL_PRECISION_FP32);这个接口指定，使用案例参考lite/demo/cxx/mobile_light/mobilenetv1_light_api.cc第183行 或者lite/api/tools/benchmark/benchmark.h 的 SetBackendConfig函数

[2022-11-14 07:04] liamsun2019 commented on #9578
试验步骤：
1. x2paddle --framework=onnx --model=test.onnx --save_dir=pd_model_test
2. ./opt --print_model_ops=true --model_file=pd_model_test/inference_model/model.pdmodel --param_file=pd_model_test/inference_model/model.pdiparams --valid_targets=arm

会报告：
Error: This model is not supported, because 1 ops are not supported on 'arm'. These unsupported ops are: 'pad'.
Aborted (core dumped)

onnx模型本身可以正常推

[2022-11-14 07:05] liamsun2019 commented on #9578
此模型在ncnn/mnn/tengine上都可以正常用arm cpu推理

[2022-11-14 08:26] TheLavanya opened #9687 "Android PaddleLite demo installation issue"
I've tried to install Paddle-Lite demo (PaddlePredicator) on my android phone. App is getting crashed after opening. Please help on this: -

Installation Error:-

11-14 13:48:03.657 25034 25034 I idu.paddle.lit: [GL_OOM] ClampGrowthLimit 268435456
11-14 13:48:03.660 25034 25034 D NetworkSecurityConfig: No Network Security Config specified, using platform default
11-14 13:48:03.662 25034 25034 D Ne

[2022-11-14 12:01] shentanyue commented on #9658
才看到你贴的日志，下次可以直接放log文件，方便查看。
你的错误是出在这里，应该是编译资源不足，导致编译工具自动kill掉进程，建议用配置好点的机器来编译
![image](https://user-images.githubusercontent.com/34421038/201654925-7980516f-b45e-404d-ad29-091591685028.png)

[2022-11-14 13:44] Genlk opened #9689 "使用tim_vx模型构建失败"
量化训练模型之后，使用OPT转换模型，
1.opt.set_valid_places("arm")的时候，转换的.nb模型，可以在板子上正常推理

2.opt.set_valid_places("verisilicon_timvx,arm")的时候，转换的.nb模型在板端推理报错
![image](https://user-images.githubusercontent.com/24912927/201675505-4af2f541-a5fb-4f37-9c36-bb3c4074390b.png)

[2022-11-14 13:54] litch-cl commented on #9658
感谢解答，查找原因是由于所使用虚拟机swap空间不足导致的，后将swap空间扩容到8GB才将编译过程向前推进了一步。

[2022-11-15 08:12] Genlk opened #9691 "A308板端推理ssd检测模型的demo,这样的推理速度正常么？大家的推理速度都是多少？"
cpu 模式下，450ms
![image](https://user-images.githubusercontent.com/24912927/201864770-082e13de-0237-4596-b2a6-1edfbd0048da.png)

timvx模式下,1426ms,
![image](https://user-images.githubusercontent.com/24912927/201864832-fb26cf53-7de2-4ccc-bf6c-fd4204bae36b.png)

[2022-11-16 02:23] litch-cl commented on #8929
您好，解决了吗，我也碰到了这个问题

[2022-11-16 07:17] Dandelion111 commented on #9679
你好，我设置成不绑定核的模式，用1个线程50ms，比较正常，2个线程就900ms了，3个线程1700ms

[2022-11-16 07:18] Dandelion111 commented on #9677
感谢大佬解答，我设置成不绑定核的模式，用1个线程50ms，比较正常，2个线程就900ms了，3个线程1700ms

[2022-11-16 09:08] TD-wzw opened #9701 "在ubuntu18.04交叉编译aarch64的版本报错"
Paddle-Lite版本：2.10
编译方式：在ubuntu交叉编译
工具链：gcc-linaro-5.4.1-2017.01-x86_64_aarch64-linux-gnu
编译命令：./lite/tools/build_linux.sh --arch=armv8 --toolchain=gcc --with_static_lib=on --with_log=off
错误：
[100%] Linking CXX static library libpaddle_api_light_bundled.a
Error running link command: No such file or directory
lite/api/CMakeFiles/paddle_api_light_bundled.dir/build.make:12626: recipe for target 'lite

[2022-11-16 09:32] litch-cl opened #9702 "在ubuntu18.04交叉编译昇腾NPU出错"
接问题 #9658 ，编译到最后出现报错
Paddle Lite 版本：v2.10，CANN：3.3.0，固件驱动：1.0.9
编译生成PaddleLite+NNAdapter+HuaweiAscendNPU for amd64 and arm64 的部署库时，输入面指令: `./lite/tools/build_linux.sh --arch=armv8 --toolchain=gcc --with_extra=ON --with_log=ON --with_exception=ON --with_nnadapter=ON --nnadapter_with_huawei_ascend_npu=ON --nnadapter_huawei_ascend_npu_sdk_root=/home/HwHiAiUser/Ascend/ascend-toolkit/latest full_publis

[2022-11-16 09:33] litch-cl commented on #9658
该问题已解决，又出现新的报错，见问题 #9702

[2022-11-16 09:33] #9658 closed, assigned to mjp9527

[2022-11-16 09:33] litch-cl commented on #9658
该问题已解决，又出现新的报错，见问题 #9702

[2022-11-16 09:38] Dandelion111 commented on #9679
这个芯片不分大小核，都是一样的

[2022-11-16 09:38] Dandelion111 commented on #9677
谢谢大佬解答， 用的全志h6，这个芯片不分大小核，都是一样的

[2022-11-16 09:42] xiexiaozheng opened #9703 "有人把transformer放到Adreno GPU上跑成功的么"
有人把transformer放到Adreno GPU上跑成功的么， 我看paddle lite 支持opencl实现的matmul，是不是可以把transformer放到Adreno GPU上跑起来？

[2022-11-16 13:13] litch-cl commented on #9702
[log.txt](https://github.com/PaddlePaddle/Paddle-Lite/files/10021936/log.txt)此为日志文件

[2022-11-17 01:03] Dandelion111 opened #9707 "请问paddle lite支持arm gpu Mali-T720吗"
各位大佬，我想下全志h6平台上用paddle lite推理，cpu推理没什么问题，我看这个芯片配备了GPU  Mali-T720，请问这个支持吗

[2022-11-17 05:52] hbo-lambda opened #9709 "PaddleDetection PP-Vehicle车辆跟踪模块 部署"
系统：Linux bm1684 4.9.38-bm1684-v9.6.1 #1 SMP Fri Apr 22 16:59:15 CST 2022 aarch64 GNU/Linux
代码：Paddle-Lite-Demo/PaddleLite-armlinux-demo/yolo_detection_demo
部署对象：PaddleDetection PP-Vehicle车辆跟踪模块，模型下载地址https://bj.bcebos.com/v1/paddledet/models/pipeline/mot_ppyoloe_s_36e_ppvehicle.zip

我对yolo_detection_demo.cc做了如下修改(为了适应 PP-Vehicle)
![Snip20221117_3](https://user-images.githubusercontent.com/7626261/

[2022-11-17 06:49] jiwuou123 commented on #9639
由两颗1.8 GHz的Arm Cortex-A75 CPU 和六颗1.8 GHz的Arm Cortex-A55 处理器组成的吗？  -- 是的

[2022-11-17 13:46] hong19860320 commented on #9689
@yingshengBD 关注下这个问题，你可以使用我们文档的demo哈  https://www.paddlepaddle.org.cn/lite/develop/demo_guides/verisilicon_timvx.html

[2022-11-17 13:55] hong19860320 commented on #9702
目前看起来是没有自动生成 paddle_lite_use_kernels.h导致的，得看看为什么python https://github.com/PaddlePaddle/Paddle-Lite/blob/7bedea96c767565aa72270e50aefb172ee6ea034/lite/tools/search_support_ops.py#L13 脚本没有执行成功。

[2022-11-17 14:00] hong19860320 commented on #9709
<img width="992" alt="image" src="https://user-images.githubusercontent.com/9973393/202465209-4abce487-476f-4a95-90a7-5d610f4822ba.png">
这个模型是两个fp32的输入，你后面改的是正确的，

![image](https://user-images.githubusercontent.com/9973393/202466236-9bb220a7-3db6-4ebb-b529-0419696ffa07.png)

但是scale_factor[0]和scale_factor[1]的值不是1.0，我理解应该是 [640.0/origin_image.h, 640.0/origin_image.w] 或者  [640.0/origin_image.w, 640.

[2022-11-17 14:01] hong19860320 commented on #9707
理论上是支持的，可以用opencl 作为 backend跑个简单模型试试

[2022-11-17 14:02] hong19860320 commented on #9703
@sprouteer tiantian 帮忙看看吧

[2022-11-17 14:03] hong19860320 commented on #9691
A308 是啥板子呢？ 模型是不是fp32的？你试试ssd int8 per layer全量化模型跑下哈

[2022-11-17 14:05] hong19860320 commented on #9687
![image](https://user-images.githubusercontent.com/9973393/202467097-f2d5b27b-e552-4f49-a974-a4074b1668f1.png)
模型加载失败了，你是不是替换了nb模型？

[2022-11-18 01:26] Dandelion111 commented on #9707
请问有opencl推理的示例吗？

[2022-11-18 02:26] MarginGitHub opened #9713 "Not support pad2d replicate mode?"
目前我在使用v2.11以上版本的时候发现pad2d算子不支持replicate mode，但是看报错信息中有一个edge模式，按照我的理解这两个模型应该是一样的吧？如果一样，是否可以支持replicate mode呢?以下是报错信息:

[F 11/18 10:19:25.783 ...d/Paddle-Lite/lite/operators/pad2d_op.cc:27 CheckShape] Check failed: param_.mode == "constant" || param_.mode == "reflect" || param_.mode == "edge": Invilid mode.

[2022-11-18 02:53] Syunraii opened #9715 "tinypose有没有大神跑过npu，可否请教下部署步骤？"
如题，这类应用应该很有研究

但是小白只懂下demo跑 (哭，

到如何替换模型之类的就两眼一黑了，

如果有大佬跑过可否浅教一下

[2022-11-18 02:58] hbo-lambda commented on #9709
谢谢回复，我最后放弃改c++了。今天用python 实现了一遍，发现当时想复杂了。而且scale_factor这个参数没搞明白，后来鼓捣了鼓捣才明白这个参数是控制缩放的，设置后会对模型的输出有影响。
这是我的代码
[code]

再次感谢您的回复

[2022-11-18 03:27] litch-cl commented on #9702
那请问会是什么原因造成的呢

[2022-11-18 03:31] #9709 closed, assigned to wz1qqx

[2022-11-18 04:01] bigbiglemon opened #9717 "paddle-lit配合paddle-seg matting 传入512及以上崩溃问题"
Paddle Lite 版本：v2.12-rc
运行设备环境：Android
- logcat：
![image](https://user-images.githubusercontent.com/13919204/202613652-6a6a1fc3-17d6-4482-bc5e-eabcecbb503b.png)

- 问题描述：使用人像分割模型时，inputShape = {1, 3, 256, 256} 正常，但是效果比较差，调整传入图片为512时就会崩溃 {1，3，512，512}

崩溃这个问题比较致命，有大佬可以帮忙看下或者给个调整思路？