[2018-12-03 06:14] zhangyang0701 opened #1325 "Use user mode driver for FPGA track"

[2018-12-03 06:25] #1325 closed, assigned to nobody

[2018-12-03 11:10] xiebaiyuan commented on #1323
@yeyupiaoling
目前的编译方式已经是非常的直白了，从编译到执行只有一共三条命令。

也不需要树莓派相关的知识。
运行方式和Android上运行单测保持一致。

进行图像分类的话，只需在树莓派上编译对应的模型。
如：  /bin/bash build.sh arm_linux （图像分类模型 如mobilenet）

-----------------------------------------------------------------------------------------------

另外， 单测的本质是一个可执行文件， 树莓派上编译方式解决的是，编译树莓派上可运行的可执行文件的问题。

如果想进行图片分类，
1. 设计一个图像分类模型，或者使用我们的模型；
2. 编写预测代码，net的单测文件其实就是一个个模型的预测代码demo；
3.编译可以运行这个模

[2018-12-03 11:34] xiebaiyuan commented on #1323
官方提供的mobilenet就是一个基本的分类模型。

只需编译mobilenet版本预测库
cd tools
/bin/bash build.sh arm_linux mobilenet

运行
cd ../build/release/arm-linux/build
export LD_LIBRARY_PATH=.
cd ../../../../test/build/
./test-mobilenet

不需要树莓派任何的知识，也不需要代码改动~
最终输出的 1000的数是置信度，  最大的是最终的分类结果954

[2018-12-04 08:38] yangfei963158659 opened #1328 "imp resnet and squeezenet"

[2018-12-04 08:42] #1328 closed, assigned to nobody

[2018-12-04 10:01] Xiaoxiao1990 opened #1330 "关于往AM3352上的移植失败的问题"
我试着将paddle-mobile往am3352上移植，但是编译不能通过。
编译环境：Ubuntu14.04
交叉编译工具集：arm-linux-gnueabihf-* 4.7.3

build.sh修改内容：

toolchains/arm-linux-gnueabihf.cmake修改内容：

然后执行：

但是编译报错：

麻烦帮忙看看如何才能解决这些问题？

[2018-12-05 03:44] yangfei963158659 opened #1332 "imp dropout op kernel for gpu"

[2018-12-06 03:59] zhizunbao-m commented on #1323
@xiebaiyuan 请问，如何编写预测代码，有没有demo可以学习一下？然后，build.sh编译的是模型还是预测代码？

[2018-12-06 07:39] #1332 closed, assigned to nobody

[2018-12-06 10:18] newmcc opened #1335 "arm linux编译生成测试程序的时候报错"
在arm linux 上生成了libpaddle-mobile.so，但生成测试可执行文件的时候报如下错误：
![image](https://user-images.githubusercontent.com/28709153/49577434-56ac5780-f982-11e8-9aec-9cae5143925f.png)

[2018-12-07 02:57] newmcc commented on #1335
用nm命令查了下这几个函数符号确实未导出。
查看源码有如下选项导致函数未编译：
#if defined(__ARM_NEON__) && !defined(__aarch64__)
原因是我去掉了-mfpu=vfpv4编译选项，去掉的原因如下：
出现错误 aarch64-poky-linux-g++: error: unrecognized command line option ‘-mfpu=vfpv4’
解释：Advanced SIMD (aka NEON) is mandatory for AArch64, so no command line option is needed to instruct the compiler to use NEON.

所以最终可能还要自己修改下源代码了。
我采用的cortex-a53平台，aarch64-poky-linux编译器，不知道百度有没

[2018-12-07 06:37] yeyupiaoling commented on #1323
@xiebaiyuan 同问，希望提供一个demo，给我们提供参考，一个完整的代码，包括模型加载，数据预处理，执行预测等等。

[2018-12-09 03:42] zhangyang0701 commented on #1330
看起来你的编译环境或者设置是有问题的。如果你不是要编译FPGA版本，就不应该会编译带有fpga文字的任何文件。
make[2]: *** [CMakeFiles/paddle_mobile.dir/src/fpga/common/driver.cpp.o] Error 1

[2018-12-09 03:47] zhangyang0701 commented on #1335
之前我也偶尔遇到过类似符号未导出的情况，如果你暂时用不着这些函数，先自己写几个空函数解决链接问题吧，或者直接申明为inline的空函数。
相信过几天，就有同学把这些问题解决了。

[2018-12-09 03:48] zhangyang0701 commented on #1330
建议你还是参考paddlemobile中的cmakelists，改写一下来编译吧。

[2018-12-09 03:54] zhangyang0701 opened #1341 "init parameters for conv&EW drivers for FPGA track"

[2018-12-09 06:36] #1341 closed, assigned to nobody

[2018-12-12 05:48] qnqinan opened #1345 "fix some bugs in fpga V2 track and update fpga V2 pe code"

[2018-12-12 12:51] xiebaiyuan commented on #1323
@zhizunbao-m  我们所说的单测文件（可执行文件）就是一个预测的完整样例。
比如[test_mobilenet.cpp](https://github.com/PaddlePaddle/paddle-mobile/blob/7b95cd020e00cc6dea0f826a7ac4ed49ec9b7650/test/net/test_mobilenet.cpp)
里面就包含了模型读取，组装数据，以及进行预测三个步骤。

build.sh 在CmakeList 中的debuge为ON 的时候是会把单测文件一起编译的。

单测文件都在test目录下。

[2018-12-13 01:02] yeyupiaoling commented on #1323
@xiebaiyuan 好的，谢谢。不过单测仍然是单测，没有专门的开发文档详细和清晰。

[2018-12-13 01:02] #1323 closed, assigned to xiebaiyuan

[2018-12-15 14:38] #1345 closed, assigned to nobody

[2018-12-15 14:40] #647 closed

[2018-12-15 14:40] #687 closed

[2018-12-15 14:40] #716 closed

[2018-12-15 14:40] zhangyang0701 opened #1350 "remove redundancy for V1 for FPGA track"

[2018-12-16 01:17] #1350 closed, assigned to nobody

[2018-12-18 00:21] yeyupiaoling opened #1353 "paddle-mobile对Android设备的要求是什么？"
paddle-mobile对Android手机又什么特别的要求吗？比如Android的版本、硬件环境？

[2018-12-18 05:09] hjchen2 commented on #1335
@newmcc aarch64的winograd没有实现，最新develop分支已经修复，谢谢

[2018-12-18 05:16] hjchen2 commented on #1353
对手机没有特别要求，在编译时需要根据运行环境选择合适的编译选项，比如android API level和ABI，可以在tools/build.sh中进行设置。
[设置API level](https://github.com/PaddlePaddle/paddle-mobile/blob/develop/tools/build.sh#L62) ，
[设置PLATFORM](https://github.com/PaddlePaddle/paddle-mobile/blob/develop/tools/build.sh#L47-L58) 。

[2018-12-18 09:02] zhangyang0701 opened #1354 "add split Deconv for FPGA track"

[2018-12-18 09:13] #1354 closed, assigned to nobody

[2018-12-18 09:16] yeyupiaoling commented on #1353
@hjchen2 好像没有`armeabi`哦，如果要编译`armeabi`这样要怎么做？
或者我要同时编译`armeabiv-v7a`、`arm64-v8a`、`armeabi`要怎么做？

[2018-12-19 03:05] hjchen2 commented on #1353
@yeyupiaoling 目前移动端ARM一般存在两种架构，arm-v7（32bit）和arm-v8（64bit）, 对应的armabi分别是armeabi-v7a和arm64-v8a，编译时二者选择一个就行。

[2018-12-19 03:06] yeyupiaoling commented on #1353
@hjchen2 好的，谢谢。

[2018-12-19 03:06] #1353 closed, assigned to nobody

[2018-12-19 03:34] yeyupiaoling opened #1356 "如何解决Android直接在assets上读取模型文件？"
预测模型都是放在Android项目的assets目录上的，但是加载模型的接口是使用模型路径的，如果要复制到手机内存卡上是不符合我项目要求的，这个问题该如何处理呢？不要复制文件到其他目录。

[2018-12-19 03:43] yeyupiaoling opened #1357 "我要使用的是MobileNet V2，应该如何指定编译paddle-mobile呢？"
这里没有mobilenet V2 的，我在编译的时候应该如何指定呢？
https://github.com/PaddlePaddle/paddle-mobile/blob/09ab679fc7e31abfe24856410292ce52662253be/tools/build.sh#L3

[2018-12-19 05:07] hjchen2 commented on #1357
这里指定模型是为了对框架进行裁剪，如果你不需要裁剪框架的话，可以不用设置，直接sh build.sh android或者sh build.sh ios。如果你也需要对框架进行裁剪，则在这里需要添加一个你自己的模型，并且在tools/op.cmake定义需要编译的op。

[2018-12-19 05:16] xiebaiyuan commented on #1356
如果不想复制到内存卡，也可以复制到应用私有的文件目录。
这个和深度学习框架已经无关了哈，纯粹的Android开发问题。
asset中文件操作的文章非常的多。 建议自行学习下。

---

目前提供的jni方法只是一个基本功能的封装， c++层面有路径，内存加载的多种接口。
如果需要的话可以自行定制使用。

[2018-12-19 06:09] yeyupiaoling commented on #1356
@xiebaiyuan 能提供一下直接使用assets文件的模型的C++代码和java代码吗？我可以自己编译动态库，我项目急着要，能提供一下吗？谢谢。

[2018-12-19 06:15] yeyupiaoling commented on #1357
@hjchen2 好的，谢谢。

[2018-12-19 06:15] #1357 closed, assigned to nobody

[2018-12-19 08:05] yeyupiaoling commented on #1356
@xiebaiyuan

不要复制的，这样的话每次启动应用都会复制文件，就会影响启动速度。如果是设置第一次安装才复制，那么还要写配置文件，这个我就没办法操作了，因为我不是Android的开发，Android的开发也不会愿意写，因为这样项目会变得很复杂。我就想我自己可以操作的就行。

[2018-12-19 08:08] hjchen2 commented on #1356
@xiebaiyuan 在现在这个jni文件中加一个从内存中load模型的接口？

[2018-12-19 08:12] yeyupiaoling commented on #1356
@xiebaiyuan @hjchen2
比如TensorFlow lite是这样读取模型的， 这样就很方便了：
[code]

[2018-12-20 10:59] xiebaiyuan commented on #1356
@hjchen2    java不能直接操作内存的。

[2018-12-20 11:30] xiebaiyuan commented on #1356
@yeyupiaoling
java通常是通过Stream来操作内存。
paddle mobile目前是通过c的api去直接从路径去把文件解析到char *  。
二者并不直接match。

如果上线项目确定要把模型放在app里的话，只需安装copy一次就好了。
下次发现有就不必拷贝了。

上面贴的
private MappedByteBuffer loadModelFile(String model) throws IOException {
    AssetFileDescriptor fileDescriptor = getApplicationContext().getAssets().openFd(model + ".tflite");
    FileInputStream inputStream = new FileInputStream(fileDescriptor.ge

[2018-12-20 11:37] xiebaiyuan commented on #1356
@yeyupiaoling 可以这么理解。  即使提供一个Java的api去操作asset中的模型， 也是通过流去把这个文件复制到一个可以获取绝对路径的地方去。  然后给c++使用。和直接去复制没有什么区别。

[2018-12-20 12:00] xiebaiyuan commented on #1356
@yeyupiaoling  帮你在百度上搜索了一下。
c++ [引入ndk的assert_manager.h来对Assert进行操作](https://blog.csdn.net/blueangle17/article/details/25605911)
可以尝试一下，成本比直接拷贝大很多。

[2018-12-20 13:52] yeyupiaoling commented on #1356
@xiebaiyuan 这样子啊，好吧。谢谢您了。如果代价太大就算了。
目前的我出来的方式是，复制到内存卡上，同时使用MD5判断内存卡上的，和assets上的是否为同一个文件，然后再决定是否复制模型文件。但是我觉得会影响性能问题，因为每次进入APP都要都要加载文件成FileInputStream，然后转换成MD5，这样会不会花费很长的时间呢？

[2018-12-20 14:48] yeyupiaoling commented on #1356
@xiebaiyuan 您觉得tensorflow lite这样加载模型是不是会比较好呢？这样就算模型迭代更新，也不需要判断是否要更新文件，而去复制文件，缩短了APP的载入时间？

[2018-12-21 01:26] yeyupiaoling opened #1358 "Android手机加载mobilenet v2模型报错"
我使用paddlepaddle提供的[mobilenet v2](https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/image_classification/models/mobilenet_v2.py)训练自己的数据集，然后使用保存的模型在Android手机上加载，出现以下错误， 同样是使用paddlepaddle提供的[mobilenet v1](https://github.com/PaddlePaddle/models/blob/develop/fluid/PaddleCV/image_classification/models/mobilenet.py)没有问题。
[code]

这里提供我的模型：
[mobilenet_v2(合并模型).zip](https://github.com/Paddl

[2018-12-21 03:26] xiebaiyuan commented on #1358
@yeyupiaoling
下载了你的模型，用最新的项目编译是可以运行的。
不要使用demo项目里的so。
 那个so只是为了作为演示使用的。 应该只能运行部分模型。

[2018-12-21 03:26] yeyupiaoling commented on #1358
@xiebaiyuan 这样子啊，好的，我试试看。

[2018-12-21 03:26] #1358 closed, assigned to nobody

[2018-12-21 03:39] xiebaiyuan commented on #1356
@yeyupiaoling
事实上线上我们都是在复制的。
因为模型通常不会直接放在apk中。
模型更新是一定要校验的。 甚至于每次使用也要校验一下。

---

我们后续会关注下ts是怎么做的。

[2018-12-21 03:53] yeyupiaoling commented on #1356
好的，谢谢。

[2018-12-21 03:53] #1356 closed, assigned to nobody

[2018-12-21 09:21] chonwhite opened #1359 "add SSD operator for FPGA"

[2018-12-21 11:25] xiebaiyuan opened #1361 "Raspberry new compile err"
pow was not declared in this scope

[2018-12-22 08:06] #1361 closed, assigned to nobody

[2018-12-24 11:33] zhangyang0701 opened #1364 "reduce memory during initialization for FPGA track"

[2018-12-24 12:47] #1364 closed, assigned to nobody

[2018-12-28 04:03] qnqinan opened #1366 "add fpga dwconv and reshape op and refactor code of fpga conv and deconv kernel"

[2018-12-28 08:38] #1366 closed, assigned to nobody

[2018-12-30 14:35] qnqinan opened #1368 "add dwconv compute function in FPGA and update some other files"
#

[2018-12-31 00:42] #1368 closed, assigned to nobody

[2019-01-02 06:25] leeburt opened #1370 "where can I download mobilenet+ssd_gesture file?"
I want to run test_mobilenet+ssd,but can·t find  the model and param file.

[2019-01-03 06:48] chenxiaoyu3 opened #1371 "iOS infer MobileNetV1 SSD 结果只有一个值"
使用的模型文件和预处理这里下载：
链接: https://pan.baidu.com/s/1xeFiXxZFD-NH0FKhRYxFNA 提取码: 8rva

机型 iPhone X
iOS io 接口换了之后，没有找到demo，初始化没有使用`PaddleMobileCPUConfig`，

[code]
有些时间加载模型之后，所有的预测都只有一个结果
![image](https://user-images.githubusercontent.com/858534/50625954-5a71d080-0f66-11e9-8a2c-8fd9d4e0eb58.png)
需要重试，重装，重新加载多次后，才会可能成功。

使用的paddle-mobile版本为 20190103 develop分支的最新代码库。
编译没有开启OPENMP和GPU相关参数

[2019-01-03 07:08] RayLiu2015 commented on #1371
同样的代码， 有时候结果是对的， 有时候输出数据数量为 1 是吗 ？

[2019-01-03 07:12] chenxiaoyu3 commented on #1371
@codeWorm2015 一次load后，要么都是对的，要么都是错的（所有次的infer，结果数据量为1）。

代码不改。只是不断得重试init和loadModel过程

[2019-01-03 08:14] #1359 closed, assigned to nobody

[2019-01-03 08:15] zhangyang0701 opened #1372 "Avoid memory leakage for FPGA track"

[2019-01-04 03:28] leeburt opened #1374 "gpu测试结果跟跟参考值相差很大"
环境：参考docker编译方法
操作：android-gpu的每一步进行执行
结果：也是小米6的手机，耗时300ms，跟官方提供的41ms相差甚远。

[2019-01-07 11:35] hjchen2 commented on #1370
@leeburt Maybe you can download from https://github.com/hjchen2/paddle-test/tree/master/fluid_models/mobilenet_v1_ssd

[2019-01-08 08:30] allonli commented on #1374
多谢反馈，我们会尽确认之后答复。

[2019-01-08 12:10] RayLiu2015 commented on #1371
@chenxiaoyu3  同学， 目前这个 issue 我们正在解决中

[2019-01-09 04:42] yeyupiaoling opened #1377 "Android加载MobileNet量化模型报错"
我使用接口
[code]
加载量化后的模型，结果报错，错误如下：
[code]
这是什么原因呢？如何解决呢？

[2019-01-10 03:37] xiebaiyuan commented on #1374
@leeburt
因为GPU的机制，  打印每层log结果的过程中， 相当于实时与cpu进行内存同步，使得时间变慢。
但如果直接关闭DEBUG，又是不能运行单测的。
可以这样设置：
 [注掉这行代码，可以既看到时间，同时不产生额外的log性能开销](https://github.com/PaddlePaddle/paddle-mobile/blob/1e8dd9384a74cedec14f8254b89e2bd241f18ab4/CMakeLists.txt#L38)

[2019-01-10 03:47] xiebaiyuan commented on #1374
@leeburt  如果仍有问题可以随时重新打开这个issue。

[2019-01-10 03:47] #1374 closed, assigned to xiebaiyuan

[2019-01-10 04:59] hjchen2 commented on #1377
谢谢反馈，请问能将模型发给我这边测试一下么？另外这个接口加载的是uint8的模型，预测时会转成float进行预测，如果需要用int8预测，可以参考https://github.com/hjchen2/paddle-test/blob/master/convert_caffe2fluid/convert_mobilenet_v1.sh#L18-L21 将模型转换成int8，load接口与float保持一致

[2019-01-10 08:36] yeyupiaoling commented on #1377
@hjchen2 你好，以下是我的模型文件，你可以测试一下。我以前也是这样操作的，没有问题。这个paddle-mobile库是我不久前编译的。
[模型.zip](https://github.com/PaddlePaddle/paddle-mobile/files/2744407/default.zip)

[2019-01-10 10:08] hjchen2 commented on #1377
@yeyupiaoling 非常抱歉，https://github.com/PaddlePaddle/paddle-mobile/pull/1376 这个pr有修复这个问题 。如果着急用的话，可以先试试这个 (git命令参考下面)，如果不着急用的话，可以等这个pr合入了再检出最新的代码。
[code]

[2019-01-11 00:24] yeyupiaoling commented on #1377
@hjchen2 谢谢，我还是等pr之后吧。我先用未量化的暂时使用着先。完成了最好通知一下。

[2019-01-11 02:39] qnqinan opened #1378 "update fp32 and fp16 inter-transformation function in FPGA tracker"
solver the special case during fp32 and fp16 inter-transform

[2019-01-11 02:40] smilejames opened #1380 "add norm_op"

[2019-01-11 02:53] #1378 closed, assigned to nobody

[2019-01-11 03:09] #1370 closed, assigned to nobody

[2019-01-11 03:29] hjchen2 commented on #1377
@yeyupiaoling 已经merge了，烦请更新一下本地代码，谢谢

[2019-01-11 03:32] yeyupiaoling commented on #1377
@hjchen2 好的，谢谢。还有之前我使用MobileNet V2，错误率还得几乎为零，没有量化。在python是0.84，你们也看一下。

[2019-01-11 03:32] #1377 closed, assigned to nobody

[2019-01-11 03:41] hjchen2 commented on #1377
@yeyupiaoling 嗯，最近修复了一些pooling的bug，我这边还没测试mobilenet v2的正确性，但shufflenet v2结果是ok的。我这边会安排时间测试一下mobilenet v2，多谢反馈

[2019-01-11 04:54] #1380 closed, assigned to nobody

[2019-01-11 09:33] smilejames opened #1383 "optimize norm_op"

[2019-01-11 12:36] #1383 closed, assigned to nobody

[2019-01-13 08:36] clarencedc opened #1385 "iOS加速"
您好，我想请问下，paddle-mobile-ios相对于iOS CPU有加速吗？
如果能够加速，有没有测过主流模型在iOS GPU上运行的时间和在iOS CPU上运行的时间？

[2019-01-14 12:39] ljayx opened #1386 "compiling error: 'expf' is not a member of 'std'"
I got this error when I compile this repo. Details as bellow:

**[Issue]**:
Error occurs at `/paddle-mobile/test/operators/test_sequence_softmax_op.cpp` 和 `/paddle-mobile/test/operators/test_softmax_op.cpp` while `make` running:
[code]

**[Env]**:
Host: MacOSX 10.12.6
Compiling method: docker (as per [docker based compiling](https://github.com/PaddlePaddle/paddle-mobile/blob/develop/doc/developmen

[2019-01-15 01:03] #812 closed

[2019-01-15 01:03] #723 closed

[2019-01-15 01:04] #445 closed

[2019-01-15 01:04] #166 closed

[2019-01-15 01:06] #439 closed

[2019-01-15 02:02] hjchen2 commented on #1386
@Knownx It looks like a bug for docker based compilation. I will check and fix it soon, thanks for pointing this out to us.

[2019-01-15 03:18] #1386 closed, assigned to nobody

[2019-01-15 05:03] #148 closed

[2019-01-15 05:03] #147 closed

[2019-01-15 05:04] #128 closed

[2019-01-15 05:04] #123 closed

[2019-01-15 05:06] #300 closed

[2019-01-15 05:07] #341 closed

[2019-01-15 05:07] #397 closed

[2019-01-15 05:07] #348 closed

[2019-01-15 05:07] #402 closed

[2019-01-15 05:08] #180 closed

[2019-01-15 05:08] #215 closed

[2019-01-15 05:09] #394 closed

[2019-01-15 05:09] #418 closed

[2019-01-15 08:44] ljayx opened #1389 "/system/bin/sh: ./test-mobilenet: No such file or directory"
**[Env]**:
Host: MacOSX 10.12.6
Branch: develop
models+images: http://mms-graph.bj.bcebos.com/paddle-mobile%2FmodelsAndImages.zip

根据[docker文档](https://github.com/PaddlePaddle/paddle-mobile/blob/develop/doc/development_android.md)，顺利完成了编译，但是在安卓手机上跑测试文件的时候遇到如下问题：

**[cmd]**:
`cd /paddle-mobile/tools/android-debug-script`
`sh ./push2android.sh`
`sh ./run_on_android.sh`

**[output]**:
[code]

通过adb s

[2019-01-15 09:36] ljayx commented on #1389
问题已解决，原因是我的Makefile是for ARM linux的。
重新构建了Makefile for android后问题解决。
谢谢！

[2019-01-15 09:50] #1389 closed, assigned to nobody

[2019-01-16 10:39] #895 closed

[2019-01-16 10:39] #758 closed

[2019-01-16 10:40] #416 closed

[2019-01-16 10:40] #432 closed

[2019-01-16 10:47] hjchen2 commented on #646
@zhangyang0701 It may take very little time to calculate them since channel is usually not very large. The latest batchnorm implementation avoid dynamic memory requests and has been optimized with neon. Thanks.

[2019-01-16 10:47] #646 closed

[2019-01-16 10:55] #150 closed

[2019-01-17 09:24] outlookerr opened #1391 "arm_linux编译时paddle-mobile/build/release/arm-linux下无build文件夹"
如题，可能是哪里存在问题

[2019-01-17 09:54] outlookerr commented on #1391
报错CMake Error at /usr/share/cmake-3.10/Modules/CMakeTestCXXCompiler.cmake:45
The C++ compiler "/usr/bin/c++" is not able to compile a simple test program.

[2019-01-17 11:40] hjchen2 commented on #1391
@outlookerr 请问是你是怎么编译的呢，是按照官方编译步骤做的么？

[2019-01-17 12:25] outlookerr commented on #1391
我先git clone paddle-mobile
 再在tools下/bin/bash build.sh arm_linux googlenet
却无法执行下一步，报错和出现的问题见题目和前面的评论
谢谢你的回复

[2019-01-17 12:25] outlookerr commented on #1391
@hjchen2  刚才忘记@你了，感谢你的回复

[2019-01-17 16:11] RayLiu2015 commented on #1385
能够加速, 对于越大的模型效果越明显, 而且在 app 中, app 占用的CPU资源很多,  所以具体应用到 app 中加速效果更加明显

[2019-01-18 05:05] smilejames opened #1393 "add gru_unit op"

[2019-01-18 07:19] RayLiu2015 opened #1395 "merge super resolution branch"

[2019-01-18 09:13] #1393 closed, assigned to nobody

[2019-01-18 09:43] smilejames opened #1398 "fix compilation problems"

[2019-01-18 10:19] #1398 closed, assigned to nobody

[2019-01-18 10:34] hjchen2 commented on #1391
请问你是在arm目标机器上编译的么？

[2019-01-18 10:51] outlookerr commented on #1391
@hjchen2 是的

[2019-01-18 11:04] hjchen2 commented on #1391
@codeWorm2015 帮忙看一下，在arm linux机器上编译失败

[2019-01-18 14:53] #1395 closed, assigned to nobody

[2019-01-21 07:03] RayLiu2015 commented on #1391
@xiebaiyuan   柏渊看下这个问题吧

[2019-01-21 07:04] xiebaiyuan commented on #1391
@outlookerr 什么型号的板子呢？  是在板子上进行编译的么

[2019-01-21 07:24] RayLiu2015 commented on #1385
在我们内部使用超分模型中, 加速倍数大概在 4 倍左右

[2019-01-21 12:52] RayLiu2015 commented on #1371
@chenxiaoyu3  我试了下, 每次预测值都是一样的, 这个是我用来验证的 [Demo](https://github.com/codeWorm2015/paddle-mobile-demo-ios), 你试下换上最新的库和这个模型试下是否还有问题

[2019-01-21 13:12] qnqinan opened #1401 "add dw deconv with group in FPGA track"

[2019-01-21 13:27] outlookerr commented on #1391
@xiebaiyuan 已经和你们相关人员联系了，感谢支持

[2019-01-22 04:31] xiebaiyuan commented on #1391
@outlookerr
我们在16.04的板子上试了下 是可以的。
1. 使用rk3399刷好ubuntu [16.04 MBR](http://www.t-firefly.com/doc/download/page/id/3.html)
2. sudo apt install cmake
3. 修改build.sh中arm_linux 函数中去掉
[ 107行 -DCMAKE_CXX_FLAGS"](https://github.com/PaddlePaddle/paddle-mobile/blob/aec47b43d484410c92fb19fff012b4d93748e7e4/tools/build.sh#L107)，
以及
[115行 -DCMAKE_CXX_FLAGS"](https://github.com/PaddlePaddle/paddle-mobile/blob/aec

[2019-01-22 07:20] xiebaiyuan opened #1404 "support gpu mobilenet single build"
support gpu mobilenet single build

[2019-01-22 07:28] #1404 closed, assigned to xiebaiyuan

[2019-01-22 10:58] ljayx opened #1408 "CANNOT LINK EXECUTABLE "./test-softmax-op": library "libstdc++.so.6" not found"
这个问题是在编译完之后通过adb push到手机上，然后执行单测文件test-softmax-op之后遇到的。具体编译步骤及细节如下：

代码分支：develop
编译方法：严格按照[docker编译指导](https://github.com/PaddlePaddle/paddle-mobile/blob/develop/doc/development_android.md#%E5%9F%BA%E4%BA%8Edocker%E5%AE%B9%E5%99%A8%E7%BC%96%E8%AF%91)
宿主机：MACOSX
测试手机：MI 8

adb shell里执行`./test-softmax-op`
得到错误如下：
[code]

我从`/system/lib`下把`libstdc++.so`拷贝到工作目录后解决但遇到`libm.so.6`找不到的问题，同样拷贝过来，又遇到`libgo

[2019-01-22 14:13] smilejames opened #1409 "add logical_and、logical_or、logical_not、logical_xor op"

[2019-01-23 02:51] xiebaiyuan opened #1411 "add sigmoid for cl add add op unit test"
add sigmoid for cl add add op unit test

[2019-01-23 03:11] ljayx commented on #1408
@xiebaiyuan 你好，可以帮忙看一下这个问题吗？ 谢谢。

[2019-01-23 04:39] hjchen2 commented on #1408
@Knownx 你的安卓系统是什么版本的？另外你说的这句话不大明白，
[code]
上面出现报错的是没有用libpaddle-mobile.so？另外大部分手机都有问题，可以列一些常见的手机出来，我们这边验证一下么，谢谢。

另外，我这边在redmi 6pro和huawei mate9上跑test-softmax-op是没有问题的。

[2019-01-23 07:12] ljayx commented on #1408
@hjchen2
红米Note4x，honor 6x，两部Mi 8。
四部手机中只有一部Mi 8没有问题，其他三台都有缺少链接库的问题。
`libpaddle-mobile.so`随单测文件都push到手机里的`/data/local/tmp/bin`了，也在这个路径下执行了`export LD_LIBRARY_PATH=.`。

[2019-01-23 09:14] #1409 closed, assigned to nobody

[2019-01-23 09:59] smilejames opened #1413 "fix loadWhenPredict option in PaddleMobileCPUConfig"

[2019-01-23 13:29] outlookerr opened #1415 "arm平台下的GPU运行问题"
![default](https://user-images.githubusercontent.com/43125864/51609403-02baf980-1f55-11e9-9996-20bed21cf86c.png)

![default](https://user-images.githubusercontent.com/43125864/51608839-8ecc2180-1f53-11e9-81ab-23165134a1f0.png)
 更改了CMake文件之后，似乎GPU没用起来

[2019-01-23 13:41] xiebaiyuan commented on #1415
@outlookerr 这个test-mobilnet+ssd的单测文件是给cpu写的
[代码](https://github.com/PaddlePaddle/paddle-mobile/blob/b51ea56a70bf04ce0e6751ab01e5ec98536b7c08/test/net/test_mobilenet+ssd.cpp#L20)中指定了CPU。

GPU的单测代码 可以参考[test_mobilenet_GPU.cpp](https://github.com/PaddlePaddle/paddle-mobile/blob/c85be98cc7c639ae1cc1accd52eab545c894d79f/test/net/test_mobilenet_GPU.cpp#L26)来进行实现。

[2019-01-23 13:49] xiebaiyuan commented on #1415
@outlookerr  另外就是Android手机上运行单测的时候，我们会把cl_kernel放置在/data/local/tmp/bin这个路径下。
如果在板子上运行的话 单测中
paddle_mobile.SetCLPath("/data/local/tmp/bin");
要改到对应的路径

[2019-01-25 02:39] #1413 closed, assigned to nobody

[2019-01-28 02:40] #1401 closed, assigned to nobody

[2019-01-28 10:27] qnqinan opened #1422 "add activation in FPGA track"

[2019-01-28 11:15] RayLiu2015 opened #1424 "merge metal oc pb branch"

[2019-01-28 11:33] #1424 closed, assigned to nobody

[2019-01-28 13:33] smilejames opened #1426 "add increment、is_empty op"

[2019-01-29 03:24] #1422 closed, assigned to nobody

[2019-01-29 14:47] #1426 closed, assigned to nobody

[2019-01-31 02:55] zhangyang0701 opened #1432 "Add support for RFCN for FPGA track"

[2019-01-31 06:25] xiaogangLi opened #1434 "如何在自己开发的嵌入式系统上运行模型"
你好，
我自己写了一个嵌入式系统，我想在这个系统上运行模型以进行目标检测或分类，但是不知道怎么移植，你能给我一些解决这个问题的建议和指导吗？

谢谢！

[2019-01-31 09:19] hjchen2 commented on #1434
在arm的嵌入式系统上编译可以参考 https://github.com/PaddlePaddle/paddle-mobile/blob/develop/doc/development_arm_linux.md ，运行模型的话可以参考test/net/目录下的单测，如果只是测benchmark的话，编译后运行test/build/test-benchmark。有问题请继续补充，谢谢

[2019-02-03 15:00] clarencedc opened #1436 "全连接层"
我想问一下用Metal实现的全连接层在哪个文件？找了半天似乎没看到全连接层。

[2019-02-15 06:37] #1372 closed, assigned to nobody

[2019-02-19 01:32] xiaogangLi commented on #1434
好的，谢谢你！

[2019-02-19 01:32] #1434 closed, assigned to nobody

[2019-02-19 07:51] RayLiu2015 opened #1441 "CPU 版本增加OC接口dim信息, 支持获取多输出"

[2019-02-19 07:53] #1441 closed, assigned to nobody

[2019-02-23 14:08] #1335 closed, assigned to nobody

[2019-02-23 14:08] #1330 closed, assigned to nobody

[2019-02-23 14:09] #1371 closed, assigned to smilejames, RayLiu2015

[2019-02-23 14:09] #1385 closed, assigned to RayLiu2015

[2019-02-26 10:33] #1432 closed, assigned to nobody

[2019-02-27 06:02] RayLiu2015 commented on #1436
1x1 卷积的实现全连接层的实现是一致的, fluid 的模型一般会用 1x1卷积来代替全连接, 所以目前没有全连接层, 具体实现可以在 ConvKernel.metal 这个文件里找到

[2019-02-27 06:50] qnqinan opened #1446 "add pad2d and deconv related op in FPGA track"

[2019-02-28 02:57] #1446 closed, assigned to nobody

[2019-02-28 04:56] #1411 closed, assigned to xiebaiyuan

[2019-02-28 06:50] hellocsi opened #1450 "调用paddle-mobile.so动态库的头文件以及调用API的说明在哪里"
编译了自己arm下的库，build中有libpaddle-mobile.so，请问所需头文件，以及调用API在哪里？

[2019-02-28 10:50] ChangQF opened #1452 "mac环境编译报错"
感谢各位开发者，我在编译到最后的时候遇到了一下问题：

环境为mac 10.14，xcode10.1，cmake3.13.4
第一次运行build.sh报错找不到clang，使用brew 安装了 llvm 和 libomp
运行build.sh最后会报错，显示没有ibomp.a，错误如截图
![libomp.a.error](https://user-images.githubusercontent.com/32929589/53561327-876aea00-3b89-11e9-97df-26a07f71cdee.jpeg)

希望开发者能帮忙看看是什么原因，非常感谢

=======================2019.03.01=========================
今天把CMakeList里的omp设置成OFF就可以了，看来还是omp的问题，请问用不用omp影响大么

[2019-02-28 11:59] jameswu2014 opened #1453 "Add support for Marker for FPGA track"
fetch bug

[2019-03-01 06:59] zhangyang0701 opened #1455 "Support lod_mode for FPGA track"

[2019-03-01 10:14] #1453 closed, assigned to nobody

[2019-03-01 11:00] #1455 closed, assigned to nobody

[2019-03-03 03:53] janyChan opened #1457 "能否只用其他型号fpga"
请问，paddle mobile在fpga上运行对于fpga型号有哪些限制？或者说对于fpga哪些参数有所限制？谢谢！

[2019-03-04 02:48] zhangyang0701 commented on #1457
如果底层的驱动做相应的适配，可以用于任何一款FPGA。

[2019-03-04 02:49] zhangyang0701 opened #1458 "support multi PaddleTensor for FPGA track"

[2019-03-04 05:23] janyChan commented on #1457
请问是哪些部分的驱动？

[2019-03-04 05:39] zhangyang0701 commented on #1457
用来驱动FPGA的驱动、用来管理内存的驱动。

[2019-03-04 06:06] janyChan commented on #1457
现在的驱动文件来源是哪里？有网址参考下吗？

[2019-03-04 06:31] zhangyang0701 commented on #1457
这是我们自己写的代码。
由于驱动的部分不属于PaddleMobile的框架本身，我们很快就会吧驱动的部分弱化。
我们也认为驱动的问题，跟这个社区的关联性不大。

[2019-03-04 06:38] janyChan commented on #1457
将paddle在FPGA上运行，百度是否会考虑将算法转成verilog ，研发类似于LeFlow这种框架。个人感觉这种形式才能将FPGA优势发挥。

[2019-03-04 06:54] janyChan commented on #1457
能否理解为只要FPGA能运行ubuntu，就可以运行paddle mobile了？

[2019-03-04 07:11] zhangyang0701 commented on #1457
FPGA不可能运行ubuntu的。你可能需要先学习一下FPGA有关的知识了。

[2019-03-04 07:41] #1458 closed, assigned to nobody

[2019-03-05 02:03] yeyupiaoling opened #1460 "paddle-mobile 支持同时加载两个模型吗？"
我想在手机上实现一个人人脸识别，如果同时加载就检测模型和预测模型呢？

[2019-03-05 06:53] RayLiu2015 opened #1461 "put tensor when kernel init in scope"

[2019-03-05 07:10] qnqinan opened #1463 "add deconv bn relu op and update fetch op in FPGA track"
@

[2019-03-05 07:27] #1461 closed, assigned to nobody

[2019-03-05 08:56] crossyoureye commented on #1452
@ChangQF  It works

[2019-03-05 09:29] #1463 closed, assigned to nobody

[2019-03-06 02:50] renfeier commented on #895
i get it ,thanks a lot for your reply @ @hjchen2 @xiebaiyuan

[2019-03-06 03:37] crossyoureye opened #1467 "编译ios的paddle-mobile报错，error: Segmentation fault: 11"
编译metal/下的工程报错，请求一下如何解决。
堆栈：
0  swift                    0x0000000111b5659a PrintStackTraceSignalHandler(void*) + 42
1  swift                    0x0000000111b55d4e SignalHandler(int) + 302
2  libsystem_platform.dylib 0x00007fff69e6cb3d _sigtramp + 29
3  swift                    0x000000010f3517d8 swift::Type::transformRec(llvm::function_ref<llvm::Optional<swift::Type> (swift::TypeBase*)>) const +

[2019-03-06 07:50] qnqinan opened #1468 "fix a bug in fetch kernel in fpga track"

[2019-03-06 10:23] #1468 closed, assigned to nobody

[2019-03-06 14:33] jameswu2014 opened #1471 "75percentParallel + kernel driver + ROIALIGN+psroi -bug for FPGA track"

[2019-03-06 17:41] YonghaoHe opened #1473 "Special optimization for conv1x1, conv3x3 ?"
In the document, I cannot find the information. Is there any special optimization for conv1x1 and conv3x3 in this lib?
Thank you.

[2019-03-07 03:48] ysh329 opened #1474 "Mac交叉编译时NDK版本编译CMake错误"
- mac环境，交叉编译Android版本，默认
- 代码：dev分支，2019-03-06，aefc63335a2574e59397c5dd2e041d0cef0858fe
- Cmake：3.13.4

[android交叉编译的readme](https://github.com/PaddlePaddle/paddle-mobile/blob/develop/doc/development_android.md)中说明需要NDKr17及以上，CMake3.0及以上。

在Mac环境交叉编译paddle-mobile android版本，使用不同NDK版本出现如下问题：
1. 使用r17（含）以及以前的版本编译成功（但CMakeLists中存在v7变量没有用到的问题）；
2. 使用r18b，CMake报错：`/opt/android-ndk-r18b/toolchains/arm-li

[2019-03-07 06:30] StarryRain commented on #1473
We are working on it, and we will commit the optimized codes in this month. Then you can get the information from the optimized codes.

[2019-03-07 09:23] ysh329 commented on #1452
很奇怪，我之前也出现了类似错误，但是`brew install llvm`和`brew install libomp`就没再出现这个问题了

[2019-03-07 13:01] smilejames opened #1476 "fix compilation on arm_linux and close log"

[2019-03-07 14:08] YonghaoHe commented on #1473
@StarryRain Thanks a lot. If you can provide more information about optimized codes in advance ? Such as which operations are optimized.

[2019-03-08 07:52] #1476 closed, assigned to nobody

[2019-03-08 08:29] zhangyang0701 opened #1479 "add new interface function for FPGA track"

[2019-03-08 11:41] StarryRain commented on #1473
Firstly, we implement different convolution methods, such as Direct-Conv, Depthwise-Conv, Winograde-Conv, and we also consider transforming the convolution operations into multiplication. Secondly, we  optimize the code with assembly language by considering the ARM execution pipelines and Instruction executing latency and throughput.
Finally, we establish a mathematical model to analysis different

[2019-03-08 18:34] YonghaoHe commented on #1473
@StarryRain Great! Thanks.

[2019-03-10 11:33] #1471 closed, assigned to nobody

[2019-03-11 01:56] zhangyang0701 commented on #1460
可以同时加载两个模型，顶层构造两个对象就可以。内存空间是分别管理的。

[2019-03-11 01:56] zhangyang0701 commented on #1460
这个我们已经尝试过多次了，单线程、多线程、多进程都可以的。

[2019-03-11 01:58] zhangyang0701 opened #1482 "fix bug for multiple predictions for FPGA track"

[2019-03-11 01:58] yeyupiaoling commented on #1460
@zhangyang0701 例如这样，不应该是全局的吗？还可以单独创建一个对象吗？
[code]

[2019-03-11 03:16] #1482 closed, assigned to nobody

[2019-03-11 06:17] qnqinan opened #1484 "add ops of marker2 in FPGA track"

[2019-03-11 08:00] #1484 closed, assigned to nobody

[2019-03-11 13:01] qnqinan opened #1486 "add int8 to fp16 convert function in FPGA track"

[2019-03-11 13:03] StarryRain opened #1488 "add conv_3x3 slidingwindow implementation"

[2019-03-12 04:10] #1486 closed, assigned to nobody

[2019-03-13 04:01] #1321 closed, assigned to nobody

[2019-03-13 07:34] qnqinan opened #1496 "fix a bug in dwconv filter align function in fpga track"

[2019-03-14 03:56] xiebaiyuan opened #1498 "remove mali"
remove ACL lib of mali gpu suport

[2019-03-14 06:24] #1498 closed, assigned to xiebaiyuan

[2019-03-14 07:23] yeyupiaoling commented on #1460
@zhangyang0701

这个是否能够给一个简单的代码，伪代码也行。

[2019-03-14 09:43] zhangyang0701 commented on #1460
参考以下链接，构造几个 predictor就可以了。
https://github.com/PaddlePaddle/paddle-mobile/blob/develop/test/framework/test_inference_api.cpp

或者参考以下链接，构造几个paddle_mobile对象。
https://github.com/PaddlePaddle/paddle-mobile/blob/develop/test/net/test_mobilenet.cpp

[2019-03-15 00:34] yeyupiaoling commented on #1460
@zhangyang0701 不好意思，我忘了说明我是在Android上使用的了。这样要怎么弄。

[2019-03-18 01:22] yeyupiaoling commented on #1460
@zhangyang0701 在Android下应该如果加载两个模型呢？

[2019-03-18 02:34] zhangyang0701 commented on #1460
Android的我不清楚。

[2019-03-18 02:41] xiebaiyuan opened #1506 "gpu 1x1 optimise"
gpu 1x1 optimise

[2019-03-18 03:41] #1506 closed, assigned to xiebaiyuan

[2019-03-18 11:32] zhangyang0701 commented on #1496
closed by another PR

[2019-03-18 11:32] #1496 closed, assigned to nobody

[2019-03-19 09:40] jameswu2014 opened #1512 "fix proposal-NMS no use bug for FPGA track"

[2019-03-19 09:47] #1488 closed, assigned to nobody

[2019-03-19 11:33] yeyupiaoling commented on #1460
@xiebaiyuan 老师，您能来解答一下吗?

[2019-03-19 12:26] chenxiaoyu3 opened #1514 "增加对interpolate op的支持"
fluid 的interpolate如下

https://github.com/PaddlePaddle/Paddle/blob/develop/paddle/fluid/operators/interpolate_op.cc

我们的paddle模型用到了该算子，希望能够在mobile中支持。

[2019-03-20 03:50] MarvinLmw opened #1515 "OpenCL实现支持"
看到operator下面大部分cl文件都是空的，是没有做这方面的支持是么？想了解一下opencl对gemm的实现情况，和使用clblas，clblast的性能对比

[2019-03-20 05:39] driftcloudy commented on #1514
期待

[2019-03-20 07:22] #1512 closed, assigned to nobody

[2019-03-20 08:57] zhangyang0701 opened #1516 "Not use MemoryOptPass() for FPGA track"

[2019-03-20 09:43] #1516 closed, assigned to nobody

[2019-03-20 10:20] qnqinan opened #1518 "fix a bug in sigmoid kernel in FPGA track"

[2019-03-20 10:57] hjchen2 commented on #1515
@codeWorm2015 有具体的性能数据可以共享出来么？

[2019-03-20 11:12] hjchen2 commented on #1514
@chenxiaoyu3 好的，我们近期会排期支持

[2019-03-20 12:08] #1518 closed, assigned to nobody

[2019-03-20 12:44] PEPSIOFME opened #1520 "paddlepaddle训练后的模型文件是否与其他框架模型通用？"

[2019-03-21 00:56] hjchen2 commented on #1460
可以在Android java中对PaddleMobile和Tensor进行封装，直接在java中创建多个PaddleＭobile实例。当然这样比较复杂，另外一个方式是自行修改一下jni文件，创建多个静态对象，并给每个对象实现单独的load和predict函数

[2019-03-21 08:07] qnqinan opened #1521 "fix the dealign bug in fetch op FPGA track"
#

[2019-03-21 08:11] zhangyang0701 opened #1523 "fix memory leakage problem"

[2019-03-21 08:54] #1523 closed, assigned to nobody

[2019-03-21 10:36] #1521 closed, assigned to nobody

[2019-03-21 11:37] qnqinan opened #1526 "update EW config in api.cpp in FPGA track"

[2019-03-21 11:59] #1479 closed, assigned to nobody

[2019-03-21 13:37] #1526 closed, assigned to nobody

[2019-03-22 09:07] yeyupiaoling opened #1529 "加载MobileNet-SSD合并模型出现错误tid 22479"
加载MobileNet-SSD合并模型出现错误
[code]

[2019-03-22 09:20] yeyupiaoling commented on #1460
@hjchen2 是否可以这样：
创建一个类，然后为每一个PML的方法嵌套一个方法。
[code]

然后在调用的时候通过创建不同的对象是否可以加载不同个模型和预测？
[code]

[2019-03-25 12:27] zhenpn opened #1530 "手机测试时出现../models/mobilenet/__model__ open failed !"
根据docker文档完成编译后，在安卓手机上测试遇到如下截图问题：
![image](https://user-images.githubusercontent.com/33259023/54919488-e549e200-4f3b-11e9-9478-d9172671c504.png)
小白，求问是什么情况

[2019-03-26 05:23] hjchen2 commented on #1530
请先检查一下你的手机上是否存在models/mobilenet这个目录，并且该目录没有设置错误。如果确定没问题，接着往下看。

请问你的模型是有很多个小文件的，还是只有两个文件的？我们提供的一些单测是只支持很多小文件格式的模型，如果你的模型不符合这个格式的话，就会报错。

[2019-03-26 05:28] hjchen2 commented on #1529
请问分离模型加载有问题么？你那边使用的是什么版本，是最新版本有问题，还是一直有问题？我这边单测是OK的，如果你能帮我们大致确定一下具体什么情况下会出问题，并提供对应的模型，我这边可以复现问题并修复。谢谢

[2019-03-26 05:28] hjchen2 commented on #1520
不通用，需要将其他框架的模型转换成fluid的模型

[2019-03-26 05:29] #1473 closed, assigned to nobody

[2019-03-26 05:31] hjchen2 commented on #1460
不行的，因为jni那一层只有一个全局的pml。这么用的话，需要每次预测都load一次模型，这样我觉得效率会非常低。

[2019-03-26 06:39] yeyupiaoling commented on #1460
@hjchen2 那该如何做的，还请赐教。

[2019-03-26 06:59] qnqinan opened #1531 "clean interrupt signal at the beginning of bypass in FPGA track"

[2019-03-26 07:05] meteorasd555 opened #1532 "编译的安卓的OpenCL版本的so放到手机上运行加载失败"
之前用的paddlemobile安卓的CPU版本so集成到项目中，现想使用GPU版本，发生了异常：

我的集成步骤如下：
参照 https://github.com/PaddlePaddle/paddle-mobile/blob/develop/doc/development_android_GPU.md
1：获取最新develop版本 （Commits on Mar 22, 2019）
1：打开GPU_CL宏，以及WITH_LOGGING帮助调试
2：build.sh打开 使用PLATFORM="arm-v8a"
3：修改src/io/jni/paddle_mobile_jni.cpp开头<paddle_mobile::PaddleMobile<paddle_mobile::CPU> -> <paddle_mobile::PaddleMobile<paddle_mobile::GPU_C

[2019-03-26 07:26] yeyupiaoling commented on #1529
@hjchen2 还没有试过分离模型，因为没有保存这个模型，如果要测试，估计要有点时间。
我使用的是最新代码编译的得到的os库文件的，应该是最新的了。

以下就是这个模型文件，请您看看是什么问题
[object_detection_model.zip](https://github.com/PaddlePaddle/paddle-mobile/files/3006926/object_detection_model.zip)

[2019-03-26 07:42] #1531 closed, assigned to nobody

[2019-03-26 07:52] zhenpn commented on #1530
@hjchen2 您好，检查发现是目录问题。但我发现运行tools/android-debug-script下的push2android.sh文件之后，在我这里的手机上生成的目录结构并不正确，本应该在models/mobilenet/下的模型文件，都是跟mobilenet文件夹平行的，导致找不到__model__文件：
![image](https://user-images.githubusercontent.com/33259023/54979715-d1a38780-4fde-11e9-8994-9249bb65935d.png)
对shell脚本不太熟悉，不知道这个情况是push2android.sh里面有bug还是我自己系统的问题。

[2019-03-27 07:03] yeyupiaoling commented on #1529
@hjchen2 我测试过分离模型了，还是同样的错误，您能解决一下吗？

[2019-03-27 07:54] yeyupiaoling commented on #1460
@hjchen2 Android有没有办法同时加载两个模型分别用于预测呢？

[2019-03-27 12:47] xiebaiyuan commented on #1532
编译v8  应该使用手机中  类似   /system/vendor/lib64/libOpenCL.so  目录中的opencl库

[2019-03-27 12:59] lijiancheng0614 opened #1534 "Add fill_constant_batch_size_like op"
This function creates a tensor of specified *shape*, *dtype* and batch size, and initializes this with a constant supplied in *value*. The batch size is obtained from the `input` tensor.

# Attributes

- input (Variable)
    Tensor whose input_dim_idx’th dimension specifies the batch_size.
- shape (INTS)
    The shape of the output.
- dtype (INT)
    It could be numpy.dtype. Output data type. Defa

[2019-03-27 13:00] xiebaiyuan commented on #1532
@meteorasd555 最新版的确有问题， 可以先拉取  [之前可用的commit](https://github.com/PaddlePaddle/paddle-mobile/commit/984888e6b306114d0e19db7ba72b8c86931662b7)

@hjchen2  关注一下吧

[2019-03-27 13:10] lijiancheng0614 opened #1535 "Add range op"
Return evenly spaced values within a given interval.
Values are generated within the half-open interval [start, stop) (in other words, the interval including start but excluding stop).

# Attributes

- start(int|float|Variable)
    Start of interval. The interval includes this value.
- end(int|float|Variable)
    End of interval. The interval does not include this value, except in some cases where

[2019-03-28 02:53] hjchen2 opened #1536 "windows安装完paddle，import时报错"
如下图：
![WechatIMG17](https://user-images.githubusercontent.com/13991173/55126358-bf912880-5147-11e9-9f84-1f1297c051c4.png)

[2019-03-28 03:18] #1536 closed, assigned to nobody

[2019-03-28 08:47] jameswu2014 opened #1537 "anchor_generator support marker for FPGA track"

[2019-03-28 11:58] #1537 closed, assigned to nobody

[2019-03-28 12:15] chenxiaoyu3 commented on #1532
@xiebaiyuan  @hjchen2
测试了测试用例test-mobilenetgpu无法跑通。test-mobilenet可以正确运行。辛苦帮确认一下，现在哪个commit的OpenCL是可用的。

![image](https://user-images.githubusercontent.com/858534/55156892-073ea100-5196-11e9-92b5-f4312ef1efcf.png)

[code]

[2019-03-28 16:19] xiebaiyuan commented on #1532
@chenxiaoyu3 上面说的这个commit就是可用的。刚好1*1优化后的commit
 https://github.com/PaddlePaddle/paddle-mobile/commit/984888e6b306114d0e19db7ba72b8c86931662b7

[2019-03-29 00:36] hjchen2 commented on #1532
最新版本gpu实现确实有问题，近期会修复这个问题，先用之前版本试试吧。

[2019-03-29 02:15] yeyupiaoling commented on #1529
@hjchen2 能否提供解决办法啊。好急啊。

[2019-03-29 03:04] #1530 closed, assigned to nobody

[2019-03-29 08:09] yeyupiaoling opened #1540 "Android无法加载MobileNet-SSD预测模型"
我编译的是最新的PaddleMobile，使用MobileNet-SSD训练得到的模型，在加载的时候就报错，报错信息为
[code]

MobileNet-SSD合并预测模型：
[infer_model.zip](https://github.com/PaddlePaddle/paddle-mobile/files/3021646/infer_model.zip)

MobileNet-SSD未合并预测模型：
[infer_model2.zip](https://github.com/PaddlePaddle/paddle-mobile/files/3021649/infer_model2.zip)

我使用Python代码测试是正常的。
[code]

[2019-03-29 11:17] hjchen2 commented on #1540
@yeyupiaoling 是因为你这个模型包含assign_value算子，目前paddle mobile并没有实现，所以加载模型失败。可以关注issue #1541 的进展

[2019-03-29 11:17] hjchen2 opened #1541 "Add assign_value op"

[2019-03-29 11:21] hjchen2 commented on #1532
@meteorasd555 gpu问题已经修复 #1539 ，你可以pull最新的代码，再测试一下你的模型是否能跑通。

[2019-03-29 11:23] hjchen2 opened #1542 "Add interpolate op"

[2019-03-29 11:23] #1520 closed, assigned to nobody

[2019-03-29 11:25] hjchen2 commented on #1529
同 #1540 ，因此关闭此issue

[2019-03-29 11:25] #1529 closed, assigned to nobody

[2019-03-29 11:26] hjchen2 commented on #1514
#1542

[2019-03-29 12:22] yeyupiaoling commented on #1540
@hjchen2 估计什么时候可以完成，这个下周就必须用上了。

[2019-03-30 10:17] meteorasd555 commented on #1532
更新到 #1539 后loadCombined 成功，但之后后调用 predictImage 方法报错，log如下：
[code]

测试的模型为 **MobileNetV1**

[2019-03-31 09:42] hjchen2 commented on #1532
可以把模型发给我这边看一下，因为在我这边mobile net是没问题的

[2019-04-01 01:54] #1541 closed, assigned to nobody

[2019-04-01 01:54] #1540 closed, assigned to hjchen2

[2019-04-01 03:09] zhangyang0701 opened #1544 "modify FPGA doc"

[2019-04-01 03:50] #1544 closed, assigned to nobody

[2019-04-01 15:29] hjchen2 commented on #1540
已经支持了，请pull最新的代码重新编译一下试试

[2019-04-02 00:45] yeyupiaoling commented on #1540
@hjchen2 我昨晚编译最新的了so动态库文件了，还是加载不了。你那边加载成功？

[2019-04-02 03:07] chenxiaoyu3 commented on #1532
@hjchen2 使用0402最新的代码可以成功运行test-mobilenetgpu了。不过我们的inceptionv3模型报错：
[code]
我们看了下代码是dim维度维度好像不支持的问题。辛苦帮看一下。

fluid模型文件：链接: https://pan.baidu.com/s/194WZ5Ff1nuZ2ezUs1RolRA 提取码: 5nxg

[2019-04-02 03:16] yeyupiaoling commented on #1540
@hjchen2 是否能再次解答一下，我加载还是报错呢。

[2019-04-02 07:09] yeyupiaoling opened #1546 "Android还是无法加载MobileNet-SSD预测模型"
#1540

[2019-04-03 00:33] yeyupiaoling commented on #1546
@hjchen2 @xiebaiyuan 能否解答一下，真的很急。

[2019-04-03 01:43] hjchen2 commented on #1546
应该已经解决了，我这边测试是ok的。你能编译一个debug版本（-O0 -g），然后在你的Android Studio中调试一下么

[2019-04-03 02:39] yeyupiaoling commented on #1546
@hjchen2 我编译最新的PaddleMObile 的so动态库文件，加载模型也是报错，你那边在Android上加载成功吗？是否提供一下你的so文件给我试试。

[2019-04-03 02:43] yeyupiaoling commented on #1546
@hjchen2 这个项目中我有物体分类的，那个加载模型和预测图片都是正常的，只有这个MobileNet-SSD模型加载失败。

[2019-04-03 02:50] yeyupiaoling commented on #1546
@hjchen2 你说的调试，要怎么调试法？

[2019-04-03 02:59] hjchen2 commented on #1546
在cmakelists.txt中把-O3 -NDEBUG改成-O0 -g，同时在build.sh中把MODE="Release"改成MODE="Debug"，重新编译paddle-mobile。在Android Studio中可以直接进paddle mobile的代码中看到具体是crash在哪一行，这样也可以帮我定位一下问题。或者你直接把你的android工程发给我，我这边调试好了再发回给你也行。

[2019-04-03 03:02] yeyupiaoling commented on #1546
@hjchen2 我把项目发给您，微信：`qq945772813`

[2019-04-03 03:38] yeyupiaoling opened #1547 "请问当模型有两个输出时，PaddleMobile只输出第一个怎么办？"
例如我的模型是同时输出年龄和性别的，但是使用PaddlePaddle值输出第一个年龄的分类输出，这样这么办？

[code]

[2019-04-03 04:25] ysh329 commented on #1547
第一组2个数，第二组4个数，没看明白。你的模型有两个输出分支嘛

[2019-04-03 04:53] hjchen2 commented on #1547
通过Fetch接口分别获取每个输出，https://github.com/PaddlePaddle/paddle-mobile/blob/develop/src/io/paddle_mobile.h#L76

[2019-04-03 05:06] yeyupiaoling commented on #1547
@ysh329

第一组是性别的分类器输出，第二个是年龄分类器的输出。这两个保存在同一个模型上：
[code]

[2019-04-03 05:08] yeyupiaoling commented on #1547
@hjchen2

能否不在C++ 中操作，我不太会C++。或者您或怎么修改，我跟着修改再编译。

[2019-04-03 12:38] hjchen2 commented on #1547
修改src/io/jni/PML.java文件，增加一个fetch接口，
[code]

在src/io/jni/paddle_mobile_jni.h中增加fetch的jni接口的声明，
[code]

在src/io/jni/paddle_mobile_jni.cpp对增加的fetch jni 接口进行实现，
[code]
然后重新编译你本地的paddle-mobile，替换你Android工程中的PML.java和lib paddle-mobile.so文件，每次预测完，都调用fetch接口获取输出，比如，
[code]

附上完整的代码（下面的zip压缩包），另外还是建议直接在Android中使用C++接口。
[code.tar.gz](https://github.com/PaddlePaddle/paddle-mobile/files/3052409/code.tar.gz)

[2019-04-04 05:49] hjchen2 commented on #1532
@xiebaiyuan inception v3 gpu可能不支持吧

[2019-04-04 05:56] hjchen2 commented on #1532
这个报错不是说dim不支持，应该是有不支持的convolution。inception v3中的1xn和nx1卷积gpu应该是不支持的

[2019-04-08 01:30] hjchen2 commented on #1546
@yeyupiaoling 由于问题已解决，关闭此issue

[2019-04-08 01:30] #1546 closed, assigned to nobody

[2019-04-08 01:43] yeyupiaoling commented on #1547
@hjchen2 请问输出为空的原因有找到吗？

[2019-04-08 03:21] hjchen2 commented on #1547
@yeyupiaoling 是fetch接口漏了返回输出了。上面的代码已更新，问题已解决，关闭此issue

[2019-04-08 03:21] #1547 closed, assigned to nobody

[2019-04-08 03:21] yeyupiaoling commented on #1547
@hjchen2 成功了，感谢大佬，老哥很强。

[2019-04-08 09:16] afterimagex opened #1550 "Operator nearest_interp has not been registered"
我的网络用到了fluid.layers.resize_nearest操作，但是在转paddle-mobile的时候，报了如下错误，
[code]
是框架不支持该操作吗？我可以用其他什么操作替代？

[2019-04-08 15:26] hjchen2 commented on #1550
这个op确实还未支持。目前还有不少fluid op没有支持，你可以在训练模型时尽可能避免使用paddle mobile不支持的op，或者在预测时能否用其他op来等效替换，否则只能等我们后续支持了^_^

[2019-04-08 15:34] hjchen2 commented on #1452
你编译的target是iOS吧，因为llvm clang支持openmp需要链接额外的omp的库，需要自行交叉编译一下openmp。关闭openmp的话，就无法使用多线程预测了。如果你需要的本来就是单线程版本，关闭openmp没有任何问题，而且二进制大小会更小一些

[2019-04-08 15:36] #1452 closed, assigned to nobody

[2019-04-08 15:44] hjchen2 commented on #1198
默认情况下，Ubuntu应该编译的是arm v7版本，iOS编译的是arm v8版本。之前发现arm v8的convolution在某些情况下会出现bug，现在问题应该已经修复了，可以重新试一下。另外由于计算精度的问题，v7和v8是有一定的精度误差的，但应该对最终结果影响很小

[2019-04-08 15:44] #1198 closed

[2019-04-09 01:32] #1436 closed, assigned to RayLiu2015

[2019-04-09 14:15] hexmiao opened #1554 "目前版本是否还不支持ctc_greedy_decoder op?"
目前版本是否还不支持ctc_greedy_decoder  operator ? 计划哪个版本可以支持？

[2019-04-10 02:29] hjchen2 commented on #1554
ctc_greedy_decoder是tensorflow提供的算子，在paddle fluid中提供的是beam_search和beam_search_decode，beam_search和beam_search_decode这两个算子在paddle mobile中也已经支持了。

如果你之前是用tensorflow训练的模型，则需要将模型转换到paddle，可以关注一下paddle官方的模型转换仓库 https://github.com/PaddlePaddle/X2Paddle ，有问题可以提issue。谢谢～

[2019-04-10 05:36] hexmiao commented on #1554
谢谢回复，我看到了Android 已支持 beam_search和beam_search_decode，在 iOS中也是同步实现的吗？

[2019-04-10 07:02] hjchen2 commented on #1554
是的，android和ios两个平台都是同时支持的

[2019-04-10 10:19] afterimagex commented on #1550
能提供一个目前支持的操作列表吗？现在完全不知道该转换哪个网络，就怕遇到坑和不支持的op。

[2019-04-10 10:36] hjchen2 commented on #1550
所有支持的op在这个文件中都能找到，https://github.com/PaddlePaddle/paddle-mobile/blob/develop/src/framework/load_ops.h ，你可以参照一下

[2019-04-10 14:10] Epherama1 opened #1555 "Arm_linux无法运行test-mobilenetgpu"
板子用的Firefly RK3399
编译完mobilenet运行test-mobilenetgpu显示：
![Screenshot from 2019-04-10 22-05-49](https://user-images.githubusercontent.com/37174553/55885709-0158af00-5bdd-11e9-9ca9-7e72f2a9f0ca.png)
然后更改了CMakeLists.txt中
option(GPU_CL "build with OpenCL support" OFF)
为option(GPU_CL "build with OpenCL support" ON)
结果还是一样的。
请问这是哪里出问题了？

[2019-04-10 14:35] #1554 closed, assigned to nobody

[2019-04-11 03:12] hjchen2 commented on #1555
删除build目录，重新编译一下

[2019-04-11 11:43] zhangscth commented on #1450
同问，make之后发现只有动态库，没有头文件，而且没有c++实现的demo文件，有点头疼

[2019-04-12 11:53] ysh329 commented on #1450
@zhangscth 你好，请问是编android armv7 CPU嘛，我最近在编译android armv7 cpu版，跑了下test，默认会编译test，我按照android的arm cpu的文档编译的，demo就参考test。

[2019-04-12 11:55] ysh329 commented on #1474
不推荐使用Mac编译，我后来使用Docker在容器里的Ubuntu环境中编译，使用android-ndk-r17c，没有问题

[2019-04-13 02:33] zhangscth commented on #1450
@ysh329 我是在arm linux 开发板上跑的，所以有点不一样

[2019-04-13 09:09] ysh329 commented on #1450
开发板我没试过，不过应该也会编译test吧，我是虽然是native c的方式在安卓上跑的，相比你在linux arm上应该复杂，我是参考test里的调用方式，你可以看看[test_mobilenet.cpp这个例子](https://github.com/PaddlePaddle/paddle-mobile/blob/develop/test/net/test_mobilenet.cpp)。你是做一些benchmark嘛，看你也在mace发了issue

[2019-04-13 09:29] Epherama1 commented on #1555
您好，我尝试过删除和重新编译之后，反馈的问题还是一样的。
不知道是哪个环节出问题了，是不是除了GPU_CL之外，还需要改其他的地方？

[2019-04-13 09:37] Epherama1 commented on #1555
@xiebaiyuan

[2019-04-13 09:39] zhangscth opened #1559 "error: ‘PaddleMobile’ is not a member of ‘paddle_mobile’"
修改CMakeList 生成静态库，但是在运行mobile ssd的时候报错
CMakeList 修改后:
[code]
### 代码：ncnn_face.cpp
[code]

### make 报错：
/home/zhangshengchao/workspace/paddle_mobile/paddle_mobile_demo/ncnn_face.cpp: In function ‘int test()’:
/home/zhangshengchao/workspace/paddle_mobile/paddle_mobile_demo/ncnn_face.cpp:19:3: error: ‘PaddleMobile’ is not a member of ‘paddle_mobile’
   paddle_mobile::PaddleMobile<paddle_mobile::CPU>

[2019-04-13 09:58] zhangscth commented on #1450
@ysh329 谢谢，已经参考这个例子写了个demo，但是在make的时候报错了 #1559

[2019-04-14 06:01] hjchen2 commented on #1559
API头文件不对，改成include io/paddle_mobile.h

[2019-04-15 05:04] zhangscth commented on #1559
@hjchen2 多谢解答，上面的问题已经解决了，但是我还是有个疑惑，std::string(g_mobilenet_ssd_gesture) + "/model",  std::string(g_mobilenet_ssd_gesture) + "/params" ，其中的model和params 并不在下载好的模型文件里面，难道model和params是根据节点名称自动生成的吗？

[2019-04-15 06:01] hjchen2 commented on #1559
fluid的模型在保存时有两种格式。一种是每个参数保存成一个小文件，加一个描述网络的model文件。另外一种是只保存成两个文件，model+params，当然这两个文件也可能是其他名字。你这里需要的模型格式是后一种，且文件名保存是model和params，如果文件名被修改过，只需要在代码中改成正确的文件名就行。

[2019-04-15 09:30] hjchen2 commented on #1555
如果开启了GPU_CL，应该是不会出现你这个问题的。请检查一下是不是libpaddle-mobile.so没有被替换

[2019-04-15 09:41] zhangscth commented on #1559
@hjchen2 了解了，不过我又遇到问题了(=@__@=)，我在板子上跑模型的时候，发现虽然能够成功load模型，但是predict的时候报错了，错误为：Abort caused by a read instruction. Alignment fault。

[2019-04-15 11:18] hjchen2 commented on #1559
能把模型发给我这边试一下吗？另外你的板子是rk3399吗

[2019-04-15 11:22] zhangscth commented on #1559
@hjchen2 模型是使用的test 目录下的resnet或者googlenet，板子使用的是hi3516ev300，操作系统使用的是liteos

[2019-04-15 11:32] hjchen2 commented on #1559
额，那你打开debug看看挂在哪吧。我们这没有这个开发板，你可以帮忙先定位一下问题

[2019-04-16 06:59] zhangscth commented on #1559
@hjchen2 日志只保留了一部分，所以不知道行不行，貌似比较诡异的是for循环中第一次执行好像没有问题，第二次出问题了
[code]

[2019-04-16 07:14] zhangscth commented on #1559
@hjchen2 ，只保留了一部分的日志，不知道对解决问题有没有帮助，谢谢
[code]

[2019-04-16 07:23] zhangscth commented on #1559
@hjchen2 日志只保留了一部分，不知道对于你们解决问题有没有帮助，谢谢
[code]

[2019-04-16 08:41] zhangscth commented on #1559
使用的是squeezenet https://github.com/PaddlePaddle/paddle-mobile/blob/develop/test/net/test_squeezenet.cpp

[2019-04-16 09:26] zhangscth commented on #1559
还有个比较诡异的事情，在for循环中，有时能够执行一次predict，然后第二次执行的时候报错
[code]

[2019-04-16 13:54] hjchen2 commented on #1559
你把optimize关掉，并且把线程数设为1再跑一下看看，然后把日志也发一下

[2019-04-17 01:44] zhangscth commented on #1559
@hjchen2 跑了还是报同样的错误
[code]

[2019-04-17 03:15] zhangscth commented on #1559
尝试了好几次，predict函数没有一次执行成功，

[2019-04-17 04:15] hjchen2 commented on #1559
看起来应该是sgemm的实现在你这个硬件平台上存在数据访存的bug，我们这边尽快修复，谢谢反馈。

[2019-04-17 08:15] zhangscth commented on #1559
是不是和开发板是否支持非对齐的内存访问有关系？

[2019-04-18 04:04] chonwhite opened #1560 "refactor FPGA code"

[2019-04-19 07:24] qnqinan opened #1563 "add static quantization code and update FPGA V2(V3) related files"

[2019-04-19 08:00] #1563 closed, assigned to nobody

[2019-04-20 08:51] Epherama1 opened #1565 "RK3399 ubuntu16.04 编译报错"
由于板子的问题，前几天重新刷机ubuntu16.04(GPT)
按照以下顺序操作但是最终编译的时候报错：
    1. 使用rk3399刷好ubuntu 16.04 MBR
    2. sudo apt install cmake
    3. 修改build.sh中arm_linux 函数中去掉
    107行 -DCMAKE_CXX_FLAGS"，
    以及
    115行 -DCMAKE_CXX_FLAGS"
![Screenshot from 2019-04-20 16-47-39](https://user-images.githubusercontent.com/37174553/56455023-11665080-638c-11e9-8d23-f2d8746a768d.png)

之前也是同样的板子和固件，按照教程顺利编译。但这次的报错一直没有找到原因，希望得到大家

[2019-04-21 03:07] Epherama1 commented on #1565
问题解决
/root/paddle-mobile/src/operators/math/gemm/gemm_kernel.h
memset was not declared in this scope
在头文件添加#include <cstring>即可

[2019-04-21 03:08] Epherama1 commented on #1565
问题解决
/root/paddle-mobile/src/operators/math/gemm/gemm_kernel.h
memset was not declared in this scope
在头文件添加#include <cstring>即可

[2019-04-21 07:34] hjchen2 commented on #1565
@ysh329 后续可以考虑把ubuntu的交叉编译放进CI，头文件导致编译不过的问题出现频率还挺高的

[2019-04-21 07:37] hjchen2 commented on #1565
这个应该是最近对gemv的bug修复引入的问题，后面我们修复一下，谢谢反馈

[2019-04-21 15:13] ysh329 commented on #1565
收到反馈，应该是我没加这个头文件

[2019-04-22 06:18] zieitokk commented on #1391
@xiebaiyuan Hi, we faced the same installation issue on jetson tx1 platform. I tried to erase two -DCMAKE_CXX_FLAGS, but it still failed to compile. My gcc version is 5.4. Would you mind helping me with it? Thanks!

[2019-04-22 07:36] #1555 closed, assigned to nobody

[2019-04-22 07:43] Epherama1 opened #1567 "求ARM-LINUX GPU 指导文档"
如题，Doc里只有Android-GPU的指导文档，
近期可否整理一个arm-linux GPU的指导文档？内含环境配置和等一系列需要更改的目录
现在周围使用arm-linux的人确实挺多的。

[2019-04-22 12:38] qnqinan opened #1570 "update some files related with static quantization in FPGA V2 track"

[2019-04-22 13:03] ysh329 commented on #1567
我们近期会尽快整理出一个优化过的arm linux gpu的使用指导，感谢对Paddle-mobile的持续关注

[2019-04-22 13:54] #1570 closed, assigned to nobody

[2019-04-23 01:10] #1560 closed, assigned to nobody

[2019-04-23 01:41] #1565 closed, assigned to ysh329

[2019-04-23 03:06] ysh329 opened #1572 "segmentation fault for special huge scale of gemm"
特殊超大规模下的矩阵乘法有segfault问题（rows=32768 cols=32768），定位到问题出现在分配内存不足（OOM）后，alloc函数没有给nullptr，导致在计算出错。

改为使用calloc后该问题解决，从功能上来说：`calloc = malloc + memset`，为此比较了在安卓手机上，calloc与malloc（为公平起见不算`memset`）的性能差异。发现`malloc`与`calloc`性能持平，部分log如下所示，此外也可以看到有些规模下按理说内存不足，但是`malloc`并没有给`nullptr`（请看oom_flag，时间avg以毫秒ms计算）：

<details>
<summary>malloc与calloc的性能差异</summary>

[code]
</details>

此外，我又比较了malloc+memset与calloc，小规模

[2019-04-23 12:24] qnqinan opened #1573 "update concat and split kernel and related files in FPGA v2(v3) track"

[2019-04-23 12:49] ysh329 commented on #1572
后比较发现，无论单多线程，Android平台，calloc或malloc都存在明明内存不够，分配时并未返回nullptr/NULL，导致在调用时候出现segmentation fault

[2019-04-24 02:38] #1450 closed, assigned to nobody

[2019-04-24 08:43] ysh329 commented on #1572
发现矩阵规模为65536 x 65536，元素为float（`sizeof(float) = 4`）时，出现segmentation fault的问题。打印出在传给函数Alloc的入口参数size的值，发现是0，类型为size_t，发现是溢出了，导致调用到超出指针分配资源的部分时出现segmentation fault报错。

发现size_t在小米mix2机器上的最大值是4,294,967,295（编译的是armv7版本），最小值是0。传入的65536 x 65536 x 4刚刚好溢出，值为0：
- 该值减去1，即65536 x 65536 x 4 - 1结果是4,294,967,295，到size_t的最大值上界；
- 该值加上1，即65536 x 65536 x 4 + 1结果是1，溢出。

这个65536 x 65536 x 4的量级，是2的34次方，已经溢出了。因为size_t在

[2019-04-24 09:27] #1572 closed, assigned to nobody

[2019-04-25 06:57] smilejames opened #1576 "fix gpu conv_kernel"

[2019-04-25 08:32] #1576 closed, assigned to nobody

[2019-04-25 09:56] smilejames opened #1578 "adjust gpu code structure"

[2019-04-26 06:56] smilejames commented on #1474
目前还没有适配过r17以上的版本

[2019-04-26 06:57] #1474 closed, assigned to smilejames, xiebaiyuan, hjchen2

[2019-04-26 06:59] #1578 closed, assigned to nobody

[2019-04-26 08:04] smilejames commented on #1534
ok，In which model did you find it?

[2019-04-26 11:30] smilejames commented on #1534
You can use "fix #issue number" in pr, and the issue will be closed automatically.

[2019-04-28 09:40] ysh329 commented on #1567
@Epherama1 更新了编译ARM Linux版本的文档，如果还有其他问题请再开新的issue

[2019-04-28 09:40] #1567 closed, assigned to ysh329

[2019-04-28 12:37] qnqinan opened #1584 "update kernel and related files for static quantization in FPGA v2 track"

[2019-04-29 02:20] #1584 closed, assigned to nobody

[2019-04-29 12:40] qnqinan opened #1589 "update kernel and related files for static quantization in FPGA v2 track"
mainly for feed, fetch, proposal, psroi_pool kernel

[2019-04-30 02:56] #1589 closed, assigned to nobody

[2019-04-30 08:16] yangyanzhan commented on #1467
Could you please upgrade to the latest xCode, clean the project and rebuild it?
We can't reproduce this problem with xCode 10.2.1

[2019-05-03 02:57] Epherama1 opened #1593 "arm-linux开启GPU运行显示 Segmentation fault"
RK3399按照新ARM Linux文档开启GPU编译运行，
在编译的过程中显示超级多的warning，
最终运行test-mobilenetgpu显示Segmentaion fault,
请问会是什么问题呢？
![Screenshot from 2019-05-02 16-43-16](https://user-images.githubusercontent.com/37174553/57117937-3f875f80-6d92-11e9-98ec-97e304c3c081.png)

[2019-05-05 07:25] Epherama1 commented on #1593
![Screenshot from 2019-05-05 15-23-45](https://user-images.githubusercontent.com/37174553/57190158-072a8180-6f4a-11e9-8d32-5d2da93cb14f.png)

[2019-05-05 11:53] Epherama1 commented on #1593
大量相似的warning：
![Screenshot from 2019-05-05 19-52-49](https://user-images.githubusercontent.com/37174553/57193612-80889b00-6f6f-11e9-81fb-f3cf775e1411.png)

[2019-05-06 07:54] Epherama1 commented on #1593
Is anybody here???

[2019-05-06 09:45] smilejames opened #1594 "optimize GPU conv performance and structure"

[2019-05-06 13:04] #1594 closed, assigned to nobody

[2019-05-07 04:53] chenxiaoyu3 opened #1599 "linux ARM A7 编译 失败"
版本: release/1.4.0
环境：docker arm32v7/gcc:5.5 (在x86机器上用qemu模拟)

编译指令：修改了build.sh里的arm_linux ，主要修改了`cortex-a53`为`cortex-a7`
[code]
报错：
![image](https://user-images.githubusercontent.com/858534/57272543-c0ae6180-70c6-11e9-8c2c-453db07e5bcf.png)
![image](https://user-images.githubusercontent.com/858534/57272551-c9069c80-70c6-11e9-86d5-6592f4d26864.png)

同样的，在arm64的docker里可以编译成功。

[2019-05-07 05:45] tensor-tang commented on #1599
请问下您的docker环境是自己搭建的吗， 参考的 `https://github.com/PaddlePaddle/paddle-mobile/blob/develop/tools/build.sh`这里？

[2019-05-07 05:59] tensor-tang commented on #1593
抱歉回复晚了，目前该问题还存在吗，看样子好像是在get dims就挂了，是不是输入数据的问题？

[2019-05-07 06:08] ysh329 commented on #1599
我以rk3399（armv8/armv7，arm Linux系统）为例，编译成功，且可以执行mobilenet。

所以，你是什么环境，参考的是咱们的文档嘛？

[2019-05-07 06:10] Epherama1 commented on #1593
问题还存在的。因为这是按照你们给的ARM linux开发文档来的，也是跑的你们给的单测，用的默认的图片，所以还是没能找到问题的根源。

[2019-05-07 06:18] ysh329 commented on #1593
@Epherama1 能定位到大概问题出现在那儿嘛? cmake中改为profile为ON，再跑一把试试

[2019-05-07 06:21] qnqinan opened #1600 "update feed and fetch kernel in FPGA v2 track"

[2019-05-07 07:03] chenxiaoyu3 commented on #1599
@ysh329 我们现在需要一个arm32的paddle-mobile.so，运行在 Hi3516A 开发板上。

 rk3399上我们也是试过成功的。但是rk3399是cortex a53的核，64bit的。Hi3516A是a7的核，32bit的

[2019-05-07 07:10] tensor-tang commented on #1599
该问题已复现，正在解决中哈

[2019-05-07 07:40] Epherama1 commented on #1593
你好，打开之后运行结果还是segmentation fault，打印出来的还是上面相同的logging。不是很清楚是什么原因。。。我是一个新手菜鸟，对于paddle-mobile的框架不是很熟悉，以为按照官方操作指南就应该没问题，但通过我自己这一段时间的努力一直没能解决这个问题，非常希望能得到官方的帮助～

[2019-05-07 07:40] Epherama1 commented on #1593
你好，打开之后运行结果还是segmentation fault，打印出来的还是上面相同的logging。不是很清楚是什么原因。。。我是一个新手菜鸟，对于paddle-mobile的框架不是很熟悉，以为按照官方操作指南就应该没问题，但通过我自己这一段时间的努力一直没能解决这个问题，非常希望能得到官方的帮助～

[2019-05-07 07:51] ysh329 commented on #1593
@Epherama1 好的，我看一下

[2019-05-07 07:52] tensor-tang commented on #1593
@Epherama1 很抱歉给您造成了困扰，我们会高优处理。

[2019-05-07 08:02] Epherama1 commented on #1593
@tensor-tang @ysh329 万分感谢，我用的板子是RK3399，烧写的是ubuntu16.04（GPT），后面的操作都是按arm-linux开发文档来的。

[2019-05-07 08:16] hong19860320 commented on #1599
-mfloat-abi=softfp 改成 -mfloat-abi=hard试试。

tools/build.sh的arm_linux部分修改后变成如下：
[code]

[2019-05-07 08:20] #1600 closed, assigned to nobody

[2019-05-07 12:56] chenxiaoyu3 commented on #1599
-mfloat-abi=softfp 改成 -mfloat-abi=hard 修改后可以编译通过了，谢谢大家！

[2019-05-07 12:56] #1599 closed, assigned to ysh329, hong19860320, tensor-tang

[2019-05-08 04:42] ysh329 commented on #1593
@Epherama1 抱歉，当前结论：

- 初步怀疑是因为Android端支持的是Adreno GPU，对MALI GPU支持存在问题，仍需进一步分析
- 那些warning主要是因我们是基于 llvm的标准开发的，而板子上是gcc
- 短期内后续没有计划在Arm Linux上开发GPU，后续会完善这块的支持：https://github.com/PaddlePaddle/paddle-mobile/pull/1604
- 推荐刷RK3399的安卓版，在安卓版本下调试（不会出现此问题）

----

目前并未定位到问题所在具体地方

首先，出错位置大致是在`src/framework/cl/cl_image.h`中：

[code]

`normal_converter->InitImageDimInfoWith(dim)`的实现位于`src/framework/cl/cl_image_

[2019-05-08 06:46] qnqinan opened #1602 "update io file to surport int8 tensor feed and fetch"

[2019-05-08 06:59] ysh329 commented on #1515
same issue
arm-linux开启GPU运行显示 Segmentation fault · Issue #1593 · PaddlePaddle/paddle-mobile
https://github.com/PaddlePaddle/paddle-mobile/issues/1593

- Android系统，请根据文档编译

[2019-05-08 06:59] #1515 closed, assigned to RayLiu2015

[2019-05-08 07:43] #1602 closed, assigned to nobody

[2019-05-08 08:17] yeyupiaoling opened #1607 "使用Android系统预测，精度严重丢失"
我使用的是PaddlePaddle 1.4.1 版本训练得到的模型
在手机上执行预测，同样的测试数据，在电脑上有90%，但在手机只有45%左右，
这是什么原因，难道是PaddlePaddle版本太新的原因吗？

以下是模型：
[mobilenet_v2.zip](https://github.com/PaddlePaddle/paddle-mobile/files/3156299/mobilenet_v2.zip)

[2019-05-08 08:20] ysh329 commented on #1607
- 你是怎么测的呀，是把图片转换成了raw_tensor吗
- 分类模型嘛
- 安卓cpu嘛
- 官方有提供mobilenetv2模型，有一个压缩包

[2019-05-08 08:24] yeyupiaoling commented on #1607
@ysh329 下面这样，是分类模型，CPU的，官方的我去年跑过了
[code]
[code]

[2019-05-08 08:27] ysh329 commented on #1607
你这个是预处理操作吧，压缩之类的，会不会是预处理的问题呀，我看你发的预处理的代码。

raw_tensor数据的生成方法参考：`tools/python/imagetools`下面的说明

[2019-05-08 08:29] ysh329 commented on #1415
安卓手机编译GPU的话需要OpenCL的库，这块请详细看咱们的GPU开发文档，应该是没有问题的，如果有再打开，先关掉了

[2019-05-08 08:29] #1415 closed, assigned to xiebaiyuan, hjchen2

[2019-05-08 08:30] yeyupiaoling commented on #1607
@ysh329
我Python中的预处理方式， 应该会没有问题的，一样是RGB
[code]

[2019-05-08 08:51] ysh329 commented on #1607
@yeyupiaoling 你的这个脚本和咱们：tools/python/imagetools下面的说明里的脚本操作方式一样嘛？我是用这个脚本生成数据的

[2019-05-08 08:52] yeyupiaoling commented on #1607
@ysh329  我这种方法用 了大半年了，没有问题的。我是最近使用PaddlePaddle 1.4.1才发现这个问题。

[2019-05-08 10:22] ysh329 commented on #1607
呃，你是说你一直用这种方法，给Paddle-mobile生成预处理数据嘛？

[2019-05-09 06:14] yeyupiaoling commented on #1607
@ysh329 是的，也只有这次发现这个问题，我的预处理应该是没有问题才对，有问题之前就不能正常使用了。所以我就还有是不是PaddlePaddle版本的问题，还是Paddle Mobile出现了缺陷。

[2019-05-09 06:24] ysh329 commented on #1607
@yeyupiaoling 那如果镜像切换成1.4版本，就不存在这个问题嘛

[2019-05-09 06:27] yeyupiaoling commented on #1607
@ysh329 我个我倒没有测试，因为我的PaddlePaddle需要自己编译才能用，所以切换PaddlePaddle版本不容易。我目前是使用最新的PaddleMobile 和 PaddlePaddle。我现在的PaddlePaddle版本就是1.4的

[2019-05-09 07:25] ysh329 commented on #1607
@yeyupiaoling 你有试咱们提供的预处理脚本嘛tools/python/imagetools

[2019-05-09 07:32] yeyupiaoling commented on #1607
@ysh329 这个没试过，是最近开发的吧。没看懂怎么用，作用什么呢？

[2019-05-09 09:12] ysh329 commented on #1607
@yeyupiaoling 对的，之前一直有，但是没有文档说明。

- 作用：因为paddle-mobile考虑到依赖轻量的原因，没有图像预处理过程，给paddle-mobile传入的是一个float数组。为了方便将图片如jpg，png格式转换为raw_tensor格式，喂给paddle-mobile，提供该脚本作为原始图像---》raw_tensor格式的转换脚本；
- 工具位置：paddle-mobile/tools/python/imagetools；
- 使用方法：见工具目录下的readme

[2019-05-09 09:25] yeyupiaoling commented on #1607
@ysh329 不知道我是不是我的理解错误了。那个`paddle-mobile/tools/python/imagetools`脚本应该是把要预测的图片改变通道顺序，然后保存的仍旧是图片，而不是合并到预测模型中。

如果我的理解没有错的话，那么这样对我的项目好像没有作用，我的项目是中Android中读取摄像头的数据组转换成Bitmap，然后再安装训练时对图片进行预处理，最后使用float预测。

我之前一直也是使用方法`Bitmap---->float[]---->predict`，不用你说的上面方法也是正常预测的，就是这次遇到了这问题。

[2019-05-09 11:14] Sparrow0817 opened #1610 "编译的时候报错"
gemm.cpp: error uint32x_t was not declared in this scope
这样的错
设备：树莓派3b

[2019-05-10 02:43] yeyupiaoling commented on #1460
这个有解决方案吗？

[2019-05-10 03:40] #1467 closed, assigned to xiaohaichun, yangyanzhan, NazgulLee

[2019-05-10 09:06] Sparrow0817 commented on #1610
这是在树莓派上编译mobilenet的时候出现的问题，会不会是gcc版本的问题啊，现在是6.3

[2019-05-10 11:08] qnqinan opened #1615 "update feed fetch and softmax kernel in FPGA v2 track"

[2019-05-10 23:14] hjchen2 commented on #1610
你应该是改了代码吧，git status看看

[2019-05-12 09:40] smilejames opened #1618 "fix load_when_predict mode in opencl"

[2019-05-13 01:21] Sparrow0817 commented on #1610
不好意思才看见，我没有修改代码，只是在官方教程中有一段配置GPU的没有执行，因为没有目标文件。
cp /usr/lib/aarch64-linux-gnu/libMali.so ./third_party/opencl/
 cp /usr/lib/aarch64-linux-gnu/libOpenCL.so ./third_party/opencl/
 ln -s ./third_party/opencl/libMali.so ./third_party/opencl/

上面那段是跳过的，其他的都是按照教程走的直到执行：/bin/bash build.sh arm_linux mobilenet 报错

[2019-05-13 03:46] #1615 closed, assigned to nobody

[2019-05-13 07:21] yeyupiaoling commented on #1607
@ysh329 还请你继续跟进一下，这是什么用原因？如果数据预处理错误率，也不可能准确率在45% 左右，因为我测试了3340张图片，一共有66个类别。如果是碰巧准确的，应该是不可能的，应该是那里计算精度出现了问题。

[2019-05-13 08:13] #1618 closed, assigned to nobody

[2019-05-13 08:31] ysh329 commented on #1607
已经baidu hi联系了author，建议更新最新代码

[2019-05-14 08:36] Gankerzzl opened #1620 "打开WITH_LOGGING开关时没有输出"
当此开关关闭时，我可以在Test目录下的源文件中使用std::cout打印调试日志帮助定位问题（但是在loader.cpp这样目录结构的源文件中使用printf或者std::cout时都看不到输出信息）。当打开WITH_LOGGING开关时，连在Test目录下加的打印都看不到输出了。Logcat中也没有相关输出。请问这是什么原因，该如何解决呢？

按照编译指南在ubuntu 18.04上使用android-ndk-r19c编译并在Xiao Mi5S上测试，除了加日志没有做其他修改。

[2019-05-14 12:18] ysh329 commented on #1620
## WITH_LOGGING

`WITH_LOGGING`打开会加入`PADDLE_MOBILE_DEBUG`这个宏，这个宏出现在如下代码位置：
[code]

## WITH_PROFILE

试试打开`WITH_PROFILE`吧，这个会开启宏`PADDLE_MOBILE_PROFILE`：

[code]

[2019-05-14 12:19] #1620 closed, assigned to nobody

[2019-05-14 12:25] ysh329 commented on #1610
试试`#include <cstdint>`

[2019-05-14 12:59] Sparrow0817 commented on #1610
按照您的方法尝试了，可是错误依旧出现，同样的错误:
error:'uint32x4_t' was not declared in this scope
uint32x4_t vzero = vdupq_n_u32(0);
...
...
...
下面都是一些差不多的语法错误，大部分是未声明，还有小部分如下：
error :expected ',' before '_d1'
float32x4_t _d1 = vld1q_f32(a0);
...
...
...

[2019-05-14 13:03] Sparrow0817 commented on #1610
不过目前报的错误都是出现在paddle-mobile-develop/src/operators/math/gemm.cpp 这个文件里。

[2019-05-14 13:23] Gankerzzl commented on #1620
push2android.sh没有把生成的libpaddle-mobile.so push到手机上，导致在Src目录下加日志打印没有作用。

[2019-05-14 13:28] Sparrow0817 commented on #1610
http://www.sohu.com/a/105812765_119709
刚刚看见了这个，不清楚是不是这个问题，但是不太清楚如何使能mfpu=neon

[2019-05-14 13:28] Sparrow0817 commented on #1610
http://www.sohu.com/a/105812765_119709
刚刚看见了这个，不清楚是不是这个问题，但是不太清楚如何使能mfpu=neon

[2019-05-14 13:29] Sparrow0817 commented on #1610
[http://www.sohu.com/a/105812765_119709]
刚刚看见了这个，不清楚是不是这个问题，但是不太清楚如何使能mfpu=neon

[2019-05-14 13:36] Sparrow0817 commented on #1610
#include "operators/math/gemm.h"
#include <string.h>
#include "common/log.h"
#include "memory/t_malloc.h"
#if __ARM_NEON
#include <arm_neon.h>
#endif
#ifdef _OPENMP
#include <omp.h>
#endif
这是gemm.cpp的头文件

[2019-05-15 03:33] Gankerzzl opened #1621 "关于Framework.proto定义的一个问题"
我用onnx2fluid工具将onnx网络模型转为fluid格式，用protoc --decode_raw解析出来的模型描述大概如下：

[code]
然后加载这个模型时遇到了segmentation fault, 最后定位到是var_desc.h里的desc->type->lod_tensor为nullptr
[code]

查看framework.proto的定义，
[code]

除了type其它几个key都是optional，这里的意思是六个optional的key至少要有一个？那是不是应该认为用onnx2fluid工具转出来的fluid网络模型有问题？还是提供的onnx模型有问题？

[2019-05-15 06:04] ysh329 commented on #1610
@Sparrow0817 试试切换到`git checkout 200be57`这次提交，再编译试试

[2019-05-15 07:56] ysh329 commented on #1620
@Gankerzzl 重开一个issue吧

[2019-05-15 08:16] Sparrow0817 commented on #1610
'memset' 未申明。。。。

[2019-05-15 10:49] ysh329 commented on #1610
@Sparrow0817 找到memset的头文件加到那个gemm报错的那个文件里，可能是`#include <string.h>`试试，如果不对你搜下memset的头文件是啥，然后加到gemm报错的文件里

[2019-05-15 11:20] Sparrow0817 commented on #1610
wow！成功了！将#include<cstring> 添加到gemm_kernel.h中在编译就成功了！ 谢谢大佬的耐心指导！

[2019-05-15 11:24] ysh329 commented on #1621
这个模型转换工具是PaddlePaddle/Model下PaddleCV提供的嘛

[2019-05-15 11:29] Sparrow0817 commented on #1610
结束之后test/images/下除了apple.jpg和banana.jpeg外还有input_3x224x224_banana 和test_image_1x3x224x224_float 这两个文件是预测结果吗，如何查看呢

[2019-05-15 11:54] Gankerzzl commented on #1621
@ysh329 https://github.com/PaddlePaddle/X2Paddle 使用的这个项目下的onnx2fluid

[2019-05-15 12:04] ysh329 commented on #1621
你用Paddle的Python接口看能加载嘛，会不会出现这个问题，比方用Paddle的Python CPU接口。

- 安装：pip3 install paddlepaddle==1.4

给你提供一段脚本：

[code]

[2019-05-15 14:37] Gankerzzl opened #1625 "Insufficient memory to allocation"
修改test_conv_op.cpp的代码，测试输入宽高为1024x1024，kernel size 为 41x41 的卷积，抛出异常:
terminating with uncaught exception of type paddle_mobile::PaddleMobileException: paddle mobile C++ Exception:
| paddle-mobile enforce
| [in file] : /home/.../projects/paddle/paddle-mobile/src/framework/tensor.h
| [on line] : 203
| [detail]  : Insufficient memory to allocation

测试机型XiaoMi 5s，代码如下：
[code]

[2019-05-16 02:54] Gankerzzl commented on #1621
Traceback (most recent call last):
  File "./paddle.py", line 5, in <module>
    import paddle.fluid as fluid
  File "/home/.../projects/paddle/paddle.py", line 5, in <module>
    import paddle.fluid as fluid
ModuleNotFoundError: No module named 'paddle.fluid'; 'paddle' is not a package

[2019-05-16 09:52] xiebaiyuan commented on #1625
这个错误的直接原因是[申请内存失败](https://github.com/PaddlePaddle/paddle-mobile/blob/3f1e8f7d2ec356f53e809a127a6a7d0dfff950b2/src/framework/tensor.h#L203)。

如果还有问题，可以随时打开这个issue。

[2019-05-16 09:52] #1625 closed, assigned to nobody

[2019-05-16 09:55] xiebaiyuan opened #1626 "fix crash when close optimise in gpu test"
fix crash when close optimise in gpu test

[2019-05-16 09:56] #1626 closed, assigned to nobody

[2019-05-16 12:59] yangyanzhan commented on #1550
We have prepared to implement nearest_interp op. Coming soon.

[2019-05-17 12:05] smilejames opened #1629 "fix memcpy size in opencl fetch kernel"
- [ ]

[2019-05-17 14:10] #1629 closed, assigned to nobody

[2019-05-19 04:06] xxy404 opened #1632 "在树莓派3B+上安装paddle-mobile后无法执行mobileNet"
cd ../build/release/arm-linux/build 这个文件夹里没有任何文件
$ export LD_LIBRARY_PATH=. 执行该命令后没有发生任何变化
cd ../../../../test/build/ 这个目录下也没有任何模型
$ ./test-mobilenet 执行此命令提示“没有那个文件或目录”

[2019-05-20 03:27] ysh329 commented on #1607
## 测试平台

- 为了验证精度正确性，逐层fetch每种层类型、每个第一次的计算结果：
  1. conv2d：conv2d_0.tmp_0
  2. batch_norm：batch_norm_0.tmp_2
  3. relu6：relu6_0.tmp_0
  4. depthwise_conv2d：depthwise_conv2d_0.tmp_0
  5. elementwise_add：elementwise_add_0
  6. pool2d：pool2d_0.tmp_0
  7. mul： fc_0.tmp_0
  8. softmax：fc_0.tmp_2
  9. scale：save_infer_model/scale_0
- 统一输入为黄瓜图片（见下图）；
- 预处理过程采用提供的预处理脚本，位于本仓库的`tools/python/imagetools`目录下（预处

[2019-05-20 07:32] jinhaoyang007 commented on #1632
我的是同样的情况。
报错的编译信息如下：
/home/pi/paddle-mobile/src/operators/kernel/arm/quantize_kernel.cpp:183:64: error: specialization of ‘template<class DeviceType, class T> bool paddle_mobile::operators::QuantizeKernel<DeviceType, T>::Init(paddle_mobile::operators::QuantizeParam<DeviceType>*)’ in different namespace [-fpermissive]
 bool QuantizeKernel<CPU, float>::Init(QuantizeParam<CPU> *param) {

[2019-05-20 12:02] yangyanzhan commented on #1550
nearest_interp has been added to metal version

[2019-05-20 12:02] #1550 closed, assigned to yangyanzhan, NazgulLee

[2019-05-20 15:40] xiebaiyuan commented on #1632
@xxy404  是否有完整的编译信息。有可能是编译过程中失败了。导致文件没找到。

[2019-05-20 15:42] xiebaiyuan commented on #1632
@jinhaoyang007   我们关注一下这个问题，近期排查一下。  可以先使用master编译试下。

[2019-05-21 05:26] xiebaiyuan opened #1636 "Add leakyrelu arm cpu op"
Add leakyrelu arm cpu op

[2019-05-21 11:01] ysh329 commented on #1621
@Gankerzzl 那你看来没有安装paddle，使用下面的安装命令安装Python-CPU版本的Paddle：

[code]

[2019-05-21 11:06] ysh329 commented on #1610
@Sparrow0817 不是，你根据文档会发现input_3x224x224_banana是输入数据，跟着文档一步步走，应该没啥问题

[2019-05-21 11:06] #1610 closed, assigned to ysh329, xiebaiyuan

[2019-05-21 12:18] #1636 closed, assigned to xiebaiyuan

[2019-05-22 03:35] smilejames opened #1644 "add opencl Scale op"

[2019-05-22 05:49] #1644 closed, assigned to nobody

[2019-05-22 06:00] xiebaiyuan opened #1647 "develop nearestinterp op"
develop nearestinterp op

[2019-05-22 08:10] #1647 closed, assigned to xiebaiyuan

[2019-05-22 11:22] smilejames opened #1653 "fix cpu conv_add and conv_add_relu"

[2019-05-22 11:49] #1653 closed, assigned to nobody

[2019-05-23 05:49] smilejames opened #1656 "fix opencl no persistable bias in fusion conv op"

[2019-05-23 06:29] #1656 closed, assigned to nobody

[2019-05-23 07:23] chenxiaoyu3 opened #1658 "mobilenetssd 报错dim size不一致"
我们moiblenetssd 320是可以的，mobilenetssd 640报错：

同样的模型，使用paddle的python和c++都可以正确执行
[code]
模型文件、测试图片、预处理均已打包：
链接: https://pan.baidu.com/s/1W-zcpWi8BpdVb12CthI5Ew 提取码: 8au2

paddle版本：1.4.0 release

也试过20190523 develop 分支最新 。有同样的问题。

[2019-05-23 08:38] xiebaiyuan commented on #1658
@chenxiaoyu3 这模型的输入是可变的么？
如果是的话，  使用时 传入 lodmode  = true

[2019-05-23 08:43] #1542 closed, assigned to nobody

[2019-05-23 08:52] xiebaiyuan commented on #1460
c++ 层面创建多个paddle mobile实例即可同时load多个模型。
关于c++层面的使用，可以参考：
[c++使用paddle mobile高级接口示例](https://github.com/PaddlePaddle/paddle-mobile/blob/d318a34e07388a9a6fac0f584ac85e8b460beb06/test/framework/test_inference_api.cpp#L17-L16)

@yeyupiaoling

其他问题，可以随时重新打开这个issue

[2019-05-23 08:52] #1460 closed, assigned to xiebaiyuan, RayLiu2015

[2019-05-23 08:55] xiebaiyuan commented on #1514
#1648  目前已支持nearest 以及 bilinear interp  。
just try it 。

[2019-05-23 08:55] #1514 closed, assigned to hjchen2

[2019-05-23 10:56] smilejames opened #1659 "support element_add in opencl fusion conv op"

[2019-05-23 11:38] #1659 closed, assigned to nobody

[2019-05-23 12:06] chenxiaoyu3 commented on #1658
@xiebaiyuan 不是可变的，另外试过lod_mode = true 也不行

[2019-05-28 03:17] ForceDaryl opened #1663 "add reshape2, transpose2, split GPU operator"

[2019-05-29 09:11] smilejames opened #1668 "fix infershape of flatten op"

[2019-05-29 09:50] #1668 closed, assigned to nobody

[2019-05-30 13:01] #1663 closed, assigned to nobody

[2019-05-31 05:20] ForceDaryl opened #1671 "add density_prior_box op"

[2019-05-31 09:54] ForceDaryl opened #1673 "add density_prior_box op"

[2019-06-02 23:38] Sparrow0817 opened #1675 "../models/yolo/__model__ open failed !"
./test-yolo
terminate called after throwing an instance of 'paddle_mobile::PaddleMobileException'
  what():  paddle mobile C++ Exception:
| paddle-mobile enforce
| [in file] : /home/pi/Downloads/paddle-mobile-200be579e82079472e9bead50b6eef5703d5d0be/src/framework/loader.cpp
| [on line] : 167
| [detail]  :  ../models/yolo/ __model__ open failed !

Aborted

models/yolo/
only have two files: model  p

[2019-06-02 23:59] Sparrow0817 commented on #1675
![F95FDDBF-6B38-483A-96F4-6C0E2FAB1E1A](https://user-images.githubusercontent.com/46517269/58769007-82c53000-85d5-11e9-8998-ed202b3e364d.jpeg)

[2019-06-03 02:37] #1673 closed, assigned to nobody

[2019-06-03 09:18] sandyhouse commented on #1675
意思是models/yolo/目录下没有__model__目录吗？

[2019-06-03 11:49] qnqinan opened #1676 "update proposal kernel and other kernels in FPGA v2 track"

[2019-06-03 11:58] Sparrow0817 commented on #1675
是的，没有_model_，似乎是缺少文件，但是我从官方提供的下载地址下载的文件里其他模型都是有的，只有yolo文件夹下缺少文件。

[2019-06-03 12:22] #1676 closed, assigned to nobody

[2019-06-04 12:44] qnqinan opened #1679 "update fetch and softmax kernel in fpga v2 track"

[2019-06-05 02:15] #1679 closed, assigned to nobody

[2019-06-05 06:45] Sparrow0817 commented on #1675
有人了解这种情况吗，好几天了

[2019-06-07 06:01] Sparrow0817 opened #1681 "test-mobilenet检测结果是不是没有保存为图片?"
刚接触paddle，不太清楚结果output在了哪里。
![mobiletest3](https://user-images.githubusercontent.com/46517269/59084181-c2b94980-892c-11e9-97ad-dd506529a6eb.png)

[2019-06-10 07:34] yeyupiaoling commented on #1460
@xiebaiyuan 能提供个jni接口吗？我不懂

[2019-06-10 12:44] xxlyu-2046 opened #1682 "docker build太慢"
5个小时了

[2019-06-10 12:56] xxlyu-2046 commented on #1682
看dockerfile不是源的问题

[2019-06-11 08:37] #1671 closed, assigned to nobody

[2019-06-11 08:39] dolphin8 commented on #1682
有输出日志吗？慢在哪个过程了呀？机器配置也贴一下呗

[2019-06-11 08:43] flying1999 opened #1683 "paddle-mobile用clang编译"
会碰见一些编译不过的问题

[2019-06-11 08:48] luotao1 commented on #1683
![image](https://user-images.githubusercontent.com/6836917/59257528-b30d6e00-8c68-11e9-8b95-204d3a549b8a.png)
[code]
补充用户错误。

[2019-06-11 08:58] ysh329 commented on #1683
这个好像是xilinx的板子？是fpga嘛，与用户进一步hi联系

[2019-06-11 11:06] #1675 closed, assigned to ForceDaryl

[2019-06-12 03:26] xxlyu-2046 commented on #1682
没有任何输出，机器配置不差

[2019-06-12 03:38] jiangfangsheng opened #1685 "android怎么编译其他cpu架构的so"
如题，目前只生成了arm-v7a版本的so，其他的如64位的so怎么编译生成啊

[2019-06-12 04:49] jiangfangsheng opened #1686 "ios 编译环境是否需要安装额外的软件"
目前报错：
CMake Error at CMakeLists.txt:21 (project):
  The CMAKE_C_COMPILER:

    /usr/local/opt/llvm/bin/clang

  is not a full path to an existing compiler tool.

  Tell CMake where to find the compiler by setting either the environment
  variable "CC" or the CMake cache entry CMAKE_C_COMPILER to the full path to
  the compiler, or to the compiler name if it is in the PATH.

CMake Error at CMakeLis

[2019-06-12 05:40] xxlyu-2046 commented on #1682
重启docker好了

[2019-06-12 05:40] #1682 closed, assigned to dolphin8

[2019-06-12 05:45] jiangfangsheng commented on #1686
安装llvm libomp后编译成功

[2019-06-12 05:45] #1686 closed, assigned to nobody

[2019-06-14 02:03] yeyupiaoling commented on #1607
是通道顺序的问题。

[2019-06-14 02:03] #1607 closed, assigned to nobody

[2019-06-20 15:31] smilejames opened #1693 "fix build error of scale_kernel.cl on Mali"

[2019-06-21 02:26] #1693 closed, assigned to nobody

[2019-06-21 09:20] yizhangliu opened #1695 "最新版的， 好像 无法加载 模型哦 【Android】"
运行到下面这句， 就不往下走了：
load_result = PML.load(model_path,  false);

麻烦大佬们 看一下。

[2019-06-21 09:40] yizhangliu commented on #1695
补充： 使用的 是自己在 linux上 编译的 so

[2019-06-21 10:43] qnqinan opened #1696 "update v1 and v3 kernel file in FPGA track"

[2019-06-24 02:28] #1696 closed, assigned to nobody

[2019-06-24 03:57] yizhangliu commented on #1695
PaddleMobile release 1.4.0  is OK.
Thanks.

[2019-06-24 03:57] #1695 closed, assigned to nobody

[2019-06-24 08:43] chenxiaoyu3 opened #1699 "yolo-box的int32支持（yolo-v3）"
[code]
另外，PaddleDType需要增加INT32支持（PaddleFluid已经支持）。yolo-box的shape输入是int32的
![image](https://user-images.githubusercontent.com/858534/60004245-d1c72800-969e-11e9-98c0-5c2ebf6cb8ca.png)

yolo v3 的fluid模型和测试图片：链接: https://pan.baidu.com/s/1la4VwB6joibLwZYpS8Nymg 提取码: 2xtk

[2019-06-26 08:43] BestDAHU opened #1706 "FPGA上的benchmark"
请问你们有在FPGA上的benchmark吗

[2019-06-26 09:06] smilejames opened #1707 "add gemm_int8 arm64 version without openmp"

[2019-06-26 11:19] #1707 closed, assigned to nobody

[2019-06-26 11:31] smilejames opened #1709 "open arm64 EXEC_GEMM_INT8 exec mode"

[2019-06-27 09:14] #1709 closed, assigned to nobody

[2019-06-28 08:31] BestDAHU commented on #1706
或者在哪款FPGA上实验跑过哪个网络，性能怎么样，可以给我参考一下吗

[2019-07-02 02:49] ysh329 commented on #1699
应该是当前这个op没有实现，已经hi单独联系

[2019-07-02 03:06] qnqinan commented on #1706
开源网络的话，我们在ZU5上跑过resnet50和mobilenet v1，resnet50 15ms，mobilenet v1 3.3ms

[2019-07-02 03:17] smilejames opened #1721 "add test-net-benchmark"

[2019-07-02 04:12] hong19860320 commented on #1685
可以设置PLATFORM这个环境变量
$ export PLATFORM=arm-v8a
$ cd tools
$ sh build.sh android

[2019-07-02 06:16] ysh329 commented on #1681
你仔细看看`./test/net/test_mobilenet.cpp`里的代码：

[code]

你可以对`vec_result`这个变量逐个打印进一步检查

[2019-07-02 06:24] ForceDaryl commented on #1658
@chenxiaoyu3 使用最新paddle-moble代码，在load你云盘中的模型时，传入lod_mode = true，模型是可以正常加载的

[2019-07-02 11:34] vincentXiyu opened #1723 "test-mobilenet load不了模型"
PaddleMobile版本：develop
CommitID： 666045dbcbf0cccadb8e35cd57eb64721cf252eb

按照下面文档编译、复现
https://github.com/PaddlePaddle/paddle-mobile/blob/develop/doc/development_android.md
（docker实现，docker实现时也有坑，需要直接用./build.sh android, 建议把文档更新一下。）

mobilenet的model的参数是分开保存的。
![1e60ff79d5953137c2f38eceba080dc7](https://user-images.githubusercontent.com/46891386/60509463-8694c100-9cff-11e9-8e36-46a86d1b6a6d.png)

1

[2019-07-03 02:22] smilejames commented on #1685
tools/build.sh文件中，build_for_android()函数中有几行平台配置如下：
    if [ -z "$PLATFORM" ]; then
        PLATFORM="arm-v7a"  # Users could choose "arm-v8a" platform.
        PLATFORM="arm-v8a"
    fi

注掉arm-v7a，打开arm-v8a 即可。

[2019-07-03 02:25] #1721 closed, assigned to nobody

[2019-07-03 02:41] smilejames commented on #1681
没有保存成图片，网络输出是一个Vector

[2019-07-03 02:46] #1706 closed, assigned to ysh329, qnqinan

[2019-07-03 02:46] #1685 closed, assigned to smilejames, hong19860320

[2019-07-03 02:47] #1681 closed, assigned to smilejames

[2019-07-03 02:48] #1573 closed, assigned to nobody

[2019-07-03 03:17] vincentXiyu commented on #1723
自己重新在paddle上跑了一个模型，然后存下来，再在paddle mobile上运行就行了。不过之前的bug不知道是怎么回事~~

[2019-07-03 03:17] #1723 closed, assigned to nobody

[2019-07-03 06:31] BestDAHU commented on #1706
好的，谢谢啦

[2019-07-05 08:18] smilejames opened #1727 "free memery when input changes smaller in lod mode"
- [ ]

[2019-07-05 08:26] huate1011 opened #1729 "在arm-linux无法运行test-mobilenet"
paddle-mobile-1.50编译以后无法运行test-mobilenet

exe="/home/root/paddle-mobile/test-mobilenet/test/build/test-mobilenet" sig=6 res=1 terminate called after throwing an instance of 'paddle_mobile:PAddleMobileException'

[in file] : /home/root/paddle-mobile/src/operators/fusion_conv_add_bn_relu_op.cpp
[on line]: 35
[detail]: convparam is not suitable

aborted (core dumped)

[2019-07-05 08:36] huate1011 commented on #1729
7月5日下午4点更新的develop的最新的代码，原错误消失，新的错误如下：
root@imx8mmevk:/home/root/yolo3/paddle-mobile/test/build# ./test-mobilenet
load cost :0ms
 Max element is 0.985921 at posit[ 5497.482359] audit: type=1701 audit(1558705577.002:46): auid=4294967295 uid=0 gid=0 ses=4294967295 pid=6599 comm="test-mobilenet" exe="/home/root/yolo3/paddle-mobile/test/build/test-mobilenet" sig=6 res=1
ion 954
free(): invalid size
Ab

[2019-07-05 09:50] #1727 closed, assigned to nobody

[2019-07-17 12:34] StarryRain opened #1750 "add CPU_ARCH info, improve the performance of GEMM1*1s1"

[2019-07-17 13:43] #1750 closed, assigned to nobody

[2019-07-18 09:09] StarryRain opened #1753 "improve the performance of gemm1*1s1_conv_add and gemm1*1s1_conv_add_bn_relu"

[2019-07-18 14:47] #1753 closed, assigned to nobody

[2019-07-19 08:13] zhizunbao-y opened #1761 "Compile failed in Rapberry pi 3b+"
In file included from /home/pi/paddle-mobile/src/operators/kernel/arm/convolution/conv_add_bn_relu_kernel.cpp:24:0:
/home/pi/paddle-mobile/src/operators/math/slidingwindow_utils.h: In function ‘void paddle_mobile::operators::math::slidingwindow_fill_bias(float*, const float*, int)’:
/home/pi/paddle-mobile/src/operators/math/slidingwindow_utils.h:137:3: error: ‘float32x4_t’ was not declared in this

[2019-07-19 08:13] zhizunbao-y commented on #1761
I use develop branch and compile paddle mobile in raspberry pi 3b+  (armv7l boardcom cortex-A53) .
The error seems to be caused by neon in arm platform.
Could you give me some instruction?

[2019-07-22 08:31] dailyinsist opened #1763 "RK3399 linux 无法运行test-mobilenetssd"
运行./test-mobilenetssd是会出现read from__model__is null。
我想问这种问题是模型不匹配还是什么其他的原因。另外官方是否可以提供make编译这些工程之前的源码进行参考

[2019-07-25 08:03] FocueAI opened #1767 "该工程怎么使用？？？运行时总是报错"
![image](https://user-images.githubusercontent.com/49752023/61856742-56eb6a00-aef5-11e9-91bb-e8a5a3140a40.png)
2. 报错信息
![image](https://user-images.githubusercontent.com/49752023/61856798-6ff41b00-aef5-11e9-926f-b61639449187.png)
3. 文件路经（paddle模型）
![image](https://user-images.githubusercontent.com/49752023/61856937-bb0e2e00-aef5-11e9-9355-88a445b50c27.png)

[2019-07-25 11:44] FocueAI commented on #1767
个人已经解决，./quantify 1 paddle_model_yhkh ./mymodel_min   即可  ，再者paddle_model_yhkh文件夹下面的模型和权重为 默认的名称即可

[2019-07-25 11:44] #1767 closed, assigned to nobody

[2019-07-25 11:53] FocueAI opened #1768 "量化后模型怎么通过python加载呢？"
通过下图的方法，对模型进行了量化操作
![image](https://user-images.githubusercontent.com/49752023/61872152-316e5880-af15-11e9-88aa-da2de492813a.png)

但是通过python怎么加载呢？使用传统的加载方式总是报错
![image](https://user-images.githubusercontent.com/49752023/61872378-b9546280-af15-11e9-9aae-b1b1d7e94db6.png)

[2019-07-26 02:12] ysh329 commented on #1768
我有点乱，你是用什么量化的？paddle-mobile的量化工具、还是paddleSlim？我对量化不太了解，希望能补充一些量化的细节。

再就是我看你用的是C++，paddle-mobile没有提供Python的api吧

[2019-07-26 02:16] ysh329 commented on #1763
缺少模型？

[2019-07-26 02:57] smilejames commented on #1768
量化模型的转换脚本，可以接受4个参数：0、1、2、3。
0：分散参数，float32 -> int8。
1：合并参数，float32 -> int8。
2：分散参数，float32 -> int8 -> float32。
3：合并参数，float32 -> int8 -> float32。

0、1生成的产物就是体积变成1/4的量化模型。
2、3生成的产物就是fluid可以运行的，结果与mobile量化模型一致的float32模型。
就是说用2、3可以测试使用paddle fluid 加载并测试量化模型的准召。

[2019-07-26 02:58] smilejames commented on #1763
模型是放在 /data/local/tmp/models 路径下，可以检查下手机该路径下是否有相应模型。

[2019-07-29 05:05] StarryRain opened #1771 "add faster sgemv_notrans_mx1, fix test_fusion_op"

[2019-07-29 06:43] #1771 closed, assigned to nobody

[2019-07-30 06:33] chenxiaoyu3 opened #1774 "paddle-mobile 与paddlefluid 1.5 效果不一致"
MobileNet SSD， 图像大小 640

paddle mobile 代码20190730 develop分支最新版。

使用 paddle fluid 1.1 train出来没问题，使用 paddle fluid 1.5 训练出来的有问题。
结果不完全一致，且存在大量 概率大于 1，box 大于1或小于0的情况。

使用的模型、预处理、测试图片：链接: https://pan.baidu.com/s/1igk8P65Z3_H6l6jLF4f02w 提取码: evpk

fluid的结果
![image](https://user-images.githubusercontent.com/858534/62353791-fc2dc000-b53d-11e9-9b72-6298ad1c3f4d.png)

paddle-mobile的结果：
![image](https://user

[2019-08-08 01:17] banbishan opened #1784 "没有im2sequence算子"
I0120 02:46:24.272919  7952 program.cc:76] create Op [im2sequence]
F0120 02:46:24.272925  7952 program.cc:78] Check failed: op no Op found for im2sequence
*** Check failure stack trace: ***
Aborted

[2019-08-08 01:32] banbishan commented on #1784
在issues里搜了一下，看到是有im2sequence这个算子的，难道是用的版本的问题，但是环境用的是github上的docker环境

[2019-08-08 02:22] banbishan commented on #1784
@codeWorm2015，大佬能帮忙看看吗

[2019-08-08 03:15] smilejames commented on #1784
确实有该算子。你是用的CPU版本吗？看报错信息，mobile里没有program.cc的源文件呀

[2019-08-08 03:21] banbishan commented on #1784
对，使用的是1.5.0realease android armv8。我用paddlepaddle训练了models/PaddleCV/ocr_recognition，用save_inference_model保存了模型，用从realease里下载的cxx demo编译可执行文件，adb push到mobile里，然后运行 ./mobilenetv1_full_api --model_dir=./infer_model --optimized_model_dir=./mobile_tmp/infer_model.opt

[2019-08-08 06:37] banbishan commented on #1784
感谢@smilejames的帮助，我使用的是paddle-mobile v1.5.0realease里的demo，其中的包是lite库，lite目前还没有 im2sequence算子，mobile是有im2sequence算子的

[2019-08-08 06:37] #1784 closed, assigned to nobody

[2019-08-12 08:12] banbishan opened #1790 "ocr attention模型在ubuntu可以，但在android下报错"
ocr attention模型在电脑上可以前向运算，但通过save_inference_model保存模型，在android上用c++调用的时候就报如下的错误
![image](https://user-images.githubusercontent.com/13417277/62852352-c0ec7780-bd1b-11e9-8efd-656c8bf2d31e.png)

[2019-08-12 08:13] banbishan commented on #1790
DEBUG   [file: while_kernel.cpp] [line: 51] : while kernel Run op: 0th : read_from_array
DEBUG   [file: operator.cpp] [line: 62] : -------------read_from_array----------------------------
DEBUG   [file: operator.cpp] [line: 71] : read_from_array input- I= dims: 1
0
DEBUG   [file: operator.cpp] [line: 85] : read_from_array output- Out= dims: 1 1
0
DEBUG   [file: while_kernel.cpp] [line: 48] : while

[2019-08-13 12:08] smilejames commented on #1790
模型有问题，保存的模型fluid也跑不起来

[2019-08-13 12:11] smilejames commented on #1774
问题已修复，请拉取最新代码验证效果

[2019-08-15 08:22] xiebaiyuan opened #1791 "develop memory optimise for super resolution"
develop memory optimise for super resolution

[2019-08-15 08:27] qnqinan opened #1792 "update proposal and psriopool kernel in FPGA v2"

[2019-08-16 02:56] #1791 closed, assigned to xiebaiyuan

[2019-08-16 06:01] StarryRain opened #1798 "add opencl slidingwindow3*3s1"

[2019-08-16 07:14] #1798 closed, assigned to nobody

[2019-08-19 03:36] sckalman123 opened #1806 "编译Docker镜像failed"
sudo docker build -t paddle_mobile_lite .
[sudo] password for wsy:
Sending build context to Docker daemon   5.12kB
Step 1/27 : FROM ubuntu:16.04
Get https://registry-1.docker.io/v2/: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)

 ping www.baidu.com
PING www.baidu.com (183.232.231.174) 56(84) bytes of data.
64 bytes from 183.232.231.174: i

[2019-08-19 03:53] sckalman123 commented on #1806
按照这个文档 进行操作的 https://github.com/PaddlePaddle/Paddle-Lite/wiki/use_docker_install

Lite提供Dockerfiles用于编译Docker镜像，使用该镜像可以方便编译Lite，免去配置编译环境的麻烦。

clone paddlelite_repo代码 假定当前目录是base_path，

git clone <paddlelite_repo>.git
clone完毕后，在base_path目录下可以看到paddlelite。

编译Docker镜像 在base_path目录，执行如下代码编译Docker镜像：

cd paddlelite/lite/tools
mkdir mobile_image
cp Dockerfile.mobile mobile_image/Dockerfile
cd mobile_im

[2019-08-19 06:58] smilejames opened #1808 "add head file for arm_linux compile"

[2019-08-19 07:01] hong19860320 commented on #1806
国内访问Docker Hub可能存在问题，可以配置镜像解决，具体方法如下：
$ sudo mkdir /etc/docker
$ sudo vim /etc/docker/daemon.json
`{
  "registry-mirrors": [
    "https://dockerhub.azk8s.cn",
    "https://reg-mirror.qiniu.com"
  ]
}`
$ sudo systemctl restart docker
最后重新执行docker build就没问题了。

具体请参考：https://yeasy.gitbooks.io/docker_practice/install/mirror.html

[2019-08-19 07:03] imistyrain opened #1810 "lite有预编译好的库吗？"
如题，用docker编译需要翻墙，而且占用的空间很大(20G+)。

[2019-08-20 05:13] #1808 closed, assigned to nobody

[2019-08-20 12:14] Superjomn commented on #1810
我们后续提供，应该很快会有正式版

[2019-08-20 12:23] Superjomn commented on #1810
另外，也可以参考我们的 dockerfile，在 ubuntu 的机器上做相应的配置，之后用裸机编译应该也是一样的

https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/tools/Dockerfile.mobile

<img width="730" alt="image" src="https://user-images.githubusercontent.com/328693/63346791-55904e80-c388-11e9-8c2a-ef863ff96fc3.png">

这些RUN后面的都是 bash 命令

[2019-08-21 08:08] zhonganr opened #1813 "编译时出现OCI runtime create failed"
firefly@chun:~/Paddle-Lite/lite/tools/mobile_image$ sudo docker build -t paddle_mobile_lite .
Sending build context to Docker daemon   5.12kB
Step 1/27 : FROM ubuntu:16.04
 ---> b63658c0b8e9
Step 2/27 : MAINTAINER PaddlePaddle Authors <paddle-dev@baidu.com>
 ---> Using cache
 ---> 1d9ebdbda175
Step 3/27 : RUN echo 'deb <mirror> <version> main restricted universe multiverse\ndeb <mirror> <version>-

[2019-08-21 08:59] DannyIsFunny commented on #1810
正在准备编译好的PaddleLite docker image文件，后续将同步更新wiki文档

[2019-08-21 09:00] peyer opened #1814 "How to switch g++ to clang++ when cross-compile code on ARM"
I just go to ${PADDLE-LITE-ROOT}/mobile/tools, and run command "./build.sh android", it chose aarch64-linux-android-g++ as compiler? How to witch g++ to clang++ when cross-compile code on ARM, and have you test difference of performance between library compiled by clang++  and g++?

[2019-08-21 09:38] peyer opened #1815 "Faile to compile code with GPU_CL on RK3399"
I could not find libOpenCL.so on RK3399, but only got libGLES_mali.so, So I changed CMakeLists.txt under ${PADDLE-LITE-ROOT}/mobile and turn GPU_CL on to build paddle-lite wit GPU_CL. However, it successfully compiled libpaddle-mobile.so, but failed to compiled test-conv-gpu and return some ld errors like below
libGLES_mali.so: undefined reference to `__gnu_strerror_r@LIBC'

How could I solve it?

[2019-08-21 11:28] smilejames commented on #1814
We tested the performance by clang++ and g++ before, the difference is very small. When using g++ with openmp, the volume of .so going to be smaller. If you switch to clang++，there may be compilation errors.

[2019-08-21 11:31] DannyIsFunny commented on #1810
您好，我们已经上传编译完的Paddle-lite docker镜像文件，您可以按以下步骤拉取docker镜像（而非从docker file自己编译出docker镜像）
1、使用下面命令拉取docker镜像：
`docker pull paddlepaddle/paddle-lite`
操作完毕后输入`docker images`命令可以查询到该新增镜像（paddlepaddle/paddle-lite）：
![image](https://user-images.githubusercontent.com/45189361/63427659-3a851380-c448-11e9-8a22-ba1488c2e141.png)
2、使用下面命令从该镜像创建container并进入(该指令将新建的docker容器命名为paddlelite_docker，并将“当前路径下的Paddle-Lite目

[2019-08-21 11:39] DannyIsFunny commented on #1813
您好，我们已经上传编译完的Paddle-lite docker镜像文件，您可以按以下步骤拉取docker镜像（而非从docker file自己编译出docker镜像， 以下步骤可以替换”[使用Docker编译](https://github.com/PaddlePaddle/Paddle-Lite/wiki/use_docker_install)“文档中的“准备Docker镜像”和“创建docker容器”）
1、使用下面命令拉取docker镜像：
`docker pull paddlepaddle/paddle-lite`
操作完毕后输入`docker images`命令可以查询到该新增镜像（paddlepaddle/paddle-lite）：
![image](https://user-images.githubusercontent.com/45189361/63427659-3a85

[2019-08-21 12:21] smilejames commented on #1815
$ cd /Paddle-Lite/mobile

开启GPU支持，在CMakeLists.txt开启GPU_CL选项为ON
$ cp /usr/lib/aarch64-linux-gnu/libOpenCL.so ./third_party/opencl/
$ ln -s ./third_party/opencl/libMali.so ./third_party/opencl/

编译
$ cd ./tools
$ /bin/bash build.sh arm_linux

libOpenCL.so in /usr/lib/aarch64-linux-gnu/

[2019-08-22 01:39] peyer commented on #1815
@smilejames Sorry, but my RK3399 run on Android system, I still have not found libOpenCL.so.

[2019-08-22 03:15] smilejames commented on #1815
I'll send you libOpenCL.so
qq:452896344

[2019-08-22 03:16] smilejames commented on #1815
if you want run it in Android Syetem，Easier way is " sh build.sh Android" in your Mac.

[2019-08-22 03:21] peyer commented on #1815
@smilejames Thanks.
Since my RK3399 is with Android system, so I compiled paddle-lite with command "sh build.sh Android". When turn GPU_CL off, it successfully generated library file and executable file. But when I turn GPU_CL on and modified CMakeLists to link with libGLES_mali.so, it failed.
qq: 1556583959

[2019-08-22 06:28] Superjomn commented on #1810
预编译好的lib，我们这两天会准备下，发布到 release里

[2019-08-22 07:23] banbishan commented on #1790
@smilejames，hello，大佬，保存的模型已经在fluid跑通，但是paddle-mobile仍然报错，附件是跑通的模型
[infer.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/3528778/infer.zip)

模型输入有三个：c++代码如下：
[code]

[2019-08-22 09:01] Superjomn commented on #1790
复现了下，fluid 的预测应该可以跑通

https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/ocr_recognition

<img width="502" alt="image" src="https://user-images.githubusercontent.com/328693/63505970-205e3a80-c507-11e9-95e8-fcf1fa1a78d6.png">

可以在 paddle-mobile 上定位下 @JiayiFeng

[2019-08-22 09:49] smilejames commented on #1815
sh build.sh Android , Right
When turn GPU_CL on, you need to put libGLES_mali.so in /mobile/third_party/opencl directory,
and change 94 line in mobile/CMakeLists :
change
link_libraries(${CMAKE_CURRENT_LIST_DIR}/third_party/opencl/libOpenCL.so)
to
link_libraries(${CMAKE_CURRENT_LIST_DIR}/third_party/opencl/libGLES_mali.so)

[2019-08-22 11:12] qnqinan opened #1829 "update proposal and psroipool kernel file in FPGA V2 track"

[2019-08-22 12:37] #1806 closed, assigned to hong19860320

[2019-08-23 02:56] DannyIsFunny opened #1838 "add image"
![f919949f15e84108f747aa5ab](https://user-images.githubusercontent.com/45189361/63563699-965cb300-c594-11e9-956a-113338b298c1.jpg)

[2019-08-23 02:56] #1838 closed, assigned to nobody

[2019-08-23 05:12] DannyIsFunny opened #1843 "add image"
![738b2968c60bc890e95b73b24](https://user-images.githubusercontent.com/45189361/63563791-e471b680-c594-11e9-8a52-72a5a95350a2.png)
![f919949f15e84108f747aa5ab](https://user-images.githubusercontent.com/45189361/63563799-ee93b500-c594-11e9-8e9a-38a9144e210c.jpg)

[2019-08-23 05:12] #1843 closed, assigned to nobody

[2019-08-23 11:27] xiaolvtaomi opened #1846 "model_optimize_tool没有编译出来"
操作过程参考的wiki里的[model_optimize_tool文档](https://raw.githubusercontent.com/wiki/PaddlePaddle/Paddle-Lite/model_optimize_tool.md)，
第一步：按照步骤2的build.sh执行过后，并未提示成功或者失败；
第二步：在步骤3中的目录，或者 inference_lite_lib.android.armv8 中并没有看到bin/model_optimize_tool  。在inference_lite_lib.android.armv8的目录下面只有目录<demo>,<java>没有<bin>目录

`
root@docker-desktop:/Paddle-Lite# /Paddle-Lite/lite/tools/build.sh  --arm_os=android --arm

[2019-08-23 13:44] sangoly commented on #1846
编译命令应该为`./lite/tools/build.sh --arm_os=android --arm_abi=armv8 --arm_lang=gcc --android_stl=c++_static full_publish`，你的编译命令full_publish拼写有误，请更新最新代码清空build路径后重新编译

[2019-08-24 02:03] Superjomn commented on #1843
![image](https://user-images.githubusercontent.com/328693/63631174-5c53e580-c656-11e9-8726-d8cf7500a7f2.png)
![image](https://user-images.githubusercontent.com/328693/63631178-65dd4d80-c656-11e9-804e-c091963f6dc0.png)

[2019-08-25 15:35] DannyIsFunny opened #1854 "add image"
![image-1](https://user-images.githubusercontent.com/45189361/63652069-beb00180-c78e-11e9-9391-8ce71c2f2ee8.png)
![image-2](https://user-images.githubusercontent.com/45189361/63652071-d1c2d180-c78e-11e9-9742-7dd6317dc36f.png)
![image-3](https://user-images.githubusercontent.com/45189361/63652072-d7201c00-c78e-11e9-8812-7f8f9e4ec3f6.png)
![image-4](https://user-images.githubusercontent.com/45189361

[2019-08-25 15:35] #1854 closed, assigned to nobody

[2019-08-26 07:12] Superjomn commented on #1843
![image](https://user-images.githubusercontent.com/328693/63671902-3e7faf80-c813-11e9-8522-9dd5dbe748ce.png)

![image](https://user-images.githubusercontent.com/328693/63672028-9a4a3880-c813-11e9-994f-4e8b78883971.png)

[2019-08-26 08:00] smilejames opened #1866 "Catch mobile exceptions"

[2019-08-26 11:26] juncaipeng commented on #1854
![image](https://user-images.githubusercontent.com/52520497/63687477-5bc67500-c837-11e9-919d-0f667cdc5e81.png)

[2019-08-26 11:27] juncaipeng commented on #1854
![image](https://user-images.githubusercontent.com/52520497/63687477-5bc67500-c837-11e9-919d-0f667cdc5e81.png)

[2019-08-26 11:28] juncaipeng commented on #1854
![image](https://user-images.githubusercontent.com/52520497/63687628-a7791e80-c837-11e9-8bea-d28e02308d08.png)

[2019-08-26 12:26] juncaipeng commented on #1854
![image](https://user-images.githubusercontent.com/52520497/63690635-cbd8f900-c83f-11e9-8338-7563738bcc68.png)

[2019-08-26 12:51] juncaipeng commented on #1854
![image](https://user-images.githubusercontent.com/52520497/63691998-48210b80-c843-11e9-906a-ab64abea8bd5.png)

[2019-08-26 12:56] juncaipeng commented on #1854
![image](https://user-images.githubusercontent.com/52520497/63692302-f5941f00-c843-11e9-824e-00958aaea2e2.png)

[2019-08-26 12:57] juncaipeng commented on #1854
![image](https://user-images.githubusercontent.com/52520497/63692353-0b094900-c844-11e9-8889-565418128f29.png)

[2019-08-26 13:11] juncaipeng commented on #1854
![image](https://user-images.githubusercontent.com/52520497/63693184-fa59d280-c845-11e9-8e61-9f4e76c136be.png)

[2019-08-26 13:12] juncaipeng commented on #1854
![image](https://user-images.githubusercontent.com/52520497/63693252-25dcbd00-c846-11e9-8543-1962bd4e0639.png)

[2019-08-26 15:12] #1866 closed, assigned to nobody

[2019-08-28 07:37] #1846 closed, assigned to sangoly

[2019-08-28 08:46] xiaolvtaomi opened #1897 "ocr attention模型训练出来只有单个model文件，没有params文件，无法使用PaddlePaddle进行转换"
目的：将ocr attention项目训练出来的模型在android设备上使用。项目链接是https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/ocr_recognition

出现的问题：在使用paddlepaddle将训练出来的模型进行转化时发现需要填写两个参数，不确定“model_filename”和“params_filename”如何填写
` python
src_dir = './'
model_filename = '__model__'
params_filename = '__params__'
save_dir = './'

`
但是ocr项目训练出来的模型只有一个model_xxx的文件，并没有类似params的文件。

[2019-08-29 01:29] jon-soc opened #1905 "how to add a backend for paddle-lite？ Is there a related document?"
What should I do if I want to add a backend to the paddle-lite?

[2019-08-29 02:42] AIpioneer commented on #1905
This document will be ready this Sunday, and it will be in the release note of  Beta1 version. Thanks for your attention.

[2019-08-29 10:21] wanghaoshuang commented on #1897
PaddleCV/ocr_recognition的脚本中用的是[save_params](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/ocr_recognition/train.py#L143),只会保存权重文件。

可以使用[save_inference_model](https://www.paddlepaddle.org.cn/documentation/docs/zh/1.5/api_cn/io_cn.html#save-inference-model) API保存模型结构文件和参数文件

[2019-08-30 09:12] #1897 closed, assigned to sangoly, wanghaoshuang

[2019-08-30 10:15] willperkins opened #1926 "How to get mobilnet_combine pre-trained model for MobileNetDemo app"
Hello,

I am trying to build the MobileNetDemo app in Paddle-Lite/metal/

![image](https://user-images.githubusercontent.com/576702/64013260-b73a8080-cb1f-11e9-9f40-4b8f6176ae73.png)

I have downloaded the pre-trained models from this link:
![image](https://user-images.githubusercontent.com/576702/64013117-66c32300-cb1f-11e9-991a-5bf10cf93a6e.png)

The downloaded archive contains a mobilenet model

[2019-08-30 11:18] xiaolvtaomi opened #1927 "model_optimize_tool优化combined形式的模型时执行报错length_error"
wget下来的model_optimize_tool
通过以下命令在android设备上执行命令

`

134|D1C:/data/local/tmp $ ./model_optimize_tool \

terminating with uncaught exception of type std::length_error: basic_string
Aborted
134|D1C:/data/local/tmp $
`

命令用的[model_00100_params](https://github.com/xiaolvtaomi/xiaolvtaomi.github.io/blob/master/img/model_00100_params)和[model_00100](https://github.com/xiaolvtaomi/xiaolvtaomi.github.io/bl

[2019-08-30 12:49] xyoungli commented on #1927
您好，测试了上传的模型，发现缺少lod_rank_table这个op，导致模型转换失败。
我们会尽快添加这个op，添加完成后通知您。

ps：
* 如果您编译full_publish用于转换模型的化，建议在编译选项里面加上"--build_extra=ON"，另外可以在“Paddle-Lite/lite/tools/build.sh”中将“-DLITE_SHUTDOWN_LOG”设置为“OFF”

[2019-08-30 15:36] LilyCaiZL opened #1929 "在树莓派3b上编译paddlelite 出的问题 按照wiki上面编译ndk"
树莓派
ubuntu 18.04 64位
arm Linux
裸机编译paddlelite
ndk是按照wiki里面curl来 的

输入的命令是这样的
`./lite/tools/build.sh --arm_os=android --arm_abi=armv8 --arm_lang=gcc --android_stl=c++_static full_publish
`
报错是这样的，输入ndk-build的时候报错是ERROR: Unknown host CPU architecture: aarch64

[code]

[2019-08-31 10:49] hong19860320 commented on #1929
wiki文档我们更新了，你可以拉下最新代码试着编译armlinux的，但建议明后天拉下我们2.0beta版本的tag就可以编译armlinux了哦！
建议暂时使用docker编译armlinux armv7的target，将编译后的binary通过scp传输到树莓派上运行哈，armlinux的裸机编译我们正在完善哦；

[2019-09-01 17:46] LilyCaiZL opened #1941 "linux编译arm Linux新的错误"
ubuntu 16.04 64位 是远程gpu服务器
用docker19.03.1 编译paddlelite full
报错如下
[code]

[2019-09-02 01:25] jon-soc commented on #1905
I did not find the document in the beta1 release notes, Could you help me confirm it ？

[2019-09-02 01:25] jon-soc commented on #1905
@AIpioneer

[2019-09-02 03:31] Superjomn commented on #1941
编译环境是？

[2019-09-02 03:36] LilyCaiZL commented on #1941
ubuntu 16.04 64位 是远程gpu服务器
用docker19.03.1 编译armLinux

[2019-09-02 05:41] hong19860320 commented on #1941
首先确认已在PC机上进入docker容器(参考 https://github.com/PaddlePaddle/Paddle-Lite/wiki/source_compile#%E8%BF%9B%E5%85%A5docker%E5%AE%B9%E5%99%A8 )，然后执行如下命令：
$ git clone https://github.com/PaddlePaddle/Paddle-Lite.git
$ cd Paddle-Lite
$ git checkout release/v2.0.0-beta1
$ rm lite/api/paddle_use_kernels.h
$ rm lite/api/paddle_use_ops.h
$ ./lite/tools/build.sh --arm_os=armlinux --arm_abi=armv8 --arm_lang=gcc full_

[2019-09-02 07:50] LilyCaiZL commented on #1941
谢谢大哥，弄出来了

[2019-09-02 10:55] chenxiaoyu3 opened #1946 "optimize mobilenetssd , yolov3模型时出core"
最新develop分支代码

模型来自fluid官网 model_zoo: https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/yolov3

这里也有一份Model+params 链接: https://pan.baidu.com/s/1DwV4DS8LQx2nJe8CzpvO9A 提取码: rsnm

用model_optimize_tool试过了mobilenetv1模型没有问题，所以tool的编译是OK的。

yolov3失败：
[F  9/ 3 15:47:38.750 ...lite/core/program.cc Build:141] Check failed: op: no Op found for slice

补充MobileNetV1+SSD 也是失败

打开日志后报错是
[code]

[2019-09-02 11:54] wanghaoshuang commented on #1946
@heavengate  看一下？

[2019-09-02 12:38] DannyIsFunny commented on #1854
![f919949f15e84108f747aa5ab](https://user-images.githubusercontent.com/45189361/64115222-a9a42580-cdc1-11e9-9935-c607689c631c.jpeg)
![738b2968c60bc890e95b73b24](https://user-images.githubusercontent.com/45189361/64115231-aad55280-cdc1-11e9-9bae-63fcf2c3d3da.png)
![f919949f15e84108f747aa5ab](https://user-images.githubusercontent.com/45189361/64117959-1969de80-cdc9-11e9-84f7-e1c2849a004c.jpeg)

[2019-09-02 13:54] DannyIsFunny commented on #1854
![738b2968c60bc890e95b73b24](https://user-images.githubusercontent.com/45189361/64117844-cb54db00-cdc8-11e9-8c08-24bbe594608e.jpeg)
![f919949f15e84108f747aa5ab](https://user-images.githubusercontent.com/45189361/64117852-d1e35280-cdc8-11e9-82dc-49f54087ca9b.jpeg)

[2019-09-02 14:17] StarryRain opened #1948 "add opencl depthwise_conv_trans_op"

[2019-09-03 03:18] #1948 closed, assigned to nobody

[2019-09-03 03:29] litonghui opened #1953 "libpaddle_api_full_bundled.a 编译问题"
集成paddle lite 静态库编译问题
编译环境：ndk 17
[code]

[code]

[2019-09-03 03:46] xiaolvtaomi commented on #1927
“我们会尽快添加这个op，添加完成后通知您。” -》建议wget的编译好的model_optimize_tool也更新下，因为本地按照您提供的ps建议编译也失败了，用的今天刚更新的代码
commit ae6c17048753edbe0c8bf84cf80557694fded637
Author: Yuan Shuai <ysh329@users.noreply.github.com>
Date:   Mon Sep 2 18:43:26 2019 +0800

[2019-09-03 04:01] hong19860320 commented on #1953
paddle lite 静态库的编译脚本是这样的吗？
`./lite/tools/build.sh --arm_os=android --arm_abi=armv8 --arm_lang=gcc --android_stl=c++_static tiny_publish`
如果是这样的，可能是Android STL不一致导致的，原因请参考 https://stackoverflow.com/questions/49183886/error-undefined-reference-to-std-ndk1localelocale ，你可以尝试以下两种方法解决上面的问题：
方法1. 将集成库CMAKE脚本的-DANDROID_STL=gnustl_shared修改为-DANDROID_STL=c++_static
方法2. 将paddle lite编译脚本中的--android_stl=c++_

[2019-09-03 07:28] zhizunbao-y opened #1960 "模型优化失败model_optimize_tool"
模型为Model zoo下的MobileNet模型，非combined型，华为荣耀V9优化出错
134|HWDUK:/data/local/tmp $ ./model_optimize_tool --model_dir= ./MobileNetV1_pretrained/  --optimize_out_type= naive_buffer --optimize_out=./MobileNetV1_pretrained/ --prefer_int8_kernel=false
terminating with uncaught exception of type std::length_error: basic_string
Aborted

[2019-09-03 08:09] cyj1986 commented on #1946
这个问题是slice op 被放到了extra 里没有编译，另外该OP还有计算问题，目前在修复中，

[2019-09-03 08:31] chenxiaoyu3 commented on #1946
@cyj1986 optimize mobilnetssd时报错
No kernels found for multiclass_nms 也是在修复中吗？

[2019-09-04 02:24] xiaolvtaomi commented on #1790
@smilejames 有进展么？我卡在用model_optimize_tool模型优化上了，如果优化过了也要运行在android设备上，一步一个坑。

[2019-09-04 03:25] Superjomn commented on #1960
这个是哪个版本呢？

另外模型下目录结构的截图可以给下。

建议用最新 beta1 的试一试

[2019-09-04 03:26] smilejames commented on #1926
You can use Paddle-Lite/mobile/tools/python/modeltools/tools/model_combine.py to convert

[2019-09-04 04:00] AIpioneer commented on #1905
https://github.com/PaddlePaddle/Paddle-Lite/wiki/architecture-intro    you can find it here

[2019-09-04 07:42] zhizunbao-y commented on #1960
你好，是develop分支，有两个模型，分别是fluid.io.save_inference_model和fluid.io.save_persistables保存，目录分别如下:

![](https://github.com/zhizunbao-y/picture/blob/master/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20190904153325.png?raw=true)
-------
![](https://github.com/zhizunbao-y/picture/blob/master/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20190904153253.png?raw=true)

[2019-09-04 08:40] #1927 closed, assigned to xyoungli

[2019-09-04 08:59] willperkins commented on #1926
thanks that solved the problem for me!

[2019-09-04 08:59] #1926 closed, assigned to nobody

[2019-09-04 09:24] xiaolvtaomi opened #1966 "model_optimize_tool 优化报错 “Segmentation fault”"
model_optimize_tool 用的版本是 https://github.com/PaddlePaddle/Paddle-Lite/releases/download/v2.0.0-beta1/model_optimize_tool.armv8.tar

用的命令是
`
./model_optimize_tool --model_dir=./attention --optimize_out_type=naive_buffer --optimize_out=./attention_optimize --valid_targets=arm  --prefer_int8_kernel=false
`
命令中的attention目录是[这个地址](https://github.com/xiaolvtaomi/xiaolvtaomi.github.io/blob/master/attenti

[2019-09-04 09:29] xiaolvtaomi commented on #1966
![image](https://user-images.githubusercontent.com/2050654/64243182-800e0a00-cf39-11e9-9762-2c71941bb8f3.png)
attention的目录下面的内容

[2019-09-04 09:42] banbishan opened #1967 "编译完成后，到c++demo里，运行make报错"
使用环境：docker pull paddlepaddle/paddle-lite:2.0.0_beta
根据https://github.com/PaddlePaddle/Paddle-Lite/wiki/cpp_demo，使用
[code]
编译完成后，cd到
[code]
执行make，报错如下

[code]

[2019-09-04 10:38] DannyIsFunny commented on #1967
你好，代码下载后需要**切换到当前发布版本的branch，现在的版本是v2.0.0**。编译步骤如下：
[code]
**可能出现的问题**：
您可能直接拉取的是develop分支（处于开发状态的分支），可以使用git branch命令查看当前分支
![image](https://user-images.githubusercontent.com/45189361/64248163-0b3fcd80-cf43-11e9-85b4-6cfa01190c47.png)
如果不是`release/v2.0.0-beta1`请切换到分支`release/v2.0.0-beta1`重新编译（我们已经在[源码编译指南](https://github.com/PaddlePaddle/Paddle-Lite/wiki/source_compile)中对这一部分补充了说明 ）
[code]

[2019-09-04 10:59] banbishan commented on #1967
感谢，我确实在开发分支上

[2019-09-04 10:59] #1967 closed, assigned to DannyIsFunny

[2019-09-05 01:23] jon-soc opened #1970 "model_optimize_tool compiled failed"
1、based on the latest code
2、git checkout develop
3、./lite/tools/build.sh --arm_os=android --arm_abi=armv8 --arm_lang=gcc --android_stl=c++_static full_publish

the failed message：
[100%] Built target bundle_full_api
CMakeFiles/model_optimize_tool.dir/model_optimize_tool.cc.o: In function `_GLOBAL__sub_I_shuffle_channelkARMkFloatkNCHWdef':
model_optimize_tool.cc:(.text.startup+0x2a0): undefined re

[2019-09-05 03:17] banbishan opened #1971 "terminating with uncaught exception of type std::length_error: basic_string"
安卓9手机运行编译好的c++可执行文件，optimize_out文件夹里为用tools优化过的__model__.nb和param.nb文件
./model --model_dir="optimize_out" --optimized_model_dir="op"
报错如下
[code]
程序如下：
[code]

[2019-09-05 04:14] banbishan commented on #1971
附件是预训练模型文件
[infer.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/3577431/infer.zip)

[2019-09-05 04:48] Superjomn commented on #1946
https://github.com/PaddlePaddle/Paddle-Lite/releases/tag/v2.0.0-beta1

用里面最新的 model_optimize_tool 试下

[2019-09-05 05:20] DannyIsFunny commented on #1966
您好，我们已经优化了新的model_optimize_tool，并更新到原先的下载地址，用你提供的model文件测试了模型优化也可以成功实现优化，请重新下载测试

[2019-09-05 06:09] chenxiaoyu3 commented on #1946
这个tag无法编译
![image](https://user-images.githubusercontent.com/858534/64316229-d08f7100-cfe6-11e9-91cf-dd0b2d0ee99c.png)

使用今天最新的develop分支，还是报错
MobileNetV1SSD: No kernels found for multiclass_nms
Yolov3: Check failed: op: no Op found for slice

@Superjomn

[2019-09-05 06:56] #1966 closed, assigned to DannyIsFunny

[2019-09-05 12:31] DannyIsFunny commented on #1971
您好，我们已经定位了问题来源，正在修改

[2019-09-05 13:30] DannyIsFunny commented on #1971
您好，我们找出了两处问题和修改的方法，修改之后用您提供的模型和代码就可以正常运行了：
1. predictor的输入size需要与模型中的输入定义对齐（可以使用netron软件查看当前模型的输入结构）
模型输入定义：
![image](https://user-images.githubusercontent.com/45189361/64346205-48c85780-d024-11e9-9a06-61679635131a.png)

代码中的输入的size需要与模型定义中对齐：
![image](https://user-images.githubusercontent.com/45189361/64346042-00a93500-d024-11e9-9cf4-4191e6e15599.png)

2. 当前我们的SaveOptimizedModel方法对 OCR model有一些需要

[2019-09-06 02:12] banbishan commented on #1971
感谢！！！

[2019-09-06 02:12] #1971 closed, assigned to nobody

[2019-09-06 06:03] DannyIsFunny commented on #1946
你好，develop是我们正在开发的分支，需要切换到release分支
`git checkout release/2.0.0-beta1`
之后就可以成功编译了

[2019-09-07 15:49] zhizunbao-y opened #1982 "android端使用tiny publish预测库，调用失败"
华为荣耀V9预测库替换为tiny publish 调用预测API报错：
` MobileConfig config = new MobileConfig();
  config.setModelDir(realPath);
  config.setPowerMode(PowerMode.LITE_POWER_FULL);
  config.setThreads(1);
  paddlePredictors.add(PaddlePredictor.createPaddlePredictor(config));`
错误如下：
E/AndroidRuntime: FATAL EXCEPTION: Image Classification Worker
    Process: com.baidu.paddle.lite.demo, PID: 7251
    java.lang.Unsatisf

[2019-09-07 15:50] #1960 closed, assigned to Superjomn

[2019-09-08 03:03] hong19860320 commented on #1982
看起来像是你编译出的libpaddle_lite_jni.so有问题，找不到函数符号，建议先使用https://github.com/PaddlePaddle/Paddle-Lite/releases 预编译的库进行替换。

1. jniLibs目录下建议只保留arm64-v8a, armeabi-v7a这两个目录；
2. 把编译生成的armv8和armv7的libpaddle_lite_jni.so分别替换PaddleLite-android-demo/app/src/main/jniLibs/arm64-v8a/、PaddleLite-android-demo/app/src/main/jniLibs/armeabi-v7a/这两个目录下的libpaddle_lite_jni.so；
3. 把编译生成的PaddlePredictor.jar替换PaddleLite-android-de

[2019-09-08 03:09] zhizunbao-y commented on #1982
谢谢，我就是按照这个步骤做的 ，然而develop分支会报上述错误，切换到v2.0.0-beta1分支后，调用正常

[2019-09-08 12:07] #1810 closed, assigned to nobody

[2019-09-09 00:18] #1970 closed, assigned to nobody

[2019-09-09 00:19] jon-soc commented on #1970
na

[2019-09-09 11:03] StarryRain opened #1993 "Optimal OPENCL conv_3x3 Performance"

[2019-09-10 02:32] #1993 closed, assigned to nobody

[2019-09-10 04:18] xiaolvtaomi opened #2004 "ocr的c++示例执行失败"
参照[c++文档](https://github.com/PaddlePaddle/Paddle-Lite/wiki/cpp_demo)中的ocr的模块，执行最后一步运行方法时报错，如下
[code]
用到的相关文件：
1，[ocr的预测模型](https://github.com/xiaolvtaomi/xiaolvtaomi.github.io/blob/master/attention.zip)，下载链接是attention，本地命名ocr成了文件夹
2，编译出来的可执行文件[ocr_full_api](https://github.com/xiaolvtaomi/xiaolvtaomi.github.io/blob/master/ocr_full_api)
3，编译用的[cc文件](https://github.com/xiaolvtaomi/xiaolvtaomi.github.

[2019-09-10 05:36] DannyIsFunny commented on #2004
您好，我们对照你提供的model发现代码中 input(1)的shape输入与模型中定义的不匹配
![image](https://user-images.githubusercontent.com/45189361/64586543-2beaa600-d3cf-11e9-9f92-fa51f6b77d8b.png)
![image](https://user-images.githubusercontent.com/45189361/64586720-c64ae980-d3cf-11e9-9010-9f8dc3fef0e7.png)

我们将您提供代码的输入对齐
[code]
再编译运行，就可以正常运行输出结果了（运行结果如下）：
![image](https://user-images.githubusercontent.com/45189361/64586675-a74c5780-d

[2019-09-10 07:12] xiaolvtaomi commented on #2004
除了 @DannyIsFunny 指出的问题外，需要注意build.sh的时候是否添加了 --build_extra=True.
感谢

[2019-09-10 07:12] #2004 closed, assigned to nobody

[2019-09-10 14:15] xiaolvtaomi opened #2011 "PaddlePredictor的android项目测试ocr时崩溃"
使用的PaddlePredictor的代码是在PaddleLite的2.0.0分支下生成的。
使用到的文件：
1，预测网络是[ocr_optimize](https://github.com/xiaolvtaomi/xiaolvtaomi.github.io/blob/master/ocr_optimize.zip)，另外PaddlePredictor.jar和 libpaddle_lite_jni.so 来自Paddle-lite-demo里。
2，[MainActivity](https://github.com/xiaolvtaomi/xiaolvtaomi.github.io/blob/master/MainActivity.java)去掉了不用的代码，主要修改了输入和输入大小，如下
[code]

崩溃日志如下
[code]

[2019-09-11 11:29] StarryRain opened #2014 "Optimal OPENCL conv_trans_3x3s2 Performance"

[2019-09-11 14:05] #2014 closed, assigned to nobody

[2019-09-12 05:39] meteorasd555 opened #2024 "paddlemobile，官方mobilenet的test，使用armv7在红米k20 pro 预测时候奔溃"
使用mobile中的最新版本，test程序在红米k20 pro上，库只用armv7，预测时奔溃，其他手机均无问题，只有此手机存在问题，附上跑官方demo截图
![image](https://user-images.githubusercontent.com/4214247/64756807-bca5bb00-d562-11e9-8295-675586ae704e.png)

[2019-09-12 06:13] imistyrain opened #2025 "mobile_light无法编译通过"
按照[cpp_demo](https://github.com/PaddlePaddle/Paddle-Lite/wiki/cpp_demo)的步骤编译好库后，在make cxx demo时出错
[code]

[2019-09-12 06:18] imistyrain opened #2026 "undefined reference to `paddle::lite_api::Tensor::Resize(std::vector<long, std::allocator<long> > const&)' clang++: error: linker command failed with exit code 1 (use -v to see invocation)"
由于现在还没有jni调用的demo，我自己写了个，但是在编译时报错
[code]

[2019-09-12 08:36] StarryRain opened #2030 "add opencl conv_trans_op"

[2019-09-12 12:09] #2030 closed, assigned to nobody

[2019-09-16 10:04] juncaipeng commented on #1854
![image](https://user-images.githubusercontent.com/52520497/64949619-26e49580-d8ac-11e9-855a-514feb9b75af.png)
![image](https://user-images.githubusercontent.com/52520497/64949642-395ecf00-d8ac-11e9-8b69-ced1996abc3b.png)

[2019-09-17 02:59] phoenares opened #2051 "在魅族7pro 上测试"
你好，
在魅族7pro上通过一键benchmark测试mobilenetv1，mobilenetv2,mobilenetv1_int8(来自https://paddle-inference-dist.bj.bcebos.com/int8%2Fpretrain%2Fmobilenet_v1_quant%2Ffloat.zip),只用了一个线程，cpu占用在50%左右，测试时间如下，请问这个结果是否正常，谢谢：

run benchmark armv7
PaddleLite Benchmark
Threads=1 Warmup=10 Repeats=100
-- mobilenet_v1          avg = 279.3595 ms
-- mobilenet_v1_quant_opt    avg = 156.4267 ms
-- mobilenet_v2          avg =

[2019-09-17 03:17] juncaipeng commented on #2051
你好，
看上面的测试结果有点奇怪。
首先，请尝试设置repeats为10或者30进行测试；
其次，请按照官方测试文档（https://github.com/PaddlePaddle/Paddle-Lite/wiki/benchmark_tools） ，通过一键benchmark在这款机器上测试，查验mobilenet_v1和mobilenet_v2模型的测试结果和上述结果是否一致，然后再自行测试mobilenet_v1_int8模型。

[2019-09-17 04:05] phoenares commented on #2051
好的，我在855的机器上又测试了一下，结果跟官方提供的差不多。请问除了一键benchmark里提供的模型还有其他的模型可以测试吗，还是需要从paddle转换过来

[2019-09-17 06:45] juncaipeng commented on #2051
好的。paddle格式的模型经过model_optimize_tool工具转换后，Lite是可以支持的。目前benchmark里面仅提供部分模型，其他模型可以从paddle [models](https://github.com/PaddlePaddle/models)中下载。

[2019-09-17 10:09] DannyIsFunny commented on #2025
您好，代码需要切换到publish分支，当前最新的publish分支为：releasev2.0.0-beta2，请用git branch命令查看当前分支是否在publish分支。
在当前稳定分支releasev2.0.0-beta2 .（git checkout releasev2.0.0-beta2）已经修复了您提到的问题，而且已经测试通过，可以编译。
请重新更新代码测试，谢谢

[2019-09-17 11:55] hong19860320 commented on #2026
你是基于最新代码编译的吗？建议暂时使用release/v2.0.0-beta1这个分支编译的libpaddle_api_light_bundled.a

[2019-09-18 03:31] imistyrain commented on #2025
好的，更新到最新分支后编译通过

[2019-09-18 03:31] #2025 closed, assigned to DannyIsFunny

[2019-09-19 00:31] zuoshaobo opened #2071 "华为麒麟980 android npu"
华为麒麟980 android npu使用例子有吗？

[2019-09-19 03:00] #1982 closed, assigned to hong19860320

[2019-09-20 03:02] hong19860320 commented on #2071
暂时只支持麒麟810和990上的华为自研的NPU，麒麟970,980的NPU以及小海思芯片都不支持呢。

[2019-09-20 06:32] imistyrain commented on #2026
默认编译的库使用了c++_shared STL, 需要在build里添加
[code]

[2019-09-20 06:32] #2026 closed, assigned to hong19860320

[2019-09-20 09:42] imistyrain opened #2093 "java.lang.UnsatisfiedLinkError: dlopen failed: library "***/libpaddle_lite_jni.so" not found"
系库生成时未设置soname所致，
[code]
无任何输出
需设置IMPORTED_NO_SONAME属性，在CMakeLists.txt里引用库的具体方法如下
[code]
参考
[The problem might be that the soname is not set](https://github.com/ARM-software/ComputeLibrary/issues/52#issuecomment-295167062)
[用 CMake 的一点经验](http://yunyuan.github.io/cmake/2016/05/11/cmake-3rd-party-libs)

[2019-09-21 02:04] kaishijeng opened #2100 "model for test/build/test-mobilenetssd"
I am able to build test/build/test-mobilenetssd successfully. However, when I run it, it complains model is not found:
 ../models/mobilenet+ssd_gesture/model open failed !

Where can I download mobilenet+ssd_gesture model?

Thanks,

[2019-09-22 05:07] zhizunbao-y opened #2117 "arm平台调用基于tiny_publish静态库的动态库，报找不到符号的错误"
平台 ：jetson nano + ubuntu16.04
Paddle-Lite ： release/v2.0.0-beta2 tiny_publish
目录结构
![](https://raw.githubusercontent.com/zhizunbao-y/picture/master/2019-09-22%2012-43-24%E5%B1%8F%E5%B9%95%E6%88%AA%E5%9B%BE.png)
其中include 和 lib为编译生成，src中包含两个文件engine.cpp和engine.h
engine.cpp:
[code]
engine.cpp：
[code]
CmakeList.txt：
[code]
编译成功
使用python ctypes模块调用时出现undefined symbol的错误，使用ldd -r libengin.so结果如下：
![](h

[2019-09-22 08:57] fengxueem opened #2118 "Feature Requests: Paddle2X & Manual Kernel Specification Tool."
Dear Paddle-Lite developers and Project Managers:
1. Given that Caffe is a widely-used framework in industry (NNIE only supports Caffe, ncnn supports Caffe at a very early stage, etc). I am humbly requesting a potential feature: Paddle2Caffe, maybe Paddle2X as a counterpart of X2Paddle.
2. Also it is good to have an automatic model optimization tool which analyzes backend properties and choose the

[2019-09-22 14:53] juncaipeng commented on #2100
Hi, the mobilenetv1_ssd inference model can be downloaded from https://paddle-inference-dist.bj.bcebos.com/ssd_mobilenet_v1_inference_nocombined.tar.

[2019-09-22 17:19] kaishijeng commented on #2100
@juncaipeng

The nocombined tar is not the one test-mobilenetssd needs.
test-mobilenetssd complains  'mobilenet+ssd_gesture/model' can not be found

Thanks

[2019-09-23 03:50] hong19860320 commented on #2117
`set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -std=c++11")`加下`-flto`试试哈，改成如下：
`set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -std=c++11 -flto")`

[2019-09-23 06:03] zhizunbao-y commented on #2117
加入-flto后，编译好的动态库变小了，但仍会报相同的错误

[2019-09-23 08:50] gfwm2013 commented on #2117
可以尝试以下方法：
1. 拉取最新的release/v2.0.0-beta2的Paddle-Lite代码（commit id：b76d82eff845d1ec850f3f359e428ff86ea2231b）
2. 将engine.h中`#include "paddle_use_passes.h" `删除
3. 将CMakeLists.txt中` set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -std=c++11")`加下`-fopenmp`,改成如下：`set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -std=c++11 -fopenmp")`
之后重新编译一下，看看是否可以解决

[2019-09-23 12:17] zhizunbao-y commented on #2117
仍报相同的错误

[2019-09-23 12:54] gfwm2013 commented on #2117
请加Paddle-Lite官方群：696965088，我们能更加充分的了解您的问题，也更方便沟通。

[2019-09-24 05:00] DannyIsFunny commented on #1838
![屏幕快照 2019-09-24 下午12 24 48](https://user-images.githubusercontent.com/45189361/65481346-8d2e7100-dec7-11e9-848b-b237a2f4a3ff.png)

[2019-09-24 05:26] AIpioneer commented on #2118
We really appreciate your kind advice and it will be seriously considered in our near future releases. Thanks again and looking forward to your continuous attention.

[2019-09-26 01:33] LilyCaiZL opened #2137 "arm64-v8编译安卓项目"
编译的时候./build.lite.android.armv8.gcc/inference_lite_lib.android.armv8/demo/java/android
没有demo这个路径，但是我的确用的是full_publish 了

[code]

的确用了这个命令的
分支已经切换到2.0.0rc了

[code]

[2019-09-26 02:15] sangoly commented on #2137
请将--arm_abi=arm64-v8a替换为--arm_abi=armv8后重新编译即可

[2019-09-26 08:35] xiaolvtaomi opened #2138 "ssd和经过优化后的模型跑在Paddle-Lite-Demo中崩溃"
SSD模型来源：[基于SSD的目标检测模型](https://aistudio.baidu.com/aistudio/projectdetail/122276)
SSD的模型：[ssd.zip](https://github.com/xiaolvtaomi/xiaolvtaomi.github.io/blob/master/ssd.zip)
SSD在[model_optimize_tool](https://github.com/PaddlePaddle/Paddle-Lite/releases/download/v2.0.0-rc/model_optimize_tool.gz)优化后的模型：[ssd_nb.zip](https://github.com/xiaolvtaomi/xiaolvtaomi.github.io/blob/master/ssd_nb.zip)
[code]
运行在

[2019-09-26 10:17] hong19860320 commented on #2138
1. 你用的是demo中自带的jni库，还是自己编译了一个替换掉了demo的jni库？建议先只替换https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-android-demo/app/src/main/assets/object_detection/models/ssd_mobilenet_v1_pascalvoc_for_cpu 目录下的__model__.nb和param.nb 试试；
2. 如果仍然存在问题，建议按照https://github.com/PaddlePaddle/Paddle-Lite-Demo 说明，用最新的PaddlePredictor.jar替换https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/Pad

[2019-09-26 11:36] ysh329 commented on #2138
感谢 @sangoly 同学 😆

目前optimize_tool工具已经支持在x86平台使用，编译该工具使用`./lite/tool/build.sh build_optimize_tool`个命令在x86平台下编译即可。

发布页有编译好的可以直接用：
https://github.com/PaddlePaddle/Paddle-Lite/releases/download/v2.0.0-rc/model_optimize_tool.gz

[2019-09-26 11:39] ysh329 commented on #2137
编译使用如下命令，注意替换`arm_abi`参数为`armv8`
[code]

[2019-09-26 11:41] killf opened #2140 "Check failed: op: no Op found for pow"
使用Caffe模型的时候报错。分析原因发现，Caffe中有一个Power层，使用X2Paddle转换后变成scale+pow两个op，然后再使用model_optimize_tool进行优化时报错，因为PaddleLite中没有pow这个op（？）。
事实上，我觉得这是因为PaddlePaddle中没有Power，而PaddleLite中有Power（没有pow）引起的。

日志：
[I  9/26 18:29:23. 49 ...roject2/lite-publish/lite/api/cxx_api.cc:96 Build] load from memory 0
[F  9/26 18:29:23. 72 ...oject2/lite-publish/lite/core/program.cc:141 Build] Check failed: op: no Op found for p

[2019-09-26 11:45] ysh329 commented on #2140
确实发现PaddleLite中没有pow这个op，只有power这个op

[2019-09-26 13:06] ForceDaryl commented on #2024
@meteorasd555 更新下代码再试试呢

[2019-09-27 03:07] chenxiaoyu3 opened #2142 "MobileConfig运行yolov3的optimized后的nb模型bad_alloc"
模型文件来自fluid官方：https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/PaddleDetection

整理了模型这里（里面包括了fluid模型和optimized后的nb模型）：
https://ecloud.baidu.com?t=9e23b487d0c05dd446888cadaf2c6838

测试版本 v2.0.0-rc
测试设备 RK3399（4g内存）, Linux ARM
编译参数 `bash lite/tools/build.sh --arm_abi=armv8 --arm_os=armlinux --arm_lang=gcc --build_extra=ON full_publish`

使用cxx config，可以看到在设备上被正确optimized，且识别出结果。
但先使用model_

[2019-09-27 03:11] chenxiaoyu3 opened #2143 "faster-rcnn第二次infer出错"
模型来自 fluid官方 https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/PaddleDetection

整理了一份在这里
https://ecloud.baidu.com?t=9e23b487d0c05dd403323b7627997e4d

测试版本 v2.0.0-rc
测试设备 RK3399（4g内存）, Linux ARM
编译参数 `bash lite/tools/build.sh --arm_abi=armv8 --arm_os=armlinux --arm_lang=gcc --build_extra=ON full_publish`

只Infer一次，结果正确。不退出，直接Infer第二次，则报错
![image](https://user-images.githubusercontent.com

[2019-09-27 06:22] #2117 closed, assigned to gfwm2013

[2019-09-27 13:45] LilyCaiZL opened #2146 "安卓目标识别模型"
环境：三星s9，编译环境 最新的
[code]
armv8编译完成之后，安装apk过程会报错，用arm64-v8a编译之后，因为和文档的目录不一样，我将arm64-v8a的jar包复制给armv8的，

```root@deepnex-suqianmin-1563705679:/home/lilycai/myPaddle/Paddle-Lite/build.lite.android.arm64-v8a.gcc/lite/api/android/jni# cp PaddlePredictor.jar /home/lilycai/myPaddle/Paddle-Lite/build.lite.android.armv8.gcc/inference_lite_lib.android.armv8/demo/java/android/PaddlePredictor/app/libs/```

然后再

[2019-09-27 13:46] LilyCaiZL commented on #2146
官网demo我是可以正常跑的，并且我把官网的apk卸载之后，依旧是上面那种情况。

[2019-09-29 09:54] xperzy opened #2149 "Check failed: op: no Op found for rsqrt"
Found an error to run the model_optimize_tool, to generate naive buffer, error details:

Check failed: op: no Op found for rsqrt
run.sh: line 5: 54756 Aborted                 ./model_optimize_tool --model_dir=./pd_model/inference_model --optimize_out_type=naive_buffer --optimize_out=pd_lite_model --prefer_int8_kernel=false

The rsqrt is with BN layer in pd_model (which is converted from TF model u

[2019-09-30 02:10] jialuounisoccom opened #2152 "请问,Paddle-Lite-develop\lite 和 Paddle-Lite-develop\mobile 是什么关系?"

[2019-09-30 02:15] #2152 closed, assigned to nobody

[2019-09-30 04:30] esun0087 opened #2153 "paddlelite模型打包之后， 使用手机载入出现崩溃"
先使用model_optimize_tool 生成模型。使用命令如下
./model_optimize_tool  --model_dir=best_model --optimize_out_type=naive_buffer --optimize_out=nave_opt_dir/ --prefer_int8_kernel=true --valid_targets=arm
在paddle-lite的release/v2.0.0-beta2，进行编译，生成full的linux版本.a. 使用命令如下
./lite/tools/build.sh  --arm_os=android --arm_abi=armv8 --arm_lang=gcc --android_stl=c++_static full_publish

编译产生的是linux的.a, 使用window的android stud

[2019-10-08 08:00] juncaipeng commented on #2149
At present, there is no rsqrt op in Lite. We will add rsqrt op as soon as possible and let you know.

[2019-10-09 02:30] esun0087 commented on #2153
使用mobielconfig就可以了

[2019-10-09 02:31] #2153 closed, assigned to gfwm2013

[2019-10-09 10:33] ysh329 opened #2163 "CMake3.15缺少OMP，编译报错Could NOT find OpenMP_CXX (missing: OpenMP_CXX_FLAGS OpenMP_CXX_LIB_NAMES)"
使用最新的release版本的CMake会报错

编译：
[code]

错误：
[code]

[2019-10-09 10:45] ysh329 commented on #2163
使用最新版CMake 3.15会提示缺OMP的库，改为使用cmake-3.10解决

https://github.com/Kitware/CMake/releases/download/v3.10.0/cmake-3.10.0-Linux-x86_64.tar.gz

[2019-10-09 10:45] #2163 closed, assigned to nobody

[2019-10-10 08:01] gzydsmz opened #2168 "how to make the framework print more logs"
I would like to see more log outputs about the framework, how to adjust the log output? thanks

[2019-10-11 12:31] esun0087 opened #2177 "使用mobile config读取nb格式模型预测出现崩溃"
在分支release/v2.0.0-rc下
使用nb格式的模型， mobileconfig载入模型， 预测崩溃
栈信息如下
_ZN6paddle4lite7kernels3arm10DirectConvILNS_8lite_api13PrecisionTypeE2ELS5_2EE13PrepareForRunEv+808)
_ZN6paddle4lite7kernels3arm11ConvComputeILNS_8lite_api13PrecisionTypeE2ELS5_2EE13PrepareForRunEv+1136)
_ZN6paddle4lite11Instruction3RunEv+332)
_ZN6paddle4lite14RuntimeProgram3RunEv+100)
_ZN8ModelRes7predictERNSt6__ndk16vectorIiNS0_9alloc

[2019-10-11 12:34] esun0087 commented on #2177
使用的是full_publish中的libpaddle_api_full_bundled.a

[2019-10-11 13:13] #2149 closed, assigned to juncaipeng

[2019-10-12 03:16] esun0087 commented on #2177
使用model_optimize_tool 优化模型的时候不要加prefer_int8_kernel = true

[2019-10-12 03:16] #2177 closed, assigned to nobody

[2019-10-12 07:31] juncaipeng commented on #2149
We've added rsqrt op to Lite.

[2019-10-12 09:21] mzchtx commented on #2138
使用 `PaddleDetection` 训练的 `MobileNet-SSD` 模型，跑 `Paddle-Lite-Demo` 遇到同样的问题，加了 debug 信息，看 load 模型成功了，但是 `paddlePredictor.run()` 崩溃了。jni 库已按上述的方式更新为 `v2.0.0-rc` 分支对应的版本，使用的 `build_optimize_tool` 也是这个分支 build 的。

[2019-10-12 09:34] mzchtx commented on #2168
同问

[2019-10-15 12:55] yyf1986 opened #2196 "model_optimize_tool转PyramidBox发布的模型出错"
环境：Ubuntu 18.04.3
下载的这个模型http://paddlemodels.bj.bcebos.com/PyramidBox_WiderFace.tar.gz

./model_optimize_tool --model_dir=PyramidBox_WiderFace --optimize_out_type=naive_buffer --optimize_out=PyramidBox_WiderFace222 --valid_targets=arm --prefer_int8_kernel=false
[I 10/15 20:31:46.884 ...5/github/Paddle-Lite/lite/api/cxx_api.cc:96 Build] load from memory 0
[F 10/15 20:31:47. 20 .../github/Paddle-Lit

[2019-10-16 04:26] Superjomn commented on #2196
查了下，depthwise_conv2d_transpose 这个op尚不支持

[2019-10-16 10:27] cyj1986 commented on #2168
在命令行后加 -v 4,   内部有VLOG的代码，设置 -v 4 可以增加log信息。

[2019-10-17 05:35] hong19860320 commented on #2138
麻烦把模型（未经过优化的）放到百度网盘分享出来，我们这边复现下。

[2019-10-17 08:13] StarryRain opened #2212 "fix “CL_INVALID_KERNEL_ARGS ” error"

[2019-10-17 10:12] #2212 closed, assigned to nobody

[2019-10-18 08:28] aixier opened #2220 "model_optimize_tool 工具出错"
执行指令：
./model_optimize_tool \
    --model_dir=freeze_model-1010xianyu \
    --optimize_out_type=naive_buffer \
    --optimize_out=smpmodel2full  \
    --valid_targets=arm \
    --prefer_int8_kernel=true
结果：
![image](https://user-images.githubusercontent.com/7700464/67078579-264d6080-f1c4-11e9-9a3c-837dc9a61005.png)
环境：ubuntu16.04  x86 虚拟机

[2019-10-18 08:43] aixier commented on #2220
链接：https://pan.baidu.com/s/1eUKotpSJLNdIKPpHUMnMLw&shfl=sharepset
提取码：spq9
复制这段内容后打开百度网盘手机App，操作更方便哦

[2019-10-21 01:49] esun0087 opened #2224 "model_optimize_tool 模型转换使用出错"
使用背景：
由于官网发布release版本的model_optimize_tool  在对padldle训练之后的模型使用之后， 会出现模型变大的问题， 后来在群里提问， 有人建议使用dev分支下的， 后来手动编译dev的model_optimize_tool， 模型转换成功

之后在使用Paddleslim对模型进行int8量化， 再次使用dev版本下的model_optimize_tool， 结果出现崩溃。
崩溃信息如下：
[W 10/21  9:45:33.393 ...dle-Lite/lite/api/model_optimize_tool.cc:55 Main] Load combined-param model. Option model_dir will be ignored
[I 10/21  9:45:33.393 ...dle_tool/Paddle-Lite/lit

[2019-10-21 03:13] esun0087 commented on #2224
使用最新的dev版本编译就可以了

[2019-10-21 03:13] #2224 closed, assigned to nobody

[2019-10-21 08:07] mmglove opened #2227 "使用流程中的【完整示例链接404】"
![image](https://user-images.githubusercontent.com/38800877/67187442-c7365880-f41c-11e9-97cd-c2bc405fc2b0.png)

[2019-10-21 08:09] mmglove commented on #2227
https://paddlepaddle.github.io/Paddle-Lite/v2.0.0-rc/cpp_demo/，该链接中的示例是非combine示例；最好再提供一个combine部署示例

[2019-10-22 05:57] coopot opened #2236 "yoloV3Tiny 树莓派3B上 Segmention fault"
[yolo-model_448tiny1021.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/3759273/yolo-model_448tiny1021.zip)
模型
[smp_448tiny1021-1.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/3753975/smp_448tiny1021-1.zip)
优化参数：
./model_optimize_tool     --model_dir=/home/frank/share/paddle/model_result/yolo-model_448tiny1021/freezemodel__448tiny1021     --optimize_out_type=naive_buffer     --opti

[2019-10-29 07:22] esun0087 opened #2274 "opencl版本非docker版本编译出问题。"
dev 分支下， commit id 为eed7a506cef5d2ba6a076a34e4f51d3b5f60cddd
使用https://paddlepaddle.github.io/Paddle-Lite/v2.0.0-rc/opencl/ 下编译非docker的paddlelite
cmake .. \
    -DLITE_WITH_OPENCL=ON \
    -DWITH_GPU=OFF \
    -DWITH_MKL=OFF \
    -DWITH_LITE=ON \
    -DLITE_WITH_CUDA=OFF \
    -DLITE_WITH_X86=OFF \
    -DLITE_WITH_ARM=ON \
    -DLITE_WITH_LIGHT_WEIGHT_FRAMEWORK=ON \
    -DWITH_TESTING=ON \
    -D

[2019-10-29 08:34] ysh329 commented on #2274
试试用下面的命令编译：

[code]

确保CMake版本为3.10.0，查看cmake版本:`cmake --version`

[2019-10-29 12:16] esun0087 commented on #2274
cmake为3.10.3会出问题么。 编译成功后链接jni出错了。 underfined rederence to stderr

[2019-10-30 01:33] esun0087 commented on #2274
编译成功后， 使用Paddle-Lite/build.lite.android.armv8.gcc.opencl/inference_lite_lib.android.armv8.opencl/cxx 目路下的include 和 lib， 在项目中链接时，出现错误，  undefined reference to `stdout'   undefined reference to `stderr'  ， 并且文档上没有说明 在代码中使用opencl版本的时候， 对应的lib和头文件应该是使用哪个。

[2019-10-30 08:37] ysh329 commented on #2274
[code]

[2019-10-30 08:37] #2274 closed, assigned to nobody

[2019-10-30 08:39] ysh329 commented on #2168
After entered `adb shell`,  type `export GLOG_v=9` and then execute your command.

[2019-10-30 08:39] #2168 closed, assigned to DannyIsFunny

[2019-10-30 08:41] ysh329 commented on #2227
C++ Demo | Paddle-Lite
https://paddlepaddle.github.io/Paddle-Lite/v2.0.0-rc/cpp_demo/

[2019-10-30 08:41] #2227 closed, assigned to nobody

[2019-10-30 08:43] #2051 closed, assigned to nobody

[2019-10-30 08:58] ysh329 opened #2296 "文档说明不准确，修改建议"
## 【模型转换方法】 用语误解

![image](https://user-images.githubusercontent.com/7320657/67843042-38b98980-fb36-11e9-8b17-e323f553597b.png)
这里建议改为【模型优化工具的使用】，【模型转换方法】误以为是其它框架转换到本lite

## 【两个链接一样，两个一样的章节？】
![image](https://user-images.githubusercontent.com/7320657/67843217-8635f680-fb36-11e9-9c8b-5a9768a3fb21.png)

建议标题改为【Debug工具的使用】

[2019-10-30 13:06] aslily1234 opened #2302 "文档指南中有个demo链接失效了，麻烦修复一下，谢谢"
文档路径：
https://paddlepaddle.github.io/Paddle-Lite/v2.0.0-rc/tutorial/

四. Lite API
为了方便您的使用，我们提供了C++与Java两种API，并且提供了相应的api使用的[完整示例](https://paddlepaddle.github.io/Paddle-Lite/v2.0.0-rc/demos)，您可以参考示例中的说明快速了解C++/Java的API使用方法，并集成到您自己的项目中去。需要说明的是，为了减少第三方库的依赖、提高Lite预测框架的通用性，在移动端使用Lite API您需要准备Naive Buffer存储格式的模型，具体方法可参考第2节模型优化。

其中：完整示例 对应的链接 https://paddlepaddle.github.io/Paddle-Lite/v2.0.0-rc/demos 失

[2019-10-31 07:25] DannyIsFunny commented on #2236
你好，选项中需要选择`--prefer_int8_kernel=false` ，针对量化训练出的模型才可以选择`--prefer_int8_kernel=True`。您使用的普通的yoloV3模型，非量化训练得到，所以转化时需要使用prefer_int8_kernel的默认值false.

[2019-10-31 07:26] DannyIsFunny commented on #2236
再者 yoloV3模型有两个输入，一个输入的shape是{1,3,608,608} s，第二个输入的shape是{1,2}。需要注意在cc文件中要做到输入对齐。

[2019-11-01 07:21] suitmyself opened #2337 "Metal 无法运行demo"
很多资源文件都不存在，怎么运行？

[2019-11-01 08:33] chenxiaoyu3 opened #2339 "RK3399 Linux 运行OpenCL 报错 Cannot find the clCreateCommandQueueWithProperties symbol"
分支 release/2.0.0

测试硬件：RK3399 Linux

编译命令：
[code]

运行报错：
![image](https://user-images.githubusercontent.com/858534/68012493-2b7ed500-fcc5-11e9-9453-c4ed037c113c.png)

用string看有clCreateCommandQueueWithProperties
![df1a5828c91cb401281c3917bcf800ef](https://user-images.githubusercontent.com/858534/68012450-08ecbc00-fcc5-11e9-9cfb-db78794b596c.png)

[2019-11-01 12:28] AIpioneer opened #2342 "run"

[2019-11-01 12:28] #2342 closed, assigned to nobody

[2019-11-01 12:31] AIpioneer opened #2343 "run paddle lite android demo时，报错"
在Android studio中报错信息如下：
错误: 无法访问Tensor
错误的类文件: /Users/zhangfeifei02/PL/PaddleLite-android-demo/app/libs/PaddlePredictor.jar(com/baidu/paddle/lite/Tensor.class)
类文件具有错误的版本 57.0, 应为 52.0
请删除该文件或确保该文件位于正确的类路径子目录中。

经过百度，发现原因是低版本jre运行了高版本编译的class文件

那么我现在用的是高版本的jre编译的，而demo里是低版本的，请问demo里的版本是多少，能否在文档中写一下，或者是不是应该把demo的版本提高一下？

[2019-11-04 12:39] qnqinan opened #2369 "update FPGA v2 kernel file include proposal sigmoid and anchor generator, test=develop"

[2019-11-05 11:14] #2369 closed, assigned to nobody

[2019-11-12 01:58] xuguozhi commented on #1593
所以推荐还是用Android系统在RK3399上面吗？

[2019-11-14 12:56] AIpioneer commented on #2302
https://paddlepaddle.github.io/Paddle-Lite/v2.0.0/tutorial/ 您好，现在已经修复，请查看

[2019-11-14 13:32] AIpioneer commented on #2339
您好！回复目前暂时不支持，后续会支持

[2019-11-15 02:19] #2302 closed, assigned to nobody

[2019-11-15 02:20] #2339 closed, assigned to ysh329

[2019-11-15 02:20] #2296 closed, assigned to DannyIsFunny

[2019-11-15 06:43] chenjiaoAngel commented on #2343
编译paddle-lite 源码的时候使用了mac，然后mac上安装的是open-jdk，导致版本不一致。理论应该是用oracle jdk的，这样两者版本会一致。后续，我会在编译文档里面说明，要求安装oracle JDK

[2019-11-15 09:56] qnqinan opened #2432 "update FPGA v2 pe cpp file and ew kernel files, test=develop"

[2019-11-15 14:28] zhizunbao-y opened #2435 "树莓派4b上编译问题"
在树莓派4b上，按照https://paddlepaddle.github.io/Paddle-Lite/v2.0.0/source_compile/上的步骤编译tiny_publish，编译好的动态链接库只有1.7M，不知道那里出了问题，请百度的工程师解惑

[2019-11-17 07:53] #2432 closed, assigned to nobody

[2019-11-17 08:55] qnqinan opened #2438 "fix a bug of sigmoid kernel in FPGA v2 track, test=develop"

[2019-11-18 10:19] StarryRain opened #2446 "fix height = 1 error in superresolution model"

[2019-11-20 02:45] #2011 closed, assigned to DannyIsFunny

[2019-11-20 02:46] #2093 closed, assigned to Superjomn, DannyIsFunny

[2019-11-20 02:46] DannyIsFunny commented on #2142
你好，现在最新的代码已经解决了这个问题

[2019-11-20 02:46] #2142 closed, assigned to DannyIsFunny

[2019-11-20 07:44] A1exy opened #2462 "Jetson Xavier上基于CUDA的模型预测不支持MobileNet v2和v3"
Jetson Xavier上基于CUDA的模型预测，对分类网络MobileNet v2和MobileNet  v3进行预测，均报错。

![image](https://user-images.githubusercontent.com/7035538/69218852-8876f800-0bac-11ea-80db-0524af27a50e.png)

[2019-11-20 07:44] A1exy commented on #2462
编译库和使用库参考：/Paddle-Lite/pull/2286

[2019-11-22 07:53] liu36259069 commented on #2138
我也碰到类似的问题，使用的是PaddleDetection1.6版本Paddle-Lite v2.0.0版本未经优化的模型网盘  https://pan.baidu.com/s/1sv-EdhirlO3wnuGAfY7RTA提取码:7fn1；模型裁剪量化后在ai studio是能运行的，但是手机报错 A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0x0 in tid 12729 (Predictor Worke)

[2019-11-26 07:14] qnqinan opened #2501 "fix bugs of concat, reshape and slice op and add usleep in fpga regpoll, test=develop"

[2019-11-26 13:45] DannyIsFunny commented on #1843
<img width="665" alt="屏幕快照 2019-11-26 下午9 52 15" src="https://user-images.githubusercontent.com/45189361/69639193-12383100-1097-11ea-9063-21f030414080.png">

<img width="880" alt="屏幕快照 2019-11-26 下午9 48 02" src="https://user-images.githubusercontent.com/45189361/69638836-74446680-1096-11ea-9cdc-a961fa995dfe.png">

<img width="1253" alt="屏幕快照 2019-11-26 下午9 37 28" src="https://user-images.githubuse

[2019-11-27 06:37] #2501 closed, assigned to nobody

[2019-11-27 10:55] ZhuXinyan opened #2513 "naive模型无法正常运行"
**问题情况：
在手机上部署由pb模型转化的mobilenet_v1 naive模型时，predictor 执行run的时候会奔溃，但是run demo中提供的mobilenet_v1正常输出。**
主要进行了以下操作
**1.x2paddle转化pb模型**
 x2paddle --framework tensorflow --model mobilenet_v1_1.0_224.pb --save_dir ./mobilenet_v1
生成的模型可以正常在paddlepaddle执行inference
**2.model_optimize_tool模型优化**
./model_optimize_tool --model_dir ./model/mobilenet_v1 --optimize_out_type=naive_buffer  --optimize_out ./v1_arm -

[2019-11-28 04:39] yiicy commented on #2513
hello，模型转换是没有问题的，链接中提供的tensorflow模型有几个conv层的参数存在padding_algorithm=SAME，release v2.0.0中我们还没有对padding_algorithm支持的很好，目前最新的develop分支已经加入padding_algorithm的支持，您可以使用最新的develop分支进行测试（我在本地测试最新的develop分支跑这个模型是没有问题的），同时最近我们要发布一个新的release分支release v2.1.0会对padding_algorithm涉及到的模型进行详细的测试，您也可以等待我们release v2.1.0的发布

[2019-11-28 09:01] ghimiredhikura opened #2523 "Documentation link is broken?"
Hi,

I can't open any documentation link for paddle-lite. is it broken?
For example this link does not work. Please check

https://paddlepaddle.github.io/Paddle-Lite/

Thanks.

[2019-11-28 14:08] ZhuXinyan commented on #2523
I can open this link ,but it's written in Chinese

[2019-11-30 11:02] brunolinux opened #2539 "add support for self-defined compiler path"
I found that the cmake will set the compiler in the file "<root dir>/cmake/cross_compiling/armlinux.cmake".
Have you consider to expose a variable to set the path to a personal compiler ?
Thanks.

[2019-12-01 12:43] ghimiredhikura commented on #2523
I can open now. Thanks.

[2019-12-01 12:43] #2523 closed, assigned to nobody

[2019-12-01 12:57] ghimiredhikura opened #2540 "X2Paddle model conversion from caffe --> __model__.nb param.nb"
Hi,

1. I am using https://github.com/PaddlePaddle/X2Paddle for converting caffe models with this command:

`x2paddle --framework=caffe --prototxt=deploy.prototxt --weight=deploy.caffemodel --save_dir=pd_model`

2. Now in order to get `__model__.nb  param.nb files`, I used `model_optimize_tool`
 from https://paddlepaddle.github.io/Paddle-Lite/v2.0.0/model_optimize_tool/. I was expecting `__model__

[2019-12-02 02:35] #2513 closed, assigned to nobody

[2019-12-02 03:04] A1exy commented on #2462
转paddle了

[2019-12-02 03:04] #2462 closed, assigned to nobody

[2019-12-03 01:12] ysh329 commented on #2513
![image](https://user-images.githubusercontent.com/7320657/70007885-fd82fe00-15ac-11ea-9c4a-93794a699884.png)

目前opencl的conv，不支持4方向pad

[code]

[2019-12-03 08:30] MARMOTatZJU commented on #2071
@hong19860320  您好，借楼问一下是是否有kirin990-5g的android的demo？

[2019-12-03 17:54] MARMOTatZJU opened #2555 "model_optimize_tool report "segment fault""
I use Paddle-Lite==2.1.0
I use the code as follows:
[code]
And I have already verified that the model can run on PaddlePaddle (PC side).

However, when I try to convert the model into .nb format, I encounter _segment fault_ .
[code]
I have tried the released binary tool and the tool compiled on my PC.  and neither of them works for me. I wonder how I can solve it.

Thanks in advance.

[2019-12-03 18:14] MARMOTatZJU opened #2556 "no type registered for kernel [gather]"
I am trying to transfer my regular paddle model to .nb format with model_optimize_tool==2.0.0 and the command is as follows.
[code]
My paddle model can run and the output is correct. However, the optimization of one part of my paddle model fails while other two parts succeed.
[code]
I do not understand this error log.

[2019-12-04 01:47] MARMOTatZJU commented on #2555
[UPDATE]
I transfer to the release model_optimize_tool==2.0.0 and this error disappears. I suppose that it could be due to the compilation problem of the version 2.1.0.

[2019-12-04 02:02] MARMOTatZJU commented on #2071
@hong19860320 您好，还想请问一下我在Paddle-Lite-Demo中看到npu和cpu用的模型是不一样的，请问有什么区别？以及如何转换得到npu可以使用的模型？提前谢谢！

[2019-12-04 02:12] MARMOTatZJU commented on #2556
[UPDATE]
This error is due to the following line of code:
[code]
Thus, I hard code the batch dimension size and the error disappears.
[code]

[2019-12-04 02:18] MARMOTatZJU opened #2557 "How to get optimized model for running on NPU"
From the demo [Paddle-Lite-Demo](https://github.com/PaddlePaddle/Paddle-Lite-Demo/) , I found that [mobilenet_v1_for_cpu](https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-android-demo/app/src/main/assets/image_classification/models/mobilenet_v1_for_cpu) and [mobilenet_v1_for_npu](https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-android-demo/app/src/mai

[2019-12-04 04:08] jiweibo commented on #2555
Please set export GLOG_v = 4, view and feedback more running information, hope to provide models and parameter files, we will follow up this issue later

[2019-12-04 04:16] jiweibo commented on #2556
The gather op under lite is not completely aligned with the paddle fluid. The index input is missing  in v2.0.0 and has been supported in v2.1.0.

[2019-12-04 05:18] MARMOTatZJU commented on #2555
@jiweibo Here you are.
[code]

[2019-12-04 05:20] MARMOTatZJU commented on #2555
@jiweibo  However would you mind give me a quick answer (not necessary to be thorough) to [this issue](https://github.com/PaddlePaddle/Paddle-Lite/issues/2557)? Thanks in advance. It is urgent to me.

[2019-12-04 05:20] jiweibo commented on #2555
Can you provide model and params file, we hope to reproduce and solve this problem

[2019-12-04 05:24] MARMOTatZJU commented on #2555
@jiweibo
Here is the model: 链接: https://pan.baidu.com/s/1MXmYPvfv1_VhDFsJYNc7RA 提取码: ahrz
And here is the script:
[code]

[2019-12-05 04:22] ghimiredhikura opened #2562 "Segmentation fault"
Hi,

All the steps (caffe->paddle via X2Paddle->model_optimize_too) are okay, but finally testing with paddle-lite object detection demo it gives segmentation fault.  Please help. Here I attached original caffe-model and converted files.

I used this script to convert caffe to paddle-lite .
[code]

And used following script for testing object detection
[https://github.com/PaddlePaddle/Paddle-Lite-

[2019-12-05 10:28] ghimiredhikura opened #2565 "googlenet and alexnet does not work in paddle-lite!"
Hi,

I want to test the timing of googlenet and alexnet from caffe, but after converting to paddle-lite and testing, it fails to execute. These are very basic architecture, i believe they should run in paddle-lite. Any help will be greatly appreciated.

1. alexnet: [https://github.com/BVLC/caffe/tree/master/models/bvlc_alexnet](https://github.com/BVLC/caffe/tree/master/models/bvlc_alexnet)
2. goog

[2019-12-05 13:22] jiweibo commented on #2556
Resolved, close this issue.

Please pay attention to https://github.com/PaddlePaddle/Paddle-Lite/issues/2555 for this model conversion issue

[2019-12-05 13:22] #2556 closed, assigned to nobody

[2019-12-05 13:24] jiweibo commented on #2555
Already reproduced and resolved, Pr https://github.com/PaddlePaddle/Paddle-Lite/pull/2566

After merging, provide the commit id that supports your model

[2019-12-05 13:40] luoduo21 opened #2567 "使用model_optimize_tool处理mobilenetv3出错"
./model_optimize_tool --model_dir=./post_model/inference_model --optimize_out_type=naive_buffer --optimize_out=./ --valid_targets=arm --prefer_int8_kernel=false
[I 12/ 5 21:35:39.895 ...e_v2.0.0/Paddle-Lite/lite/api/cxx_api.cc:203 Build] load from memory 0
[F 12/ 5 21:35:39.917 ..._v2.0.0/Paddle-Lite/lite/core/program.cc:140 Build] Check failed: op: no Op found for clip

使用inference_model模型测试过无问题,

[2019-12-06 00:06] MARMOTatZJU opened #2569 "Converted model is not able to run"
I have converted my model from PyTorch to regular Paddle model and it run successfully and correctly under fluid engine.
Then I optimize my model with [model_optimize_tool](https://paddlepaddle.github.io/Paddle-Lite/v2.1.0/model_optimize_tool/). However, I fail to load my optimized model.
Here is the AndroidStudio Logcatg information.
[code]

[2019-12-06 00:07] MARMOTatZJU commented on #2565
@ghimiredhikura  [similar issue](https://github.com/PaddlePaddle/Paddle-Lite/issues/2569) encountered. Can you at least finish model loading?

[2019-12-06 00:21] MARMOTatZJU commented on #2562
@ghimiredhikura  [SImilar issue](https://github.com/PaddlePaddle/Paddle-Lite/issues/2569#issue-533668868) encountered at Android Java side.

[2019-12-06 00:56] MARMOTatZJU commented on #2569
More Logcat
[code]

[2019-12-06 01:19] MARMOTatZJU commented on #2555
@jiweibo  At my side, several issues are tangled together and I am not able to test your PR immediately, sorry for that. However, my question is whether your release v2.0.0 is stable enough or not? I am considering to recompile a stable version on my PC.

[2019-12-06 02:58] jiweibo commented on #2555
Pr has been merged. The commit id is e17295cc92932bf92462786ca9ec9b70ec939185.

You can pull the latest develop branch and recompile to run your model in arm devices.

The cast op (int64_t -> int32_t) used by your model is not supported by lite v2.0.0 and v2.1.0, We will support in subsequent releases. Please use the develop branch now.

[2019-12-06 03:00] ghimiredhikura commented on #2540
Solved this issue. I needed to set `--optimize_out_type=naive_buffer`.
[code]
Thanks. Closing.

[2019-12-06 03:01] #2540 closed, assigned to nobody

[2019-12-06 03:05] ghimiredhikura commented on #2565
@MARMOTatZJU, no I didn't trace at which point it is crashing. but i guess it comes from the same point as this one #2562, code: [https://github.com/PaddlePaddle/Paddle-Lite-Demo/blob/master/PaddleLite-armlinux-demo/object_detection_demo/object_detection_demo.cc#L252](https://github.com/PaddlePaddle/Paddle-Lite-Demo/blob/master/PaddleLite-armlinux-demo/object_detection_demo/object_detection_demo.c

[2019-12-06 05:45] #2555 closed, assigned to nobody

[2019-12-06 06:19] zzz1515151 opened #2571 "IOS build ERROR using v2.1.0 library"
Hi, I'm trying to build the official detection demo https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-ios-demo/ios-detection_demo on a. iPhone xs device. The original version works fine. But, when I replace the lib and head files with the latest released version https://github.com/PaddlePaddle/Paddle-Lite/releases/, there comes error
![截屏2019-12-06下午1 56 16](https://user-imag

[2019-12-06 06:33] AIpioneer commented on #2220
We are so sorry for missing this issue! The link you provided can not be seen now, and have you ever fix it? If you still have the problem, we invite you to contact us once more! Sorry again.

[2019-12-06 06:56] zhupengyang commented on #2569
Can you provide the model before optimize and more logs?

[2019-12-06 07:06] gfwm2013 commented on #2567
可以先尝试用Netron确认一下模型中是否有clip Op，因为目前Paddle-Lite尚不支持clip Op。

[2019-12-06 07:44] gfwm2013 commented on #2565
@ghimiredhikura  Can you provide more logs?

[2019-12-06 11:23] qnqinan opened #2574 "fix a bug in ewadd in FPGA v2, test=mobile"

[2019-12-07 02:20] MARMOTatZJU commented on #2569
@zhupengyang
The involved model is uploaded as follows:
链接：https://pan.baidu.com/s/1SsbuJGS3dADNxGLmfGcm9g
提取码：pjyj

About the log, the aforementioned part is all that is related. However, __SIGSEGV__ seems to be a error signal given by Linux/Android OS which means a "segment fault" in Windows. So I suppose that something may be wrong during linking or same other stages.

[2019-12-07 10:57] MARMOTatZJU commented on #2567
@gfwm2013 My model has clip op, but there is no issue occured during model optimization. My model is [here](https://github.com/PaddlePaddle/Paddle-Lite/issues/2569#issuecomment-562804681).
However, my app broke during runtime. I am not sure if it is related to the clip op.

[2019-12-08 13:53] yiicy commented on #2571
hello，there is a small asm error in lite/backends/arm/math/pooling.cc line 166 and 175，we will
fix this bug later and put ios demo and android demo to our release test，thank u

[2019-12-09 01:59] zhuyushi opened #2577 "PaddleLite是否支持RK3399中的GPU？"
您好，在PaddleLite的硬件支持列表中，看到在“64bit(ARMv7a, ARMv8a)”中的“Cortex-A72”中，是支持RK3399的，但是在RK3399芯片中不但有CPU，它内部还很有GPU，请问PaddleLite是只支持RK3399的GPU，还是既支持3399的CPU还支持它的GPU，谢谢。
还有就是对RK3399这样的芯片，模型转化之后，如何知道模型那些部分是在CPU上运行的，哪些部分是在其GPU上运行的，谢谢。

[2019-12-09 02:28] zhupengyang commented on #2569
It looks like the cast op contains an unsupported type conversion. The cast op now only support "int8->float32", "int32->float32", "uint8->float32". You may modify "lite/kernels/arm/cast_compute.cc" to support more types, or tell me what kind of type cast you need.

[2019-12-09 03:00] zzz1515151 commented on #2571
Thanks for your replay! Here comes another problem while using the ios detection demo. When I replace the MobileConfig class with CxxConfig, which is defined in paddle_api.h, I got a build error:
![截屏2019-12-09上午10 59 09](https://user-images.githubusercontent.com/17023909/70403805-f3607400-1a72-11ea-8978-70aa328cccee.png)

[2019-12-09 03:45] ZhuXinyan opened #2581 "paddlelite jni library does not support opencl"
while valid_targets is opencl, I can't run model optimized by model_optimize_tool  with libpaddle_lite_jni.so.

[2019-12-09 07:31] ghimiredhikura commented on #2565
Hi @gfwm2013

It just gives `Segmentation fault`. nothing else in log.

![image](https://user-images.githubusercontent.com/24696403/70415962-3df8e500-1aa1-11ea-9b16-2f0182433876.png)

[2019-12-09 08:26] zbzoujianfa opened #2585 "not yet support windows platform compile？"

[2019-12-09 11:51] xperzy opened #2586 "paddle lite MobileNet V3 加载报错"
请问paddle lite目前是否支持 MobileNet V3 ？
model optimize tool转换没有报错，但是在paddle lite上加载时返回空指针。

[2019-12-10 06:38] MARMOTatZJU commented on #2569
@zhupengyang Thank you for the reply which is important for my debugging process.
Besides, could you please tell me which is the unsupported casting type in my model? Thanks in advance.

[2019-12-10 06:40] DannyIsFunny commented on #2586
你好，目前paddle-lite为提供`MobileNet V3`,model_optimize_tool转换成功说明当前可以加载这个模型，在paddle-lite编译时需要选择  `build_extra=ON`

[2019-12-10 06:43] DannyIsFunny commented on #2585
Windows platform compile of paddle-lite is not supported yet , we can only compile it on Mac or linux environment.

[2019-12-10 07:02] zhupengyang commented on #2569
- Maybe float32 too float32 ?  (I don't know why your mdoel has a meaningless cast op.)
- Regular Paddle model can be opened by "Netron". You may get more info from the visual model.

[2019-12-11 04:31] #2236 closed, assigned to DannyIsFunny

[2019-12-11 04:32] DannyIsFunny commented on #2146
你好，我们最新的代码对Android部分的代码新增了很多修复，应该不会有这样的问题。请问还会有这个问题吗

[2019-12-12 04:25] MARMOTatZJU commented on #2569
@zhupengyang with Netron, I localized a Op with dtype from 5 to 5. I suppose that this should be the internal enum list of data type. Would you mind provide me a full list of internal enum of Paddle-Lite for further debugging? Thanks in advance.

[2019-12-12 06:56] zhupengyang commented on #2569
![image](https://user-images.githubusercontent.com/50474132/70689505-70981d00-1cef-11ea-80f8-4dc0570d151c.png)
In "lite/kernels/arm/cast_compute.cc"

[2019-12-12 09:58] hong19860320 commented on #2557
The next version of Model_optimize_tool will support NPU.

[2019-12-13 02:58] sckalman123 opened #2603 "PaddleLite 无法支持efficientB4"
前paddle-lite没有这个算子：uniform_random_batch_size_like

请尽快添加支持  多谢

[2019-12-13 08:53] yiicy commented on #2603
你好，可否将模型分享下

[2019-12-13 09:00] yiicy commented on #2571
hello, the library in ios detection demo is build with tiny_publish, so you can only use MobileConfig, if the library built by full_publish, you can use CxxConfig

[2019-12-15 14:21] MARMOTatZJU commented on #2569
@zhupengyang  Thanks a lot.
With your information, I have successfully localizer the debugs in the backbone part. However, as for the head network part, I do not understand the behavior of "reshape2" in the following figure:
![debug](https://user-images.githubusercontent.com/32362315/70863984-caffda80-1f88-11ea-8314-0c2bdb6bc3ea.jpg)
The description of __reshape2__ is as follows:
![debug2](https:/

[2019-12-15 15:08] MARMOTatZJU commented on #2569
[UPDATE]
@zhupengyang  I have tried to add our casting code to _cast_compute.cc_ on both release/2.0.0 and release/2.1.0. However, I still got SIGSEGV error signal. What's the test result at your side?

[2019-12-16 00:04] MARMOTatZJU commented on #2569
[UPDATE+1]
@zhupengyang Seems that the problem did not come from the op __reshape2__. I temporarily "tailed" my model and removed the __reshape2__. The resulting model did not have any reshape2 op neither cast op. However, my program crashed again during model loading process with SIGSEGV error.

[2019-12-16 01:53] zhupengyang commented on #2569
The second input is a Tensor of the target size. The target size can be provided by a constant vector or a mutable tensor at runtime.

[2019-12-16 02:08] zhupengyang commented on #2569
- Try "--shutdown_log=OFF" to get more logs when you compile with "build.sh".
- Try "export GLOG_v=log_level" to control log_level at runtime.

[2019-12-16 12:49] DannyIsFunny commented on #1843
![paddle-lite-architecture](https://user-images.githubusercontent.com/45189361/70908123-6ce4fd00-2045-11ea-97e1-ad08446c5c86.png)

[2019-12-16 13:45] gfwm2013 commented on #2565
@ghimiredhikura This phenomenon has reappeared and is in the process of positioning and solving problems

[2019-12-16 13:57] gfwm2013 commented on #2562
@ghimiredhikura It is recommended to use the model optimization tool of release/v2.1.0 for model transformation, because the header file and include of release/v2.1.0 used in Paddle-armlinux-demo repo.

[2019-12-18 09:54] zbzoujianfa opened #2623 "什么时候可以支持windows平台上的编译？"

[2019-12-20 03:19] FirSightShun opened #2635 "model_optimize_tool_mac无法转化shufflenetv2模型"
转化提示信息：
[I 12/20 11:18:31.501 .../mac_env/Paddle-Lite/lite/api/cxx_api.cc:211 Build] load from memory 0
zsh: segmentation fault  ./model_optimize_tool_mac --model_dir=shufflenetv2/

[2019-12-20 06:27] qnqinan opened #2636 "update some FPGA v2 files after rerun clang-format5.0, test=mobile"

[2019-12-23 05:45] MChinCY opened #2649 "arm-linux-gnueabihf-gcc交叉编译tiny_publish报错"
Ubuntu 16.04 64位 按照官方方法编译报错
./lite/tools/build.sh \
--arm_os=armlinux \
--arm_abi=armv7hf \
--arm_lang=gcc \
tiny_publish

报错信息如下：
[ 15%] Building CXX object lite/model_parser/naive_buffer/CMakeFiles/nb_op_desc.dir/op_desc.cc.o
[ 15%] Building CXX object lite/api/CMakeFiles/paddle_light_api_shared.dir/__/backends/arm/math/lrn.cc.o
/home/cy/work_cy/Paddle-Lite-develop/lite/backends/arm/math/layout.

[2019-12-23 07:28] qnqinan opened #2651 "update fetch kernel file in FPGA V2 track and test for refork. test=mobile"

[2019-12-24 03:50] chenjiaoAngel commented on #2651
可以具体描述下问题内容吗？

[2019-12-25 11:13] gfwm2013 commented on #2649
请问你使用的是那个分支的代码？develop？或是release/v2.1.0？亦或是其他的？

[2019-12-27 09:00] jjhhfb opened #2694 "电脑CPU不支持AVX指令集是否无法使用model_optimize_tool对PaddleSlim量化后的模型进行优化？"
电脑CPU不支持AVX指令集是否无法使用model_optimize_tool对PaddleSlim量化后的模型进行优化？
目标是用android平台进行推理预测

[2019-12-30 03:19] ysh329 commented on #2694
用x86平台的机器就可以跑优化模型，如有报错请发新issue

[2019-12-30 03:19] #2694 closed, assigned to ysh329

[2019-12-30 03:47] jjhhfb commented on #2694
是x86-64平台，我问的是我用PaddleSlim对model进行优化后，无法继续用model-optimize-tool继续优化的问题，原因是电脑CPU不支持AVX指令集。。。试过不可行

发自我的小米手机在 Yuan Shuai <notifications@github.com>，2019年12月30日 上午11:19写道：用x86平台的机器就可以跑优化模型

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[

{

"@context": "http://schema.org",

"@type": "EmailMessage",

"potentialAction": {

"@ty

[2020-01-03 08:04] hp-cuiwb opened #2718 "在给定的docker中执行./lite/tools/build_fpga.sh报错"
-- get FPGA kernels ;conv_compute_fpga;dropout_compute_fpga;elementwise_compute_fpga;fc_compute_fpga;multiclass_nms_compute_fpga;norm_compute_fpga;pooling_compute_fpga;prior_box_compute_fpga;scale_compute_fpga;io_copy_compute_fpga;calib_compute_fpga;layout_compute_fpga;feed_compute_fpga;fetch_compute_fpga
-- publish inference lib to /Paddle-Lite/build_fpga/inference_lite_lib.armlinux.armv8.fpga
--

[2020-01-03 12:41] DannyIsFunny commented on #1854
![opt_help](https://user-images.githubusercontent.com/45189361/71723871-34c52300-2e69-11ea-92cf-14b9b91b242f.png)
![opt_seperated_model](https://user-images.githubusercontent.com/45189361/71723878-3d1d5e00-2e69-11ea-936b-12e99943eb01.png)
![opt_combined_model](https://user-images.githubusercontent.com/45189361/71723895-4eff0100-2e69-11ea-82e8-c61a77a243e6.png)
![opt_resulted_model](https://user-im

[2020-01-03 13:07] DannyIsFunny commented on #1854
![opt_help](https://user-images.githubusercontent.com/45189361/71724924-08130a80-2e6d-11ea-8350-84d3981fdb7a.png)

[2020-01-04 06:25] hcj5206 opened #2724 "model_test 跑Unet模型出现concat op InferShape错误"
model path：[path](http://39.108.238.129/mymodel/__model__)
报错语句
[code]

[2020-01-04 06:26] hcj5206 commented on #2724
![](https://gitee.com//Code_Hcj_admin/Myimg/raw/master/img/20200104013329.png)

[2020-01-04 06:27] hcj5206 commented on #2724
![](https://gitee.com//Code_Hcj_admin/Myimg/raw/master/img/20200104142643.png)

[2020-01-04 06:30] hcj5206 commented on #2724
该模型是tf生成的，然后用x2paddle转化为__model__，在tf上可以跑通。测试环境为 paddle-lite andriod 845 ，执行语句为
`./test_model_bin --input_shape="1,3,256,256"  --warmup=5 --repeats=50 --threads=1  --model_dir=./inference_model`

[2020-01-04 07:29] jiweibo commented on #2724
请问下能提供模型和参数文件吗，只有模型文件跑不起来

[2020-01-04 07:57] hcj5206 commented on #2724
好的，已打包 [path](http://39.108.238.129/mymodel/inference_model.zip)

[2020-01-05 13:13] jiweibo commented on #2724
已定位问题，目前conv_transpose kernel没有支持output_size参数，导致输出shape为(1，1)，后续concat的时候报错，预计下周支持这个参数。

[2020-01-05 13:16] hcj5206 commented on #2724
好的，劳驾了 。 还有就是我测了一下  https://paddlepaddle.github.io/Paddle-Lite/v2.2.0/benchmark/ 提供的 shufflent_v2 也是有concat op ，也是跑不了的。供参考

[2020-01-06 13:47] chenw966 opened #2729 "树莓派3b+ 本机编译出错 --arm_abi=armv7hf not supported"

[2020-01-07 12:35] hong19860320 commented on #2729
你的编译命令是这个吗？
./lite/tools/build.sh \
--build_extra=OFF \
--arm_os=armlinux \
--arm_abi=armv7hf \
--arm_lang=gcc \
--build_extra=OFF \
tiny_publish

[2020-01-07 12:37] chenw966 commented on #2729
------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"hong19860320"<notifications@github.com&gt;;
发送时间:&nbsp;2020年1月7日(星期二) 晚上8:35
收件人:&nbsp;"PaddlePaddle/Paddle-Lite"<Paddle-Lite@noreply.github.com&gt;;
抄送:&nbsp;"--"<2908817088@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [PaddlePaddle/Paddle-Lite] 树莓派3b+ 本机编译出错 --arm_abi=armv7hf not supported  (#2729)

你的编译命令是这个吗？
 .

[2020-01-07 13:48] gfwm2013 commented on #2649
@MChinCY 我这边使用交叉编译的方式编译了release/v2.0.0，release/v2.1.0，release/v2.2.0分支，发现均可编译tiny_publish。为了能确认问题，所以想问一下，你能否提供详细的环境配置？

[2020-01-08 03:33] MChinCY commented on #2649
我这边问题解决了...因为我认为已经有了交叉编译器，就省了Install arm gcc toolchains这一步，然后就报了上述错误...执行了这一步骤，后面就编成功了

[2020-01-08 03:33] #2649 closed, assigned to nobody

[2020-01-08 11:55] mlbo opened #2739 "支持Intel Movidius神经棒二代吗"
树莓派使用Intel  Movidius神经棒二代，使用Paddle-Lite是否可以加速

[2020-01-10 05:07] jiweibo commented on #2724
测试了一下，跑shuffle_net没有问题呀。

conv_transpose的output_size pr合入后支持

[2020-01-10 09:40] #2724 closed, assigned to nobody

[2020-01-11 05:16] MARMOTatZJU opened #2752 "Could NOT find Java (missing: Java_JAVAH_EXECUTABLE)"
I use the release with following tag "v2.2.0“  and have configured Java with following commend (commend in Paddle's tutorial). The
[code]
_JAVA_HOME_ env variable exits.
[code]
However, build tool returns the following errors, seeming indicating that Java has not been correctly configured.
[code]
How can I correctly configure my Java environment? Thanks in advance.

[2020-01-11 05:55] MARMOTatZJU commented on #2752
[UPDATE]
According to the response from the exchange QQ group, I reinstalled java8 with following command and it worked:
[code]
However, the former Java installation command is from [this official doc](https://paddlepaddle.github.io/Paddle-Lite/) and thus seems to need a update.

[2020-01-13 07:25] zhengyandan opened #2760 "paddle在save_inference_model中，用fluid.layers.split失败"
paddle在save_inference_model中，用了fluid.layers.split生成的文件不包含split参数失败，反解确认过
1、输入是一个vector，但是一部分vector数据需要data norm，一部分不需要，所有用了split
2、用了1.6版本fluid的python包调用fluid.io.save_inference_model这个接口，产生的描述文件里面没有split参数
3、python版本确认是1.6，测试过，直接fluid.layers.split没有问题

[2020-01-13 07:34] juncaipeng commented on #2760
这个bug对应在PaddlePaddle中，请将issue提到https://github.com/PaddlePaddle/Paddle，方便对应提pr解决。
在PaddlePaddle的repo下，后续会有负责同学跟进。

[2020-01-13 10:12] cyj1986 commented on #2623
你好， 我们内部商量一下，排期定了后，及时反馈给你

[2020-01-13 10:14] cyj1986 commented on #2739
你好，目前Paddle-Lite 还不支持Intel  Movidius, 如果有支持排期了， 我们会尽快反馈

[2020-01-13 10:57] DannyIsFunny commented on #2635
你好，请问你的模型来源是哪里呢，一般模型不能加载原因是模型中的kernel不支持。最新的[model_optimize_tool_mac](https://paddlelite-data.bj.bcebos.com/model_optimize_tool%2Fmodel_optimize_tool_mac)加强了报错信息提示，如果不能支持会提示缺少哪一个kernel的实现。

[2020-01-13 11:53] DannyIsFunny commented on #2635
你好，我用最新的model_optimize_tool_mac测试Paddle的shufflenetV2预训练模型未出现该问题。
流程如下：
(1)获取Paddle models 预训练的shufflenetV2_model
![image](https://user-images.githubusercontent.com/45189361/72254044-ee787c80-363d-11ea-97aa-f7cf78271ff3.png)

下载预训练model后，用/models/PaddleCV/image_classification/infer.py[转化模型](https://github.com/PaddlePaddle/models/tree/develop/PaddleCV/image_classification#%E6%A8%A1%E5%9E%8B%E8%BD%AC

[2020-01-17 05:31] #2760 closed, assigned to nobody

[2020-01-17 11:36] onesnow123q opened #2785 "关于在小海思芯片上的运行"
目前利用交叉编译工具编译成功，感觉读入的model大小都正常，但是报错
[I 12/28  7:45:49.630 ...odel_parser/naive_buffer/naive_buffer.cc:53 LoadFromFile] file size 187410
[I 12/28  7:45:49.748 ...odel_parser/naive_buffer/naive_buffer.cc:53 LoadFromFile] file size 4947170
[F 12/28  7:45:50.124 .../paddle/Paddle-Lite/lite/core/program.cc:167 Build] Check failed: op: no Op found for feed
[F 12/28  7:45:50.124 .../paddle/Paddle-Lite/li

[2020-01-19 09:18] jiweibo commented on #2785
报错显示没找到feed，但是feed肯定是有的，可以提供下模型吗，我们本地测试下

[2020-01-19 10:06] onesnow123q commented on #2785
我使用的是x2paddle model zoo中的squeeze onnx版本，链接如下：
https://s3.amazonaws.com/download.onnx/models/opset_9/squeezenet.tar.gz
模型使用x2paddle与model_optimizer_tool转换过了，转换参数使用的是naive_buffer
编译工具使用的是arm-himix100-linux-gcc、arm-himix100-linux-g++
修改了一些编译参数：
将armlinux中armv7编译工具改为上面列出的编译工具
注释掉cross_compiling/preproject.cmake中的include(cross_compiling/android) 以及include(cross_compiling/ios)
将 LITE_WITH_OPNMP  开关改为 OF

[2020-01-19 10:07] onesnow123q commented on #2785
@jiweibo 我使用的是x2paddle model zoo中的squeeze onnx版本，链接如下：
https://s3.amazonaws.com/download.onnx/models/opset_9/squeezenet.tar.gz
模型使用x2paddle与model_optimizer_tool转换过了，转换参数使用的是naive_buffer
编译工具使用的是arm-himix100-linux-gcc、arm-himix100-linux-g++
修改了一些编译参数：
将armlinux中armv7编译工具改为上面列出的编译工具
注释掉cross_compiling/preproject.cmake中的include(cross_compiling/android) 以及include(cross_compiling/ios)
将 LITE_WITH_OPNMP

[2020-01-19 10:39] jiweibo commented on #2785
请在检查下使用时有没有include paddle_use_ops.h paddle_use_kernels.h头文件

[2020-01-19 11:32] onesnow123q commented on #2785
@jiweibo 啊非常感谢，天哪问了个好蠢的问题，因为我直接查看了/lite/demo/cxx/mobile_light/moilenetv1_light_api.cc中的代码，发现里面只有paddle_api.h这个头文件，再次感谢！！

[2020-01-19 11:32] #2785 closed, assigned to nobody

[2020-01-19 11:34] jiweibo commented on #2785
demo是cxxconfig配上动态链接的方式，所以不需要加头文件

[2020-01-20 01:08] aixier opened #2789 "./model_optimize_tool 2.20 没有出现帮助信息"
![image](https://user-images.githubusercontent.com/7700464/72691985-5c540500-3b64-11ea-8fb5-c7015491b300.png)

[2020-01-21 09:14] zhangkai0121 opened #2794 "./lite/kernels/arm 路径下没找到feed_compute.cc和fetch_compute.cc，"
在arm平台基于linux部署的时候，运行mobilev1的demo，报错。
https://github.com/PaddlePaddle/Paddle-Lite/blob/develop/lite/api/light_api.cc 文件下第136行的CHECK(it != kernels.end());没通过，在源码的./lite/kernels/arm路径下没找到feed_compute.cc，这是不是导致找不到feed kernel的原因呢？
同样我发现该文件下也没有fetch_compute.cc，我注释掉check语句调试，发现也找不到fetch kernel，其他kernel比如depthwise_conv2d可以找到。
谢谢！

[2020-01-21 09:46] yongqiangma commented on #2794
请问具体报错是什么呢？能把报错信息和使用环境列一下吗？
feed fetch kernel是不需要注册的，他的实现是在框架里面封装的。

[2020-01-21 09:50] yongqiangma commented on #2789
https://paddlepaddle.github.io/Paddle-Lite/v2.2.0/model_optimize_tool/
请参考这个说明进行使用

[2020-01-21 09:58] MrBaiSL opened #2795 "有android opencl的性能对比数据吗"

[2020-01-21 09:59] aixier opened #2796 "model_optimize_tool 优化精度损失过大，超过50%"
训练参数：
https://github.com/PaddlePaddle/PaddleDetection/blob/release/0.1/configs/ssd/ssd_vgg16_512.yml
优化命令：
./model_optimize_tool  --model_file=/home/frank/work/ssd_vgg16_512/__model__  --param_file=/home/frank/work/ssd_vgg16_512/__params__  --optimize_out_type=naive_buffer  --optimize_out=optimize_out_xy   --valid_targets=arm
一张图大约 100个目标，27个类别

[2020-01-22 01:36] zhangkai0121 commented on #2794
在Xilinx ZU3上的arm cortex-A53核实现的，使用的是xilinx的IDE（SDSoC2019.1）。报错原因就是因为check没过，找不到feed kernel，具体报错语句我没有记录。
是自己添加源文件到工程中，没有用github提供的makefile，看样子是我没有把feed和fetch的实现添加进来。
可否告知一下是哪个文件实现了feed和fetch吗？
谢谢！

[2020-01-22 02:02] AIpioneer commented on #2795
暂时还不完善，预计2月底会有一份比较完善的数据，敬请在我们的qq群(696965088)里多多关注。

[2020-01-22 03:03] yongqiangma commented on #2794
默认加载的是lite/kernel/host/feed_compute.cc 和fetch_compute.cc中的feed和fetch

[2020-01-22 05:43] zhangkai0121 commented on #2794
好的，包含lite/kernel/host路径下的文件果然可以了。
非常感谢！

[2020-01-26 13:08] #2796 closed, assigned to nobody

[2020-02-01 15:42] ralph0813 opened #2799 "替换PaddleDetection转换的模型失败"
环境：
IPhone8
IOS:12.3
xCode : Version 11.3.1 (11C504)
paddle-lite release ：2.2
model ：paddledetection训练 转换的yolov3_mobilenet_v1 模型
model链接: https://jp.ralph0601.xyz/s/FpQrNmxit6xwpj5
paddle-lite demo

操作：
替换库文件：产出的lib目录替换Paddle-Lite-Demo/PaddleLite-ios-demo/ios-classification_demo/classification_demo/lib目录
替换头文件：产出的include目录下的文件替换Paddle-Lite-Demo/PaddleLite-ios-demo/ios-classification_demo/classific

[2020-02-04 03:41] Superjomn opened #2806 "[dev] opencl高优image2d kernel迁移。nearset_interp、reshape2、concat、sigmoid/relu6/relu、elementwise_add/mul、conv2d/depthwise_conv2d、mul、pool2d。"

[2020-02-04 03:50] Superjomn opened #2807 "[dev] lite cuda集成多流"

[2020-02-04 03:51] chenjiaoAngel opened #2808 "[dev] 添加conv relu6/leaky_relu支持"
添加conv relu6/leaky_relu支持，TF public模型性能优于MNN。

[2020-02-04 03:51] Superjomn opened #2809 "[dev] PaddleLite支持无校准数据的训练后量化方法"
无校准数据的训练后量化方法：
* 训练端：针对conv2d、depthwise_conv2d和mul op的权重，计算fp32权重的绝对值最大值，将fp32权重量化为int8/16类型，保存int8/16权重和scale，产出量化模型。
* 预测端：读取量化模型，使用scale将int8/16类型权重反量化为fp32类型权重，进行正常预测。
* 不降低精度，减小模型存储大小（2~4倍）

具体参考 #2791

[2020-02-04 03:53] Superjomn opened #2810 "[dev] 模型格式修改 & model_optimizer_tool 升级"
（1）Paddle-Lite的模型合并为单个文件
  （2）模型中加入Lite的版本信息
  （3）加载模型前比对opt与预测库的版本

[2020-02-04 03:57] Superjomn opened #2811 "[dev] 硬件接入方案完善"
需要完善硬件接入方案：

- kernel-wise
- subgraph-wise

统一 demo, sdk, 文档

[2020-02-04 04:40] #2574 closed, assigned to nobody

[2020-02-04 05:08] Superjomn opened #2812 "test"

[2020-02-04 05:10] #2812 closed, assigned to nobody

[2020-02-04 05:37] jiweibo commented on #2807
lite cuda集成多流
1. pass静态分析，得到所有op节点的流id，以及是否需要同步信息，done.

2. 将pass分析中得到的结果存储到cuda context和instruction中，即在context中存储所有op的流id，在instruction中存储sync信息，done.

      ~~- CUDAContext修改使支持多stream~~
- [x] 把多流分析pass的流id放入ctx
- [x] 目前所有的cuda kernel，都是调用ctx.exec_stream()来直接拿到流，这里需要考虑如何拿到对应的流id, done.
- [x] 把多流分析的同步信息放入instruction中

     Q：context的初始化以及是哪一步被set到kernel的
     A：runtime_context_assign_pass。该pass对图中

[2020-02-04 08:15] onesnow123q commented on #2785
@jiweibo 你好，又来请教一个问题，我最近验证其他模型，发现有的op并没有 编译进去，比如说x2paddle_model_zoo--caffe--faceDetection这个模型v2版本，其中有一个op为norm,但是我推理的时候报错：Check failed: op: no Op found for norm
查询头文件，发现没有这个op：
./paddle_use_kernels.h:52:USE_LITE_KERNEL(instance_norm, kARM, kFloat, kNCHW, def);
./paddle_use_kernels.h:79:USE_LITE_KERNEL(batch_norm, kARM, kFloat, kNCHW, def);
./paddle_use_ops.h:45:USE_LITE_OP(batch_norm);
./paddle_us

[2020-02-04 09:04] jiweibo commented on #2785
norm被默认放到extra里面了，编译的时候需要打开extra选项。请参考编译部分文档build_extra。https://paddlepaddle.github.io/Paddle-Lite/v2.2.0/source_compile/#%E7%BC%96%E8%AF%91%E6%A8%A1%E5%BC%8F%E4%B8%8E%E5%8F%82%E6%95%B0

[2020-02-05 08:00] AIpioneer commented on #2577
您好，paddle lite支持GPU，但是目前GPU的功能还不够完善，预计在3月份的版本中会做好。建议您使用CPU，因为即使从硬件考虑，3399的GPU性能也相对一般。

[2020-02-06 00:51] FrostML commented on #2799
您好，可以先尝试跑通demo再进行替换。再请问下在Android上是否也能复现类似的错误？后续将由相关的同事继续跟进这个问题 @hong19860320  @yiicy

[2020-02-06 01:51] ralph0813 commented on #2799
你好，安卓和ios都尝试过，demo可以正常跑通，但是换了模型就不行。

[2020-02-06 01:58] MyPandaShaoxiang commented on #2718
这个是cmake生成错误，你可以提供一下完整的编译log么

[2020-02-06 05:24] #2809 closed, assigned to juncaipeng

[2020-02-06 10:13] ysh329 commented on #2806
OpenCL Image2D 30个高优Kernel迁移完毕，其中涵盖14个OP。包括不限于nearset_interp、reshape2、concat、sigmoid/relu6/relu、elementwise_add/mul、conv2d/depthwise_conv2d、pool2d。（#2837、#2806、#2771、#2788、#2815、#2802、#2853、#2861、#2844、#2838、#2837、#2818）

[2020-02-06 13:50] juncaipeng opened #2821 "[dev] Upgrade the docs framework to Markdown+ GitHub + ReadtheDocs"
请参考[PaddleLite文档开发规范](http://agroup.baidu.com/paddle-infer/md/article/2561104)

[2020-02-07 01:39] juncaipeng opened #2822 "[dev] Upgrade docs by Markdown+ GitHub + ReadtheDocs"
更新编译安装文档

[2020-02-07 01:41] #2822 closed, assigned to nobody

[2020-02-07 01:53] juncaipeng commented on #2821
finish by  pr: https://github.com/PaddlePaddle/Paddle-Lite/pull/2820

[2020-02-07 01:54] #2821 closed, assigned to juncaipeng

[2020-02-07 02:26] juncaipeng opened #2823 "[dev] 迁移升级文档页面：最新性能、测试方法、模型量化、支持Op列表、新增Op方法"
参考[文档开发规范](http://agroup.baidu.com/paddle-infer/md/article/2561104)，迁移并升级文档。

[2020-02-07 02:28] juncaipeng opened #2824 "[dev] 迁移升级负责的文档页面：源码编译、模型转化方法、根据模型裁剪预测库方法、新增Pass方法、使用X86预测库"
参考[文档开发规范](http://agroup.baidu.com/paddle-infer/md/article/2561104)，迁移并升级文档。

[2020-02-07 02:30] juncaipeng opened #2825 "[dev] 迁移升级负责的文档页面：CV图像预处理库"
参考[文档开发规范](http://agroup.baidu.com/paddle-infer/md/article/2561104)，迁移并升级文档。

[2020-02-07 02:30] juncaipeng opened #2826 "[dev] 迁移升级负责的文档页面：使用FPGA"
参考[文档开发规范](http://agroup.baidu.com/paddle-infer/md/article/2561104)，迁移并升级文档。

[2020-02-07 02:31] juncaipeng opened #2827 "[dev] 迁移升级负责的文档页面：使用华为NPU"
参考[文档开发规范](http://agroup.baidu.com/paddle-infer/md/article/2561104)，迁移并升级文档。

[2020-02-07 02:31] juncaipeng opened #2828 "[dev] 迁移升级负责的文档页面：新增Layout方法、使用Android GPU"
参考[文档开发规范](http://agroup.baidu.com/paddle-infer/md/article/2561104)，迁移并升级文档。

[2020-02-07 02:31] juncaipeng opened #2829 "[dev] 迁移升级负责的文档页面：Android/IOS APP demo"
参考[文档开发规范](http://agroup.baidu.com/paddle-infer/md/article/2561104)，迁移并升级文档。

[2020-02-07 02:31] juncaipeng opened #2830 "[dev] 迁移升级负责的文档页面：使用流程、C++示例、Java示例 、测试工具、调试方法、C++ API文档、Java API文档、Python API文档"
参考[文档开发规范](http://agroup.baidu.com/paddle-infer/md/article/2561104)，迁移并升级文档。

[2020-02-07 02:49] juncaipeng opened #2831 "[dev] 迁移升级负责的文档页面：使用CUDA"
参考[文档开发规范](http://agroup.baidu.com/paddle-infer/md/article/2561104)，迁移并升级文档。

[2020-02-07 02:50] juncaipeng opened #2832 "[dev] 迁移升级负责的文档页面：技术特点、架构设计、RoadMap"
参考[文档开发规范](http://agroup.baidu.com/paddle-infer/md/article/2561104)，迁移并升级文档。

[2020-02-07 03:39] jiweibo commented on #2831
@NHZlX 已完成python-cuda的文档。

更新了python-cuda的文档，https://github.com/PaddlePaddle/Paddle-Lite/pull/2834

c++接口示例等库文件发布后提供

[2020-02-09 06:51] CheungBH opened #2842 "关于模型训练"
你好，我想问下用paddle-lite转换了模型之后，能对转换后的模型进行训练不

[2020-02-10 04:10] AIpioneer commented on #2842
一般转换完以后就不再训练了，但是我们建议是转之前训啊，转的成本并不高。你们这里有类似转换后训练的需求吗？

[2020-02-10 05:37] hong19860320 commented on #2842
转换后的PaddleLite模型是无法做的训练。建议使用Paddle Fluid进行组网训练，训练完成后通过save_inference_model保存用于预测的模型文件，然后使用https://github.com/PaddlePaddle/Paddle-Lite/releases 的model_optimize_tool将保存的预测模型转为PaddleLite的模型。

[2020-02-10 16:50] DannyIsFunny opened #2854 "转化模型一键脚本"
继承x2paddle与model_optimize_tool功能的一键脚本，可以直接将第三方模型转化为Lite模型

[2020-02-10 16:50] DannyIsFunny opened #2855 "model_optimize_tool升级"
（1）可以分析并打印model与Lite中的算子信息
（2）可以判断Lite是否支持当前模型，优化报错信息

[2020-02-11 01:38] #2823 closed, assigned to juncaipeng

[2020-02-11 03:42] Bond-H opened #2856 "MAC下的Docker环境编译model_optimize_tool失败"
一. 环境：
系统：MacOS 10.13.6
Docker：paddlepaddle/paddle-lite:2.0.0_beta

二. 分支与版本：
分支：develop
CommitID：f3688e70d779640187e1203b418b58b229e8ce90

三. 编译命令与报错：
单线程执行以下命令
`
./lite/tools/build.sh build_optimize_tool
`
报错如下所示：
![image](https://user-images.githubusercontent.com/23732409/74209610-78f6df00-4cc3-11ea-9b71-9bcc6e391d31.png)

[2020-02-11 11:12] jiweibo commented on #2831
迁移到doc，done

https://github.com/PaddlePaddle/Paddle-Lite/pull/2866

[2020-02-12 02:41] ysh329 commented on #2856
根据日志，没有看出具体的报错信息，建议在开发机上使用linux版本，目前mac上还没该工具的CI支持，后续会加入。

[2020-02-12 06:28] #2831 closed, assigned to jiweibo

[2020-02-12 17:14] hang245141253 opened #2870 "PaddleLite的demo的bug"
设备树莓派4B 64位系统
运行MobileNetV1-SSD的demo时更换了demo中model，用的是自己训练的模型，
使用Paddle-LiteV2.2.0提供编译好的model_optimize_tool

模型转换时输入的命令及参数如下
` model_optimize_tool \
    --model_dir=best_model \
    --optimize_out_type=naive_buffer \
    --optimize_out=lite_model\
    --valid_targets=arm \
`
然后将__model__.nb和param.nb放到树莓派4B MobileNetV1-SSD的demo里进行模型替换。

预测的时候就回出如图所示的不过

![QQ图片20200213011010](https://user-images.git

[2020-02-13 01:52] ysh329 commented on #2806
所有高优Kernel已经全部merge

[2020-02-13 02:07] #2806 closed, assigned to nobody

[2020-02-13 02:10] ysh329 opened #2871 "[dev] OpenCL Image2D跑通并验证5个高优模型"
## 背景

目前OpenCL Image2D高优Kernel已经合如develop完成。需要对5个高优模型尝试以Image2D形式跑通，这5个模型分别是：

1. MobileNetV1；
2. MobileNetV2；
3. MnasNet；
4. yolonano；
5. video-sr。

## 工作量

1. 【已完成】对OpenCL NCHW形式的Kernel注册部分，进行注释，避免与ImageDefault在选Kernel时发生选择冲突或影响；
2. 【已完成】以Float Image2D形式跑通并验证结果：该过程将在下面详细说明；
3. 【已完成】该过程可能会修改Pass以适配转换目标为Image2D OpenCL的模型；
4. 【进行中】错误模型定位与修复（lens_mnasnet、lens_yolonano）：Fluid与lite每层输出结果比较，lite::Tens

[2020-02-13 03:06] yongqiangma opened #2873 "【dev】支持比特大陆硬件"
支持FP32的BM1682/BM1684，支持模型包括：resnet、inception、vgg、darknet、mobilenet等；
BM1684仅支持离线INT8模型。

[2020-02-13 04:19] ysh329 commented on #2871
## PR集合

[LITE][OPENCL] comment All opencl buffer kernels. test=develop by ysh329 · Pull Request #2874 · PaddlePaddle/Paddle-Lite
https://github.com/PaddlePaddle/Paddle-Lite/pull/2874

[LITE][OPENCL] OpenCL Image2D model passed by ysh329 · Pull Request #2887 · PaddlePaddle/Paddle-Lite
https://github.com/PaddlePaddle/Paddle-Lite/pull/2887

[LITE][OPENCL] support fp16 for cl_image_converter, layout,

[2020-02-13 07:34] CheungBH opened #2878 "模型转换后大小一样"
您好，我按照教程，将tensorflow的模型进行优化。可我最终得出的param.nb文件大小和原来的文件大小一样，请问正常不？
如下图，右边yolo-v3.pb的大小和左边param.nb的大小几乎一样。而且转换的过程中并没有报错

![yolo](https://user-images.githubusercontent.com/39186017/74589008-894ce800-503c-11ea-883a-63f85192ff6d.png)

还有个问题就是，PaddleLite经过模型转换后的文件能够跑在PC端吗？有没demo代码？谢谢啦

[2020-02-13 09:48] juncaipeng commented on #2870
请问你训练的模型也是MobileNetV1-SSD吗，只是finetune吗？

[2020-02-13 10:33] hang245141253 commented on #2870
是的 用的这个

https://github.com/PaddlePaddle/models/tree/v1.6/PaddleCV/ssd

[2020-02-14 05:08] hang245141253 commented on #2870
求大佬帮助

[2020-02-14 07:00] juncaipeng commented on #2870
finetune后，你可以使用特定的图片测试一下效果。看你这不是报跑蹦的bug，应该只是精度问题。

[2020-02-14 07:03] hang245141253 commented on #2870
我调用摄像头的话也是这样的效果

[2020-02-14 07:04] hang245141253 commented on #2870
我调用摄像头的话也是这样的效果

[2020-02-14 07:04] hang245141253 commented on #2870
模型转换之前我在PC机上用PaddlePaddle进行预测效果是没问题的

[2020-02-14 07:08] hang245141253 commented on #2870
![dog](https://user-images.githubusercontent.com/44885245/74509182-d5643380-4f3b-11ea-9bc6-10045c940159.jpg)
这个使用PC机上用PaddlePaddle进行预测的 调用模型是转化前的模型

[2020-02-14 07:37] juncaipeng commented on #2870
在pc机上使用paddlepaddle调用finetune后的模型，可以得到上图效果？
然后将该finetune后的模型在lite上部署，进行模型转换，在demo中执行就出现预测不准确的问题？
此前我还比较困惑，也没法帮定位问题。请准确描述一下问题，可以直接在最上面第一条comment中修改更新。谢谢。

[2020-02-14 07:48] hang245141253 commented on #2870
或者我想了解一下，demo中用下载的模型，在转化之前所用的model_optimize_tool的版本，demo中lite预测库的版本，以及PaddlePaddle生成该模型的源码项目能给提供一下吗？
demo里所用的数据集是Pascal VOC吗?
我主要是想自己跑通一次PaddlePaddle到PaddleLite的完成流程，demo里只有有关lite的。希望可以的话能在增加一下PaddlePaddle到lite上的流程，可能有些操作上也存在了失误才导致的这个情况

[2020-02-14 08:15] juncaipeng commented on #2870
这些都是开源了的。
原始模型：https://github.com/PaddlePaddle/models/tree/v1.6/PaddleCV/ssd
转换成lite在移动端部署的模型，这部分代码是在lite repo中的。

基于paddlepaddle可以运行的预测模型，在lite上部署就可以，中间没有太多流程的。

[2020-02-14 08:50] Chgtaxihe opened #2885 "使用model_optimize_tool转换Paddle模型失败"
复现用的PaddlePaddle模型:

[code]

转换命令:

[code]

错误提示:

[code]

按照提示，我应该把`step` 改为 float 类型，但是按照PaddlePaddle的[文档](https://paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/array_write_cn.html#array-write)，此处的`step`应当为 int64 类型。

请问应该如何解决？

[2020-02-14 08:51] Chgtaxihe commented on #2885
完整的错误提示:
[code]

[2020-02-16 05:49] autofish opened #2893 "在真机上运行c++ mobile_full 出现library "libpaddle_full_api_shared.so" not found 错误"
安装PaddlePaddle-Lite文档，执行到最后一步，在android真机上进行部署，执行最后测试命令时
adb shell "/data/local/tmp/mobilenetv1_full_api --model_dir=/data/local/tmp/mobilenet_v1 --optimized_model_dir=/data/local/tmp/mobilenet_v1.opt"，出现：
CANNOT LINK EXECUTABLE "/data/local/tmp/mobilenetv1_full_api“”library “libpaddle_full_api_shared.so” not found 错误。

[2020-02-16 17:30] fanxinkeji opened #2896 "Ubuntu 18.04.4 编译 Paddle-Lite android-demo mask_detection 出错"
**试过用release v2.3 也一样**

opencv4.1.0/armeabi-v7a/cmake/OpenCVModules.cmake
/opt/android-ndk-r17c/toolchains/aarch64-linux-android-4.9/prebuilt/linux-x86_64/bin/aarch64-linux-android-g++ --sysroot=/opt/android-ndk-r17c/sysroot -DARM_WITH_OMP -DHPPL_STUB_FUNC -DLITE_WITH_ARM -DLITE_WITH_LIGHT_WEIGHT_FRAMEWORK -DLITE_WITH_LINUX -DPADDLE_DISABLE_PROFILER -DPADDLE_NO_PYTHON -DPADDLE_WITH_TESTING -I/opt

[2020-02-17 00:14] vecen commented on #2896
我也是出现这个问题，有出现过这个问题的同学吗？

[2020-02-17 01:26] northeastsquare commented on #2163
cmake换成3.16也是有很多编译错误，换成3.10可以了，谢谢老铁

[2020-02-17 01:34] AIpioneer commented on #2878
您好！看起来，整个转换是没有问题的。
Paddle Lite是针对移动端进行部署的，比如说用在app上，使用手机里的处理器去执行模型的预测，这样模型就不用放在服务器上，直接在最前端进行预测，省去了与服务器的通信时间。因此，对于在pc端的使用，您不需要通过paddle lite来部署。您可以通过x2paddle转换成功以后，使用paddle的预测库进行部署。这里有服务器部署的各种文档，可以参考参考https://www.paddlepaddle.org.cn/documentation/docs/zh/advanced_usage/deploy/inference/index_cn.html
另外，你这个模型本身是比较大的，如果部署在手机上也是不太实际的。需要对模型进行剪枝，量化等操作，在保证精度不变的前提下，降低参数量，从而减小包的体积，这里建议你看一下我们的量化工具PaddleSlim。

[2020-02-17 01:52] AIpioneer commented on #2581
Hi, Xinyan. It's a known issue, and the opencl related function will be ready to use in the end of Feb,2020. Wish you to try again and give us more feedback.
Thanks.

[2020-02-17 01:54] AIpioneer commented on #2435
Hi, 现在树莓派的示例更加完整了。版本也更新到2.2.0，欢迎继续尝试。  另外，动态链接库，只有1.7M,不一定有问题，本身部署的时候也是希望包越小越好的。

[2020-02-17 01:54] AIpioneer commented on #2337
@NazgulLee  能看看这个吗？

[2020-02-17 01:57] AIpioneer commented on #2143
这个问题，当时线下已经沟通过了吧

[2020-02-17 01:58] juncaipeng commented on #2896
口罩demo运行的文档：https://github.com/PaddlePaddle/Paddle-Lite/tree/develop/lite/demo/cxx

1、请问是否配置好编译环境？首先需要参考文档配置：https://paddlepaddle.github.io/Paddle-Lite/v2.2.0/source_compile/
2、下面编译指令是否出错？
[code]
3、具体是哪一步出现上述编译错误？

[2020-02-17 02:02] vecen commented on #2896
2

编译 2步的tiny_publish  正常并不出差， 在编译 mask_detection 的时候 出现上述错误

[2020-02-17 02:05] DannyIsFunny commented on #2810
已经完成功能开发，参考PR：[#2800](https://github.com/PaddlePaddle/Paddle-Lite/pull/2800)

[2020-02-17 02:05] DannyIsFunny commented on #2810
已经完成功能开发，参考PR：[#2800](https://github.com/PaddlePaddle/Paddle-Lite/pull/2800)

[2020-02-17 02:11] DannyIsFunny opened #2898 "Lite模型格式修改"
(1)naive_buffer 模型合并为单个文件model.nb
(2)注册关联cxx_api、java_api、python_api接口
实现PR：[#2800](https://github.com/PaddlePaddle/Paddle-Lite/pull/2800)

[2020-02-17 02:13] DannyIsFunny commented on #2898
已经实现功能，实现PR为： [#2800](https://github.com/PaddlePaddle/Paddle-Lite/pull/2800)

[2020-02-17 02:31] fanxinkeji commented on #2896
**我的是VM 安装的Ubuntu 18.04.4，3步make出错。裸机编译**

[2020-02-17 02:32] juncaipeng commented on #2896
我这里复现，编译没有上述错误。出现这个问题，应该是配置环境的问题。
具体先参考编译文档：https://paddlepaddle.github.io/Paddle-Lite/v2.2.0/source_compile/

你是使用docker还是裸机编译？

[2020-02-17 02:42] vecen commented on #2896
裸机编译，环境配置 参考的 linux android 交叉编译环境

[2020-02-17 02:46] juncaipeng commented on #2896
感觉还是配置环境问题哈，请具体再检查一下，一步一步确认准确。

[2020-02-17 03:32] DannyIsFunny commented on #2824
已经完成文档的修改：[#2901](https://github.com/PaddlePaddle/Paddle-Lite/pull/2901)

# 更新的文档如下：
 - 源码编译
 - 模型转化方法
 - 根据模型裁剪预测库方法
 - 新增Pass方法
 - 使用X86预测库
 - C++ API说明

[2020-02-17 04:25] vecen commented on #2896
重新搞了个干净的ubuntu环境 安装步骤一步步来的 还是出现错误
步骤如下：1、首先需要参考文档配置：https://paddlepaddle.github.io/Paddle-Lite/v2.2.0/source_compile/ 进行 linux android  交叉环境配置
2、下载PaddleLite代码 编译。

git clone https://github.com/PaddlePaddle/Paddle-Lite.git
cd Paddle-Lite
进入PaddleLite根目录，编译预测库。

./lite/tools/build.sh \
    --arm_os=android \
    --arm_abi=armv7 \
    --arm_lang=gcc \
    --android_stl=c++_static \
    --build_extra

[2020-02-17 05:17] fanxinkeji commented on #2896
**完全按照配置环境检查安装，我暂没发现问题。麻烦看下**

root@ysk-vm:/home/ysk/tools# gcc -v && \

Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/7/lto-wrapper
OFFLOAD_TARGET_NAMES=nvptx-none
OFFLOAD_TARGET_DEFAULT=1
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Ubuntu 7.4.0-1ubuntu1~~18.04.1' --with-bugurl=file:///usr/share/doc/gcc-7/README.Bugs -

[2020-02-17 05:28] vecen commented on #2896
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/5/lto-wrapper
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Ubuntu 5.4.0-6ubuntu1~16.04.9' --with-bugurl=file:///usr/share/doc/gcc-5/README.Bugs --enable-languages=c,ada,c++,java,go,d,fortran,objc,obj-c++ --prefix=/usr --program-suffix=-5 --enable-shared --enable-linker-build-

[2020-02-17 05:42] vecen commented on #2896
ubuntu 18.04 :
(base) vecen@vecen-Precision-3530:~$ gcc -v && \

Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/7/lto-wrapper
OFFLOAD_TARGET_NAMES=nvptx-none
OFFLOAD_TARGET_DEFAULT=1
Target: x86_64-linux-gnu
Configured with: ../src/configure -v --with-pkgversion='Ubuntu 7.4.0-1ubuntu1~18.04.1' --with-bugurl=file:///usr/share/doc/gcc-7/README.Bugs --enable-l

[2020-02-17 05:44] autofish opened #2907 "请问paddle-lite有C#的封装和x86平台的编译计划吗"
如题所问，目前paddle-lite有java和c++的封装，如果支持c#封装和x86平台，这样能够打开更广阔的使用空间，得到Unity3D广大开发者更多的支持。

[2020-02-17 07:29] DannyIsFunny commented on #2893
你好，我用最新的develop分支测试是可以使用的，我的使用流程如下：
[code]
运行结果为：
[code]
请测试一下

[2020-02-17 07:43] DannyIsFunny commented on #2885
你好你的模型方便发给我们测试一下吗

[2020-02-17 08:50] XinyuDu commented on #2896
docker pull paddlepaddle/paddle-lite 。编译，出现同样问题。

[2020-02-17 10:04] northeastsquare opened #2913 "使用gcc，可以链接c++_static吗"
编译指南里面：https://paddlepaddle.github.io/Paddle-Lite/v2.2.0/source_compile/，的编译命令
./lite/tools/build.sh --arm_os=android   --arm_abi=armv7   --build_extra=OFF   --arm_lang=gcc   --android_stl=c++_static   --build_extra=ON   tiny_publish
里面指定了gcc编译，但是c++_static指的是llvm中的stl库，所以这就矛盾了？

[2020-02-17 10:53] Chgtaxihe commented on #2885
好的，项目源文件和模型文件在附件中，十分感谢。

在 2020-02-17 15:43:04，"huzhiqiang" <notifications@github.com> 写道：

你好你的模型方便发给我们测试一下吗

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

从网易126邮箱发来的云附件
ImageCaption.zip (70.49K, 2020年3月3日 18:52 到期)
在线预览 | 下载
infer_meteor.zip (57.68M, 2020年3月3日 18:51 到期)
下载

[2020-02-17 11:16] Chgtaxihe commented on #2885
您可以到https://send.firefox.com/download/d17bccd6fe841bee/#u79bJz-cM6IeqyQ8FGxgrA下载，十分感谢

[2020-02-17 13:34] FrostML commented on #2907
你好，感谢关注，Paddle-Lite已经可以支持x86，可以参见v2.2.0版本x86相关的[链接](https://paddlepaddle.github.io/Paddle-Lite/v2.2.0/x86/)
有关C#的封装，暂时paddle lite还不支持，后续会评估是否放入研发计划。谢谢你的建议 ~

[2020-02-17 14:27] autofish opened #2915 "paddlehub保存的模型无法被手机Paddle-Lite加载，直接闪退没提示"
# 下载paddlehub以后，通过python执行以下代码
import paddlehub as hub
hub.server_check()
pyramidbox_lite_mask = hub.Module(name="pyramidbox_lite_mobile_mask")
# 将模型保存在test_program文件夹之中
pyramidbox_lite_mask.processor.save_inference_model(dirname="test_program")
得到模型后放到paddle-lite java demo（build.lite.android.armv7.gcc\inference_lite_lib.android.armv7\demo\java\android\PaddlePredictor），加载，闪退

[2020-02-17 14:55] AIpioneer commented on #2915
hi，您好，这是因为hub保存下来的模型，还需要经过model_optimze_tool来转换成.nb的格式，然后才能通过继续部署。我们已经在文档中家清楚说明了。非常感谢您的反馈。

[2020-02-18 02:04] #2898 closed, assigned to DannyIsFunny

[2020-02-18 02:05] #2893 closed, assigned to cryoco

[2020-02-18 02:20] juncaipeng commented on #2896
这个问题已经复现，请修改一下编译命令，改成如下：
[code]

在docker编译环境下，使用修改后的编译命令，在develop分支和release2.3分支测试都不会出现链接错误。

大家如果还遇到问题，可以继续说明，谢谢。

[2020-02-18 02:26] #2870 closed, assigned to juncaipeng

[2020-02-18 11:14] #2832 closed, assigned to Superjomn

[2020-02-18 11:23] #2828 closed, assigned to ysh329

[2020-02-18 11:24] ysh329 commented on #2828
已经迁移升级完成

[2020-02-18 11:46] chenjiaoAngel commented on #2825
完成

[2020-02-18 11:46] chenjiaoAngel commented on #2825
Done

[2020-02-18 11:46] chenjiaoAngel commented on #2825
Done

[2020-02-18 11:49] #2825 closed, assigned to chenjiaoAngel

[2020-02-19 01:19] Pinnh commented on #2896
请问为什么要将 tiny_publish 改为 full_publish ？ tiny_publish 我的编译也会出现上述问题，full_publish因为库的问题没编译

[2020-02-19 03:26] juncaipeng commented on #2896
tiny_publish库中包含函数更少，导致链接错误。

[2020-02-19 06:11] Chgtaxihe commented on #2885
使用了最新的opt工具转换模型，出现了新的错误提示
[code]

[2020-02-19 09:26] zhangzhenyuyu opened #2938 "使用opt进行模型格式转换的时候，遇到三个arm架构不支持的算子'brelu, elementwise_floordiv, sequence_unpad'，该怎么办？"
Error: This model is not supported, because 3 ops are not supported on 'arm'. These unsupported ops are: 'brelu, elementwise_floordiv, sequence_unpad'.

[2020-02-19 12:11] Pinnh opened #2940 "undefined reference to `vtable for google::protobuf::compiler::csharp::Generator'"
无法完成编译

使用的命令如下：

git clone https://github.com/PaddlePaddle/Paddle-Lite.git
cd Paddle-Lite/
git checkout release/v2.3
rm -rf third-party/  ##不使用该命令也是一样的错误

./lite/tools/build.sh --arm_os=android --arm_abi=armv8 --arm_lang=gcc --android_stl=c++_static --build_extra=OFF --shutdown_log=OFF full_publish

系统：
Ubuntu 16.04
Cmake 3.14.3

编译Log:

 [95%] Building CXX object CMakeFiles/libprotoc.dir/home/di

[2020-02-19 13:51] #2829 closed, assigned to yiicy

[2020-02-20 02:33] juncaipeng commented on #2830
已经完成

[2020-02-20 02:33] #2830 closed, assigned to Shixiaowei02

[2020-02-20 02:34] #2824 closed, assigned to DannyIsFunny

[2020-02-20 03:13] juncaipeng commented on #2827
Done

[2020-02-20 03:13] #2827 closed, assigned to hong19860320

[2020-02-20 07:03] phamkhactu opened #2948 "我如何在lite / demo / python中运行测试掩码检测"
### I run mobilenetv1_full_api.py. It show error:
[code]

### I think, it not is error. I can't configure to run it. Thank for your help!

[2020-02-20 11:39] imistyrain opened #2950 "undefined reference to `vtable for google::protobuf::compiler::csharp::Generator'"
release2.2和2.3分支
Mac端上编译，编译参数
[code]
编译到protoc时提示:
[code]

[2020-02-20 14:50] ysh329 opened #2954 "OpenCL Layout buffer2Image2D的Kernel单测遇到2050索引的值是转换结果差1.0"
在OppoR9s，adreno504，opencl kernel里，这个kernel做的是buffer到image2dDefault的转换，但是转换前后值差1.0（buffer形式的第2050个元素，从0起始的索引），convert_half前的值是2049，convert_half后是2048。

![image](https://user-images.githubusercontent.com/7320657/74945842-5ab38080-5433-11ea-96cd-422da1715fb4.png)

目前不确定该问题是不是具有通用性， 需要在测试其它手机

[2020-02-21 02:27] CheungBH commented on #2878
意思是我用x2paddle的./auto_transform.sh这个脚本从TensorFlow转至PaddleLite的时候，只是转换成了手机端能用的形式，并没有加入模型压缩的对吧？
如果要加入模型压缩，就需要用到PaddleSilm使它参数量降低对吧

[2020-02-21 03:27] ysh329 commented on #2954
在relu的单测中也遇到这个问题，relu6却没发现，relu6和relu采用通用的loop_test，下面log：

[code]

[2020-02-21 04:14] mapingshuo commented on #2950
same error.

[2020-02-21 04:50] DannyIsFunny commented on #2948
你好，请问你使用的是那一个版本的代码编译的呢

[2020-02-21 04:59] DannyIsFunny commented on #2948
请确认是使用lite/tools/build.sh --build_python=ON x86 编译出来的库，而且确认相关lib路径下有lite_core.so文件

[2020-02-21 07:43] mapingshuo commented on #2950
通过一些小trick解决了这一问题：最初我的cmake位于/usr/local/bin/cmake路径下，并且在编译时设置了环境变量指向这一路径；后来改成别的位置的cmake就好了。

[2020-02-21 07:50] phamkhactu commented on #2948
Thank you very much for supporting me. But if i want to convert  model (paddle) to h5 or pb, how can i do it. Thank in advance for instructing

[2020-02-21 09:31] Chgtaxihe commented on #2885
您好，我查看了Paddle-Lite的文档发现它支持While Op，但按照Paddle文档的[示例代码](https://paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/While_cn.html#while)编写出的模型却无法转换。
希望能够修复该问题或告知While的正确用法。
错误提示：
[F  2/21 17:24:16.205 ...ite/core/mir/type_precision_cast_pass.cc:133 AddCastInst] Check failed: is_found: Can't find a Cast kernel for Cast op: Tensor<arm,int64_t,NCHW,0>:fill_constant_0.tmp_0->Tensor<arm,float,NCHW

[2020-02-21 10:02] Pinnh commented on #2940
已解决，cmake 版本改为 cmake 3.10.3 重新安装

[2020-02-21 10:02] #2940 closed, assigned to nobody

[2020-02-21 10:47] AIpioneer commented on #2938
暂时还不支持这几个模型，我们会放入开发计划，如果您这边有更紧急的需求的话，可以跟我们线下沟通看看，qq群号:696965088

[2020-02-21 10:47] DannyIsFunny commented on #2938
你好，这个问题说明Paddle-Lite当前不支持三个算子elementwise_floordiv、sequence_unpad、brelu。 即Paddle-Lite当前不支持该model，因为当前部分PaddlePaddle的算子Paddle-Lite还未支持，已经提出开发需求，需要一段时间

[2020-02-21 12:20] imistyrain commented on #2950
是换了cmake的版本么？我的cmake是3.16.1

[2020-02-21 13:51] mapingshuo commented on #2950
是的，从3.16.3换成了3.10.3

[2020-02-22 04:09] #2810 closed, assigned to DannyIsFunny

[2020-02-22 04:10] #2826 closed, assigned to MyPandaShaoxiang

[2020-02-22 04:10] #2808 closed, assigned to nobody

[2020-02-22 04:21] imistyrain commented on #2950
已解决，换成3.10就好了。不太理解为什么会对cmake的版本有要求

[2020-02-22 04:21] #2950 closed, assigned to DannyIsFunny

[2020-02-22 04:27] DannyIsFunny opened #2972 "【doc 修改】release v2.3文档补充"
（1）在`安装`中添加从`下载预编译库`部分
（2）添加`从下载预测库-，模型转换-移动端部署`的完整流程文档

把下载的方法放到前面，把编译给去掉或者加个链接:
具体步骤：
1. 下载对应的包，可以加一些截图和描述
2. 转化模型，可以对opt做一些描述（截图，终端用白色背景），可以准备一个fluid模型，并一并放出链接
3. 编写预测程序
4. 编译
5. 执行示例

[2020-02-22 05:20] imistyrain opened #2975 "undefined reference to `strtod_l'"
按照[cxx demo](https://github.com/PaddlePaddle/Paddle-Lite/tree/develop/lite/demo/cxx)中提到的步骤执行时，编译库通过，mask_detection编译通过并运行成功
但是编译mobile_full时出现错误:
[code]
PS:后面的mobile_light也可以编译通过, 但是由于需要上述步骤产生进行模型转化，导致无法继续demo

[2020-02-22 07:44] usherjc opened #2977 "Android应用口罩识别业务模型集成问题"
已将此问题发布在Paddle-Lite-Demo的issue中

[isseus](https://github.com/PaddlePaddle/Paddle-Lite-Demo/issues/42)

[2020-02-23 05:34] zhangzhenyuyu commented on #2938
还想继续问下您们大概什么时候能够开发完成，谢谢啦

[2020-02-23 06:25] hang245141253 opened #2978 "树莓派4b 目标识别demo替换模型 ，识别错误的bug"
[https://github.com/PaddlePaddle/Paddle-Lite-Demo/tree/master/PaddleLite-armlinux-demo/object_detection_demo](url)在这个demo中，我使用PaddlePaddle官方提供训练好的模型[http://paddlemodels.bj.bcebos.com/ssd_mobilenet_v1_pascalvoc.tar.gz](url)使用官方提供的v2.2.0源码编译出的model_optimize_tool[https://github.com/PaddlePaddle/Paddle-Lite/releases/download/v2.2.0/model_optimize_tool](url)
完整的命令是`model_optimize_tool --model_dir=./ssd

[2020-02-23 07:11] hang245141253 commented on #2978
希望能联系到做树莓派demo的这个同学啊 现在根据先有的资料 还是不能了解PaddlePaddle训练出的模型怎么部署到树莓派上

[2020-02-24 03:39] #2896 closed, assigned to DannyIsFunny, juncaipeng

[2020-02-24 05:24] juncaipeng opened #2987 "save images on github"

[2020-02-24 05:24] #2987 closed, assigned to nobody

[2020-02-24 06:11] yiicy commented on #2987
![mask](https://user-images.githubusercontent.com/7383104/75131829-97bb9380-570f-11ea-9f33-336c47b15acf.jpg)

[2020-02-24 06:12] yiicy commented on #2987
![hh_mask_detection_result](https://user-images.githubusercontent.com/7383104/75131866-bae64300-570f-11ea-9cad-17acfaea1cfc.jpg)

[2020-02-24 06:18] chenjiaoAngel commented on #2975
这个mobile_full 编译时，有更新paddle-lite库吗？这个库跟编译mobile_light用的库不一样

[2020-02-24 07:54] imistyrain commented on #2975
编译库用的命令为
[code]
 完全重新拉的库，没有之前的任何干扰

[2020-02-24 08:11] hDluffy opened #2992 "Paddle-Lite在编译--arm_os=android --arm_abi=armv7时不过"
安照配置文档配置环境后，编译--arm_os=android --arm_abi=armv8时顺利变过，但--arm_abi=armv7时出错：
/home/PaddlePaddle/Paddle-Lite-develop/lite/backends/arm/math/packed_sgemm.cc: In function 'void paddle::lite::arm::math::prepackA_4x8(float*, const float*, float, int, int, int, int, int)':
/home/PaddlePaddle/Paddle-Lite-develop/lite/backends/arm/math/packed_sgemm.cc:1335:3: error: 'float32x4_t' was not declared in this scop

[2020-02-24 13:54] hong19860320 commented on #2992
请使用--arm_abi=armv7hf

[2020-02-25 01:16] hDluffy commented on #2992
使用--arm_abi=armv7hf，编译时只支持--arm_os=armlinux，对于--arm_os=android的选项该如何编译armv7版本

[2020-02-25 02:34] hong19860320 commented on #2992
应该是编译环境的问题，请描述下你的编译环境，特别是请确保使用ndk-r17c进行编译。

[2020-02-25 03:48] Superjomn opened #2999 "[dev] 编译文档 build_extra 不够清晰"
![image](https://user-images.githubusercontent.com/328693/75213310-a9ab3e00-57c4-11ea-8e78-eeb699644177.png)

https://paddle-lite.readthedocs.io/zh/latest/installation/release_lib.html#id1

[2020-02-25 05:29] luoyancn opened #3002 "Paddle-Lite在ARM Linux上运行人脸检测与口罩检测demo失败"
问题描述：

1.选用的Paddle-Lite版本：v2.2.0
2.Paddle-Lite编译参数：
[code]
编译正常，成功生成了需要的so文件
3.使用的人脸检测和口罩检测代码：https://github.com/PaddlePaddle/Paddle-Lite/tree/develop/lite/demo/cxx/mask_detection
4.在ARM Linux上对该demo进行编译，编译的指令如下：

[code]
其中，/opt/cxx为第2步编译所生成的include和so文件。编译结果正常，成功生成mask_detection可执行文件

5.下载已经优化完成的模型pyramidbox_lite_mobile_mask，并进行解压：
[code]

6.执行人脸检测和口罩检测示例程序：

[code]
随后提示错误：

terminate called afte

[2020-02-25 05:46] zhupengyang commented on #3002
[code]
试下这个？

[2020-02-25 06:01] luoyancn commented on #3002
@zhupengyang ，我使用的是v2.2.0这个版本，这个编译之后，似乎并没有demo这个文件夹。在inference_lite_lib.armlinux.armv7hf这个文件夹下，只有bin和cxx这2个目录

[2020-02-25 06:23] luoyancn commented on #3002
@zhupengyang ，使用最新的v2.3.0版本，配合编译指令
[code]

同样没有在build.lite.armlinux.armv7hf.gcc/inference_lite_lib.armlinux.armv7hf下生成demo文件夹。
好像只有当编译指定的平台是andriod，才会生成demo文件夹

[2020-02-25 06:33] luoyancn commented on #3002
更新新版本的测试结果：

使用v2.3.0版本所编译生成的so与include文件，编译https://github.com/PaddlePaddle/Paddle-Lite/tree/develop/lite/demo/cxx/mask_detection的代码，编译指令为
[code]

编译成功，但是，执行的时候，同样出现错误：

Illegal instruction

[2020-02-25 07:44] hDluffy commented on #2992
编译使用的是ndk-r17c，错误提示需要开启-mfloat-abi=softfp -mfpu=neon，开启后不再出现上述的错误，出现如下错误：
`[ 98%] Built target unsqueeze_compute_arm
Scanning dependencies of target sequence_expand_compute_arm
/home/PaddlePaddle/android-ndk-r17c/toolchains/arm-linux-androideabi-4.9/prebuilt/linux-x86_64/bin/../lib/gcc/arm-linux-androideabi/4.9.x/../../../../arm-linux-androideabi/bin/ld: error: /home/PaddlePaddle/android-ndk-r17c/

[2020-02-25 10:09] xxlyu-2046 opened #3004 "Paddle-Lite 在IOS上运行Paddle 1.6.2训练的yolov3模型有内存问题"
模型地址：链接:https://pan.baidu.com/s/15NScwvd6pSu9afTvFY0MKQ  密码:1sjq
xcode报错：

`Message from debugger: Terminated due to memory issue`

[2020-02-25 11:36] DannyIsFunny commented on #2999
已经修复：
（1）添加[build_extra的说明](https://paddle-lite.readthedocs.io/zh/latest/installation/library.html)

（2）在[release 预测库下载](https://paddle-lite.readthedocs.io/zh/latest/installation/release_lib.html)界面补充编译选项说明

（3）在[支持op列表](https://paddle-lite.readthedocs.io/zh/latest/advanced_user_guides/support_operation_list.html)列出当前的basic op和extra op

[2020-02-25 12:28] northeastsquare commented on #3002
我是弄成功了的，请进一步探索

[2020-02-25 12:30] northeastsquare commented on #2915
对要使用model_optimze_tool， 不是新版本的opt

[2020-02-25 14:41] Carter-1998 opened #3009 "源码编译出错"
在Ubuntu18.04.3系统下，按照源码编译的流程进行配置后，进行tiny_publish 的编译报错如下-- Found Paddle host system: ubuntu, version: 18.04.3
-- Found Paddle host system's CPU: 8 cores
CMake Error at cmake/cross_compiling/android.cmake:26 (message):
  Must set ANDROID_NDK or env NDK_ROOT
Call Stack (most recent call first):
  cmake/cross_compiling/preproject.cmake:47 (include)
  CMakeLists.txt:30 (include)

-- Configuring incompl

[2020-02-26 01:30] luoyancn commented on #3002
@northeastsquare ，请教一下，您弄成功了，是指按照我在上面给出的步骤，编译paddle-lite之后，成功生成了demo文件夹，还是说，demo本身运行成功了？可以分享一下您的经验吗？比如具体的编译指令，使用的代码之类的？

另外，我是arm linux是一块de10-standard的SoC开发板，arm型号是ARM Cortex-A9 MPCore（ARM V7系列）

[2020-02-26 01:53] zhupengyang commented on #3009
1、确认 /opt/android-ndk-r17c 路径存在
2、export NDK_ROOT=/opt/android-ndk-r17c; echo ${NDK_ROOT}; 确认NDK_ROOT环境变量存在
3、如果以上都不行，在 cmake/cross_compiling/android.cmake 的23行插入 ```set(ANDROID_NDK "/opt/android-ndk-r17c")``` ，手动设置ANDROID_NDK

[2020-02-26 02:02] zhupengyang commented on #3004
- 请提供更详细的报错信息，提供下手机型号
- yolov3模型是比较大的，确认下是否是手机内存不够导致

[2020-02-26 02:26] chenjiaoAngel commented on #2975
嗯，那这个报错是make 时候出错了还是跑模型时，提升模型优化错误呢

[2020-02-26 03:50] xsbrsg opened #3015 "有没有编译好的预测库"
看到说又提供编译好的预测库，但是没有找到

[2020-02-26 05:14] xxlyu-2046 commented on #3004
@zhupengyang
手机是XR，用1.5训练的同一个模型是OK的，应该不是内存不够。详细的信息如下：
`dot:
digraph G {
   node_835[label="concat_3.tmp_0"]
   node_833[label="concat_2.tmp_0"]
   node_831[label="transpose_0.tmp_1(170)"]
   node_829[label="transpose2189" shape="box" style="filled" color="black" fillcolor="yellow"]
   node_827[label="yolo_box2.tmp_0"]
   node_826[label="yolo_box188" shape="box" style="filled" color="black" fillcol

[2020-02-26 10:43] #3015 closed, assigned to nobody

[2020-02-26 15:47] Chgtaxihe opened #3020 "希望Paddle-Lite能够支持int64类型的加减与比较运算"
使用dev分支的opt工具转换模型时，出现以下提示:

[code]

进一步尝试后发现加操作亦不能转换

Can't find a Cast kernel for Cast op: Tensor<arm,int64_t,NCHW,0>:fill_constant_0.tmp_0->Tensor<arm,float,NCHW,0>:elementwise_add

希望Paddle-Lite能够添加对int64运算的支持

[2020-02-27 01:57] hDluffy commented on #2992
上述问题已经解决，参考https://blog.csdn.net/shudaiu/article/details/38453839这篇博文，将c++_static设为c++_shared，并配置set(LIBCXX_USE_GABIXX "true")，编译顺利通过。

[2020-02-27 02:46] xiaohuang1227 opened #3021 "Could NOT find OpenMP_C (missing: OpenMP_C_FLAGS OpenMP_C_LIB_NAMES)"
-- Building the mobile framework
-- NEON is enabled on arm-v7a with hard float
CMake Error at /opt/cmake-3.10/share/cmake-3.10/Modules/FindPackageHandleStandardArgs.cmake:137 (message):
  Could NOT find OpenMP_C (missing: OpenMP_C_FLAGS OpenMP_C_LIB_NAMES)
Call Stack (most recent call first):
  /opt/cmake-3.10/share/cmake-3.10/Modules/FindPackageHandleStandardArgs.cmake:378 (_FPHSA_FAILURE_MESSAGE

[2020-02-27 04:31] CallmeZhangChenchen opened #3022 "使用最新的OPT工具转换开源的口罩检测人脸识别模型部分出现问题"
[code]

- 环境：ubuntu16.04 ,使用预训练的opt和在x86下编译的opt都是一样的错误
- 命令：
[code]
使用的是combined形式，__model__,__param__

[2020-02-27 06:19] ysh329 commented on #3020
你好，能把网络结构图对应这个elementwise_add op的输入输出的部分截个图嘛？

因为目前该op基本场景都是float

[2020-02-27 06:47] Chgtaxihe commented on #3020
大概是这样的
![截图](https://user-images.githubusercontent.com/22208458/75419114-16167080-5970-11ea-9084-e6c3689f6061.PNG)

[2020-02-27 06:48] ysh329 commented on #3020
额，这是训练还是预测呀？看起来像是组网？

[2020-02-27 06:51] Chgtaxihe commented on #3020
图片只是一个示例。由于fluid提供的StaticRNN不太方便，我在尝试用while_op去模拟op:recurrent (RNN)，在给i递增的时候出现了这样的问题

[2020-02-27 07:11] Chgtaxihe commented on #3020
我注意到Paddle-lite也不支持StaticRNN(recurrent)，报错如下
[I  2/27 15: 9:47.203 ...lease_v2.2.0/Paddle-Lite/lite/api/opt.cc:367 CheckIfModelSupported] Error: This model is not supported, because 2 ops are not supported on 'arm'. These unsupported ops are: 'recurrent, rnn_memory_helper'.

[2020-02-27 07:26] juncaipeng commented on #3022
是出现如下问题吗？我们在跟进。

![image](https://user-images.githubusercontent.com/52520497/75425717-38af8600-597e-11ea-81d9-8e501a7ec5d5.png)

[2020-02-27 07:36] yeyupiaoling opened #3024 "MobileNetV2使用“有校准数据训练后量化”精度丢失严重"
# 训练环境
 - Python 3.7
 - windows 10
 - PaddlePaddle 1.7.0
 - [MobileNet V2](https://github.com/PaddlePaddle/models/blob/develop/PaddleCV/image_classification/models/mobilenet_v2.py)

# 转换环境
 - Ubuntu 16.04
 - Python 3.5
 - Paddle-Lite 2.3.0

模型：
[infer_model.zip](https://github.com/PaddlePaddle/Paddle-Lite/files/4260083/infer_model.zip)

图片（提供几张）：
[images.zip](https://github.com/PaddlePaddle/Paddle

[2020-02-27 07:55] DannyIsFunny commented on #3021
请问你的编译命令是什么呢？是编译ANdroid还是armlinux工程呢

[2020-02-27 08:23] ysh329 commented on #3020
嗯嗯，你这都是Paddle训练得来的模型嘛，还是x2paddle转来的呀

[2020-02-27 08:35] juncaipeng commented on #3024
建议使用PaddlePaddle加载量化模型进行测试，流程和不量化的模型是一致的。
请随时反馈。

[2020-02-27 09:06] CallmeZhangChenchen commented on #3022
跟这个还有一点不一样 第一维“我这边是"host” 你那边是"arm"，第二维int64_t跟float;

看V2.3更新日志,这个问题已经修复，我不知道怎么出现了这个问题，opt这个工具应该只有V2.3才有，在https://github.com/PaddlePaddle/Paddle-Lite/Release/V2.3/opt下载，模型是重新拉的新的人脸检测的模型（开源的口罩检测里面，通过hub）。

不太确定我们有什么不一样，opt运行的时候是不是还要加载一些其他的系统东西，导致我这边跑不通，
![B861CC22-2649-459b-BEF2-7C4EAA265D1E](https://user-images.githubusercontent.com/57712520/75428494-40bdf480-5983-11ea-8587-5a7449ef7f0e.png)

[2020-02-27 09:40] xiaohuang1227 commented on #3021
armlinux,armv7hf

[2020-02-27 09:41] xiaohuang1227 commented on #3021
./lite/tools/build.sh \
  --arm_os=armlinux \
  --arm_abi=armv7hf \
  --arm_lang=gcc \
  --build_extra=ON \
  full_publish

[2020-02-27 10:08] Chgtaxihe commented on #3020
是用Paddle训练得来的

[2020-02-28 01:52] zhupengyang commented on #3009
QQ群解答：sudo权限和普通用户的环境变量不同，普通用户设置的环境变量在用sudo权限进行编译的情况下会不生效，将```Paddle-Lite```移动到```/home/用户目录```下，用普通权限编译即可。

---
若问题已解决，麻烦关闭issue

[2020-02-28 02:34] juncaipeng commented on #3022
这个问题是模型导致，已经反馈给负责同学进行修复。

[2020-02-28 02:50] #3009 closed, assigned to zhupengyang

[2020-02-28 02:50] Carter-1998 commented on #3009
问题已解决，谢谢

[2020-02-28 08:24] ysh329 opened #3036 "[dev] 新迁入26个OpenCL Image2D Kernel"
除现在支持5个模型的30个左右opencl kernel外，还需要迁入26个kernel。

包括不限于：

1. convTranspose
2. tanh/leakyReLU
3. Pirorbox
4. ...

[2020-02-28 08:25] DannyIsFunny commented on #2972
已经补充完成。
（1）[官方release预测库](https://paddle-lite.readthedocs.io/zh/latest/installation/release_lib.html)
（2）[C++ Demo](https://paddle-lite.readthedocs.io/zh/latest/user_guides/cpp_demo.html)

[2020-02-28 08:25] #2972 closed, assigned to DannyIsFunny

[2020-02-28 08:31] jiweibo opened #3038 "[dev] config添加delete_pass接口"
config.delete_pass("multi_stream_analysis_pass");

[2020-02-28 08:35] DannyIsFunny opened #3039 "[dev]x86编译去除底层第三方库依赖"
原因：x86 core或基础的kernel、op实现依赖第三方库。
现象：预测库体积较大，第三方库较混乱
详情：X86 平台的kernel 实现依赖 gflag 、glog、fluid_data类实现依赖protobuf
解决方法：批量清理，替换为等效实现

[2020-02-28 08:45] #2999 closed, assigned to DannyIsFunny

[2020-02-28 08:46] DannyIsFunny opened #3040 "[dev]x86编译去除底层第三方库依赖"
原因：x86 core或基础的kernel、op实现依赖第三方库。
现象：预测库体积较大，第三方库较混乱
详情：X86 平台的kernel 实现依赖 gflag 、glog、fluid_data类实现依赖protobuf
解决方法：批量清理，替换为等效实现

[2020-02-28 08:46] #3039 closed, assigned to nobody

[2020-02-28 08:49] DannyIsFunny opened #3041 "[dev]修复部分kernel数据类型与Fluid不对齐"
问题描述：部分OP的Attributes 类型与Fluid不对齐（Fluid: uint64 ; Lite: Float）
导致的现象：Fluid的模型在lite opt转化失败，报错信息 ‘can’t convert from uint64 to float’
举例：lookup_table中的`ids` 在Fluid为int64，在Lite中为Float (已修复)
当前状态：反馈问题较频繁，估计当前存量不对齐OP较多。待批量检查修复。

[2020-02-28 08:50] DannyIsFunny opened #3042 "[dev]Java API 与C++接口对齐"
问题：Java API 接口比C++ API接口少挺多
现状：检查代码后发现，较多C++ API 接口未注册到 Java API 与Python API

[2020-02-28 08:53] DannyIsFunny opened #3043 "多线程predictor内存共享"
Predictor->clone()函数，创造的多个predicor在内存中共享一份模型权重。减少多线程Predictor并行内存占用

[2020-02-28 08:55] DannyIsFunny opened #3044 "python预测库支持whl包输出"
lite的python 可以输出whl安装包，当前只输出了python 的动态库。

[2020-02-28 08:57] chenxiaoyu3 commented on #3004
linux arm paddlelite 2.3，也无法运行 fluid 1.6.2 训练的yolov3。
同样的设备、代码，可以运行 fluid 1.5 训练的yolov3是可以运行的。

RK3399, 4g
![image](https://user-images.githubusercontent.com/858534/75528117-108f5800-5a4e-11ea-9d91-40172ae703e3.png)

[2020-02-28 09:04] zhupengyang commented on #3004
这样看来是有些特性没有兼容好:sweat:，我们后面会排查下的

[2020-02-28 09:09] zhupengyang commented on #3004
可以提供下fluid1.5训练的yolov3模型吗？ @chenxiaoyu3

[2020-02-29 01:45] vcancerv commented on #2343
错误的类文件: /home/wl/Paddle-Lite/build.lite.android.armv8.gcc/inference_lite_lib.android.armv8/demo/java/android/PaddlePredictor/app/libs/PaddlePredictor.jar(com/baidu/paddle/lite/Tensor.class)
    类文件具有错误的版本 55.0, 应为 52.0
    请删除该文件或确保该文件位于正确的类路径子目录中。
同样的问题，我将java的环境换成
java version "1.8.0_241"
Java(TM) SE Runtime Environment (build 1.8.0_241-b07)
Java HotSpot(TM) 64-Bit Server VM (build 25.241-b07, m

[2020-02-29 13:41] Eric-Zhang1990 opened #3050 "安卓端分割模型错误:"
我转换后的模型有200多M (用paddle-lite的opt工具优化的模型有400多M) (原项目地址: https://github.com/kazuto1011/deeplab-pytorch), 我把转换后的模型移植到安卓端, 但是移动加载模型时就报了个错:
A/libc: /Volumes/Android/buildbot/src/android/ndk-release-r17/external/libcxx/../../external/libcxxabi/src/abort_message.cpp:73: abort_message: assertion "terminating with uncaught exception of type std::bad_alloc: std::bad_alloc" failed
还没找到解决方法, 是不是模型太大的原因呢? 有谁遇到过

[2020-03-01 00:23] AIpioneer commented on #3050
这是个pytorch的模型，你首先是怎么转换的呢？

[2020-03-01 12:40] Eric-Zhang1990 commented on #3050
@AIpioneer  我先将pytorch转onnx， 然后用x2paddle工具将onnx转paddle模型的。
你能帮忙看看这个项目能不能将pytorch转onnx， 然后onnx转paddle的模型在安卓端正常运行呢？ 或者我将我转换的paddle模型发给你也可以。 谢谢~

[2020-03-01 15:45] AIpioneer commented on #3050
所以你已经转成功了paddle的模型吗？转成之后，下一步就是用opt工具进行转化啊，如果这一步转成功，就没什么问题了？你先转转试试，可以把结果发出来

[2020-03-02 02:51] ysh329 commented on #3020
这个我建议再开一个issue来说这个事情吧

[2020-03-02 04:38] juncaipeng commented on #3024
使用最新的代码测试一下，之前conv+bn+relu6是有点问题，后面修复了。

[2020-03-02 06:11] imistyrain commented on #2975
如果将Makefile.def中SYSROOT_LINK中的24改成26就不会有这个问题了

[2020-03-02 06:11] #2975 closed, assigned to chenjiaoAngel

[2020-03-02 06:50] Eric-Zhang1990 commented on #3050
@AIpioneer  1. 我转成paddle模型了, 如下:
![WXWorkCapture_15831316624513](https://user-images.githubusercontent.com/24602893/75651937-cb109c00-5c94-11ea-8ce8-d0a0e3b24e5d.png)
2. 然后用opt将上面的模型转成一个.nb文件 (只生成一个.nb文件, 没有__model__.nb), 如下:
![WXWorkCapture_1583131572743](https://user-images.githubusercontent.com/24602893/75651902-b3d1ae80-5c94-11ea-9fd4-ef21dede3459.png)
但是上面2步之后在加载模型时报了上面的 std::bad_alloc 的错误.

[2020-03-02 07:09] xsbrsg opened #3056 "make编译可执行文件时报错"
opencv4.1.0/armeabi-v7a/cmake/OpenCVModules.cmake
/toolchains/aarch64-linux-android-4.9/prebuilt/linux-x86_64/bin/aarch64-linux-android-g++ --sysroot=/sysroot -DARM_WITH_OMP -DHPPL_STUB_FUNC -DLITE_WITH_ARM -DLITE_WITH_LIGHT_WEIGHT_FRAMEWORK -DLITE_WITH_LINUX -DPADDLE_DISABLE_PROFILER -DPADDLE_NO_PYTHON -DPADDLE_WITH_TESTING -I/sources/cxx-stl/llvm-libc++/include -I/sources/cxx-stl/llvm-libc++abi/

[2020-03-03 00:40] AIpioneer commented on #2977
相关回复在 https://github.com/PaddlePaddle/Paddle-Lite-Demo/issues/42

[2020-03-03 01:13] DannyIsFunny commented on #3056
你好，你的问题应该是NDK_ROOT这个环境变量没有注册生效，可以检查一下
输入：`echo $NDK_ROOT`
![image](https://user-images.githubusercontent.com/45189361/75732799-7de10880-5d2e-11ea-9828-e87f34f7fe44.png)
NDKROOT的注册方法：https://paddle-lite.readthedocs.io/zh/latest/installation/source_compile.html#mac-os
![image](https://user-images.githubusercontent.com/45189361/75732901-bf71b380-5d2e-11ea-9be3-e83e4e454cb0.png)

你的编译错误问题分析：
![image](